hibernate-orm-3.64/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="offsetdatetimeversiontest" >
      <xs:complexContent>
       <xs:extension base="basenonconfigcorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatetimeversiontest" >
      <xs:complexContent>
       <xs:extension base="basenonconfigcorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instantversiontest" >
      <xs:complexContent>
       <xs:extension base="basenonconfigcorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zoneddatetimeversiontest" >
      <xs:complexContent>
       <xs:extension base="basenonconfigcorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="java8datetimetests" >
      <xs:complexContent>
       <xs:extension base="basenonconfigcorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zoneddatetimejavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<zoneddatetime>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="zoneddatetimejavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localtimejavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<localtime>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="localtimejavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offsettimejavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<offsettime>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="offsettimejavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instantjavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<instant>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="instantjavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="durationjavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<duration>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="durationjavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatetimejavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<localdatetime>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="localdatetimejavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offsetdatetimejavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<offsetdatetime>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="offsetdatetimejavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatejavadescriptor" >
      <xs:complexContent>
       <xs:extension base="abstracttypedescriptor<localdate>">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="localdatejavadescriptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zoneddatetimetype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="zoneddatetimetype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localtimetype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="localtimetype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offsettimetype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="offsettimetype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="java8datetimetypecontributor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instanttype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="instanttype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="durationtype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="durationtype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatetimetype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="localdatetimetype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatetype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="localdatetype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offsetdatetimetype" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***singletonaccess*/instance" type="offsetdatetimetype" nillable="true" minOccurs="0" />
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 