EC/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="loginname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="//粉丝数fans" type="xs:long" />
        <xs:element name="registertime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="lastlogintime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 