ComforLife/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="struts" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="denglu" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="chenggong" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delsession" >
      <xs:complexContent>
       <xs:extension base="actionsupport{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addbuyhouse" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="hometype" type="xs:string" />
          <xs:element name="homearea" type="xs:string" />
          <xs:element name="busiarea" type="xs:string" />
          <xs:element name="news" type="xs:string" />
          <xs:element name="conname" type="xs:string" />
          <xs:element name="room" type="xs:string" />
          <xs:element name="hall" type="xs:string" />
          <xs:element name="toilet" type="xs:string" />
          <xs:element name="area" type="xs:string" />
          <xs:element name="fitment" type="xs:string" />
          <xs:element name="direction" type="xs:string" />
          <xs:element name="floor" type="xs:string" />
          <xs:element name="totalfloor" type="xs:string" />
          <xs:element name="buildnum" type="xs:string" />
          <xs:element name="unitnum" type="xs:string" />
          <xs:element name="roomnum" type="xs:string" />
          <xs:element name="support" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="descri" type="xs:string" />
          <xs:element name="checkintime" type="xs:string" />
          <xs:element name="latlng" type="xs:string" />
          <xs:element name="cert1" type="xs:string" />
          <xs:element name="cert2" type="xs:string" />
          <xs:element name="cert3" type="xs:string" />
          <xs:element name="unitprice" type="xs:string" />
          <xs:element name="user_id" type="xs:string" />
          <xs:element name="pic" type="xs:string" />
          <xs:element name="fs" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="saleattentionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="homeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yanzheng" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addhouse" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="hometype" type="xs:string" />
          <xs:element name="renttype" type="xs:string" />
          <xs:element name="homearea" type="xs:string" />
          <xs:element name="busiarea" type="xs:string" />
          <xs:element name="conname" type="xs:string" />
          <xs:element name="room" type="xs:string" />
          <xs:element name="hall" type="xs:string" />
          <xs:element name="toilet" type="xs:string" />
          <xs:element name="area" type="xs:string" />
          <xs:element name="fitment" type="xs:string" />
          <xs:element name="direction" type="xs:string" />
          <xs:element name="floor" type="xs:string" />
          <xs:element name="floornum" type="xs:string" />
          <xs:element name="buildnum" type="xs:string" />
          <xs:element name="unitnum" type="xs:string" />
          <xs:element name="roomnum" type="xs:string" />
          <xs:element name="rentnum" type="xs:string" />
          <xs:element name="deposittype" type="xs:string" />
          <xs:element name="support" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="desc" type="xs:string" />
          <xs:element name="checkintime" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="show" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="home_id" type="xs:string" />
          <xs:element name="isrent" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="session" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateop" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="session" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentpicentity" >
      <xs:sequence>
        <xs:element name="picid" type="xs:long" />
        <xs:element name="homeid" type="xs:long" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagesload" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="user_id" type="xs:string" />
          <xs:element name="path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="search" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="kw" type="xs:string" />
          <xs:element name="type" type="xs:long" />
          <xs:element name="rentpay" type="xs:long" />
          <xs:element name="salepay" type="xs:long" />
          <xs:element name="room" type="xs:long" />
          <xs:element name="renttype" type="xs:long" />
          <xs:element name="result" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="news" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="desc" type="xs:string" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="time" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zhuce" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="identifyingcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="descri" type="xs:string" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="click" type="xs:long" />
        <xs:element name="top" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsrelease" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="desc" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="summary" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rentattentionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="homeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salehomeentity" >
      <xs:sequence>
        <xs:element name="homeid" type="xs:long" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="buildnum" type="xs:anyType" />
        <xs:element name="unitnum" type="xs:anyType" />
        <xs:element name="roomnum" type="xs:anyType" />
        <xs:element name="room" type="xs:anyType" />
        <xs:element name="hall" type="xs:anyType" />
        <xs:element name="toilet" type="xs:anyType" />
        <xs:element name="area" type="xs:anyType" />
        <xs:element name="homearea" type="xs:string" />
        <xs:element name="busiarea" type="xs:string" />
        <xs:element name="conname" type="xs:string" />
        <xs:element name="fitment" type="xs:anyType" />
        <xs:element name="unitprice" type="xs:anyType" />
        <xs:element name="floor" type="xs:anyType" />
        <xs:element name="totalfloor" type="xs:anyType" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="support" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="descri" type="xs:string" />
        <xs:element name="checkin" type="xs:anyType" />
        <xs:element name="attention" type="xs:anyType" />
        <xs:element name="latlng" type="xs:string" />
        <xs:element name="fs" type="xs:anyType" />
        <xs:element name="cert3" type="xs:string" />
        <xs:element name="cert2" type="xs:string" />
        <xs:element name="cert1" type="xs:string" />
        <xs:element name="checkintime" type="xs:dateTime" />
        <xs:element name="hometype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonoperation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httprequest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfo" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="user_id" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="salerecommand" type="xs:anyType" />
          <xs:element name="rentrecommand" type="xs:anyType" />
          <xs:element name="saleaccordtime" type="xs:anyType" />
          <xs:element name="rentaccordtime" type="xs:anyType" />
          <xs:element name="news" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mysale" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="user_id" type="xs:long" />
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myrent" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="user_id" type="xs:long" />
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="user_id" type="xs:string" />
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delnews" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="check" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="type" type="xs:long" />
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
          <xs:element name="index" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delhome" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deluser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="news_id" type="xs:long" />
          <xs:element name="index" type="xs:long" />
          <xs:element name="set" type="xs:long" />
          <xs:element name="hp" type="hibernateop" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="flag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addrenthouse" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="hometype" type="xs:string" />
          <xs:element name="user_id" type="xs:string" />
          <xs:element name="renttype" type="xs:string" />
          <xs:element name="homearea" type="xs:string" />
          <xs:element name="busiarea" type="xs:string" />
          <xs:element name="news" type="xs:string" />
          <xs:element name="conname" type="xs:string" />
          <xs:element name="room" type="xs:string" />
          <xs:element name="hall" type="xs:string" />
          <xs:element name="toilet" type="xs:string" />
          <xs:element name="area" type="xs:string" />
          <xs:element name="fitment" type="xs:string" />
          <xs:element name="direction" type="xs:string" />
          <xs:element name="floor" type="xs:string" />
          <xs:element name="floornum" type="xs:string" />
          <xs:element name="buildnum" type="xs:string" />
          <xs:element name="unitnum" type="xs:string" />
          <xs:element name="roomnum" type="xs:string" />
          <xs:element name="rentnum" type="xs:string" />
          <xs:element name="deposittype" type="xs:string" />
          <xs:element name="support" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="descri" type="xs:string" />
          <xs:element name="checkintime" type="xs:string" />
          <xs:element name="latlng" type="xs:string" />
          <xs:element name="cert1" type="xs:string" />
          <xs:element name="cert2" type="xs:string" />
          <xs:element name="cert3" type="xs:string" />
          <xs:element name="pic" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateoperation" >
      <xs:sequence>
        <xs:element name="our" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salepicentity" >
      <xs:sequence>
        <xs:element name="picid" type="xs:long" />
        <xs:element name="homeid" type="xs:anyType" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplemailsender" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmaildemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailsenderinfo" >
      <xs:sequence>
        <xs:element name="//发送邮件的服务器的ip(或主机地址)mailserverhost" type="xs:string" />
        <xs:element name="//发送邮件的服务器的端口mailserverport" type="xs:string" />
        <xs:element name="//发件人邮箱地址fromaddress" type="xs:string" />
        <xs:element name="//收件人邮箱地址toaddress" type="xs:string" />
        <xs:element name="//登陆邮件发送服务器的用户名username" type="xs:string" />
        <xs:element name="//登陆邮件发送服务器的密码password" type="xs:string" />
        <xs:element name="//是否需要身份验证validate" type="xs:anyType" />
        <xs:element name="//邮件主题subject" type="xs:string" />
        <xs:element name="//邮件的文本内容content" type="xs:string" />
        <xs:element name="attachfilenames" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myauthenticator" >
      <xs:complexContent>
       <xs:extension base="authenticator">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newslist" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="news" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="renthomeentity" >
      <xs:sequence>
        <xs:element name="homeid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="hometype" type="xs:long" />
        <xs:element name="renttype" type="xs:long" />
        <xs:element name="conname" type="xs:string" />
        <xs:element name="homearea" type="xs:string" />
        <xs:element name="busiarea" type="xs:string" />
        <xs:element name="room" type="xs:long" />
        <xs:element name="hall" type="xs:long" />
        <xs:element name="toilet" type="xs:long" />
        <xs:element name="area" type="xs:long" />
        <xs:element name="fitment" type="xs:long" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="floor" type="xs:anyType" />
        <xs:element name="floornum" type="xs:anyType" />
        <xs:element name="buildnum" type="xs:anyType" />
        <xs:element name="unitnum" type="xs:anyType" />
        <xs:element name="roomnum" type="xs:anyType" />
        <xs:element name="rentnum" type="xs:anyType" />
        <xs:element name="deposittype" type="xs:anyType" />
        <xs:element name="support" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="descri" type="xs:string" />
        <xs:element name="checkintime" type="xs:dateTime" />
        <xs:element name="checkin" type="xs:anyType" />
        <xs:element name="attention" type="xs:anyType" />
        <xs:element name="latlng" type="xs:string" />
        <xs:element name="cert1" type="xs:string" />
        <xs:element name="cert2" type="xs:string" />
        <xs:element name="cert3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 