ComforLife/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="saleattentionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="homeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentpicentity" >
      <xs:sequence>
        <xs:element name="picid" type="xs:long" />
        <xs:element name="homeid" type="xs:long" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="descri" type="xs:string" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="click" type="xs:long" />
        <xs:element name="top" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rentattentionentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="homeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salehomeentity" >
      <xs:sequence>
        <xs:element name="homeid" type="xs:long" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="buildnum" type="xs:anyType" />
        <xs:element name="unitnum" type="xs:anyType" />
        <xs:element name="roomnum" type="xs:anyType" />
        <xs:element name="room" type="xs:anyType" />
        <xs:element name="hall" type="xs:anyType" />
        <xs:element name="toilet" type="xs:anyType" />
        <xs:element name="area" type="xs:anyType" />
        <xs:element name="homearea" type="xs:string" />
        <xs:element name="busiarea" type="xs:string" />
        <xs:element name="conname" type="xs:string" />
        <xs:element name="fitment" type="xs:anyType" />
        <xs:element name="unitprice" type="xs:anyType" />
        <xs:element name="floor" type="xs:anyType" />
        <xs:element name="totalfloor" type="xs:anyType" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="support" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="descri" type="xs:string" />
        <xs:element name="checkin" type="xs:anyType" />
        <xs:element name="attention" type="xs:anyType" />
        <xs:element name="latlng" type="xs:string" />
        <xs:element name="fs" type="xs:anyType" />
        <xs:element name="cert3" type="xs:string" />
        <xs:element name="cert2" type="xs:string" />
        <xs:element name="cert1" type="xs:string" />
        <xs:element name="checkintime" type="xs:dateTime" />
        <xs:element name="hometype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salepicentity" >
      <xs:sequence>
        <xs:element name="picid" type="xs:long" />
        <xs:element name="homeid" type="xs:anyType" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renthomeentity" >
      <xs:sequence>
        <xs:element name="homeid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="hometype" type="xs:long" />
        <xs:element name="renttype" type="xs:long" />
        <xs:element name="conname" type="xs:string" />
        <xs:element name="homearea" type="xs:string" />
        <xs:element name="busiarea" type="xs:string" />
        <xs:element name="room" type="xs:long" />
        <xs:element name="hall" type="xs:long" />
        <xs:element name="toilet" type="xs:long" />
        <xs:element name="area" type="xs:long" />
        <xs:element name="fitment" type="xs:long" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="floor" type="xs:anyType" />
        <xs:element name="floornum" type="xs:anyType" />
        <xs:element name="buildnum" type="xs:anyType" />
        <xs:element name="unitnum" type="xs:anyType" />
        <xs:element name="roomnum" type="xs:anyType" />
        <xs:element name="rentnum" type="xs:anyType" />
        <xs:element name="deposittype" type="xs:anyType" />
        <xs:element name="support" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="descri" type="xs:string" />
        <xs:element name="checkintime" type="xs:dateTime" />
        <xs:element name="checkin" type="xs:anyType" />
        <xs:element name="attention" type="xs:anyType" />
        <xs:element name="latlng" type="xs:string" />
        <xs:element name="cert1" type="xs:string" />
        <xs:element name="cert2" type="xs:string" />
        <xs:element name="cert3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 