clickmyjobs/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="browse-categories" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manage-resumes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="job-page" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="browse-jobs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faq" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pricing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="privacy-policy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="waypoints.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="form-process" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="presets" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pe-icon-7-stroke" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_misc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_footers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_navbars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_social-buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tabs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_inputs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="light-bootstrap-dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employersjobdetailsdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="candidateskillservice" >
      <xs:complexContent>
       <xs:extension base="com.clickmyjobs.portal.core.abstractservice<skillsdetails,integer>{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="candidateskillservicerepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emloyersservice" >
      <xs:complexContent>
       <xs:extension base="com.clickmyjobs.portal.core.abstractservice<employersjobdetails,integer>{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="emloyersservicerepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresumedto" >
      <xs:sequence>
        <xs:element name="resume_id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="profession_title" type="xs:string" />
        <xs:element name="profile_description" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="web" type="xs:string" />
        <xs:element name="salary_expectations" type="xs:string" />
        <xs:element name="notice_period" type="xs:string" />
        <xs:element name="resume_file" type="xs:anyType" />
        <xs:element name="education" type="educationdto" nillable="true" minOccurs="0" />
        <xs:element name="skill" type="skillsdto" nillable="true" minOccurs="0" />
        <xs:element name="skillslist" type="skillsdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="skillsworkexpslist" type="workexpdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="workexp" type="workexpdto" nillable="true" minOccurs="0" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userformdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="cpassword" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="rememberme" type="xs:anyType" />
        <xs:element name="otp" type="xs:string" />
        <xs:element name="logo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skillsdto" >
      <xs:sequence>
        <xs:element name="skills_id" type="xs:long" />
        <xs:element name="skill_name" type="xs:string" />
        <xs:element name="skill_percentage" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addjobdto" >
      <xs:sequence>
        <xs:element name="jobs_details_id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="job_title" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="tags" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="application_email" type="xs:string" />
        <xs:element name="jobexpdate" type="xs:string" />
        <xs:element name="company_name" type="xs:string" />
        <xs:element name="company_website" type="xs:string" />
        <xs:element name="company_discription" type="xs:string" />
        <xs:element name="file" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="qualification" type="xs:string" />
        <xs:element name="experience" type="xs:string" />
        <xs:element name="employement_type" type="xs:string" />
        <xs:element name="salary_rang" type="xs:string" />
        <xs:element name="option" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlogindto" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="rememberme" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="educationdto" >
      <xs:sequence>
        <xs:element name="education_id" type="xs:long" />
        <xs:element name="degree" type="xs:string" />
        <xs:element name="field_of_study" type="xs:string" />
        <xs:element name="school_or_college" type="xs:string" />
        <xs:element name="//@jsonserialize(using" type="xs:string" />
        <xs:element name="//@jsonserialize(using" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workexpdto" >
      <xs:sequence>
        <xs:element name="work_experience_id" type="xs:long" />
        <xs:element name="company_name" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="//@jsonserialize(using" type="xs:string" />
        <xs:element name="//@jsonserialize(using" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="current_job" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="candidateexpservice" >
      <xs:complexContent>
       <xs:extension base="com.clickmyjobs.portal.core.abstractservice<workexpdetails,integer>{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="candidateexpservicerepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userprofileserviceimpl" >
      <xs:complexContent>
       <xs:extension base="genericserviceimpl<userprofile,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hsqlconsole" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userprofileservice" >
      <xs:complexContent>
       <xs:extension base="com.clickmyjobs.portal.core.abstractservice<userprofile,integer>{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="userprofilerepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="candidateservice" >
      <xs:complexContent>
       <xs:extension base="com.clickmyjobs.portal.core.abstractservice<resumedetails,integer>{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="candidateservicerepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userformvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginformvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configconstants" >
      <xs:sequence>
        <xs:element name="path_catalina_home" type="xs:string" />
        <xs:element name="path_catalina_base" type="xs:string" />
        <xs:element name="property_filename" type="xs:string" />
        <xs:element name="properties_ext" type="xs:string" />
        <xs:element name="file_sys_resource" type="xs:string" />
        <xs:element name="property_classpath" type="xs:string" />
        <xs:element name="file_pfx" type="xs:string" />
        <xs:element name="db_conf_driver" type="xs:string" />
        <xs:element name="db_conf_url" type="xs:string" />
        <xs:element name="db_conf_uname" type="xs:string" />
        <xs:element name="db_conf_pword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webappinitializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="dbdriver" type="xs:string" />
        <xs:element name="dburl" type="xs:string" />
        <xs:element name="dbusername" type="xs:string" />
        <xs:element name="dbpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="propertypath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aescryptutil" >
      <xs:sequence>
        <xs:element name="algo" type="xs:string" />
        <xs:element name="keyvalue" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticmap" >
      <xs:sequence>
        <xs:element name="jobtypemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmyjobsemail" >
      <xs:complexContent>
       <xs:extension base="javax.mail.authenticator">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="/*senderemailid" type="xs:string" />
          <xs:element name="senderpassword" type="xs:string" />
          <xs:element name="//emailsmtpserver" type="xs:string" />
          <xs:element name="emailserverport" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsondateserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<date>{">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="randompasswordgenerator" >
      <xs:sequence>
        <xs:element name="alpha_caps" type="xs:string" />
        <xs:element name="alpha" type="xs:string" />
        <xs:element name="num" type="xs:string" />
        <xs:element name="spl_chars" type="xs:string" />
        <xs:element name="noofcapsalpha" type="xs:long" />
        <xs:element name="noofdigits" type="xs:long" />
        <xs:element name="noofsplchars" type="xs:long" />
        <xs:element name="minlen" type="xs:long" />
        <xs:element name="maxlen" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userprofilerepo" >
      <xs:complexContent>
       <xs:extension base="genericrepository<userprofile>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emloyersservicerepo" >
      <xs:complexContent>
       <xs:extension base="genericrepository<employersjobdetails>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="candidateexpservicerepo" >
      <xs:complexContent>
       <xs:extension base="genericrepository<workexpdetails>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="candidateservicerepo" >
      <xs:complexContent>
       <xs:extension base="genericrepository<resumedetails>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="candidateskillservicerepo" >
      <xs:complexContent>
       <xs:extension base="genericrepository<skillsdetails>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employersjobdetails" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="jobs_details_id" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="job_title" type="xs:string" />
          <xs:element name="country" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="category" type="xs:string" />
          <xs:element name="/*@column(name" type="xs:string" />
          <xs:element name="application_email" type="xs:string" />
          <xs:element name="closing_" type="xs:dateTime" />
          <xs:element name="company_name" type="xs:string" />
          <xs:element name="company_website" type="xs:string" />
          <xs:element name="company_discription" type="xs:string" />
          <xs:element name="jd_file" type="xs:anyType" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="qualification" type="xs:string" />
          <xs:element name="experience" type="xs:string" />
          <xs:element name="employement_type" type="xs:string" />
          <xs:element name="salary_rang" type="xs:string" />
          <xs:element name="/*@column(name" type="xs:anyType" />
          <xs:element name="job_tags" type="jobtags" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="educationdetails" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="education_id" type="xs:long" />
          <xs:element name="degree" type="xs:string" />
          <xs:element name="field_of_study" type="xs:string" />
          <xs:element name="school_or_college" type="xs:string" />
          <xs:element name="from_" type="xs:dateTime" />
          <xs:element name="to_" type="xs:dateTime" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="crtts" type="xs:anyType" />
          <xs:element name="details" type="resumedetails" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobtags" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="job_tag_id" type="xs:long" />
          <xs:element name="job_tag_name" type="xs:string" />
          <xs:element name="crtts" type="xs:anyType" />
          <xs:element name="jobdetails" type="employersjobdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resumedetails" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="resume_id" type="xs:long" />
          <xs:element name="profession_title" type="xs:string" />
          <xs:element name="profile_description" type="xs:string" />
          <xs:element name="location" type="xs:string" />
          <xs:element name="web" type="xs:string" />
          <xs:element name="salary_expectations" type="xs:string" />
          <xs:element name="notice_period" type="xs:string" />
          <xs:element name="resume_file" type="xs:anyType" />
          <xs:element name="visible" type="xs:string" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="crtts" type="xs:anyType" />
          <xs:element name="//@onetoone(mappedby" type="educationdetails" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skillsdetails" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="skills_id" type="xs:long" />
          <xs:element name="skill_name" type="xs:string" />
          <xs:element name="skill_percentage" type="xs:string" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="crtts" type="xs:anyType" />
          <xs:element name="skillresume" type="resumedetails" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userprofile" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="country" type="xs:string" />
          <xs:element name="usertype" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="otp" type="xs:string" />
          <xs:element name="logo" type="xs:anyType" />
          <xs:element name="crtts" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="workexpdetails" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="work_experience_id" type="xs:long" />
          <xs:element name="company_name" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="_form" type="xs:dateTime" />
          <xs:element name="_to" type="xs:dateTime" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="current_job" type="xs:string" />
          <xs:element name="/*@column(name" type="xs:long" />
          <xs:element name="crtts" type="xs:anyType" />
          <xs:element name="" type="resumedetails" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="candidatecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="ms" type="xs:anyType" />
        <xs:element name="GeneratedName" type="candidateservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="candidateskillservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="candidateexpservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aboutuscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="/*	userserviceuserservice*/ms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employerscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="emloyersservice" nillable="true" minOccurs="0" />
        <xs:element name="ms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="/*userserviceuserservice*/" type="userprofileservice" nillable="true" minOccurs="0" />
        <xs:element name="ms" type="xs:anyType" />
        <xs:element name="uservalidator" type="userformvalidator" nillable="true" minOccurs="0" />
        <xs:element name="loginvalidator" type="loginformvalidator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="ms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericrepository" >
      <xs:complexContent>
       <xs:extension base="abstractentity>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitprocessor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpledataaccess" >
      <xs:complexContent>
       <xs:extension base="abstractentity>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:complexContent>
       <xs:extension base="abstractentity,id>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="header_message_id" type="xs:string" />
          <xs:element name="header_authorization" type="xs:string" />
          <xs:element name="dozer" type="xs:anyType" />
          <xs:element name="transactionmanager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericservicetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 