codenation-desafios-java6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="categoria" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="livros" type="livro" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="livro" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="quantidadeestoque" type="xs:long" />
        <xs:element name="avaliacoes" type="avaliacao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="categorias" type="categoria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leitor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="avaliacoes" type="avaliacao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avaliacao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="avaliacaoidentity" nillable="true" minOccurs="0" />
        <xs:element name="nota" type="xs:anyType" />
        <xs:element name="avaliacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 