dataio/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="logentryentity" >
      <xs:sequence>
        <xs:element name="query_find_item_entries" type="xs:string" />
        <xs:element name="query_delete_item_entries_for_job" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="formattedmessage" type="xs:string" />
        <xs:element name="threadname" type="xs:string" />
        <xs:element name="loggername" type="xs:string" />
        <xs:element name="level" type="xs:string" />
        <xs:element name="callerfilename" type="xs:string" />
        <xs:element name="callerclass" type="xs:string" />
        <xs:element name="callermethod" type="xs:string" />
        <xs:element name="callerline" type="xs:string" />
        <xs:element name="stacktrace" type="xs:string" />
        <xs:element name="mdc" type="xs:string" />
        <xs:element name="jobid" type="xs:string" />
        <xs:element name="chunkid" type="xs:long" />
        <xs:element name="itemid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 