commerce-springCloud2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="econmerceusertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ecommerceuserdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rsatest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ijwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ijwtservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtserivceimpl" >
      <xs:sequence>
        <xs:element name="userdao" type="ecommerceuserdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityconstant" >
      <xs:sequence>
        <xs:element name="/***私钥*/private_key" type="xs:string" />
        <xs:element name="/***有效时间1天*/default_expire_day" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecommerceuserdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<ecommerceuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ijwtservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecommerceuser" >
      <xs:sequence>
        <xs:element name="/***自增主键*/id" type="xs:long" />
        <xs:element name="/***用户名*/username" type="xs:string" />
        <xs:element name="/***md5密码*/password" type="xs:string" />
        <xs:element name="/***额外的信息,json字符串存储*/extrainfo" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***更新时间*/uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 