commerce-springCloud2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ecommerceuser" >
      <xs:sequence>
        <xs:element name="/***自增主键*/id" type="xs:long" />
        <xs:element name="/***用户名*/username" type="xs:string" />
        <xs:element name="/***md5密码*/password" type="xs:string" />
        <xs:element name="/***额外的信息,json字符串存储*/extrainfo" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***更新时间*/uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 