hibernate-ManyToOne4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="viburdbcpconnectionprovidertest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
          <xs:element name="poolmaxsize" type="xs:long" />
          <xs:element name="statementcachemaxsize" type="xs:long" />
          <xs:element name="key1,key2" type="xs:anyType" />
          <xs:element name="val1" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 