devops-automation-ksd-kc5.2.1-rice5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="responsibilitylookupableimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimtypeinfoserviceimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityaddressbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityemploymentbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytypecontactinfobotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityaffiliationbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityresidencybotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityvisabotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityphonebotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityethnicitybotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitybiodemographicsbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitynamebotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitybotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityemailbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="principalbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycitizenshipbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityexternalidentitiferbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupmemberbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupattributebotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolepermissionbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolebotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleresponsibilityactionbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolememberbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleresponsibilitybotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionattributebotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionserviceimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissiontemplatebotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionbotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimattributedatabotest" >
      <xs:sequence>
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="mock" type="xs:anyType" />
        <xs:element name="mockinfoservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activefromtobo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kimattributebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delegatememberattributedatabo" >
      <xs:complexContent>
       <xs:extension base="kimattributedatabo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delegatememberbo" >
      <xs:complexContent>
       <xs:extension base="abstractmemberbo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delegatetypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolememberattributedatabo" >
      <xs:complexContent>
       <xs:extension base="kimattributedatabo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleresponsibilitybo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolememberbo" >
      <xs:complexContent>
       <xs:extension base="abstractmemberbo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolebolite" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleresponsibilityactionbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolepermissionbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilitybo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilityattributebo" >
      <xs:complexContent>
       <xs:extension base="kimattributedatabo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilitytemplatebo" >
      <xs:complexContent>
       <xs:extension base="templatebo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uberresponsibilitybo" >
      <xs:complexContent>
       <xs:extension base="responsibilitybo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewresponsibilitybo" >
      <xs:complexContent>
       <xs:extension base="responsibilitybo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractmemberbo" >
      <xs:complexContent>
       <xs:extension base="activefromtobo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kimtypeattributebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kimtypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupattributebo" >
      <xs:complexContent>
       <xs:extension base="kimattributedatabo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupmemberbo" >
      <xs:complexContent>
       <xs:extension base="abstractmemberbo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityaffiliationtypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityaffiliationbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityphonetypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityphonebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitybo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityvisabo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityaddressbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityaddresstypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityresidencybo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytypecontactinfoid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytypecontactinfobo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityprivacypreferencesbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityemploymentbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityemploymenttypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityemploymentstatusbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityexternalidentifierbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityexternalidentifiertypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="principalbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitynametypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitynamebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitydefaultinfocachebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitybiodemographicsbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityethnicitybo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityemailtypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityemailbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitycitizenshipbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitycitizenshipstatusbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kimpropertyconstants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="namespacecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="kimtypeid" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributetransform" >
      <xs:complexContent>
       <xs:extension base="criteriavalue<?>>">
         <xs:sequence>
          <xs:element name="instance" type="xs:anyType" />
          <xs:element name="attribute_details_attribute_value" type="xs:string" />
          <xs:element name="attribute_details_attribute_name" type="xs:string" />
          <xs:element name="attributes_regex" type="xs:string" />
          <xs:element name="attributes_" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kimattributedatabo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="attributevalue" type="xs:string" />
          <xs:element name="kimattributeid" type="xs:string" />
          <xs:element name="kimattribute" type="kimattributebo" nillable="true" minOccurs="0" />
          <xs:element name="kimtypeid" type="xs:string" />
          <xs:element name="kimtype" type="kimtypebo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personimpl" >
      <xs:complexContent>
       <xs:extension base="transientbusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="lookuprolenamespacecode" type="xs:string" />
          <xs:element name="lookuprolename" type="xs:string" />
          <xs:element name="//principaldataprincipalid" type="xs:string" />
          <xs:element name="principalname" type="xs:string" />
          <xs:element name="entityid" type="xs:string" />
          <xs:element name="entitytypecode" type="xs:string" />
          <xs:element name="//namedatafirstname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="//addressdataaddress" type="xs:anyType" />
          <xs:element name="/*addressline1" type="xs:string" />
          <xs:element name="//phonedataphonenumber" type="xs:string" />
          <xs:element name="//privacypreferencesdatasuppressname" type="xs:anyType" />
          <xs:element name="suppressaddress" type="xs:anyType" />
          <xs:element name="suppressphone" type="xs:anyType" />
          <xs:element name="suppresspersonal" type="xs:anyType" />
          <xs:element name="suppressemail" type="xs:anyType" />
          <xs:element name="//affiliationdataaffiliations" type="xs:anyType" />
          <xs:element name="campuscode" type="xs:string" />
          <xs:element name="externalidentifiers" type="xs:anyType" />
          <xs:element name="//employmentdataemployeestatuscode" type="xs:string" />
          <xs:element name="employeestatus" type="entityemploymentstatusbo" nillable="true" minOccurs="0" />
          <xs:element name="employeetypecode" type="xs:string" />
          <xs:element name="employeetype" type="entityemploymenttypebo" nillable="true" minOccurs="0" />
          <xs:element name="primarydepartmentcode" type="xs:string" />
          <xs:element name="employeeid" type="xs:string" />
          <xs:element name="basesalaryamount" type="xs:anyType" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identityarchiveservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kiminternalsuppressutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personlookupableimpl" >
      <xs:complexContent>
       <xs:extension base="lookupableimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticationserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personserviceimpl" >
      <xs:complexContent>
       <xs:extension base="businessobject>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="entity_ext_id_property_prefix" type="xs:string" />
          <xs:element name="entity_affiliation_property_prefix" type="xs:string" />
          <xs:element name="entity_type_property_prefix" type="xs:string" />
          <xs:element name="entity_email_property_prefix" type="xs:string" />
          <xs:element name="entity_phone_property_prefix" type="xs:string" />
          <xs:element name="entity_address_property_prefix" type="xs:string" />
          <xs:element name="entity_name_property_prefix" type="xs:string" />
          <xs:element name="principal_property_prefix" type="xs:string" />
          <xs:element name="entity_employee_id_property_prefix" type="xs:string" />
          <xs:element name="//kulrice-4442specialhandlingforextensionobjectsextension" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="personentitytypecodes" type="xs:anyType" />
          <xs:element name="//thatcanbepassedtothelookupframeworktocreateantype" type="xs:string" />
          <xs:element name="baselookupcriteria" type="xs:anyType" />
          <xs:element name="criteriaconversion" type="xs:anyType" />
          <xs:element name="personcachepropertynames" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="unavailable" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitycurrentandarchivedserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="identityarchiveservice" nillable="true" minOccurs="0" />
        <xs:element name="inner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimtypeinfoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimtypeinquirableimpl" >
      <xs:complexContent>
       <xs:extension base="kualiinquirableimpl">
         <xs:sequence>
          <xs:element name="kim_type_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleserviceimpl" >
      <xs:complexContent>
       <xs:extension base="roleservicebase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="membertypetoroledaoactionmap" type="xs:anyType" />
          <xs:element name="role_member_id_wildcard" type="xs:string" />
          <xs:element name="proxied" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleservicebase" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="responsibilityinternalservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleinternalserviceimpl" >
      <xs:complexContent>
       <xs:extension base="roleservicebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleinternalservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolelookupableimpl" >
      <xs:complexContent>
       <xs:extension base="lookupableimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledaoojb" >
      <xs:complexContent>
       <xs:extension base="platformawaredaobaseojb">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kimimplservicelocator" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="kim_run_mode_property" type="xs:string" />
        <xs:element name="responsibility_internal_service" type="xs:string" />
        <xs:element name="group_internal_service" type="xs:string" />
        <xs:element name="role_internal_service" type="xs:string" />
        <xs:element name="local_cache_manager" type="xs:string" />
        <xs:element name="default_role_type_service" type="xs:string" />
        <xs:element name="kim_role_dao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimremotemoduleservice" >
      <xs:complexContent>
       <xs:extension base="remotemoduleservicebase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="kim" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissionserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="default" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="alltemplates" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionattributebo" >
      <xs:complexContent>
       <xs:extension base="kimattributedatabo">
         <xs:sequence>
          <xs:element name="assignedtoid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericpermissionbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="namespacecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="templateid" type="xs:string" />
          <xs:element name="detailvalues" type="xs:string" />
          <xs:element name="details" type="xs:anyType" />
          <xs:element name="template" type="permissiontemplatebo" nillable="true" minOccurs="0" />
          <xs:element name="attributedetails" type="permissionattributebo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uberpermissionbo" >
      <xs:complexContent>
       <xs:extension base="permissionbo">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="assignedtoroles" type="rolebo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="assignedtorolenamespaceforlookup" type="xs:string" />
          <xs:element name="assignedtorolenameforlookup" type="xs:string" />
          <xs:element name="assignedtorole" type="rolebo" nillable="true" minOccurs="0" />
          <xs:element name="assignedtoprincipalnameforlookup" type="xs:string" />
          <xs:element name="assignedtoprincipal" type="xs:anyType" />
          <xs:element name="assignedtogroupnamespaceforlookup" type="xs:string" />
          <xs:element name="assignedtogroupnameforlookup" type="xs:string" />
          <xs:element name="assignedtogroup" type="groupbo" nillable="true" minOccurs="0" />
          <xs:element name="attributename" type="xs:string" />
          <xs:element name="attributevalue" type="xs:string" />
          <xs:element name="detailcriteria" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissionbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="namespacecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="templateid" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="template" type="permissiontemplatebo" nillable="true" minOccurs="0" />
          <xs:element name="attributedetails" type="permissionattributebo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="attributes" type="xs:anyType" />
          <xs:element name="rolepermissions" type="rolepermissionbo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissiontemplatebo" >
      <xs:complexContent>
       <xs:extension base="templatebo">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilitylookupableimpl" >
      <xs:complexContent>
       <xs:extension base="kualilookupableimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilityinternalservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewresponsibilitymaintainable" >
      <xs:complexContent>
       <xs:extension base="kualimaintainableimpl">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="review_" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilityinternalserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewresponsibilitymaintenancedocumentpresentationcontroller" >
      <xs:complexContent>
       <xs:extension base="maintenancedocumentpresentationcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsibilityserviceimpl" >
      <xs:sequence>
        <xs:element name="default_priority_number" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="default" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupinternalservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupserviceimpl" >
      <xs:complexContent>
       <xs:extension base="groupservicebase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="grouplookupableimpl" >
      <xs:complexContent>
       <xs:extension base="lookupableimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupservicebase" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupinternalserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolememberbo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolebo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsibilitytemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uberresponsibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewresponsibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsibilityattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitymanagementreviewresponsibilitymaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="group" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delegatebo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimattributedata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ojb-repository-kim" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kim.ehcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissiontemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionbo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uberpermission" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kimtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 