HpcDashboard/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hpcdashboardapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofreference" >
      <xs:sequence>
        <xs:element name="processor" type="xs:string" />
        <xs:element name="cpu_utilization" type="xs:double" />
        <xs:element name="cpu_eff_freq" type="xs:double" />
        <xs:element name="ipc" type="xs:double" />
        <xs:element name="retired_sse_avx_flops" type="xs:double" />
        <xs:element name="l3_hit" type="xs:double" />
        <xs:element name="total_mem_bw" type="xs:double" />
        <xs:element name="total_mem_rdbw" type="xs:double" />
        <xs:element name="total_mem_wrbw" type="xs:double" />
        <xs:element name="total_xgmi0_bw" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresettoken" >
      <xs:sequence>
        <xs:element name="expiration" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="expiry" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appmap" >
      <xs:sequence>
        <xs:element name="appname" type="xs:string" />
        <xs:element name="metric" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runtype" >
      <xs:sequence>
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="cpu" type="xs:string" />
        <xs:element name="app_name" type="xs:string" />
        <xs:element name="freq" type="xs:string" />
        <xs:element name="mem_freq" type="xs:string" />
        <xs:element name="nps" type="xs:long" />
        <xs:element name="smt" type="xs:string" />
        <xs:element name="os" type="xs:string" />
        <xs:element name="ctdp" type="xs:string" />
        <xs:element name="boost" type="xs:string" />
        <xs:element name="apbdis" type="xs:string" />
        <xs:element name="soc_pstate" type="xs:string" />
        <xs:element name="x2apic" type="xs:string" />
        <xs:element name="determinism" type="xs:string" />
        <xs:element name="preferred_io" type="xs:string" />
        <xs:element name="iommu" type="xs:string" />
        <xs:element name="edc" type="xs:string" />
        <xs:element name="other" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmark" >
      <xs:sequence>
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="bmfullname" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="bmsize" type="xs:string" />
        <xs:element name="bmsizeunits" type="xs:string" />
        <xs:element name="bmdur" type="xs:long" />
        <xs:element name="bmdurunits" type="xs:string" />
        <xs:element name="bmmetric" type="xs:string" />
        <xs:element name="bmunits" type="xs:string" />
        <xs:element name="estruntime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpu" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cpumanufacturer" type="xs:string" />
        <xs:element name="cpugeneration" type="xs:string" />
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="tdp" type="xs:string" />
        <xs:element name="cores" type="xs:long" />
        <xs:element name="basefreq" type="xs:string" />
        <xs:element name="allcorefreq" type="xs:string" />
        <xs:element name="peakfreq" type="xs:string" />
        <xs:element name="l3cache" type="xs:string" />
        <xs:element name="ddrchannels" type="xs:long" />
        <xs:element name="maxddrfreq" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofraw" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="counter" type="xs:long" />
        <xs:element name="procappbm" type="xs:string" />
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="core_0_utilization" type="xs:double" />
        <xs:element name="core_0_eff_freq" type="xs:double" />
        <xs:element name="core_0_ipc" type="xs:double" />
        <xs:element name="core_0_cpi" type="xs:double" />
        <xs:element name="core_0_branch_misprediction_ratio" type="xs:double" />
        <xs:element name="core_0_retired_sse_avx_flops" type="xs:double" />
        <xs:element name="core_0_mixed_sse_avx_stalls" type="xs:double" />
        <xs:element name="ccx_0_l3_access" type="xs:double" />
        <xs:element name="ccx_0_l3_miss" type="xs:double" />
        <xs:element name="ccx_0_l3_miss_percent" type="xs:double" />
        <xs:element name="ccx_0_ave_l3_miss_latency" type="xs:double" />
        <xs:element name="ccx_1_l3_access" type="xs:double" />
        <xs:element name="ccx_1_l3_miss" type="xs:double" />
        <xs:element name="ccx_1_l3_miss_percent" type="xs:double" />
        <xs:element name="ccx_1_ave_l3_miss_latency" type="xs:double" />
        <xs:element name="package_0_total_mem_bw" type="xs:double" />
        <xs:element name="package_0_total_mem_rdbw" type="xs:double" />
        <xs:element name="package_0_total_mem_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_a_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_a_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_b_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_b_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_c_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_c_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_d_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_d_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_e_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_e_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_f_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_f_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_g_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_g_wrbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_h_rdbw" type="xs:double" />
        <xs:element name="package_0_mem_ch_h_wrbw" type="xs:double" />
        <xs:element name="package_0_approximate_xgmi_outbound_data_bytes" type="xs:double" />
        <xs:element name="package_0_xgmi0_bw" type="xs:double" />
        <xs:element name="package_0_xgmi1_bw" type="xs:double" />
        <xs:element name="package_0_xgmi2_bw" type="xs:double" />
        <xs:element name="package_0_xgmi3_bw" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="jobid" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="nodes" type="xs:long" />
        <xs:element name="cores" type="xs:long" />
        <xs:element name="nodename" type="xs:string" />
        <xs:element name="result" type="xs:double" />
        <xs:element name="cpu" type="xs:string" />
        <xs:element name="os" type="xs:string" />
        <xs:element name="biosver" type="xs:string" />
        <xs:element name="cluster" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="platform" type="xs:string" />
        <xs:element name="cpugen" type="xs:string" />
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="setting" type="xs:string" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="time" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="processor" >
      <xs:sequence>
        <xs:element name="cpugeneration" type="xs:string" />
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="cores" type="xs:long" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="tdp" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmap" >
      <xs:sequence>
        <xs:element name="segment" type="xs:string" />
        <xs:element name="isv" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="nodes" type="xs:long" />
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="cores" type="xs:long" />
        <xs:element name="percoreperf" type="xs:double" />
        <xs:element name="avgresult" type="xs:double" />
        <xs:element name="perfperdollar" type="xs:double" />
        <xs:element name="perfperwatt" type="xs:double" />
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="runcount" type="xs:long" />
        <xs:element name="category" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="averageresult" >
      <xs:sequence>
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="nodes" type="xs:long" />
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="cores" type="xs:long" />
        <xs:element name="segment" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="avgresult" type="xs:double" />
        <xs:element name="percoreperf" type="xs:double" />
        <xs:element name="perfperdollar" type="xs:double" />
        <xs:element name="perfperwatt" type="xs:double" />
        <xs:element name="perfpercorehib" type="xs:double" />
        <xs:element name="averageperfhib" type="xs:double" />
        <xs:element name="coefficientofvariation" type="xs:double" />
        <xs:element name="runcount" type="xs:long" />
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="category" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofcalculated" >
      <xs:sequence>
        <xs:element name="procappbm" type="xs:string" />
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="processor" type="xs:string" />
        <xs:element name="cpu_utilization" type="xs:double" />
        <xs:element name="cpu_eff_freq" type="xs:double" />
        <xs:element name="ipc" type="xs:double" />
        <xs:element name="retired_sse_avx_flops" type="xs:double" />
        <xs:element name="l3_hit" type="xs:double" />
        <xs:element name="total_mem_bw" type="xs:double" />
        <xs:element name="total_mem_rdbw" type="xs:double" />
        <xs:element name="total_mem_wrbw" type="xs:double" />
        <xs:element name="total_xgmi0_bw" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcategory" >
      <xs:sequence>
        <xs:element name="segment" type="xs:string" />
        <xs:element name="isv" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="category" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="appid" type="xs:string" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="appcategory" type="xs:string" />
        <xs:element name="appverion" type="xs:string" />
        <xs:element name="precisioninfo" type="xs:string" />
        <xs:element name="binaryinfo" type="xs:string" />
        <xs:element name="compname" type="xs:string" />
        <xs:element name="compver" type="xs:string" />
        <xs:element name="compflags" type="xs:string" />
        <xs:element name="libname" type="xs:string" />
        <xs:element name="libver" type="xs:string" />
        <xs:element name="libflags" type="xs:string" />
        <xs:element name="avx2accel" type="xs:anyType" />
        <xs:element name="avx512accel" type="xs:anyType" />
        <xs:element name="licexp" type="xs:anyType" />
        <xs:element name="libfftw" type="xs:anyType" />
        <xs:element name="libdgemm" type="xs:anyType" />
        <xs:element name="libblas" type="xs:anyType" />
        <xs:element name="appbound" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidoldpasswordexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usernotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tokenspurgetask" >
      <xs:sequence>
        <xs:element name="passwordtokenrepository" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passworddto" >
      <xs:sequence>
        <xs:element name="oldpassword" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multicharttableresponse" >
      <xs:sequence>
        <xs:element name="appname" type="xs:string" />
        <xs:element name="nodelabel" type="xs:anyType" />
        <xs:element name="scalingresultdata" type="xs:anyType" />
        <xs:element name="rawresult" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="countdata" type="xs:anyType" />
        <xs:element name="cvdata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multichartresponse" >
      <xs:sequence>
        <xs:element name="appname" type="xs:string" />
        <xs:element name="cpus" type="xs:anyType" />
        <xs:element name="dataset" type="dataset" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataset" >
      <xs:sequence>
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chartsresponse" >
      <xs:sequence>
        <xs:element name="appcpuname" type="xs:string" />
        <xs:element name="metric" type="xs:string" />
        <xs:element name="labels" type="xs:anyType" />
        <xs:element name="labelstable" type="xs:anyType" />
        <xs:element name="dataset" type="xs:anyType" />
        <xs:element name="tabledataset" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="twopartchartresponse" >
      <xs:sequence>
        <xs:element name="appname" type="xs:string" />
        <xs:element name="metric" type="xs:string" />
        <xs:element name="labels" type="xs:anyType" />
        <xs:element name="datasets" type="twopartchartdataset" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="twopartchartdataset" >
      <xs:sequence>
        <xs:element name="cpuname" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compareresult" >
      <xs:sequence>
        <xs:element name="appname" type="xs:string" />
        <xs:element name="bmname" type="xs:anyType" />
        <xs:element name="resultdata" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofid" >
      <xs:sequence>
        <xs:element name="procappbm" type="xs:string" />
        <xs:element name="runtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofdataset" >
      <xs:sequence>
        <xs:element name="procappbm" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofoutput" >
      <xs:sequence>
        <xs:element name="benchmarks" type="xs:anyType" />
        <xs:element name="metrics" type="xs:anyType" />
        <xs:element name="dataset" type="uprofdataset" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofdto" >
      <xs:sequence>
        <xs:element name="cpu_utilization" type="xs:double" />
        <xs:element name="cpu_eff_freq" type="xs:double" />
        <xs:element name="ipc" type="xs:double" />
        <xs:element name="retired_sse_avx_flops" type="xs:double" />
        <xs:element name="l3_miss" type="xs:double" />
        <xs:element name="total_mem_bw" type="xs:double" />
        <xs:element name="total_mem_rdbw" type="xs:double" />
        <xs:element name="total_mem_wrbw" type="xs:double" />
        <xs:element name="total_xgmi0_bw" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formcommand" >
      <xs:sequence>
        <xs:element name="textareafield" type="xs:string" />
        <xs:element name="radiobuttonselectedvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runtypeid" >
      <xs:sequence>
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="cpu" type="xs:string" />
        <xs:element name="app_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobdto" >
      <xs:sequence>
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="cpu" type="xs:string" />
        <xs:element name="nodes" type="xs:anyType" />
        <xs:element name="runtype" type="xs:string" />
        <xs:element name="cores" type="xs:long" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="category" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scatterchartsresponse" >
      <xs:sequence>
        <xs:element name="appcpuname" type="xs:string" />
        <xs:element name="nodes" type="xs:anyType" />
        <xs:element name="labels" type="xs:anyType" />
        <xs:element name="dataset" type="xs:anyType" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scattertableresponse" >
      <xs:sequence>
        <xs:element name="appname" type="xs:string" />
        <xs:element name="nodes" type="xs:anyType" />
        <xs:element name="resultdata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpudto" >
      <xs:sequence>
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="cores" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmapid" >
      <xs:sequence>
        <xs:element name="nodes" type="xs:long" />
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="runtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="averageresultid" >
      <xs:sequence>
        <xs:element name="cpusku" type="xs:string" />
        <xs:element name="nodes" type="xs:long" />
        <xs:element name="bmname" type="xs:string" />
        <xs:element name="runtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userregistrationdto" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="confirmpassword" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="confirmemail" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmapoutput" >
      <xs:sequence>
        <xs:element name="columns" type="xs:anyType" />
        <xs:element name="heatmapresults" type="heatmapresult" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="percore" >
      <xs:sequence>
        <xs:element name="cores" type="xs:long" />
        <xs:element name="result" type="xs:double" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isv" >
      <xs:sequence>
        <xs:element name="isv" type="xs:string" />
        <xs:element name="app" type="app" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="application" type="xs:string" />
        <xs:element name="uplift" type="xs:double" />
        <xs:element name="per_core_uplift" type="xs:double" />
        <xs:element name="per_dollar_uplift" type="xs:double" />
        <xs:element name="per_watt_uplift" type="xs:double" />
        <xs:element name="bmuplift" type="xs:anyType" />
        <xs:element name="percorebmuplift" type="xs:anyType" />
        <xs:element name="perdollarbmuplift" type="xs:anyType" />
        <xs:element name="perwattbmuplift" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmapresult" >
      <xs:sequence>
        <xs:element name="segment" type="xs:string" />
        <xs:element name="isv" type="xs:string" />
        <xs:element name="application" type="xs:string" />
        <xs:element name="benchmark" type="xs:string" />
        <xs:element name="pernode1" type="xs:string" />
        <xs:element name="percore1" type="xs:string" />
        <xs:element name="perdollar1" type="xs:string" />
        <xs:element name="perwatt1" type="xs:string" />
        <xs:element name="pernode2" type="xs:string" />
        <xs:element name="percore2" type="xs:string" />
        <xs:element name="perdollar2" type="xs:string" />
        <xs:element name="perwatt2" type="xs:string" />
        <xs:element name="pernode3" type="xs:string" />
        <xs:element name="percore3" type="xs:string" />
        <xs:element name="perdollar3" type="xs:string" />
        <xs:element name="perwatt3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="segment" >
      <xs:sequence>
        <xs:element name="segment" type="xs:string" />
        <xs:element name="uplift" type="xs:double" />
        <xs:element name="per_core_uplift" type="xs:double" />
        <xs:element name="per_dollar_uplift" type="xs:double" />
        <xs:element name="per_watt_uplift" type="xs:double" />
        <xs:element name="isvlist" type="isv" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcategoryrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<appcategory,string>">
         <xs:sequence>
          <xs:element name="find_app_category" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cpurepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<cpu,integer>">
         <xs:sequence>
          <xs:element name="find_cpu_list" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appmaprepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<appmap,string>">
         <xs:sequence>
          <xs:element name="find_app_map" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="benchmarkrepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<benchmark,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="heatmaprepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<heatmap,">
         <xs:sequence>
          <xs:element name="update_heat_result" type="xs:string" />
          <xs:element name="delete_heat_result" type="xs:string" />
          <xs:element name="get_heat_result" type="xs:string" />
          <xs:element name="get_heat_map_data" type="xs:string" />
          <xs:element name="get_heat_map_data_segment" type="xs:string" />
          <xs:element name="get_heat_map_data_categories" type="xs:string" />
          <xs:element name="get_heat_map_data_isv" type="xs:string" />
          <xs:element name="get_heat_map_data_isv_segment" type="xs:string" />
          <xs:element name="get_heat_map_data_isv_categories" type="xs:string" />
          <xs:element name="get_heat_map_results" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uprofreferencerepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<uprofreference,string>">
         <xs:sequence>
          <xs:element name="find_uprof_reference" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="averageresultrepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<averageresult,">
         <xs:sequence>
          <xs:element name="update_avg_result" type="xs:string" />
          <xs:element name="delete_avg_result" type="xs:string" />
          <xs:element name="get_avg_result" type="xs:string" />
          <xs:element name="get_avg_result_cpu_app" type="xs:string" />
          <xs:element name="get_avg_result_cpu_app_type" type="xs:string" />
          <xs:element name="get_avg_result_cpu_app_bm" type="xs:string" />
          <xs:element name="get_avg_result_cpu_app_node" type="xs:string" />
          <xs:element name="get_cpu" type="xs:string" />
          <xs:element name="get_cpu_app" type="xs:string" />
          <xs:element name="get_cpu_categories" type="xs:string" />
          <xs:element name="get_run_types" type="xs:string" />
          <xs:element name="get_run_types_categories" type="xs:string" />
          <xs:element name="get_run_types_by_cpu" type="xs:string" />
          <xs:element name="get_run_types_by_app_cpu" type="xs:string" />
          <xs:element name="get_cpu_selected" type="xs:string" />
          <xs:element name="get_cpu_selected_categories" type="xs:string" />
          <xs:element name="nodes_count" type="xs:string" />
          <xs:element name="get_cpu_res" type="xs:string" />
          <xs:element name="get_app" type="xs:string" />
          <xs:element name="get_app_cpu" type="xs:string" />
          <xs:element name="get_app_category" type="xs:string" />
          <xs:element name="get_app_type" type="xs:string" />
          <xs:element name="get_selected_cpu_res_by_avg" type="xs:string" />
          <xs:element name="get_comp_cpu_res" type="xs:string" />
          <xs:element name="get_scaling_cpu_res" type="xs:string" />
          <xs:element name="get_selected_bm_cpu" type="xs:string" />
          <xs:element name="get_selected_bm" type="xs:string" />
          <xs:element name="job_exists" type="xs:string" />
          <xs:element name="get_selected_cpu_res_by_avg_new_asc" type="xs:string" />
          <xs:element name="get_selected_cpu_res_by_avg_new_desc" type="xs:string" />
          <xs:element name="get_run_count" type="xs:string" />
          <xs:element name="get_segments" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationrepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<application,integer>">
         <xs:sequence>
          <xs:element name="find_app_name" type="xs:string" />
          <xs:element name="find_metric" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uprofcalculatedrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<uprofcalculated,integer>">
         <xs:sequence>
          <xs:element name="find_uprof_calculated" type="xs:string" />
          <xs:element name="get_cpu" type="xs:string" />
          <xs:element name="get_run_types_by_cpuuprof" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resultrepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<result,">
         <xs:sequence>
          <xs:element name="find_results_app_cpu_node" type="xs:string" />
          <xs:element name="get_cpu" type="xs:string" />
          <xs:element name="get_app" type="xs:string" />
          <xs:element name="get_bm" type="xs:string" />
          <xs:element name="get_nodes" type="xs:string" />
          <xs:element name="get_os" type="xs:string" />
          <xs:element name="get_bios" type="xs:string" />
          <xs:element name="get_cluster" type="xs:string" />
          <xs:element name="get_users" type="xs:string" />
          <xs:element name="get_platform" type="xs:string" />
          <xs:element name="get_cpu_gen" type="xs:string" />
          <xs:element name="get_run_type" type="xs:string" />
          <xs:element name="get_category" type="xs:string" />
          <xs:element name="get_cpu_based_gen" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uprofrawrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<uprofraw,integer>">
         <xs:sequence>
          <xs:element name="find_uprof_raw" type="xs:string" />
          <xs:element name="find_uprof_raw_single" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="processorrepo" >
      <xs:complexContent>
       <xs:extension base="datatablesrepository<processor,string>">
         <xs:sequence>
          <xs:element name="find_cpu_list" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordresettokenrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<passwordresettoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="chartrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="averageresultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="averageresultrestcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
        <xs:element name="appmapcamelcase" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helperrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processorrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appcategoryrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="uprofrawrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="uprofcalculatedrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="uprofreferencerepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationservice" nillable="true" minOccurs="0" />
        <xs:element name="messages" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appcategoryrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appcategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="heatmapservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cpuservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processorrepo" nillable="true" minOccurs="0" />
        <xs:element name="messages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apperrorcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmarkcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="benchmarkrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="benchmarkservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helpercontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultformrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resultservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="averageresultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="uprofcalculatedrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userregistrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatablerestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resultrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="averageresultrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="resultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cpurepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="benchmarkrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrestcontroller" >
      <xs:sequence>
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultdashboardcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="averageresultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userchangepasswordcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usersecurityservice" nillable="true" minOccurs="0" />
        <xs:element name="messages" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="smtpmailsender" nillable="true" minOccurs="0" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="averageresultrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="averageresultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="heatmapservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="chartrestcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="averageresultrestcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldmatchvalidator" >
      <xs:sequence>
        <xs:element name="firstfieldname" type="xs:string" />
        <xs:element name="secondfieldname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldmatch" >
      <xs:complexContent>
       <xs:extension base="payload">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springtaskconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="rolerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resultservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="resultrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="averageresultservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appcategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="heatmapservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processorrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmarkservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="benchmarkrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="averageresultservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="averageresultrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cpuservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cpurepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="processorrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmapservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="averageresultrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="heatmaprepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcategoryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appcategoryrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="util" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="processorrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appmaprepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="util" nillable="true" minOccurs="0" />
        <xs:element name="regex" type="xs:string" />
        <xs:element name="appmap" type="xs:anyType" />
        <xs:element name="metricmap" type="xs:anyType" />
        <xs:element name="cpugenmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generateexcelreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smtpmailsender" >
      <xs:sequence>
        <xs:element name="from" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="error" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatecsvreport" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersecurityservice" >
      <xs:sequence>
        <xs:element name="passwordtokenrepository" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconf" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="auth_whitelist" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resultaverage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uprofradar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reports" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="processorinsert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appmetricinsert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultdashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpuinsert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forgotpassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scalingcomparison" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multicpucharts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatepassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partcomparison" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcategoryinsert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chart.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customform" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hpcdashboardapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 