hsn8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ref_profession" >
      <xs:sequence>
        <xs:element name="professionid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="profession" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_relation_b" >
      <xs:sequence>
        <xs:element name="relationid" type="xs:long" />
        <xs:element name="kode" type="xs:long" />
        <xs:element name="nederlands" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="engels" type="xs:string" />
        <xs:element name="ids" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_kg" >
      <xs:sequence>
        <xs:element name="id_religion" type="xs:long" />
        <xs:element name="denomination" type="xs:string" />
        <xs:element name="standard" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_firstname" >
      <xs:sequence>
        <xs:element name="firstnameid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_prefix" >
      <xs:sequence>
        <xs:element name="prefixid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="titlenoble" type="xs:string" />
        <xs:element name="titleother" type="xs:string" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_address" >
      <xs:sequence>
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="streetoriginal" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="quarteroriginal" type="xs:string" />
        <xs:element name="quarter" type="xs:string" />
        <xs:element name="placeoriginal" type="xs:string" />
        <xs:element name="place" type="xs:string" />
        <xs:element name="boatoriginal" type="xs:string" />
        <xs:element name="boat" type="xs:string" />
        <xs:element name="berthoriginal" type="xs:string" />
        <xs:element name="berth" type="xs:string" />
        <xs:element name="institutionoriginal" type="xs:string" />
        <xs:element name="institution" type="xs:string" />
        <xs:element name="landlordoriginal" type="xs:string" />
        <xs:element name="landlord" type="xs:string" />
        <xs:element name="otheroriginal" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="oldaddressoriginal" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_gb" >
      <xs:sequence>
        <xs:element name="numbermunicipality" type="xs:long" />
        <xs:element name="namemunicipality" type="xs:string" />
        <xs:element name="cohortnumber" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="lastnamefather" type="xs:string" />
        <xs:element name="prefixfather" type="xs:string" />
        <xs:element name="firstname1father" type="xs:string" />
        <xs:element name="firstname2father" type="xs:string" />
        <xs:element name="firstname3father" type="xs:string" />
        <xs:element name="dayofbirth" type="xs:long" />
        <xs:element name="monthofbirth" type="xs:long" />
        <xs:element name="yearofbirth" type="xs:long" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="lastnamemother" type="xs:string" />
        <xs:element name="prefixmother" type="xs:string" />
        <xs:element name="firstname1mother" type="xs:string" />
        <xs:element name="firstname2mother" type="xs:string" />
        <xs:element name="firstname3mother" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="prefixname" type="xs:string" />
        <xs:element name="firstname1" type="xs:string" />
        <xs:element name="firstname2" type="xs:string" />
        <xs:element name="firstname3" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_relation_c" >
      <xs:sequence>
        <xs:element name="relationid" type="xs:long" />
        <xs:element name="relation_a" type="xs:string" />
        <xs:element name="relation_b" type="xs:string" />
        <xs:element name="relation_m" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_housenumber" >
      <xs:sequence>
        <xs:element name="housenumberid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="housenumber" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_createtables" >
      <xs:sequence>
        <xs:element name="xbigstring" type="xs:long" />
        <xs:element name="bigstring" type="xs:long" />
        <xs:element name="smallstring" type="xs:long" />
        <xs:element name="ref_address" type="xs:string" />
        <xs:element name="ref_familyname" type="xs:string" />
        <xs:element name="ref_firstname" type="xs:string" />
        <xs:element name="ref_housenumber" type="xs:string" />
        <xs:element name="ref_housenumberaddition" type="xs:string" />
        <xs:element name="ref_kg" type="xs:string" />
        <xs:element name="ref_location" type="xs:string" />
        <xs:element name="ref_prefix_save" type="xs:string" />
        <xs:element name="ref_prefix" type="xs:string" />
        <xs:element name="ref_profession" type="xs:string" />
        <xs:element name="ref_municipality" type="xs:string" />
        <xs:element name="ref_relation_b" type="xs:string" />
        <xs:element name="ref_relation_c" type="xs:string" />
        <xs:element name="ref_birth_address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_birthaddress" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="rolecontextaddress" type="xs:string" />
        <xs:element name="deliverylocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_familyname" >
      <xs:sequence>
        <xs:element name="lastnameid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_housenumberaddition" >
      <xs:sequence>
        <xs:element name="housenumberadditionid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_location" >
      <xs:sequence>
        <xs:element name="locationid" type="xs:long" />
        <xs:element name="original" type="xs:string" />
        <xs:element name="locationno" type="xs:long" />
        <xs:element name="ambiguity" type="xs:long" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="municipality" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="standardcode" type="xs:string" />
        <xs:element name="standard_source" type="xs:string" />
        <xs:element name="standard_method" type="xs:string" />
        <xs:element name="needsave" type="xs:anyType" />
        <xs:element name="current_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref" >
      <xs:sequence>
        <xs:element name="ref_famname" type="ref_familyname" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_famname_x" type="ref_familyname" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_famname21" type="xs:anyType" />
        <xs:element name="ref_famname22" type="xs:anyType" />
        <xs:element name="ref_prefix" type="ref_prefix" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_prefix_x" type="ref_prefix" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_firstname" type="ref_firstname" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_firstname_x" type="ref_firstname" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_firstname21" type="xs:anyType" />
        <xs:element name="ref_firstname22" type="xs:anyType" />
        <xs:element name="ref_ainb" type="ref_ainb" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_location" type="ref_location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_location_x" type="ref_location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_location21" type="xs:anyType" />
        <xs:element name="ref_location22" type="xs:anyType" />
        <xs:element name="ref_location31" type="xs:anyType" />
        <xs:element name="ref_kg" type="ref_kg" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_kg_x" type="ref_kg" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_gb" type="ref_gb" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_rp" type="ref_rp" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_profession" type="ref_profession" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_profession_x" type="ref_profession" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_address" type="ref_address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_address_x" type="ref_address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_address21" type="xs:anyType" />
        <xs:element name="ref_address22" type="xs:anyType" />
        <xs:element name="ref_housenumber" type="ref_housenumber" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_housenumber_x" type="ref_housenumber" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_housenumber21" type="xs:anyType" />
        <xs:element name="ref_housenumber22" type="xs:anyType" />
        <xs:element name="ref_housenumberaddition" type="ref_housenumberaddition" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_housenumberaddition_x" type="ref_housenumberaddition" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_housenumberaddition21" type="xs:anyType" />
        <xs:element name="ref_housenumberaddition22" type="xs:anyType" />
        <xs:element name="ref_municipality" type="ref_municipality" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_relation_b" type="ref_relation_b" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_relation_b_x" type="ref_relation_b" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_relation_c" type="ref_relation_c" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_relation_c_x" type="ref_relation_c" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ref_birthaddress2" type="xs:anyType" />
        <xs:element name="factory_ref" type="xs:anyType" />
        <xs:element name="em_ref" type="xs:anyType" />
        <xs:element name="factory_ref_2" type="xs:anyType" />
        <xs:element name="em_ref_2" type="xs:anyType" />
        <xs:element name="xbigstring" type="xs:long" />
        <xs:element name="bigstring" type="xs:long" />
        <xs:element name="smallstring" type="xs:long" />
        <xs:element name="mediumstring" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_ainb" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="municipality" type="xs:string" />
        <xs:element name="typeregister" type="xs:string" />
        <xs:element name="startyearregister" type="xs:long" />
        <xs:element name="startyearregistercorrected" type="xs:long" />
        <xs:element name="endyearregister" type="xs:long" />
        <xs:element name="endyearregistercorrected" type="xs:long" />
        <xs:element name="b1gwbg" type="xs:string" />
        <xs:element name="b1ivbg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_municipality" >
      <xs:sequence>
        <xs:element name="codemunicipality" type="xs:long" />
        <xs:element name="codeprovince" type="xs:long" />
        <xs:element name="coderegion" type="xs:long" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="sequencenumber" type="xs:long" />
        <xs:element name="municipalityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ref_rp" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="originid" type="xs:long" />
        <xs:element name="project" type="xs:string" />
        <xs:element name="gemnr" type="xs:long" />
        <xs:element name="validday" type="xs:long" />
        <xs:element name="validmonth" type="xs:long" />
        <xs:element name="validyear" type="xs:long" />
        <xs:element name="lastnamerp" type="xs:string" />
        <xs:element name="prefixrp" type="xs:string" />
        <xs:element name="firstnamerp" type="xs:string" />
        <xs:element name="dayofbirthrp" type="xs:long" />
        <xs:element name="monthofbirthrp" type="xs:long" />
        <xs:element name="yearofbirthrp" type="xs:long" />
        <xs:element name="sexrp" type="xs:string" />
        <xs:element name="birthplacerp" type="xs:string" />
        <xs:element name="birthprovincerp" type="xs:long" />
        <xs:element name="birthcohortrp" type="xs:long" />
        <xs:element name="lastnamemother" type="xs:string" />
        <xs:element name="prefixmother" type="xs:string" />
        <xs:element name="firstnamemother" type="xs:string" />
        <xs:element name="lastnamefather" type="xs:string" />
        <xs:element name="prefixfather" type="xs:string" />
        <xs:element name="firstnamefather" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 