HIbernate-8/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="distributor" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="washer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="money" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationserver" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="version" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cat" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="//usedforassertionsids" type="xs:anyType" />
        <xs:element name="//usedforassertionspostversion" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="length" type="xs:long" />
        <xs:element name="lastup" type="xs:dateTime" />
        <xs:element name="manualversion" type="xs:long" />
        <xs:element name="kittens" type="kitten" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="money" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationserver" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="version" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scooter" >
      <xs:sequence>
        <xs:element name="model" type="xs:string" />
        <xs:element name="speed" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bug" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="caipirinha" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="descr" type="xs:string" />
        <xs:element name="distributors" type="distributor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kitten" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carpet" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="morito" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="power" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bug" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 