favorite-framework/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="classwithprivateannotatedmember" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jtatransactionaspectstests" >
      <xs:sequence>
        <xs:element name="txmanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodannotationonclasswithnointerface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionalannotationonlyonclasswithnointerface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionaspecttests" >
      <xs:complexContent>
       <xs:extension base="org.springframework.test.abstractdependencyinjectionspringcontexttests">
         <xs:sequence>
          <xs:element name="txmanager" type="xs:anyType" />
          <xs:element name="annotationonlyonclasswithnointerface" type="transactionalannotationonlyonclasswithnointerface" nillable="true" minOccurs="0" />
          <xs:element name="beanwithannotatedprotectedmethod" type="classwithprotectedannotatedmember" nillable="true" minOccurs="0" />
          <xs:element name="classwithannotatedmemberbeanwithannotatedmethod" type="classwithprivateannotatedmember" nillable="true" minOccurs="0" />
          <xs:element name="methodannotationonly" type="methodannotationonclasswithnointerface" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classwithprotectedannotatedmember" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itransactional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationdrivenstaticentitymockingcontroltests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person_roo_entity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatedjcacheableservice" >
      <xs:sequence>
        <xs:element name="counter" type="xs:anyType" />
        <xs:element name="exceptioncounter" type="xs:anyType" />
        <xs:element name="default" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="somekeygenerator" >
      <xs:complexContent>
       <xs:extension base="defaultkeygenerator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="somecustomkeygenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheableservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatedclasscacheableservice" >
      <xs:sequence>
        <xs:element name="counter" type="xs:anyType" />
        <xs:element name="nullinvocations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcacheableservice" >
      <xs:sequence>
        <xs:element name="counter" type="xs:anyType" />
        <xs:element name="nullinvocations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcacheaspectjnamespaceconfigtests" >
      <xs:complexContent>
       <xs:extension base="abstractjcacheannotationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectjenablecachingtests" >
      <xs:complexContent>
       <xs:extension base="abstractcacheannotationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectjcacheannotationtests" >
      <xs:complexContent>
       <xs:extension base="abstractcacheannotationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jcacheaspectjjavaconfigtests" >
      <xs:complexContent>
       <xs:extension base="abstractjcacheannotationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectjenablecachingisolatedtests" >
      <xs:complexContent>
       <xs:extension base="cachingconfigurersupport">
         <xs:sequence>
          <xs:element name="ctx" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testableasyncuncaughtexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="throwable>">
         <xs:sequence>
          <xs:element name="latch" type="xs:anyType" />
          <xs:element name="descriptor" type="xs:anyType" />
          <xs:element name="throwunexpectedexception" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationdrivenbeandefinitionparsertests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationasyncexecutionaspecttests" >
      <xs:complexContent>
       <xs:extension base="simpleasynctaskexecutor">
         <xs:sequence>
          <xs:element name="//millisecondswait_time" type="xs:long" />
          <xs:element name="defaultexceptionhandler" type="xs:anyType" />
          <xs:element name="executor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codestyleaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoproxywithcodestyleaspectstests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shouldbeconfiguredbyspring" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springconfiguredwithautoproxyingtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlbeanconfigurertests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationbeanconfigurertests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanconfigurertests-beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionaspecttests-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractmethodmockingcontrol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationdrivenstaticentitymockingcontrol" >
      <xs:complexContent>
       <xs:extension base="abstractmethodmockingcontrol">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockstaticentitymethods" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspectjasyncconfiguration" >
      <xs:complexContent>
       <xs:extension base="abstractasyncconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractasyncexecutionaspect" >
      <xs:complexContent>
       <xs:extension base="asyncexecutionaspectsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationasyncexecutionaspect" >
      <xs:complexContent>
       <xs:extension base="abstractasyncexecutionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationcacheaspect" >
      <xs:complexContent>
       <xs:extension base="abstractcacheaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jcachecacheaspect" >
      <xs:complexContent>
       <xs:extension base="jcacheaspectsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractcacheaspect" >
      <xs:complexContent>
       <xs:extension base="cacheaspectsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectjjcacheconfiguration" >
      <xs:complexContent>
       <xs:extension base="abstractjcacheconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anythrow" >
      <xs:complexContent>
       <xs:extension base="throwable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectjcachingconfiguration" >
      <xs:complexContent>
       <xs:extension base="abstractcachingconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springconfiguredconfiguration" >
      <xs:sequence>
        <xs:element name="bean_configurer_aspect_bean_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enablespringconfigured" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractdependencyinjectionaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurableobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericinterfacedrivendependencyinjectionaspect" >
      <xs:complexContent>
       <xs:extension base="genericinterfacedrivendependencyinjectionaspect<pricingstrategyclient>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationbeanconfigureraspect" >
      <xs:complexContent>
       <xs:extension base="abstractinterfacedrivendependencyinjectionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractinterfacedrivendependencyinjectionaspect" >
      <xs:complexContent>
       <xs:extension base="abstractdependencyinjectionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aspectjtransactionmanagementconfiguration" >
      <xs:complexContent>
       <xs:extension base="abstracttransactionmanagementconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jtaannotationtransactionaspect" >
      <xs:complexContent>
       <xs:extension base="abstracttransactionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstracttransactionaspect" >
      <xs:complexContent>
       <xs:extension base="transactionaspectsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationtransactionaspect" >
      <xs:complexContent>
       <xs:extension base="abstracttransactionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaexceptiontranslatoraspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 