DropShipping/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="agentrepositorytest" >
      <xs:sequence>
        <xs:element name="repository" type="agentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropshippingapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropshippingapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigdecimalutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertiesutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="props" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftputil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="ftpip" type="xs:string" />
        <xs:element name="ftpuser" type="xs:string" />
        <xs:element name="ftppass" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5util" >
      <xs:sequence>
        <xs:element name="hexdigits" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="agentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="producerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cartservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<shoppingcart,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="buyerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<buyer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agreementrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<agreement,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="producerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<producer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specificationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<specification,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="warehouserepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<warehouse,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<goods,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<agent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodsspecitemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<goodsspecitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countrycurrencyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<countrycurrency,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodsevaluationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<goodsevaluation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<orderitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exchangeraterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<exchangerate,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="evaluationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<evaluation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logisticrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<logistic,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="refundstatusrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<refundstatus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="warehouseitemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<warehouseitem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serverresponse" >
      <xs:sequence>
        <xs:element name="status" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="daa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsecode" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="desc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="const" >
      <xs:sequence>
        <xs:element name="current_agent" type="xs:string" />
        <xs:element name="current_producer" type="xs:string" />
        <xs:element name="producertoagent" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="identity_number" type="xs:string" />
        <xs:element name="external_shop" type="xs:string" />
        <xs:element name="producer_name" type="xs:string" />
        <xs:element name="license_number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producer" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="contactidentitynumber" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="licensenumber" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="jointime" type="xs:dateTime" />
        <xs:element name="registercapital" type="xs:anyType" />
        <xs:element name="registertime" type="xs:dateTime" />
        <xs:element name="credibility" type="xs:string" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logistic" >
      <xs:sequence>
        <xs:element name="logisticid" type="xs:anyType" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="logisticnumber" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="delivery" type="xs:dateTime" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyer" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="parentid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcart" >
      <xs:sequence>
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="goodsspecids" type="xs:string" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specification" >
      <xs:sequence>
        <xs:element name="specid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemmultikeys" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="goodsspecids" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agreementmultikeys" >
      <xs:sequence>
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsspecitem" >
      <xs:sequence>
        <xs:element name="goodsspecid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="specid" type="xs:anyType" />
        <xs:element name="pricedifference" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouse" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="goodsspecids" type="xs:string" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agent" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="identitynumber" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="jointime" type="xs:dateTime" />
        <xs:element name="externalshop" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refundstatus" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="refundstatus" type="xs:string" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsevaluationmultikeys" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evaluation" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agreement" >
      <xs:sequence>
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouseitemmultikeys" >
      <xs:sequence>
        <xs:element name="warehouseid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchangerate" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="rate" type="xs:double" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouseitem" >
      <xs:sequence>
        <xs:element name="warehouseid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcartmultikeys" >
      <xs:sequence>
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="goodsspecids" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goods" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrycurrency" >
      <xs:sequence>
        <xs:element name="country" type="xs:string" />
        <xs:element name="currency" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsevaluation" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acceptedagentdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="monthlysale" type="xs:anyType" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="level" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodslistdto" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="producername" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produceragreementrequestdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="registercapital" type="xs:anyType" />
        <xs:element name="registertime" type="xs:dateTime" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="requesttime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendproducerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsdetaildto" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsevaluationdto" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="agentname" type="xs:string" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehousegoodslistdto" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="goodsname" type="xs:string" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producerorderdto" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="GeneratedName" type="buyer" nillable="true" minOccurs="0" />
        <xs:element name="orderitemlist" type="orderitemdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="logistic" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetaildto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logistic" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="buyer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcartitemdto" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="goodsname" type="xs:string" />
        <xs:element name="specificationdtolist" type="specificationdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorydto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="childsize" type="xs:anyType" />
        <xs:element name="childlist" type="categorydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="imagepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouselistdto" >
      <xs:sequence>
        <xs:element name="country" type="xs:string" />
        <xs:element name="warehouseid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendagentdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="monthlysale" type="xs:anyType" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="level" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemdto" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="specificationlist" type="specificationdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagechunk" >
      <xs:sequence>
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="totalpages" type="xs:long" />
        <xs:element name="totalelements" type="xs:long" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="numberofelements" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agentagreementrequestdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="jointime" type="xs:dateTime" />
        <xs:element name="requesttime" type="xs:dateTime" />
        <xs:element name="monthlysale" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specificationdto" >
      <xs:sequence>
        <xs:element name="goodsspecid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="pricedifference" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcartitemlistdto" >
      <xs:sequence>
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="producername" type="xs:string" />
        <xs:element name="shoppingcartitemdtolist" type="shoppingcartitemdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="saleanalysisdto" >
      <xs:sequence>
        <xs:element name="x" type="xs:string" />
        <xs:element name="y" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agentdetaildto" >
      <xs:sequence>
        <xs:element name="phone" type="xs:string" />
        <xs:element name="externalshop" type="xs:string" />
        <xs:element name="jointime" type="xs:dateTime" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="productsalelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detailwarehouselistdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="goodslist" type="warehousegoodslistdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evaluationdto" >
      <xs:sequence>
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdto" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="GeneratedName" type="buyer" nillable="true" minOccurs="0" />
        <xs:element name="orderitemlist" type="orderitemdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="logistic" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cartrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsspecitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exchangerateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsevaluationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agreementrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsspecitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exchangerateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="producerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="evaluationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agreementrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsspecitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="warehouseitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="warehouserepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="agentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agreementrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="buyerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="producerrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logisticrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsspecitemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="agentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="refundstatusrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="evaluationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsevaluationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exchangerateservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchangerateserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countrycurrencyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exchangeraterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchangerateservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchangeratetask" >
      <xs:sequence>
        <xs:element name="def_charset" type="xs:string" />
        <xs:element name="def_conn_timeout" type="xs:long" />
        <xs:element name="def_read_timeout" type="xs:long" />
        <xs:element name="error_code" type="xs:string" />
        <xs:element name="result" type="xs:string" />
        <xs:element name="GeneratedName" type="exchangeraterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 