DropShipping/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="producer" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="contactname" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="contactidentitynumber" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="licensenumber" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="jointime" type="xs:dateTime" />
        <xs:element name="registercapital" type="xs:anyType" />
        <xs:element name="registertime" type="xs:dateTime" />
        <xs:element name="credibility" type="xs:string" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logistic" >
      <xs:sequence>
        <xs:element name="logisticid" type="xs:anyType" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="logisticnumber" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="delivery" type="xs:dateTime" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyer" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="parentid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcart" >
      <xs:sequence>
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="goodsspecids" type="xs:string" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specification" >
      <xs:sequence>
        <xs:element name="specid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsspecitem" >
      <xs:sequence>
        <xs:element name="goodsspecid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="specid" type="xs:anyType" />
        <xs:element name="pricedifference" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouse" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="goodsspecids" type="xs:string" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agent" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="identitynumber" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="jointime" type="xs:dateTime" />
        <xs:element name="externalshop" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refundstatus" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="refundstatus" type="xs:string" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evaluation" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="direction" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agreement" >
      <xs:sequence>
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchangerate" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="rate" type="xs:double" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warehouseitem" >
      <xs:sequence>
        <xs:element name="warehouseid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goods" >
      <xs:sequence>
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="producerid" type="xs:anyType" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="stock" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrycurrency" >
      <xs:sequence>
        <xs:element name="country" type="xs:string" />
        <xs:element name="currency" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsevaluation" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="goodsid" type="xs:anyType" />
        <xs:element name="agentid" type="xs:anyType" />
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 