dataio6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="harvesttask" >
      <xs:sequence>
        <xs:element name="query_find_next" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="timeofcreation" type="xs:anyType" />
        <xs:element name="configid" type="xs:long" />
        <xs:element name="basedonjob" type="xs:anyType" />
        <xs:element name="numberofrecords" type="xs:anyType" />
        <xs:element name="records" type="xs:anyType" />
        <xs:element name="selector" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 