escalab3003215/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="purchaseorder" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 