docente/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docentecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="docenteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormensaje" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="messages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escuelaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sedeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sederepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facultadserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="facultadrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docenteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sedeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escuelaserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="escuelarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docenteserviceimpl" >
      <xs:sequence>
        <xs:element name="docenterespository" type="docenterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facultadservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facultad" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="sede" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sede" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docente" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dni" type="xs:string" />
        <xs:element name="gradoacademico" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="fecha" type="xs:dateTime" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="categoria" type="xs:string" />
        <xs:element name="estado" type="xs:anyType" />
        <xs:element name="GeneratedName" type="escuela" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="nomina" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usuario" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escuela" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="facultad" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facultadrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<facultad,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="escuelarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<escuela,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sederepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sede,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="docenterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<docente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ms007serviciodocenteapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dni" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="estado" type="xs:anyType" />
        <xs:element name="roles" type="rol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nomina" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="estadoacta" type="xs:anyType" />
        <xs:element name="estadopago" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rol" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="usuarios" type="usuario" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nominaclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuarioclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ms007serviciodocenteapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 