escalab3003211/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="compra" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="card" nillable="true" minOccurs="0" />
        <xs:element name="gasto" type="xs:double" />
        <xs:element name="fecha" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="card" >
      <xs:sequence>
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="saldooriginal" type="xs:double" />
        <xs:element name="compras" type="compra" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 