guna-Jge-code/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="method" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceldownload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="input" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getvehiclesresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="vehicles" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupinfo" >
      <xs:sequence>
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="fullpath" type="xs:anyType" />
        <xs:element name="groupid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="objectrevision" type="xs:anyType" />
        <xs:element name="revisiondate" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getvehiclesrequest" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:anyType" />
        <xs:element name="includesubgroups" type="xs:anyType" />
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehicletype" >
      <xs:sequence>
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="vehicletypeid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehiclestatus" >
      <xs:sequence>
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="vehiclestatusid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getbehaviorsresponse" >
      <xs:sequence>
        <xs:element name="behaviors" type="xs:anyType" />
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getgroupsbyfullpathrequest" >
      <xs:sequence>
        <xs:element name="includesubgroups" type="xs:anyType" />
        <xs:element name="path" type="xs:anyType" />
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getvehicletypesresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="vehicletypes" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsinfov3" >
      <xs:complexContent>
       <xs:extension base="com.lytx.dto.eventsinfo">
         <xs:sequence>
          <xs:element name="eventlink" type="xs:anyType" />
          <xs:element name="__equalscalc" type="xs:anyType" />
          <xs:element name="__hashcodecalc" type="xs:anyType" />
          <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getusersresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="users" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventtype" >
      <xs:sequence>
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="eventtypeid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noteinfo" >
      <xs:sequence>
        <xs:element name="authorfirstname" type="xs:anyType" />
        <xs:element name="authorlastname" type="xs:anyType" />
        <xs:element name="authorusername" type="xs:anyType" />
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getgroupsbyidrequest" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:anyType" />
        <xs:element name="includesubgroups" type="xs:anyType" />
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsinfov5" >
      <xs:complexContent>
       <xs:extension base="com.lytx.dto.eventsinfov4">
         <xs:sequence>
          <xs:element name="eventlink2" type="xs:anyType" />
          <xs:element name="__equalscalc" type="xs:anyType" />
          <xs:element name="__hashcodecalc" type="xs:anyType" />
          <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginresponse" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:anyType" />
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="existingsessionrequest" >
      <xs:sequence>
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="submitdriverdispatchlogsresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="submissionid" type="xs:anyType" />
        <xs:element name="validationresponse" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventstatus" >
      <xs:sequence>
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="eventstatusid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getgroupsresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="groups" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getusersrequest" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:anyType" />
        <xs:element name="includesubgroups" type="xs:anyType" />
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geteventtypesresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="eventtypes" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getsubmissionresultsresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="submissionresults" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geteventstatusesresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="eventstatuses" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsinfo" >
      <xs:sequence>
        <xs:element name="behaviors" type="xs:anyType" />
        <xs:element name="coachid" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="customereventid" type="xs:anyType" />
        <xs:element name="customereventidstring" type="xs:anyType" />
        <xs:element name="downloadeddate" type="xs:anyType" />
        <xs:element name="driverid" type="xs:anyType" />
        <xs:element name="erserialnumber" type="xs:anyType" />
        <xs:element name="eventid" type="xs:anyType" />
        <xs:element name="eventstatusid" type="xs:anyType" />
        <xs:element name="eventtypeid" type="xs:anyType" />
        <xs:element name="forwardmax" type="xs:anyType" />
        <xs:element name="forwardthreshold" type="xs:anyType" />
        <xs:element name="groupid" type="xs:anyType" />
        <xs:element name="heading" type="xs:anyType" />
        <xs:element name="lastupdated" type="xs:anyType" />
        <xs:element name="lateralmax" type="xs:anyType" />
        <xs:element name="lateralthreshold" type="xs:anyType" />
        <xs:element name="latitude" type="xs:anyType" />
        <xs:element name="longitude" type="xs:anyType" />
        <xs:element name="notes" type="xs:anyType" />
        <xs:element name="objectrevision" type="xs:anyType" />
        <xs:element name="overdue" type="xs:anyType" />
        <xs:element name="recorddatetz" type="xs:anyType" />
        <xs:element name="recorddateutc" type="xs:anyType" />
        <xs:element name="recorddateutcoffset" type="xs:anyType" />
        <xs:element name="revieweddate" type="xs:anyType" />
        <xs:element name="revisiondate" type="xs:anyType" />
        <xs:element name="score" type="xs:anyType" />
        <xs:element name="shockthreshold" type="xs:anyType" />
        <xs:element name="speed" type="xs:anyType" />
        <xs:element name="vehicleid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfo" >
      <xs:sequence>
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="dob" type="xs:anyType" />
        <xs:element name="email" type="xs:anyType" />
        <xs:element name="employeenumber" type="xs:anyType" />
        <xs:element name="employmentend" type="xs:anyType" />
        <xs:element name="employmentstart" type="xs:anyType" />
        <xs:element name="firstname" type="xs:anyType" />
        <xs:element name="gender" type="xs:anyType" />
        <xs:element name="lastname" type="xs:anyType" />
        <xs:element name="objectrevision" type="xs:anyType" />
        <xs:element name="revisiondate" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="username" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getvehiclestatusesresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="vehiclestatuses" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geteventsbylastupdatedaterequest" >
      <xs:sequence>
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="groupid" type="xs:anyType" />
        <xs:element name="includesubgroups" type="xs:anyType" />
        <xs:element name="sessionid" type="xs:anyType" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vehicleinfo" >
      <xs:sequence>
        <xs:element name="assigneddriver" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="inservicedate" type="xs:anyType" />
        <xs:element name="lastconnected" type="xs:anyType" />
        <xs:element name="licensenumber" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="objectrevision" type="xs:anyType" />
        <xs:element name="revisiondate" type="xs:anyType" />
        <xs:element name="vehicleid" type="xs:anyType" />
        <xs:element name="vehiclestatusid" type="xs:anyType" />
        <xs:element name="vehicletypeid" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsinfov4" >
      <xs:complexContent>
       <xs:extension base="com.lytx.dto.eventsinfov3">
         <xs:sequence>
          <xs:element name="eventnotes" type="xs:anyType" />
          <xs:element name="iscoachable" type="xs:anyType" />
          <xs:element name="reviewnotes" type="xs:anyType" />
          <xs:element name="sessionnotes" type="xs:anyType" />
          <xs:element name="__equalscalc" type="xs:anyType" />
          <xs:element name="__hashcodecalc" type="xs:anyType" />
          <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getsubmissionstatusresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="submissionstatus" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="behavior" >
      <xs:sequence>
        <xs:element name="behaviorid" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isubmissionservicev5" >
      <xs:complexContent>
       <xs:extension base="java.rmi.remote">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basichttpbinding_isubmissionservicev5stub" >
      <xs:complexContent>
       <xs:extension base="org.apache.axis.client.stub">
         <xs:sequence>
          <xs:element name="cachedserclasses" type="xs:anyType" />
          <xs:element name="cachedserqnames" type="xs:anyType" />
          <xs:element name="cachedserfactories" type="xs:anyType" />
          <xs:element name="cacheddeserfactories" type="xs:anyType" />
          <xs:element name="_operations" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="submissionservicev5locator" >
      <xs:complexContent>
       <xs:extension base="org.apache.axis.client.service">
         <xs:sequence>
          <xs:element name="//usetogetaproxyclassforbasichttpbinding_isubmissionservicev5basichttpbinding_isubmissionservicev5_address" type="xs:anyType" />
          <xs:element name="//thewsddservicenamedefaultstotheportname.basichttpbinding_isubmissionservicev5wsddservicename" type="xs:anyType" />
          <xs:element name="ports" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="submissionservicev5" >
      <xs:complexContent>
       <xs:extension base="javax.xml.rpc.service">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isubmissionservicev5proxy" >
      <xs:sequence>
        <xs:element name="_endpoint" type="xs:string" />
        <xs:element name="isubmissionservicev5" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itduserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tduserservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tduserrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repairbookingservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="repairbookingdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_geotab_ser" >
      <xs:sequence>
        <xs:element name="dao" type="common_geotab_dao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userreportfilterservice" >
      <xs:sequence>
        <xs:element name="filterrepo" type="userreportfilterrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gl_report_ser" >
      <xs:sequence>
        <xs:element name="dao" type="gl_report_dao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trackdownentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="lat" type="xs:double" />
        <xs:element name="lng" type="xs:double" />
        <xs:element name="servicetype" type="xs:string" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="ids" type="xs:string" />
        <xs:element name="lid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tduser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="baseurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gen_driver" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ref_gen_user_id" type="xs:long" />
        <xs:element name="driver_id" type="xs:string" />
        <xs:element name="driver_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gen_userentity" >
      <xs:sequence>
        <xs:element name="fnn" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="companyid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userreportfilterentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="ruleid" type="xs:long" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="weight" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ly_userentity" >
      <xs:sequence>
        <xs:element name="fnn" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbname" type="xs:string" />
        <xs:element name="ly_username" type="xs:string" />
        <xs:element name="ly_password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gen_device" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ref_gen_user_id" type="xs:long" />
        <xs:element name="device_id" type="xs:string" />
        <xs:element name="device_name" type="xs:string" />
        <xs:element name="fnn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trip" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="vehiclename" type="xs:string" />
        <xs:element name="driverfirstname" type="xs:string" />
        <xs:element name="driverlastname" type="xs:string" />
        <xs:element name="tripstarttime" type="xs:anyType" />
        <xs:element name="tripendtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportrow" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//vehicleordrivernamename" type="xs:string" />
        <xs:element name="group" type="xs:string" />
        <xs:element name="distance" type="xs:long" />
        <xs:element name="selectedrules" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gl_rulelistentity" >
      <xs:sequence>
        <xs:element name="fnn" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="rulename" type="xs:string" />
        <xs:element name="rulevalue" type="xs:string" />
        <xs:element name="rulecompany" type="xs:string" />
        <xs:element name="weight" type="xs:long" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="score" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="meanweightedavgscores" type="xs:double" />
        <xs:element name="weightedavgscores" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gl_minmiles" >
      <xs:sequence>
        <xs:element name="fnn" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="gen_user_id" type="xs:long" />
        <xs:element name="minmiles" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userreportfilterrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userreportfilterentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tduserrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<tduser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportfilter" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:string" />
        <xs:element name="minmiles" type="xs:string" />
        <xs:element name="viewreportby" type="xs:string" />
        <xs:element name="exceptions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basiccontroller" >
      <xs:sequence>
        <xs:element name="ser" type="gl_report_ser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cookies" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appconstants" >
      <xs:sequence>
        <xs:element name="response_success" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="random" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springfoxconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resttrendingreport" >
      <xs:sequence>
        <xs:element name="row_offset" type="xs:long" />
        <xs:element name="formula_start_row" type="xs:long" />
        <xs:element name="ser" type="gl_report_ser" nillable="true" minOccurs="0" />
        <xs:element name="lytxbehaviors" type="xs:anyType" />
        <xs:element name="periods" type="xs:anyType" />
        <xs:element name="displaycolumns" type="xs:anyType" />
        <xs:element name="lytxexceptionsummariesjson" type="xs:string" />
        <xs:element name="exceptions_start_column" type="xs:long" />
        <xs:element name="geotabvehicleexceptionsummariesjson" type="xs:string" />
        <xs:element name="vehicletrips" type="xs:anyType" />
        <xs:element name="dao" type="gl_report_dao" nillable="true" minOccurs="0" />
        <xs:element name="lytxvehiclelist" type="xs:anyType" />
        <xs:element name="vechilelytxlist" type="xs:string" />
        <xs:element name="vechilemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restuserreportfilter" >
      <xs:sequence>
        <xs:element name="reportfilterservice" type="userreportfilterservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdriversafetyreport" >
      <xs:sequence>
        <xs:element name="ser" type="gl_report_ser" nillable="true" minOccurs="0" />
        <xs:element name="dao" type="gl_report_dao" nillable="true" minOccurs="0" />
        <xs:element name="topnrecords" type="score" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="bottomnrecords" type="score" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="displaycolumns" type="xs:anyType" />
        <xs:element name="lytxexceptionsummariesjson" type="xs:string" />
        <xs:element name="lytxbehaviors" type="xs:anyType" />
        <xs:element name="lytxbehaviorsjson" type="xs:string" />
        <xs:element name="getvehicleresponsejson" type="xs:string" />
        <xs:element name="row_offset" type="xs:long" />
        <xs:element name="formula_start_row" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_geotab_api" >
      <xs:sequence>
        <xs:element name="ser" type="common_geotab_ser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repairbooking" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="repairbookingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repairbookingdao" >
      <xs:sequence>
        <xs:element name="repairbookingservice" type="tduserservice" nillable="true" minOccurs="0" />
        <xs:element name="truckdoun" type="tduser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_geotab_dao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gl_report_dao" >
      <xs:sequence>
        <xs:element name="enty" type="gl_rulelistentity" nillable="true" minOccurs="0" />
        <xs:element name="ser" type="gl_report_ser" nillable="true" minOccurs="0" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="//vehicleordriverreportby" type="xs:string" />
        <xs:element name="minimumdistance" type="xs:long" />
        <xs:element name="selectedrules" type="xs:anyType" />
        <xs:element name="reportrows" type="reportrow" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="lytxvehicleeventsrecord" type="xs:anyType" />
        <xs:element name="exceptions_start_column" type="xs:anyType" />
        <xs:element name="displayreportcolumnheaders" type="xs:anyType" />
        <xs:element name="vehicletrips" type="xs:anyType" />
        <xs:element name="lytxvehiclelist" type="xs:anyType" />
        <xs:element name="lytxbehaviors" type="xs:anyType" />
        <xs:element name="topnrecords" type="score" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="bottomnrecords" type="score" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="n_top_bottom_records" type="xs:anyType" />
        <xs:element name="loadselectedrulenames" type="xs:anyType" />
        <xs:element name="vechilelytxlist" type="xs:string" />
        <xs:element name="vechilemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="registry" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geotabapisapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventbehavior" >
      <xs:sequence>
        <xs:element name="behavior" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geteventsresponse" >
      <xs:sequence>
        <xs:element name="error" type="xs:anyType" />
        <xs:element name="events" type="xs:anyType" />
        <xs:element name="message" type="xs:anyType" />
        <xs:element name="querycutoff" type="xs:anyType" />
        <xs:element name="__equalscalc" type="xs:anyType" />
        <xs:element name="__hashcodecalc" type="xs:anyType" />
        <xs:element name="//typemetadatatypedesc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 