formationheducap2019suite5/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hotel" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ville" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="tarifjour" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 