HibernateExercise/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="invoicedata" >
      <xs:sequence>
        <xs:element name="nip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namepk" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numbergrade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="director" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="find_student_by_first_name" type="xs:string" />
        <xs:element name="find_student_by_id" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="lastmodifiedtime" type="xs:anyType" />
        <xs:element name="GeneratedName" type="invoicedata" nillable="true" minOccurs="0" />
        <xs:element name="academies" type="academy" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="grades" type="grade" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//powoduje:https://docs.oracle.com/javaee/7/api/javax/persistence/optimisticlockexception.htmlversion" type="xs:anyType" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timedentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentdto" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="academy" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="//jointableopcjonalne,hibernatemaswojedefaultystudents" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teacher" >
      <xs:sequence>
        <xs:element name="name" type="namepk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="textgrade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grade" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="student" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema-generation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema-drop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 