as_zero/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="setcharacterencodingfilter" >
      <xs:sequence>
        <xs:element name="//-------------------------------------------------instancevariables/***classlogger*///loggerlogger" type="xs:string" />
        <xs:element name="/***thefilterconfigurationobjectweareassociatedwith.ifthisvalueis*null,thisfilterinstanceisnotcurrentlyconfigured.*/" type="xs:anyType" />
        <xs:element name="/***shouldacharacterencodingspecifiedbytheclientbeignored?*/ignore" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urlfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nocachefilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertype" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertype1" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="existinguserexeption" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="surname" type="xs:string" />
          <xs:element name="patronomicname" type="xs:string" />
          <xs:element name="phonenumber" type="xs:string" />
          <xs:element name="" type="department" nillable="true" minOccurs="0" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="//boolean/*@manytoone@joincolumn(name" type="form" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="usertype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="visibleeditable" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rigtstosection" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:anyType" />
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="" type="section" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="section" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="nameformenu" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="rights" type="rigtstosection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionfactorysingleton" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionfactorybean" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdetailsrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertyperepository" >
      <xs:complexContent>
       <xs:extension base="baserepository{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="costspagedbwork" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportform2detailsrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputaskyerepository" >
      <xs:complexContent>
       <xs:extension base="baserepository{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inputaskyeinforepository" >
      <xs:complexContent>
       <xs:extension base="baserepository{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typeterrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baserepository" >
      <xs:complexContent>
       <xs:extension base="data_info>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="saveuserrepository" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="usertypes" type="usertype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="counterrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="measurerepository" >
      <xs:complexContent>
       <xs:extension base="baserepository{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="costsrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="forminfo" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="form" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//списокотчетовпользователяlistrep" type="shortinforeport" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//названиеподразделенияnamedep" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fourrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sevenrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcerepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onepagedbwork" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="counterinputexcel" >
      <xs:sequence>
        <xs:element name="dateformatter1" type="xs:anyType" />
        <xs:element name="dateformatter2" type="xs:anyType" />
        <xs:element name="dateformatter3" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentcor" >
      <xs:sequence>
        <xs:element name="parent" type="departmentcor" nillable="true" minOccurs="0" />
        <xs:element name="nodename" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentexcelinput" >
      <xs:sequence>
        <xs:element name="dateformatter1" type="xs:anyType" />
        <xs:element name="dateformatter2" type="xs:anyType" />
        <xs:element name="dateformatter3" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcell" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcellnull" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formseven_del" >
      <xs:sequence>
        <xs:element name="col1" type="xs:string" />
        <xs:element name="col2" type="xs:string" />
        <xs:element name="col3" type="xs:string" />
        <xs:element name="activity" type="xs:string" />
        <xs:element name="addres" type="xs:string" />
        <xs:element name="responsible" type="xs:string" />
        <xs:element name="powersource" type="xs:string" />
        <xs:element name="addressofobject" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="askue" type="xs:anyType" />
        <xs:element name="askueyesornot" type="xs:string" />
        <xs:element name="plan_col" type="xs:double" />
        <xs:element name="fact_col" type="xs:double" />
        <xs:element name="fact_plan_col_out" type="xs:double" />
        <xs:element name="fact_plan_col" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formsevennew" >
      <xs:sequence>
        <xs:element name="col0" type="xs:string" />
        <xs:element name="idrep" type="xs:anyType" />
        <xs:element name="activity" type="xs:string" />
        <xs:element name="addres" type="xs:string" />
        <xs:element name="responsible" type="xs:string" />
        <xs:element name="powersource" type="xs:string" />
        <xs:element name="addressofobject" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="num" type="xs:anyType" />
        <xs:element name="askue" type="xs:anyType" />
        <xs:element name="askueyesornot" type="xs:string" />
        <xs:element name="iddep" type="xs:anyType" />
        <xs:element name="depnamenp" type="xs:string" />
        <xs:element name="depperiddep" type="xs:anyType" />
        <xs:element name="deppernamenp" type="xs:string" />
        <xs:element name="idres" type="xs:anyType" />
        <xs:element name="resname" type="xs:string" />
        <xs:element name="plan_col" type="xs:anyType" />
        <xs:element name="fact_col" type="xs:anyType" />
        <xs:element name="dt_inputfact" type="xs:anyType" />
        <xs:element name="fact_plan_col_out" type="xs:double" />
        <xs:element name="fact_plan_col" type="xs:string" />
        <xs:element name="mas" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="idvp" type="xs:long" />
          <xs:element name="namevp" type="xs:string" />
          <xs:element name="idgroupvp" type="xs:long" />
          <xs:element name="idactionvp" type="xs:long" />
          <xs:element name="idnp" type="xs:long" />
          <xs:element name="namenp" type="xs:string" />
          <xs:element name="idgroupnp" type="xs:long" />
          <xs:element name="idactionnp" type="xs:long" />
          <xs:element name="num" type="xs:long" />
          <xs:element name="viewsubmission" type="xs:string" />
          <xs:element name="idviewsubmission" type="xs:long" />
          <xs:element name="typecommunication" type="xs:string" />
          <xs:element name="idtypecommunication" type="xs:long" />
          <xs:element name="dteditnsi" type="xs:dateTime" />
          <xs:element name="dtbeginnsi" type="xs:dateTime" />
          <xs:element name="_id" type="departmentgroup" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="counter" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="askue" type="xs:anyType" />
        <xs:element name="сounterinputaskyeinfo" type="inputaskyeinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="inputaskye" type="inputaskye" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dt_end" type="xs:dateTime" />
        <xs:element name="dt_create" type="xs:dateTime" />
        <xs:element name="deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdetailsform3" >
      <xs:sequence>
        <xs:element name="dep" type="department" nillable="true" minOccurs="0" />
        <xs:element name="//departmentdeprepid" type="xs:long" />
        <xs:element name="//resourcegetactiveresource()cell1" type="xs:double" />
        <xs:element name="cell2" type="xs:double" />
        <xs:element name="cell3" type="xs:double" />
        <xs:element name="cell4" type="typeterform3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cell5" type="xs:double" />
        <xs:element name="cell6" type="xs:double" />
        <xs:element name="cell7" type="xs:double" />
        <xs:element name="cell8" type="xs:double" />
        <xs:element name="cell9" type="xs:double" />
        <xs:element name="cell10" type="xs:double" />
        <xs:element name="cell11" type="xs:double" />
        <xs:element name="cell12" type="xs:double" />
        <xs:element name="cell13" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resource" >
      <xs:complexContent>
       <xs:extension base="data_info{">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="" type="typeter" nillable="true" minOccurs="0" />
          <xs:element name="" type="measure" nillable="true" minOccurs="0" />
          <xs:element name="cost" type="costdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="koef" type="xs:double" />
          <xs:element name="koef_polution" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailsform5" >
      <xs:sequence>
        <xs:element name="plane" type="xs:anyType" />
        <xs:element name="facte" type="xs:anyType" />
        <xs:element name="factem" type="xs:anyType" />
        <xs:element name="plang" type="xs:anyType" />
        <xs:element name="factg" type="xs:anyType" />
        <xs:element name="factgm" type="xs:anyType" />
        <xs:element name="pland" type="xs:anyType" />
        <xs:element name="factd" type="xs:anyType" />
        <xs:element name="factdm" type="xs:anyType" />
        <xs:element name="planb" type="xs:anyType" />
        <xs:element name="factb" type="xs:anyType" />
        <xs:element name="factbm" type="xs:anyType" />
        <xs:element name="planm" type="xs:anyType" />
        <xs:element name="factm" type="xs:anyType" />
        <xs:element name="factmm" type="xs:anyType" />
        <xs:element name="plany" type="xs:anyType" />
        <xs:element name="facty" type="xs:anyType" />
        <xs:element name="factym" type="xs:anyType" />
        <xs:element name="planma" type="xs:anyType" />
        <xs:element name="factma" type="xs:anyType" />
        <xs:element name="factmam" type="xs:anyType" />
        <xs:element name="planda" type="xs:anyType" />
        <xs:element name="factda" type="xs:anyType" />
        <xs:element name="factdam" type="xs:anyType" />
        <xs:element name="facts" type="xs:anyType" />
        <xs:element name="factsm" type="xs:anyType" />
        <xs:element name="facto" type="xs:anyType" />
        <xs:element name="facto2" type="xs:anyType" />
        <xs:element name="facty0" type="xs:anyType" />
        <xs:element name="facty2" type="xs:anyType" />
        <xs:element name="idgroup" type="xs:anyType" />
        <xs:element name="namenpgroup" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="namenp" type="xs:string" />
        <xs:element name="idf2" type="xs:anyType" />
        <xs:element name="cell4" type="typeterform3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportform2_del" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportdetailsform2" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="id" type="report" nillable="true" minOccurs="0" />
          <xs:element name="form2" type="report" nillable="true" minOccurs="0" />
          <xs:element name="/*@joincolumn(name" type="xs:string" />
          <xs:element name="" type="department" nillable="true" minOccurs="0" />
          <xs:element name="repid" type="xs:long" />
          <xs:element name="inputactivityplan" type="xs:string" />
          <xs:element name="inputactivityfact" type="xs:string" />
          <xs:element name="form2coll7" type="xs:double" />
          <xs:element name="form2coll8" type="xs:double" />
          <xs:element name="form2coll9" type="xs:double" />
          <xs:element name="form2coll10" type="xs:double" />
          <xs:element name="fiochief" type="xs:string" />
          <xs:element name="phonechief" type="xs:string" />
          <xs:element name="rorschief" type="xs:string" />
          <xs:element name="askye" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailsform4" >
      <xs:sequence>
        <xs:element name="plan_tyt" type="xs:anyType" />
        <xs:element name="fact_tyt" type="xs:anyType" />
        <xs:element name="plane" type="xs:anyType" />
        <xs:element name="facte" type="xs:anyType" />
        <xs:element name="factaskue" type="xs:anyType" />
        <xs:element name="allpred" type="xs:anyType" />
        <xs:element name="planproc" type="xs:anyType" />
        <xs:element name="factproc" type="xs:anyType" />
        <xs:element name="idgroup" type="xs:anyType" />
        <xs:element name="namenpgroup" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="namenp" type="xs:string" />
        <xs:element name="idf2" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputexcelerror" >
      <xs:sequence>
        <xs:element name="inf1" type="xs:string" />
        <xs:element name="inf2" type="xs:string" />
        <xs:element name="inf3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeterform3" >
      <xs:complexContent>
       <xs:extension base="typeter">
         <xs:sequence>
          <xs:element name="summ_plan" type="xs:double" />
          <xs:element name="summ_fact" type="xs:double" />
          <xs:element name="summ_ek" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="/***1форма*/costs" type="costdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="costsshort" type="shortinforesource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="dt_inputplan" type="xs:dateTime" />
          <xs:element name="dt_inputfact" type="xs:dateTime" />
          <xs:element name="dt_begin" type="xs:dateTime" />
          <xs:element name="time_begin" type="xs:dateTime" />
          <xs:element name="time_finish" type="xs:dateTime" />
          <xs:element name="" type="form" nillable="true" minOccurs="0" />
          <xs:element name="usr" type="user" nillable="true" minOccurs="0" />
          <xs:element name="" type="department" nillable="true" minOccurs="0" />
          <xs:element name="details" type="reportdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="detailsform2" type="reportdetailsform2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="reportdetailsform2" nillable="true" minOccurs="0" />
          <xs:element name="dt_solveinputplan" type="xs:dateTime" />
          <xs:element name="solveinputplan" type="xs:anyType" />
          <xs:element name="usrsolveplaninput" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportdetailswithadditionalid" >
      <xs:complexContent>
       <xs:extension base="reportdetails{">
         <xs:sequence>
          <xs:element name="addid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportdetails" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="" type="report" nillable="true" minOccurs="0" />
          <xs:element name="" type="resource" nillable="true" minOccurs="0" />
          <xs:element name="dt_inputfact" type="xs:dateTime" />
          <xs:element name="/*проверкавведенилинетфакт*/dt_inputfact_test" type="xs:anyType" />
          <xs:element name="/***1форма*/activity" type="xs:string" />
          <xs:element name="plan_col" type="xs:double" />
          <xs:element name="plan_tut" type="xs:double" />
          <xs:element name="plan_money" type="xs:double" />
          <xs:element name="fact_col" type="xs:double" />
          <xs:element name="fact_tut" type="xs:double" />
          <xs:element name="fact_money" type="xs:double" />
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="addressofobject" type="xs:string" />
          <xs:element name="powersource" type="xs:string" />
          <xs:element name="type" type="xs:string" />
          <xs:element name="num" type="xs:long" />
          <xs:element name="askue" type="xs:anyType" />
          <xs:element name="addres" type="xs:string" />
          <xs:element name="usedbefore" type="xs:double" />
          <xs:element name="usedtoday" type="xs:double" />
          <xs:element name="shortres" type="shortinforesource" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailsform2_dop" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dt_begin" type="xs:dateTime" />
        <xs:element name="dt_create" type="xs:dateTime" />
        <xs:element name="fio" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="iddep" type="xs:anyType" />
        <xs:element name="namenp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputaskyeinfo" >
      <xs:sequence>
        <xs:element name="/*manytoone@joincolumn(name" type="xs:double" />
        <xs:element name="hhtoday" type="xs:double" />
        <xs:element name="input" type="counter" nillable="true" minOccurs="0" />
        <xs:element name="inf" type="inputaskye" nillable="true" minOccurs="0" />
        <xs:element name="hh" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detailsform2" >
      <xs:sequence>
        <xs:element name="plan_tyt" type="xs:anyType" />
        <xs:element name="fact_tyt" type="xs:anyType" />
        <xs:element name="plane" type="xs:anyType" />
        <xs:element name="facte" type="xs:anyType" />
        <xs:element name="factaskue" type="xs:anyType" />
        <xs:element name="idrep" type="xs:anyType" />
        <xs:element name="dt_inputfact" type="xs:dateTime" />
        <xs:element name="dt_inputplan" type="xs:dateTime" />
        <xs:element name="dt_begin" type="xs:dateTime" />
        <xs:element name="time_begin" type="xs:dateTime" />
        <xs:element name="time_finish" type="xs:dateTime" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="namenp" type="xs:string" />
        <xs:element name="idrepf2" type="xs:anyType" />
        <xs:element name="iddetailsf2" type="xs:anyType" />
        <xs:element name="fiochief" type="xs:string" />
        <xs:element name="phonechief" type="xs:string" />
        <xs:element name="rorschief" type="xs:string" />
        <xs:element name="inputactivityplan" type="xs:string" />
        <xs:element name="inputactivityfact" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="costs" >
      <xs:complexContent>
       <xs:extension base="data_info{">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="costdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="usr" type="user" nillable="true" minOccurs="0" />
          <xs:element name="railway" type="xs:long" />
          <xs:element name="year" type="xs:anyType" />
          <xs:element name="month" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="measure" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="valuehtml" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typeter" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="resources" type="resource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inputaskye" >
      <xs:sequence>
        <xs:element name="/*@manytoone@joincolumn(name" type="xs:dateTime" />
        <xs:element name="dttoday" type="xs:dateTime" />
        <xs:element name="inputcounter" type="counter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dt_end" type="xs:dateTime" />
        <xs:element name="dt_create" type="xs:dateTime" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="inputaskyeinputaskyeinf" type="inputaskyeinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="form" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="serialnumform" type="xs:long" />
          <xs:element name="fullnameform" type="xs:string" />
          <xs:element name="shortnameform" type="xs:string" />
          <xs:element name="pageaddress" type="xs:string" />
          <xs:element name="/*@onetomany(fetch" type="report" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/*@onetomany(mappedby" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formgraf" >
      <xs:sequence>
        <xs:element name="year1,month1" type="xs:long" />
        <xs:element name="d" type="xs:anyType" />
        <xs:element name="iddep" type="xs:anyType" />
        <xs:element name="depnamenp" type="xs:string" />
        <xs:element name="depperiddep" type="xs:anyType" />
        <xs:element name="deppernamenp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentgroup" >
      <xs:complexContent>
       <xs:extension base="data_info">
         <xs:sequence>
          <xs:element name="namenp" type="xs:string" />
          <xs:element name="dteditnsi" type="xs:dateTime" />
          <xs:element name="dtbeginnsi" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="data_info" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="dt_end" type="xs:dateTime" />
        <xs:element name="dt_create" type="xs:dateTime" />
        <xs:element name="deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyinputaskyeinfo" >
      <xs:sequence>
        <xs:element name="input" type="counter" nillable="true" minOccurs="0" />
        <xs:element name="inf" type="inputaskye" nillable="true" minOccurs="0" />
        <xs:element name="hh" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="costdetails" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="common" type="costs" nillable="true" minOccurs="0" />
        <xs:element name="cost" type="xs:double" />
        <xs:element name="GeneratedName" type="resource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="costspagemodel" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="costs" nillable="true" minOccurs="0" />
        <xs:element name="selected" type="xs:dateTime" />
        <xs:element name="userfio" type="xs:string" />
        <xs:element name="railwayname" type="xs:string" />
        <xs:element name="railwayid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentparentmodel" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="department" nillable="true" minOccurs="0" />
        <xs:element name="//idегодорогиid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onepagemodel" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="resource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//отчетпозеленойпятницеrep" type="report" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermodel" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:long" />
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="departmentpower" type="xs:long" />
        <xs:element name="num" type="xs:long" />
        <xs:element name="idtype" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formenabled" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="form" nillable="true" minOccurs="0" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formonepagebean" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="list" type="resource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="rep" type="report" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="meslist" type="reportdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="meslistnew" type="reportdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/*возможностьредактироватьеслипринадлежитдепо*/t_dep_form" type="xs:anyType" />
          <xs:element name="/*возможностьредактироватьфакт*/t_fact_form" type="xs:anyType" />
          <xs:element name="/*датыдоступностиредактированиядат*///stringdt_max_cal_st//stringdt_min_cal_st/*редактированиеилидобавление*/redactor" type="xs:anyType" />
          <xs:element name="/*блокировкаграф35приредактировании*/bloc_rec_fact" type="xs:anyType" />
          <xs:element name="/*выбраннаястрока*/selecteddetails" type="reportdetails" nillable="true" minOccurs="0" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="sp_blok" type="xs:anyType" />
          <xs:element name="/*предоставлениедоступанаредактированиядляредактированиянтэцпосле15часов*/ntec_blok" type="xs:anyType" />
          <xs:element name="/*предоставлениедоступанаредактированиянтэцпосле15часов(появлениекнопки)*/button_ntec_blok" type="xs:anyType" />
          <xs:element name="/*блокировкапоистечению3сутокдо12часовпослепроведенияакции*/bloc_out_time_input_all" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filedownloadcontrolleradmin" >
      <xs:sequence>
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedownloadcontrollerreg" >
      <xs:sequence>
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formbean" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="" type="departmenttreepagebean" nillable="true" minOccurs="0" />
          <xs:element name="frm" type="xs:string" />
          <xs:element name="frmaddress" type="xs:string" />
          <xs:element name="frmid" type="xs:long" />
          <xs:element name="//<editor-folddefaultstate" type="forminfo" nillable="true" minOccurs="0" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="day" type="xs:dateTime" />
          <xs:element name="mes" type="xs:string" />
          <xs:element name="year" type="xs:string" />
          <xs:element name="daybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//месяцначалапериодаmesbeg" type="xs:long" />
          <xs:element name="//месяцконцапериодаmesend" type="xs:long" />
          <xs:element name="//годначалапериодаyearbeg" type="xs:long" />
          <xs:element name="//годконцапериодаyearend" type="xs:long" />
          <xs:element name="listrepformdep" type="shortinforeport" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="d1" type="xs:long" />
          <xs:element name="idform1" type="xs:long" />
          <xs:element name="listrepform" type="shortinforeport" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formfourpagebeannew" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="t_mes1" type="xs:anyType" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="detailsform4list" type="detailsform4" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="mes_new" type="xs:string" />
          <xs:element name="daybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formcosts" >
      <xs:complexContent>
       <xs:extension base="basepage{">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="model" type="costspagemodel" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formbeanold" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="form" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="listrep" type="report" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="namedep" type="xs:string" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="day" type="xs:dateTime" />
          <xs:element name="mes" type="xs:string" />
          <xs:element name="year" type="xs:string" />
          <xs:element name="daybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentpagebeannew" >
      <xs:complexContent>
       <xs:extension base="adminpage">
         <xs:sequence>
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="selectednode" type="xs:anyType" />
          <xs:element name="depar" type="department" nillable="true" minOccurs="0" />
          <xs:element name="deparnode" type="department" nillable="true" minOccurs="0" />
          <xs:element name="deparselect" type="xs:anyType" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="tab" type="xs:long" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="depgroupselected" type="departmentgroup" nillable="true" minOccurs="0" />
          <xs:element name="depgroup" type="departmentgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="test" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formfourpagebean_del" >
      <xs:sequence>
        <xs:element name="font" type="xs:string" />
        <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
        <xs:element name="//intmes//intyearaskye" type="xs:double" />
        <xs:element name="coll7" type="xs:double" />
        <xs:element name="coll8" type="xs:double" />
        <xs:element name="coll9" type="xs:double" />
        <xs:element name="coll10" type="xs:double" />
        <xs:element name="mes_new" type="xs:string" />
        <xs:element name="//mes_newdaybegin" type="xs:string" />
        <xs:element name="dayend" type="xs:string" />
        <xs:element name="daybegind" type="xs:dateTime" />
        <xs:element name="dayendd" type="xs:dateTime" />
        <xs:element name="reportdetailsform2list" type="reportdetailsform2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentpagebean" >
      <xs:complexContent>
       <xs:extension base="adminpage">
         <xs:sequence>
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="selectednode" type="xs:anyType" />
          <xs:element name="depar" type="department" nillable="true" minOccurs="0" />
          <xs:element name="inputdep" type="department" nillable="true" minOccurs="0" />
          <xs:element name="deparselect" type="xs:anyType" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autorisationpagebean" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="bean" type="autorizationbean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formfivepagebean" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="mes_new" type="xs:string" />
          <xs:element name="//intmes//intyeardaybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="reportdetailsform3list" type="reportdetailsform3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formtwopagebean1" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="repform2" type="report" nillable="true" minOccurs="0" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="tr" type="xs:anyType" />
          <xs:element name="id_go" type="xs:anyType" />
          <xs:element name="/*датыдоступностиредактированиядат*/dt_max_cal_st" type="xs:string" />
          <xs:element name="dt_min_cal_st" type="xs:string" />
          <xs:element name="dt_min_cal_st_new" type="xs:string" />
          <xs:element name="/*stringfiochiefstringphonechiefstringrorschief*//*datemespublicdategetmes(){returnmes}publicvoidsetmes(datemes){this.mes" type="xs:double" />
          <xs:element name="coll7" type="xs:double" />
          <xs:element name="coll8" type="xs:double" />
          <xs:element name="coll9" type="xs:double" />
          <xs:element name="coll10" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pathbean" >
      <xs:sequence>
        <xs:element name="f" type="xs:long" />
        <xs:element name="str" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="saveuserpagebean" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="user" nillable="true" minOccurs="0" />
        <xs:element name="oldlogin" type="xs:string" />
        <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
        <xs:element name="types" type="usertype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="costlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shortinforesource" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:long" />
        <xs:element name="//названиересурсаname" type="xs:string" />
        <xs:element name="//ценанаресурсcost" type="xs:double" />
        <xs:element name="//коэффициентзагрязненияокр.средыkoef_polution" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shortinforeport" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:long" />
        <xs:element name="//фиопользователяfio" type="xs:string" />
        <xs:element name="//датаначалаdt_begin" type="xs:dateTime" />
        <xs:element name="//idформыотчетаformid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspagebean" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="filteredbeanlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dep" type="departmentpagebean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedownloadcontroller" >
      <xs:sequence>
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formfivepagebeannew" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="mes_new" type="xs:string" />
          <xs:element name="//intmes//intyeardaybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
          <xs:element name="t_mes1" type="xs:anyType" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="reportdetailsform5list" type="detailsform5" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formtreepagebean_del" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formonepagebeanold" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="//<editor-folddefaultstate" type="xs:string" />
          <xs:element name="list" type="resource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="rep" type="report" nillable="true" minOccurs="0" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="meslist" type="reportdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="meslistnew" type="reportdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/*возможностьредактироватьеслипринадлежитдепо*/t_dep_form" type="xs:anyType" />
          <xs:element name="/*возможностьредактироватьфакт*/t_fact_form" type="xs:anyType" />
          <xs:element name="/*датыдоступностиредактированиядат*///stringdt_max_cal_st//stringdt_min_cal_st/*редактированиеилидобавление*/redactor" type="xs:anyType" />
          <xs:element name="/*блокировкаграф35приредактировании*/bloc_rec_fact" type="xs:anyType" />
          <xs:element name="/*выбраннаястрока*/selecteddetails" type="reportdetails" nillable="true" minOccurs="0" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="sp_blok" type="xs:anyType" />
          <xs:element name="/*предоставлениедоступанаредактированиядляредактированиянтэцпосле15часов*/ntec_blok" type="xs:anyType" />
          <xs:element name="/*предоставлениедоступанаредактированиянтэцпосле15часов(появлениекнопки)*/button_ntec_blok" type="xs:anyType" />
          <xs:element name="/*блокировкапоистечению3сутокдо12часовпослепроведенияакции*/bloc_out_time_input_all" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="saveuserpagebean1" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="user" nillable="true" minOccurs="0" />
        <xs:element name="oldlogin" type="xs:string" />
        <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
        <xs:element name="types" type="usertype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dep" type="departmentpagebeannew" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputaskyepagebean" >
      <xs:sequence>
        <xs:element name="errlist" type="inputexcelerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grafpagebean" >
      <xs:sequence>
        <xs:element name="//barchartmodelanimatedmodel2dd" type="xs:anyType" />
        <xs:element name="/*publicbarchartmodelgetanimatedmodel2(){returnanimatedmodel2}voidcreateanimatedmodels(){animatedmodel2" type="xs:string" />
        <xs:element name="//intmes//intyeardaybegin" type="xs:string" />
        <xs:element name="dayend" type="xs:string" />
        <xs:element name="daybegind" type="xs:dateTime" />
        <xs:element name="dayendd" type="xs:dateTime" />
        <xs:element name="reportformgraf" type="formgraf" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formsixpagebean" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="where" type="xs:string" />
          <xs:element name="font" type="xs:string" />
          <xs:element name="one" type="formonepagebean" nillable="true" minOccurs="0" />
          <xs:element name="list" type="reportdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addtreedepartment" >
      <xs:sequence>
        <xs:element name="addresstree" type="xs:string" />
        <xs:element name="addressform" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmenttreepagebean" >
      <xs:sequence>
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="selectednode" type="xs:anyType" />
        <xs:element name="deparnode" type="department" nillable="true" minOccurs="0" />
        <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formsevenpagebean" >
      <xs:sequence>
        <xs:element name="font" type="xs:string" />
        <xs:element name="daybegin" type="xs:string" />
        <xs:element name="dayend" type="xs:string" />
        <xs:element name="daybegind" type="xs:dateTime" />
        <xs:element name="dayendd" type="xs:dateTime" />
        <xs:element name="formsevenlist" type="formsevennew" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="month" type="xs:string" />
        <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formtreepagebean1new" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="mes_new" type="xs:string" />
          <xs:element name="//intmes//intyeardaybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
          <xs:element name="t_mes1" type="xs:anyType" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="reportdetailsform5list" type="detailsform5" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formtreepagebean1" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="mes_new" type="xs:string" />
          <xs:element name="daybegin" type="xs:string" />
          <xs:element name="dayend" type="xs:string" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
          <xs:element name="/***createsanewinstanceofformtreepagebean1*/session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="reportdetailsform3list" type="reportdetailsform3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="reportdetailsform3" nillable="true" minOccurs="0" />
          <xs:element name="dep" type="department" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filedownloadcontrollergoogle" >
      <xs:sequence>
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspagebeannew1" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="filteredbeanlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dep" type="departmentpagebeannew" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formtwopagebeannew_del" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="repform2" type="report" nillable="true" minOccurs="0" />
          <xs:element name="session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="/*датыдоступностиредактированиядат*/dt_max_cal_st" type="xs:string" />
          <xs:element name="dt_min_cal_st" type="xs:string" />
          <xs:element name="dt_min_cal_st_new" type="xs:string" />
          <xs:element name="f2dop" type="detailsform2_dop" nillable="true" minOccurs="0" />
          <xs:element name="listf2dop" type="detailsform2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
          <xs:element name="plan_tyt" type="xs:double" />
          <xs:element name="fact_tyt" type="xs:double" />
          <xs:element name="plane" type="xs:double" />
          <xs:element name="facte" type="xs:double" />
          <xs:element name="factaskue" type="xs:double" />
          <xs:element name="tr3" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="/*кнопкасохранитьикалендарь*/tr" type="xs:anyType" />
          <xs:element name="/*еслименяемдатунадругоймесяц*/tr1" type="xs:anyType" />
          <xs:element name="id_go" type="xs:anyType" />
          <xs:element name="/*publicreportgetrepform2(){returnrepform2}publicvoidsetrepform2(reportrepform2){this.repform2" type="xs:double" />
          <xs:element name="coll7" type="xs:double" />
          <xs:element name="coll8" type="xs:double" />
          <xs:element name="coll9" type="xs:double" />
          <xs:element name="coll10" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportdetailfact" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspagebeannew" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="filteredbeanlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dep" type="departmentpagebeannew" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="saverightspagebean" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="saveuserpagebean1" nillable="true" minOccurs="0" />
        <xs:element name="//списокимеющихсяформиналичияправнанихlist" type="formenabled" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formtwopagebeannew" >
      <xs:complexContent>
       <xs:extension base="basepage">
         <xs:sequence>
          <xs:element name="font" type="xs:string" />
          <xs:element name="//reportrepform2session" type="autorizationbean" nillable="true" minOccurs="0" />
          <xs:element name="/*датыдоступностиредактированиядат*/dt_max_cal_st" type="xs:string" />
          <xs:element name="dt_min_cal_st" type="xs:string" />
          <xs:element name="dt_min_cal_st_new" type="xs:string" />
          <xs:element name="f2dop" type="detailsform2_dop" nillable="true" minOccurs="0" />
          <xs:element name="listf2dop" type="detailsform2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="daybegind" type="xs:dateTime" />
          <xs:element name="dayendd" type="xs:dateTime" />
          <xs:element name="plan_tyt" type="xs:double" />
          <xs:element name="fact_tyt" type="xs:double" />
          <xs:element name="plane" type="xs:double" />
          <xs:element name="facte" type="xs:double" />
          <xs:element name="factaskue" type="xs:double" />
          <xs:element name="tr3" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="/*кнопкасохранитьикалендарь*/tr" type="xs:anyType" />
          <xs:element name="/*еслименяемдатунадругоймесяц*/tr1" type="xs:anyType" />
          <xs:element name="id_go" type="xs:anyType" />
          <xs:element name="/*publicreportgetrepform2(){returnrepform2}publicvoidsetrepform2(reportrepform2){this.repform2" type="xs:double" />
          <xs:element name="coll7" type="xs:double" />
          <xs:element name="coll8" type="xs:double" />
          <xs:element name="coll9" type="xs:double" />
          <xs:element name="coll10" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="measurespagebean" >
      <xs:sequence>
        <xs:element name="list" type="measure" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formtwopagebean_del" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autorizationbean" >
      <xs:sequence>
        <xs:element name="//<editor-folddefaultstate" type="usermodel" nillable="true" minOccurs="0" />
        <xs:element name="error" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkrights" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basepage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionphaselistener" >
      <xs:sequence>
        <xs:element name="homepage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringimprover" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourceconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shortinforesourceconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="department_url" type="xs:string" />
        <xs:element name="departmenttree_url" type="xs:string" />
        <xs:element name="form_url" type="xs:string" />
        <xs:element name="user_url" type="xs:string" />
        <xs:element name="user_url_g" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propetries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 