help16/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:complexContent>
       <xs:extension base="jpabaseconfiguration">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="qkentitymanagersetupimpl" >
      <xs:complexContent>
       <xs:extension base="entitymanagersetupimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="qkjpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="eclipselinkjpavendoradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="qkpersistenceprovider" >
      <xs:complexContent>
       <xs:extension base="org.eclipse.persistence.jpa.persistenceprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="qkentitymanagerfactory" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactoryimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bmoocrd" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cardcode" type="xs:string" />
        <xs:element name="cardname" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 