https-github.com-apache-camel1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="row1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="row2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integrationtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customertransformer" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondocument" >
      <xs:sequence>
        <xs:element name="user" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="city" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:complexContent>
       <xs:extension base="org.apache.camel.spring.main">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="etlroutes" >
      <xs:complexContent>
       <xs:extension base="springroutebuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 