bccAnagrafiche/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="clienteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utenteservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filialeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filialerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordiniserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articolirepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ordinirepository" nillable="true" minOccurs="0" />
        <xs:element name="dettagliordinirepository" type="dettagliordinerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clienteserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clienterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordiniservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articoliserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articolirepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utenteserviceimpl" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="utenterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="filialerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="ruolorepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statisticsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="statisticsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="variazioneclienterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articoliservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filialeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionhandleradvice" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="utilclass" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filialerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconstants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrestcontroller" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jwttokenprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branchsearchcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwttokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filialeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="utenteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordinicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwttokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="utenteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ordiniservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pingcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customermarkaseditedcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwttokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="clienteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="utenteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="variazioneclienterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statsrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="statisticsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="clienteservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articolicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwttokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="utenteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articoliservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersearchcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clienteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filialerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerconfirmedlistcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clienteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="variazioneclienterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationresponse" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="accesstoken" type="xs:string" />
          <xs:element name="tokentype" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="roles" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwttokenprovider" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="//12oreexipiration_time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationentrypoint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="jwttokenprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tomcatapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dettagliordinirepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dettagliordine,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statisticsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cliente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ruolorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ruoloutente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordinirepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ordini,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articolirepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<articoli,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dettagliordinerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dettagliordine,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="variazioneclienterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<variazionecliente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filialerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<filiale,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="utenterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<utente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clienterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cliente,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="filiali" type="filiale" nillable="true" minOccurs="0" />
        <xs:element name="nag" type="xs:string" />
        <xs:element name="cab" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="datanascita" type="xs:dateTime" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="p1" type="xs:anyType" />
        <xs:element name="p2" type="xs:anyType" />
        <xs:element name="p3" type="xs:anyType" />
        <xs:element name="p4" type="xs:anyType" />
        <xs:element name="p5" type="xs:anyType" />
        <xs:element name="p6" type="xs:anyType" />
        <xs:element name="p7" type="xs:anyType" />
        <xs:element name="firma" type="xs:anyType" />
        <xs:element name="codice" type="xs:string" />
        <xs:element name="confermato" type="xs:anyType" />
        <xs:element name="utenti" type="utente" nillable="true" minOccurs="0" />
        <xs:element name="lastmodify" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="variazionecliente" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="clienti" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="campo" type="xs:string" />
        <xs:element name="utenti" type="utente" nillable="true" minOccurs="0" />
        <xs:element name="lastmodify" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruoloutente" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="ruolo" type="xs:string" />
        <xs:element name="utenti" type="utente" nillable="true" minOccurs="0" />
        <xs:element name="lastmodify" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articoli" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codicearticolo" type="xs:string" />
        <xs:element name="nomeprodotto" type="xs:string" />
        <xs:element name="descrizione" type="xs:string" />
        <xs:element name="dettagliordine" type="dettagliordine" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filiale" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="codice" type="xs:anyType" />
        <xs:element name="cab" type="xs:string" />
        <xs:element name="lastmodify" type="xs:dateTime" />
        <xs:element name="clienti" type="cliente" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="utenti" type="utente" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordini" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codiceordine" type="xs:string" />
        <xs:element name="dataordine" type="xs:dateTime" />
        <xs:element name="dettagliordine" type="dettagliordine" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utente" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="filiali" type="filiale" nillable="true" minOccurs="0" />
        <xs:element name="ruoliutenti" type="ruoloutente" nillable="true" minOccurs="0" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cognome" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="statoattivo" type="xs:anyType" />
        <xs:element name="cambiopassword" type="xs:anyType" />
        <xs:element name="lastmodify" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dettagliordine" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="articolo" type="articoli" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ordini" nillable="true" minOccurs="0" />
        <xs:element name="quantità" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="variazionegroupedinfo" >
      <xs:sequence>
        <xs:element name="campo" type="xs:string" />
        <xs:element name="tot" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelparser" >
      <xs:sequence>
        <xs:element name="filiali" type="xs:anyType" />
        <xs:element name="idfiliale" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientegroupedinfo" >
      <xs:sequence>
        <xs:element name="confermato" type="xs:anyType" />
        <xs:element name="tot" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerconfirmedlistresponse" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nag" type="xs:string" />
        <xs:element name="codice" type="xs:string" />
        <xs:element name="data" type="xs:dateTime" />
        <xs:element name="filiale" type="xs:string" />
        <xs:element name="telefonoedited" type="xs:anyType" />
        <xs:element name="emailedited" type="xs:anyType" />
        <xs:element name="p1edited" type="xs:anyType" />
        <xs:element name="p2edited" type="xs:anyType" />
        <xs:element name="p3edited" type="xs:anyType" />
        <xs:element name="p4edited" type="xs:anyType" />
        <xs:element name="p5edited" type="xs:anyType" />
        <xs:element name="p6edited" type="xs:anyType" />
        <xs:element name="firmaedited" type="xs:anyType" />
        <xs:element name="editedfieldssummary" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercredentials" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articolirequests" >
      <xs:sequence>
        <xs:element name="codart" type="xs:string" />
        <xs:element name="nomeprodotto" type="xs:string" />
        <xs:element name="descrizione" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticsresponse" >
      <xs:sequence>
        <xs:element name="totcustomers" type="xs:long" />
        <xs:element name="totconfirmedrecords" type="xs:long" />
        <xs:element name="totchangedrecords" type="xs:long" />
        <xs:element name="totnotconfirmedrecords" type="xs:long" />
        <xs:element name="toteditedphone" type="xs:long" />
        <xs:element name="toteditedemail" type="xs:long" />
        <xs:element name="toteditedprivacy1" type="xs:long" />
        <xs:element name="toteditedprivacy2" type="xs:long" />
        <xs:element name="toteditedprivacy3" type="xs:long" />
        <xs:element name="toteditedprivacy4" type="xs:long" />
        <xs:element name="toteditedprivacy5" type="xs:long" />
        <xs:element name="toteditedprivacy6" type="xs:long" />
        <xs:element name="toteditedfirma" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="markaseditedrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="telefono" type="xs:anyType" />
        <xs:element name="email" type="xs:anyType" />
        <xs:element name="p1" type="xs:anyType" />
        <xs:element name="p2" type="xs:anyType" />
        <xs:element name="p3" type="xs:anyType" />
        <xs:element name="p4" type="xs:anyType" />
        <xs:element name="p5" type="xs:anyType" />
        <xs:element name="p6" type="xs:anyType" />
        <xs:element name="firma" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordiniinsert" >
      <xs:sequence>
        <xs:element name="codordine" type="xs:string" />
        <xs:element name="articolilist" type="articoliquantità" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentfile" >
      <xs:sequence>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="filebytes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordinihandler" >
      <xs:sequence>
        <xs:element name="codordine" type="xs:string" />
        <xs:element name="dataordine" type="xs:dateTime" />
        <xs:element name="articolilist" type="articoliquantità" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersearchrequest" >
      <xs:sequence>
        <xs:element name="idfiliale" type="xs:anyType" />
        <xs:element name="nag" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="datanascita" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articoliquantità" >
      <xs:sequence>
        <xs:element name="codart" type="xs:string" />
        <xs:element name="quantità" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticsrequest" >
      <xs:sequence>
        <xs:element name="branch" type="xs:string" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityrolesconstants" >
      <xs:sequence>
        <xs:element name="//jwtsecret" type="xs:string" />
        <xs:element name="token_prefix" type="xs:string" />
        <xs:element name="header_" type="xs:string" />
        <xs:element name="//ruoliutentiadmin" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="role_admin" type="xs:string" />
        <xs:element name="role_user" type="xs:string" />
        <xs:element name="role_guest" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clienteconstants" >
      <xs:sequence>
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="p1" type="xs:string" />
        <xs:element name="p2" type="xs:string" />
        <xs:element name="p3" type="xs:string" />
        <xs:element name="p4" type="xs:string" />
        <xs:element name="p5" type="xs:string" />
        <xs:element name="p6" type="xs:string" />
        <xs:element name="firma" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="unauthorizedhandler" type="jwtauthenticationentrypoint" nillable="true" minOccurs="0" />
          <xs:element name="" type="utenteservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 