fullstack986/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="stockpriceserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockprice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="stock_exchange" type="xs:string" />
        <xs:element name="current_price" type="xs:double" />
        <xs:element name="opendatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpriceserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpriceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stockpricedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpriceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpricedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<stockprice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stockpricerestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stockpricedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stockpriceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 