fullstack986/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="stockprice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="stock_exchange" type="xs:string" />
        <xs:element name="current_price" type="xs:double" />
        <xs:element name="opendatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 