hibernate-springboot/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="passwordconstraintvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailvalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="email_pattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//regexemailregex_email" type="xs:string" />
        <xs:element name="regex_website" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validpassword" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uservalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagereceiver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalloggingaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlogginaspect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestmessage" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weblogaspect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="requestmessage" type="requestmessage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="subcategoryrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<subcategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filerepository" >
      <xs:complexContent>
       <xs:extension base="repository<file,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iuserrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<task,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contactrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<contact,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="guestrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<guest,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="topicrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<topic,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projectrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<project,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerrepositoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balancerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<balance,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencerepositoryimpl" >
      <xs:sequence>
        <xs:element name="//autowired:jdbctemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointmentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<appointment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projectreviewrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<projectreview,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="positionrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<position,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<upload,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskdetailrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<taskdetail,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="irolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<post,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="visitrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<visit,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetuprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<meetup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="icustomerrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<customer,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="courserepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<course,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<tag,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateapplication" >
      <xs:sequence>
        <xs:element name="//addthejmstemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlhelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="captchaverifier" >
      <xs:sequence>
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="verifyurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceabstract" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiabstract" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managerabstract" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="filerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledtask" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postrepository" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledtasks" >
      <xs:sequence>
        <xs:element name="//mysqlbackupscriptmysqlbackupscriptlog" type="xs:anyType" />
        <xs:element name="dateformat2" type="xs:anyType" />
        <xs:element name="dateformat1" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysqlbackupscript" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="//executeshellcomandobj" type="xs:string" />
        <xs:element name="//inmacoxscommand" type="xs:string" />
        <xs:element name="mysqlbackupcommand" type="xs:string" />
        <xs:element name="output" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorydto" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logindto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="emailid" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="success" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="roleid" type="xs:string" />
          <xs:element name="dob" type="xs:string" />
          <xs:element name="address1" type="xs:string" />
          <xs:element name="address2" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="state" type="xs:string" />
          <xs:element name="mobilenumber" type="xs:string" />
          <xs:element name="emailid" type="xs:string" />
          <xs:element name="alternatemobilenumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ftpinfo" >
      <xs:sequence>
        <xs:element name="host" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="homedir" type="xs:string" />
        <xs:element name="//kbmaxdownloadrate" type="xs:long" />
        <xs:element name="//kbmaxuploadrate" type="xs:long" />
        <xs:element name="//gusedspace" type="xs:double" />
        <xs:element name="//gtotalspace" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="photodto" >
      <xs:sequence>
        <xs:element name="photo_id" type="xs:long" />
        <xs:element name="photo_name" type="xs:string" />
        <xs:element name="photo_description" type="xs:string" />
        <xs:element name="photo_likes" type="xs:long" />
        <xs:element name="photo_views" type="xs:long" />
        <xs:element name="upload_data" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="userdto" nillable="true" minOccurs="0" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="photo_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorcodeconstants" >
      <xs:sequence>
        <xs:element name="/***errorcodegenerateformatexample:**30(errortype)001(errorcode)**servicecode:10contact,11communication,12location,13description,14media**errortype:10generalerror,20dberror,30objectmappingerror,*40businesslogicerror,50serviceerror,99normalerror*//***///commonerrorcodeconstantsobject_not_found" type="xs:long" />
        <xs:element name="//dberrorcodeconstantshibernate_exception" type="xs:long" />
        <xs:element name="record_not_found" type="xs:long" />
        <xs:element name="constra_failure" type="xs:long" />
        <xs:element name="record_save_failure" type="xs:long" />
        <xs:element name="record_update_failure" type="xs:long" />
        <xs:element name="record_merge_failure" type="xs:long" />
        <xs:element name="//objectmappingerrorcodeconstantsentity_not_found" type="xs:long" />
        <xs:element name="copy_entity_to_model_exception" type="xs:long" />
        <xs:element name="model_not_found" type="xs:long" />
        <xs:element name="copy_entity_from_model_exception" type="xs:long" />
        <xs:element name="create_entity_exception" type="xs:long" />
        <xs:element name="model_mapping_exception" type="xs:long" />
        <xs:element name="//businesslogicerrorcodeconstantscatalogue_not_found" type="xs:long" />
        <xs:element name="catalogue_model_not_found" type="xs:long" />
        <xs:element name="//serviceerrorcodeconstantscatalogue_service_id_not_found" type="xs:long" />
        <xs:element name="web_service_exception" type="xs:long" />
        <xs:element name="//apiexceptionerrorcodeconstants//normalexceptionerrorcodeconstantsunknown_exception" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormessageconstant" >
      <xs:sequence>
        <xs:element name="object_not_found" type="xs:string" />
        <xs:element name="//dberrormessageconstantsrecord_not_found" type="xs:string" />
        <xs:element name="constraint_failure" type="xs:string" />
        <xs:element name="record_save_failure" type="xs:string" />
        <xs:element name="record_update_failure" type="xs:string" />
        <xs:element name="record_merge_failure" type="xs:string" />
        <xs:element name="//objectmappingerrormessageconstantsentity_not_found" type="xs:string" />
        <xs:element name="copy_entity_to_model_exception" type="xs:string" />
        <xs:element name="model_not_found" type="xs:string" />
        <xs:element name="copy_entity_from_model_exception" type="xs:string" />
        <xs:element name="create_entity_exception" type="xs:string" />
        <xs:element name="model_mapping_exception" type="xs:string" />
        <xs:element name="//businesslogicerrormessageconstantscatalogue_not_found" type="xs:string" />
        <xs:element name="catalogue_model_not_found" type="xs:string" />
        <xs:element name="//serviceerrormessageconstantscatalogue_service_id_not_found" type="xs:string" />
        <xs:element name="web_service_exception" type="xs:string" />
        <xs:element name="//apiexceptionerrormessageconstantsbad_request" type="xs:string" />
        <xs:element name="service_unavailable" type="xs:string" />
        <xs:element name="not_found" type="xs:string" />
        <xs:element name="method_not_allowed" type="xs:string" />
        <xs:element name="not_acceptable" type="xs:string" />
        <xs:element name="unsupported_media_type" type="xs:string" />
        <xs:element name="//apiexceptionerrormessageconstantsauthentication_username_pattern" type="xs:string" />
        <xs:element name="authentication_user_not_found" type="xs:string" />
        <xs:element name="authentication_user_password_mismatch" type="xs:string" />
        <xs:element name="authentication_active_rate_not_found" type="xs:string" />
        <xs:element name="authentication_active_attemp_not_found" type="xs:string" />
        <xs:element name="//normalexceptionerrormessageconstantsunknown_exception" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumconstant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="performer" type="xs:string" />
        <xs:element name="activity" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimage" >
      <xs:sequence>
        <xs:element name="pk" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="contenttype" type="xs:string" />
        <xs:element name="lob" type="xs:anyType" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showcase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="modification" type="xs:dateTime" />
        <xs:element name="creation" type="xs:dateTime" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="//reference//branch//@onetoone(targetentity" type="visit" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="//id//@fieldcategoryid" type="xs:long" />
        <xs:element name="//@field(type" type="xs:string" />
        <xs:element name="//@fielddescription" type="xs:string" />
        <xs:element name="//relationshipmappingprojectreviewset" type="projectreview" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//photosphotos" type="photo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//@timeformat(pattern" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="position" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="persons" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contactemail" type="xs:string" />
        <xs:element name="contactphone" type="xs:string" />
        <xs:element name="//relationshipmappingposts" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//employee-aka.useremployees" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="meetinglist" type="meeting" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="//officeoffices" type="office" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="subcategory" nillable="true" minOccurs="0" />
        <xs:element name="//@jsonignoreposts" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//addphotophoto" type="photo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomoption" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="//relationshiptablerooms" type="room" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meeting" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="departmentlist" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="story" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="storypoints" type="xs:anyType" />
        <xs:element name="sprintid" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorder" >
      <xs:sequence>
        <xs:element name="salesorderid" type="xs:long" />
        <xs:element name="/**theonwhichtheorderwasplaced*/order" type="xs:dateTime" />
        <xs:element name="/**timeatwhichtheorderwasrecorded*/ordertime" type="xs:dateTime" />
        <xs:element name="//totalcostofthesalesordertotalcost" type="xs:long" />
        <xs:element name="/*	*thisfieldmapscustomertoitssalesorder	*asalesorderwillhaveonecustomer,butacustomercanhave	*multiplesalesorder	*//*	@joincolumn(name" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="node" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="parent" type="node" nillable="true" minOccurs="0" />
        <xs:element name="children" type="node" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ranking" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="office" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskdetail" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="registrationnumber" type="xs:string" />
        <xs:element name="//relationship" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderstatus" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userstatusenum" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weekday" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editiontype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agerestriction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//////egeriduserid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="//@basic(optional" type="xs:string" />
        <xs:element name="_of_birth" type="xs:dateTime" />
        <xs:element name="registered" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="website" type="xs:string" />
        <xs:element name="//@onetomany(cascade" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="contact" nillable="true" minOccurs="0" />
        <xs:element name="////@manytoone(fetch" type="meetup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//meetupattendingmeetupsattending" type="meetup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//projectreviewprojectreviews" type="projectreview" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//" type="address" nillable="true" minOccurs="0" />
        <xs:element name="//photo//@onetomany(mappedby" type="photo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//postposts" type="post" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="position" nillable="true" minOccurs="0" />
        <xs:element name="//tasktabletasks" type="task" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="following" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//addbookingsbookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cronjob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="logourl" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="website" type="xs:string" />
        <xs:element name="//entityrelationshipdepartments" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cars" type="car" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="postid" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="creation" type="xs:dateTime" />
        <xs:element name="user" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointment" >
      <xs:sequence>
        <xs:element name="appomentid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="confirmed" type="xs:anyType" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tutorial" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tutorialid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="category" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationship" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//relationshiptable//-followfollower" type="user" nillable="true" minOccurs="0" />
        <xs:element name="//followedfollowed" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentchild" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="idcomment" type="xs:long" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workschedule" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="starttime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="workday" type="weekday" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="education" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="schoolname" type="xs:string" />
        <xs:element name="degree" type="xs:string" />
        <xs:element name="field" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="senderid" type="xs:string" />
        <xs:element name="receiverid" type="xs:string" />
        <xs:element name="messageid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="adminid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrank" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityname" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primaryaccount" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="accountnumber" type="xs:long" />
        <xs:element name="accountbalance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="housenumber" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="//creationcreatedat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expertise" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectmanager" >
      <xs:sequence>
        <xs:element name="projectmanagerid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesitemlineid" >
      <xs:sequence>
        <xs:element name="salesorderid" type="xs:long" />
        <xs:element name="menuitemid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="photo" >
      <xs:sequence>
        <xs:element name="photo_id" type="xs:long" />
        <xs:element name="photo_name" type="xs:string" />
        <xs:element name="photo_description" type="xs:string" />
        <xs:element name="photo_likes" type="xs:long" />
        <xs:element name="photo_views" type="xs:long" />
        <xs:element name="upload_data" type="xs:dateTime" />
        <xs:element name="photo_file" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="iscomplete" type="xs:anyType" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="//relationshipjointabletaskdetails" type="taskdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="//versionversion" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="visit" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//privateemployeeemployee//@basic" type="xs:dateTime" />
        <xs:element name="//@basicstatus" type="xs:anyType" />
        <xs:element name="//refreplationship" type="guest" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restauranttable" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="seats" type="xs:long" />
        <xs:element name="isreserved" type="xs:long" />
        <xs:element name="invoiceid" type="xs:long" />
        <xs:element name="totaltablecount" type="xs:long" />
        <xs:element name="max_table_count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="action" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="//transientfieldshorttext" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="modify" type="xs:dateTime" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="tags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//relationshipwithothertablecategorization" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectreview" >
      <xs:sequence>
        <xs:element name="projectreviewid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="editiontype" nillable="true" minOccurs="0" />
        <xs:element name="release" type="xs:dateTime" />
        <xs:element name="//relationshipmappingcategories" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="element" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="alternativelocations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:complexContent>
       <xs:extension base="abstractpersistable<integer>">
         <xs:sequence>
          <xs:element name="{serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="insertdttm" type="xs:dateTime" />
          <xs:element name="versiondttm" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:anyType" />
          <xs:element name="created" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetup" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="topic" type="xs:string" />
        <xs:element name="//entityrelationship//organiserorganizer" type="user" nillable="true" minOccurs="0" />
        <xs:element name="attendees" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="model" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="cost" type="xs:double" />
        <xs:element name="orders" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="productimages" type="productimage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="contactid" type="xs:long" />
        <xs:element name="//@field(analyze" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manager" >
      <xs:sequence>
        <xs:element name="carallowance" type="xs:long" />
        <xs:element name="bonusallowance" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="//@fieldtitle" type="xs:string" />
        <xs:element name="//@fieldcategory" type="xs:string" />
        <xs:element name="//@fieldcontent" type="xs:string" />
        <xs:element name="/*@field*/description" type="xs:string" />
        <xs:element name="//@fieldcreatedat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:sequence>
        <xs:element name="fileid" type="xs:long" />
        <xs:element name="file" type="xs:anyType" />
        <xs:element name="custom" type="xs:string" />
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="redlinespeed" type="xs:long" />
        <xs:element name="maxcapacity" type="xs:double" />
        <xs:element name="lastmodified" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="likes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="courseid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
        <xs:element name="//" type="topic" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="deliveryaddress" type="xs:string" />
        <xs:element name="products" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="delivery" type="xs:dateTime" />
        <xs:element name="totalcost" type="xs:double" />
        <xs:element name="GeneratedName" type="orderstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestbranch" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="guestbranchid" type="xs:long" />
        <xs:element name="branchno" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesitemline" >
      <xs:sequence>
        <xs:element name="salesitemid" type="salesitemlineid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="salesorder" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuitem" nillable="true" minOccurs="0" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subcategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="////departmentdepartmentdeadline" type="xs:dateTime" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="nosprints" type="xs:anyType" />
        <xs:element name="sprintlengthdays" type="xs:anyType" />
        <xs:element name="//entityrelationship" type="projectmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ssn" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="joining" type="xs:dateTime" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="aptno" type="xs:string" />
        <xs:element name="streetname" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="employeeskins" type="employeekin" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//fortestingpurpose//string" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sprint" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="number" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="cost" type="xs:long" />
        <xs:element name="//relationshiptable" type="room" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="roomcategory" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="//relationshiptableroomoptions" type="roomoption" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="bookings" type="booking" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topic" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shortcut" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeekin" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="//thefieldtracksstotheirkinparent" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="streetaddress" type="xs:string" />
        <xs:element name="cityaddress" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="itemname" type="xs:string" />
        <xs:element name="itemprice" type="xs:long" />
        <xs:element name="decription" type="xs:string" />
        <xs:element name="itemtype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balance" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="balanceamount" type="xs:long" />
        <xs:element name="//relationshipref" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobcompletionnotificationlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryitemprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reponse" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datemodification" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proputils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderstatusresolver" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderdao" nillable="true" minOccurs="0" />
        <xs:element name="orders" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="currenttime" type="xs:long" />
        <xs:element name="receiverequests" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datewithtimepropertyeditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apiutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashstring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="whitelistfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordencrypter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpfilewriterimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//@autowired//privateftppropertiesftpproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftptransfer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpconnect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpserviceimpl" >
      <xs:sequence>
        <xs:element name="/***ftpconnectionhandler*/ftpconnection" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpfilewriter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iarticleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskdetailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskdetailrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="roomdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookingdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomoptiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ivisitservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileserviceimpl" >
      <xs:sequence>
        <xs:element name="filedao" type="filerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rankingserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articleserviceimpl" >
      <xs:sequence>
        <xs:element name="articledao" type="iarticledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="guestrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="balancerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="userdao" type="useruserdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservicecriteriaapiimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointmentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appointmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reportdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="visitserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="visitrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:sequence>
        <xs:element name="messagerepository" type="messagedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="irankingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bookingdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topicservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="topicrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlequeuemesssagingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectreviewservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="products" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseservice" >
      <xs:sequence>
        <xs:element name="//" type="courserepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icourseservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomoptionservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomoptiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iguestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="departmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequenceservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sequencerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatesearch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="verifier" type="captchaverifier" nillable="true" minOccurs="0" />
        <xs:element name="userrepository" type="iuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="userdao" type="userdaoimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contactrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskdetailcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topiccontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="topicservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appointmentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="iuserrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coursecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="courseservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="courserepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fileservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="filerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="meetuprepository" nillable="true" minOccurs="0" />
        <xs:element name="userrepository" type="iuserrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ftpservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positioncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlecontroller" >
      <xs:sequence>
        <xs:element name="//autowiredproducer////producerproducerarticleservice" type="iarticleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomoptioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomoptionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:sequence>
        <xs:element name="customerrepository" type="icustomerrepository" nillable="true" minOccurs="0" />
        <xs:element name="1" type="customerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="uploadrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagcontroller" >
      <xs:sequence>
        <xs:element name="dao" type="tagrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingcontroller" >
      <xs:sequence>
        <xs:element name="meetingdao" type="meetingdaoimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentcontroller" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="departmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balancecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uuidformater" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consumer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custommessage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorcode" >
      <xs:sequence>
        <xs:element name="errorcode" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorresponse" >
      <xs:sequence>
        <xs:element name="//httpresponsestatuscodestatus" type="xs:anyType" />
        <xs:element name="//generalerrormessagemessage" type="xs:string" />
        <xs:element name="//errorcode" type="errorcode" nillable="true" minOccurs="0" />
        <xs:element name="timestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboarddao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomoptiondao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<roomoption,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iuserdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="basedao<user>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tutorialdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<booking,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iemployeedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basebasedao" >
      <xs:sequence>
        <xs:element name="//@autowired" type="xs:anyType" />
        <xs:element name="//passtheclassofthetypeparameterintotheconstructorofthegeneric//typetypeparameterclass" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagedao" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icoursedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomdao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<room,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="meetingdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articledaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coursedaoimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedaoimpl" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedaoimpl" >
      <xs:sequence>
        <xs:element name="//@autowired" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useruserdao" >
      <xs:complexContent>
       <xs:extension base="basebasedao<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iprojectdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iarticledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="meetingdao" >
      <xs:complexContent>
       <xs:extension base="basedao<meeting>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedao" >
      <xs:sequence>
        <xs:element name="//anwillbeautomaticallyinjectedfromfactory//setupondatabaseconfigclass." type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdfreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userpdfreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycustomesimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryrepositoryelasticsearch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notfoundexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="forbiddenexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatesearchservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatesearchconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializeutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseredisimpl" >
      <xs:sequence>
        <xs:element name="redistemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseredis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityredisserializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorwareimpl" >
      <xs:sequence>
        <xs:element name="auditor_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditinfo" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="updon" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaauditconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbconfighibernate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batchconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springutils" >
      <xs:sequence>
        <xs:element name="ctx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticresourceconfiguration" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftpproperties" >
      <xs:sequence>
        <xs:element name="server" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="keepalivetimeout" type="xs:long" />
        <xs:element name="autostart" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbconfig1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="//guestexceptionclassguest_not_exists_message" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="errormessage" >
      <xs:sequence>
        <xs:element name="errorcode" type="xs:long" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiexception" >
      <xs:complexContent>
       <xs:extension base="responseexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="errorcode" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="apipath" type="xs:string" />
          <xs:element name="errormessage" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serviceexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="errorcode" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ftperrors" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="" type="errormessage" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badrequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="redis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ehcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpletest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryserviceestest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 