hsn4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="messageskeleton" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="errornumber" type="xs:long" />
        <xs:element name="errortext" type="xs:string" />
        <xs:element name="numberofmessages" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="db" type="xs:string" />
        <xs:element name="tbl" type="xs:string" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="errcode" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="messages" type="messageskeleton" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="numberofmessages" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsummary" >
      <xs:sequence>
        <xs:element name="prov" type="xs:long" />
        <xs:element name="//corthreegs" type="xs:string" />
        <xs:element name="coh" type="xs:string" />
        <xs:element name="geb" type="xs:long" />
        <xs:element name="ovl" type="xs:long" />
        <xs:element name="ovl16" type="xs:long" />
        <xs:element name="ovl16_" type="xs:string" />
        <xs:element name="pk" type="xs:long" />
        <xs:element name="ovlpk" type="xs:long" />
        <xs:element name="ovlitv_" type="xs:string" />
        <xs:element name="ovld" type="xs:long" />
        <xs:element name="ovld_" type="xs:string" />
        <xs:element name="volw" type="xs:long" />
        <xs:element name="huw" type="xs:long" />
        <xs:element name="huw1" type="xs:long" />
        <xs:element name="huw2_" type="xs:string" />
        <xs:element name="huwitv" type="xs:long" />
        <xs:element name="huwitv_" type="xs:string" />
        <xs:element name="tot" type="xs:long" />
        <xs:element name="totd" type="xs:long" />
        <xs:element name="pk500kplus" type="xs:long" />
        <xs:element name="primary" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b3" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b3sdmi" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m2" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m2sdsq" type="xs:long" />
        <xs:element name="m2u_um" type="xs:long" />
        <xs:element name="m2u_ud" type="xs:long" />
        <xs:element name="m2u_uy" type="xs:long" />
        <xs:element name="m2u_uc" type="xs:long" />
        <xs:element name="m2u_ul" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d1" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d1sdcc" type="xs:long" />
        <xs:element name="d1sdcl" type="xs:string" />
        <xs:element name="d1sdcn" type="xs:long" />
        <xs:element name="d1sdch" type="xs:long" />
        <xs:element name="d1sdci" type="xs:long" />
        <xs:element name="d1sdcd" type="xs:long" />
        <xs:element name="d1sdcm" type="xs:long" />
        <xs:element name="d1sdcy" type="xs:long" />
        <xs:element name="d1infa" type="xs:string" />
        <xs:element name="d1insq" type="xs:long" />
        <xs:element name="d1insg" type="xs:string" />
        <xs:element name="d1rpln" type="xs:string" />
        <xs:element name="d1rppf" type="xs:string" />
        <xs:element name="d1rpfn" type="xs:string" />
        <xs:element name="d1rptt" type="xs:string" />
        <xs:element name="d1rppa" type="xs:string" />
        <xs:element name="d1rpoc" type="xs:string" />
        <xs:element name="d1rpbc" type="xs:long" />
        <xs:element name="d1rpbl" type="xs:string" />
        <xs:element name="d1rpll" type="xs:string" />
        <xs:element name="d1rpcs" type="xs:string" />
        <xs:element name="d1rpgn" type="xs:string" />
        <xs:element name="d1rpdd" type="xs:long" />
        <xs:element name="d1rpdm" type="xs:long" />
        <xs:element name="d1rpdy" type="xs:long" />
        <xs:element name="d1rpdh" type="xs:long" />
        <xs:element name="d1rpdi" type="xs:long" />
        <xs:element name="d1rpdl" type="xs:string" />
        <xs:element name="d1rpad" type="xs:long" />
        <xs:element name="d1rpaw" type="xs:long" />
        <xs:element name="d1rpam" type="xs:long" />
        <xs:element name="d1rpay" type="xs:long" />
        <xs:element name="d1faln" type="xs:string" />
        <xs:element name="d1fapf" type="xs:string" />
        <xs:element name="d1fafn" type="xs:string" />
        <xs:element name="d1fatt" type="xs:string" />
        <xs:element name="d1fapa" type="xs:string" />
        <xs:element name="d1faca" type="xs:string" />
        <xs:element name="d1faoc" type="xs:string" />
        <xs:element name="d1faay" type="xs:long" />
        <xs:element name="d1fall" type="xs:string" />
        <xs:element name="d1moln" type="xs:string" />
        <xs:element name="d1mopf" type="xs:string" />
        <xs:element name="d1mofn" type="xs:string" />
        <xs:element name="d1mott" type="xs:string" />
        <xs:element name="d1mopa" type="xs:string" />
        <xs:element name="d1moca" type="xs:string" />
        <xs:element name="d1mooc" type="xs:string" />
        <xs:element name="d1moay" type="xs:long" />
        <xs:element name="d1moll" type="xs:string" />
        <xs:element name="d1sdce" type="xs:string" />
        <xs:element name="d_e_p_l" type="xs:string" />
        <xs:element name="d_e_p_o" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="d1sdcla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1rpbla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1rplla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1rpdla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1falla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1molla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m6" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m6sdmi" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b2" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b2w_sq" type="xs:long" />
        <xs:element name="b2w_ln" type="xs:string" />
        <xs:element name="b2w_pf" type="xs:string" />
        <xs:element name="b2w_fn" type="xs:string" />
        <xs:element name="b2w_tt" type="xs:string" />
        <xs:element name="b2w_pa" type="xs:string" />
        <xs:element name="b2w_ay" type="xs:long" />
        <xs:element name="b2w_oc" type="xs:string" />
        <xs:element name="b2w_ll" type="xs:string" />
        <xs:element name="b2w_sg" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="b2w_lla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m3" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m3sdsq" type="xs:long" />
        <xs:element name="m3rpgn" type="xs:string" />
        <xs:element name="m3s_ln" type="xs:string" />
        <xs:element name="m3s_pf" type="xs:string" />
        <xs:element name="m3s_fn" type="xs:string" />
        <xs:element name="m3s_tt" type="xs:string" />
        <xs:element name="m3s_pa" type="xs:string" />
        <xs:element name="m3s_sr" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b6" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b6suhc" type="xs:long" />
        <xs:element name="b6suhy" type="xs:long" />
        <xs:element name="b6suhn" type="xs:long" />
        <xs:element name="b6suhz" type="xs:long" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d4" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d4sdmi" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b0" >
      <xs:sequence>
        <xs:element name="b0suhg" type="xs:long" />
        <xs:element name="b0suhc" type="xs:long" />
        <xs:element name="b0suhy" type="xs:long" />
        <xs:element name="b0suhn" type="xs:long" />
        <xs:element name="b0suhd" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b0suhp" type="xs:long" />
        <xs:element name="b0suhr" type="xs:long" />
        <xs:element name="b0suhe" type="xs:long" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a1" >
      <xs:sequence>
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="role" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="municipality" type="xs:string" />
        <xs:element name="locationnumber" type="xs:string" />
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="quarter" type="xs:string" />
        <xs:element name="place" type="xs:string" />
        <xs:element name="boat" type="xs:string" />
        <xs:element name="berth" type="xs:string" />
        <xs:element name="institution" type="xs:string" />
        <xs:element name="landlord" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="addressflag" type="xs:long" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m1" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="m1sdcn" type="xs:long" />
        <xs:element name="m1sdml" type="xs:string" />
        <xs:element name="m1sdmh" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m1sdse" type="xs:string" />
        <xs:element name="m1sdsd" type="xs:long" />
        <xs:element name="m1sdsm" type="xs:long" />
        <xs:element name="m1sdsy" type="xs:long" />
        <xs:element name="m1sdsl" type="xs:string" />
        <xs:element name="m1sded" type="xs:long" />
        <xs:element name="m1sdem" type="xs:long" />
        <xs:element name="m1sdey" type="xs:long" />
        <xs:element name="m1sdel" type="xs:string" />
        <xs:element name="m1gray" type="xs:long" />
        <xs:element name="m1bray" type="xs:long" />
        <xs:element name="m1rpgn" type="xs:string" />
        <xs:element name="m1grln" type="xs:string" />
        <xs:element name="m1grpf" type="xs:string" />
        <xs:element name="m1grfn" type="xs:string" />
        <xs:element name="m1grtt" type="xs:string" />
        <xs:element name="m1grpa" type="xs:string" />
        <xs:element name="m1groc" type="xs:string" />
        <xs:element name="m1grbl" type="xs:string" />
        <xs:element name="m1grll" type="xs:string" />
        <xs:element name="m1grlf" type="xs:string" />
        <xs:element name="m1grlo" type="xs:string" />
        <xs:element name="m1grpl" type="xs:string" />
        <xs:element name="m1grql" type="xs:string" />
        <xs:element name="m1grcs" type="xs:string" />
        <xs:element name="m1grsg" type="xs:string" />
        <xs:element name="m1brln" type="xs:string" />
        <xs:element name="m1brpf" type="xs:string" />
        <xs:element name="m1brfn" type="xs:string" />
        <xs:element name="m1brtt" type="xs:string" />
        <xs:element name="m1brpa" type="xs:string" />
        <xs:element name="m1broc" type="xs:string" />
        <xs:element name="m1brbl" type="xs:string" />
        <xs:element name="m1brll" type="xs:string" />
        <xs:element name="m1brlf" type="xs:string" />
        <xs:element name="m1brlo" type="xs:string" />
        <xs:element name="m1brpl" type="xs:string" />
        <xs:element name="m1brql" type="xs:string" />
        <xs:element name="m1brcs" type="xs:string" />
        <xs:element name="m1brsg" type="xs:string" />
        <xs:element name="m1gfca" type="xs:string" />
        <xs:element name="m1gfmp" type="xs:string" />
        <xs:element name="m1gfln" type="xs:string" />
        <xs:element name="m1gfpf" type="xs:string" />
        <xs:element name="m1gffn" type="xs:string" />
        <xs:element name="m1gftt" type="xs:string" />
        <xs:element name="m1gfpa" type="xs:string" />
        <xs:element name="m1gfoc" type="xs:string" />
        <xs:element name="m1gfll" type="xs:string" />
        <xs:element name="m1gfdl" type="xs:string" />
        <xs:element name="m1gfsg" type="xs:string" />
        <xs:element name="m1gfay" type="xs:long" />
        <xs:element name="m1gmca" type="xs:string" />
        <xs:element name="m1gmmp" type="xs:string" />
        <xs:element name="m1gmln" type="xs:string" />
        <xs:element name="m1gmpf" type="xs:string" />
        <xs:element name="m1gmfn" type="xs:string" />
        <xs:element name="m1gmtt" type="xs:string" />
        <xs:element name="m1gmpa" type="xs:string" />
        <xs:element name="m1gmoc" type="xs:string" />
        <xs:element name="m1gmll" type="xs:string" />
        <xs:element name="m1gmdl" type="xs:string" />
        <xs:element name="m1gmsg" type="xs:string" />
        <xs:element name="m1gmay" type="xs:long" />
        <xs:element name="m1bfca" type="xs:string" />
        <xs:element name="m1bfmp" type="xs:string" />
        <xs:element name="m1bfln" type="xs:string" />
        <xs:element name="m1bfpf" type="xs:string" />
        <xs:element name="m1bffn" type="xs:string" />
        <xs:element name="m1bftt" type="xs:string" />
        <xs:element name="m1bfpa" type="xs:string" />
        <xs:element name="m1bfoc" type="xs:string" />
        <xs:element name="m1bfll" type="xs:string" />
        <xs:element name="m1bfdl" type="xs:string" />
        <xs:element name="m1bfsg" type="xs:string" />
        <xs:element name="m1bfay" type="xs:long" />
        <xs:element name="m1bmca" type="xs:string" />
        <xs:element name="m1bmmp" type="xs:string" />
        <xs:element name="m1bmln" type="xs:string" />
        <xs:element name="m1bmpf" type="xs:string" />
        <xs:element name="m1bmfn" type="xs:string" />
        <xs:element name="m1bmtt" type="xs:string" />
        <xs:element name="m1bmpa" type="xs:string" />
        <xs:element name="m1bmoc" type="xs:string" />
        <xs:element name="m1bmll" type="xs:string" />
        <xs:element name="m1bmdl" type="xs:string" />
        <xs:element name="m1bmsg" type="xs:string" />
        <xs:element name="m1bmay" type="xs:long" />
        <xs:element name="m1sdbb" type="xs:string" />
        <xs:element name="m1sddp" type="xs:string" />
        <xs:element name="m1sdde" type="xs:string" />
        <xs:element name="m1sdnm" type="xs:string" />
        <xs:element name="m1sdpn" type="xs:string" />
        <xs:element name="m1sdaf" type="xs:string" />
        <xs:element name="m1sdap" type="xs:string" />
        <xs:element name="m1sdpc" type="xs:string" />
        <xs:element name="m1sdpg" type="xs:string" />
        <xs:element name="d_e_p_l" type="xs:string" />
        <xs:element name="d_e_p_o" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d2" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d2s_sq" type="xs:long" />
        <xs:element name="d2s_ln" type="xs:string" />
        <xs:element name="d2s_pf" type="xs:string" />
        <xs:element name="d2s_fn" type="xs:string" />
        <xs:element name="d2s_tt" type="xs:string" />
        <xs:element name="d2s_pa" type="xs:string" />
        <xs:element name="d2s_ca" type="xs:string" />
        <xs:element name="d2s_ay" type="xs:long" />
        <xs:element name="d2s_oc" type="xs:string" />
        <xs:element name="d2s_ll" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="d2s_lla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b4" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b4sdct" type="xs:long" />
        <xs:element name="b4sdcd" type="xs:long" />
        <xs:element name="b4sdcm" type="xs:long" />
        <xs:element name="b4sdcy" type="xs:long" />
        <xs:element name="b4sdmd" type="xs:long" />
        <xs:element name="b4sdmm" type="xs:long" />
        <xs:element name="b4sdmy" type="xs:long" />
        <xs:element name="b4sdml" type="xs:string" />
        <xs:element name="b4faln" type="xs:string" />
        <xs:element name="b4fapf" type="xs:string" />
        <xs:element name="b4fafn" type="xs:string" />
        <xs:element name="b4fatt" type="xs:string" />
        <xs:element name="b4fapa" type="xs:string" />
        <xs:element name="b4sdrd" type="xs:long" />
        <xs:element name="b4sdrm" type="xs:long" />
        <xs:element name="b4sdry" type="xs:long" />
        <xs:element name="b4sdrs" type="xs:long" />
        <xs:element name="b4sdrn" type="xs:long" />
        <xs:element name="b4rpln" type="xs:string" />
        <xs:element name="b4rpfn" type="xs:string" />
        <xs:element name="b4rppf" type="xs:string" />
        <xs:element name="b4rptt" type="xs:string" />
        <xs:element name="b4rppa" type="xs:string" />
        <xs:element name="b4rpgn" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m5" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m5c_sq" type="xs:long" />
        <xs:element name="m5c_ln" type="xs:string" />
        <xs:element name="m5c_pf" type="xs:string" />
        <xs:element name="m5c_fn" type="xs:string" />
        <xs:element name="m5c_tt" type="xs:string" />
        <xs:element name="m5c_pa" type="xs:string" />
        <xs:element name="m5c_bd" type="xs:long" />
        <xs:element name="m5c_bm" type="xs:long" />
        <xs:element name="m5c_by" type="xs:long" />
        <xs:element name="m5c_gn" type="xs:string" />
        <xs:element name="m5c_bl" type="xs:string" />
        <xs:element name="m5c_rr" type="xs:string" />
        <xs:element name="m5c_rw" type="xs:string" />
        <xs:element name="m5c_fd" type="xs:long" />
        <xs:element name="m5c_fm" type="xs:long" />
        <xs:element name="m5c_fy" type="xs:long" />
        <xs:element name="m5c_fl" type="xs:string" />
        <xs:element name="m5c_od" type="xs:long" />
        <xs:element name="m5c_om" type="xs:long" />
        <xs:element name="m5c_oy" type="xs:long" />
        <xs:element name="m5c_ol" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b1" >
      <xs:sequence>
        <xs:element name="b1sdcc" type="xs:long" />
        <xs:element name="b1sdcl" type="xs:string" />
        <xs:element name="b1sdcy" type="xs:long" />
        <xs:element name="b1sdcn" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b1sdli" type="xs:string" />
        <xs:element name="b1sdch" type="xs:long" />
        <xs:element name="b1sdcd" type="xs:long" />
        <xs:element name="b1sdcm" type="xs:long" />
        <xs:element name="b1infa" type="xs:string" />
        <xs:element name="b1inln" type="xs:string" />
        <xs:element name="b1inpf" type="xs:string" />
        <xs:element name="b1infn" type="xs:string" />
        <xs:element name="b1intt" type="xs:string" />
        <xs:element name="b1inpa" type="xs:string" />
        <xs:element name="b1inay" type="xs:long" />
        <xs:element name="b1inoc" type="xs:string" />
        <xs:element name="b1inll" type="xs:string" />
        <xs:element name="b1insg" type="xs:string" />
        <xs:element name="b1rpbd" type="xs:long" />
        <xs:element name="b1rpbm" type="xs:long" />
        <xs:element name="b1rpby" type="xs:long" />
        <xs:element name="b1rpbh" type="xs:long" />
        <xs:element name="b1rpbi" type="xs:long" />
        <xs:element name="b1rpgn" type="xs:string" />
        <xs:element name="b1rpll" type="xs:string" />
        <xs:element name="b1moln" type="xs:string" />
        <xs:element name="b1mopf" type="xs:string" />
        <xs:element name="b1mofn" type="xs:string" />
        <xs:element name="b1mott" type="xs:string" />
        <xs:element name="b1mopa" type="xs:string" />
        <xs:element name="b1moay" type="xs:long" />
        <xs:element name="b1mocs" type="xs:string" />
        <xs:element name="b1mooc" type="xs:string" />
        <xs:element name="b1moll" type="xs:string" />
        <xs:element name="b1rpln" type="xs:string" />
        <xs:element name="b1rppf" type="xs:string" />
        <xs:element name="b1rpfn" type="xs:string" />
        <xs:element name="b1rptt" type="xs:string" />
        <xs:element name="b1rppa" type="xs:string" />
        <xs:element name="d_e_p_l" type="xs:string" />
        <xs:element name="d_e_p_o" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="b1rplla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b1molla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b1inlla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d3" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d3i_sq" type="xs:long" />
        <xs:element name="d3i_ln" type="xs:string" />
        <xs:element name="d3i_pf" type="xs:string" />
        <xs:element name="d3i_fn" type="xs:string" />
        <xs:element name="d3i_tt" type="xs:string" />
        <xs:element name="d3i_pa" type="xs:string" />
        <xs:element name="d3i_ls" type="xs:string" />
        <xs:element name="d3i_ay" type="xs:long" />
        <xs:element name="d3i_oc" type="xs:string" />
        <xs:element name="d3i_ll" type="xs:string" />
        <xs:element name="d3i_sg" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="d3i_lla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b5" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b5sdcf" type="xs:string" />
        <xs:element name="b5faln" type="xs:string" />
        <xs:element name="b5fapf" type="xs:string" />
        <xs:element name="b5fafn" type="xs:string" />
        <xs:element name="b5fatt" type="xs:string" />
        <xs:element name="b5fapa" type="xs:string" />
        <xs:element name="b5faay" type="xs:long" />
        <xs:element name="b5faoc" type="xs:string" />
        <xs:element name="b5fall" type="xs:string" />
        <xs:element name="b5fasd" type="xs:long" />
        <xs:element name="b5fasm" type="xs:long" />
        <xs:element name="b5fasy" type="xs:long" />
        <xs:element name="b5fasl" type="xs:string" />
        <xs:element name="b5fadd" type="xs:long" />
        <xs:element name="b5fadm" type="xs:long" />
        <xs:element name="b5fady" type="xs:long" />
        <xs:element name="b5fadl" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="b5fasla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b5fadla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b5falla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m4" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m4sdsq" type="xs:long" />
        <xs:element name="m4w_ln" type="xs:string" />
        <xs:element name="m4w_pf" type="xs:string" />
        <xs:element name="m4w_fn" type="xs:string" />
        <xs:element name="m4w_tt" type="xs:string" />
        <xs:element name="m4w_pa" type="xs:string" />
        <xs:element name="m4w_ay" type="xs:long" />
        <xs:element name="m4w_oc" type="xs:string" />
        <xs:element name="m4w_ll" type="xs:string" />
        <xs:element name="m4w_sg" type="xs:string" />
        <xs:element name="m4w_lr" type="xs:string" />
        <xs:element name="m4w_ls" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statview" >
      <xs:sequence>
        <xs:element name="provnr" type="xs:long" />
        <xs:element name="threegs" type="xs:string" />
        <xs:element name="cohort" type="xs:string" />
        <xs:element name="pk500" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gebgtg" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="vlgnrgt" type="xs:long" />
        <xs:element name="anmgt" type="xs:string" />
        <xs:element name="tusgt" type="xs:string" />
        <xs:element name="vrn1gt" type="xs:string" />
        <xs:element name="vrn2gt" type="xs:string" />
        <xs:element name="vrn3gt" type="xs:string" />
        <xs:element name="lftgt" type="xs:long" />
        <xs:element name="brpgt" type="xs:string" />
        <xs:element name="adrgt" type="xs:string" />
        <xs:element name="hndgt" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="gebknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="huwvrknd" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="hdag" type="xs:long" />
        <xs:element name="hmaand" type="xs:long" />
        <xs:element name="hjaar" type="xs:long" />
        <xs:element name="vlgnrvk" type="xs:long" />
        <xs:element name="anmvk" type="xs:string" />
        <xs:element name="tusvk" type="xs:string" />
        <xs:element name="vrn1vk" type="xs:string" />
        <xs:element name="vrn2vk" type="xs:string" />
        <xs:element name="vrn3vk" type="xs:string" />
        <xs:element name="gbdgvk" type="xs:long" />
        <xs:element name="gbmdvk" type="xs:long" />
        <xs:element name="gbjrvk" type="xs:long" />
        <xs:element name="geslvk" type="xs:string" />
        <xs:element name="gbplvk" type="xs:string" />
        <xs:element name="ervk" type="xs:string" />
        <xs:element name="ervkwie" type="xs:string" />
        <xs:element name="mekdgvk" type="xs:long" />
        <xs:element name="mekmdvk" type="xs:long" />
        <xs:element name="mekjrvk" type="xs:long" />
        <xs:element name="mekplvk" type="xs:string" />
        <xs:element name="vekdgvk" type="xs:long" />
        <xs:element name="vekmdvk" type="xs:long" />
        <xs:element name="vekjrvk" type="xs:long" />
        <xs:element name="vekplvk" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="opdrnro" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="huwknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ovlknd" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="oacgemnr" type="xs:long" />
        <xs:element name="oacgemnm" type="xs:string" />
        <xs:element name="oaktenr" type="xs:long" />
        <xs:element name="oakteuur" type="xs:long" />
        <xs:element name="oaktemin" type="xs:long" />
        <xs:element name="oaktedag" type="xs:long" />
        <xs:element name="oaktemnd" type="xs:long" />
        <xs:element name="oaktejr" type="xs:long" />
        <xs:element name="lengeb" type="xs:long" />
        <xs:element name="agvvadr" type="xs:string" />
        <xs:element name="nagvr" type="xs:long" />
        <xs:element name="hndtkv" type="xs:string" />
        <xs:element name="gegovl" type="xs:string" />
        <xs:element name="gegvad" type="xs:string" />
        <xs:element name="gegmoe" type="xs:string" />
        <xs:element name="anmovl" type="xs:string" />
        <xs:element name="tusovl" type="xs:string" />
        <xs:element name="vrn1ovl" type="xs:string" />
        <xs:element name="vrn2ovl" type="xs:string" />
        <xs:element name="vrn3ovl" type="xs:string" />
        <xs:element name="laaug" type="xs:long" />
        <xs:element name="brpovl" type="xs:string" />
        <xs:element name="gbpovl" type="xs:long" />
        <xs:element name="ggmovl" type="xs:string" />
        <xs:element name="adrovl" type="xs:string" />
        <xs:element name="brgovl" type="xs:string" />
        <xs:element name="ovlsex" type="xs:string" />
        <xs:element name="ovldag" type="xs:long" />
        <xs:element name="ovlmnd" type="xs:long" />
        <xs:element name="ovljr" type="xs:long" />
        <xs:element name="ovluur" type="xs:long" />
        <xs:element name="ovlmin" type="xs:long" />
        <xs:element name="ploovl" type="xs:string" />
        <xs:element name="lftuovl" type="xs:long" />
        <xs:element name="lftdovl" type="xs:long" />
        <xs:element name="lftwovl" type="xs:long" />
        <xs:element name="lftmovl" type="xs:long" />
        <xs:element name="lftjovl" type="xs:long" />
        <xs:element name="mreovl" type="xs:long" />
        <xs:element name="anmvovl" type="xs:string" />
        <xs:element name="tusvovl" type="xs:string" />
        <xs:element name="vrn1vovl" type="xs:string" />
        <xs:element name="vrn2vovl" type="xs:string" />
        <xs:element name="vrn3vovl" type="xs:string" />
        <xs:element name="levvovl" type="xs:string" />
        <xs:element name="brpvovl" type="xs:string" />
        <xs:element name="lfvrovl" type="xs:long" />
        <xs:element name="adrvovl" type="xs:string" />
        <xs:element name="anmmovl" type="xs:string" />
        <xs:element name="tusmovl" type="xs:string" />
        <xs:element name="vrn1movl" type="xs:string" />
        <xs:element name="vrn2movl" type="xs:string" />
        <xs:element name="vrn3movl" type="xs:string" />
        <xs:element name="levmovl" type="xs:string" />
        <xs:element name="brpmovl" type="xs:string" />
        <xs:element name="lfmrovl" type="xs:long" />
        <xs:element name="adrmovl" type="xs:string" />
        <xs:element name="extract" type="xs:string" />
        <xs:element name="problm" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="ovlech" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ovlbyzl" type="ovlbyz" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ovlagvl" type="ovlagv" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="gebknd" nillable="true" minOccurs="0" />
        <xs:element name="deathactplace" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gebknd" >
      <xs:sequence>
        <xs:element name="gemnr" type="xs:long" />
        <xs:element name="jaar" type="xs:long" />
        <xs:element name="aktenr" type="xs:long" />
        <xs:element name="cohortnr" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="oversamp" type="xs:string" />
        <xs:element name="invbeper" type="xs:string" />
        <xs:element name="akteuur" type="xs:long" />
        <xs:element name="aktedag" type="xs:long" />
        <xs:element name="aktemnd" type="xs:long" />
        <xs:element name="lengeb" type="xs:long" />
        <xs:element name="anmag" type="xs:string" />
        <xs:element name="tusag" type="xs:string" />
        <xs:element name="vrn1ag" type="xs:string" />
        <xs:element name="vrn2ag" type="xs:string" />
        <xs:element name="vrn3ag" type="xs:string" />
        <xs:element name="lftag" type="xs:long" />
        <xs:element name="brpag" type="xs:string" />
        <xs:element name="adrag" type="xs:string" />
        <xs:element name="hndag" type="xs:string" />
        <xs:element name="gebdag" type="xs:long" />
        <xs:element name="gebmnd" type="xs:long" />
        <xs:element name="gebjr" type="xs:long" />
        <xs:element name="gebuur" type="xs:long" />
        <xs:element name="gebmin" type="xs:long" />
        <xs:element name="gebsex" type="xs:string" />
        <xs:element name="gebadr" type="xs:string" />
        <xs:element name="anmmr" type="xs:string" />
        <xs:element name="tusmr" type="xs:string" />
        <xs:element name="vrn1mr" type="xs:string" />
        <xs:element name="vrn2mr" type="xs:string" />
        <xs:element name="vrn3mr" type="xs:string" />
        <xs:element name="lftmr" type="xs:long" />
        <xs:element name="brgstmr" type="xs:string" />
        <xs:element name="brpmr" type="xs:string" />
        <xs:element name="adrmr" type="xs:string" />
        <xs:element name="anmgeb" type="xs:string" />
        <xs:element name="tusgeb" type="xs:string" />
        <xs:element name="vrn1geb" type="xs:string" />
        <xs:element name="vrn2geb" type="xs:string" />
        <xs:element name="vrn3geb" type="xs:string" />
        <xs:element name="kant" type="xs:string" />
        <xs:element name="problm" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="gebgtg" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gebbyzl" type="gebbyz" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gebkantl" type="gebkant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="gebvdr" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ovlknd" nillable="true" minOccurs="0" />
        <xs:element name="huwkndl" type="huwknd" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="stpb" nillable="true" minOccurs="0" />
        <xs:element name="birthactlocation" type="xs:string" />
        <xs:element name="birthactlocationno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plaats" >
      <xs:sequence>
        <xs:element name="gemnr" type="xs:long" />
        <xs:element name="provnr" type="xs:long" />
        <xs:element name="regnr" type="xs:long" />
        <xs:element name="regio" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beheer" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="ovldag" type="xs:long" />
        <xs:element name="ovlmnd" type="xs:long" />
        <xs:element name="ovljaar" type="xs:long" />
        <xs:element name="fase_a" type="xs:long" />
        <xs:element name="fase_b" type="xs:long" />
        <xs:element name="fase_c_d" type="xs:long" />
        <xs:element name="ovlplaats" type="xs:string" />
        <xs:element name="invoerstat" type="xs:string" />
        <xs:element name="randomgeta" type="xs:long" />
        <xs:element name="ordernumberi" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="huwgtg" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="hdag" type="xs:long" />
        <xs:element name="hmaand" type="xs:long" />
        <xs:element name="hjaar" type="xs:long" />
        <xs:element name="vlgnrgt" type="xs:long" />
        <xs:element name="anmgt" type="xs:string" />
        <xs:element name="tusgt" type="xs:string" />
        <xs:element name="vrn1gt" type="xs:string" />
        <xs:element name="vrn2gt" type="xs:string" />
        <xs:element name="vrn3gt" type="xs:string" />
        <xs:element name="lftjgt" type="xs:long" />
        <xs:element name="brpgt" type="xs:string" />
        <xs:element name="adrgt" type="xs:string" />
        <xs:element name="hndgt" type="xs:string" />
        <xs:element name="relwie" type="xs:string" />
        <xs:element name="relgt" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="huwknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="huwknd" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="hgemnr" type="xs:long" />
        <xs:element name="haktenr" type="xs:long" />
        <xs:element name="hplts" type="xs:string" />
        <xs:element name="huur" type="xs:long" />
        <xs:element name="hdag" type="xs:long" />
        <xs:element name="hmaand" type="xs:long" />
        <xs:element name="hjaar" type="xs:long" />
        <xs:element name="scheidng" type="xs:string" />
        <xs:element name="sdag" type="xs:long" />
        <xs:element name="smaand" type="xs:long" />
        <xs:element name="sjaar" type="xs:long" />
        <xs:element name="splts" type="xs:string" />
        <xs:element name="idag" type="xs:long" />
        <xs:element name="imaand" type="xs:long" />
        <xs:element name="ijaar" type="xs:long" />
        <xs:element name="iplts" type="xs:string" />
        <xs:element name="lftjhm" type="xs:long" />
        <xs:element name="lftjhv" type="xs:long" />
        <xs:element name="gebsex" type="xs:string" />
        <xs:element name="anmhm" type="xs:string" />
        <xs:element name="tushm" type="xs:string" />
        <xs:element name="vrn1hm" type="xs:string" />
        <xs:element name="vrn2hm" type="xs:string" />
        <xs:element name="vrn3hm" type="xs:string" />
        <xs:element name="brphm" type="xs:string" />
        <xs:element name="gebplnhm" type="xs:long" />
        <xs:element name="gebplhm" type="xs:string" />
        <xs:element name="adrhm" type="xs:string" />
        <xs:element name="oadrhm" type="xs:string" />
        <xs:element name="oadrehm" type="xs:string" />
        <xs:element name="bsthm" type="xs:string" />
        <xs:element name="hndhm" type="xs:string" />
        <xs:element name="anmhv" type="xs:string" />
        <xs:element name="tushv" type="xs:string" />
        <xs:element name="vrn1hv" type="xs:string" />
        <xs:element name="vrn2hv" type="xs:string" />
        <xs:element name="vrn3hv" type="xs:string" />
        <xs:element name="brphv" type="xs:string" />
        <xs:element name="gebplnhv" type="xs:long" />
        <xs:element name="gebplhv" type="xs:string" />
        <xs:element name="adrhv" type="xs:string" />
        <xs:element name="oadrhv" type="xs:string" />
        <xs:element name="oadrehv" type="xs:string" />
        <xs:element name="bsthv" type="xs:string" />
        <xs:element name="hndhv" type="xs:string" />
        <xs:element name="levvrhm" type="xs:string" />
        <xs:element name="toevrhm" type="xs:string" />
        <xs:element name="anmvrhm" type="xs:string" />
        <xs:element name="tusvrhm" type="xs:string" />
        <xs:element name="vrn1vrhm" type="xs:string" />
        <xs:element name="vrn2vrhm" type="xs:string" />
        <xs:element name="vrn3vrhm" type="xs:string" />
        <xs:element name="brpvrhm" type="xs:string" />
        <xs:element name="adrvrhm" type="xs:string" />
        <xs:element name="plovvrhm" type="xs:string" />
        <xs:element name="hndvrhm" type="xs:string" />
        <xs:element name="lftjvrhm" type="xs:long" />
        <xs:element name="levmrhm" type="xs:string" />
        <xs:element name="toemrhm" type="xs:string" />
        <xs:element name="anmmrhm" type="xs:string" />
        <xs:element name="tusmrhm" type="xs:string" />
        <xs:element name="vrn1mrhm" type="xs:string" />
        <xs:element name="vrn2mrhm" type="xs:string" />
        <xs:element name="vrn3mrhm" type="xs:string" />
        <xs:element name="brpmrhm" type="xs:string" />
        <xs:element name="adrmrhm" type="xs:string" />
        <xs:element name="plovmrhm" type="xs:string" />
        <xs:element name="hndmrhm" type="xs:string" />
        <xs:element name="lftjmrhm" type="xs:long" />
        <xs:element name="levvrhv" type="xs:string" />
        <xs:element name="toevrhv" type="xs:string" />
        <xs:element name="anmvrhv" type="xs:string" />
        <xs:element name="tusvrhv" type="xs:string" />
        <xs:element name="vrn1vrhv" type="xs:string" />
        <xs:element name="vrn2vrhv" type="xs:string" />
        <xs:element name="vrn3vrhv" type="xs:string" />
        <xs:element name="brpvrhv" type="xs:string" />
        <xs:element name="adrvrhv" type="xs:string" />
        <xs:element name="plovvrhv" type="xs:string" />
        <xs:element name="hndvrhv" type="xs:string" />
        <xs:element name="lftjvrhv" type="xs:long" />
        <xs:element name="levmrhv" type="xs:string" />
        <xs:element name="toemrhv" type="xs:string" />
        <xs:element name="anmmrhv" type="xs:string" />
        <xs:element name="tusmrhv" type="xs:string" />
        <xs:element name="vrn1mrhv" type="xs:string" />
        <xs:element name="vrn2mrhv" type="xs:string" />
        <xs:element name="vrn3mrhv" type="xs:string" />
        <xs:element name="brpmrhv" type="xs:string" />
        <xs:element name="adrmrhv" type="xs:string" />
        <xs:element name="plovmrhv" type="xs:string" />
        <xs:element name="hndmrhv" type="xs:string" />
        <xs:element name="lftjmrhv" type="xs:long" />
        <xs:element name="ugebhuw" type="xs:string" />
        <xs:element name="uovloud" type="xs:string" />
        <xs:element name="uovlech" type="xs:string" />
        <xs:element name="certnatm" type="xs:string" />
        <xs:element name="toestnot" type="xs:string" />
        <xs:element name="aktebek" type="xs:string" />
        <xs:element name="onvermgn" type="xs:string" />
        <xs:element name="command" type="xs:string" />
        <xs:element name="toestvgd" type="xs:string" />
        <xs:element name="geghuw" type="xs:string" />
        <xs:element name="gegvr" type="xs:string" />
        <xs:element name="gegmr" type="xs:string" />
        <xs:element name="problm" type="xs:string" />
        <xs:element name="ngtg" type="xs:long" />
        <xs:element name="erken" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="huwafk" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="huweerl" type="huweer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="huwgtgl" type="huwgtg" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="huwvrkndl" type="huwvrknd" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="huwbyzl" type="huwbyz" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="gebknd" nillable="true" minOccurs="0" />
        <xs:element name="marriageactplace" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stpb" >
      <xs:sequence>
        <xs:element name="doelnr" type="xs:long" />
        <xs:element name="gemeente" type="xs:string" />
        <xs:element name="gemnr" type="xs:long" />
        <xs:element name="jaar" type="xs:long" />
        <xs:element name="aktenr" type="xs:long" />
        <xs:element name="cohortnr" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="provnr" type="xs:long" />
        <xs:element name="regnr" type="xs:long" />
        <xs:element name="subcohnr" type="xs:long" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="gebknd" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gebaktel" type="gebakte" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ovlbyz" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="byznr" type="xs:long" />
        <xs:element name="byz" type="xs:string" />
        <xs:element name="scherm" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="ovlknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ovlagv" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="vlgnrag" type="xs:long" />
        <xs:element name="anmagv" type="xs:string" />
        <xs:element name="tusagv" type="xs:string" />
        <xs:element name="vrn1agv" type="xs:string" />
        <xs:element name="vrn2agv" type="xs:string" />
        <xs:element name="vrn3agv" type="xs:string" />
        <xs:element name="ragvovl" type="xs:string" />
        <xs:element name="lftagv" type="xs:long" />
        <xs:element name="brpagv" type="xs:string" />
        <xs:element name="adragv" type="xs:string" />
        <xs:element name="hndagv" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="ovlknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gebbyz" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="byznr" type="xs:long" />
        <xs:element name="byz" type="xs:string" />
        <xs:element name="scherm" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="gebknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gebkant" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="kanttype" type="xs:long" />
        <xs:element name="kantdag" type="xs:long" />
        <xs:element name="kantmnd" type="xs:long" />
        <xs:element name="kantjr" type="xs:long" />
        <xs:element name="khuwdag" type="xs:long" />
        <xs:element name="khuwmnd" type="xs:long" />
        <xs:element name="khuwjr" type="xs:long" />
        <xs:element name="khuwgem" type="xs:string" />
        <xs:element name="khuwanr" type="xs:string" />
        <xs:element name="kanmvad" type="xs:string" />
        <xs:element name="ktusvad" type="xs:string" />
        <xs:element name="kvrn1vad" type="xs:string" />
        <xs:element name="kvrn2vad" type="xs:string" />
        <xs:element name="kvrn3vad" type="xs:string" />
        <xs:element name="kwyzdag" type="xs:long" />
        <xs:element name="kwyzmnd" type="xs:long" />
        <xs:element name="kwyzjr" type="xs:long" />
        <xs:element name="kwyzkb" type="xs:long" />
        <xs:element name="kwyzstbl" type="xs:long" />
        <xs:element name="kgmrb" type="xs:string" />
        <xs:element name="kgmerk" type="xs:string" />
        <xs:element name="kwgmmr" type="xs:string" />
        <xs:element name="kbrpmr" type="xs:string" />
        <xs:element name="kanmgeb" type="xs:string" />
        <xs:element name="kvrn1geb" type="xs:string" />
        <xs:element name="kvrn2geb" type="xs:string" />
        <xs:element name="kvrn3geb" type="xs:string" />
        <xs:element name="ktusgeb" type="xs:string" />
        <xs:element name="ksexgeb" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="gebknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gebakte" >
      <xs:sequence>
        <xs:element name="gemnr" type="xs:long" />
        <xs:element name="jaar" type="xs:long" />
        <xs:element name="aktenr" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="gebkode" type="xs:long" />
        <xs:element name="oversamp" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="stpb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pkknd" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="idnrp" type="xs:long" />
        <xs:element name="gaktnrp" type="xs:string" />
        <xs:element name="pktype" type="xs:long" />
        <xs:element name="eindagpk" type="xs:long" />
        <xs:element name="einmndpk" type="xs:long" />
        <xs:element name="einjarpk" type="xs:long" />
        <xs:element name="ctrdgp" type="xs:long" />
        <xs:element name="ctrmdp" type="xs:long" />
        <xs:element name="ctrjrp" type="xs:long" />
        <xs:element name="ctrparp" type="xs:string" />
        <xs:element name="gznvrp" type="xs:string" />
        <xs:element name="anmperp" type="xs:string" />
        <xs:element name="tusperp" type="xs:string" />
        <xs:element name="vnm1perp" type="xs:string" />
        <xs:element name="vnm2perp" type="xs:string" />
        <xs:element name="vnm3perp" type="xs:string" />
        <xs:element name="gdgperp" type="xs:long" />
        <xs:element name="gdmperp" type="xs:long" />
        <xs:element name="gdjperp" type="xs:long" />
        <xs:element name="gdgperpcr" type="xs:long" />
        <xs:element name="gmdperpcr" type="xs:long" />
        <xs:element name="gjrperpcr" type="xs:long" />
        <xs:element name="gplperp" type="xs:string" />
        <xs:element name="natperp" type="xs:string" />
        <xs:element name="gdsperp" type="xs:string" />
        <xs:element name="gslperp" type="xs:string" />
        <xs:element name="anmvdrp" type="xs:string" />
        <xs:element name="tusvdrp" type="xs:string" />
        <xs:element name="vnm1vdrp" type="xs:string" />
        <xs:element name="vnm2vdrp" type="xs:string" />
        <xs:element name="vnm3vdrp" type="xs:string" />
        <xs:element name="gdgvdrp" type="xs:long" />
        <xs:element name="gmdvdrp" type="xs:long" />
        <xs:element name="gjrvdrp" type="xs:long" />
        <xs:element name="gdgvdrpcr" type="xs:long" />
        <xs:element name="gdmvdrpcr" type="xs:long" />
        <xs:element name="gjrvdrpcr" type="xs:long" />
        <xs:element name="gplvdrp" type="xs:string" />
        <xs:element name="anmmdrp" type="xs:string" />
        <xs:element name="tusmdrp" type="xs:string" />
        <xs:element name="vnm1mdrp" type="xs:string" />
        <xs:element name="vnm2mdrp" type="xs:string" />
        <xs:element name="vnm3mdrp" type="xs:string" />
        <xs:element name="gdgmdrp" type="xs:long" />
        <xs:element name="gmdmdrp" type="xs:long" />
        <xs:element name="gjrmdrp" type="xs:long" />
        <xs:element name="gdgmdrpcr" type="xs:long" />
        <xs:element name="gmdmdrpcr" type="xs:long" />
        <xs:element name="gjrmdrpcr" type="xs:long" />
        <xs:element name="gplmdrp" type="xs:string" />
        <xs:element name="odgperp" type="xs:long" />
        <xs:element name="omdperp" type="xs:long" />
        <xs:element name="ojrperp" type="xs:long" />
        <xs:element name="oplperp" type="xs:string" />
        <xs:element name="oakperp" type="xs:string" />
        <xs:element name="odoperp" type="xs:string" />
        <xs:element name="gegperp" type="xs:string" />
        <xs:element name="gegvdrp" type="xs:string" />
        <xs:element name="gegmdrp" type="xs:string" />
        <xs:element name="problmp" type="xs:string" />
        <xs:element name="psbdg" type="xs:long" />
        <xs:element name="psbmdp" type="xs:long" />
        <xs:element name="psbjrp" type="xs:long" />
        <xs:element name="psbnrp" type="xs:string" />
        <xs:element name="opdrnr" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="onderzko" type="xs:string" />
        <xs:element name="opdrnro" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="huwafk" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="hdag" type="xs:long" />
        <xs:element name="hmaand" type="xs:long" />
        <xs:element name="hjaar" type="xs:long" />
        <xs:element name="hwaknr" type="xs:long" />
        <xs:element name="hwakdg" type="xs:long" />
        <xs:element name="hwakmd" type="xs:long" />
        <xs:element name="hwakjr" type="xs:long" />
        <xs:element name="hwakgr" type="xs:long" />
        <xs:element name="hwakpl" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="huwknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gebvdr" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="gegvr" type="xs:string" />
        <xs:element name="anmvr" type="xs:string" />
        <xs:element name="tusvr" type="xs:string" />
        <xs:element name="vrn1vr" type="xs:string" />
        <xs:element name="vrn2vr" type="xs:string" />
        <xs:element name="vrn3vr" type="xs:string" />
        <xs:element name="lftvr" type="xs:long" />
        <xs:element name="brpvr" type="xs:string" />
        <xs:element name="adrvr" type="xs:string" />
        <xs:element name="g5oosd" type="xs:long" />
        <xs:element name="g5oosm" type="xs:long" />
        <xs:element name="g5oosj" type="xs:long" />
        <xs:element name="g5oogs" type="xs:string" />
        <xs:element name="g5vood" type="xs:long" />
        <xs:element name="g5voom" type="xs:long" />
        <xs:element name="g5vooj" type="xs:long" />
        <xs:element name="g5vogo" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="gebknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="huweer" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="hdag" type="xs:long" />
        <xs:element name="hmaand" type="xs:long" />
        <xs:element name="hjaar" type="xs:long" />
        <xs:element name="vlgnreh" type="xs:long" />
        <xs:element name="huwer" type="xs:string" />
        <xs:element name="anmeh" type="xs:string" />
        <xs:element name="tuseh" type="xs:string" />
        <xs:element name="vrn1eh" type="xs:string" />
        <xs:element name="vrn2eh" type="xs:string" />
        <xs:element name="vrn3eh" type="xs:string" />
        <xs:element name="eindeh" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="GeneratedName" type="huwknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="huwbyz" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="hdag" type="xs:long" />
        <xs:element name="hmaand" type="xs:long" />
        <xs:element name="hjaar" type="xs:long" />
        <xs:element name="byznr" type="xs:long" />
        <xs:element name="byz" type="xs:string" />
        <xs:element name="scherm" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="huwknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ovlech" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="vlgech" type="xs:long" />
        <xs:element name="anmeovl" type="xs:string" />
        <xs:element name="tuseovl" type="xs:string" />
        <xs:element name="vrn1eovl" type="xs:string" />
        <xs:element name="vrn2eovl" type="xs:string" />
        <xs:element name="vrn3eovl" type="xs:string" />
        <xs:element name="leveovl" type="xs:string" />
        <xs:element name="lfteovl" type="xs:long" />
        <xs:element name="brpeovl" type="xs:string" />
        <xs:element name="adreovl" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datum" type="xs:string" />
        <xs:element name="init" type="xs:string" />
        <xs:element name="versie" type="xs:string" />
        <xs:element name="ondrzko" type="xs:string" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="datumo" type="xs:string" />
        <xs:element name="inito" type="xs:string" />
        <xs:element name="versieo" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="//@id@generatedvalue(strategy" type="ovlknd" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 