Gradle85/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="openejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa.mapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enccmpbean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basiccmpobject" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="complexcmpbeanpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopcmp2bean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unknowncmpbean" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="complexcmpobject" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="complexcmpbean" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basiccmpbean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="primarykey" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopcmpbean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allowedoperationscmp2bean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unknowncmp2bean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopcmpobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enccmp2bean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopcmphome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basiccmp2pojobean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="//thisisdirectlyimplementedratherthangeneratedfirstname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basiccmphome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupcmpbean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unknowncmpobject" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unknowncmphome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="complexcmphome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="complexcmp2bean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enccmpobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basiccmp2bean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allowedoperationscmpbean" >
      <xs:sequence>
        <xs:element name="nextid" type="xs:long" />
        <xs:element name="primarykey" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="number" type="xs:long" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enccmphome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicbmp2datasourceshome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="allowedoperationsbmpbean" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encbmphome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rmiiiopbmpobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicbmpobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicbmp2datasourcesobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicbmphome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rmiiiopbmphome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rmiiiopbmpbean" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicbmpbean" >
      <xs:sequence>
        <xs:element name="//keys" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encbmpobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupbmpbean" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encbmpbean" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicbmp2datasourcesbean" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querybean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querydatahome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querylocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydataremote" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydatalocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querylocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydatalocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryhome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querydatabean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryremote" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="customername" type="xs:string" />
        <xs:element name="customerage" type="xs:long" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personlocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="licensepk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenselocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="licensebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personlocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personpk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="licenselocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compoundpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="field1" type="xs:anyType" />
        <xs:element name="field2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artistbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artistlocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songlocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="artistpk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="songlocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="songpk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artistlocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gamepk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamelocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="platformlocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gamelocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="platformbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="platformlocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gamebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="platformpk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentitybean" >
      <xs:sequence>
        <xs:element name="ctx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oneowningsidelocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manyowningsidelocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manyowningsidebean_manyowningsidebean" >
      <xs:complexContent>
       <xs:extension base="manyowningsidebean">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="field1" type="xs:anyType" />
          <xs:element name="oneinverseside" type="oneinversesidelocal" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oneinversesidelocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manyowningsidebean" >
      <xs:complexContent>
       <xs:extension base="abstractentitybean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oneowningsidebean" >
      <xs:complexContent>
       <xs:extension base="abstractentitybean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manyowningsidelocalhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oneinversesidebean_oneinversesidebean" >
      <xs:complexContent>
       <xs:extension base="oneinversesidebean">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="oneowningside" type="oneowningsidelocal" nillable="true" minOccurs="0" />
          <xs:element name="manyowningside" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oneinversesidelocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compoundpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="field1" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oneowningsidelocal" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oneowningsidebean_oneowningsidebean" >
      <xs:complexContent>
       <xs:extension base="oneowningsidebean">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="field1" type="xs:anyType" />
          <xs:element name="oneinverseside" type="oneinversesidelocal" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oneinversesidebean" >
      <xs:complexContent>
       <xs:extension base="abstractentitybean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="ssn" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="balance" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectgraph" >
      <xs:sequence>
        <xs:element name="object" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="color" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationspolicy" >
      <xs:sequence>
        <xs:element name="context_getejbhome" type="xs:long" />
        <xs:element name="context_getcallerprincipal" type="xs:long" />
        <xs:element name="context_iscallerinrole" type="xs:long" />
        <xs:element name="context_getrollbackonly" type="xs:long" />
        <xs:element name="context_setrollbackonly" type="xs:long" />
        <xs:element name="context_getusertransaction" type="xs:long" />
        <xs:element name="context_getejbobject" type="xs:long" />
        <xs:element name="context_getprimarykey" type="xs:long" />
        <xs:element name="jndi_access_to_java_comp_env" type="xs:long" />
        <xs:element name="context_lookup" type="xs:long" />
        <xs:element name="context_gettimerservice" type="xs:long" />
        <xs:element name="allowedoperations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="instance" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="superinterceptedbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextlookupstatelesspojobean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatelessinterceptedbean" >
      <xs:complexContent>
       <xs:extension base="superinterceptedbean">
         <xs:sequence>
          <xs:element name="contextdata" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatelesshome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantxstatelessbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
        <xs:element name="jndidatabaseentry" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopstatelesshome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="setterinjectionstatelessbean" >
      <xs:sequence>
        <xs:element name="ejbcontextfield" type="xs:anyType" />
        <xs:element name="bmphomefield" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhomefield" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshomefield" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striingfield" type="xs:string" />
        <xs:element name="dooublefield" type="xs:double" />
        <xs:element name="loongfield" type="xs:long" />
        <xs:element name="flooatfield" type="xs:double" />
        <xs:element name="inteegerfield" type="xs:anyType" />
        <xs:element name="shoortfield" type="xs:long" />
        <xs:element name="boooleanfield" type="xs:anyType" />
        <xs:element name="byytefield" type="xs:anyType" />
        <xs:element name="chaaracterfield" type="xs:anyType" />
        <xs:element name="daatasourcefield" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emffield" type="xs:anyType" />
        <xs:element name="emfield" type="xs:anyType" />
        <xs:element name="eemfield" type="xs:anyType" />
        <xs:element name="pemfield" type="xs:anyType" />
        <xs:element name="statelessbusinesslocalfield" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinesslocalbeanfield" type="basicstatelesspojobean" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremotefield" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalfield" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbeanfield" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremotefield" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatelessbusinessremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantxstatelessobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatelesslocalobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatelesslocalhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatelessinterceptedlocal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encstatelessbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldinjectionstatelessbean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="eem" type="xs:anyType" />
        <xs:element name="pem" type="xs:anyType" />
        <xs:element name="statelessbusinesslocal" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremote" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinesslocalbean" type="basicstatelesspojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containertxstatelesshome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupstatelessbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopstatelessobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="containertxstatelessbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
        <xs:element name="jndidatabaseentry" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatelessobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="encstatelesshome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatelesspojobean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatelessbusinesslocal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encstatelessobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotatedfieldinjectionstatelessbean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="statelessbusinesslocal" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremote" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinesslocalbean" type="basicstatelesspojobean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantxstatelesshome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="containertxstatelessobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rmiiiopstatelessbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatelessinterceptedremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatelessbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontextstatefulhome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupstatefulpojobean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setterinjectionstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontextfield" type="xs:anyType" />
        <xs:element name="bmphomefield" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhomefield" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshomefield" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striingfield" type="xs:string" />
        <xs:element name="dooublefield" type="xs:double" />
        <xs:element name="loongfield" type="xs:long" />
        <xs:element name="flooatfield" type="xs:double" />
        <xs:element name="inteegerfield" type="xs:anyType" />
        <xs:element name="shoortfield" type="xs:long" />
        <xs:element name="boooleanfield" type="xs:anyType" />
        <xs:element name="byytefield" type="xs:anyType" />
        <xs:element name="chaaracterfield" type="xs:anyType" />
        <xs:element name="daatasourcefield" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emffield" type="xs:anyType" />
        <xs:element name="emfield" type="xs:anyType" />
        <xs:element name="eemfield" type="xs:anyType" />
        <xs:element name="pemfield" type="xs:anyType" />
        <xs:element name="statelessbusinesslocalfield" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremotefield" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalfield" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremotefield" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbeanfield" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinesslocalbeanfield" type="basicstatelesspojobean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatedfieldinjectionstatefulbean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="statelessbusinesslocal" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinesslocalbean" type="basicstatelesspojobean" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremote" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatefulpojobean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopstatefulhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantxstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
        <xs:element name="jndidatabaseentry" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bmtstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontextstatefulobject" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rmiiiopstatefulobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatefulbusinessremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantxstatefulobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="extended" type="xs:anyType" />
        <xs:element name="//usedfortestingpropigationinheriteddelegate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatefulinterceptedremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatefulinterceptedlocal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicstatefullocalobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatefulinterceptedbean" >
      <xs:complexContent>
       <xs:extension base="superinterceptedbean">
         <xs:sequence>
          <xs:element name="contextdata" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatefullocalhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatefulobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatefulbusinesslocal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantxstatefulhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicstatefulhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="encstatefulhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rmiiiopstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encstatefulobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fieldinjectionstatefulbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="eem" type="xs:anyType" />
        <xs:element name="pem" type="xs:anyType" />
        <xs:element name="statelessbusinesslocal" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinesslocalbean" type="basicstatelesspojobean" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremote" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontextstatefulbean" >
      <xs:sequence>
        <xs:element name="extended" type="xs:anyType" />
        <xs:element name="//usedfortestingpropigationinheriteddelegate" type="xs:anyType" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mdbinterceptor" >
      <xs:sequence>
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setterinjectionmdbbean" >
      <xs:sequence>
        <xs:element name="ejbcontextfield" type="xs:anyType" />
        <xs:element name="bmphomefield" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhomefield" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshomefield" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striingfield" type="xs:string" />
        <xs:element name="dooublefield" type="xs:double" />
        <xs:element name="loongfield" type="xs:long" />
        <xs:element name="flooatfield" type="xs:double" />
        <xs:element name="inteegerfield" type="xs:anyType" />
        <xs:element name="shoortfield" type="xs:long" />
        <xs:element name="boooleanfield" type="xs:anyType" />
        <xs:element name="byytefield" type="xs:anyType" />
        <xs:element name="chaaracterfield" type="xs:anyType" />
        <xs:element name="daatasourcefield" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emffield" type="xs:anyType" />
        <xs:element name="emfield" type="xs:anyType" />
        <xs:element name="eemfield" type="xs:anyType" />
        <xs:element name="pemfield" type="xs:anyType" />
        <xs:element name="statelessbusinesslocalfield" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremotefield" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalfield" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremotefield" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextlookupmdbpojobean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encmdbbean" >
      <xs:sequence>
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptormdbbean" >
      <xs:sequence>
        <xs:element name="classlevelbusinessmethodinterception" type="xs:anyType" />
        <xs:element name="methodlevelbusinessmethodinterception" type="xs:anyType" />
        <xs:element name="classlevelcreatemethodinterception" type="xs:anyType" />
        <xs:element name="methodlevelcreatemethodinterception" type="xs:anyType" />
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicmdbbean" >
      <xs:sequence>
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatedfieldinjectionmdbbean" >
      <xs:sequence>
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="statelessbusinesslocal" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremote" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicmdbobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdbutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encmdbobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextlookupmdbbean" >
      <xs:sequence>
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdbinvoker" >
      <xs:sequence>
        <xs:element name="signatures" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="target" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="replyproducer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mdbproxy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptormdbobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldinjectionmdbbean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="statelesshome" type="basicstatelesshome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="eem" type="xs:anyType" />
        <xs:element name="pem" type="xs:anyType" />
        <xs:element name="statelessbusinesslocal" type="basicstatelessbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statelessbusinessremote" type="basicstatelessbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="mdbcontext" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mdbinvoker" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatedapplicationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="measuresensible" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="measuresensivity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicsingletonbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="allowedoperationstable" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicsingletonbusinesslocal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encsingletonhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicsingletonpojobean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicsingletonlocalobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicsingletonobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicsingletoninterceptedlocal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containertxsingletonhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotatedfieldinjectionsingletonbean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="singletonhome" type="basicsingletonhome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="singletonbusinesslocal" type="basicsingletonbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="singletonbusinesslocalbean" type="basicsingletonpojobean" nillable="true" minOccurs="0" />
        <xs:element name="singletonbusinessremote" type="basicsingletonbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopsingletonbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encsingletonobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicsingletonbusinessremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopsingletonobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantxsingletonhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupsingletonpojobean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicsingletoninterceptedbean" >
      <xs:complexContent>
       <xs:extension base="superinterceptedbean">
         <xs:sequence>
          <xs:element name="contextdata" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicsingletonlocalhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contextlookupsingletonbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containertxsingletonobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beantxsingletonbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
        <xs:element name="jndidatabaseentry" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantxsingletonobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fieldinjectionsingletonbean" >
      <xs:sequence>
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="bmphome" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhome" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="singletonhome" type="basicsingletonhome" nillable="true" minOccurs="0" />
        <xs:element name="striing" type="xs:string" />
        <xs:element name="doouble" type="xs:double" />
        <xs:element name="loong" type="xs:long" />
        <xs:element name="flooat" type="xs:double" />
        <xs:element name="inteeger" type="xs:anyType" />
        <xs:element name="shoort" type="xs:long" />
        <xs:element name="booolean" type="xs:anyType" />
        <xs:element name="byyte" type="xs:anyType" />
        <xs:element name="chaaracter" type="xs:anyType" />
        <xs:element name="daatasource" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="eem" type="xs:anyType" />
        <xs:element name="pem" type="xs:anyType" />
        <xs:element name="singletonbusinesslocal" type="basicsingletonbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="singletonbusinesslocalbean" type="basicsingletonpojobean" nillable="true" minOccurs="0" />
        <xs:element name="singletonbusinessremote" type="basicsingletonbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocal" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremote" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicsingletoninterceptedremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containertxsingletonbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
        <xs:element name="jndidatabaseentry" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rmiiiopsingletonhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="setterinjectionsingletonbean" >
      <xs:sequence>
        <xs:element name="ejbcontextfield" type="xs:anyType" />
        <xs:element name="bmphomefield" type="basicbmphome" nillable="true" minOccurs="0" />
        <xs:element name="statefulhomefield" type="basicstatefulhome" nillable="true" minOccurs="0" />
        <xs:element name="singletonhomefield" type="basicsingletonhome" nillable="true" minOccurs="0" />
        <xs:element name="striingfield" type="xs:string" />
        <xs:element name="dooublefield" type="xs:double" />
        <xs:element name="loongfield" type="xs:long" />
        <xs:element name="flooatfield" type="xs:double" />
        <xs:element name="inteegerfield" type="xs:anyType" />
        <xs:element name="shoortfield" type="xs:long" />
        <xs:element name="boooleanfield" type="xs:anyType" />
        <xs:element name="byytefield" type="xs:anyType" />
        <xs:element name="chaaracterfield" type="xs:anyType" />
        <xs:element name="daatasourcefield" type="xs:anyType" />
        <xs:element name="coonnectionfactory" type="xs:anyType" />
        <xs:element name="queuecoonnectionfactory" type="xs:anyType" />
        <xs:element name="topiccoonnectionfactory" type="xs:anyType" />
        <xs:element name="emffield" type="xs:anyType" />
        <xs:element name="emfield" type="xs:anyType" />
        <xs:element name="eemfield" type="xs:anyType" />
        <xs:element name="pemfield" type="xs:anyType" />
        <xs:element name="singletonbusinesslocalfield" type="basicsingletonbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="singletonbusinesslocalfieldbean" type="basicsingletonpojobean" nillable="true" minOccurs="0" />
        <xs:element name="singletonbusinessremotefield" type="basicsingletonbusinessremote" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalfield" type="basicstatefulbusinesslocal" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinesslocalfieldbean" type="basicstatefulpojobean" nillable="true" minOccurs="0" />
        <xs:element name="statefulbusinessremotefield" type="basicstatefulbusinessremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encsingletonbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicsingletonhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testfailureexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="error" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="methodinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="superclassinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classinterceptor" >
      <xs:complexContent>
       <xs:extension base="superclassinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="interceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondclassinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databasehome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="calculatorhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeehome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shoppingcarthome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shoppingcart" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="database" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="calculator" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shoppingcartbean" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="jndi" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="usejdbc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeebean" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="ejbcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timersyncbean" >
      <xs:sequence>
        <xs:element name="latches" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timersync" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databasebean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calculatorbean" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="jndicontext" type="xs:anyType" />
        <xs:element name="testcreate,testadd,testsub,testsetsessioncontext,testremove" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 