chinese-source1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="table_name" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 