codenation-java/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="quoteintegrationtest" >
      <xs:sequence>
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotecontrollertest" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
        <xs:element name="service" type="quoteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoteserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="quoterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quote" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="actor" type="xs:string" />
        <xs:element name="quote" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotecontroller" >
      <xs:sequence>
        <xs:element name="service" type="quoteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoterepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<quote,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 