devops-automation-ksd-kc5.2.1-rice9/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ojb-repository-ksb-bam" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ojb-repository-ksb-message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoting-servlet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.apache.cxf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractdigitalsigner" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationcommonshttpinvokerrequestexecutor" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***sourceofthecredentialstopassviabasicauth.*/" type="xs:anyType" />
          <xs:element name="/***detailsabouttheservicethatthecredentialssourcemayneed.*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javasecuritymanagementservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javasecuritymanagementserviceimpl" >
      <xs:sequence>
        <xs:element name="client_key_generator_algorithm" type="xs:string" />
        <xs:element name="client_secure_random_algorithm" type="xs:string" />
        <xs:element name="client_key_pair_key_size" type="xs:long" />
        <xs:element name="client_cert_expiration_days" type="xs:long" />
        <xs:element name="module_sha_rsa_algorithm" type="xs:string" />
        <xs:element name="module_jks_type" type="xs:string" />
        <xs:element name="modulekeystorelocation" type="xs:string" />
        <xs:element name="modulekeystorealias" type="xs:string" />
        <xs:element name="modulekeystorepassword" type="xs:string" />
        <xs:element name="module" type="xs:anyType" />
        <xs:element name="keymodulekey" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="mime_type" type="xs:string" />
          <xs:element name="//application/pkix-cert//application/pkix-crlclient_keystore_data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="keystoreentrydatacontainer" >
      <xs:complexContent>
       <xs:extension base="keystore.entry>,string>">
         <xs:sequence>
          <xs:element name="displayable_entry_type_trusted_certificate" type="xs:string" />
          <xs:element name="displayable_entry_type__key" type="xs:string" />
          <xs:element name="displayable_entry_type_secret_key" type="xs:string" />
          <xs:element name="displayable_entry_types" type="xs:anyType" />
          <xs:element name="alias" type="xs:string" />
          <xs:element name="create" type="xs:dateTime" />
          <xs:element name="type" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="credentialsouthandler" >
      <xs:complexContent>
       <xs:extension base="wss4joutinterceptor">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cxfwss4jininterceptor" >
      <xs:complexContent>
       <xs:extension base="wss4jininterceptor{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="bussecurity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cxfwss4joutinterceptor" >
      <xs:complexContent>
       <xs:extension base="wss4joutinterceptor">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="bussecurity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="signaturesigningoutputstream" >
      <xs:complexContent>
       <xs:extension base="servletoutputstream">
         <xs:sequence>
          <xs:element name="delaywrite" type="xs:anyType" />
          <xs:element name="signer" type="digitalsigner" nillable="true" minOccurs="0" />
          <xs:element name="buffereddataholdingstream" type="xs:anyType" />
          <xs:element name="dataholdingstream" type="xs:anyType" />
          <xs:element name="wrapped" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responseheaderdigitalsigner" >
      <xs:complexContent>
       <xs:extension base="abstractdigitalsigner">
         <xs:sequence>
          <xs:element name="alias" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="response" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="x509credentialssource" >
      <xs:sequence>
        <xs:element name="certificate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernamepasswordcredentials" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="x509credentials" >
      <xs:sequence>
        <xs:element name="certificate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernamepasswordcredentialssource" >
      <xs:sequence>
        <xs:element name="/***theusername.*/username" type="xs:string" />
        <xs:element name="/***thepassword.*/password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httpclientheaderdigitalsigner" >
      <xs:complexContent>
       <xs:extension base="abstractdigitalsigner">
         <xs:sequence>
          <xs:element name="method" type="xs:anyType" />
          <xs:element name="alias" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="signatureverifyinginputstream" >
      <xs:complexContent>
       <xs:extension base="servletinputstream">
         <xs:sequence>
          <xs:element name="digitalsignature" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="wrapped" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="signaturesigningresponsewrapper" >
      <xs:complexContent>
       <xs:extension base="httpservletresponsewrapper">
         <xs:sequence>
          <xs:element name="signer" type="digitalsigner" nillable="true" minOccurs="0" />
          <xs:element name="outputstream" type="xs:anyType" />
          <xs:element name="writer" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="digitalsigner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signatureverifyingrequestwrapper" >
      <xs:complexContent>
       <xs:extension base="httpservletrequestwrapper">
         <xs:sequence>
          <xs:element name="digitalsignature" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="digitalsignatureservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="digitalsignatureserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cryptopasswordcallbackhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagehelperimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagequeueserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="messagequeuedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbxmlservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbjavaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagequeueservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistedmessagepayload" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="routequeueid" type="xs:long" />
        <xs:element name="payload" type="xs:string" />
        <xs:element name="methodcall" type="xs:anyType" />
        <xs:element name="message" type="persistedmessagebo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageserviceinvoker" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="message" type="persistedmessagebo" nillable="true" minOccurs="0" />
        <xs:element name="service" type="xs:anyType" />
        <xs:element name="methodcall" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistedmessage" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbhttpinvokerproxyfactorybean" >
      <xs:complexContent>
       <xs:extension base="httpinvokerproxyfactorybean">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="serviceproxy" type="xs:anyType" />
          <xs:element name="serviceconfiguration" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagefetcher" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="maxmessages" type="xs:anyType" />
        <xs:element name="routequeueid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbresourceloaderfactory" >
      <xs:sequence>
        <xs:element name="ksb_root_resource_loacer_name" type="xs:string" />
        <xs:element name="ksb_remote_resource_loader_local_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicebusresourceloader" >
      <xs:complexContent>
       <xs:extension base="baseresourceloader">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalcallbackregistry" >
      <xs:sequence>
        <xs:element name="callbacks" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbconfigurer" >
      <xs:complexContent>
       <xs:extension base="moduleconfigurer">
         <xs:sequence>
          <xs:element name="service_bus_client_spring" type="xs:string" />
          <xs:element name="message_client_spring" type="xs:string" />
          <xs:element name="ojb_message_client_spring" type="xs:string" />
          <xs:element name="bam_spring" type="xs:string" />
          <xs:element name="ojb_bam_spring" type="xs:string" />
          <xs:element name="registry_server_spring" type="xs:string" />
          <xs:element name="ojb_registry_spring" type="xs:string" />
          <xs:element name="web_spring" type="xs:string" />
          <xs:element name="services" type="xs:anyType" />
          <xs:element name="alternateendpointlocations" type="alternateendpointlocation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="alternateendpoints" type="alternateendpoint" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="registry" type="xs:anyType" />
          <xs:element name="message" type="xs:anyType" />
          <xs:element name="nontransactionalmessage" type="xs:anyType" />
          <xs:element name="bam" type="xs:anyType" />
          <xs:element name="exceptionmessaging" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="internallifecycles" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serviceholder" >
      <xs:sequence>
        <xs:element name="localservicename" type="xs:string" />
        <xs:element name="servicenamespaceuri" type="xs:string" />
        <xs:element name="service" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceexportmanagerimpl" >
      <xs:sequence>
        <xs:element name="exportedservices" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="cxf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceexportmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soapserviceexporter" >
      <xs:complexContent>
       <xs:extension base="abstractwebserviceexporter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serviceexporterfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractwebserviceexporter" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="cxf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httpinvokerserviceexporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restserviceexporter" >
      <xs:complexContent>
       <xs:extension base="abstractwebserviceexporter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serviceexporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alternateendpointlocation" >
      <xs:sequence>
        <xs:element name="endpointhostreplacementpattern" type="xs:string" />
        <xs:element name="endpointhostreplacementvalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicauthenticationhandler" >
      <xs:sequence>
        <xs:element name="servicenamespaceuri" type="xs:string" />
        <xs:element name="localservicename" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicauthenticationpasswordhandler" >
      <xs:sequence>
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alternateendpoint" >
      <xs:sequence>
        <xs:element name="endpointurlpattern" type="xs:string" />
        <xs:element name="actualendpoint" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="busclientfailureproxy" >
      <xs:complexContent>
       <xs:extension base="basetargetedinvocationhandler">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="failoverlock" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//exceptionsthatwillcausethisproxytoremovetheservicefromthebusserviceremovalexceptions" type="xs:anyType" />
          <xs:element name="serviceremovalresponsecodes" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flattenedservicedefinition" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="flattenedservicedefinitionid" type="xs:long" />
        <xs:element name="flattenedservicedefinitiondata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cxfservletcontrolleradapter" >
      <xs:sequence>
        <xs:element name="controller" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbdispatcherservlet" >
      <xs:complexContent>
       <xs:extension base="dispatcherservlet">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="remoting_servlet_config_location" type="xs:string" />
          <xs:element name="httpinvokerhandler" type="ksbhttpinvokerhandler" nillable="true" minOccurs="0" />
          <xs:element name="cxf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbhttpinvokerhandler" >
      <xs:complexContent>
       <xs:extension base="abstracthandlermapping">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbhttpinvokerserviceexporter" >
      <xs:complexContent>
       <xs:extension base="httpinvokerserviceexporter">
         <xs:sequence>
          <xs:element name="serviceinterfaces" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="registertraceinterceptor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httpclienthelper" >
      <xs:sequence>
        <xs:element name="param_type_map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageprocessingexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagesendingtransactionsynchronization" >
      <xs:complexContent>
       <xs:extension base="transactionsynchronizationadapter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="called_trans_committed" type="xs:anyType" />
          <xs:element name="called_trans_rolledbacked" type="xs:anyType" />
          <xs:element name="message" type="persistedmessagebo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="asynchronousservicecallproxy" >
      <xs:complexContent>
       <xs:extension base="baseinvocationhandler">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="callback" type="xs:anyType" />
          <xs:element name="endpoints" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="value1" type="xs:string" />
          <xs:element name="value2" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagesender" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delayedasynchronousservicecallproxy" >
      <xs:complexContent>
       <xs:extension base="baseinvocationhandler">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="endpoints" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="value1" type="xs:string" />
          <xs:element name="value2" type="xs:string" />
          <xs:element name="delaymilliseconds" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="synchronousservicecallproxy" >
      <xs:complexContent>
       <xs:extension base="asynchronousservicecallproxy">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bamparam" >
      <xs:sequence>
        <xs:element name="bamparamid" type="xs:long" />
        <xs:element name="GeneratedName" type="bamtargetentry" nillable="true" minOccurs="0" />
        <xs:element name="param" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bamclientproxy" >
      <xs:complexContent>
       <xs:extension base="basetargetedinvocationhandler">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bamserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="dao" type="bamdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bamservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bamserverproxy" >
      <xs:complexContent>
       <xs:extension base="basetargetedinvocationhandler">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bamtargetentry" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="bamid" type="xs:long" />
        <xs:element name="servicename" type="xs:string" />
        <xs:element name="methodname" type="xs:string" />
        <xs:element name="threadname" type="xs:string" />
        <xs:element name="calldate" type="xs:anyType" />
        <xs:element name="serviceurl" type="xs:string" />
        <xs:element name="targetto" type="xs:string" />
        <xs:element name="exceptionto" type="xs:string" />
        <xs:element name="exceptionmessage" type="xs:string" />
        <xs:element name="serverinvocation" type="xs:anyType" />
        <xs:element name="bamparams" type="bamparam" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//forasynccallsnotbamcallback" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bamdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bamdaojpaimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bamdaoojbimpl" >
      <xs:complexContent>
       <xs:extension base="persistencebrokerdaosupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbclientproxy" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="servicename" type="xs:anyType" />
        <xs:element name="volatileservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbthreadpool" >
      <xs:complexContent>
       <xs:extension base="executorservice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbscheduledthreadpoolexecutor" >
      <xs:complexContent>
       <xs:extension base="scheduledthreadpoolexecutor">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="started" type="xs:anyType" />
          <xs:element name="default_size" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbthreadpoolimpl" >
      <xs:complexContent>
       <xs:extension base="threadpoolexecutor">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="default_pool_size" type="xs:long" />
          <xs:element name="started" type="xs:anyType" />
          <xs:element name="poolsizeset" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="priorityblockingqueuepersistedmessagecomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbscheduledpool" >
      <xs:complexContent>
       <xs:extension base="scheduledexecutorservice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultmessageexceptionhandler" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="default_time_increment" type="xs:long" />
        <xs:element name="default_max_retries" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionroutingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultexceptionserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistedmessagebo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="routequeueid" type="xs:long" />
        <xs:element name="queuepriority" type="xs:anyType" />
        <xs:element name="queuestatus" type="xs:string" />
        <xs:element name="queuedate" type="xs:anyType" />
        <xs:element name="expirationdate" type="xs:anyType" />
        <xs:element name="retrycount" type="xs:anyType" />
        <xs:element name="lockvernbr" type="xs:anyType" />
        <xs:element name="ipnumber" type="xs:string" />
        <xs:element name="servicename" type="xs:string" />
        <xs:element name="applicationid" type="xs:string" />
        <xs:element name="methodname" type="xs:string" />
        <xs:element name="methodcall" type="xs:anyType" />
        <xs:element name="payload" type="persistedmessagepayload" nillable="true" minOccurs="0" />
        <xs:element name="value1" type="xs:string" />
        <xs:element name="value2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcefacadeimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="serviceconfiguration" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="actualendpoint" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httpinvokerconnector" >
      <xs:complexContent>
       <xs:extension base="abstractserviceconnector">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="httpclientinitialized" type="xs:anyType" />
          <xs:element name="idle_connection_thread_interval_property" type="xs:string" />
          <xs:element name="idle_connection_timeout_property" type="xs:string" />
          <xs:element name="default_idle_connection_thread_interval" type="xs:string" />
          <xs:element name="default_idle_connection_timeout" type="xs:string" />
          <xs:element name="retry_socket_exception_property" type="xs:string" />
          <xs:element name="ictt" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="buslocalconnector" >
      <xs:complexContent>
       <xs:extension base="abstractserviceconnector">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractserviceconnector" >
      <xs:sequence>
        <xs:element name="/***maintainstheinformationabouttheservice.thisshouldneverbenull.*/" type="xs:anyType" />
        <xs:element name="alternateendpoint" type="xs:anyType" />
        <xs:element name="/***maintainsthecredentialsneededbytheservice.thismaybenull.*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconnectorfactory" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconnector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soapconnector" >
      <xs:complexContent>
       <xs:extension base="abstractserviceconnector">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restconnector" >
      <xs:complexContent>
       <xs:extension base="abstractserviceconnector">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbschedulerfactorybean" >
      <xs:complexContent>
       <xs:extension base="schedulerfactorybean">
         <xs:sequence>
          <xs:element name="jtatransactionmanager" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="nontransactional" type="xs:anyType" />
          <xs:element name="transactionmanagerset" type="xs:anyType" />
          <xs:element name="nontransactionaldatasourceset" type="xs:anyType" />
          <xs:element name="nontransactionaldatasourcenull" type="xs:anyType" />
          <xs:element name="datasourceset" type="xs:anyType" />
          <xs:element name="schedulerinjected" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messageserviceexecutorjob" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="message_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageserviceexecutorjoblistener" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quartzconfigpropertiesfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractfactorybean">
         <xs:sequence>
          <xs:element name="quartz_prefix" type="xs:string" />
          <xs:element name="quartz_is_clustered" type="xs:string" />
          <xs:element name="quartz_table_prefix" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ksbclientproxyfactorybean" >
      <xs:sequence>
        <xs:element name="serviceendpointinterface" type="xs:anyType" />
        <xs:element name="serviceqname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagequeuedaojpaimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagequeuedaoojbimpl" >
      <xs:complexContent>
       <xs:extension base="persistencebrokerdaosupport">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagequeuedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbhttpinvokerrequestexecutor" >
      <xs:complexContent>
       <xs:extension base="commonshttpinvokerrequestexecutor">
         <xs:sequence>
          <xs:element name="secure" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httpexception" >
      <xs:complexContent>
       <xs:extension base="org.apache.commons.httpclient.httpexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="responsecode" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serviceconfigurationserializationhandler" >
      <xs:sequence>
        <xs:element name="config_classes_set" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservicesdiff" >
      <xs:sequence>
        <xs:element name="newservices" type="xs:anyType" />
        <xs:element name="removedservices" type="remoteservice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="completeservicediff" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="localservicesdiff" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="remoteservicesdiff" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceregistrydiffcalculator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localservicesdiff" >
      <xs:sequence>
        <xs:element name="servicestoremovefromregistry" type="xs:anyType" />
        <xs:element name="localservicestopublish" type="localservice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="localservicestoupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceregistrydiffcalculatorimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicebusadminserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lazyremoteserviceregistryconnector" >
      <xs:sequence>
        <xs:element name="service_registry_security_config" type="xs:string" />
        <xs:element name="initlock" type="xs:anyType" />
        <xs:element name="volatiledelegate" type="xs:anyType" />
        <xs:element name="//injectedcxf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicebusimpl" >
      <xs:complexContent>
       <xs:extension base="baselifecycle">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="servicelock" type="xs:anyType" />
          <xs:element name="synchronizelock" type="xs:anyType" />
          <xs:element name="number" type="xs:anyType" />
          <xs:element name="//injectedvaluesinstanceid" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="diffcalculator" type="serviceregistrydiffcalculator" nillable="true" minOccurs="0" />
          <xs:element name="" type="serviceexportmanager" nillable="true" minOccurs="0" />
          <xs:element name="scheduledpool" type="ksbscheduledpool" nillable="true" minOccurs="0" />
          <xs:element name="registrysyncfuture" type="xs:anyType" />
          <xs:element name="localservices" type="xs:anyType" />
          <xs:element name="clientregistrycache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lazyendpoint" >
      <xs:sequence>
        <xs:element name="lock" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="volatileservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="endpointacquisitionlock" type="xs:anyType" />
        <xs:element name="volatile" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instanceidfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractfactorybean<string>">
         <xs:sequence>
          <xs:element name="instanceid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servicecallversioningoutinterceptor" >
      <xs:complexContent>
       <xs:extension base="abstractphaseinterceptor<message>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servicecallversioninghelper" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="kuali_rice_environment_header" type="xs:string" />
        <xs:element name="kuali_rice_version_header" type="xs:string" />
        <xs:element name="kuali_app_name_header" type="xs:string" />
        <xs:element name="kuali_app_version_header" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="immutablecollectionsininterceptor" >
      <xs:complexContent>
       <xs:extension base="abstractphaseinterceptor<message>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicauthenticationserviceimpl" >
      <xs:sequence>
        <xs:element name="servicecredentialsmap" type="xs:anyType" />
        <xs:element name="connectioncredentialsmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicauthenticationcredentials" >
      <xs:sequence>
        <xs:element name="authenticationservice" type="basicauthenticationservice" nillable="true" minOccurs="0" />
        <xs:element name="servicenamespaceuri" type="xs:string" />
        <xs:element name="localservicename" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicauthenticationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbservicelocator" >
      <xs:complexContent>
       <xs:extension base="message>>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basicauthenticationconnectioncredentials" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationcredentials">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codetranslator" >
      <xs:sequence>
        <xs:element name="routequeuestatuslabels" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ksbconstants" >
      <xs:sequence>
        <xs:element name="//messagingconstantsmessaging_synchronous" type="xs:string" />
        <xs:element name="route_queue_queued" type="xs:string" />
        <xs:element name="route_queue_exception" type="xs:string" />
        <xs:element name="route_queue_routing" type="xs:string" />
        <xs:element name="route_queue_exception_label" type="xs:string" />
        <xs:element name="route_queue_routing_label" type="xs:string" />
        <xs:element name="route_queue_queued_label" type="xs:string" />
        <xs:element name="route_queue_default_priority" type="xs:anyType" />
        <xs:element name="route_queue_filter_suffix" type="xs:string" />
        <xs:element name="//customhttpheaderkeysdigital_signature_header" type="xs:string" />
        <xs:element name="keystore_alias_header" type="xs:string" />
        <xs:element name="keystore_certificate_header" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easysslprotocolsocketfactory" >
      <xs:sequence>
        <xs:element name="/***logobjectforthisclass.*/log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easyx509trustmanager" >
      <xs:sequence>
        <xs:element name="standardtrustmanager" type="xs:anyType" />
        <xs:element name="/***logobjectforthisclass.*/log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bogusserviceimpl" >
      <xs:sequence>
        <xs:element name="wascalled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bogusservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="busclientfailureproxytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicecallversioninghelpertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceregistrydiffcalculatorimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 