covid-registration/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="taskrestapitests" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialisationresttest" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="s" type="specialisation" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrequestrestapitest" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userrequest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskinstancerestapitests" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userrequest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributerestapitests" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributetyperestapitests" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskinstancedatarestapitests" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userrequest" nillable="true" minOccurs="0" />
          <xs:element name="sdf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="symptomrestapitest" >
      <xs:complexContent>
       <xs:extension base="springboottests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="symptom" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springboottests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialisationservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="specialisationservice" nillable="true" minOccurs="0" />
        <xs:element name="s" type="specialisation" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="symptomrestapitest_returnsymptombyid_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributerestapitest_checkfind_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributetyperestapitest_checkfind_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequestrestapitest_returnuserrequestbyid_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskrestapitest_checkfind_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstancedatarestapitest_checkfind_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstancerestapitest_checkfind_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tasksbaseflowtest" >
      <xs:complexContent>
       <xs:extension base="springbootintegrationtests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="testdatapreparation" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertasksbaseflowtest" >
      <xs:complexContent>
       <xs:extension base="springbootintegrationtests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="testdatapreparation" nillable="true" minOccurs="0" />
          <xs:element name="" type="taskinstancerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrequest" nillable="true" minOccurs="0" />
          <xs:element name="tasks" type="taskinstance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseflowtest" >
      <xs:complexContent>
       <xs:extension base="springbootintegrationtests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="testdatapreparation" nillable="true" minOccurs="0" />
          <xs:element name="firstuserid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootintegrationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatapreparation" >
      <xs:sequence>
        <xs:element name="currentutcdatetime" type="xs:anyType" />
        <xs:element name="dateformat" type="xs:string" />
        <xs:element name="datetimeformat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createspecializations_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createsymptom_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createattrtypes_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createsymptoms_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="closeuserrequest_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filluserrecommendations_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getroles_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createuser_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getusertasks_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createattrtype_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getattributes_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registration_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createrole_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtask_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getusers_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createspecialization_request" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateusertasks_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gettasks_response" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treatmentstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalexceptionhandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidfilepathexception" >
      <xs:complexContent>
       <xs:extension base="covidclinicexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="covidclinicexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notfoundexception" >
      <xs:complexContent>
       <xs:extension base="covidclinicexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invaliddateexception" >
      <xs:complexContent>
       <xs:extension base="covidclinicexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="symptomnotfoundbyidexception" >
      <xs:complexContent>
       <xs:extension base="covidclinicexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apputility" >
      <xs:sequence>
        <xs:element name="absolutepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobscheduler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="taskinstanceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrequestservice" nillable="true" minOccurs="0" />
        <xs:element name="scheduler" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="symptomcontroller" >
      <xs:sequence>
        <xs:element name="symptomservice" type="symptomserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="registrationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialisationcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="specialisationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributetypecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attributetypeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attributeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstancecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskinstanceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequestcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrequestservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstancedatacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskinstancedataservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="covidregistrationapplication" >
      <xs:sequence>
        <xs:element name="specialization_base_prefix" type="xs:string" />
        <xs:element name="symptoms_base_prefix" type="xs:string" />
        <xs:element name="user_request_base_prefix" type="xs:string" />
        <xs:element name="user_base_prefix" type="xs:string" />
        <xs:element name="attr_types_base_prefix" type="xs:string" />
        <xs:element name="attributes_base_prefix" type="xs:string" />
        <xs:element name="tasks_base_prefix" type="xs:string" />
        <xs:element name="tasks_instance_base_prefix" type="xs:string" />
        <xs:element name="tasks_instance_data_base_prefix" type="xs:string" />
        <xs:element name="role_base_prefix" type="xs:string" />
        <xs:element name="login_base_prefix" type="xs:string" />
        <xs:element name="register_base_prefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attributerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributetypeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="registrationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequestservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrequestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="taskinstanceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrequestservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstanceservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskinstancerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="taskinstancedataservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributetypeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attributetyperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstancedataservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskinstancedatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="taskinstanceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attributeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialisationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="specialisationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="symptomserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="symptomrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attribute" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="attributetype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialisation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="schedule" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="attributes" type="attribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequest" >
      <xs:sequence>
        <xs:element name="requestid" type="xs:long" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="treatmentstate" nillable="true" minOccurs="0" />
        <xs:element name="doctorrecommendations" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="symptoms" type="symptom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributetype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="checkmask" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="symptom" >
      <xs:sequence>
        <xs:element name="symptomid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="userrequests" type="userrequest" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="insurancenumber" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="specialisations" type="specialisation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="/*(cascade" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstance" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="task" nillable="true" minOccurs="0" />
        <xs:element name="request" type="userrequest" nillable="true" minOccurs="0" />
        <xs:element name="createdtime" type="xs:dateTime" />
        <xs:element name="finishedtime" type="xs:dateTime" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="data" type="taskinstancedata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskinstancedata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="taskinstance" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attribute" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="imagevalue" type="xs:string" />
        <xs:element name="value" type="xs:dateTime" />
        <xs:element name="numericvalue" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="security" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockattributerepository" >
      <xs:complexContent>
       <xs:extension base="attribute>">
         <xs:sequence>
          <xs:element name="attributes" type="attribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mocksymptomrepository" >
      <xs:complexContent>
       <xs:extension base="symptom>">
         <xs:sequence>
          <xs:element name="" type="symptom" nillable="true" minOccurs="0" />
          <xs:element name="symptoms" type="symptom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockregistrationrepository" >
      <xs:complexContent>
       <xs:extension base="user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mocktaskrepository" >
      <xs:complexContent>
       <xs:extension base="task>">
         <xs:sequence>
          <xs:element name="tasks" type="task" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockuserrepository" >
      <xs:complexContent>
       <xs:extension base="user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockattributetyperepository" >
      <xs:complexContent>
       <xs:extension base="attributetype>">
         <xs:sequence>
          <xs:element name="attributetypes" type="attributetype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockuserrequestrepository" >
      <xs:complexContent>
       <xs:extension base="userrequest>">
         <xs:sequence>
          <xs:element name="userrequests" type="userrequest" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockspecialisationrepository" >
      <xs:complexContent>
       <xs:extension base="specialisation>">
         <xs:sequence>
          <xs:element name="s" type="specialisation" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mocktaskinstancerepository" >
      <xs:complexContent>
       <xs:extension base="taskinstance>">
         <xs:sequence>
          <xs:element name="taskinstances" type="taskinstance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="userrequest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mocktaskinstancedatarepository" >
      <xs:complexContent>
       <xs:extension base="taskinstancedata>">
         <xs:sequence>
          <xs:element name="taskinstancedata" type="taskinstancedata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="userrequest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockrolerepository" >
      <xs:complexContent>
       <xs:extension base="role>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrequestrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<userrequest,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registrationrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributetyperepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<attributetype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskinstancedatarepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<taskinstancedata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskinstancerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<taskinstance,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attributerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<attribute,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<task,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="symptomrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<symptom,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialisationrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<specialisation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 