commerce-springCloud1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ecommercebalancedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<ecommercebalance,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecommerceaddressdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<ecommerceaddress,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balancecontroller" >
      <xs:sequence>
        <xs:element name="balanceservice" type="ibalanceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresscontroller" >
      <xs:sequence>
        <xs:element name="addressservice" type="iaddressservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibalanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iaddressservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balanceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ecommercebalancedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ecommerceaddressdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecommerceaddress" >
      <xs:sequence>
        <xs:element name="/***自增主键*/id" type="xs:long" />
        <xs:element name="/***用户id*/userid" type="xs:long" />
        <xs:element name="/***用户名*/username" type="xs:string" />
        <xs:element name="/***电话*/phone" type="xs:string" />
        <xs:element name="/***省*/province" type="xs:string" />
        <xs:element name="/***市*/city" type="xs:string" />
        <xs:element name="/***详细地址*/addressdetail" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***更新时间*/uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecommercebalance" >
      <xs:sequence>
        <xs:element name="/***自增主键*/id" type="xs:long" />
        <xs:element name="/***用户id*/userid" type="xs:long" />
        <xs:element name="/***账户余额*/balance" type="xs:long" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***更新时间*/uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 