docente3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="docente" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dni" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="gradoacademico" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="categoria" type="xs:string" />
        <xs:element name="fechnac" type="xs:dateTime" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="estado" type="xs:anyType" />
        <xs:element name="port" type="xs:anyType" />
        <xs:element name="/***/serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 