conquer-utils/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="conquerutilsapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendadao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conquerutilsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="turmadto" >
      <xs:sequence>
        <xs:element name="codigoturma" type="xs:string" />
        <xs:element name="vagasdisponiveis" type="xs:long" />
        <xs:element name="datainicio" type="xs:dateTime" />
        <xs:element name="curso" type="cursodto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtodto" >
      <xs:sequence>
        <xs:element name="codigoproduto" type="xs:string" />
        <xs:element name="nomeproduto" type="xs:string" />
        <xs:element name="cursos" type="cursodto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ativo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendadto" >
      <xs:sequence>
        <xs:element name="codigovenda" type="xs:string" />
        <xs:element name="aluno" type="alunodto" nillable="true" minOccurs="0" />
        <xs:element name="valorvenda" type="xs:double" />
        <xs:element name="produtos" type="produtodto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="datavenda" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cursodto" >
      <xs:sequence>
        <xs:element name="codigocurso" type="xs:string" />
        <xs:element name="nomecurso" type="xs:string" />
        <xs:element name="descricaocurso" type="xs:string" />
        <xs:element name="cargahoraria" type="xs:long" />
        <xs:element name="precocurso" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matriculadto" >
      <xs:sequence>
        <xs:element name="aluno" type="alunodto" nillable="true" minOccurs="0" />
        <xs:element name="turma" type="turmadto" nillable="true" minOccurs="0" />
        <xs:element name="curso" type="cursodto" nillable="true" minOccurs="0" />
        <xs:element name="datamatricula" type="xs:dateTime" />
        <xs:element name="codigomatricula" type="xs:string" />
        <xs:element name="situacaomatricula" type="enumsituacaomatricula" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="vendadto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alunodto" >
      <xs:sequence>
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="turma" type="turma" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mensagemretorno" >
      <xs:sequence>
        <xs:element name="statushttp" type="xs:anyType" />
        <xs:element name="mensagem" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilhttp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aluno" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="turma" type="turma" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtocursos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="codigoproduto" type="xs:string" />
        <xs:element name="nomeproduto" type="xs:string" />
        <xs:element name="//@onetomany(mappedby" type="curso" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ativo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="turma" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="codigoturma" type="xs:string" />
        <xs:element name="vagasdisponiveis" type="xs:long" />
        <xs:element name="datainicio" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="curso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="curso" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="codigocurso" type="xs:string" />
        <xs:element name="nomecurso" type="xs:string" />
        <xs:element name="descricaocurso" type="xs:string" />
        <xs:element name="cargahoraria" type="xs:long" />
        <xs:element name="precocurso" type="xs:double" />
        <xs:element name="tipocurso" type="enumtipocurso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="venda" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="codigovenda" type="xs:string" />
        <xs:element name="GeneratedName" type="aluno" nillable="true" minOccurs="0" />
        <xs:element name="produto" type="produto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="valorvenda" type="xs:double" />
        <xs:element name="datavenda" type="xs:dateTime" />
        <xs:element name="situacaopagamento" type="enumsituacaopagamento" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matricula" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="aluno" nillable="true" minOccurs="0" />
        <xs:element name="//@columndefault(value" type="turma" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="curso" nillable="true" minOccurs="0" />
        <xs:element name="datamatricula" type="xs:dateTime" />
        <xs:element name="codigomatricula" type="xs:string" />
        <xs:element name="situacaomatricula" type="enumsituacaomatricula" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="venda" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumtipocurso" >
      <xs:sequence>
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumsituacaopagamento" >
      <xs:sequence>
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumsituacaomatricula" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 