hsn/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="context_context" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_c_1" type="xs:long" />
        <xs:element name="id_c_2" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contxt" >
      <xs:sequence>
        <xs:element name="toplist" type="contextelement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="celist" type="contextelement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="top" type="contextelement" nillable="true" minOccurs="0" />
        <xs:element name="//" type="xs:anyType" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="old_id_c" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextelement" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="//level" type="xs:long" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="types" type="xs:anyType" />
        <xs:element name="values" type="xs:anyType" />
        <xs:element name="parent" type="contextelement" nillable="true" minOccurs="0" />
        <xs:element name="children" type="contextelement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="internalchildren" type="contextelement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 