DGProject/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaosupport">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishcategorydaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaosupport">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driverdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaosupport">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderformdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaosupport">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
          <xs:element name="payment_pie_sql" type="xs:string" />
          <xs:element name="axe_sql" type="xs:string" />
          <xs:element name="line_sql" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basedaosupport" >
      <xs:complexContent>
       <xs:extension base="persistenceentity>">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coupondaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaosupport">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restaurantdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaosupport">
         <xs:sequence>
          <xs:element name="m" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterconstant" >
      <xs:sequence>
        <xs:element name="order_asc" type="xs:string" />
        <xs:element name="order_desc" type="xs:string" />
        <xs:element name="//accountstatusaccount_status_inavtive" type="xs:string" />
        <xs:element name="account_status_active" type="xs:string" />
        <xs:element name="account_status_admin" type="xs:string" />
        <xs:element name="//logintype//facebook账户类型login_type_facebook" type="xs:string" />
        <xs:element name="//twitter账户类型login_type_twitter" type="xs:string" />
        <xs:element name="//wechat账户类型login_type_wechat" type="xs:string" />
        <xs:element name="//dishstatusdish_status_disable" type="xs:string" />
        <xs:element name="dish_status_enable" type="xs:string" />
        <xs:element name="//restaurantstatusrestaurant_status_disable" type="xs:anyType" />
        <xs:element name="restaurant_status_enable" type="xs:anyType" />
        <xs:element name="restaurant_status_pending" type="xs:anyType" />
        <xs:element name="//menuitemtypesmenu_item_type_all" type="xs:string" />
        <xs:element name="menu_item_type_dish" type="xs:string" />
        <xs:element name="menu_item_type_review" type="xs:string" />
        <xs:element name="//couponstatuscoupon_status_disable" type="xs:string" />
        <xs:element name="coupon_status_enable" type="xs:string" />
        <xs:element name="//coupontypescoupon_type_special_price" type="xs:string" />
        <xs:element name="coupon_type_amount_discount" type="xs:string" />
        <xs:element name="coupon_type_percentage_discount" type="xs:string" />
        <xs:element name="//coupontargettypescoupon_targer_type_dish" type="xs:string" />
        <xs:element name="coupon_targer_type_row_bill" type="xs:string" />
        <xs:element name="coupon_targer_type_trade" type="xs:string" />
        <xs:element name="//couponextracritiriatypecoupon_cri_type_dishs" type="xs:string" />
        <xs:element name="coupon_cri_type_row_bill" type="xs:string" />
        <xs:element name="//tradegettypetrade_get_type_takeout" type="xs:string" />
        <xs:element name="desc_trade_get_type_takeout" type="xs:string" />
        <xs:element name="trade_get_type_delivery" type="xs:string" />
        <xs:element name="desc_trade_get_type_delivery" type="xs:string" />
        <xs:element name="//traderpaymenttypedesc_trade_payment_type_others" type="xs:string" />
        <xs:element name="trade_payment_type_credit_card" type="xs:string" />
        <xs:element name="desc_trade_payment_type_credit_card" type="xs:string" />
        <xs:element name="trade_payment_type_paypal" type="xs:string" />
        <xs:element name="desc_trade_payment_type_paypal" type="xs:string" />
        <xs:element name="trade_payment_type_cash" type="xs:string" />
        <xs:element name="desc_trade_payment_type_cash" type="xs:string" />
        <xs:element name="//orderformdecimalorder_form_payment_gatway_charge" type="xs:anyType" />
        <xs:element name="order_form_payment_gatway_charge_per_order" type="xs:anyType" />
        <xs:element name="//orderformstatusorder_form_status_cancel" type="xs:string" />
        <xs:element name="//usergettheorderorder_form_status_finished" type="xs:string" />
        <xs:element name="//afteruserorder,thisorderispendingtorestauranttocaonfirmorcancelorder_form_status_restaurant_pending" type="xs:string" />
        <xs:element name="//afterrestaurantconfirmedorder_form_status_restaurant_confirmed" type="xs:string" />
        <xs:element name="//afterrestaurantcalldeliveryservice,waitingfordeliveringtodriverorder_form_status_call_delivery" type="xs:string" />
        <xs:element name="//aftertheorderisdeliveredtodriver,waitingfordriver'sconfirmationorcancelorder_form_status_driver_pending" type="xs:string" />
        <xs:element name="//afterdriverpickouttheorderorder_form_status_delivery_confirmed" type="xs:string" />
        <xs:element name="//orderformisfromonemenuorder_form_is_one_menu" type="xs:long" />
        <xs:element name="order_form_is_not_one_menu" type="xs:long" />
        <xs:element name="//orderformisfromonemenudriver_status_resigned" type="xs:long" />
        <xs:element name="driver_status_unavailiable" type="xs:long" />
        <xs:element name="driver_status_availiable" type="xs:long" />
        <xs:element name="driver_status_pending" type="xs:long" />
        <xs:element name="driver_status_on_delivery" type="xs:long" />
        <xs:element name="//commonstatuscodestatus_code_error" type="xs:string" />
        <xs:element name="msg_operation_error" type="xs:string" />
        <xs:element name="status_code_operation_success" type="xs:string" />
        <xs:element name="msg_operation_success" type="xs:string" />
        <xs:element name="status_code_data_empty" type="xs:string" />
        <xs:element name="msg_data_empty" type="xs:string" />
        <xs:element name="status_code_data_not_exist" type="xs:string" />
        <xs:element name="msg_data_not_exist" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onemenucontextloaderlistener" >
      <xs:complexContent>
       <xs:extension base="contextloaderlistener">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="couponservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishcategoryservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="merchantservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderformservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deliverytimesheetservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driverservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restaurantservice" >
      <xs:complexContent>
       <xs:extension base="abstractserviceinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractserviceinf" >
      <xs:complexContent>
       <xs:extension base="persistenceentity>">
         <xs:sequence>
          <xs:element name="/***公共日志*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrank" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mrank" type="xs:long" />
        <xs:element name="mpageview" type="xs:long" />
        <xs:element name="m" type="review" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="msummary" type="xs:string" />
        <xs:element name="m" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="mreviewitemset" type="reviewitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//关系维护方m" type="reviewrank" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishingredient" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mstatus" type="xs:string" />
        <xs:element name="m" type="dish" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishrank" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mrank" type="xs:long" />
        <xs:element name="mpageview" type="xs:long" />
        <xs:element name="mpurchasevolume" type="xs:long" />
        <xs:element name="m" type="dish" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishimage" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="murl" type="xs:string" />
        <xs:element name="mwidth" type="xs:anyType" />
        <xs:element name="mheight" type="xs:anyType" />
        <xs:element name="mdescription" type="xs:string" />
        <xs:element name="m" type="dish" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useranalysis" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:long" />
        <xs:element name="deviceid" type="xs:string" />
        <xs:element name="appversion" type="xs:string" />
        <xs:element name="viewname" type="xs:string" />
        <xs:element name="intime" type="xs:anyType" />
        <xs:element name="outtime" type="xs:anyType" />
        <xs:element name="keeptime" type="xs:long" />
        <xs:element name="equipment" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dish" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mcode" type="xs:string" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="/***对name去除空格**/toptagsname" type="xs:string" />
        <xs:element name="mothername" type="xs:string" />
        <xs:element name="mdescription" type="xs:string" />
        <xs:element name="mprice" type="xs:anyType" />
        <xs:element name="mimagename" type="xs:string" />
        <xs:element name="mdiscountability" type="xs:string" />
        <xs:element name="mstatus" type="xs:string" />
        <xs:element name="/***json字符串，dish的标签****/mtags" type="xs:string" />
        <xs:element name="/***用户自选配料，保存了json字符串**/mcustomization" type="xs:string" />
        <xs:element name="m" type="dishcategory" nillable="true" minOccurs="0" />
        <xs:element name="//关系维护方m" type="dishrank" nillable="true" minOccurs="0" />
        <xs:element name="mcoupontargetdishsset" type="coupon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mcouponextracridishsset" type="coupon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mdishoptiontypeset" type="dishoptiontype" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mdishingredientset" type="dishingredient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mdishimageset" type="dishimage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logintoken" >
      <xs:sequence>
        <xs:element name="//tokenidtokenid" type="xs:string" />
        <xs:element name="//token内容content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mdishid" type="xs:string" />
        <xs:element name="mdishname" type="xs:string" />
        <xs:element name="mdishprice" type="xs:string" />
        <xs:element name="mdishimageurl" type="xs:string" />
        <xs:element name="mdishamount" type="xs:string" />
        <xs:element name="mprice" type="xs:anyType" />
        <xs:element name="m" type="orderform" nillable="true" minOccurs="0" />
        <xs:element name="morderitemingredientset" type="orderitemingredient" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagrank" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mtag" type="xs:string" />
        <xs:element name="mpageview" type="xs:long" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderform" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mcode" type="xs:string" />
        <xs:element name="mremark" type="xs:string" />
        <xs:element name="mcouponid" type="xs:string" />
        <xs:element name="mcoupondesc" type="xs:string" />
        <xs:element name="mstatus" type="xs:string" />
        <xs:element name="mprice" type="xs:anyType" />
        <xs:element name="mtipsfee" type="xs:anyType" />
        <xs:element name="tipstype" type="xs:string" />
        <xs:element name="driverbillprice" type="xs:anyType" />
        <xs:element name="mdeliveryfee" type="xs:anyType" />
        <xs:element name="mdiscountfee" type="xs:anyType" />
        <xs:element name="mtaxfee" type="xs:anyType" />
        <xs:element name="msubtotalfee" type="xs:anyType" />
        <xs:element name="mtotalfee" type="xs:anyType" />
        <xs:element name="m" type="trade" nillable="true" minOccurs="0" />
        <xs:element name="m" type="restaurant" nillable="true" minOccurs="0" />
        <xs:element name="morderitemset" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="misonemenu" type="xs:anyType" />
        <xs:element name="mrestconfirmedtimestamp" type="xs:dateTime" />
        <xs:element name="mcanceltimestamp" type="xs:dateTime" />
        <xs:element name="mcalldeliverytimestamp" type="xs:dateTime" />
        <xs:element name="mdriverconfirmedtimestamp" type="xs:dateTime" />
        <xs:element name="marrivedtimestamp" type="xs:dateTime" />
        <xs:element name="m" type="driver" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishcategory" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="msequence" type="xs:anyType" />
        <xs:element name="mdishset" type="dish" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="m" type="restaurant" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="memail" type="xs:string" />
        <xs:element name="mpassword" type="xs:string" />
        <xs:element name="mstatus" type="xs:string" />
        <xs:element name="//关系维护方m" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="//关系维护方m" type="merchant" nillable="true" minOccurs="0" />
        <xs:element name="m" type="driver" nillable="true" minOccurs="0" />
        <xs:element name="mthirdpartyaccountset" type="thirdpartyaccount" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
        <xs:element name="lastlogintime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driver" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mavatar" type="xs:string" />
        <xs:element name="mavatarurl" type="xs:string" />
        <xs:element name="mavatarwidth" type="xs:anyType" />
        <xs:element name="mavatarheight" type="xs:anyType" />
        <xs:element name="mphone" type="xs:string" />
        <xs:element name="maddress" type="xs:string" />
        <xs:element name="memail" type="xs:string" />
        <xs:element name="mstatus" type="xs:anyType" />
        <xs:element name="devicetoken" type="xs:string" />
        <xs:element name="/***纬度*/latitude" type="xs:double" />
        <xs:element name="/***经度*/longitude" type="xs:double" />
        <xs:element name="m" type="account" nillable="true" minOccurs="0" />
        <xs:element name="morderformset" type="orderform" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mdeliverytimesheetset" type="deliverytimesheet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coupon" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mtype" type="xs:string" />
        <xs:element name="mtypeamount" type="xs:anyType" />
        <xs:element name="mtargettype" type="xs:string" />
        <xs:element name="mextracritype" type="xs:string" />
        <xs:element name="mextracriamount" type="xs:anyType" />
        <xs:element name="mdescription" type="xs:string" />
        <xs:element name="mquantity" type="xs:anyType" />
        <xs:element name="mtotalquantity" type="xs:anyType" />
        <xs:element name="mavailablestarttime" type="xs:string" />
        <xs:element name="mavailableendtime" type="xs:string" />
        <xs:element name="meffectivedate" type="xs:string" />
        <xs:element name="mmaturitydate" type="xs:string" />
        <xs:element name="mweeks" type="xs:string" />
        <xs:element name="mimageurl" type="xs:string" />
        <xs:element name="mstatus" type="xs:string" />
        <xs:element name="m" type="restaurant" nillable="true" minOccurs="0" />
        <xs:element name="mcoupontargetdishsset" type="dish" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mcouponextracridishsset" type="dish" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//@onetomany(cascade" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewitem" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mcomment" type="xs:string" />
        <xs:element name="mimageurl" type="xs:string" />
        <xs:element name="mdishid" type="xs:string" />
        <xs:element name="mdishname" type="xs:string" />
        <xs:element name="m" type="review" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurantrank" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mrank" type="xs:long" />
        <xs:element name="mpageview" type="xs:long" />
        <xs:element name="m" type="restaurant" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishoptionitem" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mprice" type="xs:anyType" />
        <xs:element name="m" type="dishoptiontype" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trade" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mcode" type="xs:string" />
        <xs:element name="mgettype" type="xs:string" />
        <xs:element name="mpaymenttype" type="xs:string" />
        <xs:element name="mcustomername" type="xs:string" />
        <xs:element name="mcustomerphone" type="xs:string" />
        <xs:element name="mcouponid" type="xs:string" />
        <xs:element name="mcoupondesc" type="xs:string" />
        <xs:element name="mcustomeraddress" type="xs:string" />
        <xs:element name="mcustomerapt" type="xs:string" />
        <xs:element name="mcustomerstreet" type="xs:string" />
        <xs:element name="mcustomercity" type="xs:string" />
        <xs:element name="mcustomerzipcode" type="xs:string" />
        <xs:element name="mprice" type="xs:anyType" />
        <xs:element name="m" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="morderformset" type="orderform" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerfeedback" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mcustomerid" type="xs:long" />
        <xs:element name="mcustomername" type="xs:string" />
        <xs:element name="mcustomerphone" type="xs:string" />
        <xs:element name="mcustomeremail" type="xs:string" />
        <xs:element name="mcontent" type="xs:string" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restauranttoptags" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="/***纬度**/latitude" type="xs:double" />
        <xs:element name="/***经度**/longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thirdpartyaccount" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mthirdpartyid" type="xs:string" />
        <xs:element name="mlogintype" type="xs:string" />
        <xs:element name="m" type="account" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverytimesheet" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mavailabledate" type="xs:string" />
        <xs:element name="mavailablestarttime" type="xs:string" />
        <xs:element name="mavailableendtime" type="xs:string" />
        <xs:element name="mavailablequantity" type="xs:anyType" />
        <xs:element name="mquantity" type="xs:anyType" />
        <xs:element name="mdriverset" type="driver" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="merchant" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mfirstname" type="xs:string" />
        <xs:element name="mlastname" type="xs:string" />
        <xs:element name="mphone" type="xs:string" />
        <xs:element name="m" type="account" nillable="true" minOccurs="0" />
        <xs:element name="//@onetoone(mappedby" type="restaurant" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mavatar" type="xs:string" />
        <xs:element name="mavatarurl" type="xs:string" />
        <xs:element name="mavatarwidth" type="xs:anyType" />
        <xs:element name="mavatarheight" type="xs:anyType" />
        <xs:element name="mcompany" type="xs:string" />
        <xs:element name="mprofession" type="xs:string" />
        <xs:element name="mphone" type="xs:string" />
        <xs:element name="maddress" type="xs:string" />
        <xs:element name="mfoldername" type="xs:string" />
        <xs:element name="m" type="account" nillable="true" minOccurs="0" />
        <xs:element name="mreviewset" type="review" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mtradesset" type="trade" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mcouponset" type="coupon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishoptiontype" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mismandatory" type="xs:string" />
        <xs:element name="missingle" type="xs:string" />
        <xs:element name="m" type="dish" nillable="true" minOccurs="0" />
        <xs:element name="mdishoptionitemset" type="dishoptionitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitemingredient" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mprice" type="xs:anyType" />
        <xs:element name="m" type="orderitem" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menutoptags" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="/***纬度**/latitude" type="xs:double" />
        <xs:element name="/***经度**/longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurant" >
      <xs:sequence>
        <xs:element name="mid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="/***对name去除空格**/toptagsname" type="xs:string" />
        <xs:element name="mlogo" type="xs:string" />
        <xs:element name="mlogourl" type="xs:string" />
        <xs:element name="mlogowidth" type="xs:anyType" />
        <xs:element name="mlogoheight" type="xs:anyType" />
        <xs:element name="/***纬度*/mlatitude" type="xs:double" />
        <xs:element name="/***经度*/mlongitude" type="xs:double" />
        <xs:element name="maddress" type="xs:string" />
        <xs:element name="mstreet" type="xs:string" />
        <xs:element name="mcity" type="xs:string" />
        <xs:element name="mstate" type="xs:string" />
        <xs:element name="mzipcode" type="xs:string" />
        <xs:element name="/***usedforalertingorder*/mfaxnum" type="xs:string" />
        <xs:element name="/***usedforalertingorder*/memail" type="xs:string" />
        <xs:element name="/***usedforalertingorder*/mphone" type="xs:string" />
        <xs:element name="mdescription" type="xs:string" />
        <xs:element name="mstatus" type="xs:anyType" />
        <xs:element name="/***controlrestaurantsupportdeliveryornot*/misdelivery" type="xs:anyType" />
        <xs:element name="/***controlrestaurantsupportpickoutornot*/mispickout" type="xs:anyType" />
        <xs:element name="/***controlrestaurantsupportpre-orderornot*/mispreorder" type="xs:anyType" />
        <xs:element name="/***资源目录名称*/mfoldername" type="xs:string" />
        <xs:element name="mfreedeliverylimit" type="xs:anyType" />
        <xs:element name="mdeliveryfee" type="xs:anyType" />
        <xs:element name="mdeliverydistance" type="xs:double" />
        <xs:element name="mmindeliverytotal" type="xs:anyType" />
        <xs:element name="mmondeliverystarttime" type="xs:string" />
        <xs:element name="mmondeliveryendtime" type="xs:string" />
        <xs:element name="mtuedeliverystarttime" type="xs:string" />
        <xs:element name="mtuedeliveryendtime" type="xs:string" />
        <xs:element name="mweddeliverystarttime" type="xs:string" />
        <xs:element name="mweddeliveryendtime" type="xs:string" />
        <xs:element name="mthudeliverystarttime" type="xs:string" />
        <xs:element name="mthudeliveryendtime" type="xs:string" />
        <xs:element name="mfrideliverystarttime" type="xs:string" />
        <xs:element name="mfrideliveryendtime" type="xs:string" />
        <xs:element name="msatdeliverystarttime" type="xs:string" />
        <xs:element name="msatdeliveryendtime" type="xs:string" />
        <xs:element name="msundeliverystarttime" type="xs:string" />
        <xs:element name="msundeliveryendtime" type="xs:string" />
        <xs:element name="mmonopenstarttime" type="xs:string" />
        <xs:element name="mmonopenendtime" type="xs:string" />
        <xs:element name="mtueopenstarttime" type="xs:string" />
        <xs:element name="mtueopenendtime" type="xs:string" />
        <xs:element name="mwedopenstarttime" type="xs:string" />
        <xs:element name="mwedopenendtime" type="xs:string" />
        <xs:element name="mthuopenstarttime" type="xs:string" />
        <xs:element name="mthuopenendtime" type="xs:string" />
        <xs:element name="mfriopenstarttime" type="xs:string" />
        <xs:element name="mfriopenendtime" type="xs:string" />
        <xs:element name="msatopenstarttime" type="xs:string" />
        <xs:element name="msatopenendtime" type="xs:string" />
        <xs:element name="msunopenstarttime" type="xs:string" />
        <xs:element name="msunopenendtime" type="xs:string" />
        <xs:element name="m" type="merchant" nillable="true" minOccurs="0" />
        <xs:element name="mdishcategoryset" type="dishcategory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mcouponset" type="coupon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="morderformset" type="orderform" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//关系维护方m" type="restaurantrank" nillable="true" minOccurs="0" />
        <xs:element name="//commonfieldmcreatetimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="controllerexceptionhandler" >
      <xs:sequence>
        <xs:element name="m" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commoncontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="dishcategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="dishservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="couponservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="orderformservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="restaurantservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driveradmincontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="driverservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="restaurantservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="driverservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="orderformservice" nillable="true" minOccurs="0" />
        <xs:element name="m" type="deliverytimesheetservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverytimesheetadmincontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="deliverytimesheetservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="orderformservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverycontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="orderformservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurantadmincontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="restaurantservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatransfercontrollerimpl" >
      <xs:sequence>
        <xs:element name="m" type="dishservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurantadmincontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deliverycontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commoncontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datatransfercontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menucontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driveradmincontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deliverytimesheetadmincontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractcontroller" >
      <xs:sequence>
        <xs:element name="/***公共日志*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driverdao" >
      <xs:complexContent>
       <xs:extension base="basedaoinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderformdao" >
      <xs:complexContent>
       <xs:extension base="basedaoinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishdao" >
      <xs:complexContent>
       <xs:extension base="basedaoinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basedaoinf" >
      <xs:complexContent>
       <xs:extension base="persistenceentity>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coupondao" >
      <xs:complexContent>
       <xs:extension base="basedaoinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishcategorydao" >
      <xs:complexContent>
       <xs:extension base="basedaoinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restaurantdao" >
      <xs:complexContent>
       <xs:extension base="basedaoinf">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissioninterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="//利用正则映射到需要拦截的路径mappingurl" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskjob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitortimer" >
      <xs:complexContent>
       <xs:extension base="timertask">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resetvaluejob" >
      <xs:complexContent>
       <xs:extension base="quartzjobbean">
         <xs:sequence>
          <xs:element name="stemplimitedmemory" type="xs:double" />
          <xs:element name="stempfailtime" type="xs:long" />
          <xs:element name="timeout" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commonreturntype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertykey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionkey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderformquerycondition" >
      <xs:sequence>
        <xs:element name="restaurantid" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="fromtimestamp" type="xs:dateTime" />
        <xs:element name="totimestamp" type="xs:dateTime" />
        <xs:element name="isonemenu" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driverquerycondition" >
      <xs:sequence>
        <xs:element name="driverid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurantquerycondition" >
      <xs:sequence>
        <xs:element name="restaurantid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagedetailbean" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="width" type="xs:string" />
        <xs:element name="height" type="xs:string" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishcategorybean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="createdate" type="xs:string" />
        <xs:element name="sequence" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="othername" type="xs:string" />
        <xs:element name="dishcategoryid" type="xs:string" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="//描述desc" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="dishoptiontypebeanlist" type="dishoptiontypebean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="//pageview" type="xs:string" />
        <xs:element name="purchasevolume" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishoptionitembean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driverbean" >
      <xs:sequence>
        <xs:element name="driverid" type="xs:string" />
        <xs:element name="drivername" type="xs:string" />
        <xs:element name="driverphone" type="xs:string" />
        <xs:element name="driveremail" type="xs:string" />
        <xs:element name="driveraddress" type="xs:string" />
        <xs:element name="driveravatar" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="createtimestamp" type="xs:string" />
        <xs:element name="morderformlist" type="orderform" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mdeliverytimesheetlist" type="deliverytimesheet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuitemdetailbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="othername" type="xs:string" />
        <xs:element name="dishcategoryid" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="customization" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logintokenobjbean" >
      <xs:sequence>
        <xs:element name="accesstoken" type="xs:string" />
        <xs:element name="accesstokencontent" type="xs:string" />
        <xs:element name="login" type="xs:anyType" />
        <xs:element name="GeneratedName" type="account" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitembean" >
      <xs:sequence>
        <xs:element name="dishid" type="xs:string" />
        <xs:element name="dishname" type="xs:string" />
        <xs:element name="dishimageurl" type="xs:string" />
        <xs:element name="dishamount" type="xs:string" />
        <xs:element name="dishprice" type="xs:string" />
        <xs:element name="//dishprice*dishaamountorderitemprice" type="xs:string" />
        <xs:element name="orderitemoptionitemarray" type="dishoptionitembean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statementbean" >
      <xs:sequence>
        <xs:element name="paymenttype" type="xs:string" />
        <xs:element name="netsales" type="xs:string" />
        <xs:element name="tax" type="xs:string" />
        <xs:element name="salestax" type="xs:string" />
        <xs:element name="deliveryfee" type="xs:string" />
        <xs:element name="tips" type="xs:string" />
        <xs:element name="paymentgatewayfees" type="xs:string" />
        <xs:element name="netincome" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="couponbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="typeamount" type="xs:string" />
        <xs:element name="targettype" type="xs:string" />
        <xs:element name="coupontargetdishslist" type="dishbean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="extracritype" type="xs:string" />
        <xs:element name="couponextracridishslist" type="dishbean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="extracriamount" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="quantity" type="xs:string" />
        <xs:element name="totalquantity" type="xs:string" />
        <xs:element name="availablestarttime" type="xs:string" />
        <xs:element name="availableendtime" type="xs:string" />
        <xs:element name="effectivedate" type="xs:string" />
        <xs:element name="maturitydate" type="xs:string" />
        <xs:element name="weeks" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="createtimestamp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderformbean" >
      <xs:sequence>
        <xs:element name="orderformid" type="xs:string" />
        <xs:element name="orderformcode" type="xs:string" />
        <xs:element name="//-gettype" type="xs:string" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="customeraddress" type="xs:string" />
        <xs:element name="customerphone" type="xs:string" />
        <xs:element name="orderitemarray" type="orderitembean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="taxfee" type="xs:string" />
        <xs:element name="//-1:cashtipsfee" type="xs:string" />
        <xs:element name="deliveryfee" type="xs:string" />
        <xs:element name="discountfee" type="xs:string" />
        <xs:element name="orderformprice" type="xs:string" />
        <xs:element name="//-status" type="xs:string" />
        <xs:element name="orderformrestconfirmeddatetime" type="xs:string" />
        <xs:element name="orderformcanceldatetime" type="xs:string" />
        <xs:element name="orderformcalldeliverydatetime" type="xs:string" />
        <xs:element name="orderformdriverconfirmeddatetime" type="xs:string" />
        <xs:element name="orderformarriveddatetime" type="xs:string" />
        <xs:element name="orderformcreatedatetime" type="xs:string" />
        <xs:element name="orderformrestconfirmedtimestamp" type="xs:dateTime" />
        <xs:element name="orderformcanceltimestamp" type="xs:dateTime" />
        <xs:element name="orderformcalldeliverytimestamp" type="xs:dateTime" />
        <xs:element name="orderformdriverconfirmedtimestamp" type="xs:dateTime" />
        <xs:element name="orderformarrivedtimestamp" type="xs:dateTime" />
        <xs:element name="orderformcreatetimestamp" type="xs:dateTime" />
        <xs:element name="curtimestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dishoptiontypebean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ismandatory" type="xs:string" />
        <xs:element name="issingle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseresultbean" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverytimesheetbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="availabledate" type="xs:string" />
        <xs:element name="availablestarttime" type="xs:string" />
        <xs:element name="availableendtime" type="xs:string" />
        <xs:element name="availablequantity" type="xs:string" />
        <xs:element name="quantity" type="xs:string" />
        <xs:element name="createdatetime" type="xs:string" />
        <xs:element name="driverbeanlist" type="driverbean" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restaurantbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="faxnum" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="logourl" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="createtimestamp" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="freedeliverylimit" type="xs:string" />
        <xs:element name="deliveryfee" type="xs:string" />
        <xs:element name="deliverydistance" type="xs:string" />
        <xs:element name="mindeliverytotal" type="xs:string" />
        <xs:element name="mondeliverystarttime" type="xs:string" />
        <xs:element name="mondeliveryendtime" type="xs:string" />
        <xs:element name="tuedeliverystarttime" type="xs:string" />
        <xs:element name="tuedeliveryendtime" type="xs:string" />
        <xs:element name="weddeliverystarttime" type="xs:string" />
        <xs:element name="weddeliveryendtime" type="xs:string" />
        <xs:element name="thudeliverystarttime" type="xs:string" />
        <xs:element name="thudeliveryendtime" type="xs:string" />
        <xs:element name="frideliverystarttime" type="xs:string" />
        <xs:element name="frideliveryendtime" type="xs:string" />
        <xs:element name="satdeliverystarttime" type="xs:string" />
        <xs:element name="satdeliveryendtime" type="xs:string" />
        <xs:element name="sundeliverystarttime" type="xs:string" />
        <xs:element name="sundeliveryendtime" type="xs:string" />
        <xs:element name="monopenstarttime" type="xs:string" />
        <xs:element name="monopenendtime" type="xs:string" />
        <xs:element name="tueopenstarttime" type="xs:string" />
        <xs:element name="tueopenendtime" type="xs:string" />
        <xs:element name="wedopenstarttime" type="xs:string" />
        <xs:element name="wedopenendtime" type="xs:string" />
        <xs:element name="thuopenstarttime" type="xs:string" />
        <xs:element name="thuopenendtime" type="xs:string" />
        <xs:element name="friopenstarttime" type="xs:string" />
        <xs:element name="friopenendtime" type="xs:string" />
        <xs:element name="satopenstarttime" type="xs:string" />
        <xs:element name="satopenendtime" type="xs:string" />
        <xs:element name="sunopenstarttime" type="xs:string" />
        <xs:element name="sunopenendtime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equipment" >
      <xs:sequence>
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="awss3utils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//onemenu-s3-servers3_host_name" type="xs:string" />
        <xs:element name="//one_menu_bucket_name" type="xs:string" />
        <xs:element name="root_res" type="xs:string" />
        <xs:element name="customer_res" type="xs:string" />
        <xs:element name="restaurant_res" type="xs:string" />
        <xs:element name="propertiesfilename" type="xs:string" />
        <xs:element name="profile_name" type="xs:string" />
        <xs:element name="access_key" type="xs:string" />
        <xs:element name="secret_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datecommonutils" >
      <xs:sequence>
        <xs:element name="syyddmm" type="xs:anyType" />
        <xs:element name="shhmmss" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mimeutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mimetypetoextensionmap" type="xs:anyType" />
        <xs:element name="extensiontomimetypemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="image_width_270" type="xs:long" />
        <xs:element name="image_width_540" type="xs:long" />
        <xs:element name="image_width_1080" type="xs:long" />
        <xs:element name="image_width_1680" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancelpendingfax" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//replacewiththetransactionidofthefaxtobetransaction_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmultiplefilestomultiplerecipients" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
          <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
          <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
          <xs:element name="//semicolon-delimitedfax_numbers" type="xs:string" />
          <xs:element name="//listofdestination//fax//numbers//optionalsemicolon-delimitedcontacts" type="xs:string" />
          <xs:element name="files" type="xs:string" />
          <xs:element name="//fax//thesefilesneedtoberesidentonthefilesystemretries" type="xs:long" />
          <xs:element name="csid" type="xs:string" />
          <xs:element name="page_header" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="reply_email" type="xs:string" />
          <xs:element name="page_size" type="xs:string" />
          <xs:element name="page_orientation" type="xs:string" />
          <xs:element name="high_resolution" type="xs:anyType" />
          <xs:element name="fine_rendering" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="faxfromjava" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//enteryourdesignatedfaxnumberhereintheformat+[countryfax_number" type="xs:string" />
        <xs:element name="[areacode][faxnumber],forexample:+12125554874text_to_fax" type="xs:string" />
        <xs:element name="file_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getlistofinboundfaxes" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//maximumnumberofinboundfaxestoreturninlistmax_items" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendonefileattachment" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//enterthedestinationfaxnumberhere,e.g.+497116589658fax_number" type="xs:string" />
        <xs:element name="//afileinyourfilesystemfile_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getstatuswithfaxstatusex" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//enterthetransactionidforwhichdatatransaction_id" type="xs:long" />
        <xs:element name="//istoberetrieved,or999999999for//themostrecenttransaction(s)//howmanytransactionstoreturninformationformax_items" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getstatuswithfaxquery" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//veryflexible,seedocumentationquery_verb" type="xs:string" />
        <xs:element name="query_data" type="xs:string" />
        <xs:element name="//howmanytransactionstoreturninformationformax_items" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getstatuswithfaxquery2" >
      <xs:sequence>
        <xs:element name="_verbare://equals|greaterthan|greaterorequal|lessthan|lessorequal|like|includedin|between//leaveboth[property]_verband[property]_dataemptytoignorethepropertyinthequery//enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="subject_data" type="xs:string" />
        <xs:element name="faxnumber_data" type="xs:string" />
        <xs:element name="date_to" type="xs:string" />
        <xs:element name="user_id_data" type="xs:string" />
        <xs:element name="reply_address_data" type="xs:string" />
        <xs:element name="transaction_id_data" type="xs:string" />
        <xs:element name="parent_transaction_id_data" type="xs:string" />
        <xs:element name="status_data" type="xs:string" />
        <xs:element name="//thefollowingvaluescontroldisplaysettingsshow_hidden_transactions" type="xs:anyType" />
        <xs:element name="only_parents" type="xs:anyType" />
        <xs:element name="num_of_results" type="xs:long" />
        <xs:element name="starting_record" type="xs:long" />
        <xs:element name="//validvaluesfor$order_byare://transactionid|submittime|completiontime|status|destinationfax|subject|pagessent|//userid|replyemailorder_by" type="xs:string" />
        <xs:element name="asc_order_direction" type="xs:anyType" />
        <xs:element name="return_items" type="xs:anyType" />
        <xs:element name="return_stats" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendcharfaxfromjava" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//enterthedestinationfaxnumberhereintheformat:fax_number" type="xs:string" />
        <xs:element name="[areacode][faxnumber]//forexample:+12125554874//enteryourfaxcontentshere(asciitexttext_to_fax" type="xs:string" />
        <xs:element name="//only)//iftext_to_faxholdsregulartext,enter"txt"here.file_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchfaximage" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//enterthetransactionidforwhichdatatransaction_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getfaxwithgetimagechunk" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//transactionidoftheinboundmessagetobereadmessage_id" type="xs:long" />
        <xs:element name="//sizeinbytesoftheinboundmessage.thisvaluemessage_size" type="xs:long" />
        <xs:element name="//isreturnedbymethodgetlist,whichshouldberun//beforethisone//marktheitemas'read'afterdownloading?iftrue,mark_as_read" type="xs:anyType" />
        <xs:element name="//itemwillnoerbe'new'andwillbeshownupon//subsequentlistretrievalviagetlistchunk_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5utils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutil" >
      <xs:sequence>
        <xs:element name="//数字正则表达式is_number_exp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailauthenticator" >
      <xs:complexContent>
       <xs:extension base="authenticator">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fbutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="success" type="xs:long" />
        <xs:element name="facebook_personal_info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httpclientutil" >
      <xs:sequence>
        <xs:element name="httpconnnecttimeout" type="xs:long" />
        <xs:element name="httpsotimeout" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faxutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maputils" >
      <xs:sequence>
        <xs:element name="/***googlemaps的脚本里代码*/earth_radius" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="base64utils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webutil" >
      <xs:sequence>
        <xs:element name="m" type="xs:anyType" />
        <xs:element name="s" type="webutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//gmailonemenumailhostname" type="xs:string" />
        <xs:element name="onemenumailaddress" type="xs:string" />
        <xs:element name="onemenupassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseutils" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formatutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="braintreeutils" >
      <xs:sequence>
        <xs:element name="propertiesfilename" type="xs:string" />
        <xs:element name="merchant_id" type="xs:string" />
        <xs:element name="public_key" type="xs:string" />
        <xs:element name="_key" type="xs:string" />
        <xs:element name="//stringmerchant_id" type="braintreegateway" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertiesutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="netutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timestamputil" >
      <xs:sequence>
        <xs:element name="//日志" type="xs:anyType" />
        <xs:element name="//每秒的毫秒数millis_per_second" type="xs:long" />
        <xs:element name="//每分钟的毫秒数millis_per_minute" type="xs:long" />
        <xs:element name="//每小时的毫秒数millis_per_hour" type="xs:long" />
        <xs:element name="//每天的毫秒数millis_per_day" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driverserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="m" type="driverdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishcategoryserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="m" type="dishcategorydao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deliverytimesheetserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractserviceimpl" >
      <xs:complexContent>
       <xs:extension base="persistenceentity>">
         <xs:sequence>
          <xs:element name="mbasedao" type="basedaosupport" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="merchantserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="couponserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="" type="coupondao" nillable="true" minOccurs="0" />
          <xs:element name="" type="dishcategorydao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderformserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="m" type="orderformdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dishserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="m" type="dishdao" nillable="true" minOccurs="0" />
          <xs:element name="m" type="dishcategorydao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restaurantserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
          <xs:element name="mrestuarntdao" type="restaurantdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractserviceimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connpool" >
      <xs:sequence>
        <xs:element name="//数据库驱动jdbcdriver" type="xs:string" />
        <xs:element name="//数据urldburl" type="xs:string" />
        <xs:element name="//数据库用户名dbusername" type="xs:string" />
        <xs:element name="//数据库用户密码dbpassword" type="xs:string" />
        <xs:element name="//连接池的初始大小initialconnections" type="xs:long" />
        <xs:element name="//连接池自动增加的大小incrementalconnections" type="xs:long" />
        <xs:element name="//连接池最大的大小maxconnections" type="xs:long" />
        <xs:element name="//存放连接池中数据库连接的向量,connections" type="xs:anyType" />
        <xs:element name="//初始时为null,存放的对象为//pooledconnection//型//connectionpool" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbcutil" >
      <xs:sequence>
        <xs:element name="/***@field:pool*数据库连接池*/pool" type="jdbcpool" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionpooltest" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbcutils_dbcp" >
      <xs:sequence>
        <xs:element name="/***在java中，编写数据库连接池需实现java.sql.接口，每一种数据库连接池都是接口的实现*dbcp连接池就是java.sql.接口的一个具体实现*/ds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbcpool" >
      <xs:sequence>
        <xs:element name="/***@field:listconnections*使用linkedlist集合来存放数据库链接，*由于要频繁读写list集合，所以这里使用linkedlist存储数据库连接比较合适*/listconnections" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionpool" >
      <xs:sequence>
        <xs:element name="//数据库驱动jdbcdriver" type="xs:string" />
        <xs:element name="//数据urldburl" type="xs:string" />
        <xs:element name="//数据库用户名dbusername" type="xs:string" />
        <xs:element name="//数据库用户密码dbpassword" type="xs:string" />
        <xs:element name="//测试连接是否可用的测试表名，默认没有测试表testtable" type="xs:string" />
        <xs:element name="//连接池的初始大小initialconnections" type="xs:long" />
        <xs:element name="//连接池自动增加的大小incrementalconnections" type="xs:long" />
        <xs:element name="//连接池最大的大小maxconnections" type="xs:long" />
        <xs:element name="//存放连接池中数据库连接的向量,初始时为nullconnections" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbcptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbcutiltest" >
      <xs:complexContent>
       <xs:extension base="thread{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connpooltest" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memoizer1" >
      <xs:sequence>
        <xs:element name="//makesurethattwothreadvisitthisatthesametimecache" type="xs:anyType" />
        <xs:element name="c" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testrunnable" >
      <xs:sequence>
        <xs:element name="//5张票ticket" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testthread" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="count" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testsync" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memoizer" >
      <xs:sequence>
        <xs:element name="cache" type="xs:anyType" />
        <xs:element name="c" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="computable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memoizer2" >
      <xs:sequence>
        <xs:element name="cache" type="xs:anyType" />
        <xs:element name="c" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memoizer3" >
      <xs:sequence>
        <xs:element name="//replacecache" type="xs:anyType" />
        <xs:element name="c" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expensivefunction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="netutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testreturnvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjsonformat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testtimestamp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testthread" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatehtml" >
      <xs:sequence>
        <xs:element name="file_path" type="xs:string" />
        <xs:element name="//afileinyourfilesystemfile_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendonefileattachment" >
      <xs:sequence>
        <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
        <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
        <xs:element name="//enterthedestinationfaxnumberhere,e.g.fax_number" type="xs:string" />
        <xs:element name="//+497116589658file_path" type="xs:string" />
        <xs:element name="//afileinyourfilesystemfile_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testurl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcharacter" >
      <xs:sequence>
        <xs:element name="//循环次数time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teststr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testproperties" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="s3sample" >
      <xs:sequence>
        <xs:element name="bucketname" type="xs:string" />
        <xs:element name="keyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmultiplefilestomultiplerecipients" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
          <xs:element name="/********beginsettings********///enteryourinterfaxusernamehereusername" type="xs:string" />
          <xs:element name="//enteryourinterfaxpasswordherepassword" type="xs:string" />
          <xs:element name="//semicolon-delimitedfax_numbers" type="xs:string" />
          <xs:element name="//listofdestination//fax//numbers//optionalsemicolon-delimitedcontacts" type="xs:string" />
          <xs:element name="//listofrecipientnamesone//per//faxnumberfile_path" type="xs:string" />
          <xs:element name="files" type="xs:string" />
          <xs:element name="//of//files//to//fax//thesefilesneedtoberesidentonthefilesystemretries" type="xs:long" />
          <xs:element name="csid" type="xs:string" />
          <xs:element name="page_header" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="reply_email" type="xs:string" />
          <xs:element name="page_size" type="xs:string" />
          <xs:element name="page_orientation" type="xs:string" />
          <xs:element name="high_resolution" type="xs:anyType" />
          <xs:element name="fine_rendering" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagesample" >
      <xs:sequence>
        <xs:element name="bucketname" type="xs:string" />
        <xs:element name="keyname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplesocketserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplesocketclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multhreadsocketserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mulsocketclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicthread" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="is" type="xs:anyType" />
          <xs:element name="os" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mulsocketserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleudpclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleudpserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inetaddressdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bitcounts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bitcountmethodstest" >
      <xs:sequence>
        <xs:element name="bcm" type="bitcountmethods" nillable="true" minOccurs="0" />
        <xs:element name="x" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bitcountmethods" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businesslogic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businesslogicexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tracingthrowsadvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibusinesslogic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aoptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tracingbeforeadvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tracingafteradvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloservicetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helloserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internalsingleton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locksingleton" >
      <xs:sequence>
        <xs:element name="volatilesingleton" type="locksingleton" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hungrysingleton" >
      <xs:sequence>
        <xs:element name="singleton" type="hungrysingleton" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lazysingleton" >
      <xs:sequence>
        <xs:element name="singleton" type="lazysingleton" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumsingleton" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxysubject" >
      <xs:sequence>
        <xs:element name="//代理类持有一个委托类的对象引用delegate" type="subject" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectstaticfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="realsubject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomputer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timehander" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clienttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="laptop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="//被代理类的实例obj" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 