Geek-Text/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcart" >
      <xs:sequence>
        <xs:element name="cart_id" type="xs:anyType" />
        <xs:element name="_id" type="user" nillable="true" minOccurs="0" />
        <xs:element name="//changeproduct(book_browsing?)datatypeproduct_id" type="xs:anyType" />
        <xs:element name="//doesn'tneedtobeinthedatabase.remove?quantity" type="xs:long" />
        <xs:element name="totalamount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="/***************************************************************************classvariables*************************************************************************/id" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="fname" type="xs:string" />
        <xs:element name="lname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="tokenexpired" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 