global-payment-assessment/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="device" >
      <xs:sequence>
        <xs:element name="serialno" type="xs:string" />
        <xs:element name="machinecode" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 