editing_together_api/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="rolename" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="snippetentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="projectid" type="xs:anyType" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createuserid" type="xs:long" />
        <xs:element name="up" type="xs:dateTime" />
        <xs:element name="updateuserid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="language" type="languagetype" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createuserid" type="xs:long" />
        <xs:element name="lastcompilation" type="xs:dateTime" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectuserentity" >
      <xs:sequence>
        <xs:element name="projectid" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 