epam-java-ticket-service/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bookingserviceimpltest" >
      <xs:sequence>
        <xs:element name="undertest" type="bookingserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screeningrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screeningservice" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="admin" type="user" nillable="true" minOccurs="0" />
        <xs:element name="undertest" type="userserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningidtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningdtotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningserviceimpltest" >
      <xs:sequence>
        <xs:element name="terminator" type="movie" nillable="true" minOccurs="0" />
        <xs:element name="alpha" type="room" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="overlap" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="secondoverlap" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screening" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screeningdto" nillable="true" minOccurs="0" />
        <xs:element name="overlap" type="screening" nillable="true" minOccurs="0" />
        <xs:element name="secondoverlap" type="screening" nillable="true" minOccurs="0" />
        <xs:element name="undertest" type="screeningserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screeningrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomtest" >
      <xs:sequence>
        <xs:element name="undertest" type="room" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomserviceimpltest" >
      <xs:sequence>
        <xs:element name="alpha" type="room" nillable="true" minOccurs="0" />
        <xs:element name="updatedalpha" type="room" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
        <xs:element name="undertest" type="roomserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieserviceimpltest" >
      <xs:sequence>
        <xs:element name="terminator" type="movie" nillable="true" minOccurs="0" />
        <xs:element name="updatedterminator" type="movie" nillable="true" minOccurs="0" />
        <xs:element name="undertest" type="movieserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movietest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movievalueprovider" >
      <xs:complexContent>
       <xs:extension base="valueprovidersupport">
         <xs:sequence>
          <xs:element name="movieservice" type="movieserviceimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomvalueprovider" >
      <xs:complexContent>
       <xs:extension base="valueprovidersupport">
         <xs:sequence>
          <xs:element name="roomservice" type="roomserviceimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomcommands" >
      <xs:sequence>
        <xs:element name="roomservice" type="roomserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercommands" >
      <xs:sequence>
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingcommands" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custompromptprovider" >
      <xs:sequence>
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningcommands" >
      <xs:sequence>
        <xs:element name="screeningservice" type="screeningserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviecommands" >
      <xs:sequence>
        <xs:element name="movieservice" type="movieserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="signedin" type="xs:anyType" />
        <xs:element name="isadmin" type="xs:anyType" />
        <xs:element name="loggedinuser" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="type" type="accounttype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="rows" type="xs:long" />
        <xs:element name="columns" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<room,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookingrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="screeningservice" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<booking,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="seat" >
      <xs:sequence>
        <xs:element name="seatrow" type="xs:long" />
        <xs:element name="seatcolumn" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="screening" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="seats" type="seat" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<movie,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="genre" type="xs:string" />
        <xs:element name="length" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movieservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningdto" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movie" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="room" nillable="true" minOccurs="0" />
        <xs:element name="start" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="screeningrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
        <xs:element name="console" type="consoleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningid" >
      <xs:sequence>
        <xs:element name="movietitle" type="xs:string" />
        <xs:element name="roomname" type="xs:string" />
        <xs:element name="starttime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screening" >
      <xs:sequence>
        <xs:element name="id" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movie" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="room" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screeningrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<screening,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="screeningservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consoleservice" >
      <xs:sequence>
        <xs:element name="ansi_reset" type="xs:string" />
        <xs:element name="ansi_red" type="xs:string" />
        <xs:element name="ansi_yellow" type="xs:string" />
        <xs:element name="out" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initdb" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 