epam-java-ticket-service/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="type" type="accounttype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="rows" type="xs:long" />
        <xs:element name="columns" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="screening" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="seats" type="seat" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="genre" type="xs:string" />
        <xs:element name="length" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screening" >
      <xs:sequence>
        <xs:element name="id" type="screeningid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="movie" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="room" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 