backend/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="messagetemplate" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="cond" type="xs:string" />
          <xs:element name="idmessagesender" type="xs:long" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="" type="messagesender" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="tplcode" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="receiver" type="xs:string" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="state" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagesender" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="classname" type="xs:string" />
          <xs:element name="tplcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="idchannel" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="author" type="xs:string" />
          <xs:element name="img" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="channel" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contacts" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="mobile" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="remark" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="banner" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="url" type="xs:string" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="type" type="xs:string" />
          <xs:element name="idfile" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb13" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//業務專案日報基本資料唯一識別碼slb13002" type="xs:long" />
          <xs:element name="//退戶編號slb13003" type="xs:string" />
          <xs:element name="//棟別slb13004" type="xs:string" />
          <xs:element name="//戶號slb13005" type="xs:string" />
          <xs:element name="//總金額slb13006" type="xs:anyType" />
          <xs:element name="//退還金額slb13007" type="xs:anyType" />
          <xs:element name="//備註slb13008" type="xs:string" />
          <xs:element name="//資料狀態slb13009" type="xs:string" />
          <xs:element name="//可售房屋資料唯一識別碼slb13010" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla01" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//房屋銷售案資料唯一識別碼sla01002" type="xs:long" />
          <xs:element name="//房屋銷售案代號sla01003" type="xs:string" />
          <xs:element name="//區別sla01004" type="xs:string" />
          <xs:element name="//棟別sla01005" type="xs:string" />
          <xs:element name="//戶號sla01006" type="xs:string" />
          <xs:element name="//屋型sla01007" type="xs:string" />
          <xs:element name="//格局sla01008" type="xs:string" />
          <xs:element name="//樓層數sla01009" type="xs:string" />
          <xs:element name="//地坪數sla01010" type="xs:string" />
          <xs:element name="//建坪數sla01011" type="xs:string" />
          <xs:element name="//公設建坪數sla01012" type="xs:string" />
          <xs:element name="//地號sla01013" type="xs:string" />
          <xs:element name="//地址sla01014" type="xs:string" />
          <xs:element name="//車位類別sla01015" type="xs:string" />
          <xs:element name="//房屋銷售案可售車位資料唯一識別碼sla01016" type="xs:long" />
          <xs:element name="//車位編號sla01017" type="xs:string" />
          <xs:element name="//銷售表價sla01018" type="xs:long" />
          <xs:element name="//業務員底價sla01019" type="xs:long" />
          <xs:element name="//業務員超價sla01020" type="xs:long" />
          <xs:element name="//特殊折扣底價sla01021" type="xs:long" />
          <xs:element name="//裝潢費用sla01022" type="xs:long" />
          <xs:element name="//仲人費用sla01023" type="xs:long" />
          <xs:element name="//裝潢工程費用sla01024" type="xs:long" />
          <xs:element name="//超價sla01025" type="xs:long" />
          <xs:element name="//低底價sla01026" type="xs:long" />
          <xs:element name="//銷售狀態碼sla01027" type="xs:string" />
          <xs:element name="//保留欄位1sla01028" type="xs:string" />
          <xs:element name="//保留欄位2sla01029" type="xs:string" />
          <xs:element name="//保留欄位3sla01030" type="xs:string" />
          <xs:element name="//保留欄位4sla01031" type="xs:string" />
          <xs:element name="//保留欄位5sla01032" type="xs:string" />
          <xs:element name="//資料狀態sla01033" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla30" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="//填表日期sla30002" type="xs:string" />
          <xs:element name="//填寫人工號sla30003" type="xs:string" />
          <xs:element name="//行政區-縣市別代碼sla30004" type="xs:string" />
          <xs:element name="//行政區-區別郵遞區號sla30005" type="xs:string" />
          <xs:element name="//土地區分sla30006" type="xs:string" />
          <xs:element name="//投資興建sla30007" type="xs:string" />
          <xs:element name="//土地面積sla30008" type="xs:anyType" />
          <xs:element name="//總銷金額-起sla30009" type="xs:double" />
          <xs:element name="//總銷金額-迄sla30010" type="xs:double" />
          <xs:element name="//廣企公司sla30011" type="xs:string" />
          <xs:element name="//建築規劃sla30012" type="xs:string" />
          <xs:element name="//推出日期-起sla30013" type="xs:string" />
          <xs:element name="//推出日期-迄sla30014" type="xs:string" />
          <xs:element name="//公開日期-起sla30015" type="xs:string" />
          <xs:element name="//公開日期-迄sla30016" type="xs:string" />
          <xs:element name="//樓層數-起sla30017" type="xs:anyType" />
          <xs:element name="//樓層數-迄sla30018" type="xs:anyType" />
          <xs:element name="//總建坪-起sla30019" type="xs:anyType" />
          <xs:element name="//總建坪-迄sla30020" type="xs:anyType" />
          <xs:element name="//土地價格-起sla30021" type="xs:double" />
          <xs:element name="//土地價格-迄sla30022" type="xs:double" />
          <xs:element name="//銷售公司sla30023" type="xs:string" />
          <xs:element name="//承造人sla30024" type="xs:string" />
          <xs:element name="//工地位置sla30025" type="xs:string" />
          <xs:element name="//產品規劃sla30026" type="xs:string" />
          <xs:element name="//面臨道路sla30027" type="xs:string" />
          <xs:element name="//建蔽率sla30028" type="xs:anyType" />
          <xs:element name="//公設比sla30029" type="xs:anyType" />
          <xs:element name="//預計完工-起sla30030" type="xs:string" />
          <xs:element name="//預計完工-迄sla30031" type="xs:string" />
          <xs:element name="//景觀設計sla30032" type="xs:string" />
          <xs:element name="//產品規劃-店舖-1fsla30033" type="xs:string" />
          <xs:element name="//產品規劃-店舖-1f-坪數範圍-起sla30034" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1f-坪數範圍-迄sla30035" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1f-戶數sla30036" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1f-比例sla30037" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1+2fsla30038" type="xs:string" />
          <xs:element name="//產品規劃-店舖-1+2f-坪數範圍-起sla30039" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1+2f-坪數範圍-迄sla30040" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1+2f-戶數sla30041" type="xs:anyType" />
          <xs:element name="//產品規劃-店舖-1+2f-比例sla30042" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-套房sla30043" type="xs:string" />
          <xs:element name="//產品規劃-住宅-套房-坪數範圍-起sla30044" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-套房-坪數範圍-迄sla30045" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-套房-戶數sla30046" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-套房-比例sla30047" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-1+1房sla30048" type="xs:string" />
          <xs:element name="//產品規劃-住宅-1+1房-坪數範圍-起sla30049" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-1+1房-坪數範圍-迄sla30050" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-1+1房-戶數sla30051" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-1+1房-比例sla30052" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2房sla30053" type="xs:string" />
          <xs:element name="//產品規劃-住宅-2房-坪數範圍-起sla30054" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2房-坪數範圍-迄sla30055" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2房-戶數sla30056" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2房-比例sla30057" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2+1房sla30058" type="xs:string" />
          <xs:element name="//產品規劃-住宅-2+1房-坪數範圍-起sla30059" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2+1房-坪數範圍-迄sla30060" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2+1房-戶數sla30061" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-2+1房-比例sla30062" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3房sla30063" type="xs:string" />
          <xs:element name="//產品規劃-住宅-3房-坪數範圍-起sla30064" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3房-坪數範圍-迄sla30065" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3房-戶數sla30066" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3房-比例sla30067" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3+1房sla30068" type="xs:string" />
          <xs:element name="//產品規劃-住宅-3+1房-坪數範圍-起sla30069" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3+1房-坪數範圍-迄sla30070" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3+1房-戶數sla30071" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-3+1房-比例sla30072" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4房sla30073" type="xs:string" />
          <xs:element name="//產品規劃-住宅-4房-坪數範圍-起sla30074" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4房-坪數範圍-迄sla30075" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4房-戶數sla30076" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4房-比例sla30077" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4+1房sla30078" type="xs:string" />
          <xs:element name="//產品規劃-住宅-4+1房-坪數範圍-起sla30079" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4+1房-坪數範圍-迄sla30080" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4+1房-戶數sla30081" type="xs:anyType" />
          <xs:element name="//產品規劃-住宅-4+1房-比例sla30082" type="xs:anyType" />
          <xs:element name="//規劃總戶數sla30083" type="xs:anyType" />
          <xs:element name="//目前各案進度sla30084" type="xs:string" />
          <xs:element name="//店舖單價平均約-起sla30085" type="xs:double" />
          <xs:element name="//店舖單價平均約-迄sla30086" type="xs:double" />
          <xs:element name="//店舖主力坪數-起sla30087" type="xs:anyType" />
          <xs:element name="//店舖主力坪數-迄sla30088" type="xs:anyType" />
          <xs:element name="//店舖主力總價-起sla30089" type="xs:double" />
          <xs:element name="//店舖主力總價-迄sla30090" type="xs:double" />
          <xs:element name="//住家單價平均約-起sla30091" type="xs:double" />
          <xs:element name="//住家單價平均約-迄sla30092" type="xs:double" />
          <xs:element name="//住家主力坪數-起sla30093" type="xs:anyType" />
          <xs:element name="//住家主力坪數-迄sla30094" type="xs:anyType" />
          <xs:element name="//住家主力總價-起sla30095" type="xs:double" />
          <xs:element name="//住家主力總價-迄sla30096" type="xs:double" />
          <xs:element name="//廣告戶透天總價sla30097" type="xs:double" />
          <xs:element name="//廣告戶透天單價sla30098" type="xs:double" />
          <xs:element name="//廣告戶透天議價空間sla30099" type="xs:anyType" />
          <xs:element name="//付款方式-簽訂開sla300100" type="xs:anyType" />
          <xs:element name="//付款方式-期款sla300101" type="xs:anyType" />
          <xs:element name="//付款方式-貸款sla300102" type="xs:anyType" />
          <xs:element name="//付款方式-自備款sla300103" type="xs:anyType" />
          <xs:element name="//停車位-平面sla300104" type="xs:double" />
          <xs:element name="//停車位-機上sla300105" type="xs:double" />
          <xs:element name="//停車位-機下sla300106" type="xs:double" />
          <xs:element name="//公共設施sla300107" type="xs:string" />
          <xs:element name="//媒體訴求sla300108" type="xs:string" />
          <xs:element name="//銷售狀況-每週來客sla300109" type="xs:anyType" />
          <xs:element name="//銷售狀況-銷售較佳坪數sla300110" type="xs:anyType" />
          <xs:element name="//銷售狀況-銷售較佳價位sla300111" type="xs:double" />
          <xs:element name="//銷售狀況-區域行情-起sla300112" type="xs:double" />
          <xs:element name="//銷售狀況-區域行情-迄sla300113" type="xs:double" />
          <xs:element name="//銷售狀況-競爭個案sla300114" type="xs:string" />
          <xs:element name="//備註1sla300115" type="xs:string" />
          <xs:element name="//備註2sla300116" type="xs:string" />
          <xs:element name="//保留欄位1sla300117" type="xs:string" />
          <xs:element name="//保留欄位2sla300118" type="xs:string" />
          <xs:element name="//保留欄位3sla300119" type="xs:string" />
          <xs:element name="//保留欄位4sla300120" type="xs:string" />
          <xs:element name="//保留欄位5sla300121" type="xs:string" />
          <xs:element name="//資料狀態sla300122" type="xs:string" />
          <xs:element name="//資料確認人工號sla300127" type="xs:string" />
          <xs:element name="//資料確認日期時間sla300128" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slc21a" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//房屋銷售案基本資料唯一識別碼slc21a002" type="xs:long" />
          <xs:element name="//房屋銷售案代號slc21a003" type="xs:string" />
          <xs:element name="//房屋銷售案名稱slc21a004" type="xs:string" />
          <xs:element name="//年slc21a005" type="xs:long" />
          <xs:element name="//月slc21a006" type="xs:long" />
          <xs:element name="//日slc21a007" type="xs:long" />
          <xs:element name="//年度的週數slc21a008" type="xs:long" />
          <xs:element name="//週幾slc21a009" type="xs:long" />
          <xs:element name="//大區域代碼slc21a010" type="xs:string" />
          <xs:element name="//大區域名稱slc21a011" type="xs:string" />
          <xs:element name="//小區域代碼slc21a012" type="xs:string" />
          <xs:element name="//小區域名稱slc21a013" type="xs:string" />
          <xs:element name="//來人數量slc21a014" type="xs:long" />
          <xs:element name="//來電數量slc21a015" type="xs:long" />
          <xs:element name="//回籠數量slc21a016" type="xs:long" />
          <xs:element name="//已購數量slc21a017" type="xs:long" />
          <xs:element name="//來人%slc21a018" type="xs:long" />
          <xs:element name="//來電%slc21a019" type="xs:long" />
          <xs:element name="//回籠%slc21a020" type="xs:long" />
          <xs:element name="//已購%slc21a021" type="xs:long" />
          <xs:element name="//保留欄位1slc21a022" type="xs:long" />
          <xs:element name="//保留欄位2slc21a023" type="xs:long" />
          <xs:element name="//保留欄位3slc21a024" type="xs:long" />
          <xs:element name="//保留欄位4slc21a025" type="xs:long" />
          <xs:element name="//保留欄位5slc21a026" type="xs:long" />
          <xs:element name="//保留欄位6slc21a027" type="xs:long" />
          <xs:element name="//保留欄位7slc21a028" type="xs:long" />
          <xs:element name="//保留欄位8slc21a029" type="xs:long" />
          <xs:element name="//保留欄位9slc21a030" type="xs:long" />
          <xs:element name="//保留欄位10slc21a031" type="xs:long" />
          <xs:element name="//排序slc21a032" type="xs:long" />
          <xs:element name="//資料狀態slc21a033" type="xs:string" />
          <xs:element name="//資料確認人工號slc21a034" type="xs:string" />
          <xs:element name="//資料確認日期時間slc21a035" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="visitor" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="sla10002" type="xs:string" />
          <xs:element name="sla10003" type="xs:string" />
          <xs:element name="sla10004" type="xs:string" />
          <xs:element name="sla10005" type="xs:string" />
          <xs:element name="sla10006" type="xs:string" />
          <xs:element name="sla10007" type="xs:string" />
          <xs:element name="sla10008" type="xs:string" />
          <xs:element name="sla10009" type="xs:string" />
          <xs:element name="sla10010" type="xs:string" />
          <xs:element name="sla10011" type="xs:string" />
          <xs:element name="sla10012" type="xs:string" />
          <xs:element name="sla10013" type="xs:string" />
          <xs:element name="sla10014" type="xs:string" />
          <xs:element name="sla10015" type="xs:string" />
          <xs:element name="sla10016" type="xs:string" />
          <xs:element name="sla10017" type="xs:string" />
          <xs:element name="sla10018" type="xs:string" />
          <xs:element name="sla10019" type="xs:string" />
          <xs:element name="sla10020" type="xs:string" />
          <xs:element name="sla10021" type="xs:string" />
          <xs:element name="sla10022" type="xs:string" />
          <xs:element name="sla10023" type="xs:string" />
          <xs:element name="sla10024" type="xs:string" />
          <xs:element name="sla10025" type="xs:string" />
          <xs:element name="sla10026" type="xs:string" />
          <xs:element name="sla10027" type="xs:string" />
          <xs:element name="sla10028" type="xs:string" />
          <xs:element name="sla10029" type="xs:string" />
          <xs:element name="sla10030" type="xs:string" />
          <xs:element name="sla10031" type="xs:string" />
          <xs:element name="sla10032" type="xs:string" />
          <xs:element name="sla10033" type="xs:string" />
          <xs:element name="sla10034" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla11" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="sla11002" type="xs:long" />
          <xs:element name="sla11003" type="xs:string" />
          <xs:element name="sla11004" type="xs:string" />
          <xs:element name="sla11005" type="xs:string" />
          <xs:element name="sla11006" type="xs:string" />
          <xs:element name="sla11007" type="xs:string" />
          <xs:element name="sla11008" type="xs:string" />
          <xs:element name="sla11009" type="xs:string" />
          <xs:element name="sla11023" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla20" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//房屋銷售案代號sla20002" type="xs:long" />
          <xs:element name="//訂單號sla20003" type="xs:string" />
          <xs:element name="//訂單日期sla20004" type="xs:string" />
          <xs:element name="//訂單狀態sla20005" type="xs:string" />
          <xs:element name="//看屋人客戶基本資料唯一識別碼sla20006" type="xs:long" />
          <xs:element name="//看屋人客戶編號sla20007" type="xs:string" />
          <xs:element name="//看屋人客戶姓名sla20008" type="xs:string" />
          <xs:element name="//承購人客戶基本資料唯一識別碼sla20009" type="xs:long" />
          <xs:element name="//承購人姓名sla20010" type="xs:string" />
          <xs:element name="//承購人客戶編號sla20011" type="xs:string" />
          <xs:element name="//承購人姓名sla20012" type="xs:string" />
          <xs:element name="//性別代碼sla20013" type="xs:string" />
          <xs:element name="//年齡sla20014" type="xs:string" />
          <xs:element name="//電話號碼sla20015" type="xs:string" />
          <xs:element name="//行動電話sla20016" type="xs:string" />
          <xs:element name="//聯絡地址sla20017" type="xs:string" />
          <xs:element name="//e-mailsla20018" type="xs:string" />
          <xs:element name="//負責業務員工號sla20019" type="xs:string" />
          <xs:element name="//負責業務員姓名sla20020" type="xs:string" />
          <xs:element name="//區域代碼sla20021" type="xs:string" />
          <xs:element name="//年齡區間代碼sla20022" type="xs:string" />
          <xs:element name="//職業代碼sla20023" type="xs:string" />
          <xs:element name="//需求產品代碼sla20024" type="xs:string" />
          <xs:element name="//購買用途代碼sla20025" type="xs:string" />
          <xs:element name="//現住狀況代碼sla20026" type="xs:string" />
          <xs:element name="//車位需求代碼sla20027" type="xs:string" />
          <xs:element name="//媒體代碼sla20028" type="xs:string" />
          <xs:element name="//詢問重點代碼sla20029" type="xs:string" />
          <xs:element name="//需求房數代碼sla20030" type="xs:string" />
          <xs:element name="//需求坪數代碼sla20031" type="xs:string" />
          <xs:element name="//需求價位代碼sla20032" type="xs:string" />
          <xs:element name="//洽詢戶別代碼sla20033" type="xs:string" />
          <xs:element name="//已購原因代碼sla20034" type="xs:string" />
          <xs:element name="//未購原因代碼sla20035" type="xs:string" />
          <xs:element name="//承購人備註1sla20036" type="xs:string" />
          <xs:element name="//承購人備註2sla20037" type="xs:string" />
          <xs:element name="//房屋銷售案可售房屋資料唯一識別碼sla20038" type="xs:long" />
          <xs:element name="//房屋銷售案代號sla20039" type="xs:string" />
          <xs:element name="//區別sla20040" type="xs:string" />
          <xs:element name="//棟別sla20041" type="xs:string" />
          <xs:element name="//戶號sla20042" type="xs:string" />
          <xs:element name="//屋型sla20043" type="xs:string" />
          <xs:element name="//格局sla20044" type="xs:string" />
          <xs:element name="//樓層數sla20045" type="xs:string" />
          <xs:element name="//地坪數sla20046" type="xs:string" />
          <xs:element name="//建坪數sla20047" type="xs:string" />
          <xs:element name="//公設建坪數sla20048" type="xs:string" />
          <xs:element name="//地號sla20049" type="xs:string" />
          <xs:element name="//地址sla20050" type="xs:string" />
          <xs:element name="//建照取得日期sla20051" type="xs:string" />
          <xs:element name="//建照號碼sla20052" type="xs:string" />
          <xs:element name="//使用執照取得日期sla20053" type="xs:string" />
          <xs:element name="//使用執照號碼sla20054" type="xs:string" />
          <xs:element name="//附贈汽車車位數量sla20055" type="xs:long" />
          <xs:element name="//自購汽車車位數量sla20056" type="xs:long" />
          <xs:element name="//附贈機車車位數量sla20057" type="xs:long" />
          <xs:element name="//自購機車車位數量sla20058" type="xs:long" />
          <xs:element name="//銷售表價sla20059" type="xs:long" />
          <xs:element name="//業務員底價sla20060" type="xs:long" />
          <xs:element name="//業務員超價sla20061" type="xs:long" />
          <xs:element name="//特殊折扣底價sla20062" type="xs:long" />
          <xs:element name="//裝潢費用sla20063" type="xs:long" />
          <xs:element name="//仲人費用sla20064" type="xs:long" />
          <xs:element name="//裝潢工程費用sla20065" type="xs:long" />
          <xs:element name="//超價sla20066" type="xs:long" />
          <xs:element name="//低底價sla20067" type="xs:long" />
          <xs:element name="//成交總價sla20068" type="xs:long" />
          <xs:element name="//訂金sla20069" type="xs:long" />
          <xs:element name="//下訂日期sla20070" type="xs:string" />
          <xs:element name="//訂金收款人sla20071" type="xs:string" />
          <xs:element name="//簽約金sla20072" type="xs:long" />
          <xs:element name="//簽約日期sla20073" type="xs:string" />
          <xs:element name="//簽約收款人sla20074" type="xs:string" />
          <xs:element name="//自備款%sla20075" type="xs:double" />
          <xs:element name="//自備款sla20076" type="xs:long" />
          <xs:element name="//已繳自備款sla20077" type="xs:long" />
          <xs:element name="//自備款繳清日期sla20078" type="xs:string" />
          <xs:element name="//自備款繳清確認人sla20079" type="xs:string" />
          <xs:element name="//銀行貸款%sla20080" type="xs:double" />
          <xs:element name="//銀行貸款sla20081" type="xs:long" />
          <xs:element name="//貸款銀行sla20082" type="xs:string" />
          <xs:element name="//貸款撥款單號sla20083" type="xs:string" />
          <xs:element name="//貸款撥款金額sla20084" type="xs:long" />
          <xs:element name="//貸款撥款日期sla20085" type="xs:string" />
          <xs:element name="//銀行貸款收款人sla20086" type="xs:string" />
          <xs:element name="//交易備註1sla20087" type="xs:string" />
          <xs:element name="//交易備註2sla20088" type="xs:string" />
          <xs:element name="//交易備註3sla20089" type="xs:string" />
          <xs:element name="//交易備註4sla20090" type="xs:string" />
          <xs:element name="//交易備註5sla20091" type="xs:string" />
          <xs:element name="//交易備註6sla20092" type="xs:string" />
          <xs:element name="//交易備註7sla20093" type="xs:string" />
          <xs:element name="//交易備註8sla20094" type="xs:string" />
          <xs:element name="//交易備註9sla20095" type="xs:string" />
          <xs:element name="//交易備註10sla20096" type="xs:string" />
          <xs:element name="//資料狀態sla20097" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb12" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//業務專案日報基本資料唯一識別碼slb12002" type="xs:long" />
          <xs:element name="//回籠編號slb12003" type="xs:string" />
          <xs:element name="//棟別slb12004" type="xs:string" />
          <xs:element name="//戶號slb12005" type="xs:string" />
          <xs:element name="//備註slb12006" type="xs:string" />
          <xs:element name="//資料狀態slb12007" type="xs:string" />
          <xs:element name="//可售房屋資料唯一識別碼slb12008" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb16" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//業務專案日報基本資料唯一識別碼slb16002" type="xs:long" />
          <xs:element name="//簽約編號slb16003" type="xs:string" />
          <xs:element name="//棟別slb16004" type="xs:string" />
          <xs:element name="//戶號slb16005" type="xs:string" />
          <xs:element name="//總金額slb16006" type="xs:anyType" />
          <xs:element name="//簽約金額slb16007" type="xs:anyType" />
          <xs:element name="//備註slb16008" type="xs:string" />
          <xs:element name="//資料狀態slb16009" type="xs:string" />
          <xs:element name="//可售房屋資料唯一識別碼slb16010" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla00" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//房屋銷售案代號sla00002" type="xs:string" />
          <xs:element name="//房屋銷售案名稱sla00003" type="xs:string" />
          <xs:element name="//基地地號sla00004" type="xs:string" />
          <xs:element name="//工地開工日期sla00005" type="xs:string" />
          <xs:element name="//工地完工日期sla00006" type="xs:string" />
          <xs:element name="//進場日期sla00007" type="xs:string" />
          <xs:element name="//開始銷售日期sla00008" type="xs:string" />
          <xs:element name="//結案日期sla00009" type="xs:string" />
          <xs:element name="//銷售日數sla00010" type="xs:string" />
          <xs:element name="//可售透天店面數sla00011" type="xs:anyType" />
          <xs:element name="//可售透天住家數sla00012" type="xs:anyType" />
          <xs:element name="//可售大樓店面數sla00013" type="xs:anyType" />
          <xs:element name="//可售大樓住家數sla00014" type="xs:anyType" />
          <xs:element name="//可售平面汽車停車位數sla00015" type="xs:anyType" />
          <xs:element name="//可配平面機車停車位數sla00016" type="xs:anyType" />
          <xs:element name="//可售機械汽車停車位數sla00017" type="xs:anyType" />
          <xs:element name="//售出透天店面數sla00018" type="xs:anyType" />
          <xs:element name="//售出透天住家數sla00019" type="xs:anyType" />
          <xs:element name="//售出大樓店面數sla00020" type="xs:anyType" />
          <xs:element name="//售出大樓住家數sla00021" type="xs:anyType" />
          <xs:element name="//售出平面汽車停車位數sla00022" type="xs:anyType" />
          <xs:element name="//已配平面機車停車位數sla00023" type="xs:anyType" />
          <xs:element name="//售出機械汽車停車位數sla00024" type="xs:anyType" />
          <xs:element name="//累計來人數sla00025" type="xs:anyType" />
          <xs:element name="//累計來電數sla00026" type="xs:anyType" />
          <xs:element name="//可銷總金額sla00027" type="xs:anyType" />
          <xs:element name="//底價總銷sla00028" type="xs:anyType" />
          <xs:element name="//表價總綃sla00029" type="xs:anyType" />
          <xs:element name="//廣告預算sla00030" type="xs:anyType" />
          <xs:element name="//完簽總銷sla00031" type="xs:anyType" />
          <xs:element name="//底銷-扣超價sla00032" type="xs:anyType" />
          <xs:element name="//超價-扣退戶sla00033" type="xs:anyType" />
          <xs:element name="//裝潢費用-總銷sla00034" type="xs:anyType" />
          <xs:element name="//仲人費用sla00035" type="xs:anyType" />
          <xs:element name="//裝潢工程費用-超價sla00036" type="xs:anyType" />
          <xs:element name="//累計開銷金額sla00037" type="xs:anyType" />
          <xs:element name="//價差金額sla00038" type="xs:anyType" />
          <xs:element name="//總超價%sla00039" type="xs:double" />
          <xs:element name="//比例sla00040" type="xs:double" />
          <xs:element name="//銷售狀態sla00041" type="xs:string" />
          <xs:element name="//結案狀態sla00042" type="xs:string" />
          <xs:element name="//資料狀態sla00048" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla23" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//訂單主資料唯一識別碼sla23002" type="xs:long" />
          <xs:element name="//訂單號sla23003" type="xs:string" />
          <xs:element name="//收款次數sla23004" type="xs:long" />
          <xs:element name="//收款日期sla23005" type="xs:string" />
          <xs:element name="//收款類別sla23006" type="xs:string" />
          <xs:element name="//其他收款方式sla23007" type="xs:string" />
          <xs:element name="//收款金額sla23008" type="xs:long" />
          <xs:element name="//收款人工號sla23009" type="xs:string" />
          <xs:element name="//收款人姓名sla23010" type="xs:string" />
          <xs:element name="//收款確認人工號sla23011" type="xs:string" />
          <xs:element name="//收款確認人姓名sla23012" type="xs:string" />
          <xs:element name="//入帳銀行代號sla23013" type="xs:string" />
          <xs:element name="//入帳銀行名稱sla23014" type="xs:string" />
          <xs:element name="//銀行入帳單號sla23015" type="xs:string" />
          <xs:element name="//銀行入帳帳號sla23016" type="xs:string" />
          <xs:element name="//銀行入帳帳戶名稱sla23017" type="xs:string" />
          <xs:element name="//銀行入帳日期sla23018" type="xs:string" />
          <xs:element name="//銀行入帳金額sla23019" type="xs:long" />
          <xs:element name="//入款銀行代號sla23020" type="xs:string" />
          <xs:element name="//入款銀行名稱sla23021" type="xs:string" />
          <xs:element name="//銀行入帳確認人工號sla23022" type="xs:string" />
          <xs:element name="//銀行入帳確認人姓名sla23023" type="xs:string" />
          <xs:element name="//銀行入款單號sla23024" type="xs:string" />
          <xs:element name="//銀行入款帳號sla23025" type="xs:string" />
          <xs:element name="//銀行入款單號sla23026" type="xs:string" />
          <xs:element name="//銀行入款帳號sla23027" type="xs:string" />
          <xs:element name="//銀行入款帳戶名稱sla23028" type="xs:string" />
          <xs:element name="//銀行入款日期sla23029" type="xs:string" />
          <xs:element name="//銀行入款金額sla23030" type="xs:long" />
          <xs:element name="//銀行入款確認人工號sla23031" type="xs:string" />
          <xs:element name="//銀行入款確認人姓名sla23032" type="xs:string" />
          <xs:element name="//收款類別sla23033" type="xs:string" />
          <xs:element name="//期款次數sla23034" type="xs:long" />
          <xs:element name="//期款名稱sla23035" type="xs:string" />
          <xs:element name="//立帳日期sla23036" type="xs:string" />
          <xs:element name="//立帳人工號sla23037" type="xs:string" />
          <xs:element name="//立帳人姓名sla23038" type="xs:string" />
          <xs:element name="//退款識別sla23039" type="xs:string" />
          <xs:element name="//退款人工號sla23040" type="xs:string" />
          <xs:element name="//退款人姓名sla23041" type="xs:string" />
          <xs:element name="//退款銀行代號sla23042" type="xs:string" />
          <xs:element name="//退款銀行名稱sla23043" type="xs:string" />
          <xs:element name="//退款單號sla23044" type="xs:string" />
          <xs:element name="//退款帳號sla23045" type="xs:string" />
          <xs:element name="//退款帳戶名稱sla23046" type="xs:string" />
          <xs:element name="//保留欄位1sla23047" type="xs:string" />
          <xs:element name="//保留欄位2sla23048" type="xs:string" />
          <xs:element name="//保留欄位3sla23049" type="xs:string" />
          <xs:element name="//保留欄位4sla23050" type="xs:string" />
          <xs:element name="//保留欄位5sla23051" type="xs:string" />
          <xs:element name="//資料狀態sla23052" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb10" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="//日期slb10002" type="xs:string" />
          <xs:element name="//天氣slb10003" type="xs:string" />
          <xs:element name="//銷售案代號slb10004" type="xs:string" />
          <xs:element name="//銷售案名slb10005" type="xs:string" />
          <xs:element name="//銷售成數slb10006" type="xs:double" />
          <xs:element name="//簽約成數slb10007" type="xs:double" />
          <xs:element name="//媒體方向slb10008" type="xs:string" />
          <xs:element name="//工地來人數slb10009" type="xs:anyType" />
          <xs:element name="//工地來電數slb10010" type="xs:anyType" />
          <xs:element name="//回籠人數slb10011" type="xs:anyType" />
          <xs:element name="//出勤狀態碼slb10012" type="xs:string" />
          <xs:element name="//今日成交戶數slb10013" type="xs:anyType" />
          <xs:element name="//今日成交金額slb10014" type="xs:anyType" />
          <xs:element name="//累計成交戶數slb10015" type="xs:anyType" />
          <xs:element name="//累計成交金額slb10016" type="xs:anyType" />
          <xs:element name="//成交備註slb10017" type="xs:string" />
          <xs:element name="//已購原因分析slb10018" type="xs:string" />
          <xs:element name="//今日退戶數slb10019" type="xs:anyType" />
          <xs:element name="//今日退戶金額slb10020" type="xs:anyType" />
          <xs:element name="//累計退戶戶數slb10021" type="xs:anyType" />
          <xs:element name="//累計退戶金額slb10022" type="xs:anyType" />
          <xs:element name="//退戶備註slb10023" type="xs:string" />
          <xs:element name="//今日換戶數slb10024" type="xs:anyType" />
          <xs:element name="//今日換戶金額slb10025" type="xs:anyType" />
          <xs:element name="//換戶備註slb10026" type="xs:string" />
          <xs:element name="//今日訂金補足戶數slb10027" type="xs:anyType" />
          <xs:element name="//今日訂金補足金額slb10028" type="xs:anyType" />
          <xs:element name="//實際補足戶數slb10029" type="xs:anyType" />
          <xs:element name="//實際補足金額slb10030" type="xs:anyType" />
          <xs:element name="//訂金補足備註slb10031" type="xs:string" />
          <xs:element name="//今日簽約戶數slb10032" type="xs:anyType" />
          <xs:element name="//今日簽約金額slb10033" type="xs:anyType" />
          <xs:element name="//累計簽約戶數slb10034" type="xs:anyType" />
          <xs:element name="//累計簽約金額slb10035" type="xs:anyType" />
          <xs:element name="//簽約備註slb10036" type="xs:string" />
          <xs:element name="//未購原因分析slb10037" type="xs:string" />
          <xs:element name="//回籠未成交原因分析slb10038" type="xs:string" />
          <xs:element name="//本週檢討修正方向slb10039" type="xs:string" />
          <xs:element name="//下週媒體計劃slb10040" type="xs:string" />
          <xs:element name="//建議業主配合事項slb10041" type="xs:string" />
          <xs:element name="//其他事項備註slb10042" type="xs:string" />
          <xs:element name="//保留欄位1slb10043" type="xs:string" />
          <xs:element name="//保留欄位2slb10044" type="xs:string" />
          <xs:element name="//保留欄位3slb10045" type="xs:string" />
          <xs:element name="//保留欄位4slb10046" type="xs:string" />
          <xs:element name="//保留欄位5slb10047" type="xs:string" />
          <xs:element name="//主管意見slb10048" type="xs:string" />
          <xs:element name="//主管員工號slb10049" type="xs:string" />
          <xs:element name="//主管覆核日期slb10050" type="xs:string" />
          <xs:element name="//審核人意見slb10051" type="xs:string" />
          <xs:element name="//審核人員工號slb10052" type="xs:string" />
          <xs:element name="//審核日期slb10053" type="xs:string" />
          <xs:element name="//核定人意見slb10054" type="xs:string" />
          <xs:element name="//核定人員工號slb10055" type="xs:string" />
          <xs:element name="//核定日期slb10056" type="xs:string" />
          <xs:element name="//資料狀態slb10057" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb14" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//業務專案日報基本資料唯一識別碼slb14002" type="xs:long" />
          <xs:element name="//換戶編號slb14003" type="xs:string" />
          <xs:element name="//原可售房屋資料唯一識別碼slb14004" type="xs:long" />
          <xs:element name="//原訂棟別slb14005" type="xs:string" />
          <xs:element name="//原訂戶號slb14006" type="xs:string" />
          <xs:element name="//新可售房屋資料唯一識別碼slb14007" type="xs:long" />
          <xs:element name="//新棟別slb14008" type="xs:string" />
          <xs:element name="//新戶號slb14009" type="xs:string" />
          <xs:element name="//備註slb14010" type="xs:string" />
          <xs:element name="//資料狀態slb14011" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sla02" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//房屋銷售案資料唯一識別碼sla02002" type="xs:string" />
          <xs:element name="//房屋銷售案代號sla02003" type="xs:string" />
          <xs:element name="//車位編號sla02004" type="xs:string" />
          <xs:element name="//車位類別sla02005" type="xs:string" />
          <xs:element name="//車位類型sla02006" type="xs:string" />
          <xs:element name="//層數sla02007" type="xs:string" />
          <xs:element name="//購買類別sla02008" type="xs:string" />
          <xs:element name="//地坪數sla02009" type="xs:string" />
          <xs:element name="//建坪數sla02010" type="xs:string" />
          <xs:element name="//地號sla02011" type="xs:string" />
          <xs:element name="//房屋銷售案可售房屋資料唯一識別碼sla02012" type="xs:string" />
          <xs:element name="//房屋編號sla02013" type="xs:string" />
          <xs:element name="//銷售表價sla02014" type="xs:string" />
          <xs:element name="//業務員底價sla02015" type="xs:string" />
          <xs:element name="//業務員超價sla02016" type="xs:string" />
          <xs:element name="//特殊折扣底價sla02017" type="xs:string" />
          <xs:element name="//裝潢費用sla02018" type="xs:string" />
          <xs:element name="//仲人費用sla02019" type="xs:string" />
          <xs:element name="//裝潢工程費用sla02020" type="xs:string" />
          <xs:element name="//超價sla02021" type="xs:string" />
          <xs:element name="//低底價sla02022" type="xs:string" />
          <xs:element name="//銷售狀態碼sla02023" type="xs:string" />
          <xs:element name="//保留欄位1sla02024" type="xs:string" />
          <xs:element name="//保留欄位2sla02025" type="xs:string" />
          <xs:element name="//保留欄位3sla02026" type="xs:string" />
          <xs:element name="//保留欄位4sla02027" type="xs:string" />
          <xs:element name="//保留欄位5sla02028" type="xs:string" />
          <xs:element name="//資料狀態sla02029" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb11" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="//業務專案日報基本資料唯一識別碼slb11002" type="xs:long" />
          <xs:element name="//成交編號slb11003" type="xs:string" />
          <xs:element name="//棟別slb11004" type="xs:string" />
          <xs:element name="//戶號slb11005" type="xs:string" />
          <xs:element name="//總金額slb11006" type="xs:anyType" />
          <xs:element name="//定金金額slb11007" type="xs:anyType" />
          <xs:element name="//備註slb11008" type="xs:string" />
          <xs:element name="//資料狀態slb11009" type="xs:string" />
          <xs:element name="//棟別唯一識別碼slb11010" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slb15" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//業務專案日報基本資料唯一識別碼slb15002" type="xs:long" />
          <xs:element name="//訂金補足編號slb15003" type="xs:string" />
          <xs:element name="//棟別slb15004" type="xs:string" />
          <xs:element name="//戶號slb15005" type="xs:string" />
          <xs:element name="//總金額slb15006" type="xs:anyType" />
          <xs:element name="//補足金額slb15007" type="xs:anyType" />
          <xs:element name="//備註slb15008" type="xs:string" />
          <xs:element name="//資料狀態slb15009" type="xs:string" />
          <xs:element name="//可售房屋資料唯一識別碼slb15010" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="girl" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="age" type="xs:anyType" />
          <xs:element name="birthday" type="xs:dateTime" />
          <xs:element name="hasboyfriend" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boy" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="age" type="xs:anyType" />
          <xs:element name="birthday" type="xs:string" />
          <xs:element name="hasgirfriend" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dict" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="num" type="xs:string" />
          <xs:element name="pid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="tips" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dept" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="num" type="xs:anyType" />
          <xs:element name="pid" type="xs:long" />
          <xs:element name="pids" type="xs:string" />
          <xs:element name="simplename" type="xs:string" />
          <xs:element name="fullname" type="xs:string" />
          <xs:element name="tips" type="xs:string" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operationlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="logtype" type="xs:string" />
        <xs:element name="logname" type="xs:string" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="classname" type="xs:string" />
        <xs:element name="method" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="succeed" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="avatar" type="xs:string" />
          <xs:element name="account" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="salt" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="birthday" type="xs:dateTime" />
          <xs:element name="sex" type="xs:anyType" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="roleid" type="xs:string" />
          <xs:element name="deptid" type="xs:long" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="version" type="xs:anyType" />
          <xs:element name="" type="dept" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileinfo" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="originalfilename" type="xs:string" />
          <xs:element name="realfilename" type="xs:string" />
          <xs:element name="ablatepath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="logname" type="xs:string" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="succeed" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tasklog" >
      <xs:sequence>
        <xs:element name="exe_failure_result" type="xs:long" />
        <xs:element name="exe_success_result" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="idtask" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="execat" type="xs:dateTime" />
        <xs:element name="execsuccess" type="xs:long" />
        <xs:element name="jobexception" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="jobgroup" type="xs:string" />
          <xs:element name="jobclass" type="xs:string" />
          <xs:element name="note" type="xs:string" />
          <xs:element name="cron" type="xs:string" />
          <xs:element name="concurrent" type="xs:anyType" />
          <xs:element name="data" type="xs:string" />
          <xs:element name="execat" type="xs:dateTime" />
          <xs:element name="execresult" type="xs:string" />
          <xs:element name="disabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cfg" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="cfgname" type="xs:string" />
          <xs:element name="cfgvalue" type="xs:string" />
          <xs:element name="cfgdesc" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="relation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="menuid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="pcode" type="xs:string" />
          <xs:element name="pcodes" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="icon" type="xs:string" />
          <xs:element name="/***如果当前配置为非菜单（按钮）也需要配置链接，v-permission使用该配置，且不能与其他url重复*/url" type="xs:string" />
          <xs:element name="num" type="xs:anyType" />
          <xs:element name="levels" type="xs:anyType" />
          <xs:element name="ismenu" type="xs:anyType" />
          <xs:element name="tips" type="xs:string" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="isopen" type="xs:anyType" />
          <xs:element name="component" type="xs:string" />
          <xs:element name="hidden" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="num" type="xs:anyType" />
          <xs:element name="pid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="deptid" type="xs:long" />
          <xs:element name="tips" type="xs:string" />
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 