Empl/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="campus" type="xs:string" />
        <xs:element name="branch" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="trainings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="lineone" type="xs:string" />
        <xs:element name="linetwo" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="postal" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="visa" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="permit" type="xs:string" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="/*	*longserialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//intrefbooknumber" type="library" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="family" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="relationid" type="xs:long" />
        <xs:element name="employeeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="certification" >
      <xs:sequence>
        <xs:element name="certificationid" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="acknowledgement" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="employerid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="countrycode" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="employerid" type="xs:long" />
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="circle" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="employerid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="suffix" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfomance_review" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="reviewid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="library" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="datereturn" type="xs:string" />
        <xs:element name="bookid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timesheet" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="intime" type="xs:string" />
        <xs:element name="outtime" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="allocationid" type="xs:long" />
        <xs:element name="allocation" type="allocations" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="circleid" type="xs:string" />
        <xs:element name="departmentid" type="xs:string" />
        <xs:element name="technologyid" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="designation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="donation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="technology" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allocations" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="experience" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="totalexperience" type="xs:long" />
        <xs:element name="relevantexperience" type="xs:long" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="employerid" type="xs:long" />
        <xs:element name="technologyid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emp_designation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="startdate" type="xs:long" />
        <xs:element name="enddate" type="xs:long" />
        <xs:element name="designationid" type="xs:long" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="employerid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asset" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:double" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="note" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trainings" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="coursetype" type="xs:string" />
        <xs:element name="duration" type="xs:string" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="bywhom" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="employerid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salary" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="gross" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expense" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="noofitems" type="xs:long" />
        <xs:element name="total" type="xs:double" />
        <xs:element name="bywhom" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resume" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="old" type="xs:string" />
        <xs:element name="newresume" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="employeeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allocation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="projectid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emp_awards" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="awardsid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insurance" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="amount" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="insuranceid" type="xs:long" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="qualification" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="education" type="xs:string" />
        <xs:element name="course" type="xs:string" />
        <xs:element name="specialization" type="xs:string" />
        <xs:element name="university" type="xs:string" />
        <xs:element name="course_type" type="xs:string" />
        <xs:element name="grade" type="xs:string" />
        <xs:element name="marks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="empassets" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="assetsid" type="xs:string" />
        <xs:element name="employeeid" type="xs:string" />
        <xs:element name="date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prefix" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="countryid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departments" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employerid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="bloodgroup" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="maritalstatus" type="xs:string" />
        <xs:element name="differentlyabled" type="xs:string" />
        <xs:element name="aadharno" type="xs:string" />
        <xs:element name="panno" type="xs:string" />
        <xs:element name="passportno" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="employer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="trainings" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leave_data" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="added" type="xs:string" />
        <xs:element name="taken" type="xs:string" />
        <xs:element name="balance" type="xs:long" />
        <xs:element name="employeeid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="upd" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 