dataprocess/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="crossdomain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrong" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcdl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifytemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatemodal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="historyframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leftframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentframe.html" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leftframe.html" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatus.jsp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createjob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifyjob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobmodal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentframe.html" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="historyframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobmodal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatus.jsp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createjob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifyjob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leftframe.html" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leftframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modifytemplate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatemodal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="realpath" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crossdomain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oozie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="struts" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cluster" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationcontext-actions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationcontext-businesses" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ivalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loopvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validatorfacade" >
      <xs:sequence>
        <xs:element name="validators" type="ivalidator" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schemavalidator" >
      <xs:sequence>
        <xs:element name="//theschemapathschema" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ifacade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hadoopjobmodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hadooputil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hadoopproxy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imsgparser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imessagemodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobdao" >
      <xs:complexContent>
       <xs:extension base="basedao<job>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idb_job" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagedao" >
      <xs:complexContent>
       <xs:extension base="basedao<page>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idb_template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatedao" >
      <xs:complexContent>
       <xs:extension base="basedao<template>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jbpmdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobrelationdao" >
      <xs:complexContent>
       <xs:extension base="basedao<jobrelation>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="basedao<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="modelrelationdao" >
      <xs:complexContent>
       <xs:extension base="basedao<modelrelation>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="historydao" >
      <xs:complexContent>
       <xs:extension base="basedao<history>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="role" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="template" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="developer" type="user" nillable="true" minOccurs="0" />
        <xs:element name="uploadtime" type="xs:dateTime" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatusinfo" >
      <xs:sequence>
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="startedtime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="history" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="usedtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelrelation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="job" nillable="true" minOccurs="0" />
        <xs:element name="modelid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="job" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="mapper" type="xs:string" />
        <xs:element name="reducer" type="xs:string" />
        <xs:element name="inputformat" type="xs:string" />
        <xs:element name="mapinputvalue" type="xs:string" />
        <xs:element name="mapinputkey" type="xs:string" />
        <xs:element name="mapoutputkey" type="xs:string" />
        <xs:element name="mapoutputvalue" type="xs:string" />
        <xs:element name="outputkey" type="xs:string" />
        <xs:element name="outputvalue" type="xs:string" />
        <xs:element name="isiterative" type="xs:anyType" />
        <xs:element name="ismaptype" type="xs:anyType" />
        <xs:element name="parameters" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="developer" type="user" nillable="true" minOccurs="0" />
        <xs:element name="uploadtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobrelation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="templateid" type="xs:long" />
        <xs:element name="jobidonhadoop" type="xs:string" />
        <xs:element name="ownerid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatus" >
      <xs:sequence>
        <xs:element name="jobid" type="xs:string" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="code" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basedaoimpl" >
      <xs:complexContent>
       <xs:extension base="hibernatedaosupport">
         <xs:sequence>
          <xs:element name="entityclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="db_job" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="db_conn" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelrelationdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<modelrelation>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="db_template" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="db_conn" nillable="true" minOccurs="0" />
        <xs:element name="templates" type="template" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobrelationdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<jobrelation>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templatedaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<template>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobdaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<job>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="db_user" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="db_conn" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_jobrelation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="db_conn" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_conn" >
      <xs:sequence>
        <xs:element name="drivername" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="userpwd" type="xs:string" />
        <xs:element name="dbname" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="conn" type="xs:anyType" />
        <xs:element name="sm" type="xs:anyType" />
        <xs:element name="ps" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="historydaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<history>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startuplistener" >
      <xs:complexContent>
       <xs:extension base="contextloaderlistener">
         <xs:sequence>
          <xs:element name="/***/appcontext" type="xs:anyType" />
          <xs:element name="/****/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resttemplateservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrespmessage" >
      <xs:sequence>
        <xs:element name="valid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restapplication" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
          <xs:element name="singletons" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restjobservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonresponse" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restjobstatusservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restuserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectconstants" >
      <xs:sequence>
        <xs:element name="user_session_key" type="xs:string" />
        <xs:element name="jobsearchmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jbpmtest.jpdl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchutil" >
      <xs:sequence>
        <xs:element name="jobmap" type="xs:anyType" />
        <xs:element name="tempmap" type="xs:anyType" />
        <xs:element name="historymap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileoperation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="page" >
      <xs:sequence>
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="totalpage" type="xs:long" />
        <xs:element name="rowcount" type="xs:long" />
        <xs:element name="currentpage" type="xs:long" />
        <xs:element name="prepage" type="xs:long" />
        <xs:element name="nextpage" type="xs:long" />
        <xs:element name="hasnextpage" type="xs:anyType" />
        <xs:element name="haspreviouspage" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oozieutil" >
      <xs:sequence>
        <xs:element name="oozieconf" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hdfsutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sshutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="driverclass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieshandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httputil" >
      <xs:sequence>
        <xs:element name="main_site" type="xs:string" />
        <xs:element name="urlconn" type="xs:anyType" />
        <xs:element name="timeout" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gbkorder" >
      <xs:complexContent>
       <xs:extension base="order">
         <xs:sequence>
          <xs:element name="encoding" type="xs:string" />
          <xs:element name="ascending" type="xs:anyType" />
          <xs:element name="ignorecase" type="xs:anyType" />
          <xs:element name="propertyname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="encodeutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joinnode" >
      <xs:complexContent>
       <xs:extension base="vertex">
         <xs:sequence>
          <xs:element name="to" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mrnode" >
      <xs:complexContent>
       <xs:extension base="vertex">
         <xs:sequence>
          <xs:element name="jobid" type="xs:long" />
          <xs:element name="path" type="xs:string" />
          <xs:element name="mapper" type="xs:string" />
          <xs:element name="reducer" type="xs:string" />
          <xs:element name="inputformat" type="xs:string" />
          <xs:element name="mapinputkey" type="xs:string" />
          <xs:element name="mapinputvalue" type="xs:string" />
          <xs:element name="mapoutputkey" type="xs:string" />
          <xs:element name="mapoutputvalue" type="xs:string" />
          <xs:element name="outputkey" type="xs:string" />
          <xs:element name="outputvalue" type="xs:string" />
          <xs:element name="inputpath" type="xs:string" />
          <xs:element name="outputpath" type="xs:string" />
          <xs:element name="parameters" type="xs:anyType" />
          <xs:element name="isiterative" type="xs:anyType" />
          <xs:element name="iterationtimes" type="xs:long" />
          <xs:element name="to" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="edge" >
      <xs:sequence>
        <xs:element name="//thestartvertex'sindexv1" type="xs:string" />
        <xs:element name="//theendvertex'sindexv2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dag" >
      <xs:sequence>
        <xs:element name="vertex" type="vertex" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="numedge" type="xs:long" />
        <xs:element name="mark" type="xs:anyType" />
        <xs:element name="nextmark" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forknode" >
      <xs:complexContent>
       <xs:extension base="vertex">
         <xs:sequence>
          <xs:element name="child" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="vertex" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="//theadjacencylistadjacency" type="xs:anyType" />
        <xs:element name="mark" type="xs:long" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="dependencies" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startnode" >
      <xs:complexContent>
       <xs:extension base="vertex">
         <xs:sequence>
          <xs:element name="to" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="endnode" >
      <xs:complexContent>
       <xs:extension base="vertex">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adtbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="graphbuilder" >
      <xs:sequence>
        <xs:element name="mrjobs" type="mrnode" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="libs" type="xs:anyType" />
        <xs:element name="graph" type="dag" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redirectservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="action_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletetemplate" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gettemplates" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatejob" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletejob" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localredirectservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="action_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gettemplatexml" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addtemplate" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gettemplatesall" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatetemplate" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getjobsall" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="processjob" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="drivername" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="userpwd" type="xs:string" />
          <xs:element name="dbname" type="xs:string" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="conn" type="xs:anyType" />
          <xs:element name="sm" type="xs:anyType" />
          <xs:element name="ps" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getjobs" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addjob" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="icreator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jarhandler" >
      <xs:sequence>
        <xs:element name="//" type="xs:long" />
        <xs:element name="main_class" type="xs:string" />
        <xs:element name="//" type="xs:anyType" />
        <xs:element name="mbytecount" type="xs:long" />
        <xs:element name="mverbose" type="xs:anyType" />
        <xs:element name="mdestjarname" type="xs:string" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classcompiler" >
      <xs:complexContent>
       <xs:extension base="javafileobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapreducecreator" >
      <xs:sequence>
        <xs:element name="hadoop_core_path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iexecutor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapreduceexecutor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mrcodegenerator" >
      <xs:sequence>
        <xs:element name="gb" type="graphbuilder" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icodegenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oozieexecutor" >
      <xs:sequence>
        <xs:element name="namenode" type="xs:string" />
        <xs:element name="basepath" type="xs:string" />
        <xs:element name="oozieconf" type="xs:string" />
        <xs:element name="oozie_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iexecutor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icreator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oozieappcreator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oozieparser" >
      <xs:sequence>
        <xs:element name="dbf" type="xs:anyType" />
        <xs:element name="builder" type="xs:anyType" />
        <xs:element name="doc" type="xs:anyType" />
        <xs:element name="jobtracker" type="xs:string" />
        <xs:element name="namenode" type="xs:string" />
        <xs:element name="libs" type="xs:anyType" />
        <xs:element name="namespace" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iparser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uservb" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="role" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatevb" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="developerid" type="xs:long" />
        <xs:element name="uploadtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelrelationvb" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="modelid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobvb" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="mapper" type="xs:string" />
        <xs:element name="reducer" type="xs:string" />
        <xs:element name="inputformat" type="xs:string" />
        <xs:element name="mapinputvalue" type="xs:string" />
        <xs:element name="mapinputkey" type="xs:string" />
        <xs:element name="mapoutputkey" type="xs:string" />
        <xs:element name="mapoutputvalue" type="xs:string" />
        <xs:element name="outputkey" type="xs:string" />
        <xs:element name="outputvalue" type="xs:string" />
        <xs:element name="iterative" type="xs:anyType" />
        <xs:element name="parameters" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="developerid" type="xs:long" />
        <xs:element name="uploadtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatusservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="historyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelrelationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modelrelationserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobstatusserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jobrelationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="historyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="historydao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateserviceimpl" >
      <xs:sequence>
        <xs:element name="tempdao" type="templatedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jobdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restinnerexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restinnerexceptionmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notfoundexceptionmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseaction" >
      <xs:complexContent>
       <xs:extension base="actionsupport">
         <xs:sequence>
          <xs:element name="failure" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="path" type="xs:string" />
          <xs:element name="mapper" type="xs:string" />
          <xs:element name="reducer" type="xs:string" />
          <xs:element name="inputformat" type="xs:string" />
          <xs:element name="mapinputvalue" type="xs:string" />
          <xs:element name="mapinputkey" type="xs:string" />
          <xs:element name="mapoutputkey" type="xs:string" />
          <xs:element name="mapoutputvalue" type="xs:string" />
          <xs:element name="outputkey" type="xs:string" />
          <xs:element name="outputvalue" type="xs:string" />
          <xs:element name="iterative" type="xs:anyType" />
          <xs:element name="maptype" type="xs:anyType" />
          <xs:element name="parameters" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="developerid" type="xs:long" />
          <xs:element name="uploadtime" type="xs:dateTime" />
          <xs:element name="pno" type="xs:long" />
          <xs:element name="pagesize" type="xs:long" />
          <xs:element name="searchkey" type="xs:long" />
          <xs:element name="searchvalue" type="xs:string" />
          <xs:element name="" type="jobservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="ret" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flexaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="tempid" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="decontent" type="xs:string" />
          <xs:element name="tempservice" type="templateservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="contenttype" type="xs:string" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="localpath" type="xs:string" />
          <xs:element name="" type="jobservice" nillable="true" minOccurs="0" />
          <xs:element name="buffer_size" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="historyaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="path" type="xs:string" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="usetime" type="xs:dateTime" />
          <xs:element name="searchkey" type="xs:long" />
          <xs:element name="searchvalue" type="xs:string" />
          <xs:element name="pagesize" type="xs:long" />
          <xs:element name="pno" type="xs:long" />
          <xs:element name="" type="historyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useraction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="/***/id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="role" type="xs:long" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templateaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="path" type="xs:string" />
          <xs:element name="developerid" type="xs:long" />
          <xs:element name="uploadtime" type="xs:dateTime" />
          <xs:element name="searchkey" type="xs:long" />
          <xs:element name="content" type="xs:string" />
          <xs:element name="searchvalue" type="xs:string" />
          <xs:element name="pagesize" type="xs:long" />
          <xs:element name="pno" type="xs:long" />
          <xs:element name="tempservice" type="templateservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jobstatusaction" >
      <xs:complexContent>
       <xs:extension base="baseaction">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="jobstatusservice" nillable="true" minOccurs="0" />
          <xs:element name="pno" type="xs:long" />
          <xs:element name="pagesize" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 