alisql_stud/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clobtest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="/***thesizeoftheclobcolumnis2raisedtothepoweri.*/number_to_insert" type="xs:long" />
          <xs:element name="/***theclobinstancesfortesting.*/clobs" type="clobtypes" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="slowtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singleemftestcase" >
      <xs:complexContent>
       <xs:extension base="persistencetestcase">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timeasutildatetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timestampasutildatetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigintegertypestest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="decimal_null_hash" type="xs:anyType" />
          <xs:element name="decimal_null_btree" type="xs:anyType" />
          <xs:element name="decimal_null_both" type="xs:anyType" />
          <xs:element name="decimal_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datetimeassqltimestamptest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="decimaltypestest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="decimal_null_hash" type="xs:anyType" />
          <xs:element name="decimal_null_btree" type="xs:anyType" />
          <xs:element name="decimal_null_both" type="xs:anyType" />
          <xs:element name="decimal_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="longintstringfkoneone" >
      <xs:complexContent>
       <xs:extension base="longintstringconstants">
         <xs:sequence>
          <xs:element name="pk" type="xs:long" />
          <xs:element name="pk" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
          <xs:element name="" type="longintstringpkoneone" nillable="true" minOccurs="0" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="b0" >
      <xs:sequence>
        <xs:element name="//@basic(fetch" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="c" type="xs:long" />
        <xs:element name="c" type="xs:long" />
        <xs:element name="c" type="xs:double" />
        <xs:element name="c" type="xs:double" />
        <xs:element name="c" type="xs:string" />
        <xs:element name="s" type="xs:anyType" />
        <xs:element name="GeneratedName" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedded" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longlongstringpkonemany" >
      <xs:complexContent>
       <xs:extension base="longlongstringconstants">
         <xs:sequence>
          <xs:element name="pk1" type="xs:long" />
          <xs:element name="pk2" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="longlongstringfkmanyones" type="longlongstringfkmanyone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timestampasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time_not_null_hash" type="xs:dateTime" />
        <xs:element name="time_not_null_btree" type="xs:dateTime" />
        <xs:element name="time_not_null_both" type="xs:dateTime" />
        <xs:element name="time_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longlongstringconstants" >
      <xs:sequence>
        <xs:element name="/***themodulususedtocreatekeys*/pk_modulus" type="xs:long" />
        <xs:element name="/***alargenumberforcreatingvalues*/pretty_big_number" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedding" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="magic" type="xs:long" />
        <xs:element name="//defaultsto@" type="embedded" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longlongstringfkmanyone" >
      <xs:complexContent>
       <xs:extension base="longlongstringconstants">
         <xs:sequence>
          <xs:element name="pk1" type="xs:long" />
          <xs:element name="pk2" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
          <xs:element name="" type="longlongstringpkonemany" nillable="true" minOccurs="0" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:dateTime" />
        <xs:element name="_not_null_btree" type="xs:dateTime" />
        <xs:element name="_not_null_both" type="xs:dateTime" />
        <xs:element name="_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idbase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigintegertypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="decimal_null_hash" type="xs:anyType" />
        <xs:element name="decimal_null_btree" type="xs:anyType" />
        <xs:element name="decimal_null_both" type="xs:anyType" />
        <xs:element name="decimal_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timestampassqltimestamptypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:anyType" />
        <xs:element name="_not_null_btree" type="xs:anyType" />
        <xs:element name="_not_null_both" type="xs:anyType" />
        <xs:element name="_not_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time_not_null_hash" type="xs:dateTime" />
        <xs:element name="time_not_null_btree" type="xs:dateTime" />
        <xs:element name="time_not_null_both" type="xs:dateTime" />
        <xs:element name="time_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeassqltimestamptypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="datetime_not_null_hash" type="xs:anyType" />
        <xs:element name="datetime_not_null_btree" type="xs:anyType" />
        <xs:element name="datetime_not_null_both" type="xs:anyType" />
        <xs:element name="datetime_not_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longintstringpkoneone" >
      <xs:complexContent>
       <xs:extension base="longintstringconstants">
         <xs:sequence>
          <xs:element name="pk" type="xs:long" />
          <xs:element name="pk" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="" type="longintstringfkoneone" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="magic" type="xs:long" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blobtypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="blobs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clobtypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="small200" type="xs:string" />
        <xs:element name="medium500" type="xs:string" />
        <xs:element name="large10000" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//@basic(fetch" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="c" type="xs:long" />
        <xs:element name="c" type="xs:long" />
        <xs:element name="c" type="xs:double" />
        <xs:element name="c" type="xs:double" />
        <xs:element name="c" type="xs:string" />
        <xs:element name="b0s" type="b0" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateassqldatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:dateTime" />
        <xs:element name="_not_null_btree" type="xs:dateTime" />
        <xs:element name="_not_null_both" type="xs:dateTime" />
        <xs:element name="_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeassqltimetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:dateTime" />
        <xs:element name="_not_null_btree" type="xs:dateTime" />
        <xs:element name="_not_null_both" type="xs:dateTime" />
        <xs:element name="_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time_not_null_hash" type="xs:dateTime" />
        <xs:element name="time_not_null_btree" type="xs:dateTime" />
        <xs:element name="time_not_null_both" type="xs:dateTime" />
        <xs:element name="time_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="decimaltypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="decimal_null_hash" type="xs:anyType" />
        <xs:element name="decimal_null_btree" type="xs:anyType" />
        <xs:element name="decimal_null_both" type="xs:anyType" />
        <xs:element name="decimal_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longintstringconstants" >
      <xs:sequence>
        <xs:element name="/***themodulususedtocreatekeys*/pk_modulus" type="xs:long" />
        <xs:element name="/***alargenumberforcreatingvalues*/pretty_big_number" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lazyemployee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="magic" type="xs:long" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="longlongstringpk" >
      <xs:complexContent>
       <xs:extension base="longlongstringconstants">
         <xs:sequence>
          <xs:element name="pk1" type="xs:long" />
          <xs:element name="pk2" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="longintstringoid" >
      <xs:complexContent>
       <xs:extension base="longintstringconstants">
         <xs:sequence>
          <xs:element name="pk" type="xs:long" />
          <xs:element name="pk" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="longlongstringoid" >
      <xs:complexContent>
       <xs:extension base="longlongstringconstants">
         <xs:sequence>
          <xs:element name="pk1" type="xs:long" />
          <xs:element name="pk2" type="xs:long" />
          <xs:element name="pk" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timeassqltimetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timestampassqltimestamptest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencetestcase" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="/***the{@link}instanceforthecurrenttestrun.*/" type="xs:anyType" />
          <xs:element name="/***errormessagescollectedduringatest.*/errormessages" type="xs:anyType" />
          <xs:element name="nl" type="xs:string" />
          <xs:element name="/***thepropertiesusedtocreatetheentitymanagerfactory*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driver" >
      <xs:sequence>
        <xs:element name="/***thestreamtowritemessagesto.*/out" type="xs:anyType" />
        <xs:element name="/***thestreamtowriteerrormessagesto.*/err" type="xs:anyType" />
        <xs:element name="/***shortcuttotheend-of-linecharactersequence.*/endl" type="xs:string" />
        <xs:element name="/***shortcuttothe.*/rt" type="xs:anyType" />
        <xs:element name="//command-lineargumentspropfilenames" type="xs:anyType" />
        <xs:element name="logfilename" type="xs:string" />
        <xs:element name="//thedataoutputwriterlog" type="xs:anyType" />
        <xs:element name="//benchmarksettingsprops" type="xs:anyType" />
        <xs:element name="descr" type="xs:string" />
        <xs:element name="logrealtime" type="xs:anyType" />
        <xs:element name="logmemusage" type="xs:anyType" />
        <xs:element name="includefullgc" type="xs:anyType" />
        <xs:element name="logsumofops" type="xs:anyType" />
        <xs:element name="renewoperations" type="xs:anyType" />
        <xs:element name="renewconnection" type="xs:anyType" />
        <xs:element name="allowextendedpc" type="xs:anyType" />
        <xs:element name="astart" type="xs:long" />
        <xs:element name="bstart" type="xs:long" />
        <xs:element name="maxstringlength" type="xs:long" />
        <xs:element name="warmupruns" type="xs:long" />
        <xs:element name="hotruns" type="xs:long" />
        <xs:element name="exclude" type="xs:anyType" />
        <xs:element name="/***thelistofdatabaseoperationstobebenchmarked.*whilethelistinstanceis,itscontentismanagedbymethods*initoperations()andcloseoperations()asdefinedbysubclasses.*/ops" type="xs:anyType" />
        <xs:element name="//bufferscollectingtheheaderanddatalineswrittentologlogheader" type="xs:anyType" />
        <xs:element name="header" type="xs:anyType" />
        <xs:element name="rtimes" type="xs:anyType" />
        <xs:element name="musage" type="xs:anyType" />
        <xs:element name="//benchmarkdatafieldst0" type="xs:long" />
        <xs:element name="m0" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateasutildatetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datetimeasutildatetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateassqldatetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
          <xs:element name="not_null_hash" type="xs:anyType" />
          <xs:element name="not_null_btree" type="xs:anyType" />
          <xs:element name="not_null_both" type="xs:anyType" />
          <xs:element name="not_null_none" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singleemtestcase" >
      <xs:complexContent>
       <xs:extension base="singleemftestcase">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="tx" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobtest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="/***thesizeoftheblobcolumnis2raisedtothepoweri.*/number_to_insert" type="xs:long" />
          <xs:element name="/***theblobinstancesfortesting.*/blobs" type="blobtypes" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractjpabasetest" >
      <xs:complexContent>
       <xs:extension base="singleemtestcase">
         <xs:sequence>
          <xs:element name="/***thelocalsystemdefaulttimezone,whichisresetbyresetlocalsystemdefault*/localsystem" type="xs:anyType" />
          <xs:element name="/***thetothedatabase*/" type="xs:anyType" />
          <xs:element name="s" type="xs:anyType" />
          <xs:element name="/***theinstancesusedinthetests,generatedbygenerateinstances*/instances" type="idbase" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***listofexpectedresults,generatedbygenerateinstances*/expected" type="xs:anyType" />
          <xs:element name="/***debugflag*/debug" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lazytest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddedtest" >
      <xs:complexContent>
       <xs:extension base="abstractjpabasetest">
         <xs:sequence>
          <xs:element name="number_of_instances" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ignore" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaload" >
      <xs:complexContent>
       <xs:extension base="driver">
         <xs:sequence>
          <xs:element name="//jpadatabaseconnectiondriver" type="xs:string" />
          <xs:element name="url" type="xs:string" />
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="delalla" type="xs:anyType" />
          <xs:element name="delallb0" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 