Freight-Management-System-Spring-Boot/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userslistcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiplesegmentcustomreportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="scorefactorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="decisionvariablescorerangerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoreprojectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoresegmentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="computedsegmentscoremanagementdatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customprojectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoremanagementcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="decisionvariablescorerangerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="priorityscorerangerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itextreportcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelreportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cdpprojectsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="header" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportscontroller" >
      <xs:sequence>
        <xs:element name="reportlist" type="reports" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="scrrangehashtable" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoreprojectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoresystemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="decisionvariablescorerangerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customreportscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoreprojectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoresystemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardcontroller" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="giscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdpreportscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cdpprojectsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scrcdpprojectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoreprojectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scorefactorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="computedsegmentscoremanagementdatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="decisionvariablescorerangerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fmsstiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoresystemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="performancebasedscoringcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="uniquescoresystemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scoresystemrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scorecategoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scorefactorrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoresystemrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scoresystem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniquescoresystemrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<uniquescoresystem,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cdpprojectsrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<cdpprojects,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboardrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<dashboard,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customprojectrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<customproject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scoresegmentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scoresegment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scorecategoryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scorecategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scrcdpprojectrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scrcdpproject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scorefactorrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scorefactor,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fmsstiprepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<fmsstip,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="priorityscorerangerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<priorityscorerange,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="decisionvariablescorerangerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<decisionvariablescorerange,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="computedsegmentscoremanagementdatarepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<computedsegmentscoremanagementdata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scoreprojectrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scoreproject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniquescoresystem" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="catname" type="xs:string" />
        <xs:element name="catdescription" type="xs:string" />
        <xs:element name="catdisptext" type="xs:string" />
        <xs:element name="catdispposition" type="xs:string" />
        <xs:element name="catweight" type="xs:string" />
        <xs:element name="catisactive" type="xs:string" />
        <xs:element name="factorid" type="xs:long" />
        <xs:element name="factordescription" type="xs:string" />
        <xs:element name="factordisptext" type="xs:string" />
        <xs:element name="factordispposition" type="xs:string" />
        <xs:element name="factorweight" type="xs:string" />
        <xs:element name="factorisactive" type="xs:string" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="maxscore" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="systemisactive" type="xs:string" />
        <xs:element name="agencyalias" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="timestamp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customproject" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="systemid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scrcdpproject" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="totalcountlt" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="meantt" type="xs:double" />
        <xs:element name="tt95" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="totalscore" type="xs:double" />
        <xs:element name="scrsystemid" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorecriteria" >
      <xs:sequence>
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="decisionvariablescorerange" >
      <xs:sequence>
        <xs:element name="category_name" type="xs:string" />
        <xs:element name="start_range" type="xs:double" />
        <xs:element name="end_range" type="xs:double" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="transientediting" type="xs:anyType" />
        <xs:element name="transientnewrecord" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorefactor" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="factorid" type="xs:long" />
        <xs:element name="factor_description" type="xs:string" />
        <xs:element name="weight" type="xs:double" />
        <xs:element name="dispposition" type="xs:string" />
        <xs:element name="disptext" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoresegment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="totalcountlt" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="meantt" type="xs:double" />
        <xs:element name="tt95" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="totalscore" type="xs:double" />
        <xs:element name="scrsystemid" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="projectinfouser" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsystemscore" >
      <xs:sequence>
        <xs:element name="scoresystem" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="systemid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="computedsegmentscoremanagementdata" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="totalcountlt" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="meantt" type="xs:double" />
        <xs:element name="tt95" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="totalscore" type="xs:double" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="route" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fmsstip" >
      <xs:sequence>
        <xs:element name="year" type="xs:string" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="upc" type="xs:string" />
        <xs:element name="contract_number" type="xs:string" />
        <xs:element name="m_posts" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="transientprincipleid" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="transientdomain" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="transientroleid" type="xs:long" />
        <xs:element name="transientisgroup" type="xs:anyType" />
        <xs:element name="transientpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoresystem" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="maxscore" type="xs:long" />
        <xs:element name="agencyalias" type="xs:string" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="timestamp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
        <xs:element name="dummyid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="computedsegmentsccremanagementdataid" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdpprojects" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="transientfailuremessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdpprojectswithscoreid" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="systemid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoreprojectid" >
      <xs:sequence>
        <xs:element name="year" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="revision" type="xs:long" />
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="factorid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryscore" >
      <xs:sequence>
        <xs:element name="category_name" type="xs:string" />
        <xs:element name="category_score" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorecategory" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="cat_name" type="xs:string" />
        <xs:element name="cat_description" type="xs:string" />
        <xs:element name="weight" type="xs:string" />
        <xs:element name="dispposition" type="xs:string" />
        <xs:element name="disptext" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="target" type="xs:string" />
        <xs:element name="transientscorefactors" type="scorefactor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdpprojectswithscore" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="systemid" type="xs:anyType" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="transientfailuremessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="priorityscorerange" >
      <xs:sequence>
        <xs:element name="acceptable_range_from" type="xs:double" />
        <xs:element name="acceptable_range_to" type="xs:double" />
        <xs:element name="low_range_from" type="xs:double" />
        <xs:element name="low_range_to" type="xs:double" />
        <xs:element name="medium_range_from" type="xs:double" />
        <xs:element name="medium_range_to" type="xs:double" />
        <xs:element name="high_range_from" type="xs:double" />
        <xs:element name="high_range_to" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniquecdpprojectswithscores" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="//@idsystemid" type="xs:anyType" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="transientfailuremessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoreproject" >
      <xs:sequence>
        <xs:element name="year" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="revision" type="xs:long" />
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="factorid" type="xs:long" />
        <xs:element name="score" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scrcdpprojectid" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="scrsystemid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customsqlserverdialect" >
      <xs:complexContent>
       <xs:extension base="org.hibernate.dialect.sqlserverdialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reports" >
      <xs:sequence>
        <xs:element name="year" type="xs:string" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="project_type" type="xs:string" />
        <xs:element name="project_name" type="xs:string" />
        <xs:element name="score" type="xs:string" />
        <xs:element name="system_name" type="xs:string" />
        <xs:element name="selectedfordownload" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fmsapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="welcomecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crystalreportutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alphanumericstringcomparator" >
      <xs:complexContent>
       <xs:extension base="charsequence>">
         <xs:sequence>
          <xs:element name="sr1,sr2" type="xs:anyType" />
          <xs:element name="pos1,pos2,len1,len2" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestresponseinterceptorconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="requestresponseinterceptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestresponseinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auth" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="displaycdpreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="displaycustomprojectreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reports_custom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="405" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="404" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="500" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="400" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="head_common" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quicknav" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="masonry.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hor-timeline.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hor-timeline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cookie-consent.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quick-nav.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-switch.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="az" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="th" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh-tw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh-cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="is" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sr-cyrl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="km" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt-br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="el" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slimscroll.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slimscroll.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="custom.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aero" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="square" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="red" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yellow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pink" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="polaris" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yellow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pink" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aero" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="red" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="futurico" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yellow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aero" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="minimal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="red" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pink" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icheck.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nj_roadway_with_type_1_2_3_4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 