Freight-Management-System-Spring-Boot/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="uniquescoresystem" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="catname" type="xs:string" />
        <xs:element name="catdescription" type="xs:string" />
        <xs:element name="catdisptext" type="xs:string" />
        <xs:element name="catdispposition" type="xs:string" />
        <xs:element name="catweight" type="xs:string" />
        <xs:element name="catisactive" type="xs:string" />
        <xs:element name="factorid" type="xs:long" />
        <xs:element name="factordescription" type="xs:string" />
        <xs:element name="factordisptext" type="xs:string" />
        <xs:element name="factordispposition" type="xs:string" />
        <xs:element name="factorweight" type="xs:string" />
        <xs:element name="factorisactive" type="xs:string" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="maxscore" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="systemisactive" type="xs:string" />
        <xs:element name="agencyalias" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="timestamp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customproject" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="systemid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scrcdpproject" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="totalcountlt" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="meantt" type="xs:double" />
        <xs:element name="tt95" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="totalscore" type="xs:double" />
        <xs:element name="scrsystemid" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="decisionvariablescorerange" >
      <xs:sequence>
        <xs:element name="category_name" type="xs:string" />
        <xs:element name="start_range" type="xs:double" />
        <xs:element name="end_range" type="xs:double" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="transientediting" type="xs:anyType" />
        <xs:element name="transientnewrecord" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorefactor" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="factorid" type="xs:long" />
        <xs:element name="factor_description" type="xs:string" />
        <xs:element name="weight" type="xs:double" />
        <xs:element name="dispposition" type="xs:string" />
        <xs:element name="disptext" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoresegment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="totalcountlt" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="meantt" type="xs:double" />
        <xs:element name="tt95" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="totalscore" type="xs:double" />
        <xs:element name="scrsystemid" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="projectinfouser" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsystemscore" >
      <xs:sequence>
        <xs:element name="scoresystem" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="systemid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="computedsegmentscoremanagementdata" >
      <xs:sequence>
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="mpstartseg" type="xs:double" />
        <xs:element name="mpendseg" type="xs:double" />
        <xs:element name="totalcountlt" type="xs:double" />
        <xs:element name="crlt" type="xs:double" />
        <xs:element name="severity" type="xs:double" />
        <xs:element name="nationalhighwayfreightnetwork" type="xs:double" />
        <xs:element name="intermodal" type="xs:double" />
        <xs:element name="njaccess" type="xs:double" />
        <xs:element name="nhs" type="xs:double" />
        <xs:element name="meantt" type="xs:double" />
        <xs:element name="tt95" type="xs:double" />
        <xs:element name="tttr" type="xs:double" />
        <xs:element name="overweight" type="xs:double" />
        <xs:element name="ltpercstip" type="xs:double" />
        <xs:element name="totalscore" type="xs:double" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="route" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fmsstip" >
      <xs:sequence>
        <xs:element name="year" type="xs:string" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="upc" type="xs:string" />
        <xs:element name="contract_number" type="xs:string" />
        <xs:element name="m_posts" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="transientprincipleid" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="transientdomain" type="xs:string" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="transientroleid" type="xs:long" />
        <xs:element name="transientisgroup" type="xs:anyType" />
        <xs:element name="transientpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoresystem" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="maxscore" type="xs:long" />
        <xs:element name="agencyalias" type="xs:string" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="timestamp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
        <xs:element name="dummyid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdpprojects" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="transientfailuremessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorecategory" >
      <xs:sequence>
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="cat_name" type="xs:string" />
        <xs:element name="cat_description" type="xs:string" />
        <xs:element name="weight" type="xs:string" />
        <xs:element name="dispposition" type="xs:string" />
        <xs:element name="disptext" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="target" type="xs:string" />
        <xs:element name="transientscorefactors" type="scorefactor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdpprojectswithscore" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="systemid" type="xs:anyType" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="transientfailuremessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="priorityscorerange" >
      <xs:sequence>
        <xs:element name="acceptable_range_from" type="xs:double" />
        <xs:element name="acceptable_range_to" type="xs:double" />
        <xs:element name="low_range_from" type="xs:double" />
        <xs:element name="low_range_to" type="xs:double" />
        <xs:element name="medium_range_from" type="xs:double" />
        <xs:element name="medium_range_to" type="xs:double" />
        <xs:element name="high_range_from" type="xs:double" />
        <xs:element name="high_range_to" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniquecdpprojectswithscores" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="sri" type="xs:string" />
        <xs:element name="mpstart" type="xs:double" />
        <xs:element name="mpend" type="xs:double" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="imagepath" type="xs:string" />
        <xs:element name="route" type="xs:string" />
        <xs:element name="score" type="xs:double" />
        <xs:element name="//@idsystemid" type="xs:anyType" />
        <xs:element name="systemname" type="xs:string" />
        <xs:element name="transientfailuremessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scoreproject" >
      <xs:sequence>
        <xs:element name="year" type="xs:long" />
        <xs:element name="dbnum" type="xs:string" />
        <xs:element name="revision" type="xs:long" />
        <xs:element name="systemid" type="xs:long" />
        <xs:element name="catid" type="xs:long" />
        <xs:element name="factorid" type="xs:long" />
        <xs:element name="score" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 