HibernateDemos2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="rollno" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="marks" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="laptop" >
      <xs:sequence>
        <xs:element name="lid" type="xs:long" />
        <xs:element name="lname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 