arquitetura_java8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="lista" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faces-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instrutor" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instrutormb" >
      <xs:sequence>
        <xs:element name="repository" type="instrutorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="instrutor" nillable="true" minOccurs="0" />
        <xs:element name="instrutores" type="instrutor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instrutorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<instrutor,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springjsfapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 