dataio7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jobentity" >
      <xs:sequence>
        <xs:element name="/*beadvisedthatupdatingtheernalstateofa'json'columnwillnotmarkthefieldasdirtyandthereforenotresultinadatabaseupdate.theonlywaytoachieveanupdateistoreplacethefieldvaluewithanewinstance(longlivecopyconstructors).*/id" type="xs:long" />
        <xs:element name="eoj" type="xs:anyType" />
        <xs:element name="fatalerror" type="xs:anyType" />
        <xs:element name="partnumber" type="xs:long" />
        <xs:element name="numberofchunks" type="xs:long" />
        <xs:element name="numberofitems" type="xs:long" />
        <xs:element name="priority" type="xs:long" />
        <xs:element name="skipped" type="xs:long" />
        <xs:element name="//todo:4/4/17droptimeoflastmodificationdbtriggeranduse@prepersistand@preupdatecallbacksinstead(toavoidunnecessaryflush()andrefresh()calls)timeofcreation" type="xs:anyType" />
        <xs:element name="timeoflastmodification" type="xs:anyType" />
        <xs:element name="timeofcompletion" type="xs:anyType" />
        <xs:element name="specification" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="cachedflow" type="flowcacheentity" nillable="true" minOccurs="0" />
        <xs:element name="cachedsink" type="sinkcacheentity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itementity" >
      <xs:sequence>
        <xs:element name="/*beadvisedthatupdatingtheinternalstateofa'json'columnwillnotmarkthefieldasdirtyandthereforenotresultinadatabaseupdate.theonlywaytoachieveanupdateistoreplacethefieldvaluewithanewinstance(longlivecopyconstructors).*/" type="xs:anyType" />
        <xs:element name="//todo:4/4/17droptimeoflastmodificationdbtriggeranduse@prepersistand@preupdatecallbacksinstead(toavoidunnecessaryflush()andrefresh()calls)timeofcreation" type="xs:anyType" />
        <xs:element name="timeofcompletion" type="xs:anyType" />
        <xs:element name="timeoflastmodification" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="partitioningoutcome" type="xs:anyType" />
        <xs:element name="processingoutcome" type="xs:anyType" />
        <xs:element name="nextprocessingoutcome" type="xs:anyType" />
        <xs:element name="deliveringoutcome" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="positionindatafile" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationentity" >
      <xs:sequence>
        <xs:element name="select_by_type" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="timeofcreation" type="xs:anyType" />
        <xs:element name="timeoflastmodification" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="statusmessage" type="xs:string" />
        <xs:element name="destination" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="context" type="xs:string" />
        <xs:element name="job" type="jobentity" nillable="true" minOccurs="0" />
        <xs:element name="jobid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dependencytrackingentity" >
      <xs:sequence>
        <xs:element name="sinkid_status_count_result" type="xs:string" />
        <xs:element name="key_result" type="xs:string" />
        <xs:element name="sinkid_status_count_query" type="xs:string" />
        <xs:element name="job_count_chunk_count_query" type="xs:string" />
        <xs:element name="related_chunks_query" type="xs:string" />
        <xs:element name="by_sinkid_and_state_query" type="xs:string" />
        <xs:element name="chunks_to_wait_for_query" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="sinkid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="priority" type="xs:long" />
        <xs:element name="waitingon" type="xs:anyType" />
        <xs:element name="matchkeys" type="xs:anyType" />
        <xs:element name="hashes" type="xs:anyType" />
        <xs:element name="submitter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowcacheentity" >
      <xs:sequence>
        <xs:element name="named_query_set_cache" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="checksum" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reordereditementity" >
      <xs:sequence>
        <xs:element name="get_items_count_by_jobid_query_name" type="xs:string" />
        <xs:element name="get_items_count_by_jobid_query" type="xs:string" />
        <xs:element name="get_next_item_by_jobid_query_name" type="xs:string" />
        <xs:element name="get_next_item_by_jobid_query" type="xs:string" />
        <xs:element name="query_get_parent" type="xs:string" />
        <xs:element name="/*beadvisedthatupdatingtheernalstateofa'json'columnwillnotmarkthefieldasdirtyandthereforenotresultinadatabaseupdate.theonlywaytoachieveanupdateistoreplacethefieldvaluewithanewinstance(longlivecopyconstructors).*///jpaentitiesneedtohaveaprimarykeyid" type="xs:long" />
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="sortkey" type="xs:long" />
        <xs:element name="positionindatafile" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="recordinfo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sinkcacheentity" >
      <xs:sequence>
        <xs:element name="named_query_set_cache" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="checksum" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rerunentity" >
      <xs:sequence>
        <xs:element name="find_head_query_name" type="xs:string" />
        <xs:element name="find_by_state_query_name" type="xs:string" />
        <xs:element name="field_state" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="timeofcreation" type="xs:anyType" />
        <xs:element name="job" type="jobentity" nillable="true" minOccurs="0" />
        <xs:element name="includefailedonly" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobqueueentity" >
      <xs:sequence>
        <xs:element name="nq_find_by_state" type="xs:string" />
        <xs:element name="//thisisnativesqlbecausejpqldoesn'tsupportjsonoperators.//findsjobqueueentitieswithsubmitteridswhicharenotalreadyinjobsmarkedasinprogressnq_find_by_sink_and_available_submitter" type="xs:string" />
        <xs:element name="field_sink_id" type="xs:string" />
        <xs:element name="field_state" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="timeofentry" type="xs:anyType" />
        <xs:element name="job" type="jobentity" nillable="true" minOccurs="0" />
        <xs:element name="sinkid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="retries" type="xs:long" />
        <xs:element name="includefilter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chunkentity" >
      <xs:sequence>
        <xs:element name="/*beadvisedthatupdatingtheinternalstateofa'json'columnwillnotmarkthefieldasdirtyandthereforenotresultinadatabaseupdate.theonlywaytoachieveanupdateistoreplacethefieldvaluewithanewinstance(longlivecopyconstructors).*/" type="xs:anyType" />
        <xs:element name="datafileid" type="xs:string" />
        <xs:element name="numberofitems" type="xs:long" />
        <xs:element name="timeofcreation" type="xs:anyType" />
        <xs:element name="timeoflastmodification" type="xs:anyType" />
        <xs:element name="timeofcompletion" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 