aparna_233/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mystreamdecoderimpl" >
      <xs:complexContent>
       <xs:extension base="streamdecoder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mystreamwriterimpl" >
      <xs:complexContent>
       <xs:extension base="streamwriter(destination)">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mystreamreaderimpl" >
      <xs:complexContent>
       <xs:extension base="streamreader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myoffsetmanagerimpl" >
      <xs:complexContent>
       <xs:extension base="offsetmanager(topic)">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mystreamtransformerimpl" >
      <xs:complexContent>
       <xs:extension base="streamtransformer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blockedusers" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="blockeduserid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="createdon" type="xs:anyType" />
        <xs:element name="updatedon" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actions" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mediaid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="createdon" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="followers" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="followerid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comments" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mediaid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="comment" type="xs:anyType" />
        <xs:element name="createdon" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webxmlalternate" >
      <xs:complexContent>
       <xs:extension base="abstractannotationconfigdispatcherservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="main-menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 