aparna_233/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="blockedusers" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="blockeduserid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="createdon" type="xs:anyType" />
        <xs:element name="updatedon" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actions" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mediaid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="createdon" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="followers" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="followerid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comments" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mediaid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="comment" type="xs:anyType" />
        <xs:element name="createdon" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 