Gradle17/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="webfluxtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurewebflux" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurewebtestclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webtestclientautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webtestclientsecurityconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webtestclientbuildercustomizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="default_includes" type="xs:anyType" />
          <xs:element name="default_includes_and_controller" type="xs:anyType" />
          <xs:element name="annotation" type="webfluxtest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootwebtestclientbuildercustomizer" >
      <xs:sequence>
        <xs:element name="codeccustomizers" type="xs:anyType" />
        <xs:element name="timeout" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootmockmvcbuildercustomizer" >
      <xs:complexContent>
       <xs:extension base="printingresulthandler">
         <xs:sequence>
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="addfilters" type="xs:anyType" />
          <xs:element name="print" type="mockmvcprint" nillable="true" minOccurs="0" />
          <xs:element name="printonlyonfailure" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webmvctest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockmvcbuildercustomizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcprint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="optional_includes" type="xs:string" />
          <xs:element name="default_includes" type="xs:anyType" />
          <xs:element name="default_includes_and_controller" type="xs:anyType" />
          <xs:element name="annotation" type="webmvctest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfigurewebmvc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcautoconfiguration" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguremockmvc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webdriverscope" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="web_driver_class" type="xs:string" />
        <xs:element name="bean_classes" type="xs:string" />
        <xs:element name="instances" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcprintonlyonfailuretestexecutionlistener" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockmvcwebdriverautoconfiguration" >
      <xs:sequence>
        <xs:element name="security_context_executor" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcwebclientautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcsecurityconfiguration" >
      <xs:sequence>
        <xs:element name="default_security_filter_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webdrivercontextcustomizerfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webdrivertestexecutionlistener" >
      <xs:complexContent>
       <xs:extension base="abstracttestexecutionlistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restclienttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclientexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="databind_module_class_name" type="xs:string" />
          <xs:element name="default_includes" type="xs:anyType" />
          <xs:element name="annotation" type="restclienttest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webclientresttemplateautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclienttestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfiguremockrestserviceserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockrestserviceserverresettestexecutionlistener" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfigurewebclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockrestserviceserverautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocswebtestclientconfigurationcustomizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurerestdocs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocstestexecutionlistener" >
      <xs:complexContent>
       <xs:extension base="abstracttestexecutionlistener">
         <xs:sequence>
          <xs:element name="rest_docs_class" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restdocsrestassuredconfigurationcustomizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocsrestassuredbuildercustomizer" >
      <xs:sequence>
        <xs:element name="properties" type="restdocsproperties" nillable="true" minOccurs="0" />
        <xs:element name="delegate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocsautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocsproperties" >
      <xs:sequence>
        <xs:element name="/***theurischemefortouse(forexamplehttp).*/urischeme" type="xs:string" />
        <xs:element name="/***theurihosttouse.*/urihost" type="xs:string" />
        <xs:element name="/***theuriporttouse.*/uriport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocswebtestclientbuildercustomizer" >
      <xs:sequence>
        <xs:element name="properties" type="restdocsproperties" nillable="true" minOccurs="0" />
        <xs:element name="delegate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocsmockmvcconfigurationcustomizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocsmockmvcbuildercustomizer" >
      <xs:sequence>
        <xs:element name="properties" type="restdocsproperties" nillable="true" minOccurs="0" />
        <xs:element name="delegate" type="xs:anyType" />
        <xs:element name="resulthandler" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocumentationcontextproviderregistrar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymappingcontextcustomizerfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymappingcontextcustomizer" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="propertysource" type="annotationspropertysource" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationspropertysource" >
      <xs:complexContent>
       <xs:extension base="enumerablepropertysource<class<?>>">
         <xs:sequence>
          <xs:element name="camel_case_" type="xs:anyType" />
          <xs:element name="properties" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skippropertymapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguredataldap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataldaptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataldaptestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataldaptypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="dataldaptest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataredistestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataredistypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="dataredistest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfiguredataredis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataredistest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataneo4jtypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="dataneo4jtest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataneo4jtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguredataneo4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataneo4jtestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfiguredatajdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajdbctest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajdbctestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datajdbctypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="datajdbctest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datamongotypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="datamongotest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datamongotest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguredatamongo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datamongotestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsontestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsontestersautoconfiguration" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfigurejson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="jackson_module" type="xs:string" />
          <xs:element name="default_includes" type="xs:anyType" />
          <xs:element name="annotation" type="jsontest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfigurejsontesters" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overrideautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpatest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentitymanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpatestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfiguretestentitymanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguredatajpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpatypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="datajpatest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testentitymanagerautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootdependencyinjectiontestexecutionlistener" >
      <xs:complexContent>
       <xs:extension base="testexecutionlistener>>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbctestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdbctest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurejdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatabaseautoconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="jdbctest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfiguretestdatabase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeexcludefilters" >
      <xs:complexContent>
       <xs:extension base="typeexcludefilter>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typeexcludefilterscontextcustomizer" >
      <xs:complexContent>
       <xs:extension base="typeexcludefilter>>">
         <xs:sequence>
          <xs:element name="exclude_filter_bean_name" type="xs:string" />
          <xs:element name="filters" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typeexcludefilterscontextcustomizerfactory" >
      <xs:complexContent>
       <xs:extension base="typeexcludefilter>>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterannotations" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="filters" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationcustomizabletypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="typeexcludefilter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jooqtypeexcludefilter" >
      <xs:complexContent>
       <xs:extension base="annotationcustomizabletypeexcludefilter">
         <xs:sequence>
          <xs:element name="annotation" type="jooqtest" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jooqtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurejooq" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jooqtestcontextbootstrapper" >
      <xs:complexContent>
       <xs:extension base="springboottestcontextbootstrapper">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="overrideautoconfigurationcontextcustomizerfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurecache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring-configuration-metadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampletestconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jooqtestwithautoconfiguretestdatabaseintegrationtests" >
      <xs:sequence>
        <xs:element name="dsl" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jooqtestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jooqtestintegrationtests" >
      <xs:sequence>
        <xs:element name="dsl" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplejooqapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclienttestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerestclient" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anotherexamplerestclient" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclienttestnocomponentintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="server" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclienttestwithcomponentintegrationtests" >
      <xs:sequence>
        <xs:element name="server" type="xs:anyType" />
        <xs:element name="client" type="examplerestclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurewebclientwithresttemplateintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="server" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclienttesttwocomponentsintegrationtests" >
      <xs:sequence>
        <xs:element name="client1" type="examplerestclient" nillable="true" minOccurs="0" />
        <xs:element name="client2" type="anotherexamplerestclient" nillable="true" minOccurs="0" />
        <xs:element name="customizer" type="xs:anyType" />
        <xs:element name="server" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclienttestwithoutjacksonintegrationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguremockrestserviceserverenabledfalseintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplewebclientapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restclientrestintegrationtests" >
      <xs:sequence>
        <xs:element name="server" type="xs:anyType" />
        <xs:element name="client" type="examplerestclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplewebfluxapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplepojo" >
      <xs:sequence>
        <xs:element name="alpha" type="xs:string" />
        <xs:element name="bravo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplewebexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleid" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecontroller2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestconverterintegrationtests" >
      <xs:sequence>
        <xs:element name="webclient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webtestclientspringboottestintegrationtests" >
      <xs:sequence>
        <xs:element name="webclient" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestautoconfigurationintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsoncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestonecontrollerintegrationtests" >
      <xs:sequence>
        <xs:element name="webclient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleidconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerealservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestmessagesourceintegrationtests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecontroller1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtestallcontrollersintegrationtests" >
      <xs:sequence>
        <xs:element name="webclient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webfluxtypeexcludefiltertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webtestclientautoconfigurationtests" >
      <xs:sequence>
        <xs:element name="contextrunner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcautoconfigurationtests" >
      <xs:sequence>
        <xs:element name="contextrunner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestautoconfigurationintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestonecontrollerintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestconverterintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleid" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exampleidconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestcustomdispatcherservletintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestwebdrivercustomscopeintegrationtests" >
      <xs:sequence>
        <xs:element name="//gh-7454previous" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleargument" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestprintalwaysintegrationtests" >
      <xs:sequence>
        <xs:element name="output" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerealservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecontroller1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplewebmvcapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestwithautoconfiguremockmvcintegrationtests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestmessagesourceintegrationtests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hateoascontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestwebclientintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestpageableintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestservletfilterintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecontroller3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestallcontrollersintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestprintoverrideintegrationtests" >
      <xs:sequence>
        <xs:element name="output" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplemockableservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecontrolleradvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestprintdefaultoverrideintegrationtests" >
      <xs:sequence>
        <xs:element name="output" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestprintdefaultintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctestprintdefaultrunner" >
      <xs:complexContent>
       <xs:extension base="springjunit4classrunner">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webmvctestwebdriverintegrationtests" >
      <xs:sequence>
        <xs:element name="previous" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplewebmvcconfigurer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcspringboottestintegrationtests" >
      <xs:sequence>
        <xs:element name="output" type="xs:anyType" />
        <xs:element name="service" type="examplemockableservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecontroller2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvctesthateoasintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplefilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootmockmvcbuildercustomizertests" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="customizer" type="springbootmockmvcbuildercustomizer" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webmvctypeexcludefiltertests" >
      <xs:complexContent>
       <xs:extension base="mappingjackson2httpmessageconverter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="overrideautoconfigurationcontextcustomizerfactorytests" >
      <xs:sequence>
        <xs:element name="factory" type="overrideautoconfigurationcontextcustomizerfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplespringbootapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguretestdatabasewithnodatabaseintegrationtests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:sequence>
        <xs:element name="row_mapper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctestintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctestwithautoconfiguretestdatabasereplaceexplicitintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfiguretestdatabasewithmultipledatasourcesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctestwithautoconfiguretestdatabasereplacenoneintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatabaseautoconfigurationtests" >
      <xs:sequence>
        <xs:element name="contextrunner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctestwithincludefilterintegrationtests" >
      <xs:sequence>
        <xs:element name="repository" type="examplerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplejdbcapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitytestapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcsecurityintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importscontextcustomizerfactorywithautoconfigurationtests" >
      <xs:sequence>
        <xs:element name="contextfromtest" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymappingtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymappingcontextcustomizerfactorytests" >
      <xs:sequence>
        <xs:element name="factory" type="propertymappingcontextcustomizerfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplemapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationspropertysourcetests" >
      <xs:complexContent>
       <xs:extension base="typelevel">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoconfigurecachewithexistingcachemanagerintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurecacheintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoconfigurationimportedcondition" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="autoconfigurationclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="examplecomponent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentitymanagertests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="testentitymanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpatestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="reference" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampledatajpaapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdatabaseautoconfigurationnoembeddedtests" >
      <xs:sequence>
        <xs:element name="contextrunner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:complexContent>
       <xs:extension base="repository<exampleentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datajpatestintegrationtests" >
      <xs:sequence>
        <xs:element name="entities" type="testentitymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="repository" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockmvcrestdocsautoconfigurationintegrationtests" >
      <xs:sequence>
        <xs:element name="mvc" type="xs:anyType" />
        <xs:element name="generatedsnippets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restassuredrestdocsautoconfigurationintegrationtests" >
      <xs:sequence>
        <xs:element name="port" type="xs:long" />
        <xs:element name="documentationspec" type="xs:anyType" />
        <xs:element name="generatedsnippets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocstestapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webtestclientrestdocsautoconfigurationintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="generatedsnippets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restdocstestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterannotationstests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeexcludefilterscontextcustomizerfactorytests" >
      <xs:complexContent>
       <xs:extension base="typeexcludefilter">
         <xs:sequence>
          <xs:element name="factory" type="typeexcludefilterscontextcustomizerfactory" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="overrideautoconfigurationenabledtrueintegrationtests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overrideautoconfigurationspringbootapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overrideautoconfigurationenabledfalseintegrationtests" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootdependencyinjectiontestexecutionlistenertests" >
      <xs:sequence>
        <xs:element name="out" type="xs:anyType" />
        <xs:element name="reportlistener" type="springbootdependencyinjectiontestexecutionlistener" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsontestintegrationtests" >
      <xs:sequence>
        <xs:element name="basicjson" type="xs:anyType" />
        <xs:element name="jacksonbasicjson" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="jacksonwithviewjson" type="examplejsonobjectwithview" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="jacksoncustomjson" type="examplecustomobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gsonjson" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="jsonbjson" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springboottestwithautoconfigurejsontesterstests" >
      <xs:sequence>
        <xs:element name="basicjson" type="xs:anyType" />
        <xs:element name="jacksontester" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gsontester" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="jsonbtester" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsontestwithautoconfigurejsontesterstests" >
      <xs:sequence>
        <xs:element name="basicjson" type="xs:anyType" />
        <xs:element name="jacksontester" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gsontester" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="jsonbtester" type="examplebasicobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsontestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplejsoncomponent" >
      <xs:complexContent>
       <xs:extension base="jsonobjectserializer<examplecustomobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="examplecustomobject" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplebasicobject" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplejsonobjectwithview" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplejsonapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataldaptestintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:complexContent>
       <xs:extension base="ldaprepository<exampleentry>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataldaptestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataldaptestwithincludefilterintegrationtests" >
      <xs:sequence>
        <xs:element name="service" type="exampleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleentry" >
      <xs:sequence>
        <xs:element name="dn" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleldapapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplemongoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datamongotestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datamongotestreactiveintegrationtests" >
      <xs:sequence>
        <xs:element name="mongotemplate" type="xs:anyType" />
        <xs:element name="examplerepository" type="examplereactiverepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datamongotestintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:complexContent>
       <xs:extension base="mongorepository<exampledocument,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exampledocument" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplereactiverepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datamongotestwithincludefilterintegrationtests" >
      <xs:sequence>
        <xs:element name="service" type="exampleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="operations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleredisapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<personhash,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataredistestintegrationtests" >
      <xs:sequence>
        <xs:element name="redis" type="xs:anyType" />
        <xs:element name="operations" type="xs:anyType" />
        <xs:element name="GeneratedName" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personhash" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataredistestwithincludefilterintegrationtests" >
      <xs:sequence>
        <xs:element name="redis" type="xs:anyType" />
        <xs:element name="GeneratedName" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="service" type="exampleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataredistestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="redis" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataneo4jtestintegrationtests" >
      <xs:sequence>
        <xs:element name="neo4j" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataneo4jtestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="neo4j" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:complexContent>
       <xs:extension base="neo4jrepository<examplegraph,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exampleneo4japplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataneo4jtestwithincludefilterintegrationtests" >
      <xs:sequence>
        <xs:element name="neo4j" type="xs:anyType" />
        <xs:element name="service" type="exampleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplegraph" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<exampleentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datajdbctestpropertiesintegrationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="examplecomponent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampleentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="reference" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exampledatajdbcapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajdbctestintegrationtests" >
      <xs:sequence>
        <xs:element name="repository" type="examplerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web-test-messages" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 