ColibriSO/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="snippettag" >
      <xs:sequence>
        <xs:element name="snippetid" type="xs:anyType" />
        <xs:element name="tagid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userauthority" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="authorityid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="lastchangedtime" type="xs:anyType" />
        <xs:element name="creatorid" type="xs:anyType" />
        <xs:element name="project" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="parentprojectid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetail" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="lastchangedtime" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="fullname" type="xs:string" />
        <xs:element name="avatar" type="xs:string" />
        <xs:element name="avatarcolor" type="xs:string" />
        <xs:element name="uitheme" type="xs:string" />
        <xs:element name="asynctablerefresh" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="snippet" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="lastchangedtime" type="xs:anyType" />
        <xs:element name="creatorid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="snippettype" nillable="true" minOccurs="0" />
        <xs:element name="mimetype" type="xs:string" />
        <xs:element name="favouritelevel" type="xs:anyType" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="intents" type="intent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="snippetintent" >
      <xs:sequence>
        <xs:element name="snippetid" type="xs:anyType" />
        <xs:element name="intentid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="authority" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="intent" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="lastchangedtime" type="xs:anyType" />
        <xs:element name="creatorid" type="xs:anyType" />
        <xs:element name="intent" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="snippetproject" >
      <xs:sequence>
        <xs:element name="snippetid" type="xs:anyType" />
        <xs:element name="projectid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="lastchangedtime" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="passwordhash" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="lastchangedtime" type="xs:anyType" />
        <xs:element name="creatorid" type="xs:anyType" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 