doyunlee/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="apiapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="prdno" type="xs:long" />
        <xs:element name="prdname" type="xs:string" />
        <xs:element name="prdimg" type="xs:string" />
        <xs:element name="prdprice" type="xs:string" />
        <xs:element name="prdinv" type="xs:string" />
        <xs:element name="ctgname" type="xs:string" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
        <xs:element name="payments" type="payment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdto" >
      <xs:sequence>
        <xs:element name="prdno" type="xs:long" />
        <xs:element name="prdname,ctgname,prdimg,prdprice,prdinv" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="qf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productreporitory" >
      <xs:complexContent>
       <xs:extension base="jparepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller<product>">
         <xs:sequence>
          <xs:element name="service" type="productserviceimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractservice<product>">
         <xs:sequence>
          <xs:element name="repo" type="productreporitory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="replycontroller" >
      <xs:sequence>
        <xs:element name="service" type="replyservice" nillable="true" minOccurs="0" />
        <xs:element name="boardservice" type="boardserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyserviceimpl" >
      <xs:sequence>
        <xs:element name="repository" type="replyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:sequence>
        <xs:element name="rplno" type="xs:long" />
        <xs:element name="rplcontent" type="xs:string" />
        <xs:element name="rplwrtdate" type="xs:string" />
        <xs:element name="usrname" type="xs:string" />
        <xs:element name="usrno" type="xs:string" />
        <xs:element name="boardno" type="xs:string" />
        <xs:element name="GeneratedName" type="board" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replydto" >
      <xs:sequence>
        <xs:element name="rplno" type="xs:long" />
        <xs:element name="rplcontent" type="xs:string" />
        <xs:element name="brdno" type="xs:long" />
        <xs:element name="boardno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<reply,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="replyrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
          <xs:element name="qf" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apiapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityproviderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginruntimeexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityruntimeexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="errorcode" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitytoken" >
      <xs:sequence>
        <xs:element name="token" type="xs:string" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="//만료시간30분tokenexpirationmsec" type="xs:long" />
        <xs:element name="authorities_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityprovider" >
      <xs:sequence>
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="//1hvalidityinmilliseconds" type="xs:long" />
        <xs:element name="service" type="userdetailsserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityexeptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityauthenticationentrypoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityaccessdeniedhandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="provider" type="securityprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="securityconfigureradapter<defaultsecurityfilterchain,">
         <xs:sequence>
          <xs:element name="provider" type="securityprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter{">
         <xs:sequence>
          <xs:element name="provider" type="securityprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="userservice" type="userserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractservice<uservo>">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="provider" type="securityprovider" nillable="true" minOccurs="0" />
          <xs:element name="manager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<uservo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
          <xs:element name="queryfactory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="usrno" type="xs:long" />
        <xs:element name="//아이디username" type="xs:string" />
        <xs:element name="//이름usrname" type="xs:string" />
        <xs:element name="//이메일usremail" type="xs:string" />
        <xs:element name="//비밀번호password" type="xs:string" />
        <xs:element name="//전화번호usrphone" type="xs:string" />
        <xs:element name="//닉네임usrnickname" type="xs:string" />
        <xs:element name="//@apimodelproperty(position" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usrages" type="xs:string" />
        <xs:element name="usrcity" type="xs:string" />
        <xs:element name="usrgender" type="xs:string" />
        <xs:element name="usraddr" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uservo" >
      <xs:sequence>
        <xs:element name="usrno" type="xs:long" />
        <xs:element name="//usrname" type="xs:string" />
        <xs:element name="usrnickname" type="xs:string" />
        <xs:element name="usremail" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="usrages" type="xs:string" />
        <xs:element name="usrcity" type="xs:string" />
        <xs:element name="usrgender" type="xs:string" />
        <xs:element name="usrphone" type="xs:string" />
        <xs:element name="//사용자아이디username" type="xs:string" />
        <xs:element name="usraddr" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="payments" type="payment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresponsedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="usremail" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<payment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractservice<payment>">
         <xs:sequence>
          <xs:element name="repo" type="paymentrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller<payment>">
         <xs:sequence>
          <xs:element name="service" type="paymentserviceimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="payno" type="xs:long" />
        <xs:element name="payprice" type="xs:string" />
        <xs:element name="payinfo" type="xs:string" />
        <xs:element name="paydate" type="xs:string" />
        <xs:element name="paystate" type="xs:string" />
        <xs:element name="rcvname" type="xs:string" />
        <xs:element name="rcvphone" type="xs:string" />
        <xs:element name="rcvaddr" type="xs:string" />
        <xs:element name="GeneratedName" type="uservo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="boards" type="board" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="cart" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentdto" >
      <xs:sequence>
        <xs:element name="payno" type="xs:long" />
        <xs:element name="payprice" type="xs:string" />
        <xs:element name="payinfo" type="xs:string" />
        <xs:element name="paydate" type="xs:string" />
        <xs:element name="paystate" type="xs:string" />
        <xs:element name="rcvname" type="xs:string" />
        <xs:element name="rcvphone" type="xs:string" />
        <xs:element name="rcvaddr" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
          <xs:element name="qf" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<board,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractservice<board>">
         <xs:sequence>
          <xs:element name="repository" type="boardrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="boardservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="board" >
      <xs:sequence>
        <xs:element name="brdno" type="xs:long" />
        <xs:element name="brdtitle" type="xs:string" />
        <xs:element name="brdcontent" type="xs:string" />
        <xs:element name="brdwrtdate" type="xs:string" />
        <xs:element name="brdrank" type="xs:string" />
        <xs:element name="brdimg" type="xs:string" />
        <xs:element name="brdkind" type="xs:long" />
        <xs:element name="brdcount" type="xs:long" />
        <xs:element name="brdlike" type="xs:string" />
        <xs:element name="brdpwd" type="xs:string" />
        <xs:element name="usrname" type="xs:string" />
        <xs:element name="usrno" type="xs:string" />
        <xs:element name="productno" type="xs:long" />
        <xs:element name="replies" type="reply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//(fetch" type="payment" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardvo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boarddto" >
      <xs:sequence>
        <xs:element name="brdno" type="xs:long" />
        <xs:element name="brdtitle" type="xs:string" />
        <xs:element name="brdcontent" type="xs:string" />
        <xs:element name="brdwrtdate" type="xs:string" />
        <xs:element name="brdrank" type="xs:string" />
        <xs:element name="brdimg" type="xs:string" />
        <xs:element name="brdkind" type="xs:long" />
        <xs:element name="count" type="xs:long" />
        <xs:element name="brdlike" type="xs:string" />
        <xs:element name="brdpwd" type="xs:string" />
        <xs:element name="usrname" type="xs:string" />
        <xs:element name="usrno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boardcontroller" >
      <xs:sequence>
        <xs:element name="service" type="boardserviceimpl" nillable="true" minOccurs="0" />
        <xs:element name="rep" type="boardrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<cart,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cartrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cart" >
      <xs:sequence>
        <xs:element name="cartno" type="xs:long" />
        <xs:element name="cartamount" type="xs:long" />
        <xs:element name="GeneratedName" type="payment" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartdto" >
      <xs:sequence>
        <xs:element name="cartno,caramount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller<cart>">
         <xs:sequence>
          <xs:element name="service" type="cartserviceimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cartservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractservice<cart>">
         <xs:sequence>
          <xs:element name="repo" type="cartrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="querydslrepositorysupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categorydto" >
      <xs:sequence>
        <xs:element name="ctgno" type="xs:long" />
        <xs:element name="ctgname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="ctgno" type="xs:long" />
        <xs:element name="ctgname" type="xs:string" />
        <xs:element name="products" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycontroller" >
      <xs:complexContent>
       <xs:extension base="abstractcontroller<category>">
         <xs:sequence>
          <xs:element name="service" type="categoryserviceimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractservice<category>">
         <xs:sequence>
          <xs:element name="repo" type="categoryrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="path" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxy" >
      <xs:sequence>
        <xs:element name="print" type="xs:anyType" />
        <xs:element name="string" type="xs:anyType" />
        <xs:element name="integer" type="xs:anyType" />
        <xs:element name="into" type="xs:anyType" />
        <xs:element name="equals" type="xs:anyType" />
        <xs:element name="random" type="xs:anyType" />
        <xs:element name="intarr" type="xs:anyType" />
        <xs:element name="today" type="xs:anyType" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="mkdir" type="xs:anyType" />
        <xs:element name="mkfile" type="xs:anyType" />
        <xs:element name="myskip" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crawlingpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="box" >
      <xs:sequence>
        <xs:element name="box" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
        <xs:element name="block_size" type="xs:long" />
        <xs:element name="totalcount" type="xs:long" />
        <xs:element name="startrow" type="xs:long" />
        <xs:element name="endrow" type="xs:long" />
        <xs:element name="pagecount" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="startpage" type="xs:long" />
        <xs:element name="endpage" type="xs:long" />
        <xs:element name="pagenum" type="xs:long" />
        <xs:element name="blockcount" type="xs:long" />
        <xs:element name="prevblock" type="xs:long" />
        <xs:element name="nextblock" type="xs:long" />
        <xs:element name="blocknum" type="xs:long" />
        <xs:element name="tname" type="xs:string" />
        <xs:element name="hasprev" type="xs:anyType" />
        <xs:element name="hasnext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vector" >
      <xs:sequence>
        <xs:element name="vc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummygenerator" >
      <xs:complexContent>
       <xs:extension base="proxy{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="session" type="xs:anyType" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messenger" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corsconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 