depTest/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="title" >
      <xs:sequence>
        <xs:element name="titles" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="titleid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gender" >
      <xs:sequence>
        <xs:element name="gender" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="genderid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communicationgroup" >
      <xs:sequence>
        <xs:element name="commgroupname" type="xs:string" />
        <xs:element name="commgroupdescription" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="commgroupid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communicationtype" >
      <xs:sequence>
        <xs:element name="commtypename" type="xs:string" />
        <xs:element name="commtypedescription" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="commtype" type="xs:string" />
        <xs:element name="commgroupid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contacttype" >
      <xs:sequence>
        <xs:element name="contacttype" type="xs:string" />
        <xs:element name="contacttypedesc" type="xs:string" />
        <xs:element name="contacttypeicon" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="contacttypeid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corecontacts" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="nativetitle" type="xs:string" />
        <xs:element name="nativefirstname" type="xs:string" />
        <xs:element name="nativemiddlename" type="xs:string" />
        <xs:element name="nativelastname" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:anyType" />
        <xs:element name="age" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="approximatedob" type="xs:anyType" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="contactid" type="xs:string" />
        <xs:element name="titleid" type="xs:string" />
        <xs:element name="nativelanguagecode" type="xs:string" />
        <xs:element name="genderid" type="xs:string" />
        <xs:element name="address" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="communicationdata" type="communicationdata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="timezone" nillable="true" minOccurs="0" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communicationdata" >
      <xs:sequence>
        <xs:element name="commdata" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="commdataid" type="xs:string" />
        <xs:element name="commgroupid" type="xs:string" />
        <xs:element name="commtype" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="village" >
      <xs:sequence>
        <xs:element name="villagename" type="xs:string" />
        <xs:element name="villagedescription" type="xs:string" />
        <xs:element name="villageflag" type="xs:string" />
        <xs:element name="villagecode" type="xs:string" />
        <xs:element name="villagelatitude" type="xs:string" />
        <xs:element name="villagelongtitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="villageid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="regionid" type="xs:string" />
        <xs:element name="districtid" type="xs:string" />
        <xs:element name="talukaaid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="district" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="code2" type="xs:string" />
        <xs:element name="districtdescription" type="xs:string" />
        <xs:element name="districtflag" type="xs:string" />
        <xs:element name="districtlatitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="districtlongitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="districtid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="regionid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="countryname" type="xs:string" />
        <xs:element name="countrycode1" type="xs:string" />
        <xs:element name="countrycode2" type="xs:string" />
        <xs:element name="countryflag" type="xs:string" />
        <xs:element name="capital" type="xs:string" />
        <xs:element name="currencycode" type="xs:string" />
        <xs:element name="currencyname" type="xs:string" />
        <xs:element name="currencysymbol" type="xs:string" />
        <xs:element name="capitallatitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="capitallongitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="isonumeric" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currency" >
      <xs:sequence>
        <xs:element name="currencycode" type="xs:string" />
        <xs:element name="unicodedecimal" type="xs:string" />
        <xs:element name="unicodehex" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="currencyid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taluka" >
      <xs:sequence>
        <xs:element name="talukaname" type="xs:string" />
        <xs:element name="talukacode" type="xs:string" />
        <xs:element name="talukadescription" type="xs:string" />
        <xs:element name="talukaflag" type="xs:string" />
        <xs:element name="talukalatitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="talukalongitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="talukaid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="regionid" type="xs:string" />
        <xs:element name="districtid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timezone" >
      <xs:sequence>
        <xs:element name="utcdifference" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="gmtlabel" type="xs:string" />
        <xs:element name="timezonelabel" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="cities" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="timezoneid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="region" >
      <xs:sequence>
        <xs:element name="regionname" type="xs:string" />
        <xs:element name="regioncode1" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="regioncodechar2" type="xs:string" />
        <xs:element name="regiondescription" type="xs:string" />
        <xs:element name="regionflag" type="xs:string" />
        <xs:element name="regionlatitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="regionlongitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="regionid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresstype" >
      <xs:sequence>
        <xs:element name="addresstype" type="xs:string" />
        <xs:element name="addresstypedesc" type="xs:string" />
        <xs:element name="addresstypeicon" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="addresstypeid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="addresslabel" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="address3" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="latitude" type="xs:string" />
        <xs:element name="longitude" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="addressid" type="xs:string" />
        <xs:element name="addresstypeid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="cityid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressextended" >
      <xs:sequence>
        <xs:element name="villagename" type="xs:string" />
        <xs:element name="talukaname" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="addextid" type="xs:string" />
        <xs:element name="addressid" type="xs:string" />
        <xs:element name="villageid" type="xs:string" />
        <xs:element name="talukaid" type="xs:string" />
        <xs:element name="districtid" type="xs:string" />
        <xs:element name="regionid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="statename" type="xs:string" />
        <xs:element name="statecode" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="statecodechar2" type="xs:string" />
        <xs:element name="statecodechar3" type="xs:string" />
        <xs:element name="statedescription" type="xs:string" />
        <xs:element name="stateflag" type="xs:string" />
        <xs:element name="statecapital" type="xs:string" />
        <xs:element name="statecapitallatitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="statecapitallongitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
        <xs:element name="language" type="xs:string" />
        <xs:element name="languagetype" type="xs:string" />
        <xs:element name="languagedescription" type="xs:string" />
        <xs:element name="languageicon" type="xs:string" />
        <xs:element name="alpha2" type="xs:string" />
        <xs:element name="alpha3" type="xs:string" />
        <xs:element name="alpha4" type="xs:string" />
        <xs:element name="alpha4parentid" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="languageid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="citycodechar2" type="xs:string" />
        <xs:element name="citycode" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="citydescription" type="xs:string" />
        <xs:element name="cityflag" type="xs:string" />
        <xs:element name="citylatitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="citylongitude" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="cityid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="stateid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artappnotificationtemplate" >
      <xs:complexContent>
       <xs:extension base="auditpropertiesentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="templateid" type="xs:string" />
          <xs:element name="templatename" type="xs:string" />
          <xs:element name="template" type="xs:string" />
          <xs:element name="notificationtype" type="integer" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="question" >
      <xs:sequence>
        <xs:element name="levelid" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="question" type="xs:string" />
        <xs:element name="questiondetails" type="xs:string" />
        <xs:element name="questionicon" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="questionid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artpasswordalgorithm" >
      <xs:sequence>
        <xs:element name="algorithm" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="algoname" type="xs:string" />
        <xs:element name="algodescription" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="algoid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginsession" >
      <xs:sequence>
        <xs:element name="appserversessionid" type="xs:string" />
        <xs:element name="logintime" type="xs:anyType" />
        <xs:element name="logouttime" type="xs:anyType" />
        <xs:element name="lastaccesstime" type="xs:anyType" />
        <xs:element name="clientipaddress" type="xs:string" />
        <xs:element name="clientipaddressint" type="xs:long" />
        <xs:element name="clientnetworkaddress" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="clientbrowser" type="xs:string" />
        <xs:element name="sessiondata" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="appsessionid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordpolicy" >
      <xs:sequence>
        <xs:element name="policyname" type="xs:string" />
        <xs:element name="policydescription" type="xs:string" />
        <xs:element name="maxpwdlength" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minpwdlength" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="mincapitalletters" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minsmallletters" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minnumericvalues" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minspecialletters" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="allowedspecialletters" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="policyid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccesslevel" >
      <xs:sequence>
        <xs:element name="useraccesslevel" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="levelname" type="xs:string" />
        <xs:element name="leveldescription" type="xs:string" />
        <xs:element name="levelhelp" type="xs:string" />
        <xs:element name="levelicon" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="useraccesslevelid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraccessdomain" >
      <xs:sequence>
        <xs:element name="useraccessdomain" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="domainname" type="xs:string" />
        <xs:element name="domaindescription" type="xs:string" />
        <xs:element name="domainhelp" type="xs:string" />
        <xs:element name="domainicon" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="useraccessdomainid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordalgo" >
      <xs:sequence>
        <xs:element name="algorithm" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="algoname" type="xs:string" />
        <xs:element name="algodescription" type="xs:string" />
        <xs:element name="algoicon" type="xs:string" />
        <xs:element name="algohelp" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="algoid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="useraccesscode" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="multifactorauthenabled" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="gentemponetimepassword" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="allowmultiplelogin" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="islocked" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="isdeleted" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="changepasswordnextlogin" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="passwordexpirydate" type="xs:anyType" />
        <xs:element name="passwordalgo" type="xs:string" />
        <xs:element name="lastpasswordchangedate" type="xs:anyType" />
        <xs:element name="sessiontimeout" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="useraccesslevelid" type="xs:string" />
        <xs:element name="useraccessdomainid" type="xs:string" />
        <xs:element name="GeneratedName" type="userdata" nillable="true" minOccurs="0" />
        <xs:element name="passrecovery" type="passrecovery" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessiondata" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="sessionkey" type="xs:string" />
        <xs:element name="datatype" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="numbervalue" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="datetimevalue" type="xs:anyType" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="value" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="jsonvalue" type="xs:string" />
        <xs:element name="appsessionid" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="dataid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdata" >
      <xs:sequence>
        <xs:element name="password" type="xs:string" />
        <xs:element name="onetimepassword" type="xs:string" />
        <xs:element name="onetimepasswordexpiry" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="onetimepasswordgendate" type="xs:anyType" />
        <xs:element name="last5passwords" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="userdataid" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artpasswordpolicy" >
      <xs:sequence>
        <xs:element name="policyname" type="xs:string" />
        <xs:element name="policydescription" type="xs:string" />
        <xs:element name="maxpwdlength" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minpwdlength" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="mincapitalletters" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minsmallletters" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minnumericvalues" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="minspecialletters" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="allowedspecialletters" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="policyid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
        <xs:element name="loginid" type="xs:string" />
        <xs:element name="serverauthimage" type="xs:string" />
        <xs:element name="serverauthtext" type="xs:string" />
        <xs:element name="failedloginattempts" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="isauthenticated" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="loginpk" type="xs:string" />
        <xs:element name="GeneratedName" type="corecontacts" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
        <xs:element name="sessionid" type="xs:string" />
        <xs:element name="userhash" type="xs:string" />
        <xs:element name="qkehash" type="xs:string" />
        <xs:element name="ischeckcookie" type="boolean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passrecovery" >
      <xs:sequence>
        <xs:element name="answer" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="passrecoveryid" type="xs:string" />
        <xs:element name="questionid" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
        <xs:element name="fieldname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="roledescription" type="xs:string" />
        <xs:element name="roleicon" type="xs:string" />
        <xs:element name="rolehelp" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="roleid" type="xs:string" />
        <xs:element name="rolemenubridge" type="rolemenubridge" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appmenus" >
      <xs:sequence>
        <xs:element name="menutreeid" type="xs:string" />
        <xs:element name="menuicon" type="xs:string" />
        <xs:element name="menuaction" type="xs:string" />
        <xs:element name="menucommands" type="xs:string" />
        <xs:element name="menudisplay" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="menuhead" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="menulabel" type="xs:string" />
        <xs:element name="uitype" type="xs:string" />
        <xs:element name="refobjectid" type="xs:string" />
        <xs:element name="menuaccessrights" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="apptype" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="appid" type="xs:string" />
        <xs:element name="autosave" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="menuid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolemenubridge" >
      <xs:sequence>
        <xs:element name="isread" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="iswrite" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="isexecute" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="rolemenumapid" type="xs:string" />
        <xs:element name="menuid" type="xs:string" />
        <xs:element name="GeneratedName" type="roles" nillable="true" minOccurs="0" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
        <xs:element name="fieldname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrolebridge" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="roleusermapid" type="xs:string" />
        <xs:element name="roleid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artuserlaststatus" >
      <xs:complexContent>
       <xs:extension base="artentity">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="menuid" type="xs:string" />
          <xs:element name="jsondata" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="brand" >
      <xs:sequence>
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="brandid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="categoryid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordertransaction" >
      <xs:sequence>
        <xs:element name="transactionid" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="ordertransactionid" type="xs:string" />
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="itemname" type="xs:string" />
        <xs:element name="itemprice" type="xs:double" />
        <xs:element name="itemstock" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="itemicon" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="itemid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="categoryid" type="xs:string" />
        <xs:element name="brandid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordermain" >
      <xs:sequence>
        <xs:element name="orderdate" type="xs:anyType" />
        <xs:element name="grandtotal" type="xs:double" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="orderdetails" type="orderdetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetails" >
      <xs:sequence>
        <xs:element name="itemprice" type="xs:double" />
        <xs:element name="itemquantity" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="subtotal" type="xs:double" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="orderitemid" type="xs:string" />
        <xs:element name="itemid" type="xs:string" />
        <xs:element name="GeneratedName" type="ordermain" nillable="true" minOccurs="0" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
        <xs:element name="fieldname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productname" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cart" >
      <xs:sequence>
        <xs:element name="itemprice" type="xs:double" />
        <xs:element name="itemquantity" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="subtotal" type="xs:double" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="cartid" type="xs:string" />
        <xs:element name="itemid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="categoryid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="entityvalidator" type="object" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="versionid" type="xs:long" />
        <xs:element name="GeneratedName" type="entityaudit" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="systeminfo" nillable="true" minOccurs="0" />
        <xs:element name="primarydisplay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogboundedcontext" >
      <xs:sequence>
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="boundedcontextid" type="xs:string" />
        <xs:element name="boundedcontextjson" type="xs:string" />
        <xs:element name="boundedcontextprefix" type="xs:string" />
        <xs:element name="//@column(name" type="artlogdomain" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogalarm" >
      <xs:complexContent>
       <xs:extension base="auditpropertiesentity{">
         <xs:sequence>
          <xs:element name="primarykey" type="xs:string" />
          <xs:element name="loggerpkid" type="xs:string" />
          <xs:element name="alarmtype" type="xs:long" />
          <xs:element name="alarmdata" type="xs:string" />
          <xs:element name="alarmversion" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="artloggingproperties" >
      <xs:sequence>
        <xs:element name="attributeid" type="xs:string" />
        <xs:element name="attributename" type="xs:string" />
        <xs:element name="attributevalue" type="xs:string" />
        <xs:element name="attributecomment" type="xs:string" />
        <xs:element name="attributedisplayname" type="xs:string" />
        <xs:element name="GeneratedName" type="artlogconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogstatus" >
      <xs:sequence>
        <xs:element name="/*	@column(name" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogevents" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="eventdate" type="xs:anyType" />
        <xs:element name="alarmid" type="xs:string" />
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="useripaddress" type="xs:string" />
        <xs:element name="userport" type="xs:long" />
        <xs:element name="geolatitude" type="xs:double" />
        <xs:element name="geolongitude" type="xs:double" />
        <xs:element name="sessionid" type="xs:string" />
        <xs:element name="requestid" type="xs:string" />
        <xs:element name="boundedcontextid" type="xs:string" />
        <xs:element name="domainid" type="xs:string" />
        <xs:element name="classname" type="xs:string" />
        <xs:element name="methodname" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="exception" type="xs:string" />
        <xs:element name="context" type="xs:long" />
        <xs:element name="severity" type="xs:long" />
        <xs:element name="layer" type="xs:long" />
        <xs:element name="eventaction" type="xs:long" />
        <xs:element name="alarmstatus" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogseverity" >
      <xs:sequence>
        <xs:element name="/*@id()//	@generatedvalue(strategy" type="xs:string" />
        <xs:element name="severityid" type="integer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogeventaction" >
      <xs:sequence>
        <xs:element name="/*	@column(name" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="eventaction" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogconfig" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="logconfigid" type="xs:string" />
        <xs:element name="configdata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogconnector" >
      <xs:sequence>
        <xs:element name="connectorid" type="xs:string" />
        <xs:element name="GeneratedName" type="artlogconfig" nillable="true" minOccurs="0" />
        <xs:element name="loglevel" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="cid" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="isenabled" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="connectorname" type="xs:string" />
        <xs:element name="classname" type="xs:string" />
        <xs:element name="systemdefined" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="logconnectorattributes" type="artlogconnectorattributes" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogexception" >
      <xs:sequence>
        <xs:element name="exceptionid" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="exception" type="xs:string" />
        <xs:element name="exceptionname" type="xs:string" />
        <xs:element name="rootexception" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogarchitecturelayer" >
      <xs:sequence>
        <xs:element name="layerid" type="integer" nillable="true" minOccurs="0" />
        <xs:element name="layer" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogdomain" >
      <xs:sequence>
        <xs:element name="domainname" type="xs:string" />
        <xs:element name="domainid" type="xs:string" />
        <xs:element name="trace" type="boolean" nillable="true" minOccurs="0" />
        <xs:element name="domaincriticality" type="xs:anyType" />
        <xs:element name="connectorlogpriority" type="xs:string" />
        <xs:element name="primarykey" type="xs:string" />
        <xs:element name="domainpkid" type="xs:string" />
        <xs:element name="artlogalarm" type="artlogalarm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="artlogboundedcontext" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artlogconnectorattributes" >
      <xs:sequence>
        <xs:element name="attributeid" type="xs:string" />
        <xs:element name="GeneratedName" type="artlogconnector" nillable="true" minOccurs="0" />
        <xs:element name="attributename" type="xs:string" />
        <xs:element name="attributevalue" type="xs:string" />
        <xs:element name="attributecomment" type="xs:string" />
        <xs:element name="attributedisplayname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 