DB-project/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="airlinedao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrivallocationdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departurelocationdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passengerdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frequentfliermilesdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ratingdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itinerarydao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradmindao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrivaldatetimedao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departuredatetimedao" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departurelocation" >
      <xs:sequence>
        <xs:element name="departurelocationid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="departurelocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frequentfliermiles" >
      <xs:sequence>
        <xs:element name="ffmid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="pos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passenger" >
      <xs:sequence>
        <xs:element name="passengerid" type="xs:long" />
        <xs:element name="bookingid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="passport" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="age" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departuredatetime" >
      <xs:sequence>
        <xs:element name="departuredatetimeid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="datetime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ratingpk" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="airlinecode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="displayflight" >
      <xs:sequence>
        <xs:element name="departurelocationcode" type="xs:anyType" />
        <xs:element name="arrivallocationcode" type="xs:anyType" />
        <xs:element name="departuredatetime" type="xs:anyType" />
        <xs:element name="arrivaldatetime" type="xs:anyType" />
        <xs:element name="flightnumber" type="xs:anyType" />
        <xs:element name="airlinecode" type="xs:anyType" />
        <xs:element name="amount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dob" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="rating" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentpk" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="airlinecode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrivallocation" >
      <xs:sequence>
        <xs:element name="arrivallocationid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="arrivallocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flightwebserviceclient" >
      <xs:sequence>
        <xs:element name="departurelocationcode" type="xs:anyType" />
        <xs:element name="arrivallocationcode" type="xs:anyType" />
        <xs:element name="departuredatetime" type="xs:anyType" />
        <xs:element name="arrivaldatetime" type="xs:anyType" />
        <xs:element name="flightnumber" type="xs:anyType" />
        <xs:element name="airlinecode" type="xs:anyType" />
        <xs:element name="amount" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departurekey" >
      <xs:sequence>
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="location" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itinerary" >
      <xs:sequence>
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="airlineclass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradmin" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrivaldatetime" >
      <xs:sequence>
        <xs:element name="arrivaldatetimeid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="datetime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="bookingid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="numberoftickets" type="xs:long" />
        <xs:element name="bookingdate" type="xs:string" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="ffmstatus" type="xs:string" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="airlineclass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="airline" >
      <xs:sequence>
        <xs:element name="airlinecode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsapicalls" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dscommhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userwebservice" >
      <xs:sequence>
        <xs:element name="dao" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 