DB-project/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="departurelocation" >
      <xs:sequence>
        <xs:element name="departurelocationid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="departurelocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frequentfliermiles" >
      <xs:sequence>
        <xs:element name="ffmid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="pos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passenger" >
      <xs:sequence>
        <xs:element name="passengerid" type="xs:long" />
        <xs:element name="bookingid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="passport" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="age" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departuredatetime" >
      <xs:sequence>
        <xs:element name="departuredatetimeid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="datetime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="dob" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="rating" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrivallocation" >
      <xs:sequence>
        <xs:element name="arrivallocationid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="arrivallocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itinerary" >
      <xs:sequence>
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="airlineclass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradmin" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrivaldatetime" >
      <xs:sequence>
        <xs:element name="arrivaldatetimeid" type="xs:long" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="datetime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="bookingid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="numberoftickets" type="xs:long" />
        <xs:element name="bookingdate" type="xs:string" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="ffmstatus" type="xs:string" />
        <xs:element name="itineraryid" type="xs:long" />
        <xs:element name="airlinecode" type="xs:string" />
        <xs:element name="airlineclass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="airline" >
      <xs:sequence>
        <xs:element name="airlinecode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 