el-admin3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="genconfigrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<genconfig,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columninforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<columninfo,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genconfig" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="apialias" type="xs:string" />
        <xs:element name="pack" type="xs:string" />
        <xs:element name="modulename" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="apipath" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="cover" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columninfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="columnname" type="xs:string" />
        <xs:element name="columntype" type="xs:string" />
        <xs:element name="keytype" type="xs:string" />
        <xs:element name="extra" type="xs:string" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="notnull" type="xs:anyType" />
        <xs:element name="listshow" type="xs:anyType" />
        <xs:element name="formshow" type="xs:anyType" />
        <xs:element name="formtype" type="xs:string" />
        <xs:element name="querytype" type="xs:string" />
        <xs:element name="dictname" type="xs:string" />
        <xs:element name="dateannotation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tableinfo" >
      <xs:sequence>
        <xs:element name="/***表名称*/tablename" type="xs:anyType" />
        <xs:element name="/***创建日期*/createtime" type="xs:anyType" />
        <xs:element name="/***数据库引擎*/engine" type="xs:anyType" />
        <xs:element name="/***编码集*/coding" type="xs:anyType" />
        <xs:element name="/***备注*/remark" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genutil" >
      <xs:sequence>
        <xs:element name="timestamp" type="xs:string" />
        <xs:element name="bigdecimal" type="xs:string" />
        <xs:element name="pk" type="xs:string" />
        <xs:element name="extra" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="colutil" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genconfigcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="genconfigservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="generatorservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="genconfigservice" nillable="true" minOccurs="0" />
        <xs:element name="generatorenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genconfigservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genconfigserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="genconfigrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="columninforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 