escalab300321/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="compra" >
      <xs:sequence>
        <xs:element name="/*@id	stringcoduser	@id	stringcodprod*/serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="comprapk" nillable="true" minOccurs="0" />
        <xs:element name="cantidad" type="xs:anyType" />
        <xs:element name="preciounitario" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 