dataio8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="transfilelinetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transfiletest" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shutdownmanagertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modificationfactorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="gatekeeperdestinations" type="xs:anyType" />
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectorfactorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedeleteoperationtest" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createjoboperationtest" >
      <xs:sequence>
        <xs:element name="jobstoreserviceconnector" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="filestoreid" type="xs:string" />
        <xs:element name="transfilename" type="xs:string" />
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobspecificationfactorytest" >
      <xs:sequence>
        <xs:element name="submitter" type="xs:long" />
        <xs:element name="transfilename" type="xs:string" />
        <xs:element name="rawtransfile" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createinvalidtransfilenotificationoperationtest" >
      <xs:complexContent>
       <xs:extension base="jobstoreserviceconnector">
         <xs:sequence>
          <xs:element name="jobstoreserviceconnector" type="xs:anyType" />
          <xs:element name="workingdir" type="xs:anyType" />
          <xs:element name="transfilename" type="xs:string" />
          <xs:element name="transfilecauseforinvalidation" type="xs:string" />
          <xs:element name="testfolder" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createtransfileoperationtest" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filemoveoperationtest" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writeaheadlogh2test" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockedwriteaheadlog" >
      <xs:sequence>
        <xs:element name="modifications" type="modification" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="modificationsaddedovertime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encodingdetectortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="encodingdetector" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobdispatcherit" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
        <xs:element name="dir" type="xs:anyType" />
        <xs:element name="shadowdir" type="xs:anyType" />
        <xs:element name="walfile" type="xs:anyType" />
        <xs:element name="wal" type="writeaheadlog" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectorfactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="shutdownmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="gatekeeperdestinations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filefindertest" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobdispatchertest" >
      <xs:sequence>
        <xs:element name="testfolder" type="xs:anyType" />
        <xs:element name="dir" type="xs:anyType" />
        <xs:element name="shadowdir" type="xs:anyType" />
        <xs:element name="wal" type="mockedwriteaheadlog" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectorfactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="shutdownmanager" nillable="true" minOccurs="0" />
        <xs:element name="gatekeeperdestinations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="123456.utf8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="123456.utf8.bom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="123456.ascii" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="123456" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gatekeeper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jobdispatcher" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encodingdetector" >
      <xs:sequence>
        <xs:element name="bom" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filefinder" >
      <xs:complexContent>
       <xs:extension base="simplefilevisitor<path>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="connectorfactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transfile" >
      <xs:sequence>
        <xs:element name="end_of_file" type="xs:anyType" />
        <xs:element name="whitespace" type="xs:anyType" />
        <xs:element name="datafile_name" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="iscomplete" type="xs:anyType" />
        <xs:element name="isvalid" type="xs:anyType" />
        <xs:element name="causeforinvalidation" type="xs:string" />
        <xs:element name="lines" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writeaheadlog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modificationlockedexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="modification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="transfilename" type="xs:string" />
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="arg" type="xs:string" />
        <xs:element name="locked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opcodeconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="writeaheadlogh2" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modificationfactory" >
      <xs:sequence>
        <xs:element name="empty_" type="xs:string" />
        <xs:element name="dummy_file_store_id" type="xs:string" />
        <xs:element name="dummy_raw_transfile" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transfile" nillable="true" minOccurs="0" />
        <xs:element name="newtransfile" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobdispatcher" >
      <xs:sequence>
        <xs:element name="//1hourstalled_transfile_threshold_in_ms" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="transfile_extensions" type="xs:anyType" />
        <xs:element name="dir" type="xs:anyType" />
        <xs:element name="shadowdir" type="xs:anyType" />
        <xs:element name="wal" type="writeaheadlog" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="connectorfactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="shutdownmanager" nillable="true" minOccurs="0" />
        <xs:element name="dirmonitor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shutdownmanager" >
      <xs:sequence>
        <xs:element name="shutdowninprogress" type="xs:anyType" />
        <xs:element name="readytoexit" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filedeleteoperation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createinvalidtransfilenotificationoperation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workingdir" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transfile" nillable="true" minOccurs="0" />
        <xs:element name="transfilename" type="xs:string" />
        <xs:element name="causeforinvalidation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filemoveoperation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="source" type="xs:anyType" />
        <xs:element name="destination" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationexecutionexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="opcode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createjoboperation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workingdir" type="xs:anyType" />
        <xs:element name="transfilename" type="xs:string" />
        <xs:element name="transfiledata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtransfileoperation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="one_second" type="xs:long" />
        <xs:element name="destination" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobspecificationfactory" >
      <xs:sequence>
        <xs:element name="destination_marckonv" type="xs:string" />
        <xs:element name="destination_danbib" type="xs:string" />
        <xs:element name="packaging_danbib_default" type="xs:string" />
        <xs:element name="encoding_danbib_default" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 