dataio8/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="modification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="transfilename" type="xs:string" />
        <xs:element name="GeneratedName" type="opcode" nillable="true" minOccurs="0" />
        <xs:element name="arg" type="xs:string" />
        <xs:element name="locked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 