hibernate-ManyToOne15/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="iddeparment" type="xs:anyType" />
        <xs:element name="namedeparment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="idemployee" type="xs:long" />
        <xs:element name="nameemployee" type="xs:string" />
        <xs:element name="salaryemployee" type="xs:double" />
        <xs:element name="degemployee" type="xs:string" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 