centroCom_entregado/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="actividadtest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permisotest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="centrotest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistenciatest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roltest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="centrocomunitarioapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actividadrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<actividad,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<rol,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="centrorepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<centro,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permisorepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<permiso,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="centrocomunitarioapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="centroservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rol" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="permisoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="permiso" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actividadservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="centroservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actividadserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="actividadrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permisoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="permisorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="centroserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="centrorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permisoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permiso" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actividad" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="usuarios" type="asistencia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="centros" type="asistencia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="centro" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="actividades2" type="actividad" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usuarios2" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usuarios" type="asistencia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="actividades" type="asistencia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistencia" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="centro" nillable="true" minOccurs="0" />
        <xs:element name="usuario" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="actividad" nillable="true" minOccurs="0" />
        <xs:element name="fecha" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="folio" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="apellidopaterno" type="xs:string" />
        <xs:element name="apellidomaterno" type="xs:string" />
        <xs:element name="correo" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="edad" type="xs:long" />
        <xs:element name="sexo" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="rol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="centros" type="asistencia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="acyividades" type="asistencia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistenciaid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="centro" type="xs:long" />
        <xs:element name="usuario" type="xs:long" />
        <xs:element name="actividad" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rol" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="permisos" type="permiso" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistencia" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update_user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="new_user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index_old" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 