cquptCommunity41/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="nofriend" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="friendid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friend" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="friendid" type="xs:string" />
        <xs:element name="//是否互相喜欢，0表示单向喜欢，1表示互相喜欢islike" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 