Enterprise10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="checktest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schemagenerationtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columndefaulttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="indextest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniqueconstrainttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cuisine" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="proxyinterfacetest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validitystrategyaudittest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytypechangeauditdefaulttrackingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytypechangeaudittest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customrevisionentitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytypechangeaudittrackingrevisionlistenertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="modifiedflagsaudittest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryaudittest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultaudittest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryauditadresscountrytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryauditwithmodifiedflagtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uuidgeneratedvaluetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mutablenaturalidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytableschematest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytablecatalogtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pooledoptimizertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assignedidentifiertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idclassgeneratedvaluetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idclassmanytoonetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idmanytoonetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compositenaturalidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="naiveequalshashcodeentitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplenaturalidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatedidentifiertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddedidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cacheablenaturalidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablegeneratorunnamedtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablegeneratorconfiguredtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleentitytabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="naturalidequalshashcodeentitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencegeneratorunnamedtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rowidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencegeneratornamedtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="eventid" nillable="true" minOccurs="0" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleentitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idclasstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uuidcustomgeneratedvaluetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multiplenaturalidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencegeneratorconfiguredtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddedidmanytoonetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleembeddableequivalenttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleembeddabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="targettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nestedembeddabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddableoverridetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parenttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddableimplicitoverridetest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clobstringtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumerationconvertertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bitsettypedeftest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phonetypeenumeratedordinaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nclobchararraytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columntransformertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="targettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instantliteraltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datewithtemporaldatetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nclobtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatetimewithtemporaltimetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="subselecttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bitsetusertypetest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clobchararraytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="implicitbasictypetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumerationcustomtypetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bitsettypetest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clobtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="quotingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nclobstringtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explicittypetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formulatest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobbytearraytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datewithtemporaltimestamptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoquotingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datewithtemporaltimetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explicitbasictypetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nationalizedtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typecategorytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phonetypeenumeratedstringtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaquotingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="calendarwithtemporaltimestamptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parenttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explicitcolumnnamingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fieldaccesstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertyaccesstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertyaccessoverridetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elementcollectionaccesstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddableaccesstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moneyconvertertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodstringtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatortypetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatetimestamptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creationtimestamptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasevaluegenerationtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inmemoryvaluegenerationtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatedtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optimisticlocktypealltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optimisticlockingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optimisticlocktypedirtytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optimisticlockinginstanttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explicitlockingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versionsourcetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optimisticlockingtimestamptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optimisticlocktest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetooneprimarykeyjoincolumntest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytomanybidirectionaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="joincolumnorformulatest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytomanyunidirectionaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetomanybidirectionaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalmanytomanyremovetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytomanybidirectionalwithlinkentitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="derivedidentifierprimarykeyjoincolumntest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compositeidassociationtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notfoundtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetomanyunidirectionaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stringproperty" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyrepository" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="properties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyholder" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="property" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integerproperty" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="derivedidentifiertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytoonetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetoonebidirectionaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionaltwoonetomanymapsidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetooneunidirectionaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="joinformulatest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetoonebidirectionallazytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onetoonemapsidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalordercolumnlisttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalcomparatorsortedsettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalbagtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queuetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalbagtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapkeyclasstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalordercolumnlisttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basictypeordercolumnelementcollectiontest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderedbysqltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordercolumnlistindexbasetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalcomparatorsortedsettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapkeytypetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalsortedsettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalsortedsettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elementcollectionmaptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddabletypeelementcollectiontest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basictypecollectiontest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalsettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basictypeelementcollectiontest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalsettest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="arraytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalorderedbylisttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalorderbylisttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalbagorphanremovaltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidirectionalmaptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bidirectionalmaptest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="captain" >
      <xs:sequence>
        <xs:element name="id" type="identity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionloadertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customsqltest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="spaceship" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="speed" type="xs:double" />
        <xs:element name="GeneratedName" type="captain" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dimensions" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oraclecustomsqlwithstoredproceduretest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customsqlsecondarytabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wheretest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filtersqlfragementaliastest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencecontexttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filtertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wherejointabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nodynamicupdatetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bytecodeenhancementtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multiloadidtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterjointabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phones" type="phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cascadeondeletecollectiontest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phone" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="owner" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cascadeondeletetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dynamicupdatetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="criteriatest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jmxtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jointableprimarykeyjoincolumntest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="discriminatoroptionsnotnullsingletabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singletablediscriminatorformulatest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tableperclasstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mappedsuperclasstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singletabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explicitpolymorphismtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jointabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="discriminatornotnullsingletabletest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="books" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="author" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionimmutabilitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityimmutabilitytest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="secondlevelcachetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nonstrictreadwritecachetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firstlevelcachetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstraptest" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="//tag::bootstrap-jpa-compliant-persistenceunit-configurable-example" type="xs:anyType" />
          <xs:element name="//tag::bootstrap-jpa-compliant-persistencecontext-exampleem" type="xs:anyType" />
          <xs:element name="//tag::bootstrap-jpa-compliant-persistencecontext-configurable-example" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchmodeselecttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchmodejointest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchmodesubselecttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="graphparsingtest" >
      <xs:complexContent>
       <xs:extension base="abstractentitygraphtest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="batchfetchingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lazycollectiontest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="directvsqueryfetchingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="profilefetchingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="graphfetchingtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultentitylistenertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="interceptortest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listenertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postgresqlfunctionselectclausetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selectdistincttest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postgresqlfunctionwhereclausetest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionstest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="spatialtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractmultitenancytest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
          <xs:element name="front_end_tenant" type="xs:string" />
          <xs:element name="back_end_tenant" type="xs:string" />
          <xs:element name="connectionprovidermap" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasetimezonemultitenancytest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
          <xs:element name="front_end_tenant" type="xs:string" />
          <xs:element name="back_end_tenant" type="xs:string" />
          <xs:element name="connectionprovidermap" type="xs:anyType" />
          <xs:element name="timezonetenantmap" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manualflushtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flushordertest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commitflushtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateautoflushtest" >
      <xs:complexContent>
       <xs:extension base="basenonconfigcorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="autoflushtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alwaysflushtest" >
      <xs:complexContent>
       <xs:extension base="baseentitymanagerfunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapoint" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapoint" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapoint" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditcardpayment" >
      <xs:complexContent>
       <xs:extension base="payment">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partner" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="completed" type="xs:anyType" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="call" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="phone" nillable="true" minOccurs="0" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="duration" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wiretransferpayment" >
      <xs:complexContent>
       <xs:extension base="payment">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="phones" type="phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addresses" type="xs:anyType" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phone" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="type" type="phonetype" nillable="true" minOccurs="0" />
        <xs:element name="calls" type="call" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="callhistory" type="xs:anyType" />
        <xs:element name="repairtimestamps" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 