fcefap13/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfposicaocomponentesvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="altura" type="xs:anyType" />
        <xs:element name="largura" type="xs:anyType" />
        <xs:element name="topo" type="xs:anyType" />
        <xs:element name="esquerda" type="xs:anyType" />
        <xs:element name="tamanhofonte" type="xs:anyType" />
        <xs:element name="texto" type="xs:string" />
        <xs:element name="ecfresolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfimpressoravo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="numero" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="serie" type="xs:string" />
        <xs:element name="identificacao" type="xs:string" />
        <xs:element name="mc" type="xs:string" />
        <xs:element name="md" type="xs:string" />
        <xs:element name="vr" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="marca" type="xs:string" />
        <xs:element name="modelo" type="xs:string" />
        <xs:element name="modeloacbr" type="xs:string" />
        <xs:element name="modelodocumentofiscal" type="xs:string" />
        <xs:element name="versao" type="xs:string" />
        <xs:element name="le" type="xs:string" />
        <xs:element name="lef" type="xs:string" />
        <xs:element name="mfd" type="xs:string" />
        <xs:element name="lacrenamfd" type="xs:string" />
        <xs:element name="docto" type="xs:string" />
        <xs:element name="datainstalacaosb" type="xs:dateTime" />
        <xs:element name="horainstalacaosb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfconfiguracaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mensagemcupom" type="xs:string" />
        <xs:element name="portaecf" type="xs:string" />
        <xs:element name="ipservidor" type="xs:string" />
        <xs:element name="ipsitef" type="xs:string" />
        <xs:element name="tipotef" type="xs:string" />
        <xs:element name="titulotelacaixa" type="xs:string" />
        <xs:element name="caminhoimagensprodutos" type="xs:string" />
        <xs:element name="caminhoimagensmarketing" type="xs:string" />
        <xs:element name="caminhoimagenslayout" type="xs:string" />
        <xs:element name="corjanelasinternas" type="xs:string" />
        <xs:element name="marketingativo" type="xs:string" />
        <xs:element name="cfopecf" type="xs:anyType" />
        <xs:element name="cfopnf2" type="xs:anyType" />
        <xs:element name="timeoutecf" type="xs:anyType" />
        <xs:element name="intervaloecf" type="xs:anyType" />
        <xs:element name="descricaosuprimento" type="xs:string" />
        <xs:element name="descricaosangria" type="xs:string" />
        <xs:element name="teftipogp" type="xs:anyType" />
        <xs:element name="teftempoespera" type="xs:anyType" />
        <xs:element name="tefesperasts" type="xs:anyType" />
        <xs:element name="tefnumerovias" type="xs:anyType" />
        <xs:element name="decimaisquantidade" type="xs:anyType" />
        <xs:element name="decimaisvalor" type="xs:anyType" />
        <xs:element name="bitsporsegundo" type="xs:anyType" />
        <xs:element name="quantidademaximacartoes" type="xs:anyType" />
        <xs:element name="pesquisaparte" type="xs:string" />
        <xs:element name="ultimaexclusao" type="xs:anyType" />
        <xs:element name="laudo" type="xs:string" />
        <xs:element name="dataatualizacaoestoque" type="xs:dateTime" />
        <xs:element name="pedecpfcupom" type="xs:string" />
        <xs:element name="tipointegracao" type="xs:anyType" />
        <xs:element name="timerintegracao" type="xs:anyType" />
        <xs:element name="gavetasinalinvertido" type="xs:string" />
        <xs:element name="gavetautilizacao" type="xs:anyType" />
        <xs:element name="quantidademaximaparcela" type="xs:anyType" />
        <xs:element name="imprimeparcela" type="xs:string" />
        <xs:element name="usatecladoreduzido" type="xs:string" />
        <xs:element name="permitelancarnfmanual" type="xs:string" />
        <xs:element name="ecfempresa" type="ecfempresavo" nillable="true" minOccurs="0" />
        <xs:element name="ecfcaixa" type="ecfcaixavo" nillable="true" minOccurs="0" />
        <xs:element name="ecfresolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" />
        <xs:element name="ecfimpressora" type="ecfimpressoravo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cfopvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="aplicacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfempresavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="nomefantasia" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaoestadualst" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="inscricaojuntacomercial" type="xs:string" />
        <xs:element name="datainscjuntacomercial" type="xs:dateTime" />
        <xs:element name="matrizfilial" type="xs:string" />
        <xs:element name="datacadastro" type="xs:dateTime" />
        <xs:element name="datainicioatividades" type="xs:dateTime" />
        <xs:element name="suframa" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="imagemlogotipo" type="xs:string" />
        <xs:element name="crt" type="xs:string" />
        <xs:element name="tiporegime" type="xs:string" />
        <xs:element name="aliquotapis" type="xs:anyType" />
        <xs:element name="aliquotacofins" type="xs:anyType" />
        <xs:element name="logradouro" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="fone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="contato" type="xs:string" />
        <xs:element name="codigoibgecidade" type="xs:anyType" />
        <xs:element name="codigoibgeuf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logssvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="ttp" type="xs:anyType" />
        <xs:element name="produto" type="xs:anyType" />
        <xs:element name="r01" type="xs:anyType" />
        <xs:element name="r02" type="xs:anyType" />
        <xs:element name="r03" type="xs:anyType" />
        <xs:element name="r04" type="xs:anyType" />
        <xs:element name="r05" type="xs:anyType" />
        <xs:element name="r06" type="xs:anyType" />
        <xs:element name="r07" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfresolucaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="resolucaotela" type="xs:string" />
        <xs:element name="largura" type="xs:anyType" />
        <xs:element name="altura" type="xs:anyType" />
        <xs:element name="imagemtela" type="xs:string" />
        <xs:element name="imagemmenu" type="xs:string" />
        <xs:element name="imagemsubmenu" type="xs:string" />
        <xs:element name="hottrackcolor" type="xs:string" />
        <xs:element name="itemstylefontname" type="xs:string" />
        <xs:element name="itemstylefontcolor" type="xs:string" />
        <xs:element name="itemselstylecolor" type="xs:string" />
        <xs:element name="labeltotalgeralfontcolor" type="xs:string" />
        <xs:element name="itemstylefontstyle" type="xs:string" />
        <xs:element name="editscolor" type="xs:string" />
        <xs:element name="editsfontcolor" type="xs:string" />
        <xs:element name="editsdisabledcolor" type="xs:string" />
        <xs:element name="editsfontname" type="xs:string" />
        <xs:element name="editsfontstyle" type="xs:string" />
        <xs:element name="listaecfposicaocomponente" type="ecfposicaocomponentesvo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfcaixavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="datacadastro" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configuracao" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="ecfcfg" type="ecfconfiguracaovo" nillable="true" minOccurs="0" />
          <xs:element name="listaempresa" type="ecfempresavo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="listacaixa" type="ecfcaixavo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="listaimpressora" type="ecfimpressoravo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="listacfop" type="cfopvo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="listaresolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="tablemodelresolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="tablemodelposicaocomponente" type="ecfposicaocomponentesvo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesbotaocancela" type="xs:anyType" />
          <xs:element name="botaoconfirma" type="xs:anyType" />
          <xs:element name="botaoconfirma1" type="xs:anyType" />
          <xs:element name="botaogravaarquivoauxiliar" type="xs:anyType" />
          <xs:element name="cbcaixa" type="xs:anyType" />
          <xs:element name="cbcfopecf" type="xs:anyType" />
          <xs:element name="cbcfopnf2" type="xs:anyType" />
          <xs:element name="cbempresa" type="xs:anyType" />
          <xs:element name="cbimpressora" type="xs:anyType" />
          <xs:element name="cbtipotef" type="xs:anyType" />
          <xs:element name="chkmarketingativo" type="xs:anyType" />
          <xs:element name="gridcabecalho" type="xs:anyType" />
          <xs:element name="griddetalhe" type="xs:anyType" />
          <xs:element name="jbutton1" type="xs:anyType" />
          <xs:element name="jbutton2" type="xs:anyType" />
          <xs:element name="jbutton3" type="xs:anyType" />
          <xs:element name="jbutton4" type="xs:anyType" />
          <xs:element name="jbutton5" type="xs:anyType" />
          <xs:element name="jbutton6" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel10" type="xs:anyType" />
          <xs:element name="jlabel11" type="xs:anyType" />
          <xs:element name="jlabel12" type="xs:anyType" />
          <xs:element name="jlabel13" type="xs:anyType" />
          <xs:element name="jlabel14" type="xs:anyType" />
          <xs:element name="jlabel15" type="xs:anyType" />
          <xs:element name="jlabel16" type="xs:anyType" />
          <xs:element name="jlabel17" type="xs:anyType" />
          <xs:element name="jlabel18" type="xs:anyType" />
          <xs:element name="jlabel19" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel20" type="xs:anyType" />
          <xs:element name="jlabel21" type="xs:anyType" />
          <xs:element name="jlabel22" type="xs:anyType" />
          <xs:element name="jlabel23" type="xs:anyType" />
          <xs:element name="jlabel24" type="xs:anyType" />
          <xs:element name="jlabel25" type="xs:anyType" />
          <xs:element name="jlabel26" type="xs:anyType" />
          <xs:element name="jlabel27" type="xs:anyType" />
          <xs:element name="jlabel28" type="xs:anyType" />
          <xs:element name="jlabel29" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel31" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jlabel5" type="xs:anyType" />
          <xs:element name="jlabel6" type="xs:anyType" />
          <xs:element name="jlabel7" type="xs:anyType" />
          <xs:element name="jlabel8" type="xs:anyType" />
          <xs:element name="jlabel9" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jpanel3" type="xs:anyType" />
          <xs:element name="jpanel4" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="jscrollpane2" type="xs:anyType" />
          <xs:element name="jseparator1" type="xs:anyType" />
          <xs:element name="jtabbedpane1" type="xs:anyType" />
          <xs:element name="panelbotoes" type="xs:anyType" />
          <xs:element name="panelcomponentes" type="xs:anyType" />
          <xs:element name="panelcorjanelainterna" type="xs:anyType" />
          <xs:element name="panelgridcabecalho" type="xs:anyType" />
          <xs:element name="panelgriddetalhe" type="xs:anyType" />
          <xs:element name="panelprincipal" type="xs:anyType" />
          <xs:element name="txtbitsporsegundo" type="xs:anyType" />
          <xs:element name="txtcaminhoimagemlayout" type="xs:anyType" />
          <xs:element name="txtcaminhoimagemmarketing" type="xs:anyType" />
          <xs:element name="txtcaminhoimagemproduto" type="xs:anyType" />
          <xs:element name="txtdescricaosangria" type="xs:anyType" />
          <xs:element name="txtdescricaosuprimento" type="xs:anyType" />
          <xs:element name="txtesperaststef" type="xs:anyType" />
          <xs:element name="txtgrandetotal" type="xs:anyType" />
          <xs:element name="txtindicedav" type="xs:anyType" />
          <xs:element name="txtintervaloecf" type="xs:anyType" />
          <xs:element name="txtipservidor" type="xs:anyType" />
          <xs:element name="txtiptefdedicado" type="xs:anyType" />
          <xs:element name="txtmensagemcupom" type="xs:anyType" />
          <xs:element name="txtnrviastef" type="xs:anyType" />
          <xs:element name="txtnumeroserie" type="xs:anyType" />
          <xs:element name="txtportabalanca" type="xs:anyType" />
          <xs:element name="txtportaecf" type="xs:anyType" />
          <xs:element name="txtportapinpad" type="xs:anyType" />
          <xs:element name="txttempoesperatef" type="xs:anyType" />
          <xs:element name="txttimeoutecf" type="xs:anyType" />
          <xs:element name="txttipogptef" type="xs:anyType" />
          <xs:element name="txttitulotelacaixa" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="caixa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="caixa" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="//exercício:verifiquesetodososcontrolesdajanelaestãosendotratados.façaasdevidascorreções.eativo" type="xs:anyType" />
          <xs:element name="resolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesbobina" type="xs:anyType" />
          <xs:element name="containerprincipal" type="xs:anyType" />
          <xs:element name="editcodigo" type="xs:anyType" />
          <xs:element name="editquantidade" type="xs:anyType" />
          <xs:element name="editsubtotal" type="xs:anyType" />
          <xs:element name="edittotalitem" type="xs:anyType" />
          <xs:element name="editunitario" type="xs:anyType" />
          <xs:element name="jlabel10" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jlabel5" type="xs:anyType" />
          <xs:element name="jlabel6" type="xs:anyType" />
          <xs:element name="jlabel7" type="xs:anyType" />
          <xs:element name="jmenuitemcarregarimagemfundo" type="xs:anyType" />
          <xs:element name="jmenuitemeditarpropriedades" type="xs:anyType" />
          <xs:element name="jpopupmenu1" type="xs:anyType" />
          <xs:element name="jscrollpane2" type="xs:anyType" />
          <xs:element name="jscrollpane4" type="xs:anyType" />
          <xs:element name="jscrollpane5" type="xs:anyType" />
          <xs:element name="labelcaixa" type="xs:anyType" />
          <xs:element name="labeldescricaoproduto" type="xs:anyType" />
          <xs:element name="labelimagemproduto" type="xs:anyType" />
          <xs:element name="labelimagemtela" type="xs:anyType" />
          <xs:element name="labelmensagens" type="xs:anyType" />
          <xs:element name="labeloperador" type="xs:anyType" />
          <xs:element name="labeltitulo" type="xs:anyType" />
          <xs:element name="labeltotalgeral" type="xs:anyType" />
          <xs:element name="listamenufiscal" type="xs:anyType" />
          <xs:element name="listamenuoperacoes" type="xs:anyType" />
          <xs:element name="listamenuprincipal" type="xs:anyType" />
          <xs:element name="listasubmenugerente" type="xs:anyType" />
          <xs:element name="listasubmenusupervisor" type="xs:anyType" />
          <xs:element name="panelbobina" type="xs:anyType" />
          <xs:element name="panelbotoes" type="xs:anyType" />
          <xs:element name="panelcard" type="xs:anyType" />
          <xs:element name="panelmenufiscal" type="xs:anyType" />
          <xs:element name="panelmenuoperacoes" type="xs:anyType" />
          <xs:element name="panelmenuprincipal" type="xs:anyType" />
          <xs:element name="panelsubmenu" type="xs:anyType" />
          <xs:element name="panelsubmenugerente" type="xs:anyType" />
          <xs:element name="panelsubmenusupervisor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configuracao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configuraconexao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configuraconexao" >
      <xs:complexContent>
       <xs:extension base="java.awt.dialog">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//gen-last:event_botaotestaconexaoretaguarda1actionperformed//variablesdeclaration-donotmodify//gen-begin:variablesbotaotestaconexaolocal" type="xs:anyType" />
          <xs:element name="botaotestaconexaoretaguarda" type="xs:anyType" />
          <xs:element name="botaotestaconexaoretaguarda1" type="xs:anyType" />
          <xs:element name="combosgdblocal" type="xs:anyType" />
          <xs:element name="combosgdbretaguarda" type="xs:anyType" />
          <xs:element name="jbutton3" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jlabel5" type="xs:anyType" />
          <xs:element name="jlabel6" type="xs:anyType" />
          <xs:element name="jlabel7" type="xs:anyType" />
          <xs:element name="jlabel8" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jtabbedpane1" type="xs:anyType" />
          <xs:element name="txtsenha" type="xs:anyType" />
          <xs:element name="txtsenharetaguarda" type="xs:anyType" />
          <xs:element name="txturl" type="xs:anyType" />
          <xs:element name="txturlretaguarda" type="xs:anyType" />
          <xs:element name="txtusuario" type="xs:anyType" />
          <xs:element name="txtusuarioretaguarda" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectinspectorjpanel" >
      <xs:complexContent>
       <xs:extension base="propertysheetpanel">
         <xs:sequence>
          <xs:element name="bean" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectinspectorjframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectinspectorjframe" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="sheet" type="objectinspectorjpanel" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dragcontroller" >
      <xs:complexContent>
       <xs:extension base="mouseadapter">
         <xs:sequence>
          <xs:element name="basex" type="xs:long" />
          <xs:element name="basey" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="biblioteca" >
      <xs:sequence>
        <xs:element name="arquivo_conexao_bd" type="xs:string" />
        <xs:element name="arquivo_auxiliar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acessobanco" >
      <xs:sequence>
        <xs:element name="emlocal" type="xs:anyType" />
        <xs:element name="emretaguarda" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablemodelgenerico" >
      <xs:complexContent>
       <xs:extension base="abstracttablemodel">
         <xs:sequence>
          <xs:element name="linhas" type="xs:anyType" />
          <xs:element name="colunas" type="xs:string" />
          <xs:element name="atributos" type="xs:string" />
          <xs:element name="podeeditar" type="xs:anyType" />
          <xs:element name="eparametro" type="xs:anyType" />
          <xs:element name="metodoget" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="colunagrid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsscontroller" >
      <xs:complexContent>
       <xs:extension base="controllergenerico<logssvo>">
         <xs:sequence>
          <xs:element name="logss" type="logssvo" nillable="true" minOccurs="0" />
          <xs:element name="totalproduto" type="xs:long" />
          <xs:element name="totalr01" type="xs:long" />
          <xs:element name="totalr02" type="xs:long" />
          <xs:element name="totalr03" type="xs:long" />
          <xs:element name="totalr04" type="xs:long" />
          <xs:element name="totalr05" type="xs:long" />
          <xs:element name="totalr06" type="xs:long" />
          <xs:element name="totalr07" type="xs:long" />
          <xs:element name="totaltipopagamento" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="controllergenerico" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="acessobanco" nillable="true" minOccurs="0" />
        <xs:element name="conexaoretaguarda" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 