espace_collaborative/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="notificationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ws" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sondageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reactionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="choixservice" nillable="true" minOccurs="0" />
        <xs:element name="preferred_username" type="xs:string" />
        <xs:element name="bridgeevents" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sockjsexample" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="sessions" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="notificationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="bridgeoption" type="bridgeoptionimpl" nillable="true" minOccurs="0" />
        <xs:element name="roomid" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reactionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sondageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="choixservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bridgeoptionimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="bridgeoptionmobile" type="xs:anyType" />
        <xs:element name="bridgeoptionweb" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibridgeoption" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorvm" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forbiddenexception" >
      <xs:complexContent>
       <xs:extension base="webapplicationexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notfoundexception" >
      <xs:complexContent>
       <xs:extension base="webapplicationexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roomrequest" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="" type="room" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="status" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="objectid" type="xs:string" />
          <xs:element name="mimetype" type="xs:string" />
          <xs:element name="presignedurl" type="xs:string" />
          <xs:element name="filename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="metadata" type="file" nillable="true" minOccurs="0" />
          <xs:element name="body" type="xs:string" />
          <xs:element name="file" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//todotimestampghalettimestamp" type="xs:long" />
          <xs:element name="" type="room" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="reactions" type="reaction" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="choix" type="choix" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="topics" type="topic" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="counttopics" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="room" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="image" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="isprivate" type="xs:anyType" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="requeststatus" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="topic" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="timestamp" type="xs:long" />
          <xs:element name="seen" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="tags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="replies" type="reply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="countreplies" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reaction" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="" type="message" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="image" type="xs:string" />
          <xs:element name="" type="badge" nillable="true" minOccurs="0" />
          <xs:element name="rooms" type="room" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="replies" type="reply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="messages" type="message" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="reply" type="xs:string" />
          <xs:element name="useful" type="xs:anyType" />
          <xs:element name="timestamp" type="xs:long" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="" type="topic" nillable="true" minOccurs="0" />
          <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badge" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="icon_s" type="xs:string" />
          <xs:element name="icon_b" type="xs:string" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="choix" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="body" type="xs:string" />
          <xs:element name="" type="message" nillable="true" minOccurs="0" />
          <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="corsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileuploader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topiccontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="topicservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomrequestcontroller" >
      <xs:sequence>
        <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="identity" type="xs:anyType" />
        <xs:element name="GeneratedName" type="roomrequestservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="miniofileservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomcontroller" >
      <xs:sequence>
        <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
        <xs:element name="identity" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="topicservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="badgeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="replyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
        <xs:element name="identity" type="xs:anyType" />
        <xs:element name="logged" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tagservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyservice" nillable="true" minOccurs="0" />
        <xs:element name="identity" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="choixcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="choixservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sondageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sondagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sondageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badgecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="badgeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reactioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reactionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="choixrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badgerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reactionrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topicrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sondagerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomrequestrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="miniofileservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reactionservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="replyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="topicservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="topicrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tagrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomrequestservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomrequestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="topicservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="replyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sondageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sondagerepository" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="choixservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="choixrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sondageservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tagrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roomservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roomrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roomrequestservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badgeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="badgerepository" nillable="true" minOccurs="0" />
        <xs:element name="lockedsmall" type="xs:string" />
        <xs:element name="lockedbig" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingfilter" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="info" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationpropertyconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urlcacheentry" >
      <xs:sequence>
        <xs:element name="createdat" type="xs:long" />
        <xs:element name="expirein" type="xs:long" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="minioclientprovider" >
      <xs:sequence>
        <xs:element name="documentbucketname" type="xs:string" />
        <xs:element name="prviewbucketname" type="xs:string" />
        <xs:element name="propertyconfiguration" type="applicationpropertyconfiguration" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="miniofileservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="miniofileserviceimpl" >
      <xs:sequence>
        <xs:element name="urlscache" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 