goodmanager/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="filterloginchecktest" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="response" type="xs:anyType" />
        <xs:element name="chain" type="xs:anyType" />
        <xs:element name="session" type="xs:anyType" />
        <xs:element name="dispatcher" type="xs:anyType" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmeditresultservlettest" >
      <xs:complexContent>
       <xs:extension base="servlettest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginresultservlettest" >
      <xs:complexContent>
       <xs:extension base="servlettest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pipoleditresultservlettest" >
      <xs:complexContent>
       <xs:extension base="servlettest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servlettest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="response" type="xs:anyType" />
        <xs:element name="javaxentitymanager" type="xs:anyType" />
        <xs:element name="dispatcher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchresultservlettest" >
      <xs:complexContent>
       <xs:extension base="servlettest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firmaddresultservlettest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="response" type="xs:anyType" />
        <xs:element name="javaxentitymanager" type="xs:anyType" />
        <xs:element name="dispatcher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmnamesservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fcknamedcommand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckxml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckdocumentfragment_gecko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckevents" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckselection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckplugins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckundo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckurlparams" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disablehandles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cf_basexml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="th" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="no" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="et" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt-br" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ja" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="da" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en-uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en-ca" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zh-cn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="it" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ru" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="km" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="he" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ko" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sr-latn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="af" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_translationstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en-au" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spellerstyle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blank" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fck_link" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fck_image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fck_flash" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fcktemplates" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckuploadimage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fckpackager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configureresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userblockremove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewsorttopresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectionstyleaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupadd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pipoladdresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectionstyleadd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmadd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleuserchangepassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="send" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermoveresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchadvancedeleteresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchadvanceparkresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchadvanceaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmdelete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruledelete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pipoledit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactdelete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactedit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewsortinverserresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tidingaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmedit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdeleteresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryadd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productpriceaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producteditresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruledeleteconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupdelete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleuserdisconnectresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupdeleteconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewuseraddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionaccept" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileedit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractaddresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionacceptresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileeditresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contractadd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleuserchangepasswordresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactadd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pipoladd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactdeleteconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmdeleteconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pipoldelete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activex1cresetresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="date" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="count" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repeatgraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dategraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaygraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repeat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contacteditresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configure" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="engine" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewsearch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewstyle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtidingcategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtiding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewproductprice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewproduct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcurrency" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilactivex1cconnection" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilactivex1ctransaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilactivex1c" >
      <xs:sequence>
        <xs:element name="activexs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilrequest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utillocale" >
      <xs:sequence>
        <xs:element name="avaiblelocales" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilcalendar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanager" >
      <xs:sequence>
        <xs:element name="managers" type="xs:anyType" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="//todotestonlynotforprodtesttransaction" type="xs:anyType" />
        <xs:element name="testentitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycontact" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="repeat" type="xs:dateTime" />
        <xs:element name="style" type="entitystyle" nillable="true" minOccurs="0" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="pipol" type="entitypipol" nillable="true" minOccurs="0" />
        <xs:element name="status" type="entitystatus" nillable="true" minOccurs="0" />
        <xs:element name="delete" type="xs:dateTime" />
        <xs:element name="historys" type="entitycontacthistory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmuseritemid" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="rule" type="entitysearchrulefirmuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmuser" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="items" type="entitysearchrulefirmuseritem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchsourcepipolwithdelete" >
      <xs:complexContent>
       <xs:extension base="entitysearchsource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmdelete" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipol" >
      <xs:complexContent>
       <xs:extension base="entitysearchrule">
         <xs:sequence>
          <xs:element name="parent" type="entitysearchrulepipolcomposite" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchsourcepipol" >
      <xs:complexContent>
       <xs:extension base="entitysearchsource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipolcreate" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulepipol">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactdescription" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulecontact">
         <xs:sequence>
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactrepeat" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulecontact">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchsourcefirm" >
      <xs:complexContent>
       <xs:extension base="entitysearchsource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmcreate" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipoluseritem" >
      <xs:sequence>
        <xs:element name="id" type="entitysearchrulepipoluseritemid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmsectionitemid" >
      <xs:sequence>
        <xs:element name="sectionid" type="xs:long" />
        <xs:element name="rule" type="entitysearchrulefirmsection" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontact" >
      <xs:complexContent>
       <xs:extension base="entitysearchrule">
         <xs:sequence>
          <xs:element name="parent" type="entitysearchrulecontactcomposite" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipoldelete" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulepipol">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirm" >
      <xs:complexContent>
       <xs:extension base="entitysearchrule">
         <xs:sequence>
          <xs:element name="parent" type="entitysearchrulefirmcomposite" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipoluseritemid" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="rule" type="entitysearchrulepipoluser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmname" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmsection" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="items" type="entitysearchrulefirmsectionitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactuseritem" >
      <xs:sequence>
        <xs:element name="id" type="entitysearchrulecontactuseritemid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrule" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="source" type="entitysearchsource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactstatusitemid" >
      <xs:sequence>
        <xs:element name="statusid" type="xs:long" />
        <xs:element name="rule" type="entitysearchrulecontactstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchsourcecontactwithdelete" >
      <xs:complexContent>
       <xs:extension base="entitysearchsource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchsourcecontact" >
      <xs:complexContent>
       <xs:extension base="entitysearchsource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchsource" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="search" type="entitysearch" nillable="true" minOccurs="0" />
        <xs:element name="rule" type="entitysearchrule" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactstatus" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulecontact">
         <xs:sequence>
          <xs:element name="items" type="entitysearchrulecontactstatusitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmother" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="text" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactstatusitem" >
      <xs:sequence>
        <xs:element name="id" type="entitysearchrulecontactstatusitemid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactdelete" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulecontact">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipolfio" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulepipol">
         <xs:sequence>
          <xs:element name="fio" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactcomposite" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulepipol">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="rules" type="entitysearchrulecontact" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactuseritemid" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="rule" type="entitysearchrulecontactuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchsourcefirmwithdelete" >
      <xs:complexContent>
       <xs:extension base="entitysearchsource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearch" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="use" type="xs:dateTime" />
        <xs:element name="park" type="xs:anyType" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="sources" type="entitysearchsource" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipoluser" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulepipol">
         <xs:sequence>
          <xs:element name="items" type="entitysearchrulepipoluseritem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmcomposite" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="rules" type="entitysearchrulefirm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmuseritem" >
      <xs:sequence>
        <xs:element name="id" type="entitysearchrulefirmuseritemid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulefirmsectionitem" >
      <xs:sequence>
        <xs:element name="id" type="entitysearchrulefirmsectionitemid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipolcomposite" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulefirm">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="rules" type="entitysearchrulepipol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulepipolother" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulepipol">
         <xs:sequence>
          <xs:element name="text" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactcreate" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulecontact">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="finish" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitysearchrulecontactuser" >
      <xs:complexContent>
       <xs:extension base="entitysearchrulecontact">
         <xs:sequence>
          <xs:element name="items" type="entitysearchrulecontactuseritem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitycontract" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="versions" type="entitycontractversion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitypipol" >
      <xs:sequence>
        <xs:element name="fio" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="telephon" type="xs:string" />
        <xs:element name="rang" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="firm" type="entityfirm" nillable="true" minOccurs="0" />
        <xs:element name="publicstyle" type="entitystyle" nillable="true" minOccurs="0" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="contacts" type="entitycontact" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="delete" type="xs:dateTime" />
        <xs:element name="historys" type="entitypipolhistory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitystatus" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="order" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycontacthistoryid" >
      <xs:sequence>
        <xs:element name="contact" type="entitycontact" nillable="true" minOccurs="0" />
        <xs:element name="up" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityrulecontent" >
      <xs:sequence>
        <xs:element name="edit" type="xs:anyType" />
        <xs:element name="view" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycategory" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="products" type="entityproduct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="parent" type="entitycategory" nillable="true" minOccurs="0" />
        <xs:element name="childs" type="entitycategory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityproduct" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="prices" type="entityproductprice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="category" type="entitycategory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityproductprice" >
      <xs:sequence>
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="value" type="xs:double" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="product" type="entityproduct" nillable="true" minOccurs="0" />
        <xs:element name="currency" type="entitycurrency" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycurrency" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="label" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityrule" >
      <xs:sequence>
        <xs:element name="id" type="entityrulekey" nillable="true" minOccurs="0" />
        <xs:element name="statistic" type="xs:anyType" />
        <xs:element name="content" type="entityrulecontent" nillable="true" minOccurs="0" />
        <xs:element name="contract" type="entityrulecontract" nillable="true" minOccurs="0" />
        <xs:element name="tiding" type="entityruletiding" nillable="true" minOccurs="0" />
        <xs:element name="task" type="entityruletask" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysection" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="children" type="entitysection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="parent" type="entitysection" nillable="true" minOccurs="0" />
        <xs:element name="owner" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="firms" type="entityfirm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="style" type="entitystyle" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityfirmhistory" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="entityfirmhistoryid" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="telephon" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="site" type="xs:string" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityrulecontract" >
      <xs:sequence>
        <xs:element name="accept" type="xs:anyType" />
        <xs:element name="create" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityversionresolution" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="ok" type="xs:anyType" />
        <xs:element name="version" type="entitycontractversion" nillable="true" minOccurs="0" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycontacttype" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitypartfile" >
      <xs:complexContent>
       <xs:extension base="entitypart">
         <xs:sequence>
          <xs:element name="data" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityserverrule" >
      <xs:sequence>
        <xs:element name="ruleid" type="xs:anyType" />
        <xs:element name="server" type="entityserver" nillable="true" minOccurs="0" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityserverruleall" >
      <xs:complexContent>
       <xs:extension base="entityserverrule">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityservertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityserver" >
      <xs:sequence>
        <xs:element name="serverid" type="xs:anyType" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="type" type="entityservertype" nillable="true" minOccurs="0" />
        <xs:element name="rules" type="entityserverrule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mails" type="entitymail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymail" >
      <xs:sequence>
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="sended" type="xs:dateTime" />
        <xs:element name="received" type="xs:dateTime" />
        <xs:element name="theme" type="xs:string" />
        <xs:element name="to" type="xs:string" />
        <xs:element name="from" type="xs:string" />
        <xs:element name="parts" type="entitypart" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mailid" type="xs:anyType" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="server" type="entityserver" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityparttext" >
      <xs:complexContent>
       <xs:extension base="entitypart">
         <xs:sequence>
          <xs:element name="text" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitypart" >
      <xs:sequence>
        <xs:element name="partid" type="xs:anyType" />
        <xs:element name="mail" type="entitymail" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycontractversion" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="contract" type="entitycontract" nillable="true" minOccurs="0" />
        <xs:element name="resolution" type="entityversionresolution" nillable="true" minOccurs="0" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="files" type="entityversionfile" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityrank" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroup" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rules" type="entityrule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="users" type="entityuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytaskexecutor" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="task" type="entitytask" nillable="true" minOccurs="0" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="accept" type="xs:dateTime" />
        <xs:element name="must" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytask" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="owner" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="executors" type="entitytaskexecutor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="previous" type="entitytask" nillable="true" minOccurs="0" />
        <xs:element name="nexts" type="entitytask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityruletiding" >
      <xs:sequence>
        <xs:element name="edit" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityruletask" >
      <xs:sequence>
        <xs:element name="create" type="xs:anyType" />
        <xs:element name="view" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytransaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitypipolhistoryid" >
      <xs:sequence>
        <xs:element name="pipol" type="entitypipol" nillable="true" minOccurs="0" />
        <xs:element name="up" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityfirmsort" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="view" type="entityview" nillable="true" minOccurs="0" />
        <xs:element name="order" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="inverse" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewuserid" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="view" type="entityview" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewhistory" >
      <xs:sequence>
        <xs:element name="firm" type="xs:anyType" />
        <xs:element name="pipol" type="xs:anyType" />
        <xs:element name="contact" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityview" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="users" type="entityviewuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="sort" type="entityviewsort" nillable="true" minOccurs="0" />
        <xs:element name="history" type="entityviewhistory" nillable="true" minOccurs="0" />
        <xs:element name="mail" type="entityviewmail" nillable="true" minOccurs="0" />
        <xs:element name="delete" type="entityviewdelete" nillable="true" minOccurs="0" />
        <xs:element name="locale" type="xs:string" />
        <xs:element name="byme" type="xs:anyType" />
        <xs:element name="bymetotal" type="xs:anyType" />
        <xs:element name="bymerepeat" type="xs:anyType" />
        <xs:element name="bymeold" type="xs:anyType" />
        <xs:element name="showrate" type="xs:anyType" />
        <xs:element name="flatehead" type="xs:anyType" />
        <xs:element name="showtelephon" type="xs:anyType" />
        <xs:element name="showfax" type="xs:anyType" />
        <xs:element name="showweb" type="xs:anyType" />
        <xs:element name="showowner" type="xs:anyType" />
        <xs:element name="showlastcontact" type="xs:anyType" />
        <xs:element name="showaddress" type="xs:anyType" />
        <xs:element name="showemail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewsearch" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="show" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewdelete" >
      <xs:sequence>
        <xs:element name="firm" type="xs:anyType" />
        <xs:element name="pipol" type="xs:anyType" />
        <xs:element name="contact" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewsort" >
      <xs:sequence>
        <xs:element name="firms" type="entityfirmsort" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewuser" >
      <xs:sequence>
        <xs:element name="id" type="entityviewuserid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityviewmail" >
      <xs:sequence>
        <xs:element name="show" type="xs:anyType" />
        <xs:element name="count" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityimage" >
      <xs:sequence>
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="alt" type="xs:string" />
        <xs:element name="extend" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytext" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityfirmhistoryid" >
      <xs:sequence>
        <xs:element name="firm" type="entityfirm" nillable="true" minOccurs="0" />
        <xs:element name="up" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityuser" >
      <xs:sequence>
        <xs:element name="fio" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="group" type="entitygroup" nillable="true" minOccurs="0" />
        <xs:element name="disable" type="xs:dateTime" />
        <xs:element name="firms" type="entityfirm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="block" type="xs:dateTime" />
        <xs:element name="dependtasks" type="entitytask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ownertasks" type="entitytask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="defaultview" type="entityview" nillable="true" minOccurs="0" />
        <xs:element name="mails" type="entitymail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="activex1c" type="entityuser1c" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityuser1c" >
      <xs:sequence>
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityusersession" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityfirm" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="telephon" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="site" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="publicstyle" type="entitystyle" nillable="true" minOccurs="0" />
        <xs:element name="pipols" type="entitypipol" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
        <xs:element name="section" type="entitysection" nillable="true" minOccurs="0" />
        <xs:element name="delete" type="xs:dateTime" />
        <xs:element name="historys" type="entityfirmhistory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitypipolhistory" >
      <xs:sequence>
        <xs:element name="fio" type="xs:string" />
        <xs:element name="id" type="entitypipolhistoryid" nillable="true" minOccurs="0" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="telephon" type="xs:string" />
        <xs:element name="rang" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytidingcategory" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="tidings" type="entitytiding" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytiding" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="category" type="entitytidingcategory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityversionfile" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="version" type="entitycontractversion" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycontacthistory" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="id" type="entitycontacthistoryid" nillable="true" minOccurs="0" />
        <xs:element name="repeat" type="xs:dateTime" />
        <xs:element name="status" type="entitystatus" nillable="true" minOccurs="0" />
        <xs:element name="user" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityrulekey" >
      <xs:sequence>
        <xs:element name="owner" type="entitygroup" nillable="true" minOccurs="0" />
        <xs:element name="depend" type="entitygroup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitystyle" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="bold" type="xs:anyType" />
        <xs:element name="italic" type="xs:anyType" />
        <xs:element name="strikeout" type="xs:anyType" />
        <xs:element name="underline" type="xs:anyType" />
        <xs:element name="color" type="xs:long" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="owner" type="entityuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageruleerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagestatistic" >
      <xs:sequence>
        <xs:element name="sectionids" type="xs:anyType" />
        <xs:element name="statusids" type="xs:anyType" />
        <xs:element name="userids" type="xs:anyType" />
        <xs:element name="period" type="xs:anyType" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagesearchtype" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagestatisticdate" >
      <xs:complexContent>
       <xs:extension base="pagestatistic">
         <xs:sequence>
          <xs:element name="/**/step" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pageloginerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagesearcherror" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagefirm" >
      <xs:sequence>
        <xs:element name="firm" type="entityfirm" nillable="true" minOccurs="0" />
        <xs:element name="last" type="entitycontact" nillable="true" minOccurs="0" />
        <xs:element name="repeat" type="entitycontact" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagedetailerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagesearch" >
      <xs:sequence>
        <xs:element name="/**/text" type="xs:string" />
        <xs:element name="firm" type="xs:anyType" />
        <xs:element name="contact" type="xs:anyType" />
        <xs:element name="pipol" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagecontracterror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tagversionnumberget" >
      <xs:complexContent>
       <xs:extension base="tagsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterlocale" >
      <xs:sequence>
        <xs:element name="session_parameter" type="xs:string" />
        <xs:element name="cookie_parameter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterlocalerequest" >
      <xs:complexContent>
       <xs:extension base="httpservletrequestwrapper">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="performancecounter" >
      <xs:sequence>
        <xs:element name="volatiletime" type="xs:long" />
        <xs:element name="volatilecount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="performancestate" >
      <xs:sequence>
        <xs:element name="counter" type="performancecounter" nillable="true" minOccurs="0" />
        <xs:element name="starttime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="performancemanager" >
      <xs:sequence>
        <xs:element name="counters" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterperformance" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterlogincheck" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionlistener" >
      <xs:sequence>
        <xs:element name="sessions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadfile" >
      <xs:complexContent>
       <xs:extension base="inputstream">
         <xs:sequence>
          <xs:element name="m_parent" type="upload" nillable="true" minOccurs="0" />
          <xs:element name="m_startdata" type="xs:long" />
          <xs:element name="m_enddata" type="xs:long" />
          <xs:element name="m_size" type="xs:long" />
          <xs:element name="mis_current_pos" type="xs:long" />
          <xs:element name="mis_size" type="xs:long" />
          <xs:element name="m_fieldname" type="xs:string" />
          <xs:element name="m_filename" type="xs:string" />
          <xs:element name="m_fileext" type="xs:string" />
          <xs:element name="m_filepathname" type="xs:string" />
          <xs:element name="m_contenttype" type="xs:string" />
          <xs:element name="m_contentdisp" type="xs:string" />
          <xs:element name="m_typemime" type="xs:string" />
          <xs:element name="m_subtypemime" type="xs:string" />
          <xs:element name="m_ismissing" type="xs:anyType" />
          <xs:element name="mark_position" type="xs:long" />
          <xs:element name="saveas_auto" type="xs:long" />
          <xs:element name="saveas_virtual" type="xs:long" />
          <xs:element name="saveas_physical" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadrequest" >
      <xs:complexContent>
       <xs:extension base="httpservletrequestwrapper">
         <xs:sequence>
          <xs:element name="upload_request_attribute" type="xs:string" />
          <xs:element name="su" type="upload" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
        <xs:element name="ds" type="xs:anyType" />
        <xs:element name="as" type="xs:anyType" />
        <xs:element name="m_binarray" type="xs:anyType" />
        <xs:element name="m_request" type="xs:anyType" />
        <xs:element name="m_response" type="xs:anyType" />
        <xs:element name="m_application" type="xs:anyType" />
        <xs:element name="m_totalbytes" type="xs:long" />
        <xs:element name="m_currentindex" type="xs:long" />
        <xs:element name="m_startdata" type="xs:long" />
        <xs:element name="m_enddata" type="xs:long" />
        <xs:element name="m_boundary" type="xs:string" />
        <xs:element name="m_totalmaxfilesize" type="xs:long" />
        <xs:element name="m_maxfilesize" type="xs:long" />
        <xs:element name="m_denyphysicalpath" type="xs:anyType" />
        <xs:element name="m_contentdisposition" type="xs:string" />
        <xs:element name="save_auto" type="xs:long" />
        <xs:element name="save_virtual" type="xs:long" />
        <xs:element name="save_physical" type="xs:long" />
        <xs:element name="m_files" type="uploadfiles" nillable="true" minOccurs="0" />
        <xs:element name="m_form" type="request" nillable="true" minOccurs="0" />
        <xs:element name="charset" type="xs:string" />
        <xs:element name="default_block_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadfiles" >
      <xs:sequence>
        <xs:element name="m_files" type="xs:anyType" />
        <xs:element name="m_counter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="request" >
      <xs:sequence>
        <xs:element name="m_parameters" type="xs:anyType" />
        <xs:element name="m_counter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadfilter" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterencoderequest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firmeditresultservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletfileget" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchresultservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firmaddresultservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginresultservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="block_delay" type="xs:long" />
          <xs:element name="block_count" type="xs:long" />
          <xs:element name="anonymoususerid" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pipoleditresultservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="firmnamesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicstyleerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicstyle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicstyleexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="errors" type="logicstyleerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="bold" type="xs:anyType" />
          <xs:element name="italy" type="xs:anyType" />
          <xs:element name="underline" type="xs:anyType" />
          <xs:element name="strukeout" type="xs:anyType" />
          <xs:element name="color" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="texterror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="textfacade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicactivex1cproductcategorymanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicactivex1cproductcategory" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:string" />
        <xs:element name="categoryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicactivex1cproductstoragemanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicactivex1cproductstorage" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="productcount" type="xs:long" />
        <xs:element name="productcountreserved" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicactivex1c" >
      <xs:sequence>
        <xs:element name="url1c" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactcomposite" >
      <xs:sequence>
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="rules" type="logicsearchrule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactrepeat" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchsourcefactory" >
      <xs:sequence>
        <xs:element name="registered" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulepipolcomposite" >
      <xs:sequence>
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="rules" type="logicsearchrule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulepipolfio" >
      <xs:sequence>
        <xs:element name="fio" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactuser" >
      <xs:sequence>
        <xs:element name="entity" type="entitysearchrulecontactuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchsource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulepipolother" >
      <xs:sequence>
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactdelete" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactstatus" >
      <xs:sequence>
        <xs:element name="entity" type="entitysearchrulecontactstatus" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmother" >
      <xs:sequence>
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulepipolcreate" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefactory" >
      <xs:sequence>
        <xs:element name="registered" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmname" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmdelete" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrule" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactdescription" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmcreate" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmuser" >
      <xs:sequence>
        <xs:element name="entity" type="entitysearchrulefirmuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulepipoluser" >
      <xs:sequence>
        <xs:element name="entity" type="entitysearchrulepipoluser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmsection" >
      <xs:sequence>
        <xs:element name="entity" type="entitysearchrulefirmsection" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulecontactcreate" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchsourcefirmpipolcontact" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulefirmcomposite" >
      <xs:sequence>
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="rules" type="logicsearchrule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicsearchrulepipoldelete" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="finish" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicfirmsortcomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailfolder" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="messages" type="xs:long" />
        <xs:element name="notreadmessages" type="xs:long" />
        <xs:element name="deletemessages" type="xs:long" />
        <xs:element name="path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailproviderexchange" >
      <xs:complexContent>
       <xs:extension base="mailprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailcontent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcontentfile" >
      <xs:complexContent>
       <xs:extension base="mailcontent">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="data" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailcontenttext" >
      <xs:complexContent>
       <xs:extension base="mailcontent">
         <xs:sequence>
          <xs:element name="text" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailproviderfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailproviderpop3" >
      <xs:sequence>
        <xs:element name="items" type="mailitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailproviderexchangeimap4" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailproviderfactorygeneral" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailauthenticator" >
      <xs:complexContent>
       <xs:extension base="authenticator">
         <xs:sequence>
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mailitem" >
      <xs:sequence>
        <xs:element name="number" type="xs:long" />
        <xs:element name="send" type="xs:dateTime" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="from" type="xs:anyType" />
        <xs:element name="to" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailfacade" >
      <xs:sequence>
        <xs:element name="cache" type="mailcache" nillable="true" minOccurs="0" />
        <xs:element name="providerfactory" type="mailproviderfactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailcache" >
      <xs:sequence>
        <xs:element name="cache_mail_item" type="xs:string" />
        <xs:element name="cache_exprire_second" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logiccategoryerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicproduct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logiccurrencyerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logiccurrencyexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="errors" type="logiccurrencyerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="currency" type="entitycurrency" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logiccurrency" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicproductprice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicproductpriceerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicrate" >
      <xs:sequence>
        <xs:element name="use" type="xs:anyType" />
        <xs:element name="getter" type="logicrategetter" nillable="true" minOccurs="0" />
        <xs:element name="cache" type="logicratecache" nillable="true" minOccurs="0" />
        <xs:element name="synchronizate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicrateitem" >
      <xs:sequence>
        <xs:element name="date" type="xs:long" />
        <xs:element name="value" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicrategetter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicratecache" >
      <xs:sequence>
        <xs:element name="cache_item" type="xs:string" />
        <xs:element name="cache_exprire_second" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicrategetterfromuah" >
      <xs:sequence>
        <xs:element name="use_url" type="xs:string" />
        <xs:element name="format" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicproductpriceexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="productprice" type="entityproductprice" nillable="true" minOccurs="0" />
          <xs:element name="errors" type="logicproductpriceerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logicproducterror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logicproductexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="product" type="entityproduct" nillable="true" minOccurs="0" />
          <xs:element name="errors" type="logicproducterror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logiccategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logiccategoryexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="errors" type="logiccategoryerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="category" type="entitycategory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logictidingexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="tiding" type="entitytiding" nillable="true" minOccurs="0" />
          <xs:element name="errors" type="logictidingerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logictidingerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logictidingcategoryerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logictidingcategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logictiding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logictidingcategoryexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="errors" type="logictidingcategoryerror" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="tidingcategory" type="entitytidingcategory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletimageget" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletfileget" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagversionnumberget" >
      <xs:complexContent>
       <xs:extension base="tagsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagloginlinkget" >
      <xs:complexContent>
       <xs:extension base="tagsupport">
         <xs:sequence>
          <xs:element name="always" type="xs:string" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagloginadmincheck" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taglogininputget" >
      <xs:complexContent>
       <xs:extension base="tagsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ehcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 