FOXTROT/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="carer" >
      <xs:complexContent>
       <xs:extension base="abstractmodel">
         <xs:sequence>
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="age" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="rating" type="xs:long" />
          <xs:element name="servicecounter" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 