aws-proyecto-ms/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cedula" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="apellido" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="estado" type="xs:string" />
        <xs:element name="GeneratedName" type="region" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="region" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 