bookstore/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bookorder" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="bookid" type="xs:anyType" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="booknum" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookcategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="bookid" type="xs:anyType" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="//属性与表中字段名一致id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="press" type="xs:string" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
        <xs:element name="wallet" type="xs:double" />
        <xs:element name="manager" type="xs:long" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booklist" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indent" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="delivertime" type="xs:dateTime" />
        <xs:element name="acquiretime" type="xs:dateTime" />
        <xs:element name="deliverpos" type="xs:string" />
        <xs:element name="acquirepos" type="xs:string" />
        <xs:element name="curpos" type="xs:string" />
        <xs:element name="delivermethod" type="xs:string" />
        <xs:element name="state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cart" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="bookid" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notices" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="notice" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discussion" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookbooklist" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="bookid" type="xs:anyType" />
        <xs:element name="booklistid" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 