2020_Public_VPP/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pvmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="additional-spring-configuration-metadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userprincipal" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="user" type="user_view" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="siteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteimageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitedeviceservice" nillable="true" minOccurs="0" />
        <xs:element name="prop" type="fileuploadproperties" nillable="true" minOccurs="0" />
        <xs:element name="//" type="sitedevicecontroller" nillable="true" minOccurs="0" />
        <xs:element name="scmanager" type="schedularmanager" nillable="true" minOccurs="0" />
        <xs:element name="sdtfileformat" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticscontroller" >
      <xs:sequence>
        <xs:element name="btestflag" type="xs:anyType" />
        <xs:element name="GeneratedName" type="statisticsservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="sdt2" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esstradingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="esstradingservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solarmonitoringcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="solarmonitoringservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitedeviceservice" nillable="true" minOccurs="0" />
        <xs:element name="lgc" type="xs:anyType" />
        <xs:element name="sdf_default" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceeventcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deviceeventservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="sdt2" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
        <xs:element name="hash_inverter_dasstech" type="xs:anyType" />
        <xs:element name="hash_inverter_simulator" type="xs:anyType" />
        <xs:element name="hash_ess_lg" type="xs:anyType" />
        <xs:element name="hash_ess_tp" type="xs:anyType" />
        <xs:element name="hash_ess_sungheun" type="xs:anyType" />
        <xs:element name="hash_tracker_sungchang" type="xs:anyType" />
        <xs:element name="hash_sensorstation_sungchang" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="devicecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deviceservice" nillable="true" minOccurs="0" />
        <xs:element name="lgc" type="xs:anyType" />
        <xs:element name="sdtformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitedevicecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sitedeviceservice" nillable="true" minOccurs="0" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="generationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essschedulingcontroller" >
      <xs:sequence>
        <xs:element name="use_scheduler" type="xs:anyType" />
        <xs:element name="scmanager" type="schedularmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="essschedulingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="essmonitoringservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="sdt2" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testdataservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="weatherservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitedeviceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceeventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="prop" type="fileuploadproperties" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="httprequester" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportschedular" nillable="true" minOccurs="0" />
        <xs:element name="sdtformat" type="xs:anyType" />
        <xs:element name="sdtfileformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essmonitoringcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="essmonitoringservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solardevicecontrolcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="solardevicecontrolservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectsitecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="selectsiteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardservice" nillable="true" minOccurs="0" />
        <xs:element name="bfixserialarea" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="dashboardservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="selectsiteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solarmonitoringservice" nillable="true" minOccurs="0" />
        <xs:element name="lgc" type="xs:anyType" />
        <xs:element name="GeneratedName" type="weatherservice" nillable="true" minOccurs="0" />
        <xs:element name="list_clearweather" type="xs:anyType" />
        <xs:element name="list_bitcloudyweather" type="xs:anyType" />
        <xs:element name="list_cloudyweather" type="xs:anyType" />
        <xs:element name="list_rainyweather" type="xs:anyType" />
        <xs:element name="list_showerweather" type="xs:anyType" />
        <xs:element name="list_thunderweather" type="xs:anyType" />
        <xs:element name="list_snowyweather" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="exportreportservice" nillable="true" minOccurs="0" />
        <xs:element name="sdt" type="xs:anyType" />
        <xs:element name="lgc" type="xs:anyType" />
        <xs:element name="prop" type="fileuploadproperties" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="global" >
      <xs:sequence>
        <xs:element name="g_ess_schedular_connect_db_ip" type="xs:string" />
        <xs:element name="g_ess_schedular_connect_db_port" type="xs:long" />
        <xs:element name="g_ess_schedular_connect_db_database" type="xs:string" />
        <xs:element name="//dockerg_ess_schedular_connect_db_userid" type="xs:string" />
        <xs:element name="g_ess_schedular_connect_db_pw" type="xs:string" />
        <xs:element name="g_solar_monitoring_invgeneration_cap_multiply" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_schedulemodel_readonly" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="socmin" type="xs:long" />
        <xs:element name="socmax" type="xs:long" />
        <xs:element name="reqoutput" type="xs:long" />
        <xs:element name="opmode" type="xs:anyType" />
        <xs:element name="opmodephase" type="xs:string" />
        <xs:element name="monthstart" type="xs:long" />
        <xs:element name="monthend" type="xs:long" />
        <xs:element name="weekcode" type="xs:long" />
        <xs:element name="chargemode" type="xs:anyType" />
        <xs:element name="chargemodephase" type="xs:string" />
        <xs:element name="timestart" type="xs:string" />
        <xs:element name="timeend" type="xs:string" />
        <xs:element name="timerun" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_schedulemodel" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="socmin" type="xs:anyType" />
        <xs:element name="socmax" type="xs:anyType" />
        <xs:element name="reqoutput" type="xs:anyType" />
        <xs:element name="opmode" type="xs:anyType" />
        <xs:element name="opmodephase" type="xs:string" />
        <xs:element name="monthstart" type="xs:long" />
        <xs:element name="monthend" type="xs:long" />
        <xs:element name="weekcode" type="xs:anyType" />
        <xs:element name="chargemode" type="xs:anyType" />
        <xs:element name="chargemodephase" type="xs:string" />
        <xs:element name="timestart" type="xs:string" />
        <xs:element name="timeend" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_socstatemodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="socmin" type="xs:anyType" />
        <xs:element name="socmax" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalinfo" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sum_capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="generate_percent" type="xs:double" />
        <xs:element name="haveelse" type="xs:anyType" />
        <xs:element name="haveess" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreport_capacity" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="pv_capacity" type="xs:double" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="pcs_capacity" type="xs:long" />
        <xs:element name="batt_capacity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuweatherforecast" >
      <xs:sequence>
        <xs:element name="idxcode" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="loccode" type="xs:string" />
        <xs:element name="weathercode_day" type="xs:long" />
        <xs:element name="weatherphrase_day" type="xs:string" />
        <xs:element name="weathercode_night" type="xs:long" />
        <xs:element name="weatherphrase_night" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accuweatherweather" >
      <xs:sequence>
        <xs:element name="idxcode" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="nationcode" type="xs:string" />
        <xs:element name="loccode" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
        <xs:element name="isdaylight" type="xs:long" />
        <xs:element name="temperature" type="xs:double" />
        <xs:element name="realfeeltemp" type="xs:double" />
        <xs:element name="dewpoint" type="xs:double" />
        <xs:element name="windspeed" type="xs:double" />
        <xs:element name="winddirection_degrees" type="xs:long" />
        <xs:element name="winddirection_localized" type="xs:string" />
        <xs:element name="windgustspeed" type="xs:double" />
        <xs:element name="relativehumidity" type="xs:long" />
        <xs:element name="visibility" type="xs:double" />
        <xs:element name="ceiling" type="xs:long" />
        <xs:element name="uvindextext" type="xs:string" />
        <xs:element name="precipitationprobability" type="xs:long" />
        <xs:element name="rainprobability" type="xs:long" />
        <xs:element name="snowprobability" type="xs:long" />
        <xs:element name="iceprobability" type="xs:long" />
        <xs:element name="totalliquid" type="xs:long" />
        <xs:element name="rain" type="xs:long" />
        <xs:element name="snow" type="xs:long" />
        <xs:element name="ice" type="xs:long" />
        <xs:element name="cloudcover" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checksitedevice" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="cnt" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitestateelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="statecode" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_register" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="loginlock" type="xs:anyType" />
        <xs:element name="lockcount" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="uptdate" type="xs:string" />
        <xs:element name="lock_expire_date" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="xs:string" />
        <xs:element name="permissions" type="xs:string" />
        <xs:element name="passwordauth" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weather_tomorrow" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generation" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="output" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata_lastdata" >
      <xs:sequence>
        <xs:element name="unit" type="xs:long" />
        <xs:element name="last_accu_energy" type="xs:long" />
        <xs:element name="total_accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteimageelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name_original" type="xs:string" />
        <xs:element name="name_stored" type="xs:string" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="ext" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weather_aft2day" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitelist_esscheck_addon" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceevent" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="eventcode" type="xs:string" />
        <xs:element name="eventlevel" type="xs:string" />
        <xs:element name="eventphase" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="readflag" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreport_inverterdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="multiid" type="xs:long" />
        <xs:element name="output" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddressloccode" >
      <xs:sequence>
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_thismonth" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date_day" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_lastyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date_day" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_localsensor" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="temperature_panel" type="xs:double" />
        <xs:element name="temperature_atmosphere" type="xs:double" />
        <xs:element name="illumination_panel_horizontal" type="xs:long" />
        <xs:element name="illumination_panel_slope" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_monthly_chart_lastyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="aft_accu" type="xs:long" />
        <xs:element name="prev_accu" type="xs:long" />
        <xs:element name="sum_generate_" type="xs:double" />
        <xs:element name="reg_date_start" type="xs:string" />
        <xs:element name="reg_date_end" type="xs:string" />
        <xs:element name="reg_date_month" type="xs:string" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date_month" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_yesterday" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_mapdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_map_displaydata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_sitegeneration" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sum_capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_generate_today" type="xs:double" />
        <xs:element name="generate_percent" type="xs:double" />
        <xs:element name="sum_accuenergy" type="xs:double" />
        <xs:element name="sum_generate_yesterday" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_inverterdetails" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="output" type="xs:double" />
        <xs:element name="accu_energy" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_today" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_invertergeneration" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="generate_perhour" type="xs:double" />
        <xs:element name="scale_generate_perhour" type="xs:double" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="hour" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_lastyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_lastmonth" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date_day" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_monthly_chart_thisyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="aft_accu" type="xs:long" />
        <xs:element name="prev_accu" type="xs:long" />
        <xs:element name="sum_generate_" type="xs:double" />
        <xs:element name="reg_date_start" type="xs:string" />
        <xs:element name="reg_date_end" type="xs:string" />
        <xs:element name="reg_date_month" type="xs:string" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date_month" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="site" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="builder" type="xs:string" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="picture_url" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="build_date" type="xs:string" />
        <xs:element name="tracker_ip" type="xs:string" />
        <xs:element name="tracker_port" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="device" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalchart_yesterday" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata_chart" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="reg_date_day" type="xs:string" />
        <xs:element name="reg_date_month" type="xs:string" />
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalinfo" >
      <xs:sequence>
        <xs:element name="sum_capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="generate_percent" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="totalgeneration" >
      <xs:sequence>
        <xs:element name="totalcapacity" type="xs:double" />
        <xs:element name="sum_calc" type="xs:double" />
        <xs:element name="co2reduce" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_subtotal_info" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="current_output" type="xs:double" />
        <xs:element name="accu_energy" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_esschartdata" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="regdate" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="rnk" type="xs:long" />
        <xs:element name="scaled_output" type="xs:double" />
        <xs:element name="scaled_accu_energy" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_esspcschartdata" >
      <xs:sequence>
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_essbmschartdata" >
      <xs:sequence>
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_essdetails" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="////@jsonignore//@column(nullable" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_output" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_devicecontrol" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="isoperating" type="xs:anyType" />
        <xs:element name="isidling" type="xs:anyType" />
        <xs:element name="ischarging" type="xs:anyType" />
        <xs:element name="isdischarging" type="xs:anyType" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_devicecontrol_readonly" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="isoperating" type="xs:anyType" />
        <xs:element name="opcode" type="xs:anyType" />
        <xs:element name="isidling" type="xs:anyType" />
        <xs:element name="ischarging" type="xs:anyType" />
        <xs:element name="isdischarging" type="xs:anyType" />
        <xs:element name="opphase" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_devicecontrol" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="isauto" type="xs:anyType" />
        <xs:element name="modecode" type="xs:anyType" />
        <xs:element name="modephase" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteimageelement_readonly" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="name_original" type="xs:string" />
        <xs:element name="name_stored" type="xs:string" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="ext" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalchart_yesterday" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="regdate" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="regdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recentrecinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="amount_trade" type="xs:long" />
        <xs:element name="rec_price_avg" type="xs:long" />
        <xs:element name="rec_price_high" type="xs:long" />
        <xs:element name="rec_price_low" type="xs:long" />
        <xs:element name="rec_price_end" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectsmpinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="smp_price_yst" type="xs:long" />
        <xs:element name="smp_price_start" type="xs:long" />
        <xs:element name="smp_price_high" type="xs:long" />
        <xs:element name="smp_price_low" type="xs:long" />
        <xs:element name="smp_price_high_limit" type="xs:long" />
        <xs:element name="smp_price_low_limit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectrecinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="rec_price_yst" type="xs:long" />
        <xs:element name="rec_price_start" type="xs:long" />
        <xs:element name="rec_price_high" type="xs:long" />
        <xs:element name="rec_price_low" type="xs:long" />
        <xs:element name="rec_price_high_limit" type="xs:long" />
        <xs:element name="rec_price_low_limit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storingsmpdetails" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="smp_high" type="xs:double" />
        <xs:element name="smp_low" type="xs:double" />
        <xs:element name="smp_weightavg" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todaysmpinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="smp_price_high" type="xs:double" />
        <xs:element name="smp_price_low" type="xs:double" />
        <xs:element name="smp_price_avg" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storingsmpinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="smp_price" type="xs:double" />
        <xs:element name="smp_weight" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesslog" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="access_date" type="xs:string" />
        <xs:element name="expire_date" type="xs:string" />
        <xs:element name="cpu_usage" type="xs:double" />
        <xs:element name="freememsize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_subtotalchart_today" >
      <xs:sequence>
        <xs:element name="idx" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="////intdeviceiddate" type="xs:string" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="//@jsonignore////intmx_accu//////@jsonignore////intmn_accugenerate_perhour" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalchart_today" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="regdate" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="regdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectsiteelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_view" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="loginlock" type="xs:anyType" />
        <xs:element name="lockcount" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="uptdate" type="xs:string" />
        <xs:element name="lock_expire_date" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="xs:string" />
        <xs:element name="permissions" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="multiid" type="xs:long" />
        <xs:element name="//////intpv_v//////intpv_i//////intpv_output//////intsys_r_v//@column(nullable" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="//////intfaultcodereg_date" type="xs:string" />
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreport" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="unit" type="xs:long" />
        <xs:element name="generation" type="xs:double" />
        <xs:element name="prev_generation" type="xs:double" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata_info" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="output" type="xs:double" />
        <xs:element name="accu_energy" type="xs:double" />
        <xs:element name="capacity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_benefitdata_inverterdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="multiid" type="xs:long" />
        <xs:element name="output" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationdatamodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
        <xs:element name="generation" type="xs:double" />
        <xs:element name="gen10to16" type="xs:double" />
        <xs:element name="charge" type="xs:double" />
        <xs:element name="discharge" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_price" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="batt_capacity" type="xs:double" />
        <xs:element name="smp_price" type="xs:double" />
        <xs:element name="smp_weight" type="xs:double" />
        <xs:element name="rec_price" type="xs:double" />
        <xs:element name="rec_weight" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_siteess" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="batt_capacity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_benefitdatamodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
        <xs:element name="generation" type="xs:double" />
        <xs:element name="charge" type="xs:double" />
        <xs:element name="discharge" type="xs:double" />
        <xs:element name="smp_price" type="xs:double" />
        <xs:element name="smp_weight" type="xs:double" />
        <xs:element name="rec_price" type="xs:double" />
        <xs:element name="rec_weight" type="xs:double" />
        <xs:element name="pv_benefit" type="xs:double" />
        <xs:element name="rec_benefit" type="xs:double" />
        <xs:element name="stotal_benefit" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationdata_essdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationdata_inverterdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="multiid" type="xs:long" />
        <xs:element name="output" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationinfomodel" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generation" type="xs:double" />
        <xs:element name="sum_10to16" type="xs:double" />
        <xs:element name="sum_charge" type="xs:double" />
        <xs:element name="sum_discharge" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_benefitdata_essdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weather_today" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
        <xs:element name="temperature" type="xs:double" />
        <xs:element name="relativehumidity" type="xs:long" />
        <xs:element name="windspeed" type="xs:double" />
        <xs:element name="snow" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essconnection" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginviewmodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitedevice" >
      <xs:sequence>
        <xs:element name="idxcode" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="pv_capacity" type="xs:double" />
        <xs:element name="pv_quantity" type="xs:long" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalchart_today" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="device" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="pcs_capacity" type="xs:long" />
        <xs:element name="batt_capacity" type="xs:double" />
        <xs:element name="batt_type" type="xs:string" />
        <xs:element name="manager" type="xs:string" />
        <xs:element name="manager_tel" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitelistelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_todayaccu" type="xs:double" />
        <xs:element name="buildyear" type="xs:long" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="statecode" type="xs:long" />
        <xs:element name="haveelse" type="xs:anyType" />
        <xs:element name="haveess" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="retinfo" >
      <xs:sequence>
        <xs:element name="sum_generation" type="xs:double" />
        <xs:element name="sum_charge" type="xs:double" />
        <xs:element name="sum_discharge" type="xs:double" />
        <xs:element name="sum_benefit" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prevdata" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="generate" type="xs:double" />
        <xs:element name="essefficiency" type="xs:long" />
        <xs:element name="rec" type="xs:double" />
        <xs:element name="avgcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esschartdata" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="date_unit" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="efficiency" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weatherdata" >
      <xs:sequence>
        <xs:element name="idxcode" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="nationcode" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
        <xs:element name="isdaylight" type="xs:long" />
        <xs:element name="temperature" type="xs:double" />
        <xs:element name="realfeeltemp" type="xs:double" />
        <xs:element name="dewpoint" type="xs:double" />
        <xs:element name="windspeed" type="xs:double" />
        <xs:element name="winddirection_degrees" type="xs:long" />
        <xs:element name="winddirection_localized" type="xs:string" />
        <xs:element name="windgustspeed" type="xs:double" />
        <xs:element name="relativehumidity" type="xs:long" />
        <xs:element name="visibility" type="xs:double" />
        <xs:element name="ceiling" type="xs:long" />
        <xs:element name="uvindextext" type="xs:string" />
        <xs:element name="precipitationprobability" type="xs:long" />
        <xs:element name="rainprobability" type="xs:long" />
        <xs:element name="snowprobability" type="xs:long" />
        <xs:element name="iceprobability" type="xs:long" />
        <xs:element name="totalliquid" type="xs:long" />
        <xs:element name="rain" type="xs:long" />
        <xs:element name="snow" type="xs:long" />
        <xs:element name="ice" type="xs:long" />
        <xs:element name="cloudcover" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report_chartdata" >
      <xs:sequence>
        <xs:element name="day" type="xs:long" />
        <xs:element name="generate" type="xs:double" />
        <xs:element name="charge" type="xs:double" />
        <xs:element name="discharge" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report_esschartdata" >
      <xs:sequence>
        <xs:element name="unit" type="xs:long" />
        <xs:element name="efficiency" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdata" >
      <xs:sequence>
        <xs:element name="//headerreport_title" type="xs:string" />
        <xs:element name="report_owner" type="xs:string" />
        <xs:element name="report_address" type="xs:string" />
        <xs:element name="report_date" type="xs:string" />
        <xs:element name="report_type" type="xs:string" />
        <xs:element name="report_author" type="xs:string" />
        <xs:element name="report_daterange" type="xs:string" />
        <xs:element name="report_datecount" type="xs:string" />
        <xs:element name="//capacitiescapacities_pv" type="xs:double" />
        <xs:element name="capacities_pcs" type="xs:double" />
        <xs:element name="capacities_battery" type="xs:double" />
        <xs:element name="//10to16f10to16_total" type="xs:double" />
        <xs:element name="f10to16_avg" type="xs:double" />
        <xs:element name="f10to16_max" type="xs:double" />
        <xs:element name="//essess_charge" type="xs:double" />
        <xs:element name="ess_discharge" type="xs:double" />
        <xs:element name="ess_efficiency" type="xs:double" />
        <xs:element name="ess_cycle" type="xs:long" />
        <xs:element name="//chartdata(gcd)list_chartdata" type="report_chartdata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//chartdata(essefficiency)list_esschartdata" type="esschartdata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//errorchart&total,faultreset&top5errorerror" type="report_error" nillable="true" minOccurs="0" />
        <xs:element name="//prevmonthly/quarterdataofthisyearprevdata" type="prevdata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportschedular" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="siteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitedeviceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statisticscontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="deviceeventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exportreportservice" nillable="true" minOccurs="0" />
        <xs:element name="reportschedular" type="xs:anyType" />
        <xs:element name="rschedulartimer" type="xs:anyType" />
        <xs:element name="hash_reportdata" type="xs:anyType" />
        <xs:element name="plot" type="xs:anyType" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="sdf_quarter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report_errordata" >
      <xs:sequence>
        <xs:element name="err" type="xs:string" />
        <xs:element name="errcode" type="xs:long" />
        <xs:element name="errcount" type="xs:long" />
        <xs:element name="list_errdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report_error" >
      <xs:sequence>
        <xs:element name="total" type="xs:long" />
        <xs:element name="faultcount" type="xs:long" />
        <xs:element name="faults" type="xs:anyType" />
        <xs:element name="data" type="report_errordata" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httprequester" >
      <xs:sequence>
        <xs:element name="sql" type="xs:string" />
        <xs:element name="hash_recentrec" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="priceschedular" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="bisrun" type="xs:anyType" />
          <xs:element name="lstartdelay" type="xs:long" />
          <xs:element name="ltimedelay" type="xs:long" />
          <xs:element name="" type="httprequester" nillable="true" minOccurs="0" />
          <xs:element name="" type="esstradingservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboardmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdatamapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essmonitoringmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticsmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esstradingmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreportmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitelistmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceeventmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selectsiteserviceimpl" >
      <xs:sequence>
        <xs:element name="totalgeneraionrepository" type="totalgenerationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitelistrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitelistmapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="selectsiterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitelist_esscheck_addonrepository" nillable="true" minOccurs="0" />
        <xs:element name="cheksitedevicerepository" type="checksitedevicerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inverterdatamapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weatherservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreportserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="exportreportmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weatherserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="weather_todayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="weather_tomorrowrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="weather_aft2dayrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdataservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="statisticsmapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ess_scheduling_schedulereadonlyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteimageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceeventserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deviceeventmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esstradingserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="esstradingmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesslogserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accesslogrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solarmonitoringserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="solar_monitoring_sitegenerationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_invertergenerationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_inverterdetailsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inverterdatamapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_mapdatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_map_displaydatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_localsensorrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_today_chart_yesterdayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_today_chart_todayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_today_chart_lastyearrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_daily_chart_lastmonthrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_daily_chart_thismonthrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_daily_chart_lastyearrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_monthly_chart_lastyearrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="solar_monitoring_monthly_chart_thisyearrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solardevicecontrolserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="solar_devicecontrolrepository" nillable="true" minOccurs="0" />
        <xs:element name="bchangemodewhenmanual" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solarmonitoringservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="devicerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceeventservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdataserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="inverterdatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="weatherdatarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essmonitoringservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userregisterrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usermapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesslogservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essschedulingserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ess_scheduling_socstaterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ess_scheduling_schedulerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ess_scheduling_schedulereadonlyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="siterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_admin_totalinforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_admin_totalchart_todayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_admin_totalchart_yesterdayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_admin_subtotalchart_todayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_admin_subtotal_inforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_user_totalinforepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_user_totalchart_todayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboard_user_totalchart_yesterdayrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inverterdatamapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dashboardmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="siterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitedeviceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitedeviceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteimageserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="siteimagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteimagereadonlyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitedeviceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="essconnectionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitedevicerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectsiteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboardservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userprincipaldetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esstradingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="generationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solardevicecontrolservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essschedulingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essmonitoringserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ess_monitoring_essdetailsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ess_monitoring_esschartdatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ess_monitoring_devicecontrolrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ess_monitoring_devicecontrolreadonlyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="essmonitoringmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthorizationfilter" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationfilter">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="usernamepasswordauthenticationfilter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sdf" type="xs:anyType" />
          <xs:element name="" type="accesslogrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="siterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="fail_count_to_input_captcha" type="xs:long" />
          <xs:element name="fail_count_to_lock_login" type="xs:long" />
          <xs:element name="lock_minute_when_lock_login" type="xs:long" />
          <xs:element name="tel" type="xs:string" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwttokenprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybatisconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="//jwttokenproviderjwttokenprovider" type="userprincipaldetailsservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="siterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="accesslogrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileuploadproperties" >
      <xs:sequence>
        <xs:element name="uploaddir" type="xs:string" />
        <xs:element name="reportdir" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceevententitylistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedule" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="soc_min" type="xs:long" />
        <xs:element name="soc_max" type="xs:long" />
        <xs:element name="reqoutput" type="xs:long" />
        <xs:element name="opmode" type="xs:long" />
        <xs:element name="month_start" type="xs:long" />
        <xs:element name="month_end" type="xs:long" />
        <xs:element name="weekcode" type="xs:long" />
        <xs:element name="chargemode" type="xs:long" />
        <xs:element name="bisstart" type="xs:anyType" />
        <xs:element name="time_start" type="xs:string" />
        <xs:element name="time_end" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedularmanager" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="schedulelist" type="xs:anyType" />
          <xs:element name="connectioninfolist" type="xs:anyType" />
          <xs:element name="tcconnectioninfolist" type="xs:anyType" />
          <xs:element name="sdf" type="xs:anyType" />
          <xs:element name="sdf_time" type="xs:anyType" />
          <xs:element name="systemmonth" type="xs:long" />
          <xs:element name="systemdow" type="xs:long" />
          <xs:element name="datacollectcount" type="xs:long" />
          <xs:element name="bthreadrun" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="esslogdata" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="eventcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedulebatchrunner" >
      <xs:complexContent>
       <xs:extension base="thread">
         <xs:sequence>
          <xs:element name="ip" type="xs:string" />
          <xs:element name="port" type="xs:long" />
          <xs:element name="schedules" type="schedule" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="modbus" type="modbusconnector" nillable="true" minOccurs="0" />
          <xs:element name="" type="essmonitoringservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="modbusconnector" >
      <xs:sequence>
        <xs:element name="modbus" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbconnector" >
      <xs:sequence>
        <xs:element name="conn" type="xs:anyType" />
        <xs:element name="sql" type="xs:string" />
        <xs:element name="sdf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essdata_sungheun" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="grid_voltage" type="xs:long" />
        <xs:element name="grid_current" type="xs:long" />
        <xs:element name="pv_voltage" type="xs:long" />
        <xs:element name="pv_current" type="xs:long" />
        <xs:element name="batt_voltage" type="xs:long" />
        <xs:element name="batt_current" type="xs:long" />
        <xs:element name="grid_frequency" type="xs:long" />
        <xs:element name="runflag" type="xs:long" />
        <xs:element name="faultcode" type="xs:long" />
        <xs:element name="gridreqpowerref" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essconnectionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<essconnection,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deviceeventrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<deviceevent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalchart_todayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dashboard_admin_totalchart_today,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_socstaterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ess_scheduling_socstatemodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="devicerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<device,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sitelist_esscheck_addonrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sitelist_esscheck_addon,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_lastyearrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_today_chart_lastyear,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalchart_yesterdayrepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_lastmonthrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_daily_chart_lastmonth,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_yesterdayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_today_chart_yesterday,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selectsiterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<selectsiteelement,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_devicecontrolreadonlyrepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalinforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dashboard_admin_totalinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weatherdatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<weatherdata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userregisterrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user_register,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalinforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dashboard_user_totalinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checksitedevicerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<checksitedevice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_subtotalchart_todayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dashboard_admin_subtotalchart_today,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_esschartdatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ess_monitoring_esschartdata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_thismonthrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_daily_chart_thismonth,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalchart_yesterdayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dashboard_admin_totalchart_yesterday,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_devicecontrolrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_devicecontrol,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_schedulereadonlyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ess_scheduling_schedulemodel_readonly,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_sitegenerationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_sitegeneration,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accesslogrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<accesslog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inverterdatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<inverterdata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_invertergenerationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_invertergeneration,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_essdetailsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ess_monitoring_essdetails,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="siteimagereadonlyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<siteimageelement_readonly,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_map_displaydatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_map_displaydata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="totalgenerationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<totalgeneration,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_lastyearrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_daily_chart_lastyear,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<generation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sitedevicerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sitedevice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_subtotal_inforepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<dashboard_admin_subtotal_info,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_inverterdetailsrepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weather_tomorrowrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<weather_tomorrow,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_localsensorrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_localsensor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_mapdatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_mapdata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_schedulerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ess_scheduling_schedulemodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weather_aft2dayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<weather_aft2day,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="siterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<site,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_todayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_today_chart_today,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_monthly_chart_lastyearrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_monthly_chart_lastyear">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weather_todayrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<weather_today,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalchart_todayrepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user_view,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="siteimagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<siteimageelement">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sitelistrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<sitelistelement,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_monthly_chart_thisyearrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<solar_monitoring_monthly_chart_thisyear,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_devicecontrolrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ess_monitoring_devicecontrol,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 