2020_Public_VPP/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ess_scheduling_schedulemodel_readonly" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="socmin" type="xs:long" />
        <xs:element name="socmax" type="xs:long" />
        <xs:element name="reqoutput" type="xs:long" />
        <xs:element name="opmode" type="xs:anyType" />
        <xs:element name="opmodephase" type="xs:string" />
        <xs:element name="monthstart" type="xs:long" />
        <xs:element name="monthend" type="xs:long" />
        <xs:element name="weekcode" type="xs:long" />
        <xs:element name="chargemode" type="xs:anyType" />
        <xs:element name="chargemodephase" type="xs:string" />
        <xs:element name="timestart" type="xs:string" />
        <xs:element name="timeend" type="xs:string" />
        <xs:element name="timerun" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_schedulemodel" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="socmin" type="xs:anyType" />
        <xs:element name="socmax" type="xs:anyType" />
        <xs:element name="reqoutput" type="xs:anyType" />
        <xs:element name="opmode" type="xs:anyType" />
        <xs:element name="opmodephase" type="xs:string" />
        <xs:element name="monthstart" type="xs:long" />
        <xs:element name="monthend" type="xs:long" />
        <xs:element name="weekcode" type="xs:anyType" />
        <xs:element name="chargemode" type="xs:anyType" />
        <xs:element name="chargemodephase" type="xs:string" />
        <xs:element name="timestart" type="xs:string" />
        <xs:element name="timeend" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_scheduling_socstatemodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="socmin" type="xs:anyType" />
        <xs:element name="socmax" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalinfo" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sum_capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="generate_percent" type="xs:double" />
        <xs:element name="haveelse" type="xs:anyType" />
        <xs:element name="haveess" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreport_capacity" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="pv_capacity" type="xs:double" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="pcs_capacity" type="xs:long" />
        <xs:element name="batt_capacity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checksitedevice" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="cnt" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitestateelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="statecode" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_register" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="loginlock" type="xs:anyType" />
        <xs:element name="lockcount" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="uptdate" type="xs:string" />
        <xs:element name="lock_expire_date" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="xs:string" />
        <xs:element name="permissions" type="xs:string" />
        <xs:element name="passwordauth" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weather_tomorrow" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generation" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="output" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata_lastdata" >
      <xs:sequence>
        <xs:element name="unit" type="xs:long" />
        <xs:element name="last_accu_energy" type="xs:long" />
        <xs:element name="total_accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteimageelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name_original" type="xs:string" />
        <xs:element name="name_stored" type="xs:string" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="ext" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weather_aft2day" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitelist_esscheck_addon" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceevent" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="eventcode" type="xs:string" />
        <xs:element name="eventlevel" type="xs:string" />
        <xs:element name="eventphase" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="readflag" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreport_inverterdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="multiid" type="xs:long" />
        <xs:element name="output" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddressloccode" >
      <xs:sequence>
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_thismonth" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date_day" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_lastyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date_day" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_localsensor" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="temperature_panel" type="xs:double" />
        <xs:element name="temperature_atmosphere" type="xs:double" />
        <xs:element name="illumination_panel_horizontal" type="xs:long" />
        <xs:element name="illumination_panel_slope" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_monthly_chart_lastyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="aft_accu" type="xs:long" />
        <xs:element name="prev_accu" type="xs:long" />
        <xs:element name="sum_generate_" type="xs:double" />
        <xs:element name="reg_date_start" type="xs:string" />
        <xs:element name="reg_date_end" type="xs:string" />
        <xs:element name="reg_date_month" type="xs:string" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date_month" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_yesterday" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_mapdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_map_displaydata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_sitegeneration" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sum_capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_generate_today" type="xs:double" />
        <xs:element name="generate_percent" type="xs:double" />
        <xs:element name="sum_accuenergy" type="xs:double" />
        <xs:element name="sum_generate_yesterday" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_inverterdetails" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="output" type="xs:double" />
        <xs:element name="accu_energy" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_today" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_invertergeneration" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="date" type="xs:string" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="generate_perhour" type="xs:double" />
        <xs:element name="scale_generate_perhour" type="xs:double" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="hour" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_today_chart_lastyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_daily_chart_lastmonth" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date_day" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_monitoring_monthly_chart_thisyear" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="aft_accu" type="xs:long" />
        <xs:element name="prev_accu" type="xs:long" />
        <xs:element name="sum_generate_" type="xs:double" />
        <xs:element name="reg_date_start" type="xs:string" />
        <xs:element name="reg_date_end" type="xs:string" />
        <xs:element name="reg_date_month" type="xs:string" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date_month" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="site" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="builder" type="xs:string" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="picture_url" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="build_date" type="xs:string" />
        <xs:element name="tracker_ip" type="xs:string" />
        <xs:element name="tracker_port" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="device" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalchart_yesterday" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata_chart" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="reg_date_day" type="xs:string" />
        <xs:element name="reg_date_month" type="xs:string" />
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalinfo" >
      <xs:sequence>
        <xs:element name="sum_capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="generate_percent" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="totalgeneration" >
      <xs:sequence>
        <xs:element name="totalcapacity" type="xs:double" />
        <xs:element name="sum_calc" type="xs:double" />
        <xs:element name="co2reduce" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_subtotal_info" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="current_output" type="xs:double" />
        <xs:element name="accu_energy" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_esschartdata" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="regdate" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="rnk" type="xs:long" />
        <xs:element name="scaled_output" type="xs:double" />
        <xs:element name="scaled_accu_energy" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_essdetails" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="////@jsonignore//@column(nullable" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_output" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_devicecontrol" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="isoperating" type="xs:anyType" />
        <xs:element name="isidling" type="xs:anyType" />
        <xs:element name="ischarging" type="xs:anyType" />
        <xs:element name="isdischarging" type="xs:anyType" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ess_monitoring_devicecontrol_readonly" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="isoperating" type="xs:anyType" />
        <xs:element name="opcode" type="xs:anyType" />
        <xs:element name="isidling" type="xs:anyType" />
        <xs:element name="ischarging" type="xs:anyType" />
        <xs:element name="isdischarging" type="xs:anyType" />
        <xs:element name="opphase" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solar_devicecontrol" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="isauto" type="xs:anyType" />
        <xs:element name="modecode" type="xs:anyType" />
        <xs:element name="modephase" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteimageelement_readonly" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="name_original" type="xs:string" />
        <xs:element name="name_stored" type="xs:string" />
        <xs:element name="size" type="xs:long" />
        <xs:element name="ext" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalchart_yesterday" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="regdate" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="regdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recentrecinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="amount_trade" type="xs:long" />
        <xs:element name="rec_price_avg" type="xs:long" />
        <xs:element name="rec_price_high" type="xs:long" />
        <xs:element name="rec_price_low" type="xs:long" />
        <xs:element name="rec_price_end" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectsmpinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="smp_price_yst" type="xs:long" />
        <xs:element name="smp_price_start" type="xs:long" />
        <xs:element name="smp_price_high" type="xs:long" />
        <xs:element name="smp_price_low" type="xs:long" />
        <xs:element name="smp_price_high_limit" type="xs:long" />
        <xs:element name="smp_price_low_limit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subjectrecinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="rec_price_yst" type="xs:long" />
        <xs:element name="rec_price_start" type="xs:long" />
        <xs:element name="rec_price_high" type="xs:long" />
        <xs:element name="rec_price_low" type="xs:long" />
        <xs:element name="rec_price_high_limit" type="xs:long" />
        <xs:element name="rec_price_low_limit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storingsmpdetails" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="smp_high" type="xs:double" />
        <xs:element name="smp_low" type="xs:double" />
        <xs:element name="smp_weightavg" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todaysmpinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="smp_price_high" type="xs:double" />
        <xs:element name="smp_price_low" type="xs:double" />
        <xs:element name="smp_price_avg" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storingsmpinfo" >
      <xs:sequence>
        <xs:element name="date" type="xs:string" />
        <xs:element name="smp_price" type="xs:double" />
        <xs:element name="smp_weight" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesslog" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="access_date" type="xs:string" />
        <xs:element name="expire_date" type="xs:string" />
        <xs:element name="cpu_usage" type="xs:double" />
        <xs:element name="freememsize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_subtotalchart_today" >
      <xs:sequence>
        <xs:element name="idx" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="////intdeviceiddate" type="xs:string" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="//@jsonignore////intmx_accu//////@jsonignore////intmn_accugenerate_perhour" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_user_totalchart_today" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="regdate" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="regdate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selectsiteelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_view" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="postcode" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="loginlock" type="xs:anyType" />
        <xs:element name="lockcount" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="uptdate" type="xs:string" />
        <xs:element name="lock_expire_date" type="xs:string" />
        <xs:element name="active" type="xs:long" />
        <xs:element name="roles" type="xs:string" />
        <xs:element name="permissions" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="multiid" type="xs:long" />
        <xs:element name="//////intpv_v//////intpv_i//////intpv_output//////intsys_r_v//@column(nullable" type="xs:long" />
        <xs:element name="accu_energy" type="xs:long" />
        <xs:element name="//////intfaultcodereg_date" type="xs:string" />
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exportreport" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="unit" type="xs:long" />
        <xs:element name="generation" type="xs:double" />
        <xs:element name="prev_generation" type="xs:double" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inverterdata_info" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="output" type="xs:double" />
        <xs:element name="accu_energy" type="xs:double" />
        <xs:element name="capacity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationdatamodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
        <xs:element name="generation" type="xs:double" />
        <xs:element name="gen10to16" type="xs:double" />
        <xs:element name="charge" type="xs:double" />
        <xs:element name="discharge" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_price" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="batt_capacity" type="xs:double" />
        <xs:element name="smp_price" type="xs:double" />
        <xs:element name="smp_weight" type="xs:double" />
        <xs:element name="rec_price" type="xs:double" />
        <xs:element name="rec_weight" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_siteess" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="batt_capacity" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_benefitdatamodel" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
        <xs:element name="generation" type="xs:double" />
        <xs:element name="charge" type="xs:double" />
        <xs:element name="discharge" type="xs:double" />
        <xs:element name="smp_price" type="xs:double" />
        <xs:element name="smp_weight" type="xs:double" />
        <xs:element name="rec_price" type="xs:double" />
        <xs:element name="rec_weight" type="xs:double" />
        <xs:element name="pv_benefit" type="xs:double" />
        <xs:element name="rec_benefit" type="xs:double" />
        <xs:element name="stotal_benefit" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationdata_essdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_generationinfomodel" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sum_generation" type="xs:double" />
        <xs:element name="sum_10to16" type="xs:double" />
        <xs:element name="sum_charge" type="xs:double" />
        <xs:element name="sum_discharge" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statistics_benefitdata_essdata" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="idx" type="xs:long" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="essid" type="xs:long" />
        <xs:element name="pcs_vpcs" type="xs:double" />
        <xs:element name="pcs_ipcs" type="xs:double" />
        <xs:element name="pcs_hzpcs" type="xs:double" />
        <xs:element name="pcs_tpcs" type="xs:double" />
        <xs:element name="pcs_state" type="xs:long" />
        <xs:element name="bms_vbms" type="xs:double" />
        <xs:element name="bms_ibms" type="xs:double" />
        <xs:element name="bms_socbms" type="xs:double" />
        <xs:element name="bms_sohbms" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="local_time" type="xs:string" />
        <xs:element name="unit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weather_today" >
      <xs:sequence>
        <xs:element name="tel" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="localized" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
        <xs:element name="temperature" type="xs:double" />
        <xs:element name="relativehumidity" type="xs:long" />
        <xs:element name="windspeed" type="xs:double" />
        <xs:element name="snow" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essconnection" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitedevice" >
      <xs:sequence>
        <xs:element name="idxcode" type="xs:string" />
        <xs:element name="sid" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="pv_capacity" type="xs:double" />
        <xs:element name="pv_quantity" type="xs:long" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard_admin_totalchart_today" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="deviceid" type="xs:long" />
        <xs:element name="sum_generate" type="xs:double" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="device" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="pcs_capacity" type="xs:long" />
        <xs:element name="batt_capacity" type="xs:double" />
        <xs:element name="batt_type" type="xs:string" />
        <xs:element name="manager" type="xs:string" />
        <xs:element name="manager_tel" type="xs:string" />
        <xs:element name="memo" type="xs:string" />
        <xs:element name="reg_date" type="xs:string" />
        <xs:element name="upt_date" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="devicetype" type="xs:string" />
        <xs:element name="manufacturer" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitelistelement" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="owner" type="xs:string" />
        <xs:element name="capacity" type="xs:double" />
        <xs:element name="sum_output" type="xs:double" />
        <xs:element name="sum_todayaccu" type="xs:double" />
        <xs:element name="buildyear" type="xs:long" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="statecode" type="xs:long" />
        <xs:element name="haveelse" type="xs:anyType" />
        <xs:element name="haveess" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weatherdata" >
      <xs:sequence>
        <xs:element name="idxcode" type="xs:string" />
        <xs:element name="dtime" type="xs:string" />
        <xs:element name="nationcode" type="xs:string" />
        <xs:element name="loccode" type="xs:long" />
        <xs:element name="weathercode" type="xs:long" />
        <xs:element name="weatherphrase" type="xs:string" />
        <xs:element name="isdaylight" type="xs:long" />
        <xs:element name="temperature" type="xs:double" />
        <xs:element name="realfeeltemp" type="xs:double" />
        <xs:element name="dewpoint" type="xs:double" />
        <xs:element name="windspeed" type="xs:double" />
        <xs:element name="winddirection_degrees" type="xs:long" />
        <xs:element name="winddirection_localized" type="xs:string" />
        <xs:element name="windgustspeed" type="xs:double" />
        <xs:element name="relativehumidity" type="xs:long" />
        <xs:element name="visibility" type="xs:double" />
        <xs:element name="ceiling" type="xs:long" />
        <xs:element name="uvindextext" type="xs:string" />
        <xs:element name="precipitationprobability" type="xs:long" />
        <xs:element name="rainprobability" type="xs:long" />
        <xs:element name="snowprobability" type="xs:long" />
        <xs:element name="iceprobability" type="xs:long" />
        <xs:element name="totalliquid" type="xs:long" />
        <xs:element name="rain" type="xs:long" />
        <xs:element name="snow" type="xs:long" />
        <xs:element name="ice" type="xs:long" />
        <xs:element name="cloudcover" type="xs:long" />
        <xs:element name="reg_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 