cquptCommunity23/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pl" >
      <xs:sequence>
        <xs:element name="problemid" type="xs:string" />
        <xs:element name="labelid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reply" >
      <xs:sequence>
        <xs:element name="//编号id" type="xs:string" />
        <xs:element name="//问题idproblemid" type="xs:string" />
        <xs:element name="//回答内容content" type="xs:string" />
        <xs:element name="//创建日期createtime" type="xs:anyType" />
        <xs:element name="//更新日期updatetime" type="xs:anyType" />
        <xs:element name="//回答人iduserid" type="xs:string" />
        <xs:element name="//回答人昵称nickname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="problem" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//内容content" type="xs:string" />
        <xs:element name="//创建日期createtime" type="xs:anyType" />
        <xs:element name="//修改日期updatetime" type="xs:anyType" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//昵称nickname" type="xs:string" />
        <xs:element name="//浏览量visits" type="xs:long" />
        <xs:element name="//点赞数thumbup" type="xs:long" />
        <xs:element name="//回复数reply" type="xs:long" />
        <xs:element name="//是否解决solve" type="xs:string" />
        <xs:element name="//回复人昵称replyname" type="xs:string" />
        <xs:element name="//回复日期replytime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 