ara/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userstatus" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userfriend" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="friendid" type="xs:long" />
        <xs:element name="addtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermessage" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="fromid" type="xs:long" />
        <xs:element name="toid" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="addtime" type="xs:anyType" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 