formationheducap2019suite11/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="revision1formapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sodarepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<soda,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsonconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sodacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sodarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soda" >
      <xs:sequence>
        <xs:element name="generationtype.identity" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="marque" type="xs:string" />
        <xs:element name="prix" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sodanometmarque" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sodadescription" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sodaavecprix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 