formationheducap2019suite11/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="soda" >
      <xs:sequence>
        <xs:element name="generationtype.identity" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="marque" type="xs:string" />
        <xs:element name="prix" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 