Eclipse/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productofferingbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="specification" type="productspecificationbean" nillable="true" minOccurs="0" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerbean" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productspecificationbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feasibilitybean" >
      <xs:sequence>
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="servicename" type="xs:string" />
        <xs:element name="locationname" type="xs:string" />
        <xs:element name="accessspeed" type="xs:anyType" />
        <xs:element name="distance" type="xs:anyType" />
        <xs:element name="result" type="xs:string" />
        <xs:element name="comments" type="xs:string" />
        <xs:element name="maxspeed" type="xs:anyType" />
        <xs:element name="maxdistance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceattributesbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributesbean" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceapi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicequalificationdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicequalificationdaoimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributesvaluesentity" >
      <xs:sequence>
        <xs:element name="prentity" type="productattributesentity" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceattributepk" >
      <xs:sequence>
        <xs:element name="srentity" type="serviceattributesentity" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productofferingentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="specification" type="productspecificationentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributesentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="offeringentity" type="productofferingentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchangeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="maxspeed" type="xs:anyType" />
        <xs:element name="maxdistance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceattributesentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="serviceentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerentity" >
      <xs:sequence>
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="location" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="specificationentity" type="productspecificationentity" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributepk" >
      <xs:sequence>
        <xs:element name="prentity" type="productattributesentity" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productspecificationentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceattributesvaluesentity" >
      <xs:sequence>
        <xs:element name="srentity" type="serviceattributesentity" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
        <xs:element name="timetolive" type="xs:long" />
        <xs:element name="cachemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="factory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonparser" >
      <xs:sequence>
        <xs:element name="wrapper_types" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configuration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutility" >
      <xs:sequence>
        <xs:element name="configuration_location" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicequalificationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicequalificationserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 