escalab3003217/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="usertransaction" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="amount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userbalance" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="balance" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 