CTS-FSE/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="apptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="dao" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
        <xs:element name="imageid" type="xs:long" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="GeneratedName" type="album" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumimagedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="albumid" type="xs:long" />
        <xs:element name="albumname" type="xs:string" />
        <xs:element name="crtedon" type="xs:anyType" />
        <xs:element name="GeneratedName" type="image" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumimagedaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="br" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 