dataio4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dropjob-postgresql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1record" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escleanupbeantest" >
      <xs:sequence>
        <xs:element name="esinflightadmin" type="esinflightbean" nillable="true" minOccurs="0" />
        <xs:element name="esconnector" type="esconnectorbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="addirecordpreprocessor" nillable="true" minOccurs="0" />
        <xs:element name="41_1" type="esinflight" nillable="true" minOccurs="0" />
        <xs:element name="42_1" type="esinflight" nillable="true" minOccurs="0" />
        <xs:element name="42_2" type="esinflight" nillable="true" minOccurs="0" />
        <xs:element name="43_1" type="esinflight" nillable="true" minOccurs="0" />
        <xs:element name="_122" type="xs:anyType" />
        <xs:element name="_123" type="xs:anyType" />
        <xs:element name="_124" type="xs:anyType" />
        <xs:element name="_125" type="xs:anyType" />
        <xs:element name="emptyesinflightlist" type="esinflight" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="sink_id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="simpleaddi" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamapingit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escleanupbeanit" >
      <xs:complexContent>
       <xs:extension base="sinkit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="estaskpackageutiltest" >
      <xs:sequence>
        <xs:element name="job_id" type="xs:long" />
        <xs:element name="chunk_id" type="xs:long" />
        <xs:element name="encoding" type="xs:anyType" />
        <xs:element name="es_database_name" type="xs:string" />
        <xs:element name="addi_ok" type="xs:string" />
        <xs:element name="tracking_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addirecordpreprocessortest" >
      <xs:sequence>
        <xs:element name="preprocessor" type="addirecordpreprocessor" nillable="true" minOccurs="0" />
        <xs:element name="trackingid" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esmessageprocessorbeanit" >
      <xs:complexContent>
       <xs:extension base="sinkit">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="esmessageprocessorbeantest" >
      <xs:complexContent>
       <xs:extension base="esmessageprocessorbean">
         <xs:sequence>
          <xs:element name="payload_type" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="chunkresultwithonevalidaddirecord" type="xs:string" />
          <xs:element name="esconnector" type="esconnectorbean" nillable="true" minOccurs="0" />
          <xs:element name="esinflightadmin" type="esinflightbean" nillable="true" minOccurs="0" />
          <xs:element name="" type="addirecordpreprocessor" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sink_id" type="xs:long" />
          <xs:element name="sinkconfig" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="estaskpackageutilit" >
      <xs:complexContent>
       <xs:extension base="sinkit">
         <xs:sequence>
          <xs:element name="db_name" type="xs:string" />
          <xs:element name="encoding" type="xs:anyType" />
          <xs:element name="user_id" type="xs:long" />
          <xs:element name="action" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="estaskpackageintegrationtestutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esworkloadtest" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="action" type="xs:anyType" />
        <xs:element name="GeneratedName" type="addirecordpreprocessor" nillable="true" minOccurs="0" />
        <xs:element name="addi_ok" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="trackingid" type="xs:string" />
        <xs:element name="processingtag" type="xs:string" />
        <xs:element name="sinkconfig" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sinkit" >
      <xs:complexContent>
       <xs:extension base="esmessageprocessorbean">
         <xs:sequence>
          <xs:element name="sink_id" type="xs:long" />
          <xs:element name="es_inflight_" type="xs:anyType" />
          <xs:element name="es_" type="xs:anyType" />
          <xs:element name="es_inflight_database_name" type="xs:string" />
          <xs:element name="es_resource_name" type="xs:string" />
          <xs:element name="es_database_name" type="xs:string" />
          <xs:element name="esinflight" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jobstoreserviceconnector" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1__initial_schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v3__add_column_redelivered" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v2__alter_table_esinflight" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esscheduledcleanupbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="escleanupbean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="estaskpackageutil" >
      <xs:sequence>
        <xs:element name="logger" type="xs:anyType" />
        <xs:element name="es_taskpackage_creator_field_prefix" type="xs:string" />
        <xs:element name="//non-private/non-tooverwriteduringegrationtestsmax_where_in_size" type="xs:long" />
        <xs:element name="record_header" type="xs:string" />
        <xs:element name="record_result" type="xs:string" />
        <xs:element name="referenceunknown" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="essinkapplication" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statusbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esinflight" >
      <xs:sequence>
        <xs:element name="find_all" type="xs:string" />
        <xs:element name="query_parameter_sinkid" type="xs:string" />
        <xs:element name="query_find_all" type="xs:string" />
        <xs:element name="sinkid" type="xs:long" />
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="chunkid" type="xs:long" />
        <xs:element name="chunk" type="xs:string" />
        <xs:element name="databasename" type="xs:string" />
        <xs:element name="redelivered" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esinflightpk" >
      <xs:sequence>
        <xs:element name="sinkid" type="xs:long" />
        <xs:element name="targetreference" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatestatusconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskpackagerecordstructureentity" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="diagnosticid" type="xs:anyType" />
        <xs:element name="record_id" type="xs:string" />
        <xs:element name="/*https://en.wikibooks.org/wiki/java_persistence/onetomany#unidirectional_onetomany.2c_no_inverse_manytoone.2c_no_join_table_.28jpa_2.0_only.29*/transientdiagnosticsentities" type="diagnosticsentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskstatusconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recordstatusconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="suppliedrecordsentitypk" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diagnosticsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
        <xs:element name="diagnosticsetid" type="xs:string" />
        <xs:element name="errorcode" type="xs:anyType" />
        <xs:element name="additionalinformation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateactionconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setmultitableconstraintdependentinheritancecustomizer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diagnosticsentitypk" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskspecificupdateentity" >
      <xs:complexContent>
       <xs:extension base="taskpackageentity">
         <xs:sequence>
          <xs:element name="action" type="xs:anyType" />
          <xs:element name="elementsetname" type="xs:string" />
          <xs:element name="actionqualifier" type="xs:anyType" />
          <xs:element name="databasename" type="xs:string" />
          <xs:element name="schema" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="suppliedrecords" type="suppliedrecordsentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="taskpackagerecordstructures" type="taskpackagerecordstructureentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="suppliedrecordsentity" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
        <xs:element name="metadata" type="xs:string" />
        <xs:element name="record" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskpackageentity" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="packagetype" type="xs:anyType" />
        <xs:element name="packagename" type="xs:string" />
        <xs:element name="creator" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esconnectorbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esinflightbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addirecordpreprocessor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startupdbmigrator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esmessageprocessorbean" >
      <xs:complexContent>
       <xs:extension base="abstractsinkmessageconsumerbean">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//packagedscopedduetounittest" type="addirecordpreprocessor" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sinkid" type="xs:long" />
          <xs:element name="highestversionseen" type="xs:long" />
          <xs:element name="sinkconfig" type="xs:anyType" />
          <xs:element name="esconnector" type="esconnectorbean" nillable="true" minOccurs="0" />
          <xs:element name="esinflightadmin" type="esinflightbean" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="escleanupbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="max_redelivering_attempts" type="xs:long" />
        <xs:element name="GeneratedName" type="addirecordpreprocessor" nillable="true" minOccurs="0" />
        <xs:element name="esconnector" type="esconnectorbean" nillable="true" minOccurs="0" />
        <xs:element name="esinflightadmin" type="esinflightbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//packagedscopedduetounittest" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="sinkid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esworkload" >
      <xs:sequence>
        <xs:element name="delivered" type="xs:anyType" />
        <xs:element name="addirecords" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="action" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sink-es" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 