dataio4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="esinflight" >
      <xs:sequence>
        <xs:element name="find_all" type="xs:string" />
        <xs:element name="query_parameter_sinkid" type="xs:string" />
        <xs:element name="query_find_all" type="xs:string" />
        <xs:element name="sinkid" type="xs:long" />
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="jobid" type="xs:long" />
        <xs:element name="chunkid" type="xs:long" />
        <xs:element name="chunk" type="xs:string" />
        <xs:element name="databasename" type="xs:string" />
        <xs:element name="redelivered" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskpackagerecordstructureentity" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="diagnosticid" type="xs:anyType" />
        <xs:element name="record_id" type="xs:string" />
        <xs:element name="/*https://en.wikibooks.org/wiki/java_persistence/onetomany#unidirectional_onetomany.2c_no_inverse_manytoone.2c_no_join_table_.28jpa_2.0_only.29*/transientdiagnosticsentities" type="diagnosticsentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="diagnosticsentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
        <xs:element name="diagnosticsetid" type="xs:string" />
        <xs:element name="errorcode" type="xs:anyType" />
        <xs:element name="additionalinformation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskspecificupdateentity" >
      <xs:complexContent>
       <xs:extension base="taskpackageentity">
         <xs:sequence>
          <xs:element name="action" type="xs:anyType" />
          <xs:element name="elementsetname" type="xs:string" />
          <xs:element name="actionqualifier" type="xs:anyType" />
          <xs:element name="databasename" type="xs:string" />
          <xs:element name="schema" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="suppliedrecords" type="suppliedrecordsentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="taskpackagerecordstructures" type="taskpackagerecordstructureentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="suppliedrecordsentity" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="lbnr" type="xs:anyType" />
        <xs:element name="metadata" type="xs:string" />
        <xs:element name="record" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskpackageentity" >
      <xs:sequence>
        <xs:element name="targetreference" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="packagetype" type="xs:anyType" />
        <xs:element name="packagename" type="xs:string" />
        <xs:element name="creator" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 