el-admin1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="fileutiltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encryptutilstest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutilstest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutilstest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestmethodenum" >
      <xs:sequence>
        <xs:element name="/***request类型*/type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datascopeenum" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codebienum" >
      <xs:sequence>
        <xs:element name="code" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codeenum" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eladminconstant" >
      <xs:sequence>
        <xs:element name="/***用于ip定位转换*/region" type="xs:string" />
        <xs:element name="/***win系统*/win" type="xs:string" />
        <xs:element name="/***mac系统*/mac" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springcontextholder" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="call_backs" type="callback" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addcallback" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cachekey" >
      <xs:sequence>
        <xs:element name="/***内置用户、岗位、应用、菜单、角色相关key*/user_modify_time_key" type="xs:string" />
        <xs:element name="app_modify_time_key" type="xs:string" />
        <xs:element name="job_modify_time_key" type="xs:string" />
        <xs:element name="menu_modify_time_key" type="xs:string" />
        <xs:element name="role_modify_time_key" type="xs:string" />
        <xs:element name="dept_modify_time_key" type="xs:string" />
        <xs:element name="/***用户*/user_id" type="xs:string" />
        <xs:element name="user_name" type="xs:string" />
        <xs:element name="/***数据*/date_user" type="xs:string" />
        <xs:element name="/***菜单*/menu_user" type="xs:string" />
        <xs:element name="/***角色授权*/role_auth" type="xs:string" />
        <xs:element name="/***角色信息*/role_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="translatorutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryhelp" >
      <xs:complexContent>
       <xs:extension base="comparable>)">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="callback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rsautils" >
      <xs:sequence>
        <xs:element name="src" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encryptutils" >
      <xs:sequence>
        <xs:element name="str_param" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="iv" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageutil" >
      <xs:complexContent>
       <xs:extension base="cn.hutool.core.util.pageutil">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
        <xs:element name="dfy_md_hms" type="xs:anyType" />
        <xs:element name="dfy_md" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="throwableutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisutils" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="redistemplate" type="xs:anyType" />
        <xs:element name="onlinekey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutil" >
      <xs:complexContent>
       <xs:extension base="cn.hutool.core.io.fileutil">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="*windows包含路径分割符，但linux不包含,*在windows\\" type="xs:string" />
          <xs:element name="/***定义gb的计算常量*/gb" type="xs:long" />
          <xs:element name="/***定义mb的计算常量*/mb" type="xs:long" />
          <xs:element name="/***定义kb的计算常量*/kb" type="xs:long" />
          <xs:element name="/***格式化小数*/df" type="xs:anyType" />
          <xs:element name="image" type="xs:string" />
          <xs:element name="txt" type="xs:string" />
          <xs:element name="music" type="xs:string" />
          <xs:element name="video" type="xs:string" />
          <xs:element name="other" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stringutils" >
      <xs:complexContent>
       <xs:extension base="org.apache.commons.lang3.stringutils">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="iplocal" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="config" type="xs:anyType" />
          <xs:element name="separator" type="xs:anyType" />
          <xs:element name="unknown" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestholder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anonymousaccess" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="limit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anonymouspostmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anonymouspatchmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anonymousdeletemapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anonymousputmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anonymousgetmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapermission" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="limitaspect" >
      <xs:sequence>
        <xs:element name="redistemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="limittype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elpermissionconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileproperties" >
      <xs:sequence>
        <xs:element name="/***文件大小限制*/maxsize" type="xs:long" />
        <xs:element name="/***头像大小限制*/avatarmaxsize" type="xs:long" />
        <xs:element name="mac" type="xs:anyType" />
        <xs:element name="linux" type="xs:anyType" />
        <xs:element name="windows" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
        <xs:element name="tokenheader" type="xs:string" />
        <xs:element name="tokenstartwith" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rsaproperties" >
      <xs:sequence>
        <xs:element name="privatekey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisconfig" >
      <xs:complexContent>
       <xs:extension base="cachingconfigurersupport">
         <xs:sequence>
          <xs:element name="clazz" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basedto" >
      <xs:sequence>
        <xs:element name="createby" type="xs:string" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="updatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="createby" type="xs:string" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="updatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badconfigurationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitynotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badrequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="status" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apierror" >
      <xs:sequence>
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityexistexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 