el-admin1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="createby" type="xs:string" />
        <xs:element name="updatedby" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="updatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 