Gradle35/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="log4j2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infinispancachejpanonstrictcorrectnesstest" >
      <xs:complexContent>
       <xs:extension base="member>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="testcase" type="infinispancachejpacorrectnesstestcase" nillable="true" minOccurs="0" />
          <xs:element name="runner" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="infinispancachejpareadwritecorrectnesstest" >
      <xs:complexContent>
       <xs:extension base="member>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="testcase" type="infinispancachejpacorrectnesstestcase" nillable="true" minOccurs="0" />
          <xs:element name="runner" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="infinispancachejpacorrectnesstestcase" >
      <xs:complexContent>
       <xs:extension base="family>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="execution_time" type="xs:long" />
          <xs:element name="num_threads" type="xs:long" />
          <xs:element name="num_families" type="xs:long" />
          <xs:element name="num_access_after_removal" type="xs:long" />
          <xs:element name="max_members" type="xs:long" />
          <xs:element name="wall_clock_time_comparator" type="xs:anyType" />
          <xs:element name="invalidate_region" type="xs:anyType" />
          <xs:element name="inject_failures" type="xs:anyType" />
          <xs:element name="timestampgenerator" type="xs:anyType" />
          <xs:element name="familyids" type="xs:anyType" />
          <xs:element name="volatilerunning" type="xs:anyType" />
          <xs:element name="familynames" type="xs:anyType" />
          <xs:element name="familymembers" type="xs:anyType" />
          <xs:element name="exceptions" type="xs:anyType" />
          <xs:element name="expected" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="familyclass" type="xs:anyType" />
          <xs:element name="memberctor" type="xs:anyType" />
          <xs:element name="familyctor" type="family" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-readwrite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-nonstrict" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="family" >
      <xs:complexContent>
       <xs:extension base="member>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberrw" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="family" type="familyrw" nillable="true" minOccurs="0" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="address" type="addressrw" nillable="true" minOccurs="0" />
        <xs:element name="checked" type="xs:anyType" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressrw" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="streetnumber" type="xs:long" />
        <xs:element name="streetname" type="xs:string" />
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="countryname" type="xs:string" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="inhabitants" type="memberrw" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="familyrw" >
      <xs:complexContent>
       <xs:extension base="member>">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="secondname" type="xs:string" />
          <xs:element name="members" type="memberrw" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="version" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 