car-maintenance-system/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="carownerdaoimpl" >
      <xs:complexContent>
       <xs:extension base="genericdaobyhibernate<carowner,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="carownerdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<carowner,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="carownerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carownerserviceimpl" >
      <xs:sequence>
        <xs:element name="carownerdao" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carownerres" >
      <xs:sequence>
        <xs:element name="carownerid" type="xs:long" />
        <xs:element name="carownername" type="xs:string" />
        <xs:element name="carownerphone" type="xs:string" />
        <xs:element name="carowneraddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carownercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="carownerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintanceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="maintancedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintancedao" >
      <xs:complexContent>
       <xs:extension base="genericdao<maintance,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maintancedaoimpl" >
      <xs:complexContent>
       <xs:extension base="genericdaobyhibernate<maintance,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maintancecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="maintanceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="carservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="carownerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cardaoimpl" >
      <xs:complexContent>
       <xs:extension base="genericdaobyhibernate<car,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cardao" >
      <xs:complexContent>
       <xs:extension base="genericdao<car,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="carservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cardao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericdaobyhibernate" >
      <xs:sequence>
        <xs:element name="persistenceclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericdaoimpl" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="/***具体的实体类型*/type" type="xs:anyType" />
          <xs:element name="/***spring提供的hibernate工具类*/" type="xs:anyType" />
          <xs:element name="/***spring提供的jdbc工具类*/" type="xs:anyType" />
          <xs:element name="/***查询条件*/hql" type="xs:string" />
          <xs:element name="/***hql参数列表*/params" type="list" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericdao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="daoutil" >
      <xs:complexContent>
       <xs:extension base="t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commoncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwzactionresult" >
      <xs:sequence>
        <xs:element name="//publicdwzactionresultok" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="//"navtab"navtabid" type="xs:string" />
        <xs:element name="//"main"rel" type="xs:string" />
        <xs:element name="//" type="xs:string" />
        <xs:element name="forwardurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
        <xs:element name="totalcount" type="xs:long" />
        <xs:element name="rowsperpage" type="xs:long" />
        <xs:element name="currentpagenum" type="xs:long" />
        <xs:element name="totalpagenum" type="xs:long" />
        <xs:element name="pagerowslist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetail" >
      <xs:sequence>
        <xs:element name="//fieldsid" type="orderdetailid" nillable="true" minOccurs="0" />
        <xs:element name="barcode" type="xs:string" />
        <xs:element name="peijianfactory" type="xs:string" />
        <xs:element name="peijianprice" type="xs:long" />
        <xs:element name="peijiannum" type="xs:anyType" />
        <xs:element name="peijiandiscount" type="xs:long" />
        <xs:element name="peijiantotalprice" type="xs:long" />
        <xs:element name="peijiansinglediscount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="carcard" type="xs:string" />
        <xs:element name="carownerid" type="xs:anyType" />
        <xs:element name="cartype" type="xs:string" />
        <xs:element name="inputtime" type="xs:anyType" />
        <xs:element name="carownername" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetailid" >
      <xs:sequence>
        <xs:element name="//fieldspeijianid" type="xs:anyType" />
        <xs:element name="buyid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carowner" >
      <xs:sequence>
        <xs:element name="carownerid" type="xs:long" />
        <xs:element name="carownername" type="xs:string" />
        <xs:element name="carownerphone" type="xs:string" />
        <xs:element name="carowneraddress" type="xs:string" />
        <xs:element name="inputtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="//fieldsbuyid" type="xs:long" />
        <xs:element name="inputdate" type="xs:anyType" />
        <xs:element name="buydate" type="xs:anyType" />
        <xs:element name="inputpersonid" type="xs:string" />
        <xs:element name="buyperson" type="xs:string" />
        <xs:element name="discount" type="xs:long" />
        <xs:element name="totalprice" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintance" >
      <xs:sequence>
        <xs:element name="maintanceid" type="xs:string" />
        <xs:element name="carcard" type="xs:string" />
        <xs:element name="carownerid" type="xs:string" />
        <xs:element name="carstatus" type="xs:anyType" />
        <xs:element name="failreason" type="xs:string" />
        <xs:element name="failtype" type="xs:anyType" />
        <xs:element name="finishedtime" type="xs:anyType" />
        <xs:element name="maintanceevaluate" type="xs:anyType" />
        <xs:element name="receivetime" type="xs:anyType" />
        <xs:element name="repairetime" type="xs:anyType" />
        <xs:element name="takentime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peijiancontroller" >
      <xs:sequence>
        <xs:element name="peijian_show" type="xs:string" />
        <xs:element name="result_ok" type="xs:string" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peijiancontrollermvc" >
      <xs:sequence>
        <xs:element name="peijian_show" type="xs:string" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="peijiancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdaoimpl" >
      <xs:complexContent>
       <xs:extension base="genericdaobyhibernate<order,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="设计" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validate_remote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_tree" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpage2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.switchenv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.theme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.tab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="speedup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_uploadify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpage3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_dialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpage1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar_2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hbarchart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="barchart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="g.pie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_checkbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_accordion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_combox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxtimeout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area_sh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area_bj" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city_sh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city_bj" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_attachmentbrightback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_lookupsuggest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treelookup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nav" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="includes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz_init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.theme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpage2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_checkbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_uploadify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar_2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_tree" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="speedup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.tab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.theme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.switchenv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpage3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area_sh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city_all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area_bj" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city_sh" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city_bj" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxtimeout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxdone3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_attachmentbrightback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treelookup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_lookupsuggest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db_select" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidebar_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newpage1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="barchart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hbarchart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="g.pie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_accordion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_dialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="w_combox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validate_remote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.switchenv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wdatepicker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dwz.tab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="speedup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rebel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dao-applicationcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="service-applicationcontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 