car-maintenance-system/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="orderdetail" >
      <xs:sequence>
        <xs:element name="//fieldsid" type="orderdetailid" nillable="true" minOccurs="0" />
        <xs:element name="barcode" type="xs:string" />
        <xs:element name="peijianfactory" type="xs:string" />
        <xs:element name="peijianprice" type="xs:long" />
        <xs:element name="peijiannum" type="xs:anyType" />
        <xs:element name="peijiandiscount" type="xs:long" />
        <xs:element name="peijiantotalprice" type="xs:long" />
        <xs:element name="peijiansinglediscount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="carcard" type="xs:string" />
        <xs:element name="carownerid" type="xs:anyType" />
        <xs:element name="cartype" type="xs:string" />
        <xs:element name="inputtime" type="xs:anyType" />
        <xs:element name="carownername" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carowner" >
      <xs:sequence>
        <xs:element name="carownerid" type="xs:long" />
        <xs:element name="carownername" type="xs:string" />
        <xs:element name="carownerphone" type="xs:string" />
        <xs:element name="carowneraddress" type="xs:string" />
        <xs:element name="inputtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="//fieldsbuyid" type="xs:long" />
        <xs:element name="inputdate" type="xs:anyType" />
        <xs:element name="buydate" type="xs:anyType" />
        <xs:element name="inputpersonid" type="xs:string" />
        <xs:element name="buyperson" type="xs:string" />
        <xs:element name="discount" type="xs:long" />
        <xs:element name="totalprice" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintance" >
      <xs:sequence>
        <xs:element name="maintanceid" type="xs:string" />
        <xs:element name="carcard" type="xs:string" />
        <xs:element name="carownerid" type="xs:string" />
        <xs:element name="carstatus" type="xs:anyType" />
        <xs:element name="failreason" type="xs:string" />
        <xs:element name="failtype" type="xs:anyType" />
        <xs:element name="finishedtime" type="xs:anyType" />
        <xs:element name="maintanceevaluate" type="xs:anyType" />
        <xs:element name="receivetime" type="xs:anyType" />
        <xs:element name="repairetime" type="xs:anyType" />
        <xs:element name="takentime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 