fcefap12/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ecfrelatoriogerencialvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="x" type="xs:anyType" />
        <xs:element name="meiospagamento" type="xs:anyType" />
        <xs:element name="davemitidos" type="xs:anyType" />
        <xs:element name="identificacaopaf" type="xs:anyType" />
        <xs:element name="parametrosconfiguracao" type="xs:anyType" />
        <xs:element name="outros" type="xs:anyType" />
        <xs:element name="ecfconfiguracao" type="ecfconfiguracaovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtotalpagamentodatavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datavenda" type="xs:dateTime" />
        <xs:element name="idtipopagamento" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="valorapurado" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="davcabecalhovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="numerodav" type="xs:string" />
        <xs:element name="numeroecf" type="xs:string" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="nomedestinatario" type="xs:string" />
        <xs:element name="cpfcnpjdestinatario" type="xs:string" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="situacao" type="xs:string" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="subtotal" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="impresso" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="listadavdetalhe" type="davdetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfconfiguracaobalancavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="modelo" type="xs:anyType" />
        <xs:element name="identificador" type="xs:string" />
        <xs:element name="handshake" type="xs:anyType" />
        <xs:element name="parity" type="xs:anyType" />
        <xs:element name="stopbits" type="xs:anyType" />
        <xs:element name="databits" type="xs:anyType" />
        <xs:element name="baudrate" type="xs:anyType" />
        <xs:element name="porta" type="xs:string" />
        <xs:element name="timeout" type="xs:anyType" />
        <xs:element name="tipoconfiguracao" type="xs:string" />
        <xs:element name="ecfconfiguracao" type="ecfconfiguracaovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bancovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="r06vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idoperador" type="xs:anyType" />
        <xs:element name="idimpressora" type="xs:anyType" />
        <xs:element name="idecfcaixa" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="gnf" type="xs:anyType" />
        <xs:element name="grg" type="xs:anyType" />
        <xs:element name="cdc" type="xs:anyType" />
        <xs:element name="denominacao" type="xs:string" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="listar07" type="r07vo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logssvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="ttp" type="xs:anyType" />
        <xs:element name="produto" type="xs:anyType" />
        <xs:element name="r01" type="xs:anyType" />
        <xs:element name="r02" type="xs:anyType" />
        <xs:element name="r03" type="xs:anyType" />
        <xs:element name="r04" type="xs:anyType" />
        <xs:element name="r05" type="xs:anyType" />
        <xs:element name="r06" type="xs:anyType" />
        <xs:element name="r07" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfmovimentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idgerentesupervisor" type="xs:anyType" />
        <xs:element name="dataabertura" type="xs:dateTime" />
        <xs:element name="horaabertura" type="xs:string" />
        <xs:element name="datafechamento" type="xs:dateTime" />
        <xs:element name="horafechamento" type="xs:string" />
        <xs:element name="totalsuprimento" type="xs:anyType" />
        <xs:element name="totalsangria" type="xs:anyType" />
        <xs:element name="totalnaofiscal" type="xs:anyType" />
        <xs:element name="totalvenda" type="xs:anyType" />
        <xs:element name="totaldesconto" type="xs:anyType" />
        <xs:element name="totalacrescimo" type="xs:anyType" />
        <xs:element name="total" type="xs:anyType" />
        <xs:element name="totalrecebido" type="xs:anyType" />
        <xs:element name="totaltroco" type="xs:anyType" />
        <xs:element name="totalcancelado" type="xs:anyType" />
        <xs:element name="statusmovimento" type="xs:string" />
        <xs:element name="ecfcaixa" type="ecfcaixavo" nillable="true" minOccurs="0" />
        <xs:element name="ecfoperador" type="ecfoperadorvo" nillable="true" minOccurs="0" />
        <xs:element name="ecfturno" type="ecfturnovo" nillable="true" minOccurs="0" />
        <xs:element name="ecfimpressora" type="ecfimpressoravo" nillable="true" minOccurs="0" />
        <xs:element name="ecfempresa" type="ecfempresavo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfsuprimentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datasuprimento" type="xs:dateTime" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfresolucaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="resolucaotela" type="xs:string" />
        <xs:element name="largura" type="xs:anyType" />
        <xs:element name="altura" type="xs:anyType" />
        <xs:element name="imagemtela" type="xs:string" />
        <xs:element name="imagemmenu" type="xs:string" />
        <xs:element name="imagemsubmenu" type="xs:string" />
        <xs:element name="hottrackcolor" type="xs:string" />
        <xs:element name="itemstylefontname" type="xs:string" />
        <xs:element name="itemstylefontcolor" type="xs:string" />
        <xs:element name="itemselstylecolor" type="xs:string" />
        <xs:element name="labeltotalgeralfontcolor" type="xs:string" />
        <xs:element name="itemstylefontstyle" type="xs:string" />
        <xs:element name="editscolor" type="xs:string" />
        <xs:element name="editsfontcolor" type="xs:string" />
        <xs:element name="editsdisabledcolor" type="xs:string" />
        <xs:element name="editsfontname" type="xs:string" />
        <xs:element name="editsfontstyle" type="xs:string" />
        <xs:element name="listaecfposicaocomponente" type="ecfposicaocomponentesvo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prevendacabecalhovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="situacao" type="xs:string" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="nomedestinatario" type="xs:string" />
        <xs:element name="cpfcnpjdestinatario" type="xs:string" />
        <xs:element name="subtotal" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="listaprevendadetalhe" type="prevendadetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfsangriavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datasangria" type="xs:dateTime" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cfopvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="aplicacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="situacaoclientevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintegra60mvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="numeroserieecf" type="xs:string" />
        <xs:element name="numeroequipamento" type="xs:anyType" />
        <xs:element name="modelodocumentofiscal" type="xs:string" />
        <xs:element name="cooinicial" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="crz" type="xs:anyType" />
        <xs:element name="cro" type="xs:anyType" />
        <xs:element name="valorvendabruta" type="xs:anyType" />
        <xs:element name="valorgrandetotal" type="xs:anyType" />
        <xs:element name="listasintegra60a" type="sintegra60avo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfcontadorvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="inscricaocrc" type="xs:string" />
        <xs:element name="fone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="logradouro" type="xs:string" />
        <xs:element name="numero" type="xs:anyType" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="codigomunicipio" type="xs:anyType" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="ecfempresa" type="ecfempresavo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contaspagarrecebervo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idplanocontas" type="xs:anyType" />
        <xs:element name="idtipodocumento" type="xs:anyType" />
        <xs:element name="idpessoa" type="xs:anyType" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="numerodocumento" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="datalancamento" type="xs:dateTime" />
        <xs:element name="primeirovencimento" type="xs:dateTime" />
        <xs:element name="naturezalancamento" type="xs:string" />
        <xs:element name="quantidadeparcela" type="xs:anyType" />
        <xs:element name="codigotipopagamento" type="xs:string" />
        <xs:element name="ecfvendacabecalho" type="ecfvendacabecalhovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfcaixavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="datacadastro" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prevendadetalhevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="item" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="valorunitario" type="xs:anyType" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="cancelado" type="xs:string" />
        <xs:element name="gtinproduto" type="xs:string" />
        <xs:element name="nomeproduto" type="xs:string" />
        <xs:element name="unidadeproduto" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="prevendacabecalho" type="prevendacabecalhovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfvendadetalhevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="gtin" type="xs:string" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="item" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="valorunitario" type="xs:anyType" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="totalitem" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="taxaicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="taxaissqn" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="taxapis" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="taxacofins" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="acrescimorateio" type="xs:anyType" />
        <xs:element name="descontorateio" type="xs:anyType" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="cst" type="xs:string" />
        <xs:element name="cancelado" type="xs:string" />
        <xs:element name="movimentaestoque" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="ecfvendacabecalho" type="ecfvendacabecalhovo" nillable="true" minOccurs="0" />
        <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="davdetalhevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="numerodav" type="xs:string" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="item" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="valorunitario" type="xs:anyType" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="cancelado" type="xs:string" />
        <xs:element name="mesclaproduto" type="xs:string" />
        <xs:element name="gtinproduto" type="xs:string" />
        <xs:element name="nomeproduto" type="xs:string" />
        <xs:element name="unidadeproduto" type="xs:string" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="davcabecalho" type="davcabecalhovo" nillable="true" minOccurs="0" />
        <xs:element name="listadavdetalhealteracao" type="davdetalhealteracaovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unidadeprodutovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="sigla" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="podefracionar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfvendacabecalhovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idecfdav" type="xs:anyType" />
        <xs:element name="idecfprevendacabecalho" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="datavenda" type="xs:dateTime" />
        <xs:element name="horavenda" type="xs:string" />
        <xs:element name="valorvenda" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="valorrecebido" type="xs:anyType" />
        <xs:element name="troco" type="xs:anyType" />
        <xs:element name="valorcancelado" type="xs:anyType" />
        <xs:element name="totalprodutos" type="xs:anyType" />
        <xs:element name="totaldocumento" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="icmsoutras" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="acrescimoitens" type="xs:anyType" />
        <xs:element name="descontoitens" type="xs:anyType" />
        <xs:element name="statusvenda" type="xs:string" />
        <xs:element name="nomecliente" type="xs:string" />
        <xs:element name="cpfcnpjcliente" type="xs:string" />
        <xs:element name="cupomcancelado" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
        <xs:element name="ecffuncionario" type="ecffuncionariovo" nillable="true" minOccurs="0" />
        <xs:element name="cliente" type="clientevo" nillable="true" minOccurs="0" />
        <xs:element name="listaecfvendadetalhe" type="ecfvendadetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="listaecftotaltipopagamento" type="ecftotaltipopagamentovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfdocumentosemitidosvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="r02vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idoperador" type="xs:anyType" />
        <xs:element name="idimpressora" type="xs:anyType" />
        <xs:element name="idecfcaixa" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="crz" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="cro" type="xs:anyType" />
        <xs:element name="datamovimento" type="xs:dateTime" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="vendabruta" type="xs:anyType" />
        <xs:element name="grandetotal" type="xs:anyType" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="listar03" type="r03vo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfconfiguracaoleitorservo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="usa" type="xs:string" />
        <xs:element name="porta" type="xs:string" />
        <xs:element name="baud" type="xs:anyType" />
        <xs:element name="handshake" type="xs:anyType" />
        <xs:element name="parity" type="xs:anyType" />
        <xs:element name="stopbits" type="xs:anyType" />
        <xs:element name="databits" type="xs:anyType" />
        <xs:element name="intervalo" type="xs:anyType" />
        <xs:element name="usarfila" type="xs:string" />
        <xs:element name="hardflow" type="xs:string" />
        <xs:element name="softflow" type="xs:string" />
        <xs:element name="sufixo" type="xs:string" />
        <xs:element name="excluirsufixo" type="xs:string" />
        <xs:element name="ecfconfiguracao" type="ecfconfiguracaovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfrecebimentonaofiscalvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datarecebimento" type="xs:dateTime" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logimportacaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataimportacao" type="xs:dateTime" />
        <xs:element name="horaimportacao" type="xs:string" />
        <xs:element name="erro" type="xs:string" />
        <xs:element name="registro" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtotalpagamentomovimentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="valorapurado" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecftipopagamentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="tef" type="xs:string" />
        <xs:element name="imprimevinculado" type="xs:string" />
        <xs:element name="permitetroco" type="xs:string" />
        <xs:element name="teftipogp" type="xs:string" />
        <xs:element name="geraparcelas" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="r03vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="valoracumulado" type="xs:anyType" />
        <xs:element name="crz" type="xs:anyType" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="r02" type="r02vo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notafiscalcabecalhovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cpfcnpjcliente" type="xs:string" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="serie" type="xs:string" />
        <xs:element name="subserie" type="xs:string" />
        <xs:element name="totalprodutos" type="xs:anyType" />
        <xs:element name="totalnf" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="icmsoutras" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="ipi" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="acrescimoitens" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="descontoitens" type="xs:anyType" />
        <xs:element name="cancelada" type="xs:string" />
        <xs:element name="tiponota" type="xs:string" />
        <xs:element name="cliente" type="clientevo" nillable="true" minOccurs="0" />
        <xs:element name="ecffuncionario" type="ecffuncionariovo" nillable="true" minOccurs="0" />
        <xs:element name="listanotafiscaldetalhe" type="notafiscaldetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfturnovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="horainicio" type="xs:string" />
        <xs:element name="horafim" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fichatecnicavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="idprodutofilho" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfoperadorvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="ecffuncionario" type="ecffuncionariovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfimpressoravo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="numero" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="serie" type="xs:string" />
        <xs:element name="identificacao" type="xs:string" />
        <xs:element name="mc" type="xs:string" />
        <xs:element name="md" type="xs:string" />
        <xs:element name="vr" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="marca" type="xs:string" />
        <xs:element name="modelo" type="xs:string" />
        <xs:element name="modeloacbr" type="xs:string" />
        <xs:element name="modelodocumentofiscal" type="xs:string" />
        <xs:element name="versao" type="xs:string" />
        <xs:element name="le" type="xs:string" />
        <xs:element name="lef" type="xs:string" />
        <xs:element name="mfd" type="xs:string" />
        <xs:element name="lacrenamfd" type="xs:string" />
        <xs:element name="docto" type="xs:string" />
        <xs:element name="datainstalacaosb" type="xs:dateTime" />
        <xs:element name="horainstalacaosb" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfe3vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="mfadicional" type="xs:string" />
        <xs:element name="tipoecf" type="xs:string" />
        <xs:element name="marcaecf" type="xs:string" />
        <xs:element name="modeloecf" type="xs:string" />
        <xs:element name="dataestoque" type="xs:dateTime" />
        <xs:element name="horaestoque" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="r01vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="cnpjempresa" type="xs:string" />
        <xs:element name="cnpjsh" type="xs:string" />
        <xs:element name="inscricaoestadualsh" type="xs:string" />
        <xs:element name="inscricaomunicipalsh" type="xs:string" />
        <xs:element name="denominacaosh" type="xs:string" />
        <xs:element name="nomepafecf" type="xs:string" />
        <xs:element name="versaopafecf" type="xs:string" />
        <xs:element name="md5pafecf" type="xs:string" />
        <xs:element name="datainicial" type="xs:dateTime" />
        <xs:element name="data" type="xs:dateTime" />
        <xs:element name="versaoer" type="xs:string" />
        <xs:element name="numerolaudopaf" type="xs:string" />
        <xs:element name="razaosocialsh" type="xs:string" />
        <xs:element name="enderecosh" type="xs:string" />
        <xs:element name="numerosh" type="xs:string" />
        <xs:element name="complementosh" type="xs:string" />
        <xs:element name="bairrosh" type="xs:string" />
        <xs:element name="cidadesh" type="xs:string" />
        <xs:element name="cepsh" type="xs:string" />
        <xs:element name="ufsh" type="xs:string" />
        <xs:element name="telefonesh" type="xs:string" />
        <xs:element name="contatosh" type="xs:string" />
        <xs:element name="principalexecutavel" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfempresavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="nomefantasia" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaoestadualst" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="inscricaojuntacomercial" type="xs:string" />
        <xs:element name="datainscjuntacomercial" type="xs:dateTime" />
        <xs:element name="matrizfilial" type="xs:string" />
        <xs:element name="datacadastro" type="xs:dateTime" />
        <xs:element name="datainicioatividades" type="xs:dateTime" />
        <xs:element name="suframa" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="imagemlogotipo" type="xs:string" />
        <xs:element name="crt" type="xs:string" />
        <xs:element name="tiporegime" type="xs:string" />
        <xs:element name="aliquotapis" type="xs:anyType" />
        <xs:element name="aliquotacofins" type="xs:anyType" />
        <xs:element name="logradouro" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="fone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="contato" type="xs:string" />
        <xs:element name="codigoibgecidade" type="xs:anyType" />
        <xs:element name="codigoibgeuf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfchequeclientevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="numerocheque" type="xs:anyType" />
        <xs:element name="datacheque" type="xs:dateTime" />
        <xs:element name="valorcheque" type="xs:anyType" />
        <xs:element name="observacoes" type="xs:string" />
        <xs:element name="agencia" type="xs:string" />
        <xs:element name="conta" type="xs:string" />
        <xs:element name="tipocheque" type="xs:string" />
        <xs:element name="cliente" type="clientevo" nillable="true" minOccurs="0" />
        <xs:element name="banco" type="bancovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfaliquotasvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="pafpst" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecffuncionariovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="telefone" type="xs:string" />
        <xs:element name="celular" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="comissaovista" type="xs:anyType" />
        <xs:element name="comissaoprazo" type="xs:anyType" />
        <xs:element name="nivelautorizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="r07vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="meiopagamento" type="xs:string" />
        <xs:element name="valorpagamento" type="xs:anyType" />
        <xs:element name="estorno" type="xs:string" />
        <xs:element name="valorestorno" type="xs:anyType" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="r06" type="r06vo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="fantasia" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="cpfcnpj" type="xs:string" />
        <xs:element name="rg" type="xs:string" />
        <xs:element name="orgaorg" type="xs:string" />
        <xs:element name="dataemissaorg" type="xs:dateTime" />
        <xs:element name="sexo" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="tipopessoa" type="xs:string" />
        <xs:element name="datacadastro" type="xs:dateTime" />
        <xs:element name="logradouro" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="fone1" type="xs:string" />
        <xs:element name="fone2" type="xs:string" />
        <xs:element name="celular" type="xs:string" />
        <xs:element name="contato" type="xs:string" />
        <xs:element name="codigoibgecidade" type="xs:anyType" />
        <xs:element name="codigoibgeuf" type="xs:anyType" />
        <xs:element name="situacaocliente" type="situacaoclientevo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notafiscaldetalhevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="item" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="valorunitario" type="xs:anyType" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="taxaicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="icmsoutras" type="xs:anyType" />
        <xs:element name="icmsisento" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="taxaissqn" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="taxapis" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="taxacofins" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="taxaipi" type="xs:anyType" />
        <xs:element name="ipi" type="xs:anyType" />
        <xs:element name="cancelado" type="xs:string" />
        <xs:element name="cst" type="xs:string" />
        <xs:element name="movimentaestoque" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="notafiscalcabecalho" type="notafiscalcabecalhovo" nillable="true" minOccurs="0" />
        <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="davdetalhealteracaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataalteracao" type="xs:dateTime" />
        <xs:element name="horaalteracao" type="xs:string" />
        <xs:element name="tipoalteracao" type="xs:string" />
        <xs:element name="objeto" type="xs:string" />
        <xs:element name="davdetalhe" type="davdetalhevo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtopromocaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datainicio" type="xs:dateTime" />
        <xs:element name="datafim" type="xs:dateTime" />
        <xs:element name="quantidadeempromocao" type="xs:anyType" />
        <xs:element name="quantidademaximacliente" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfconfiguracaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="mensagemcupom" type="xs:string" />
        <xs:element name="portaecf" type="xs:string" />
        <xs:element name="ipservidor" type="xs:string" />
        <xs:element name="ipsitef" type="xs:string" />
        <xs:element name="tipotef" type="xs:string" />
        <xs:element name="titulotelacaixa" type="xs:string" />
        <xs:element name="caminhoimagensprodutos" type="xs:string" />
        <xs:element name="caminhoimagensmarketing" type="xs:string" />
        <xs:element name="caminhoimagenslayout" type="xs:string" />
        <xs:element name="corjanelasinternas" type="xs:string" />
        <xs:element name="marketingativo" type="xs:string" />
        <xs:element name="cfopecf" type="xs:anyType" />
        <xs:element name="cfopnf2" type="xs:anyType" />
        <xs:element name="timeoutecf" type="xs:anyType" />
        <xs:element name="intervaloecf" type="xs:anyType" />
        <xs:element name="descricaosuprimento" type="xs:string" />
        <xs:element name="descricaosangria" type="xs:string" />
        <xs:element name="teftipogp" type="xs:anyType" />
        <xs:element name="teftempoespera" type="xs:anyType" />
        <xs:element name="tefesperasts" type="xs:anyType" />
        <xs:element name="tefnumerovias" type="xs:anyType" />
        <xs:element name="decimaisquantidade" type="xs:anyType" />
        <xs:element name="decimaisvalor" type="xs:anyType" />
        <xs:element name="bitsporsegundo" type="xs:anyType" />
        <xs:element name="quantidademaximacartoes" type="xs:anyType" />
        <xs:element name="pesquisaparte" type="xs:string" />
        <xs:element name="ultimaexclusao" type="xs:anyType" />
        <xs:element name="laudo" type="xs:string" />
        <xs:element name="dataatualizacaoestoque" type="xs:dateTime" />
        <xs:element name="pedecpfcupom" type="xs:string" />
        <xs:element name="tipointegracao" type="xs:anyType" />
        <xs:element name="timerintegracao" type="xs:anyType" />
        <xs:element name="gavetasinalinvertido" type="xs:string" />
        <xs:element name="gavetautilizacao" type="xs:anyType" />
        <xs:element name="quantidademaximaparcela" type="xs:anyType" />
        <xs:element name="imprimeparcela" type="xs:string" />
        <xs:element name="usatecladoreduzido" type="xs:string" />
        <xs:element name="permitelancarnfmanual" type="xs:string" />
        <xs:element name="ecfempresa" type="ecfempresavo" nillable="true" minOccurs="0" />
        <xs:element name="ecfcaixa" type="ecfcaixavo" nillable="true" minOccurs="0" />
        <xs:element name="ecfresolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" />
        <xs:element name="ecfimpressora" type="ecfimpressoravo" nillable="true" minOccurs="0" />
        <xs:element name="ecfrelatoriogerencial" type="ecfrelatoriogerencialvo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="gtin" type="xs:string" />
        <xs:element name="codigointerno" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="descricaopdv" type="xs:string" />
        <xs:element name="valorvenda" type="xs:anyType" />
        <xs:element name="quantidadeestoque" type="xs:anyType" />
        <xs:element name="estoqueminimo" type="xs:anyType" />
        <xs:element name="estoquemaximo" type="xs:anyType" />
        <xs:element name="iat" type="xs:string" />
        <xs:element name="ippt" type="xs:string" />
        <xs:element name="ncm" type="xs:string" />
        <xs:element name="tipoitemsped" type="xs:string" />
        <xs:element name="taxaipi" type="xs:anyType" />
        <xs:element name="taxaissqn" type="xs:anyType" />
        <xs:element name="taxapis" type="xs:anyType" />
        <xs:element name="taxacofins" type="xs:anyType" />
        <xs:element name="taxaicms" type="xs:anyType" />
        <xs:element name="cst" type="xs:string" />
        <xs:element name="csosn" type="xs:string" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="codigobalanca" type="xs:anyType" />
        <xs:element name="pafpst" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="unidadeproduto" type="unidadeprodutovo" nillable="true" minOccurs="0" />
        <xs:element name="listafichatecnica" type="fichatecnicavo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sintegra60avo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="situacaotributaria" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="sintegra60m" type="sintegra60mvo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecftotaltipopagamentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="datavenda" type="xs:dateTime" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="gnf" type="xs:anyType" />
        <xs:element name="nsu" type="xs:string" />
        <xs:element name="estorno" type="xs:string" />
        <xs:element name="rede" type="xs:string" />
        <xs:element name="cartaodc" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="ecftipopagamento" type="ecftipopagamentovo" nillable="true" minOccurs="0" />
        <xs:element name="ecfvendacabecalho" type="ecfvendacabecalhovo" nillable="true" minOccurs="0" />
        <xs:element name="valor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecffechamentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="tipopagamento" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contasparcelasvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="idmeiospagamento" type="xs:anyType" />
        <xs:element name="idchequeemitido" type="xs:anyType" />
        <xs:element name="idcontacaixa" type="xs:anyType" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="datavencimento" type="xs:dateTime" />
        <xs:element name="datapagamento" type="xs:dateTime" />
        <xs:element name="numeroparcela" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="taxajuros" type="xs:anyType" />
        <xs:element name="taxamulta" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="valorjuros" type="xs:anyType" />
        <xs:element name="valormulta" type="xs:anyType" />
        <xs:element name="valordesconto" type="xs:anyType" />
        <xs:element name="totalparcela" type="xs:anyType" />
        <xs:element name="historico" type="xs:string" />
        <xs:element name="situacao" type="xs:string" />
        <xs:element name="contaspagarreceber" type="contaspagarrecebervo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfposicaocomponentesvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="altura" type="xs:anyType" />
        <xs:element name="largura" type="xs:anyType" />
        <xs:element name="topo" type="xs:anyType" />
        <xs:element name="esquerda" type="xs:anyType" />
        <xs:element name="tamanhofonte" type="xs:anyType" />
        <xs:element name="texto" type="xs:string" />
        <xs:element name="ecfresolucao" type="ecfresolucaovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 