Begining-Hibernate_2_Apress_2010/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="note" >
      <xs:sequence>
        <xs:element name="note" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notepad" >
      <xs:sequence>
        <xs:element name="owner" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="notes" type="note" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 