BoutiqueSite/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="robots" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incheadermeta" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incnavlogindialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incnavbarstatictop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incslider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incweeklyfeatured" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inclogin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incnavbarfirst" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incprofileadmin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incfooter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incnavside" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incproducts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="increlatedproducts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incshopbycategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incasidecategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incheaderwineries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mystyles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importtxt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessdelegateboletim" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessdelegate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbase" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="strerror" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bdboletim" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactorylistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shoppingcart" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboardboletim" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="total" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="downloadpdf" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="downloadreportenriquecido" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkout" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contactus" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="managerclient" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/***verylowthresholdfortestingmemoryversusdiskoptions.*/threshold" type="xs:long" />
          <xs:element name="filecontenttype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="downloadreportenriquecer" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="managerpictures" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manageremailmktcart" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manageremailmkt" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manageremailmktproduct" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registermemberareaoper" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="managerproduct" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dashboardservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="downloadboletimpdf" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendhtmlformatedemail" >
      <xs:sequence>
        <xs:element name="content_type" type="xs:string" />
        <xs:element name="htmlhead" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oscheck" >
      <xs:sequence>
        <xs:element name="//cachedresultofosdetectiondetectedos" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetailshtml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testeway" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testbusiness" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtrigger" >
      <xs:sequence>
        <xs:element name="colpf" type="xs:string" />
        <xs:element name="colpj" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="automateimport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testmail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testpersistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preferences" >
      <xs:sequence>
        <xs:element name="user" type="xs:string" />
        <xs:element name="pass" type="xs:string" />
        <xs:element name="database" type="xs:string" />
        <xs:element name="copyright" type="xs:string" />
        <xs:element name="copyrightyear" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="copyrightright" type="xs:string" />
        <xs:element name="h1" type="xs:string" />
        <xs:element name="//constantsecurity_key" type="xs:string" />
        <xs:element name="combine_limit" type="xs:double" />
        <xs:element name="boletim_top_limit" type="xs:long" />
        <xs:element name="maximum_fraction_digits" type="xs:long" />
        <xs:element name="minimum_fraction_digits" type="xs:long" />
        <xs:element name="mimimum_eger_digits" type="xs:long" />
        <xs:element name="rounding_mode" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatorobjectcollection" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logger" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="categorytag" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logfiles" >
      <xs:sequence>
        <xs:element name="logfilesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="size" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="satusicon" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="thumbnailurl" type="xs:string" />
        <xs:element name="deteleurl" type="xs:string" />
        <xs:element name="deletetype" type="xs:string" />
        <xs:element name="json" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectioncolumns" >
      <xs:sequence>
        <xs:element name="columns" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
        <xs:element name="profileid" type="xs:long" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="order" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="entityclient" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="orderstatus" type="xs:string" />
        <xs:element name="session" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="items" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="totalsalesorder" type="xs:double" />
        <xs:element name="shipping" type="xs:double" />
        <xs:element name="subtotal" type="xs:double" />
        <xs:element name="gst" type="xs:double" />
        <xs:element name="total" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table" >
      <xs:sequence>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="fields" type="xs:string" />
        <xs:element name="fieldsonduplicate" type="xs:string" />
        <xs:element name="listtable" type="table" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmkt" >
      <xs:sequence>
        <xs:element name="emailmktid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="metatagtitle" type="xs:string" />
        <xs:element name="metatagdescription" type="xs:string" />
        <xs:element name="metatagkeywords" type="xs:string" />
        <xs:element name="metatagurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brand" >
      <xs:sequence>
        <xs:element name="brandid" type="xs:long" />
        <xs:element name="brand" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="areaoper" >
      <xs:sequence>
        <xs:element name="area_operacional" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="colors" >
      <xs:sequence>
        <xs:element name="colors" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="clientid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logupload" >
      <xs:sequence>
        <xs:element name="loguploadid" type="xs:long" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gic" >
      <xs:sequence>
        <xs:element name="chassi" type="xs:string" />
        <xs:element name="data_completa" type="xs:string" />
        <xs:element name="modelo" type="xs:string" />
        <xs:element name="marca_completa" type="xs:string" />
        <xs:element name="segmento" type="xs:string" />
        <xs:element name="subsegmento" type="xs:string" />
        <xs:element name="placa" type="xs:string" />
        <xs:element name="razao_social" type="xs:string" />
        <xs:element name="municipio" type="xs:string" />
        <xs:element name="dealer_aop" type="xs:string" />
        <xs:element name="estado" type="xs:string" />
        <xs:element name="anofabricacao" type="xs:string" />
        <xs:element name="anomodelo" type="xs:string" />
        <xs:element name="c_cpfcnpjproprietario" type="xs:string" />
        <xs:element name="c_tipocnpjproprietario" type="xs:string" />
        <xs:element name="c_nomeproprietario" type="xs:string" />
        <xs:element name="c_no_logr" type="xs:string" />
        <xs:element name="c_nu_logr" type="xs:string" />
        <xs:element name="c_no_compl" type="xs:string" />
        <xs:element name="c_no_bairro" type="xs:string" />
        <xs:element name="c_no_cidade" type="xs:string" />
        <xs:element name="c_sg_estado" type="xs:string" />
        <xs:element name="c_nu_cep" type="xs:string" />
        <xs:element name="c_ddd1" type="xs:string" />
        <xs:element name="c_telefone1" type="xs:string" />
        <xs:element name="c_ddd2" type="xs:string" />
        <xs:element name="c_telefone2" type="xs:string" />
        <xs:element name="c_ddd3" type="xs:string" />
        <xs:element name="c_telefone3" type="xs:string" />
        <xs:element name="c_ddd4" type="xs:string" />
        <xs:element name="c_telefone4" type="xs:string" />
        <xs:element name="c_ddd5" type="xs:string" />
        <xs:element name="c_telefone5" type="xs:string" />
        <xs:element name="c_ddd_celular1" type="xs:string" />
        <xs:element name="c_celular1" type="xs:string" />
        <xs:element name="c_ddd_celular2" type="xs:string" />
        <xs:element name="c_celular2" type="xs:string" />
        <xs:element name="c_email" type="xs:string" />
        <xs:element name="c_agentefinanceiro" type="xs:string" />
        <xs:element name="f_tp_logr" type="xs:string" />
        <xs:element name="f_sg_sexo" type="xs:string" />
        <xs:element name="f_dt_nasc" type="xs:string" />
        <xs:element name="f_estado_civil" type="xs:string" />
        <xs:element name="f_no_mae" type="xs:string" />
        <xs:element name="f_ddd_celular3" type="xs:string" />
        <xs:element name="f_celular3" type="xs:string" />
        <xs:element name="f_situacao" type="xs:string" />
        <xs:element name="f_idade" type="xs:string" />
        <xs:element name="f_no_sobrenome" type="xs:string" />
        <xs:element name="f_signo" type="xs:string" />
        <xs:element name="f_cnpj_part_soc" type="xs:string" />
        <xs:element name="f_cargo_part_soc" type="xs:string" />
        <xs:element name="f_rg" type="xs:string" />
        <xs:element name="f_uf_rg" type="xs:string" />
        <xs:element name="f_emissor_rg" type="xs:string" />
        <xs:element name="j_atividade_economica" type="xs:string" />
        <xs:element name="j_natureza_juridica" type="xs:string" />
        <xs:element name="j_co_atividade_economica" type="xs:string" />
        <xs:element name="j_co_natureza_juridica" type="xs:string" />
        <xs:element name="j_nome_fantasia" type="xs:string" />
        <xs:element name="j_dt_abertura" type="xs:string" />
        <xs:element name="j_situacao_receita" type="xs:string" />
        <xs:element name="j_nu_cpf1" type="xs:string" />
        <xs:element name="j_nome_socio_diretor1" type="xs:string" />
        <xs:element name="j_cargo1" type="xs:string" />
        <xs:element name="j_email_socio1" type="xs:string" />
        <xs:element name="j_tp_logr_contato1" type="xs:string" />
        <xs:element name="j_no_logr_contato1" type="xs:string" />
        <xs:element name="j_nu_logr_contato1" type="xs:string" />
        <xs:element name="j_no_compl_contato1" type="xs:string" />
        <xs:element name="j_no_bairro_contato1" type="xs:string" />
        <xs:element name="j_no_cidade_contato1" type="xs:string" />
        <xs:element name="j_sg_estado_contato1" type="xs:string" />
        <xs:element name="j_nu_cep_contato1" type="xs:string" />
        <xs:element name="j_ddd1_fixo_socio1" type="xs:string" />
        <xs:element name="j_tel1_fixo_socio1" type="xs:string" />
        <xs:element name="j_ddd2_fixo_socio1" type="xs:string" />
        <xs:element name="j_tel2_fixo_socio1" type="xs:string" />
        <xs:element name="j_ddd3_fixo_socio1" type="xs:string" />
        <xs:element name="j_tel3_fixo_socio1" type="xs:string" />
        <xs:element name="j_ddd1_cel_socio1" type="xs:string" />
        <xs:element name="j_tel1_cel_socio1" type="xs:string" />
        <xs:element name="j_ddd2_cel_socio1" type="xs:string" />
        <xs:element name="j_tel2_cel_socio1" type="xs:string" />
        <xs:element name="j_nu_cpf2" type="xs:string" />
        <xs:element name="j_nome_socio_diretor2" type="xs:string" />
        <xs:element name="j_cargo2" type="xs:string" />
        <xs:element name="j_email_socio2" type="xs:string" />
        <xs:element name="j_tp_logr_contato2" type="xs:string" />
        <xs:element name="j_no_logr_contato2" type="xs:string" />
        <xs:element name="j_nu_logr_contato2" type="xs:string" />
        <xs:element name="j_no_compl_contato2" type="xs:string" />
        <xs:element name="j_no_bairro_contato2" type="xs:string" />
        <xs:element name="j_sg_estado_contato2" type="xs:string" />
        <xs:element name="j_nu_cep_contato2" type="xs:string" />
        <xs:element name="j_ddd1_fixo_socio2" type="xs:string" />
        <xs:element name="j_tel1_fixo_socio2" type="xs:string" />
        <xs:element name="j_ddd2_fixo_socio2" type="xs:string" />
        <xs:element name="j_tel2_fixo_socio2" type="xs:string" />
        <xs:element name="j_ddd3_fixo_socio2" type="xs:string" />
        <xs:element name="j_tel3_fixo_socio2" type="xs:string" />
        <xs:element name="j_ddd1_cel_socio2" type="xs:string" />
        <xs:element name="j_tel1_cel_socio2" type="xs:string" />
        <xs:element name="j_ddd2_cel_socio2" type="xs:string" />
        <xs:element name="j_tel2_cel_socio2" type="xs:string" />
        <xs:element name="j_nu_cpf3" type="xs:string" />
        <xs:element name="j_nome_socio_diretor3" type="xs:string" />
        <xs:element name="j_cargo3" type="xs:string" />
        <xs:element name="j_email_socio3" type="xs:string" />
        <xs:element name="j_tp_logr_contato3" type="xs:string" />
        <xs:element name="j_no_logr_contato3" type="xs:string" />
        <xs:element name="j_nu_logr_contato3" type="xs:string" />
        <xs:element name="j_no_compl_contato3" type="xs:string" />
        <xs:element name="j_no_bairro_contato3" type="xs:string" />
        <xs:element name="j_no_cidade_contato3" type="xs:string" />
        <xs:element name="j_sg_estado_contato3" type="xs:string" />
        <xs:element name="j_nu_cep_contato3" type="xs:string" />
        <xs:element name="j_ddd1_fixo_socio3" type="xs:string" />
        <xs:element name="j_tel1_fixo_socio3" type="xs:string" />
        <xs:element name="j_ddd2_fixo_socio3" type="xs:string" />
        <xs:element name="j_tel2_fixo_socio3" type="xs:string" />
        <xs:element name="j_ddd3_fixo_socio3" type="xs:string" />
        <xs:element name="j_tel3_fixo_socio3" type="xs:string" />
        <xs:element name="j_ddd1_cel_socio3" type="xs:string" />
        <xs:element name="j_tel1_cel_socio3" type="xs:string" />
        <xs:element name="j_ddd2_cel_socio3" type="xs:string" />
        <xs:element name="j_tel2_cel_socio3" type="xs:string" />
        <xs:element name="j_sg_sexo_socio1" type="xs:string" />
        <xs:element name="j_sg_sexo_socio2" type="xs:string" />
        <xs:element name="j_sg_sexo_socio3" type="xs:string" />
        <xs:element name="j_dt_nasc_socio1" type="xs:string" />
        <xs:element name="j_dt_nasc_socio2" type="xs:string" />
        <xs:element name="j_dt_nasc_socio3" type="xs:string" />
        <xs:element name="j_cnpj_qsa1" type="xs:string" />
        <xs:element name="j_dt_entrada_soc1" type="xs:string" />
        <xs:element name="j_nu_part_cap_social1" type="xs:string" />
        <xs:element name="j_cnpj_qsa2" type="xs:string" />
        <xs:element name="j_dt_entrada_soc2" type="xs:string" />
        <xs:element name="j_nu_part_cap_social2" type="xs:string" />
        <xs:element name="j_cnpj_qsa3" type="xs:string" />
        <xs:element name="j_dt_entrada_soc3" type="xs:string" />
        <xs:element name="j_nu_part_cap_social3" type="xs:string" />
        <xs:element name="j_restricao_banco" type="xs:string" />
        <xs:element name="j_restricao_agencia" type="xs:string" />
        <xs:element name="j_restricao_motivo" type="xs:string" />
        <xs:element name="j_email1" type="xs:string" />
        <xs:element name="j_nu_cpf_cnpj1" type="xs:string" />
        <xs:element name="j_nu_cpf_cnpj2" type="xs:string" />
        <xs:element name="j_nu_cpf_cnpj3" type="xs:string" />
        <xs:element name="j_no_cidade_contato2" type="xs:string" />
        <xs:element name="atividade_economica_secundaria" type="xs:string" />
        <xs:element name="co_atividade_economica_sec" type="xs:string" />
        <xs:element name="site" type="xs:string" />
        <xs:element name="ref_ini" type="xs:string" />
        <xs:element name="ref_fim" type="xs:string" />
        <xs:element name="ref_seg" type="xs:string" />
        <xs:element name="ref_aop" type="xs:string" />
        <xs:element name="area_operacional" type="xs:string" />
        <xs:element name="seg" type="xs:string" />
        <xs:element name="subseg" type="xs:string" />
        <xs:element name="tipo_terreno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberareaoper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="member" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="areaoper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mensagem" >
      <xs:sequence>
        <xs:element name="mensagemid" type="xs:anyType" />
        <xs:element name="mensagem" type="xs:string" />
        <xs:element name="tag" type="xs:string" />
        <xs:element name="tipoid" type="xs:anyType" />
        <xs:element name="assunto" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktcart" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="emailmkt" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="quantity" type="xs:double" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="total" type="xs:double" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="pass" type="xs:string" />
        <xs:element name="reg" type="xs:dateTime" />
        <xs:element name="terms" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="logid" type="xs:long" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="orderitemid" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="productquantity" type="xs:double" />
        <xs:element name="productprice" type="xs:double" />
        <xs:element name="productdescount" type="xs:double" />
        <xs:element name="producttotal" type="xs:double" />
        <xs:element name="orderitemstatus" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="metatagtitle" type="xs:string" />
        <xs:element name="metatagdescription" type="xs:string" />
        <xs:element name="metatagkeywords" type="xs:string" />
        <xs:element name="pic1" type="xs:anyType" />
        <xs:element name="pic2" type="xs:anyType" />
        <xs:element name="pic3" type="xs:anyType" />
        <xs:element name="pic4" type="xs:anyType" />
        <xs:element name="pic5" type="xs:anyType" />
        <xs:element name="brand" type="xs:long" />
        <xs:element name="varietal" type="xs:string" />
        <xs:element name="alcohol" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="year" type="xs:string" />
        <xs:element name="mevushal" type="xs:string" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="b" type="brand" nillable="true" minOccurs="0" />
        <xs:element name="c" type="category" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="security" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilejpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimagejpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcarouseljpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wineriesjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktproductjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonexistententityexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="illegalorphanexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="messages" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="preexistingentityexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="salesorderjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loguploadjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktcartjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brandjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member1jpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorderitemjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="areaoperjpacontroller" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorderitem" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderitemid" type="xs:anyType" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="//@max(value" type="xs:double" />
        <xs:element name="productprice" type="xs:double" />
        <xs:element name="productdescount" type="xs:double" />
        <xs:element name="producttotal" type="xs:double" />
        <xs:element name="orderitemstatus" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="metatagtitle" type="xs:string" />
        <xs:element name="metatagdescription" type="xs:string" />
        <xs:element name="metatagkeywords" type="xs:string" />
        <xs:element name="pic1" type="xs:string" />
        <xs:element name="pic2" type="xs:string" />
        <xs:element name="pic3" type="xs:string" />
        <xs:element name="pic4" type="xs:string" />
        <xs:element name="pic5" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="varietal" type="xs:string" />
        <xs:element name="alcohool" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="year" type="xs:string" />
        <xs:element name="mevushal" type="xs:string" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="//@max(value" type="xs:double" />
        <xs:element name="buyprice" type="xs:double" />
        <xs:element name="GeneratedName" type="productcarousel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logupload" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="loguploadid" type="xs:anyType" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="addressid" type="xs:anyType" />
        <xs:element name="addressline1" type="xs:string" />
        <xs:element name="addressline2" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="suburb" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="modifieddate" type="xs:string" />
        <xs:element name="clientcollection" type="client" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="clientcollection1" type="client" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorder" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="order" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="orderstatus" type="xs:string" />
        <xs:element name="session" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="shipping" type="xs:double" />
        <xs:element name="subtotal" type="xs:double" />
        <xs:element name="gst" type="xs:double" />
        <xs:element name="total" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member1" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="memberid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="pass" type="xs:string" />
        <xs:element name="reg" type="xs:dateTime" />
        <xs:element name="terms" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="areaopercollection" type="areaoper" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktcartpk" >
      <xs:sequence>
        <xs:element name="emailmktid" type="xs:long" />
        <xs:element name="clientid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="clientid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="datebirth" type="xs:string" />
        <xs:element name="companyname1" type="xs:string" />
        <xs:element name="contactperson1" type="xs:string" />
        <xs:element name="streetaddress11" type="xs:string" />
        <xs:element name="streetaddress12" type="xs:string" />
        <xs:element name="suburb1" type="xs:string" />
        <xs:element name="postal1" type="xs:string" />
        <xs:element name="state1" type="xs:string" />
        <xs:element name="sameasdelivery" type="xs:anyType" />
        <xs:element name="companyname2" type="xs:string" />
        <xs:element name="streetaddress21" type="xs:string" />
        <xs:element name="streetaddress22" type="xs:string" />
        <xs:element name="suburb2" type="xs:string" />
        <xs:element name="postal2" type="xs:string" />
        <xs:element name="state2" type="xs:string" />
        <xs:element name="billing" type="address" nillable="true" minOccurs="0" />
        <xs:element name="shipping" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktproduct" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="emailmktproductid" type="xs:anyType" />
        <xs:element name="emailmktid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcarousel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productorder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmkt" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="emailmktid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="metatagtitle" type="xs:string" />
        <xs:element name="metatagdescription" type="xs:string" />
        <xs:element name="metatagkeywords" type="xs:string" />
        <xs:element name="metatagurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktcart" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="emailmktcartpk" nillable="true" minOccurs="0" />
        <xs:element name="//@max(value" type="xs:double" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="total" type="xs:double" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="logid" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="categorytag" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="transactionid" type="xs:anyType" />
        <xs:element name="accesscode" type="xs:string" />
        <xs:element name="transactionauthorisationcode" type="xs:string" />
        <xs:element name="transactionresponsecode" type="xs:string" />
        <xs:element name="transactionresponsemessage" type="xs:string" />
        <xs:element name="transactioninvoicenumber" type="xs:string" />
        <xs:element name="transactioninvoicereference" type="xs:string" />
        <xs:element name="transactiontotalamount" type="xs:string" />
        <xs:element name="transactiontransactionid" type="xs:string" />
        <xs:element name="transactionstatus" type="xs:string" />
        <xs:element name="transactiontokencustomerid" type="xs:string" />
        <xs:element name="transactionbeaglescore" type="xs:string" />
        <xs:element name="transactionoptions" type="xs:string" />
        <xs:element name="verificationcvn" type="xs:string" />
        <xs:element name="verificationaddress" type="xs:string" />
        <xs:element name="verificationemail" type="xs:string" />
        <xs:element name="verificationmobile" type="xs:string" />
        <xs:element name="verificationphone" type="xs:string" />
        <xs:element name="beagleverificationemail" type="xs:string" />
        <xs:element name="beagleverificationphone" type="xs:string" />
        <xs:element name="customertokencustomerid" type="xs:string" />
        <xs:element name="customerreference" type="xs:string" />
        <xs:element name="customertitle" type="xs:string" />
        <xs:element name="customerfirstname" type="xs:string" />
        <xs:element name="customerlastname" type="xs:string" />
        <xs:element name="customercompanyname" type="xs:string" />
        <xs:element name="customerjobdescription" type="xs:string" />
        <xs:element name="customerstreet1" type="xs:string" />
        <xs:element name="customerstreet2" type="xs:string" />
        <xs:element name="customercity" type="xs:string" />
        <xs:element name="customerstate" type="xs:string" />
        <xs:element name="customerpostalcode" type="xs:string" />
        <xs:element name="customercountry" type="xs:string" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="customerphone" type="xs:string" />
        <xs:element name="customermobile" type="xs:string" />
        <xs:element name="customercomments" type="xs:string" />
        <xs:element name="customerfax" type="xs:string" />
        <xs:element name="customerurl" type="xs:string" />
        <xs:element name="customernote" type="xs:string" />
        <xs:element name="shippingaddressshippingmethod" type="xs:string" />
        <xs:element name="shippingaddressfirstname" type="xs:string" />
        <xs:element name="shippingaddresslastname" type="xs:string" />
        <xs:element name="shippingaddressstreet1" type="xs:string" />
        <xs:element name="shippingaddressstreet2" type="xs:string" />
        <xs:element name="shippingaddresscity" type="xs:string" />
        <xs:element name="shippingaddressstate" type="xs:string" />
        <xs:element name="shippingaddresscountry" type="xs:string" />
        <xs:element name="shippingaddresspostalcode" type="xs:string" />
        <xs:element name="shippingaddressemail" type="xs:string" />
        <xs:element name="shippingaddressphone" type="xs:string" />
        <xs:element name="shippingaddressfax" type="xs:string" />
        <xs:element name="transactionorder" type="xs:anyType" />
        <xs:element name="transactionorderstatus" type="xs:anyType" />
        <xs:element name="sales" type="order" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wineries" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="wineriesid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="photo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="areaoper" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="areaoperacional" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="member1collection" type="member1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimage" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brand" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="brandid" type="xs:anyType" />
        <xs:element name="brand" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="profileid" type="xs:anyType" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 