BoutiqueSite/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="salesorderitem" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderitemid" type="xs:anyType" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="//@max(value" type="xs:double" />
        <xs:element name="productprice" type="xs:double" />
        <xs:element name="productdescount" type="xs:double" />
        <xs:element name="producttotal" type="xs:double" />
        <xs:element name="orderitemstatus" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="metatagtitle" type="xs:string" />
        <xs:element name="metatagdescription" type="xs:string" />
        <xs:element name="metatagkeywords" type="xs:string" />
        <xs:element name="pic1" type="xs:string" />
        <xs:element name="pic2" type="xs:string" />
        <xs:element name="pic3" type="xs:string" />
        <xs:element name="pic4" type="xs:string" />
        <xs:element name="pic5" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="varietal" type="xs:string" />
        <xs:element name="alcohool" type="xs:string" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="year" type="xs:string" />
        <xs:element name="mevushal" type="xs:string" />
        <xs:element name="brand" type="xs:string" />
        <xs:element name="//@max(value" type="xs:double" />
        <xs:element name="buyprice" type="xs:double" />
        <xs:element name="GeneratedName" type="productcarousel" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logupload" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="loguploadid" type="xs:anyType" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="path" type="xs:string" />
        <xs:element name="description" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="addressid" type="xs:anyType" />
        <xs:element name="addressline1" type="xs:string" />
        <xs:element name="addressline2" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="suburb" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="modifieddate" type="xs:string" />
        <xs:element name="clientcollection" type="client" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="clientcollection1" type="client" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorder" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="order" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="orderstatus" type="xs:string" />
        <xs:element name="session" type="xs:string" />
        <xs:element name="ip" type="xs:string" />
        <xs:element name="shipping" type="xs:double" />
        <xs:element name="subtotal" type="xs:double" />
        <xs:element name="gst" type="xs:double" />
        <xs:element name="total" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member1" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="memberid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="pass" type="xs:string" />
        <xs:element name="reg" type="xs:dateTime" />
        <xs:element name="terms" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="areaopercollection" type="areaoper" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="clientid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="datebirth" type="xs:string" />
        <xs:element name="companyname1" type="xs:string" />
        <xs:element name="contactperson1" type="xs:string" />
        <xs:element name="streetaddress11" type="xs:string" />
        <xs:element name="streetaddress12" type="xs:string" />
        <xs:element name="suburb1" type="xs:string" />
        <xs:element name="postal1" type="xs:string" />
        <xs:element name="state1" type="xs:string" />
        <xs:element name="sameasdelivery" type="xs:anyType" />
        <xs:element name="companyname2" type="xs:string" />
        <xs:element name="streetaddress21" type="xs:string" />
        <xs:element name="streetaddress22" type="xs:string" />
        <xs:element name="suburb2" type="xs:string" />
        <xs:element name="postal2" type="xs:string" />
        <xs:element name="state2" type="xs:string" />
        <xs:element name="billing" type="address" nillable="true" minOccurs="0" />
        <xs:element name="shipping" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktproduct" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="emailmktproductid" type="xs:anyType" />
        <xs:element name="emailmktid" type="xs:anyType" />
        <xs:element name="productid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcarousel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="productorder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmkt" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="emailmktid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="metatagtitle" type="xs:string" />
        <xs:element name="metatagdescription" type="xs:string" />
        <xs:element name="metatagkeywords" type="xs:string" />
        <xs:element name="metatagurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmktcart" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="emailmktcartpk" nillable="true" minOccurs="0" />
        <xs:element name="//@max(value" type="xs:double" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="total" type="xs:double" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="logid" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="categorytag" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="image1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="transactionid" type="xs:anyType" />
        <xs:element name="accesscode" type="xs:string" />
        <xs:element name="transactionauthorisationcode" type="xs:string" />
        <xs:element name="transactionresponsecode" type="xs:string" />
        <xs:element name="transactionresponsemessage" type="xs:string" />
        <xs:element name="transactioninvoicenumber" type="xs:string" />
        <xs:element name="transactioninvoicereference" type="xs:string" />
        <xs:element name="transactiontotalamount" type="xs:string" />
        <xs:element name="transactiontransactionid" type="xs:string" />
        <xs:element name="transactionstatus" type="xs:string" />
        <xs:element name="transactiontokencustomerid" type="xs:string" />
        <xs:element name="transactionbeaglescore" type="xs:string" />
        <xs:element name="transactionoptions" type="xs:string" />
        <xs:element name="verificationcvn" type="xs:string" />
        <xs:element name="verificationaddress" type="xs:string" />
        <xs:element name="verificationemail" type="xs:string" />
        <xs:element name="verificationmobile" type="xs:string" />
        <xs:element name="verificationphone" type="xs:string" />
        <xs:element name="beagleverificationemail" type="xs:string" />
        <xs:element name="beagleverificationphone" type="xs:string" />
        <xs:element name="customertokencustomerid" type="xs:string" />
        <xs:element name="customerreference" type="xs:string" />
        <xs:element name="customertitle" type="xs:string" />
        <xs:element name="customerfirstname" type="xs:string" />
        <xs:element name="customerlastname" type="xs:string" />
        <xs:element name="customercompanyname" type="xs:string" />
        <xs:element name="customerjobdescription" type="xs:string" />
        <xs:element name="customerstreet1" type="xs:string" />
        <xs:element name="customerstreet2" type="xs:string" />
        <xs:element name="customercity" type="xs:string" />
        <xs:element name="customerstate" type="xs:string" />
        <xs:element name="customerpostalcode" type="xs:string" />
        <xs:element name="customercountry" type="xs:string" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="customerphone" type="xs:string" />
        <xs:element name="customermobile" type="xs:string" />
        <xs:element name="customercomments" type="xs:string" />
        <xs:element name="customerfax" type="xs:string" />
        <xs:element name="customerurl" type="xs:string" />
        <xs:element name="customernote" type="xs:string" />
        <xs:element name="shippingaddressshippingmethod" type="xs:string" />
        <xs:element name="shippingaddressfirstname" type="xs:string" />
        <xs:element name="shippingaddresslastname" type="xs:string" />
        <xs:element name="shippingaddressstreet1" type="xs:string" />
        <xs:element name="shippingaddressstreet2" type="xs:string" />
        <xs:element name="shippingaddresscity" type="xs:string" />
        <xs:element name="shippingaddressstate" type="xs:string" />
        <xs:element name="shippingaddresscountry" type="xs:string" />
        <xs:element name="shippingaddresspostalcode" type="xs:string" />
        <xs:element name="shippingaddressemail" type="xs:string" />
        <xs:element name="shippingaddressphone" type="xs:string" />
        <xs:element name="shippingaddressfax" type="xs:string" />
        <xs:element name="transactionorder" type="xs:anyType" />
        <xs:element name="transactionorderstatus" type="xs:anyType" />
        <xs:element name="sales" type="order" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wineries" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="wineriesid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="photo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="areaoper" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="areaoperacional" type="xs:anyType" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="member1collection" type="member1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productimage" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="pic" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brand" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="brandid" type="xs:anyType" />
        <xs:element name="brand" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="profileid" type="xs:anyType" />
        <xs:element name="profile" type="xs:string" />
        <xs:element name="permission" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 