Comm-api/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="joins" >
      <xs:sequence>
        <xs:element name="communityid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="community" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="createdat" type="xs:string" />
        <xs:element name="textcontent" type="xs:string" />
        <xs:element name="image" type="xs:anyType" />
        <xs:element name="video" type="xs:anyType" />
        <xs:element name="likes" type="xs:long" />
        <xs:element name="comments" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="likes" >
      <xs:sequence>
        <xs:element name="postid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="follows" >
      <xs:sequence>
        <xs:element name="followerid" type="xs:long" />
        <xs:element name="followedid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="community" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="imgurl" type="xs:string" />
        <xs:element name="members" type="xs:long" />
        <xs:element name="about" type="xs:string" />
        <xs:element name="createdat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="bio" type="xs:string" />
        <xs:element name="followers" type="xs:long" />
        <xs:element name="following" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 