e-com1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="idinformationcontrollertest" >
      <xs:sequence>
        <xs:element name="resource_location_pattern" type="xs:string" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutil" >
      <xs:sequence>
        <xs:element name="buffer_size" type="xs:long" />
        <xs:element name="parentname" type="xs:string" />
        <xs:element name="dir" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3util" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
        <xs:element name="//clients3client" type="xs:anyType" />
        <xs:element name="accesskey" type="xs:string" />
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="bucketname" type="xs:string" />
        <xs:element name="/***uploadfile*@paramfilepath*@paramkeyname:keyname" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlresponseparser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
        <xs:element name="_date_max" type="xs:string" />
        <xs:element name="max_" type="xs:dateTime" />
        <xs:element name="_date_min" type="xs:string" />
        <xs:element name="_tz" type="xs:anyType" />
        <xs:element name="_fmtyear" type="xs:anyType" />
        <xs:element name="_fmtmonth" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constant" >
      <xs:sequence>
        <xs:element name="//apifomatdateapi_format_date" type="xs:string" />
        <xs:element name="//lang//langdefaultlang_default" type="xs:string" />
        <xs:element name="lang_auto" type="xs:string" />
        <xs:element name="billing_cycle" type="xs:long" />
        <xs:element name="lastweek_code" type="xs:long" />
        <xs:element name="last2weeks_code" type="xs:long" />
        <xs:element name="lastmonth_code" type="xs:long" />
        <xs:element name="last3months_code" type="xs:long" />
        <xs:element name="last6months_code" type="xs:long" />
        <xs:element name="lastyear_code" type="xs:long" />
        <xs:element name="one_minute_in_millis" type="xs:long" />
        <xs:element name="one_second_in_millis" type="xs:long" />
        <xs:element name="//15daysdefault_remember_login_miliseconds" type="xs:long" />
        <xs:element name="//30minutesdefault_session_time_out" type="xs:long" />
        <xs:element name="//definepagingresults,usefordefaultvalueof@requestparam,sotypeofdataisdefault_page_size" type="xs:string" />
        <xs:element name="default_page_number" type="xs:string" />
        <xs:element name="//definesortkeyvaluesort_by_product_name" type="xs:long" />
        <xs:element name="sort_by_product_price" type="xs:long" />
        <xs:element name="sort_by_product_quantity" type="xs:long" />
        <xs:element name="sort_by_product_create_date" type="xs:long" />
        <xs:element name="sort_by_first_name" type="xs:long" />
        <xs:element name="sort_by_last_name" type="xs:long" />
        <xs:element name="sort_by_email_address" type="xs:long" />
        <xs:element name="sort_by_create_date" type="xs:long" />
        <xs:element name="//definesortkeyvaluesort_by_items_quantity" type="xs:long" />
        <xs:element name="sort_by_grand_total" type="xs:long" />
        <xs:element name="//customtokenheaderheader_token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valueconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5hash" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mimetypeutils" >
      <xs:sequence>
        <xs:element name="mimetypetoextensionmap" type="xs:anyType" />
        <xs:element name="default_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutil" >
      <xs:sequence>
        <xs:element name="_hexcodes" type="xs:anyType" />
        <xs:element name="_shifts" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityfilter" >
      <xs:complexContent>
       <xs:extension base="delegatingfilterproxy">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniqueid" >
      <xs:sequence>
        <xs:element name="hardkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobworker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedulerservice" >
      <xs:sequence>
        <xs:element name="appcontext" type="xs:anyType" />
        <xs:element name="taskexecutor" type="xs:anyType" />
        <xs:element name="GeneratedName" type="emailnotificationworker" nillable="true" minOccurs="0" />
        <xs:element name="notificationworker" type="pushnotificationworker" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentsloginfo" >
      <xs:sequence>
        <xs:element name="contentid" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="useridopen" type="xs:string" />
        <xs:element name="opentime" type="xs:dateTime" />
        <xs:element name="os" type="xs:string" />
        <xs:element name="bookendversion" type="xs:string" />
        <xs:element name="ipaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipmodel" >
      <xs:sequence>
        <xs:element name="longitude" type="xs:string" />
        <xs:element name="latitude" type="xs:string" />
        <xs:element name="city" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pushnotificationworker" >
      <xs:complexContent>
       <xs:extension base="jobworker{">
         <xs:sequence>
          <xs:element name="template" type="xs:anyType" />
          <xs:element name="websocket_topic" type="xs:string" />
          <xs:element name="websocket_system_notification" type="xs:string" />
          <xs:element name="jobname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailnotificationworker" >
      <xs:complexContent>
       <xs:extension base="jobworker{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="//loggerlogger" type="emailsender" nillable="true" minOccurs="0" />
          <xs:element name="jobname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordersrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<orders,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributedetailrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productattributedetail,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryspecifications" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersspecification" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspecification" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="isascsort" type="xs:anyType" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productspecification" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="minprice" type="xs:double" />
        <xs:element name="maxprice" type="xs:double" />
        <xs:element name="minrank" type="xs:long" />
        <xs:element name="maxrank" type="xs:long" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="isascsort" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddressrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<useraddress,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<review,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<payment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertokenrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<usertoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdetailrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<orderdetail,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderpaymentrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<orderpayment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productattribute,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcategoryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productcategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderaddressrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<orderaddress,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceconfig" >
      <xs:sequence>
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketappconfig" >
      <xs:complexContent>
       <xs:extension base="abstractwebsocketmessagebrokerconfigurer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoriesserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="categoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="categoryspecifications" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoriesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="authuserfactory" nillable="true" minOccurs="0" />
          <xs:element name="map" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractbaseservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributedetailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productattributedetailrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usertokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ordersrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertokenservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usertokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpaymentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpaymentimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderaddressimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="orderaddressrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdetailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetailimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="orderdetailrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="ordersrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderaddressservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddressservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useraddressrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productattributerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderreport" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="reportid" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="note" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcategory" >
      <xs:sequence>
        <xs:element name="id" type="productcategoryid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpayment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="transactionid" type="xs:long" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="reviewid" type="xs:anyType" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcategoryid" >
      <xs:sequence>
        <xs:element name="//@idproductid" type="xs:long" />
        <xs:element name="//@idcategoryid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributedetail" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="//@max(value" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="history" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="historyid" type="xs:anyType" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderaddress" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="adressid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="regionid" type="xs:long" />
        <xs:element name="region" type="xs:string" />
        <xs:element name="postcode" type="xs:string" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="suffix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetail" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="isvirtual" type="xs:long" />
        <xs:element name="sku" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="freeshipping" type="xs:anyType" />
        <xs:element name="//@max(value" type="xs:anyType" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="baseprice" type="xs:anyType" />
        <xs:element name="rowtotal" type="xs:anyType" />
        <xs:element name="baserowtotal" type="xs:anyType" />
        <xs:element name="rowweight" type="xs:anyType" />
        <xs:element name="producttype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierproduct" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="supplierid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theme" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="themeid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="thumbnail" type="xs:string" />
        <xs:element name="sourcepath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="browsingname" type="xs:string" />
        <xs:element name="saleprice" type="xs:double" />
        <xs:element name="listprice" type="xs:double" />
        <xs:element name="defaultimage" type="xs:string" />
        <xs:element name="overview" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="isstockcontrolled" type="xs:anyType" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="sku" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="updon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddress" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="adressid" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="adress" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattribute" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="passwordhash" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="salt" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="themeid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="appdomain" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributedetailpk" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpaymentpk" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="adressid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="isactive" type="xs:long" />
        <xs:element name="isvirtual" type="xs:long" />
        <xs:element name="ismultishipping" type="xs:long" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="itemscount" type="xs:anyType" />
        <xs:element name="//@max(value" type="xs:anyType" />
        <xs:element name="grandtotal" type="xs:anyType" />
        <xs:element name="basegrandtotal" type="xs:anyType" />
        <xs:element name="checkoutcomment" type="xs:string" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="customerprefix" type="xs:string" />
        <xs:element name="customerfirstname" type="xs:string" />
        <xs:element name="customermiddlename" type="xs:string" />
        <xs:element name="customerlastname" type="xs:string" />
        <xs:element name="customersuffix" type="xs:string" />
        <xs:element name="customerdob" type="xs:dateTime" />
        <xs:element name="customerisguest" type="xs:long" />
        <xs:element name="remoteip" type="xs:string" />
        <xs:element name="customergender" type="xs:string" />
        <xs:element name="subtotal" type="xs:anyType" />
        <xs:element name="basesubtotal" type="xs:anyType" />
        <xs:element name="ischanged" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplier" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="supplierid" type="xs:anyType" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertoken" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="login" type="xs:dateTime" />
        <xs:element name="expiration" type="xs:dateTime" />
        <xs:element name="sessiondata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataformatexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="" type="apistatus" nillable="true" minOccurs="0" />
          <xs:element name="data" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuser" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="role" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authuserfactoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authentrypointexception" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuserfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authtokenfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="ger" type="xs:anyType" />
          <xs:element name="userauthservice" type="customuserauthservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authuserdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usertokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserauthservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notificationmessage" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="body" type="xs:anyType" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="projectid" type="xs:string" />
        <xs:element name="notifyuserids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailsender" >
      <xs:sequence>
        <xs:element name="//smtphost" type="xs:string" />
        <xs:element name="smtpport" type="xs:long" />
        <xs:element name="issmtps" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postalservice" >
      <xs:sequence>
        <xs:element name="emailtransportconfig" type="emailtransportconfiguration" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailtransportconfiguration" >
      <xs:sequence>
        <xs:element name="properties_file" type="xs:string" />
        <xs:element name="key_smtp_server" type="xs:string" />
        <xs:element name="key_auth_required" type="xs:string" />
        <xs:element name="key_use_secure_smtp" type="xs:string" />
        <xs:element name="key_username" type="xs:string" />
        <xs:element name="key_password" type="xs:string" />
        <xs:element name="smtpserver" type="xs:string" />
        <xs:element name="smtpport" type="xs:long" />
        <xs:element name="authenticationrequired" type="xs:anyType" />
        <xs:element name="usesecuresmtp" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailtransportexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="emailaddressvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="postalservice" nillable="true" minOccurs="0" />
        <xs:element name="fromaddress" type="xs:string" />
        <xs:element name="toaddresses" type="xs:anyType" />
        <xs:element name="ccaddresses" type="xs:anyType" />
        <xs:element name="bccaddresses" type="xs:anyType" />
        <xs:element name="attachments" type="xs:anyType" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="body" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidemailaddressexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="incompleteemailexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailaddressvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationqueuemanager" >
      <xs:sequence>
        <xs:element name="//instanceinstance" type="notificationqueuemanager" nillable="true" minOccurs="0" />
        <xs:element name="//encodequeuemessagemessages" type="notificationmessage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="messagesystemnotify" type="notificationmessage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
          <xs:element name="" type="responseutil" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responseutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apistatus" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiresponse" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
          <xs:element name="/***status&messagefieldshavenotsetter.theyareassignedvaluewhen*initialbyapistatusparameter*/status" type="xs:long" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="daa" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pagingresponsemodel" >
      <xs:sequence>
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="totalresult" type="xs:long" />
        <xs:element name="totalpage" type="xs:long" />
        <xs:element name="currentpage" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusresponse" >
      <xs:sequence>
        <xs:element name="resul" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="statuscode" type="xs:long" />
        <xs:element name="totalrecords" type="xs:long" />
        <xs:element name="servertime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailresponsemodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="salt" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributedetailapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="productattributedetailservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributeapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="productattributeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productapi" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="productservice" type="productserviceimpl" nillable="true" minOccurs="0" />
          <xs:element name="productattributeservice" type="productattributedetailservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="productcategoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="categoryrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="repository" type="categoryrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractresthandler" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="default_page_size" type="xs:string" />
        <xs:element name="default_page_num" type="xs:string" />
        <xs:element name="//mapperobjectisusedtoconvertobjectandetc...mapper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="ordersservice" nillable="true" minOccurs="0" />
          <xs:element name="customerservice" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderaddressimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="productservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdetailimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="responseutil" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderscontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="orderservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdetailservice" nillable="true" minOccurs="0" />
          <xs:element name="orderaddresslservice" type="orderaddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderpaymentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="productservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="paymentrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadfilecontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="uploadpath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractbasecontroller" >
      <xs:sequence>
        <xs:element name="userdetailsservice" type="customuserauthservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="responseutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catetoriescontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="categoriesservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="companyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="authservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="authuserfactory" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="reviewservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apiname" >
      <xs:sequence>
        <xs:element name="//versionversion" type="xs:string" />
        <xs:element name="//charsetcharset" type="xs:string" />
        <xs:element name="//actionuserlogin" type="xs:string" />
        <xs:element name="logout" type="xs:string" />
        <xs:element name="//ssooauth_login" type="xs:string" />
        <xs:element name="oauth_implicit_login" type="xs:string" />
        <xs:element name="check_api_key" type="xs:string" />
        <xs:element name="//productapilinksproducts" type="xs:string" />
        <xs:element name="products_by_category" type="xs:string" />
        <xs:element name="product_by_id" type="xs:string" />
        <xs:element name="product_by_ids" type="xs:string" />
        <xs:element name="products_filter_list" type="xs:string" />
        <xs:element name="product_details" type="xs:string" />
        <xs:element name="product_attributes" type="xs:string" />
        <xs:element name="product_create" type="xs:string" />
        <xs:element name="products_delete" type="xs:string" />
        <xs:element name="products_update" type="xs:string" />
        <xs:element name="//categoryapilinkscategories" type="xs:string" />
        <xs:element name="categories_id" type="xs:string" />
        <xs:element name="//companyapilinkcompanies" type="xs:string" />
        <xs:element name="companies_search_by_id" type="xs:string" />
        <xs:element name="//userapilinkusers" type="xs:string" />
        <xs:element name="user_register" type="xs:string" />
        <xs:element name="user_list" type="xs:string" />
        <xs:element name="users_login" type="xs:string" />
        <xs:element name="users_logout" type="xs:string" />
        <xs:element name="user_details" type="xs:string" />
        <xs:element name="update_user" type="xs:string" />
        <xs:element name="delete_user" type="xs:string" />
        <xs:element name="change_password_user" type="xs:string" />
        <xs:element name="//reviewapilinkreviews" type="xs:string" />
        <xs:element name="reviews_by_product_id" type="xs:string" />
        <xs:element name="reviews_add" type="xs:string" />
        <xs:element name="//ordersorders" type="xs:string" />
        <xs:element name="order_create" type="xs:string" />
        <xs:element name="orders_by_company" type="xs:string" />
        <xs:element name="orders_detail_by_company" type="xs:string" />
        <xs:element name="change_status_orders_by_company" type="xs:string" />
        <xs:element name="//authapisauth_api" type="xs:string" />
        <xs:element name="session_data" type="xs:string" />
        <xs:element name="user_logout" type="xs:string" />
        <xs:element name="admin_login_api" type="xs:string" />
        <xs:element name="//categoriesapiscategories_api" type="xs:string" />
        <xs:element name="categories_add" type="xs:string" />
        <xs:element name="categories_update" type="xs:string" />
        <xs:element name="categories_delete" type="xs:string" />
        <xs:element name="categories_detail" type="xs:string" />
        <xs:element name="categories_list" type="xs:string" />
        <xs:element name="//uploadfileapiupload_api" type="xs:string" />
        <xs:element name="upload_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractbaseapi" >
      <xs:sequence>
        <xs:element name="userdetailsservice" type="customuserauthservice" nillable="true" minOccurs="0" />
        <xs:element name="//mapperobjectisusedtoconvertobjectandetc...mapper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
        <xs:element name="////reponsestatus//" type="statusresponse" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userlistrequestmodel" >
      <xs:sequence>
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listproductmodel" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="minprice" type="xs:double" />
        <xs:element name="maxprice" type="xs:double" />
        <xs:element name="minrank" type="xs:long" />
        <xs:element name="maxrank" type="xs:long" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcategoryrequestmodel" >
      <xs:sequence>
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequestmodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="fax" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authrequestmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="keepmelogin" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatecategoryrequestmodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productinfo" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createproductmodel" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="listcategoriesid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="browsingname" type="xs:string" />
        <xs:element name="saleprice" type="xs:double" />
        <xs:element name="listprice" type="xs:double" />
        <xs:element name="defaultimage" type="xs:string" />
        <xs:element name="overview" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="isstockcontrolled" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="sku" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcompanymodel" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrequestmodel" >
      <xs:sequence>
        <xs:element name="user" type="userrequestmodel" nillable="true" minOccurs="0" />
        <xs:element name="productlist" type="productinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="paymentid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userchangepasswordmodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="oldpassword" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersrequestmodel" >
      <xs:sequence>
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userapi" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="authservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="companyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restcontrolleraspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="application_name" type="application" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="unauthorizedhandler" type="authentrypointexception" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="corsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localqueuemanager" >
      <xs:sequence>
        <xs:element name="//instanceinstance" type="localqueuemanager" nillable="true" minOccurs="0" />
        <xs:element name="emailqueue" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resterrorinfo" >
      <xs:sequence>
        <xs:element name="detail" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slideto.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 