code-sample11/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="customerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="favorites" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="telephone" type="xs:string" />
        <xs:element name="favorites" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 