donus-code-challenge/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="accountapplicationtestdata" >
      <xs:sequence>
        <xs:element name="requestjson" type="xs:string" />
        <xs:element name="logon" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="now" type="xs:anyType" />
        <xs:element name="//weshouldhaveanhandlerinplace" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitiesconfigurer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountapplicationtestconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enititytabletransformer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="entitysamplefactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttabletransformer" >
      <xs:complexContent>
       <xs:extension base="enititytabletransformer<account>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactiontabletransformer" >
      <xs:complexContent>
       <xs:extension base="enititytabletransformer<transaction>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cucumbercontextconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysamplefactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonsteps" >
      <xs:sequence>
        <xs:element name="testdata" type="accountapplicationtestdata" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionsteps" >
      <xs:sequence>
        <xs:element name="testdata" type="accountapplicationtestdata" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountsteps" >
      <xs:sequence>
        <xs:element name="testdata" type="accountapplicationtestdata" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountapplicationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentvalidator" >
      <xs:sequence>
        <xs:element name="pesocpf" type="xs:long" />
        <xs:element name="pesocnpj" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="sao_paulo_time_zone" type="xs:anyType" />
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="transactionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="documentvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="accountmapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pagemapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityalreadyexistsexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="entitynotfoundexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountalreadyexistsexception" >
      <xs:complexContent>
       <xs:extension base="entitynotfoundexception">
         <xs:sequence>
          <xs:element name="message_template" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitynotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="targetaccountnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="entitynotfoundexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitybadrequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidtaxidexception" >
      <xs:complexContent>
       <xs:extension base="entitybadrequestexception">
         <xs:sequence>
          <xs:element name="message_template" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="negativevalueexception" >
      <xs:complexContent>
       <xs:extension base="entitybadrequestexception">
         <xs:sequence>
          <xs:element name="message_template" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notenoughfundsexception" >
      <xs:complexContent>
       <xs:extension base="entitybadrequestexception">
         <xs:sequence>
          <xs:element name="message_template" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<transaction,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequest" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="taxid" type="xs:string" />
        <xs:element name="balance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createaccountrequest" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="taxid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountresponse" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="taxid" type="xs:string" />
        <xs:element name="balance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageresponse" >
      <xs:sequence>
        <xs:element name="page" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="total" type="xs:long" />
        <xs:element name="items" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionresponse" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="transactiontype" nillable="true" minOccurs="0" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagemapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactiontype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="taxid" type="xs:string" />
        <xs:element name="balance" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="lastupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="accountid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactiontype" nillable="true" minOccurs="0" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="lastupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountapplicationconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1__create_initial_schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 