donus-code-challenge/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="taxid" type="xs:string" />
        <xs:element name="balance" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="lastupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="accountid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="transactiontype" nillable="true" minOccurs="0" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="lastupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 