Fa4Project/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="cart" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="prodid" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyer" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="isprivileged" type="xs:anyType" />
        <xs:element name="rewardpoints" type="xs:anyType" />
        <xs:element name="isactive" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seller" >
      <xs:sequence>
        <xs:element name="sellerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlist" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:anyType" />
        <xs:element name="prodid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 