BoradPractice/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springpracticeapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="write" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontoller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="noticeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticeseriveimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="noticedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noticedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<noticeentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticeentity" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="regdt" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springpracticeapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 