BoradPractice/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="noticeentity" >
      <xs:sequence>
        <xs:element name="idx" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="contents" type="xs:string" />
        <xs:element name="writer" type="xs:string" />
        <xs:element name="regdt" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 