HibernateOne2OneRelationship7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="c3p0defaultisolationleveltest" >
      <xs:complexContent>
       <xs:extension base="		basenonconfigcorefunctionaltestcase">
         <xs:sequence>
          <xs:element name="connectionprovider" type="c3p0proxyconnectionprovider" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c3p0differentisolationleveltest" >
      <xs:complexContent>
       <xs:extension base="		basenonconfigcorefunctionaltestcase">
         <xs:sequence>
          <xs:element name="connectionprovider" type="c3p0proxyconnectionprovider" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="irrelevantentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oraclesqlcallablestatementproxytest" >
      <xs:complexContent>
       <xs:extension base="		basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 