backManagerWebAPP/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="configproperty" >
      <xs:sequence>
        <xs:element name="host" type="xs:string" />
        <xs:element name="temppathfile" type="xs:string" />
        <xs:element name="imgurlbase" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsedata" >
      <xs:sequence>
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="failed" type="xs:anyType" />
        <xs:element name="failedmessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonmessage" >
      <xs:sequence>
        <xs:element name="merchant_acount_exists" type="xs:string" />
        <xs:element name="save_merchant_info_failed" type="xs:string" />
        <xs:element name="create_group_failed" type="xs:string" />
        <xs:element name="get_group_list_failed" type="xs:string" />
        <xs:element name="get_group_details_failed" type="xs:string" />
        <xs:element name="get_product_details_failed" type="xs:string" />
        <xs:element name="get_product_style_failed" type="xs:string" />
        <xs:element name="create_order_failed" type="xs:string" />
        <xs:element name="get_comment_list_failed" type="xs:string" />
        <xs:element name="get_address_failed" type="xs:string" />
        <xs:element name="add_address_failed" type="xs:string" />
        <xs:element name="set_default_address_failed" type="xs:string" />
        <xs:element name="delete_address_failed" type="xs:string" />
        <xs:element name="get_all_address_failed" type="xs:string" />
        <xs:element name="get_order_failed" type="xs:string" />
        <xs:element name="search_orders_failed" type="xs:string" />
        <xs:element name="get_order_details_failed" type="xs:string" />
        <xs:element name="remove_order_failed" type="xs:string" />
        <xs:element name="get_user_grade_failed" type="xs:string" />
        <xs:element name="get_cashback_list_failed" type="xs:string" />
        <xs:element name="get_children_failed" type="xs:string" />
        <xs:element name="send_verfication_code_failed" type="xs:string" />
        <xs:element name="check_verfication_code_failed" type="xs:string" />
        <xs:element name="login_failed" type="xs:string" />
        <xs:element name="not_log_in" type="xs:string" />
        <xs:element name="test_failed" type="xs:string" />
        <xs:element name="refund_failed" type="xs:string" />
        <xs:element name="send_message_failed" type="xs:string" />
        <xs:element name="get_track_failed" type="xs:string" />
        <xs:element name="pay_failed" type="xs:string" />
        <xs:element name="get_hot_label_failed" type="xs:string" />
        <xs:element name="send_comment_failed" type="xs:string" />
        <xs:element name="get_product_parameter_failed" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productclassifycoderepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<productclassifycodeentity,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="trackrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<authorityentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explainrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<explainentity,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productclassifycoderepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashbackrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bannerrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<bannerentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<userentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagerepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="merchantrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<merchantentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="merchantrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainrepository" >
      <xs:complexContent>
       <xs:extension base="serializable>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritydefinerepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketsrepositoryimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<orderentity,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cashbackrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<cashbackentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="grouprepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<groupentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expressagerepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trackrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<trackentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendaddressrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<sendaddressentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="billrepository" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="labelrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<labelentity,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="explainrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grouprepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<productentity,string>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendaddressrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expressagerepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<expressageentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authoritydefinerepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<authoritydefineentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bannerrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketsrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<commententity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagerepository" >
      <xs:complexContent>
       <xs:extension base="domainrepository<imageentity,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="labelrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="randomtools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisapi" >
      <xs:sequence>
        <xs:element name="pool" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="base64tool" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hmacutil" >
      <xs:sequence>
        <xs:element name="hex_digits" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storetools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kdniaotrackqueryapi" >
      <xs:sequence>
        <xs:element name="//电商idebusinessid" type="xs:string" />
        <xs:element name="//电商加密私钥，快递鸟提供，注意保管，不要泄漏appkey" type="xs:string" />
        <xs:element name="//请求urlrequrl" type="xs:string" />
        <xs:element name="base64encodes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessiontools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="disposeutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myhandshakeinterceptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
        <xs:element name="is" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpayrequest" >
      <xs:sequence>
        <xs:element name="config" type="wxpayconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iwxpaydomain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpaydomainsimpleimpl" >
      <xs:sequence>
        <xs:element name="//3minutesmin_switch_primary_msec" type="xs:long" />
        <xs:element name="switchtoalternatedomaintime" type="xs:long" />
        <xs:element name="domaindata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpayconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpayreport" >
      <xs:sequence>
        <xs:element name="report_url" type="xs:string" />
        <xs:element name="//stringreport_url" type="xs:long" />
        <xs:element name="default_read_timeout_ms" type="xs:long" />
        <xs:element name="reportmsgqueue" type="xs:anyType" />
        <xs:element name="config" type="wxpayconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="volatileinstance" type="wxpayreport" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpayconstants" >
      <xs:sequence>
        <xs:element name="domain_api" type="xs:string" />
        <xs:element name="domain_api2" type="xs:string" />
        <xs:element name="domain_apihk" type="xs:string" />
        <xs:element name="domain_apius" type="xs:string" />
        <xs:element name="fail" type="xs:string" />
        <xs:element name="success" type="xs:string" />
        <xs:element name="hmacsha256" type="xs:string" />
        <xs:element name="md5" type="xs:string" />
        <xs:element name="field_sign" type="xs:string" />
        <xs:element name="field_sign_type" type="xs:string" />
        <xs:element name="micropay_url_suffix" type="xs:string" />
        <xs:element name="unifiedorder_url_suffix" type="xs:string" />
        <xs:element name="orderquery_url_suffix" type="xs:string" />
        <xs:element name="reverse_url_suffix" type="xs:string" />
        <xs:element name="closeorder_url_suffix" type="xs:string" />
        <xs:element name="refund_url_suffix" type="xs:string" />
        <xs:element name="refundquery_url_suffix" type="xs:string" />
        <xs:element name="downloadbill_url_suffix" type="xs:string" />
        <xs:element name="report_url_suffix" type="xs:string" />
        <xs:element name="shorturl_url_suffix" type="xs:string" />
        <xs:element name="authcodetoopenid_url_suffix" type="xs:string" />
        <xs:element name="//sandboxsandbox_micropay_url_suffix" type="xs:string" />
        <xs:element name="sandbox_unifiedorder_url_suffix" type="xs:string" />
        <xs:element name="sandbox_orderquery_url_suffix" type="xs:string" />
        <xs:element name="sandbox_reverse_url_suffix" type="xs:string" />
        <xs:element name="sandbox_closeorder_url_suffix" type="xs:string" />
        <xs:element name="sandbox_refund_url_suffix" type="xs:string" />
        <xs:element name="sandbox_refundquery_url_suffix" type="xs:string" />
        <xs:element name="sandbox_downloadbill_url_suffix" type="xs:string" />
        <xs:element name="sandbox_report_url_suffix" type="xs:string" />
        <xs:element name="sandbox_shorturl_url_suffix" type="xs:string" />
        <xs:element name="sandbox_authcodetoopenid_url_suffix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpayutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpay" >
      <xs:sequence>
        <xs:element name="config" type="wxpayconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="autoreport" type="xs:anyType" />
        <xs:element name="usesandbox" type="xs:anyType" />
        <xs:element name="notifyurl" type="xs:string" />
        <xs:element name="GeneratedName" type="wxpayrequest" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxpayconfigimpl" >
      <xs:complexContent>
       <xs:extension base="wxpayconfig{">
         <xs:sequence>
          <xs:element name="certdata" type="xs:anyType" />
          <xs:element name="instance" type="wxpayconfigimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wxutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendaddressentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="districts" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="addressdetail" type="xs:string" />
        <xs:element name="sendname" type="xs:string" />
        <xs:element name="sendphone" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="defaultaddress" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expressageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="isnew" type="xs:long" />
        <xs:element name="expressagename" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="expresscode" type="xs:string" />
        <xs:element name="pricestand" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="ownertype" type="xs:long" />
        <xs:element name="productinfo" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="merchantid" type="xs:string" />
        <xs:element name="imagesaddress" type="xs:string" />
        <xs:element name="starlevel" type="xs:double" />
        <xs:element name="packstand" type="xs:string" />
        <xs:element name="aftersale" type="xs:string" />
        <xs:element name="evaluatelabel" type="xs:string" />
        <xs:element name="productcost" type="xs:double" />
        <xs:element name="productlabel" type="xs:string" />
        <xs:element name="productclassifycode" type="xs:string" />
        <xs:element name="productfistimg" type="xs:string" />
        <xs:element name="productslideimg" type="xs:string" />
        <xs:element name="productproduceprovince" type="xs:string" />
        <xs:element name="productproducecity" type="xs:string" />
        <xs:element name="productproduceaddress" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="productstate" type="xs:long" />
        <xs:element name="onlinetime" type="xs:anyType" />
        <xs:element name="offlinetime" type="xs:anyType" />
        <xs:element name="salevolumehistory" type="xs:long" />
        <xs:element name="salevolumemonthly" type="xs:long" />
        <xs:element name="productstyle" type="xs:string" />
        <xs:element name="styleprice" type="xs:string" />
        <xs:element name="returncashrate" type="xs:double" />
        <xs:element name="returncashrateinviter" type="xs:double" />
        <xs:element name="returncashratelinksender" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="balance" type="xs:double" />
        <xs:element name="inout" type="xs:long" />
        <xs:element name="money" type="xs:double" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trackentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="tracknumber" type="xs:string" />
        <xs:element name="trackcode" type="xs:string" />
        <xs:element name="track" type="xs:string" />
        <xs:element name="trackname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="discription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashbackentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="summoney" type="xs:double" />
        <xs:element name="cashbackdate" type="xs:anyType" />
        <xs:element name="paybacked" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="messagetype" type="xs:long" />
        <xs:element name="contenttype" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="fromuserid" type="xs:string" />
        <xs:element name="touserid" type="xs:string" />
        <xs:element name="state" type="xs:long" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productclassifycodeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bannerentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="imgurl" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="cantab" type="xs:long" />
        <xs:element name="state" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="children" type="xs:string" />
        <xs:element name="inviteuserid" type="xs:string" />
        <xs:element name="grade" type="xs:long" />
        <xs:element name="headimgurl" type="xs:string" />
        <xs:element name="balance" type="xs:double" />
        <xs:element name="openid" type="xs:string" />
        <xs:element name="sex" type="xs:long" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="privilege" type="xs:string" />
        <xs:element name="unionid" type="xs:string" />
        <xs:element name="firstdeliveraddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="grouptype" type="xs:long" />
        <xs:element name="groupcount" type="xs:long" />
        <xs:element name="offeredcount" type="xs:long" />
        <xs:element name="groupprice" type="xs:double" />
        <xs:element name="offereduserid" type="xs:string" />
        <xs:element name="groupstate" type="xs:long" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="customerservice" type="xs:string" />
        <xs:element name="groupdiscription" type="xs:string" />
        <xs:element name="productcost" type="xs:double" />
        <xs:element name="deliverprovince" type="xs:string" />
        <xs:element name="delivercity" type="xs:string" />
        <xs:element name="deliveraddress" type="xs:string" />
        <xs:element name="groupfirstimg" type="xs:string" />
        <xs:element name="groupslideimg" type="xs:string" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="returncashrate" type="xs:double" />
        <xs:element name="returncashrateinviter" type="xs:double" />
        <xs:element name="groupstyle" type="xs:string" />
        <xs:element name="returncashratelinksender" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="commentcontent" type="xs:string" />
        <xs:element name="attachimgs" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="starlevel" type="xs:long" />
        <xs:element name="reply" type="xs:string" />
        <xs:element name="evaluatelabel" type="xs:string" />
        <xs:element name="commenttime" type="xs:anyType" />
        <xs:element name="productstyle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="explainentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="explainkey" type="xs:string" />
        <xs:element name="explaininfo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labelentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="hotdegree" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityentity" >
      <xs:sequence>
        <xs:element name="authorityid" type="xs:string" />
        <xs:element name="adminname" type="xs:string" />
        <xs:element name="admincount" type="xs:string" />
        <xs:element name="adminpass" type="xs:string" />
        <xs:element name="adminauthor" type="xs:string" />
        <xs:element name="adminusername" type="xs:string" />
        <xs:element name="adminuserphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritydefineentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="operation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="state" type="xs:long" />
        <xs:element name="sendname" type="xs:string" />
        <xs:element name="sendaddress" type="xs:string" />
        <xs:element name="sendzip" type="xs:string" />
        <xs:element name="sendtel" type="xs:string" />
        <xs:element name="ordertime" type="xs:anyType" />
        <xs:element name="paymethod" type="xs:string" />
        <xs:element name="meno" type="xs:string" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="trackcode" type="xs:string" />
        <xs:element name="trackid" type="xs:string" />
        <xs:element name="paytime" type="xs:anyType" />
        <xs:element name="delivertime" type="xs:anyType" />
        <xs:element name="receipttime" type="xs:anyType" />
        <xs:element name="productprice" type="xs:double" />
        <xs:element name="carriageprice" type="xs:double" />
        <xs:element name="descript" type="xs:string" />
        <xs:element name="sums" type="xs:long" />
        <xs:element name="typespecification" type="xs:string" />
        <xs:element name="outrefundno" type="xs:string" />
        <xs:element name="deduction" type="xs:double" />
        <xs:element name="actualpayment" type="xs:double" />
        <xs:element name="linksender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="merchantentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="accountname" type="xs:string" />
        <xs:element name="accoutpass" type="xs:string" />
        <xs:element name="discription" type="xs:string" />
        <xs:element name="headimgurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changeorders2" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendmessage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changegroupstate" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="grouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statisticcashback" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cashbackrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="billrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changeorders1" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateexpressage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="trackrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxclientinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="backmanagerinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="merchants" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="merchantrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wxpay" nillable="true" minOccurs="0" />
        <xs:element name="config" type="wxpayconfigimpl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="////jdbctemplatejdbctemplate" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="billrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="explains" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="explainrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expressages" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="merchantrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="expressagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="trackrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritys" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="banners" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bannerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sendaddressrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendadress" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sendaddressrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="images" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="imagedao" type="imagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="config" type="configproperty" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backmanage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="grouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="merchantrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="expressagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productclassifycoderepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="labelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authoritydefinerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="trackrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sendaddressrepository" nillable="true" minOccurs="0" />
        <xs:element name="config" type="configproperty" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bannerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cashbackrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="grouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="products" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productclassifycoderepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="grouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="merchantrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sendaddressrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="grouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comments" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groups" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="grouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemwebsockethandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
        <xs:element name="sessions" type="xs:anyType" />
        <xs:element name="sessionkey" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bills" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="billrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 