backManagerWebAPP/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sendaddressentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="districts" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="addressdetail" type="xs:string" />
        <xs:element name="sendname" type="xs:string" />
        <xs:element name="sendphone" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="defaultaddress" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expressageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="isnew" type="xs:long" />
        <xs:element name="expressagename" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="expresscode" type="xs:string" />
        <xs:element name="pricestand" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="ownertype" type="xs:long" />
        <xs:element name="productinfo" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="merchantid" type="xs:string" />
        <xs:element name="imagesaddress" type="xs:string" />
        <xs:element name="starlevel" type="xs:double" />
        <xs:element name="packstand" type="xs:string" />
        <xs:element name="aftersale" type="xs:string" />
        <xs:element name="evaluatelabel" type="xs:string" />
        <xs:element name="productcost" type="xs:double" />
        <xs:element name="productlabel" type="xs:string" />
        <xs:element name="productclassifycode" type="xs:string" />
        <xs:element name="productfistimg" type="xs:string" />
        <xs:element name="productslideimg" type="xs:string" />
        <xs:element name="productproduceprovince" type="xs:string" />
        <xs:element name="productproducecity" type="xs:string" />
        <xs:element name="productproduceaddress" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="productstate" type="xs:long" />
        <xs:element name="onlinetime" type="xs:anyType" />
        <xs:element name="offlinetime" type="xs:anyType" />
        <xs:element name="salevolumehistory" type="xs:long" />
        <xs:element name="salevolumemonthly" type="xs:long" />
        <xs:element name="productstyle" type="xs:string" />
        <xs:element name="styleprice" type="xs:string" />
        <xs:element name="returncashrate" type="xs:double" />
        <xs:element name="returncashrateinviter" type="xs:double" />
        <xs:element name="returncashratelinksender" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="billentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="balance" type="xs:double" />
        <xs:element name="inout" type="xs:long" />
        <xs:element name="money" type="xs:double" />
        <xs:element name="type" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trackentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="tracknumber" type="xs:string" />
        <xs:element name="trackcode" type="xs:string" />
        <xs:element name="track" type="xs:string" />
        <xs:element name="trackname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="discription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cashbackentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="summoney" type="xs:double" />
        <xs:element name="cashbackdate" type="xs:anyType" />
        <xs:element name="paybacked" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="messagetype" type="xs:long" />
        <xs:element name="contenttype" type="xs:long" />
        <xs:element name="time" type="xs:anyType" />
        <xs:element name="fromuserid" type="xs:string" />
        <xs:element name="touserid" type="xs:string" />
        <xs:element name="state" type="xs:long" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productclassifycodeentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bannerentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="imgurl" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="cantab" type="xs:long" />
        <xs:element name="state" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="children" type="xs:string" />
        <xs:element name="inviteuserid" type="xs:string" />
        <xs:element name="grade" type="xs:long" />
        <xs:element name="headimgurl" type="xs:string" />
        <xs:element name="balance" type="xs:double" />
        <xs:element name="openid" type="xs:string" />
        <xs:element name="sex" type="xs:long" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="privilege" type="xs:string" />
        <xs:element name="unionid" type="xs:string" />
        <xs:element name="firstdeliveraddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="grouptype" type="xs:long" />
        <xs:element name="groupcount" type="xs:long" />
        <xs:element name="offeredcount" type="xs:long" />
        <xs:element name="groupprice" type="xs:double" />
        <xs:element name="offereduserid" type="xs:string" />
        <xs:element name="groupstate" type="xs:long" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="customerservice" type="xs:string" />
        <xs:element name="groupdiscription" type="xs:string" />
        <xs:element name="productcost" type="xs:double" />
        <xs:element name="deliverprovince" type="xs:string" />
        <xs:element name="delivercity" type="xs:string" />
        <xs:element name="deliveraddress" type="xs:string" />
        <xs:element name="groupfirstimg" type="xs:string" />
        <xs:element name="groupslideimg" type="xs:string" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="returncashrate" type="xs:double" />
        <xs:element name="returncashrateinviter" type="xs:double" />
        <xs:element name="groupstyle" type="xs:string" />
        <xs:element name="returncashratelinksender" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="commentcontent" type="xs:string" />
        <xs:element name="attachimgs" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="starlevel" type="xs:long" />
        <xs:element name="reply" type="xs:string" />
        <xs:element name="evaluatelabel" type="xs:string" />
        <xs:element name="commenttime" type="xs:anyType" />
        <xs:element name="productstyle" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="explainentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="explainkey" type="xs:string" />
        <xs:element name="explaininfo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labelentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="hotdegree" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityentity" >
      <xs:sequence>
        <xs:element name="authorityid" type="xs:string" />
        <xs:element name="adminname" type="xs:string" />
        <xs:element name="admincount" type="xs:string" />
        <xs:element name="adminpass" type="xs:string" />
        <xs:element name="adminauthor" type="xs:string" />
        <xs:element name="adminusername" type="xs:string" />
        <xs:element name="adminuserphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritydefineentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="operation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
        <xs:element name="groupid" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="state" type="xs:long" />
        <xs:element name="sendname" type="xs:string" />
        <xs:element name="sendaddress" type="xs:string" />
        <xs:element name="sendzip" type="xs:string" />
        <xs:element name="sendtel" type="xs:string" />
        <xs:element name="ordertime" type="xs:anyType" />
        <xs:element name="paymethod" type="xs:string" />
        <xs:element name="meno" type="xs:string" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="trackcode" type="xs:string" />
        <xs:element name="trackid" type="xs:string" />
        <xs:element name="paytime" type="xs:anyType" />
        <xs:element name="delivertime" type="xs:anyType" />
        <xs:element name="receipttime" type="xs:anyType" />
        <xs:element name="productprice" type="xs:double" />
        <xs:element name="carriageprice" type="xs:double" />
        <xs:element name="descript" type="xs:string" />
        <xs:element name="sums" type="xs:long" />
        <xs:element name="typespecification" type="xs:string" />
        <xs:element name="outrefundno" type="xs:string" />
        <xs:element name="deduction" type="xs:double" />
        <xs:element name="actualpayment" type="xs:double" />
        <xs:element name="linksender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="merchantentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="accountname" type="xs:string" />
        <xs:element name="accoutpass" type="xs:string" />
        <xs:element name="discription" type="xs:string" />
        <xs:element name="headimgurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 