GreatOutDoors-WishlistManagementSystem/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="wishlistdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="productid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 