hsn3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="miscsubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alfalabserver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createb6dbf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createb2dbf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popregtestonerrorsdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popregtestonerrorsdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alfalabclient" >
      <xs:complexContent>
       <xs:extension base="jframe">
         <xs:sequence>
          <xs:element name="get_message_queue_command" type="xs:string" />
          <xs:element name="get_date_command" type="xs:string" />
          <xs:element name="send_file_command" type="xs:string" />
          <xs:element name="server_exit_command" type="xs:string" />
          <xs:element name="server_cancel" type="xs:string" />
          <xs:element name="//pop_reg_test_errors2" type="xs:string" />
          <xs:element name="pop_reg_test_errors" type="xs:string" />
          <xs:element name="pop_reg_to_ids" type="xs:string" />
          <xs:element name="pop_reg_delete_from_def_db" type="xs:string" />
          <xs:element name="pop_reg_append_to_def_db" type="xs:string" />
          <xs:element name="pop_reg_test_idnr_doubles" type="xs:string" />
          <xs:element name="pop_reg_replace_def_with_temp" type="xs:string" />
          <xs:element name="personal_cards_conversion" type="xs:string" />
          <xs:element name="//personal_cards_conversion2" type="xs:string" />
          <xs:element name="civil_certs_conversion" type="xs:string" />
          <xs:element name="//civil_certs_conversion" type="xs:string" />
          <xs:element name="add_links_data" type="xs:string" />
          <xs:element name="build_new_hsn" type="xs:string" />
          <xs:element name="initialise_hsn" type="xs:string" />
          <xs:element name="build_extraction_set_hsn_standard" type="xs:string" />
          <xs:element name="build_extraction_set_migration_file" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_errors" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_selected" type="xs:string" />
          <xs:element name="reset_temp_dir" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_all" type="xs:string" />
          <xs:element name="misc_print_controle_a_1000" type="xs:string" />
          <xs:element name="misc_print_controle_b_1000" type="xs:string" />
          <xs:element name="misc_print_controle_ab_1000" type="xs:string" />
          <xs:element name="misc_print_controle_a_4000" type="xs:string" />
          <xs:element name="misc_print_controle_b_4000" type="xs:string" />
          <xs:element name="misc_print_controle_ab_4000" type="xs:string" />
          <xs:element name="server_login" type="xs:string" />
          <xs:element name="create_workitem_list" type="xs:string" />
          <xs:element name="//" type="xs:long" />
          <xs:element name="portno" type="xs:long" />
          <xs:element name="//usemysqlforpersonalcardsmysql_pc" type="xs:anyType" />
          <xs:element name="//usemysqlforcivilcertificatesmysql_cc" type="xs:anyType" />
          <xs:element name="serveraddress" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="getdatebutton" type="xs:anyType" />
          <xs:element name="getmessagequeuebutton" type="xs:anyType" />
          <xs:element name="openfilebutton" type="xs:anyType" />
          <xs:element name="filechooser" type="xs:anyType" />
          <xs:element name="selecteddir" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="out" type="xs:anyType" />
          <xs:element name="in" type="xs:anyType" />
          <xs:element name="" type="clientconfig" nillable="true" minOccurs="0" />
          <xs:element name="handleuploadasynchrounously" type="xs:anyType" />
          <xs:element name="loginfailed" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalinterface" type="xs:anyType" />
          <xs:element name="textarea" type="xs:anyType" />
          <xs:element name="popregbutton1" type="xs:anyType" />
          <xs:element name="popregbutton2" type="xs:anyType" />
          <xs:element name="personalcardsbutton1" type="xs:anyType" />
          <xs:element name="personalcardsbutton2" type="xs:anyType" />
          <xs:element name="civilcertsbutton1" type="xs:anyType" />
          <xs:element name="civilcertsbutton2" type="xs:anyType" />
          <xs:element name="combineidssetsbutton" type="xs:anyType" />
          <xs:element name="//addlinksdataextractionsetbutton" type="xs:anyType" />
          <xs:element name="addlinksdata" type="xs:anyType" />
          <xs:element name="miscbutton" type="xs:anyType" />
          <xs:element name="initialiseids" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="populationregistersubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateclientthread" >
      <xs:sequence>
        <xs:element name="file_type_dbf" type="xs:string" />
        <xs:element name="file_type_printfile" type="xs:string" />
        <xs:element name="send_file_command" type="xs:string" />
        <xs:element name="//printfiledirectory" type="xs:string" />
        <xs:element name="//dbffiledirectory" type="xs:string" />
        <xs:element name="dbftimestampdir" type="xs:string" />
        <xs:element name="textarea" type="xs:anyType" />
        <xs:element name="in" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="populationregistersubmenu" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="//" type="xs:string" />
          <xs:element name="//" type="xs:string" />
          <xs:element name="pop_reg_append_to_def_db" type="xs:string" />
          <xs:element name="pop_reg_test_idnr_doubles" type="xs:string" />
          <xs:element name="pop_reg_replace_def_with_temp" type="xs:string" />
          <xs:element name="action" type="xs:string" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="testonerrorsbutton" type="xs:anyType" />
          <xs:element name="deletedatafrombutton" type="xs:anyType" />
          <xs:element name="appenddatafrombutton" type="xs:anyType" />
          <xs:element name="testondoublesbutton" type="xs:anyType" />
          <xs:element name="replacerecordsofbutton" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alfalabclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alfalabserver" >
      <xs:complexContent>
       <xs:extension base="jframe">
         <xs:sequence>
          <xs:element name="get_message_queue_command" type="xs:string" />
          <xs:element name="get_date_command" type="xs:string" />
          <xs:element name="send_file_command" type="xs:string" />
          <xs:element name="server_exit_command" type="xs:string" />
          <xs:element name="pop_reg_test_errors" type="xs:string" />
          <xs:element name="pop_reg_delete_from_def_db" type="xs:string" />
          <xs:element name="pop_reg_append_to_def_db" type="xs:string" />
          <xs:element name="pop_reg_test_idnr_doubles" type="xs:string" />
          <xs:element name="pop_reg_replace_def_with_temp" type="xs:string" />
          <xs:element name="personal_cards_conversion" type="xs:string" />
          <xs:element name="civil_certs_conversion" type="xs:string" />
          <xs:element name="build_new_hsn" type="xs:string" />
          <xs:element name="build_extraction_set_hsn_standard" type="xs:string" />
          <xs:element name="build_extraction_set_migration_file" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_errors" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_all" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_selected" type="xs:string" />
          <xs:element name="initialise_hsn" type="xs:string" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="input_directory" type="xs:string" />
          <xs:element name="//" type="xs:long" />
          <xs:element name="latestreceived" type="xs:anyType" />
          <xs:element name="alfalabserver" type="xs:anyType" />
          <xs:element name="receivebutton" type="xs:anyType" />
          <xs:element name="textarea" type="xs:anyType" />
          <xs:element name="server" type="xs:anyType" />
          <xs:element name="client" type="xs:anyType" />
          <xs:element name="in" type="xs:anyType" />
          <xs:element name="out" type="xs:anyType" />
          <xs:element name="line" type="xs:string" />
          <xs:element name="worker" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientconfig" >
      <xs:sequence>
        <xs:element name="//configfilelocation" type="xs:string" />
        <xs:element name="//tempfilelocation" type="xs:string" />
        <xs:element name="config" type="xs:anyType" />
        <xs:element name="//pointstotheinputdbfdirectorythathasbeenusedthelasttimelatestinputlocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extractionsetsubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alfalabserverconsole" >
      <xs:sequence>
        <xs:element name="//get_message_queue_command" type="xs:string" />
        <xs:element name="get_date_command" type="xs:string" />
        <xs:element name="send_file_command" type="xs:string" />
        <xs:element name="server_exit_command" type="xs:string" />
        <xs:element name="file_type_dbf" type="xs:string" />
        <xs:element name="file_type_printfile" type="xs:string" />
        <xs:element name="server_cancel" type="xs:string" />
        <xs:element name="pop_reg_test_errors" type="xs:string" />
        <xs:element name="pop_reg_delete_from_def_db" type="xs:string" />
        <xs:element name="pop_reg_append_to_def_db" type="xs:string" />
        <xs:element name="pop_reg_test_idnr_doubles" type="xs:string" />
        <xs:element name="pop_reg_replace_def_with_temp" type="xs:string" />
        <xs:element name="pop_reg_to_ids" type="xs:string" />
        <xs:element name="personal_cards_conversion" type="xs:string" />
        <xs:element name="personal_cards_to_ids" type="xs:string" />
        <xs:element name="civil_certs_conversion" type="xs:string" />
        <xs:element name="civil_certs_to_ids" type="xs:string" />
        <xs:element name="build_new_hsn" type="xs:string" />
        <xs:element name="build_extraction_set_hsn_standard" type="xs:string" />
        <xs:element name="build_extraction_set_migration_file" type="xs:string" />
        <xs:element name="misc_print_hsn_pop_reg_errors" type="xs:string" />
        <xs:element name="misc_print_hsn_pop_reg_all" type="xs:string" />
        <xs:element name="misc_print_hsn_pop_reg_selected" type="xs:string" />
        <xs:element name="reset_temp_dir" type="xs:string" />
        <xs:element name="add_links_data" type="xs:string" />
        <xs:element name="initialise_hsn" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="//input_directory" type="xs:string" />
        <xs:element name="//publicstringinput_directory" type="xs:long" />
        <xs:element name="nr_of_columns" type="xs:long" />
        <xs:element name="column_width" type="xs:long" />
        <xs:element name="portno" type="xs:long" />
        <xs:element name="latestreceived" type="xs:anyType" />
        <xs:element name="server" type="xs:anyType" />
        <xs:element name="client" type="xs:anyType" />
        <xs:element name="in" type="xs:anyType" />
        <xs:element name="out" type="xs:anyType" />
        <xs:element name="line" type="xs:string" />
        <xs:element name="factory_original_tabs" type="xs:anyType" />
        <xs:element name="embtables" type="xs:anyType" />
        <xs:element name="ui" type="xs:anyType" />
        <xs:element name="worker" type="xs:anyType" />
        <xs:element name="flushinprogress" type="xs:anyType" />
        <xs:element name="//linktotheuserinterfaceasc" type="alfalabserverconsole" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createworddoctest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewperson" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="i" type="xs:long" />
          <xs:element name="persons" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="previousbutton" type="xs:anyType" />
          <xs:element name="nextbutton" type="xs:anyType" />
          <xs:element name="textfield1" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="printsubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createb3dbf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confirminputdirectory" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="confirm" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="buttonok" type="xs:anyType" />
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="inputdirectorylabel" type="xs:anyType" />
          <xs:element name="inputdirectoryfield" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extractionsetsubmenu" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="cancelbutton" type="xs:anyType" />
          <xs:element name="hsnstandardoutputfilebutton" type="xs:anyType" />
          <xs:element name="migrationfilebutton" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="popregdeletefromdefdbdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="miscsubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:complexContent>
       <xs:extension base="jframe">
         <xs:sequence>
          <xs:element name="panel" type="xs:anyType" />
          <xs:element name="user_label,password_label,message" type="xs:anyType" />
          <xs:element name="username_text" type="xs:anyType" />
          <xs:element name="password_text" type="xs:anyType" />
          <xs:element name="submit,cancel" type="xs:anyType" />
          <xs:element name="logonok" type="xs:anyType" />
          <xs:element name="in" type="xs:anyType" />
          <xs:element name="out" type="xs:anyType" />
          <xs:element name="server_login" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="populationregistersubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="printsubmenu" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="misc_print_controle_a_1000" type="xs:string" />
          <xs:element name="misc_print_controle_b_1000" type="xs:string" />
          <xs:element name="misc_print_controle_ab_1000" type="xs:string" />
          <xs:element name="misc_print_controle_a_4000" type="xs:string" />
          <xs:element name="misc_print_controle_b_4000" type="xs:string" />
          <xs:element name="misc_print_controle_ab_4000" type="xs:string" />
          <xs:element name="action" type="xs:string" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalpanel1" type="xs:anyType" />
          <xs:element name="a3controleameldingbutton" type="xs:anyType" />
          <xs:element name="a4controlebmeldingbutton" type="xs:anyType" />
          <xs:element name="a5controleabbutton" type="xs:anyType" />
          <xs:element name="a6controleameldingbutton" type="xs:anyType" />
          <xs:element name="a7controlebmeldingbutton" type="xs:anyType" />
          <xs:element name="a8controleabbutton" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="printsubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testthread" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createworddoc" >
      <xs:sequence>
        <xs:element name="//18cgtimesheadertitle" type="xs:string" />
        <xs:element name="//14headerbeschrijvinig" type="xs:string" />
        <xs:element name="input_directory" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alfalabclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popregdeletefromdefdbdialog" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="confirm" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="buttonok" type="xs:anyType" />
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="inputfilelabel" type="xs:anyType" />
          <xs:element name="inputfiletextfield" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="miscsubmenu" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="misc_print_hsn_pop_reg_errors" type="xs:string" />
          <xs:element name="misc_print_hsn_pop_reg_all" type="xs:string" />
          <xs:element name="misc_print_controle_a_1000" type="xs:string" />
          <xs:element name="misc_print_controle_b_1000" type="xs:string" />
          <xs:element name="misc_print_controle_ab_1000" type="xs:string" />
          <xs:element name="misc_print_controle_a_4000" type="xs:string" />
          <xs:element name="misc_print_controle_b_4000" type="xs:string" />
          <xs:element name="misc_print_controle_ab_4000" type="xs:string" />
          <xs:element name="parent" type="xs:anyType" />
          <xs:element name="action" type="xs:string" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="printinghsnmessagesbutton" type="xs:anyType" />
          <xs:element name="printinghsnselectedmessagesbutton" type="xs:anyType" />
          <xs:element name="printinghsnfilesbutton" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extensionfilefilter" >
      <xs:complexContent>
       <xs:extension base="filefilter">
         <xs:sequence>
          <xs:element name="description" type="xs:string" />
          <xs:element name="extensions" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createb4dbf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationdialog" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="succeeded" type="xs:anyType" />
          <xs:element name="originals" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="buttonok" type="xs:anyType" />
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="versioningbutton" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdbf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idnr" >
      <xs:sequence>
        <xs:element name="//idnumberidnr" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specifyworkitem" >
      <xs:complexContent>
       <xs:extension base="jdialog">
         <xs:sequence>
          <xs:element name="confirm" type="xs:anyType" />
          <xs:element name="//jformdesigner-variablesdeclaration-donotmodify//gen-begin:variables//generatedusingjformdesignerevaluationlicense-christianroosendaalcontentpane" type="xs:anyType" />
          <xs:element name="buttonok" type="xs:anyType" />
          <xs:element name="buttoncancel" type="xs:anyType" />
          <xs:element name="inputdirectorylabel" type="xs:anyType" />
          <xs:element name="inputdirectoryfield" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extractionsetsubmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popregdeletefromdefdbdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationdialog" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 