arquitetura_java5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springmvcdemoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastropessoas" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pessoarepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springmvcdemoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<pessoa,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="codigo" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="sobrenome" type="xs:string" />
        <xs:element name="datanascimento" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="sexo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sexo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 