arquitetura_java5/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="codigo" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="sobrenome" type="xs:string" />
        <xs:element name="datanascimento" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="sexo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 