Enterprise15/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="oldhibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tributacao" >
      <xs:sequence>
        <xs:element name="id_tributacao" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="aliquota" type="xs:double" />
        <xs:element name="redutor" type="xs:double" />
        <xs:element name="entradasaida" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frete" >
      <xs:sequence>
        <xs:element name="id_frete" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipovenda" >
      <xs:sequence>
        <xs:element name="id_tipovenda" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="estadocivil" >
      <xs:sequence>
        <xs:element name="id_estadocivil" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id_cliente" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="dtnascimentofundacao" type="xs:dateTime" />
        <xs:element name="genero" type="xs:string" />
        <xs:element name="estadocivil" type="xs:string" />
        <xs:element name="nomeconjuge" type="xs:string" />
        <xs:element name="nomepai" type="xs:string" />
        <xs:element name="nomemae" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="telefone3" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="atividadeprofissional" type="xs:string" />
        <xs:element name="limitecredito" type="xs:double" />
        <xs:element name="saldo" type="xs:double" />
        <xs:element name="ativo" type="xs:string" />
        <xs:element name="codigomigracao" type="xs:long" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tamanho" >
      <xs:sequence>
        <xs:element name="id_tamanho" type="xs:long" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cfop" >
      <xs:sequence>
        <xs:element name="id_cfop" type="xs:long" />
        <xs:element name="codigocfop" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filial" >
      <xs:sequence>
        <xs:element name="id_filial" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grupo" >
      <xs:sequence>
        <xs:element name="id_grupo" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="senha" >
      <xs:sequence>
        <xs:element name="id_senha" type="xs:long" />
        <xs:element name="GeneratedName" type="colaborador" nillable="true" minOccurs="0" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formapagamento" >
      <xs:sequence>
        <xs:element name="id_formapagamento" type="xs:long" />
        <xs:element name="//intid_pagamentodescricao" type="xs:string" />
        <xs:element name="descontopercentual" type="xs:double" />
        <xs:element name="acrescimopercentual" type="xs:double" />
        <xs:element name="prazo" type="xs:long" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unidade" >
      <xs:sequence>
        <xs:element name="id_unidade" type="xs:long" />
        <xs:element name="sigla" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="colaborador" >
      <xs:sequence>
        <xs:element name="id_colaborador" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="nomereduzido" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="rg" type="xs:string" />
        <xs:element name="dtnascimento" type="xs:dateTime" />
        <xs:element name="genero" type="xs:string" />
        <xs:element name="estadocivil" type="xs:string" />
        <xs:element name="nomeconjuge" type="xs:string" />
        <xs:element name="nomepai" type="xs:string" />
        <xs:element name="nomemae" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="dtadmissao" type="xs:dateTime" />
        <xs:element name="dtdemissao" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="funcao" nillable="true" minOccurs="0" />
        <xs:element name="fiscal" type="xs:string" />
        <xs:element name="ativo" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subgrupo" >
      <xs:sequence>
        <xs:element name="id_subgrupo" type="xs:long" />
        <xs:element name="GeneratedName" type="grupo" nillable="true" minOccurs="0" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ncm" >
      <xs:sequence>
        <xs:element name="id_ncm" type="xs:long" />
        <xs:element name="ncm" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importarcidadesibge" >
      <xs:sequence>
        <xs:element name="id_ibgecidades" type="xs:long" />
        <xs:element name="nomecidade" type="xs:string" />
        <xs:element name="codigocidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="arquivo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transportadora" >
      <xs:sequence>
        <xs:element name="id_transportadora" type="xs:long" />
        <xs:element name="nomefantasia" type="xs:string" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="telefone3" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="contato" type="xs:string" />
        <xs:element name="ativo" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdv" >
      <xs:sequence>
        <xs:element name="id_pdv" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="codigopdv" type="xs:string" />
        <xs:element name="GeneratedName" type="filial" nillable="true" minOccurs="0" />
        <xs:element name="dtultcarga" type="xs:dateTime" />
        <xs:element name="aberto" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="naturezaope" >
      <xs:sequence>
        <xs:element name="id_naturezaope" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="classificacao" type="xs:string" />
        <xs:element name="saidaentrada" type="xs:string" />
        <xs:element name="planocontas" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametros" >
      <xs:sequence>
        <xs:element name="id_parametros" type="xs:long" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="nomefantasia" type="xs:string" />
        <xs:element name="qtdfiliais" type="xs:long" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="socioresponsavel" type="xs:string" />
        <xs:element name="cpfsocioresponsavel" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="pathbancodedados" type="xs:string" />
        <xs:element name="pathsistema" type="xs:string" />
        <xs:element name="pathimagens" type="xs:string" />
        <xs:element name="qtdpdvs" type="xs:long" />
        <xs:element name="dtinstalacao" type="xs:dateTime" />
        <xs:element name="ativacaopdv" type="xs:string" />
        <xs:element name="dtativacaopdv" type="xs:dateTime" />
        <xs:element name="ativacaoenterprise" type="xs:string" />
        <xs:element name="dtativacaoenterprise" type="xs:dateTime" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcao" >
      <xs:sequence>
        <xs:element name="id_funcao" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="comissaoperc" type="xs:double" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xssfworkbook" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filialdao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="filialdao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipovendadao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="tipovendadao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametrosdao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="parametrosdao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tributacaodao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="tributacaodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unidadedao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="unidadedao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cfopdao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="cfopdao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formapagamentodao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="formapagamentodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importarcidadesibgedao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="importarcidadesibgedao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transportadoradao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="transportadoradao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="colaboradordao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="colaboradordao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcaodao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="funcaodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdvdao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="pdvdao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericodao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="genericodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tamanhodao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="tamanhodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="senhadao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="senhadao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientedao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="clientedao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subgrupodao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="subgrupodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grupodao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="grupodao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xssfsheetsheet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="estadocivildao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="estadocivildao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ncmdao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="ncmdao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="naturezaopedao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="naturezaopedao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fretedao" >
      <xs:sequence>
        <xs:element name="con" type="xs:anyType" />
        <xs:element name="hibernatedao" type="fretedao" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="connectionfactory" >
      <xs:sequence>
        <xs:element name="driver" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="pass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_connectionfactory" >
      <xs:sequence>
        <xs:element name="driver" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="pass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewparametros" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewprincipal" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesjmenumovimentacao" type="xs:anyType" />
          <xs:element name="mitemajusteestoque" type="xs:anyType" />
          <xs:element name="mitemcadastrocolaborador" type="xs:anyType" />
          <xs:element name="mitemcadastrosenha" type="xs:anyType" />
          <xs:element name="mitemcliente" type="xs:anyType" />
          <xs:element name="mitemcolaborador" type="xs:anyType" />
          <xs:element name="mitemcontasapagar" type="xs:anyType" />
          <xs:element name="mitemcontasareceber" type="xs:anyType" />
          <xs:element name="mitementradadeprodutos" type="xs:anyType" />
          <xs:element name="mitemformapagamento" type="xs:anyType" />
          <xs:element name="mitemfornecedor" type="xs:anyType" />
          <xs:element name="mitemfuncao" type="xs:anyType" />
          <xs:element name="mitemgrupo" type="xs:anyType" />
          <xs:element name="mitemnaturezaope" type="xs:anyType" />
          <xs:element name="mitemparametrizar" type="xs:anyType" />
          <xs:element name="mitempdv" type="xs:anyType" />
          <xs:element name="mitempermissao" type="xs:anyType" />
          <xs:element name="mitemprecificacao" type="xs:anyType" />
          <xs:element name="mitemproduto" type="xs:anyType" />
          <xs:element name="mitemsubgrupo" type="xs:anyType" />
          <xs:element name="mitemtamanho" type="xs:anyType" />
          <xs:element name="mitemtipofrete" type="xs:anyType" />
          <xs:element name="mitemtipovenda" type="xs:anyType" />
          <xs:element name="mitemtransportadora" type="xs:anyType" />
          <xs:element name="mitemtributos" type="xs:anyType" />
          <xs:element name="mitemunidade" type="xs:anyType" />
          <xs:element name="mtemcfop" type="xs:anyType" />
          <xs:element name="mtemncm" type="xs:anyType" />
          <xs:element name="painelprincipal" type="xs:anyType" />
          <xs:element name="painelrodape" type="xs:anyType" />
          <xs:element name="jmitemfilial" type="xs:anyType" />
          <xs:element name="jmenucadastro" type="xs:anyType" />
          <xs:element name="jmenuconfig" type="xs:anyType" />
          <xs:element name="jmenuimportar" type="xs:anyType" />
          <xs:element name="jmenuitem1" type="xs:anyType" />
          <xs:element name="jmenumovcompras" type="xs:anyType" />
          <xs:element name="jmenumovfinanceiras" type="xs:anyType" />
          <xs:element name="jmenumovprodutos" type="xs:anyType" />
          <xs:element name="jmenuparametros" type="xs:anyType" />
          <xs:element name="jmenurelatorio" type="xs:anyType" />
          <xs:element name="jmtemcidadesibge" type="xs:anyType" />
          <xs:element name="lblcodigousuario" type="xs:anyType" />
          <xs:element name="lbldata" type="xs:anyType" />
          <xs:element name="lblhora" type="xs:anyType" />
          <xs:element name="lblicone" type="xs:anyType" />
          <xs:element name="lblmensagem" type="xs:anyType" />
          <xs:element name="lblnomeusuario" type="xs:anyType" />
          <xs:element name="menuprincipal" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codigo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewestadocivil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewestadocivil" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelaestadocivil" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewprincipal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewparametros" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="txtid_parametros" type="xs:long" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesabaparametros" type="xs:anyType" />
          <xs:element name="subabaempresa" type="xs:anyType" />
          <xs:element name="subabasistema" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="jcbuf" type="xs:anyType" />
          <xs:element name="jpconfigsistema" type="xs:anyType" />
          <xs:element name="jpempresadados" type="xs:anyType" />
          <xs:element name="jpempresaendereco" type="xs:anyType" />
          <xs:element name="jpoperacao" type="xs:anyType" />
          <xs:element name="lblativacaoenterprise" type="xs:anyType" />
          <xs:element name="lblativacaopdv" type="xs:anyType" />
          <xs:element name="lblbairro" type="xs:anyType" />
          <xs:element name="lblcep" type="xs:anyType" />
          <xs:element name="lblcidade" type="xs:anyType" />
          <xs:element name="lblcnpj" type="xs:anyType" />
          <xs:element name="lblcomplemento" type="xs:anyType" />
          <xs:element name="lblcpf" type="xs:anyType" />
          <xs:element name="lblcpfsocioresponsavel" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtativacaoenter" type="xs:anyType" />
          <xs:element name="lbldtativacaopdv" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lbldtinstalcao" type="xs:anyType" />
          <xs:element name="lblemail" type="xs:anyType" />
          <xs:element name="lblendereco" type="xs:anyType" />
          <xs:element name="lblinscricaoestadual" type="xs:anyType" />
          <xs:element name="lblinscricaomunicipal" type="xs:anyType" />
          <xs:element name="lblnomefantasia" type="xs:anyType" />
          <xs:element name="lblpathbancodedados" type="xs:anyType" />
          <xs:element name="lblpathimagens" type="xs:anyType" />
          <xs:element name="lblpathsistema" type="xs:anyType" />
          <xs:element name="lblqtdfiliais" type="xs:anyType" />
          <xs:element name="lblqtdpdvs" type="xs:anyType" />
          <xs:element name="lblrazaosocial" type="xs:anyType" />
          <xs:element name="lblsocioresponsavel" type="xs:anyType" />
          <xs:element name="lbltelefone1" type="xs:anyType" />
          <xs:element name="lbltelefone2" type="xs:anyType" />
          <xs:element name="lbluf" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtativacaoenterprise" type="xs:anyType" />
          <xs:element name="txtativacaopdv" type="xs:anyType" />
          <xs:element name="txtbairro" type="xs:anyType" />
          <xs:element name="txtcep" type="xs:anyType" />
          <xs:element name="txtcidade" type="xs:anyType" />
          <xs:element name="txtcnpj" type="xs:anyType" />
          <xs:element name="txtcomplemento" type="xs:anyType" />
          <xs:element name="txtcpf" type="xs:anyType" />
          <xs:element name="txtcpfsocioresponsavel" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtativacaoenterprise" type="xs:anyType" />
          <xs:element name="txtdtativacaopdv" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtdtinstalacao" type="xs:anyType" />
          <xs:element name="txtemail" type="xs:anyType" />
          <xs:element name="txtendereco" type="xs:anyType" />
          <xs:element name="txtinscricaoestadual" type="xs:anyType" />
          <xs:element name="txtinscricaomunicipal" type="xs:anyType" />
          <xs:element name="txtnomefantasia" type="xs:anyType" />
          <xs:element name="txtpathbancodedados" type="xs:anyType" />
          <xs:element name="txtpathimagens" type="xs:anyType" />
          <xs:element name="txtpathsistema" type="xs:anyType" />
          <xs:element name="txtqtdfiliais" type="xs:anyType" />
          <xs:element name="txtqtdpdvs" type="xs:anyType" />
          <xs:element name="txtrazaosocial" type="xs:anyType" />
          <xs:element name="txtsocioresponsavel" type="xs:anyType" />
          <xs:element name="txttelefone1" type="xs:anyType" />
          <xs:element name="txttelefone2" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewcliente" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewsubgrupo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtamanho" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewfrete" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelafrete" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewfrete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewsubgrupo" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelasubgrupo" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="combodescgrupo" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblgrupo" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtgrupo_id" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewtamanho" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelatamanho" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblcodigo" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcodigo" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewcliente" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="limiteanterior" type="xs:double" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesabadadoscomplementares" type="xs:anyType" />
          <xs:element name="abadadospessoais" type="xs:anyType" />
          <xs:element name="painelacao" type="xs:anyType" />
          <xs:element name="paineldadospessoais" type="xs:anyType" />
          <xs:element name="painelendereco" type="xs:anyType" />
          <xs:element name="painelprincipal" type="xs:anyType" />
          <xs:element name="paineltabela" type="xs:anyType" />
          <xs:element name="painelldadoscomplementares" type="xs:anyType" />
          <xs:element name="tabelacliente" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnlimparcampos1" type="xs:anyType" />
          <xs:element name="btnsalvar" type="xs:anyType" />
          <xs:element name="chkativo" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="comboestadocivil" type="xs:anyType" />
          <xs:element name="combogenero" type="xs:anyType" />
          <xs:element name="combouf" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jpconfigsistema1" type="xs:anyType" />
          <xs:element name="lblatividadeprofissional" type="xs:anyType" />
          <xs:element name="lblbairro" type="xs:anyType" />
          <xs:element name="lblcep" type="xs:anyType" />
          <xs:element name="lblcidade" type="xs:anyType" />
          <xs:element name="lblcnpj" type="xs:anyType" />
          <xs:element name="lblcodigomigracao" type="xs:anyType" />
          <xs:element name="lblcomplemento" type="xs:anyType" />
          <xs:element name="lblcpf" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lbldtnascimentofundacao" type="xs:anyType" />
          <xs:element name="lblemail" type="xs:anyType" />
          <xs:element name="lblendereco" type="xs:anyType" />
          <xs:element name="lblestadocivil" type="xs:anyType" />
          <xs:element name="lblgenero" type="xs:anyType" />
          <xs:element name="lblid_cliente" type="xs:anyType" />
          <xs:element name="lblinscricaoestadual" type="xs:anyType" />
          <xs:element name="lblinscricaomunicipal" type="xs:anyType" />
          <xs:element name="lbllimitecredito" type="xs:anyType" />
          <xs:element name="lblnome" type="xs:anyType" />
          <xs:element name="lblnomeconjuge" type="xs:anyType" />
          <xs:element name="lblnomemae" type="xs:anyType" />
          <xs:element name="lblnomepai" type="xs:anyType" />
          <xs:element name="lblrazaosocial" type="xs:anyType" />
          <xs:element name="lblsaldo" type="xs:anyType" />
          <xs:element name="lbltelefone1" type="xs:anyType" />
          <xs:element name="lbltelefone2" type="xs:anyType" />
          <xs:element name="lbltelefone3" type="xs:anyType" />
          <xs:element name="lbluf" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtatividadeprofissional" type="xs:anyType" />
          <xs:element name="txtbairro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcep" type="xs:anyType" />
          <xs:element name="txtcidade" type="xs:anyType" />
          <xs:element name="txtcnpj" type="xs:anyType" />
          <xs:element name="txtcodigomigracao" type="xs:anyType" />
          <xs:element name="txtcomplemento" type="xs:anyType" />
          <xs:element name="txtcpf" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtdtnascimentofundacao" type="xs:anyType" />
          <xs:element name="txtemail" type="xs:anyType" />
          <xs:element name="txtendereco" type="xs:anyType" />
          <xs:element name="txtid_cliente" type="xs:anyType" />
          <xs:element name="txtinscricaoestadual" type="xs:anyType" />
          <xs:element name="txtinscricaomunicipal" type="xs:anyType" />
          <xs:element name="txtlimitecredito" type="xs:anyType" />
          <xs:element name="txtnome" type="xs:anyType" />
          <xs:element name="txtnomeconjuge" type="xs:anyType" />
          <xs:element name="txtnomemae" type="xs:anyType" />
          <xs:element name="txtnomepai" type="xs:anyType" />
          <xs:element name="txtrazaosocial" type="xs:anyType" />
          <xs:element name="txtsaldo" type="xs:anyType" />
          <xs:element name="txttelefone1" type="xs:anyType" />
          <xs:element name="txttelefone2" type="xs:anyType" />
          <xs:element name="txttelefone3" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewncm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewunidade" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelaunidade" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblsigla" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtsigla" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewnaturezaope" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewformapagamento" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcfop" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="codigocfop" type="xs:string" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelacfop" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblcodigo" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblid_cfop" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcodigocfop" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtid_cfop" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewfuncao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acesso" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewlogin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewfuncao" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelafuncao" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblcomissaoperc" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcomissaoperc" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewlogin" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="con" type="xs:anyType" />
          <xs:element name="pst" type="xs:anyType" />
          <xs:element name="rs" type="xs:anyType" />
          <xs:element name="id_colaborador" type="xs:string" />
          <xs:element name="nomecolaborador" type="xs:string" />
          <xs:element name="senhacolaborador" type="xs:string" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainellogin" type="xs:anyType" />
          <xs:element name="btentrar" type="xs:anyType" />
          <xs:element name="btsair" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="lblimgbrasil" type="xs:anyType" />
          <xs:element name="lblsenha" type="xs:anyType" />
          <xs:element name="lblsubtitulo" type="xs:anyType" />
          <xs:element name="lbltitulo" type="xs:anyType" />
          <xs:element name="lblusuario" type="xs:anyType" />
          <xs:element name="lblversao" type="xs:anyType" />
          <xs:element name="txtsenha" type="xs:anyType" />
          <xs:element name="txtusuario" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewcfop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewformapagamento" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespaneldados" type="xs:anyType" />
          <xs:element name="panelformapagamento" type="xs:anyType" />
          <xs:element name="tabelaformapagamento" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblacrescimo" type="xs:anyType" />
          <xs:element name="lbldesconto" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldias" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblporcento1" type="xs:anyType" />
          <xs:element name="lblporcento2" type="xs:anyType" />
          <xs:element name="lblprazo" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtacrescimo" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdesconto" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtprazo" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewnaturezaope" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paneldados" type="xs:anyType" />
          <xs:element name="tabelanaturezaope" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="comboentradasaida" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblclassificacao" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblplanocontas" type="xs:anyType" />
          <xs:element name="lblsaidaentrada" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtclassificacao" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtplanocontas" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewncm" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelancm" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblncm" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtncm" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewunidade" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcolaborador" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewgrupo" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelagrupo" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewsenha" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelasenha" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblate6caracteres" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblmatricula" type="xs:anyType" />
          <xs:element name="lblnomereduzido" type="xs:anyType" />
          <xs:element name="lblsenha" type="xs:anyType" />
          <xs:element name="lblusuario" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtcolaborador_id" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtsenha" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewpdv" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="painelstatus" type="xs:anyType" />
          <xs:element name="tabelapdv" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="combofilial" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblaberto" type="xs:anyType" />
          <xs:element name="lblcodigopdv" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldescricaofilial" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lbldtultcarga" type="xs:anyType" />
          <xs:element name="lblfilial_id" type="xs:anyType" />
          <xs:element name="lblid_pdv" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="rbtnaberto" type="xs:anyType" />
          <xs:element name="rbtnfechado" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcodigopdv" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtdtultcarga" type="xs:anyType" />
          <xs:element name="txtfilial_id" type="xs:anyType" />
          <xs:element name="txtid_pdv" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewimportarcidadesibge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtransportadora" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtributacao" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paneldados" type="xs:anyType" />
          <xs:element name="tabelatributacao" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="comboentradasaida" type="xs:anyType" />
          <xs:element name="combouf" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblaliquota" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblredutor" type="xs:anyType" />
          <xs:element name="lblsaidaentrada" type="xs:anyType" />
          <xs:element name="lbluf" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtaliquota" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtredutor" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewfilial" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelafilial" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lblcodigo" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtid_filial" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewtipovenda" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="tabelatipovenda" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="jscrollpane1" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewtipovenda" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewfilial" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtributacao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewtransportadora" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="limiteanterior" type="xs:double" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesabadadoscomplementares" type="xs:anyType" />
          <xs:element name="abadadospessoais" type="xs:anyType" />
          <xs:element name="painelacao" type="xs:anyType" />
          <xs:element name="paineldadospessoais" type="xs:anyType" />
          <xs:element name="painelendereco" type="xs:anyType" />
          <xs:element name="painelprincipal" type="xs:anyType" />
          <xs:element name="paineltabela" type="xs:anyType" />
          <xs:element name="painelldadoscomplementares" type="xs:anyType" />
          <xs:element name="tabelatransportadora" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnlimparcampos1" type="xs:anyType" />
          <xs:element name="btnsalvar" type="xs:anyType" />
          <xs:element name="chkativo" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="combouf" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jpconfigsistema1" type="xs:anyType" />
          <xs:element name="lblbairro" type="xs:anyType" />
          <xs:element name="lblcep" type="xs:anyType" />
          <xs:element name="lblcidade" type="xs:anyType" />
          <xs:element name="lblcnpj" type="xs:anyType" />
          <xs:element name="lblcomplemento" type="xs:anyType" />
          <xs:element name="lblcontato" type="xs:anyType" />
          <xs:element name="lblcpf" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lblemail" type="xs:anyType" />
          <xs:element name="lblendereco" type="xs:anyType" />
          <xs:element name="lblid_transportadora" type="xs:anyType" />
          <xs:element name="lblinscricaoestadual" type="xs:anyType" />
          <xs:element name="lblinscricaomunicipal" type="xs:anyType" />
          <xs:element name="lblnomefantasia" type="xs:anyType" />
          <xs:element name="lblrazaosocial" type="xs:anyType" />
          <xs:element name="lbltelefone1" type="xs:anyType" />
          <xs:element name="lbltelefone2" type="xs:anyType" />
          <xs:element name="lbltelefone3" type="xs:anyType" />
          <xs:element name="lbluf" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbairro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcep" type="xs:anyType" />
          <xs:element name="txtcidade" type="xs:anyType" />
          <xs:element name="txtcnpj" type="xs:anyType" />
          <xs:element name="txtcomplemento" type="xs:anyType" />
          <xs:element name="txtcontato" type="xs:anyType" />
          <xs:element name="txtcpf" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtemail" type="xs:anyType" />
          <xs:element name="txtendereco" type="xs:anyType" />
          <xs:element name="txtid_transportadora" type="xs:anyType" />
          <xs:element name="txtinscricaoestadual" type="xs:anyType" />
          <xs:element name="txtinscricaomunicipal" type="xs:anyType" />
          <xs:element name="txtnomefantasia" type="xs:anyType" />
          <xs:element name="txtrazaosocial" type="xs:anyType" />
          <xs:element name="txttelefone1" type="xs:anyType" />
          <xs:element name="txttelefone2" type="xs:anyType" />
          <xs:element name="txttelefone3" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewimportarcidadesibge" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablespainelacao" type="xs:anyType" />
          <xs:element name="paineldados" type="xs:anyType" />
          <xs:element name="btnimportar" type="xs:anyType" />
          <xs:element name="btnlimparcampos" type="xs:anyType" />
          <xs:element name="btnvoltar" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="lblaguarde" type="xs:anyType" />
          <xs:element name="lbldescricao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lblinformacao" type="xs:anyType" />
          <xs:element name="lbllinkplanilhaibge" type="xs:anyType" />
          <xs:element name="lblplanilha" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtdescricao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewpdv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewsenha" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewgrupo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcolaborador" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jinternalframe">
         <xs:sequence>
          <xs:element name="nomereduzido" type="xs:string" />
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesabadadospessoais" type="xs:anyType" />
          <xs:element name="abavinculo" type="xs:anyType" />
          <xs:element name="painelacao" type="xs:anyType" />
          <xs:element name="paineldadospessoais" type="xs:anyType" />
          <xs:element name="painelendereco" type="xs:anyType" />
          <xs:element name="painelprincipal" type="xs:anyType" />
          <xs:element name="paineltabela" type="xs:anyType" />
          <xs:element name="tabelacolaborador" type="xs:anyType" />
          <xs:element name="btnatualizar" type="xs:anyType" />
          <xs:element name="btnbuscar" type="xs:anyType" />
          <xs:element name="btncancelar" type="xs:anyType" />
          <xs:element name="btnimprimir" type="xs:anyType" />
          <xs:element name="btnincluir" type="xs:anyType" />
          <xs:element name="btnlimparcampos1" type="xs:anyType" />
          <xs:element name="chkativo" type="xs:anyType" />
          <xs:element name="chkcancelado" type="xs:anyType" />
          <xs:element name="chkfiscal" type="xs:anyType" />
          <xs:element name="comboestadocivil" type="xs:anyType" />
          <xs:element name="combofuncao" type="xs:anyType" />
          <xs:element name="combogenero" type="xs:anyType" />
          <xs:element name="combouf" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jpconfigsistema" type="xs:anyType" />
          <xs:element name="jpconfigsistema1" type="xs:anyType" />
          <xs:element name="lblbairro" type="xs:anyType" />
          <xs:element name="lblcep" type="xs:anyType" />
          <xs:element name="lblcidade" type="xs:anyType" />
          <xs:element name="lblcomplemento" type="xs:anyType" />
          <xs:element name="lblcpf" type="xs:anyType" />
          <xs:element name="lbldtadmissao" type="xs:anyType" />
          <xs:element name="lbldtalteracao" type="xs:anyType" />
          <xs:element name="lbldtcadastro" type="xs:anyType" />
          <xs:element name="lbldtdemissao" type="xs:anyType" />
          <xs:element name="lbldtnascimento" type="xs:anyType" />
          <xs:element name="lblemail" type="xs:anyType" />
          <xs:element name="lblendereco" type="xs:anyType" />
          <xs:element name="lblestadocivil" type="xs:anyType" />
          <xs:element name="lblfuncao" type="xs:anyType" />
          <xs:element name="lblgenero" type="xs:anyType" />
          <xs:element name="lblidcolaborador" type="xs:anyType" />
          <xs:element name="lblnome" type="xs:anyType" />
          <xs:element name="lblnomeconjuge" type="xs:anyType" />
          <xs:element name="lblnomemae" type="xs:anyType" />
          <xs:element name="lblnomepai" type="xs:anyType" />
          <xs:element name="lblnomereduzido" type="xs:anyType" />
          <xs:element name="lblrg" type="xs:anyType" />
          <xs:element name="lbltelefone1" type="xs:anyType" />
          <xs:element name="lbltelefone2" type="xs:anyType" />
          <xs:element name="lbluf" type="xs:anyType" />
          <xs:element name="lblusuarioalteracao" type="xs:anyType" />
          <xs:element name="lblusuariocadastro" type="xs:anyType" />
          <xs:element name="txtbairro" type="xs:anyType" />
          <xs:element name="txtbuscar" type="xs:anyType" />
          <xs:element name="txtcep" type="xs:anyType" />
          <xs:element name="txtcidade" type="xs:anyType" />
          <xs:element name="txtcomplemento" type="xs:anyType" />
          <xs:element name="txtcpf" type="xs:anyType" />
          <xs:element name="txtdtadmissao" type="xs:anyType" />
          <xs:element name="txtdtalteracao" type="xs:anyType" />
          <xs:element name="txtdtcadastro" type="xs:anyType" />
          <xs:element name="txtdtdemissao" type="xs:anyType" />
          <xs:element name="txtdtnascimento" type="xs:anyType" />
          <xs:element name="txtemail" type="xs:anyType" />
          <xs:element name="txtendereco" type="xs:anyType" />
          <xs:element name="txtidcolaborador" type="xs:anyType" />
          <xs:element name="txtnome" type="xs:anyType" />
          <xs:element name="txtnomeconjuge" type="xs:anyType" />
          <xs:element name="txtnomemae" type="xs:anyType" />
          <xs:element name="txtnomepai" type="xs:anyType" />
          <xs:element name="txtnomereduzido" type="xs:anyType" />
          <xs:element name="txtrg" type="xs:anyType" />
          <xs:element name="txttelefone1" type="xs:anyType" />
          <xs:element name="txttelefone2" type="xs:anyType" />
          <xs:element name="txtusuarioalteracao" type="xs:anyType" />
          <xs:element name="txtusuariocadastro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="util" >
      <xs:sequence>
        <xs:element name="br" type="xs:anyType" />
        <xs:element name="decimalbr" type="xs:anyType" />
        <xs:element name="inteiro" type="xs:anyType" />
        <xs:element name="dinheiro" type="xs:anyType" />
        <xs:element name="percentual" type="xs:anyType" />
        <xs:element name="pesocpf" type="xs:long" />
        <xs:element name="pesocnpj" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 