Enterprise15/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tributacao" >
      <xs:sequence>
        <xs:element name="id_tributacao" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="aliquota" type="xs:double" />
        <xs:element name="redutor" type="xs:double" />
        <xs:element name="entradasaida" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frete" >
      <xs:sequence>
        <xs:element name="id_frete" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipovenda" >
      <xs:sequence>
        <xs:element name="id_tipovenda" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="estadocivil" >
      <xs:sequence>
        <xs:element name="id_estadocivil" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id_cliente" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="dtnascimentofundacao" type="xs:dateTime" />
        <xs:element name="genero" type="xs:string" />
        <xs:element name="estadocivil" type="xs:string" />
        <xs:element name="nomeconjuge" type="xs:string" />
        <xs:element name="nomepai" type="xs:string" />
        <xs:element name="nomemae" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="telefone3" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="atividadeprofissional" type="xs:string" />
        <xs:element name="limitecredito" type="xs:double" />
        <xs:element name="saldo" type="xs:double" />
        <xs:element name="ativo" type="xs:string" />
        <xs:element name="codigomigracao" type="xs:long" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tamanho" >
      <xs:sequence>
        <xs:element name="id_tamanho" type="xs:long" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cfop" >
      <xs:sequence>
        <xs:element name="id_cfop" type="xs:long" />
        <xs:element name="codigocfop" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filial" >
      <xs:sequence>
        <xs:element name="id_filial" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grupo" >
      <xs:sequence>
        <xs:element name="id_grupo" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="senha" >
      <xs:sequence>
        <xs:element name="id_senha" type="xs:long" />
        <xs:element name="GeneratedName" type="colaborador" nillable="true" minOccurs="0" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formapagamento" >
      <xs:sequence>
        <xs:element name="id_formapagamento" type="xs:long" />
        <xs:element name="//intid_pagamentodescricao" type="xs:string" />
        <xs:element name="descontopercentual" type="xs:double" />
        <xs:element name="acrescimopercentual" type="xs:double" />
        <xs:element name="prazo" type="xs:long" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unidade" >
      <xs:sequence>
        <xs:element name="id_unidade" type="xs:long" />
        <xs:element name="sigla" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="colaborador" >
      <xs:sequence>
        <xs:element name="id_colaborador" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="nomereduzido" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="rg" type="xs:string" />
        <xs:element name="dtnascimento" type="xs:dateTime" />
        <xs:element name="genero" type="xs:string" />
        <xs:element name="estadocivil" type="xs:string" />
        <xs:element name="nomeconjuge" type="xs:string" />
        <xs:element name="nomepai" type="xs:string" />
        <xs:element name="nomemae" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="dtadmissao" type="xs:dateTime" />
        <xs:element name="dtdemissao" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="funcao" nillable="true" minOccurs="0" />
        <xs:element name="fiscal" type="xs:string" />
        <xs:element name="ativo" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subgrupo" >
      <xs:sequence>
        <xs:element name="id_subgrupo" type="xs:long" />
        <xs:element name="GeneratedName" type="grupo" nillable="true" minOccurs="0" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ncm" >
      <xs:sequence>
        <xs:element name="id_ncm" type="xs:long" />
        <xs:element name="ncm" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="importarcidadesibge" >
      <xs:sequence>
        <xs:element name="id_ibgecidades" type="xs:long" />
        <xs:element name="nomecidade" type="xs:string" />
        <xs:element name="codigocidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="arquivo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transportadora" >
      <xs:sequence>
        <xs:element name="id_transportadora" type="xs:long" />
        <xs:element name="nomefantasia" type="xs:string" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="telefone3" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="contato" type="xs:string" />
        <xs:element name="ativo" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pdv" >
      <xs:sequence>
        <xs:element name="id_pdv" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="codigopdv" type="xs:string" />
        <xs:element name="GeneratedName" type="filial" nillable="true" minOccurs="0" />
        <xs:element name="dtultcarga" type="xs:dateTime" />
        <xs:element name="aberto" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="naturezaope" >
      <xs:sequence>
        <xs:element name="id_naturezaope" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="classificacao" type="xs:string" />
        <xs:element name="saidaentrada" type="xs:string" />
        <xs:element name="planocontas" type="xs:string" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parametros" >
      <xs:sequence>
        <xs:element name="id_parametros" type="xs:long" />
        <xs:element name="razaosocial" type="xs:string" />
        <xs:element name="nomefantasia" type="xs:string" />
        <xs:element name="qtdfiliais" type="xs:long" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="inscricaomunicipal" type="xs:string" />
        <xs:element name="socioresponsavel" type="xs:string" />
        <xs:element name="cpfsocioresponsavel" type="xs:string" />
        <xs:element name="endereco" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="complemento" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="uf" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="telefone1" type="xs:string" />
        <xs:element name="telefone2" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="pathbancodedados" type="xs:string" />
        <xs:element name="pathsistema" type="xs:string" />
        <xs:element name="pathimagens" type="xs:string" />
        <xs:element name="qtdpdvs" type="xs:long" />
        <xs:element name="dtinstalacao" type="xs:dateTime" />
        <xs:element name="ativacaopdv" type="xs:string" />
        <xs:element name="dtativacaopdv" type="xs:dateTime" />
        <xs:element name="ativacaoenterprise" type="xs:string" />
        <xs:element name="dtativacaoenterprise" type="xs:dateTime" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcao" >
      <xs:sequence>
        <xs:element name="id_funcao" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="comissaoperc" type="xs:double" />
        <xs:element name="usuariocadastro" type="xs:long" />
        <xs:element name="dtcadastro" type="xs:dateTime" />
        <xs:element name="usuarioalteracao" type="xs:long" />
        <xs:element name="dtalteracao" type="xs:dateTime" />
        <xs:element name="cancelado" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 