CELURAMA/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auxiliarempleado" >
      <xs:sequence>
        <xs:element name="apellidos" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nombres" type="xs:string" />
        <xs:element name="pin" type="xs:string" />
        <xs:element name="pregunta" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
        <xs:element name="rol" type="xs:string" />
        <xs:element name="textoemail" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grabarexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="borrarexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="insertarexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="consultarexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="celulas" >
      <xs:sequence>
        <xs:element name="hora" type="xs:dateTime" />
        <xs:element name="asistenciacelulaslist" type="asistenciacelulas" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="temaslist" type="temas" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="sector" type="xs:string" />
        <xs:element name="nombreanfitrion" type="xs:string" />
        <xs:element name="nombretimoteo" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="red" type="xs:string" />
        <xs:element name="fecha" type="xs:dateTime" />
        <xs:element name="promedioa" type="xs:anyType" />
        <xs:element name="invitados" type="xs:anyType" />
        <xs:element name="celulasn" type="xs:anyType" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="lider" type="entidades" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crecimientos" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="asistencia" type="xs:anyType" />
        <xs:element name="pre" type="xs:anyType" />
        <xs:element name="enc" type="xs:anyType" />
        <xs:element name="pos" type="xs:anyType" />
        <xs:element name="nivel1" type="xs:anyType" />
        <xs:element name="nivel2" type="xs:anyType" />
        <xs:element name="nivel3" type="xs:anyType" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="celula" type="celulas" nillable="true" minOccurs="0" />
        <xs:element name="entidad" type="entidades" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistenciacelulas" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="celula" type="celulas" nillable="true" minOccurs="0" />
        <xs:element name="asistente" type="entidades" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gruposusuarios" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="grupo" type="codigos" nillable="true" minOccurs="0" />
        <xs:element name="modulo" type="codigos" nillable="true" minOccurs="0" />
        <xs:element name="usuario" type="entidades" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entidades" >
      <xs:sequence>
        <xs:element name="edad" type="xs:anyType" />
        <xs:element name="sexo" type="xs:string" />
        <xs:element name="celulaslist" type="celulas" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="asistenciacelulaslist" type="asistenciacelulas" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nombres" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="pwd" type="xs:string" />
        <xs:element name="identificacion" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="genero" type="xs:string" />
        <xs:element name="fecha" type="xs:dateTime" />
        <xs:element name="telefono" type="xs:string" />
        <xs:element name="celular" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="servicio" type="xs:string" />
        <xs:element name="comite" type="xs:string" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="GeneratedName" type="roles" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codigos" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="parametros" type="xs:string" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="perfileslist" type="perfiles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gruposusuarioslist" type="gruposusuarios" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="gruposusuarioslist1" type="gruposusuarios" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="menusistemalist" type="menusistema" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="maestro" type="maestros" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfiles" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="consulta" type="xs:anyType" />
        <xs:element name="modificacion" type="xs:anyType" />
        <xs:element name="borrado" type="xs:anyType" />
        <xs:element name="nuevo" type="xs:anyType" />
        <xs:element name="grupo" type="codigos" nillable="true" minOccurs="0" />
        <xs:element name="menu" type="menusistema" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="entidadeslist" type="entidades" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temas" >
      <xs:sequence>
        <xs:element name="asistenciaslist" type="asistencias" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="fecha" type="xs:dateTime" />
        <xs:element name="observacion" type="xs:string" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="temas" type="xs:string" />
        <xs:element name="celula" type="celulas" nillable="true" minOccurs="0" />
        <xs:element name="contador" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menusistema" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="texto" type="xs:string" />
        <xs:element name="formulario" type="xs:string" />
        <xs:element name="perfileslist" type="perfiles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="modulo" type="codigos" nillable="true" minOccurs="0" />
        <xs:element name="menusistemalist" type="menusistema" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="idpadre" type="menusistema" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maestros" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="codigo" type="xs:string" />
        <xs:element name="codigoslist" type="codigos" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistencias" >
      <xs:sequence>
        <xs:element name="tema" type="temas" nillable="true" minOccurs="0" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="asistencia" type="xs:anyType" />
        <xs:element name="lectura" type="xs:anyType" />
        <xs:element name="activo" type="xs:anyType" />
        <xs:element name="asistenciacelula" type="asistenciacelulas" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asistenciasfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<asistencias>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entidadesfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<entidades>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codigosfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<codigos>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gruposusuariosfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<gruposusuarios>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menusistemafacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<menusistema>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolesfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<roles>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="correorespuestafacade" >
      <xs:sequence>
        <xs:element name="jmscorreo" type="xs:anyType" />
        <xs:element name="icalendardateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfilesfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<perfiles>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractfacade" >
      <xs:sequence>
        <xs:element name="entityclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="celulasfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<celulas>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="asistenciacelulasfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<asistenciacelulas>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="temasfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<temas>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maestrosfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<maestros>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crecimientosfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<crecimientos>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 