FinalUser/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="cartentity" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="prodid" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sellerentity" >
      <xs:sequence>
        <xs:element name="sellerid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="isactive" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wishlistentity" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="prodid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buyerentity" >
      <xs:sequence>
        <xs:element name="buyerid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="isprivileged" type="xs:long" />
        <xs:element name="rewardpos" type="xs:long" />
        <xs:element name="isactive" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 