cquptCommunity19/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="column" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//专栏名称name" type="xs:string" />
        <xs:element name="//专栏简介summary" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//申请日期createtime" type="xs:anyType" />
        <xs:element name="//审核日期checktime" type="xs:anyType" />
        <xs:element name="//状态state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="channel" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//频道名称name" type="xs:string" />
        <xs:element name="//状态state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//专栏idcolumnid" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//文章正文content" type="xs:string" />
        <xs:element name="//文章封面image" type="xs:string" />
        <xs:element name="//发表日期createtime" type="xs:anyType" />
        <xs:element name="//修改日期updatetime" type="xs:anyType" />
        <xs:element name="//是否公开ispublic" type="xs:string" />
        <xs:element name="//是否置顶istop" type="xs:string" />
        <xs:element name="//浏览量visits" type="xs:anyType" />
        <xs:element name="//点赞数thumbup" type="xs:anyType" />
        <xs:element name="//评论数comment" type="xs:anyType" />
        <xs:element name="//审核状态state" type="xs:string" />
        <xs:element name="//所属频道channelid" type="xs:string" />
        <xs:element name="//urlurl" type="xs:string" />
        <xs:element name="//类型type" type="xs:string" />
        <xs:element name="//文章作者的昵称nickname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 