formationheducap2019suite3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="databaseinitialiser" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="utilisateurrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilisateurrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<utilisateur,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movierepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<movie,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="utilisateurs" type="utilisateur" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilisateur" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="/*(fetch" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titre" type="xs:string" />
        <xs:element name="datesortie" type="xs:anyType" />
        <xs:element name="dureeminutes" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="utilisateurrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movierepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="utilisateurrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="//recuperationutilisateurparlogin" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customuserdetails" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="utilisateur" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mymoviesformapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 