hsn1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="b35_st" >
      <xs:complexContent>
       <xs:extension base="b3_st{">
         <xs:sequence>
          <xs:element name="occupationid" type="xs:long" />
          <xs:element name="occupationstandardized" type="xs:string" />
          <xs:element name="occupationflag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="indiv_indiv" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i_1" type="xs:long" />
        <xs:element name="id_i_2" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b312_st" >
      <xs:complexContent>
       <xs:extension base="b3_st{">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
          <xs:element name="relation" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="indiv_context" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i" type="xs:long" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b3_st" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="entrydatehead" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="keytodistinguishdynamicdatatype" type="xs:long" />
        <xs:element name="dynamicdatasequencenumber" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="dateofmutation" type="xs:string" />
        <xs:element name="dateofmutationflag" type="xs:long" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="personstandardizedtowhomdynamicdatarefers" type="b2_st" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createidstables" >
      <xs:sequence>
        <xs:element name="individual" type="xs:string" />
        <xs:element name="individual_truncate" type="xs:string" />
        <xs:element name="indiv_indiv" type="xs:string" />
        <xs:element name="indiv_indiv_truncate" type="xs:string" />
        <xs:element name="context" type="xs:string" />
        <xs:element name="context_delete" type="xs:string" />
        <xs:element name="context_context" type="xs:string" />
        <xs:element name="context_context_delete" type="xs:string" />
        <xs:element name="indiv_context" type="xs:string" />
        <xs:element name="indiv_context_truncate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b6_st" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dateentryheadofhousehold" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="sequencenumbertoaddresses" type="xs:long" />
        <xs:element name="dateofaddress" type="xs:string" />
        <xs:element name="dateofaddressflag" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="municipality" type="xs:string" />
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="quarter" type="xs:string" />
        <xs:element name="place" type="xs:string" />
        <xs:element name="boat" type="xs:string" />
        <xs:element name="berth" type="xs:string" />
        <xs:element name="institution" type="xs:string" />
        <xs:element name="landlord" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="addressflag" type="xs:long" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="registration" type="b4_st" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b2_st" >
      <xs:sequence>
        <xs:element name="/***thisclasshandlestheattributesofastandardizedperson(name,dateofbirthetc.)*objectsofthisclassareinitializedfromapersonobject*/keytosourceregister" type="xs:long" />
        <xs:element name="entrydatehead" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytopersons" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="dateofregistration" type="xs:string" />
        <xs:element name="dateofregistrationflag" type="xs:long" />
        <xs:element name="personid" type="xs:long" />
        <xs:element name="personidflag" type="xs:long" />
        <xs:element name="personid_fa" type="xs:long" />
        <xs:element name="personid_fa_fg" type="xs:long" />
        <xs:element name="personid_mo" type="xs:long" />
        <xs:element name="personid_mo_fg" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="familyname" type="xs:string" />
        <xs:element name="prefixlastname" type="xs:string" />
        <xs:element name="titlenoble" type="xs:string" />
        <xs:element name="titleelse" type="xs:string" />
        <xs:element name="familynameerpreted" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="firstnameflag" type="xs:long" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="dateofbirthflag" type="xs:long" />
        <xs:element name="placeofbirthid" type="xs:long" />
        <xs:element name="placeofbirthstandardized" type="xs:string" />
        <xs:element name="placeofbirthflag" type="xs:long" />
        <xs:element name="dateofdecease" type="xs:string" />
        <xs:element name="dateofdeceaseflag" type="xs:long" />
        <xs:element name="placeofdeceaseid" type="xs:long" />
        <xs:element name="placeofdeceasestandardized" type="xs:string" />
        <xs:element name="placeofdeceaseflag" type="xs:long" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="legalplaceoflivingid" type="xs:long" />
        <xs:element name="legalplaceoflivingstandardized" type="xs:string" />
        <xs:element name="legalplaceoflivingflag" type="xs:long" />
        <xs:element name="legalplaceoflivingcode" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="relationtohead" type="b311_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="parentschildren" type="b312_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="civilstatus" type="b32_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="religion" type="b33_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relation" type="b34_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="profession" type="b35_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="origin" type="b36_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="destination" type="b37_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="registrationstandardizedpersonappearsin" type="b4_st" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="individual" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="populationregistertoids" >
      <xs:sequence>
        <xs:element name="textarea" type="xs:anyType" />
        <xs:element name="out" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialiser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b34_st" >
      <xs:complexContent>
       <xs:extension base="b3_st{">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="op" >
      <xs:sequence>
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="registrationsstandardizedofop" type="b4_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b4_st" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="entrydatehead" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="entrydaterp" type="xs:string" />
        <xs:element name="pagenumber" type="xs:string" />
        <xs:element name="numberofhousehold" type="xs:long" />
        <xs:element name="//gk" type="xs:string" />
        <xs:element name="specialcode" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="originalregistration" type="b4_st" nillable="true" minOccurs="0" />
        <xs:element name="personsstandardizedinregistration" type="b2_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addressesstandardizedofregistration" type="b6_st" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="op" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b311_st" >
      <xs:complexContent>
       <xs:extension base="b3_st">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
          <xs:element name="dynamicdata2" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="b3kode1" type="xs:string" />
        <xs:element name="cscode1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b36_st" >
      <xs:complexContent>
       <xs:extension base="b3_st{">
         <xs:sequence>
          <xs:element name="originid" type="xs:long" />
          <xs:element name="originstandardized" type="xs:string" />
          <xs:element name="originflag" type="xs:long" />
          <xs:element name="origingroup" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="register" type="xs:string" />
          <xs:element name="census" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="b32_st" >
      <xs:complexContent>
       <xs:extension base="b3_st">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
          <xs:element name="civilstatusflag" type="xs:long" />
          <xs:element name="civillocalityid" type="xs:long" />
          <xs:element name="civillocalitystandardized" type="xs:string" />
          <xs:element name="civillocalityflag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="b37_st" >
      <xs:complexContent>
       <xs:extension base="b3_st{">
         <xs:sequence>
          <xs:element name="destinationid" type="xs:long" />
          <xs:element name="destinationstandardized" type="xs:string" />
          <xs:element name="destinationflag" type="xs:long" />
          <xs:element name="destinationgroup" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="register" type="xs:string" />
          <xs:element name="census" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="b33_st" >
      <xs:complexContent>
       <xs:extension base="b3_st{">
         <xs:sequence>
          <xs:element name="religionid" type="xs:long" />
          <xs:element name="religionstandardized" type="xs:string" />
          <xs:element name="religionflag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 