formationheducap2019suite8/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springswagger2formapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springswagger2formapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoorepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<zoo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="animalrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<animal,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="animalcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="animalrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="zoorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="zoorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animal" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="espece" type="xs:string" />
        <xs:element name="GeneratedName" type="zoo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="ville" type="xs:string" />
        <xs:element name="animaux" type="animal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 