github-upload15/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="acceleration" type="xs:long" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="endurance" type="xs:long" />
        <xs:element name="place" type="xs:long" />
        <xs:element name="form" type="xs:long" />
        <xs:element name="mental" type="xs:long" />
        <xs:element name="speed" type="xs:long" />
        <xs:element name="stamina" type="xs:long" />
        <xs:element name="start" type="xs:long" />
        <xs:element name="fastest100m" type="xs:double" />
        <xs:element name="fastest200m" type="xs:double" />
        <xs:element name="fastest400m" type="xs:double" />
        <xs:element name="lastracetime" type="xs:double" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 