CTS-Chennai-Java4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="empid" type="xs:long" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="dept" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="deptid" type="xs:long" />
        <xs:element name="deptname" type="xs:string" />
        <xs:element name="loc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 