backend-service/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statuscodeenum" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tododao" >
      <xs:complexContent>
       <xs:extension base="jparepository<todoentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="todoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tododao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonpage" >
      <xs:sequence>
        <xs:element name="/***currentpagenumber*/pagenum" type="xs:anyType" />
        <xs:element name="/***sizeperpage*/pagesize" type="xs:anyType" />
        <xs:element name="/***totalpagecount*/totalpage" type="xs:anyType" />
        <xs:element name="/***totalnumber*/total" type="xs:long" />
        <xs:element name="/***content*/list" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonresult" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="daa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tododto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="completed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdtime" type="xs:dateTime" />
        <xs:element name="uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todoentity" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="completed" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 