arquitetura_java10/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pessoajuridica" >
      <xs:complexContent>
       <xs:extension base="pessoa">
         <xs:sequence>
          <xs:element name="porte" type="porteempresa" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cpfcnpj" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="telefone" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="ddd" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoafisica" >
      <xs:complexContent>
       <xs:extension base="pessoa">
         <xs:sequence>
          <xs:element name="" type="sexo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessoadocumento" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 