hibernate-orm-3.61/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="someservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testintegrator" >
      <xs:sequence>
        <xs:element name="passed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapoint" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teststrategyregistrationprovider" >
      <xs:sequence>
        <xs:element name="gregorian" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgitestactivator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="someservicecontributor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testtypecontributor" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgiintegrationtest" >
      <xs:sequence>
        <xs:element name="debug" type="xs:anyType" />
        <xs:element name="//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//thetests" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="el-api" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdi-api" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jandex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatebundleactivator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="osgiserviceutil" nillable="true" minOccurs="0" />
        <xs:element name="persistenceproviderservice" type="xs:anyType" />
        <xs:element name="sessionfactoryservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgiclassloader" >
      <xs:complexContent>
       <xs:extension base="classloader">
         <xs:sequence>
          <xs:element name="//leavetheseassets--addclassloaderoraddbundlemaybecalledmore//thanonceifasforemfisclosedandre-created.classloaders" type="xs:anyType" />
          <xs:element name="bundles" type="xs:anyType" />
          <xs:element name="classcache" type="xs:anyType" />
          <xs:element name="resourcecache" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgiscanner" >
      <xs:complexContent>
       <xs:extension base="abstractscannerimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgipersistenceprovider" >
      <xs:complexContent>
       <xs:extension base="hibernatepersistenceprovider">
         <xs:sequence>
          <xs:element name="" type="osgiclassloader" nillable="true" minOccurs="0" />
          <xs:element name="" type="osgijtaplatform" nillable="true" minOccurs="0" />
          <xs:element name="" type="osgiserviceutil" nillable="true" minOccurs="0" />
          <xs:element name="requesting" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="osgijtaplatform" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="osgiserviceutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgiarchivedescriptor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="persistence" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgiserviceutil" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="servicetrackers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgipersistenceproviderservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="osgijtaplatform" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="osgiserviceutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgiclassloaderserviceimpl" >
      <xs:complexContent>
       <xs:extension base="classloaderserviceimpl">
         <xs:sequence>
          <xs:element name="" type="osgiserviceutil" nillable="true" minOccurs="0" />
          <xs:element name="" type="osgiclassloader" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgiarchivedescriptorfactory" >
      <xs:sequence>
        <xs:element name="persistence" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="osgisessionfactoryservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="osgijtaplatform" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="osgiserviceutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 