CES7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="missingcachestrategy" >
      <xs:sequence>
        <xs:element name="externalrepresentation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configsettings" >
      <xs:sequence>
        <xs:element name="simple_factory_name" type="xs:string" />
        <xs:element name="prop_prefix" type="xs:string" />
        <xs:element name="/***allowsproviding`hibernate-jcache`withacustomjcache{@linkcachemanager}.*/cache_manager" type="xs:string" />
        <xs:element name="/***allowsproviding`hibernate-jcache`withacustomjcache{@linkjavax.cache.spi.cachingprovider}.*/provider" type="xs:string" />
        <xs:element name="/***definethebehavioroftheregionfactorywhenacacheismissing,*i.e.whenthecachewasnotcreatedbythecachemanagerasitstarted.**see{@linkmissingcachestrategy}forthevariouspossiblevalues.**defaultvalueis{@linkmissingcachestrategy#fail}.*/missing_cache_strategy" type="xs:string" />
        <xs:element name="/***designatestheuriforaspecificjcache{@linkcachemanager}jcacheregionfactory*shouldaskthe{@linkjavax.cache.spi.cachingprovider}for**@seejavax.cache.spi.cachingprovider#getcachemanager(uri,classloader)*/config_uri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcachehelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcacheregionfactory" >
      <xs:complexContent>
       <xs:extension base="regionfactorytemplate">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="volatile" type="xs:anyType" />
          <xs:element name="volatile" type="missingcachestrategy" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="strategyregistrationproviderimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcacheaccessimpl" >
      <xs:sequence>
        <xs:element name="underlying" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcachedomaindataregionimpl" >
      <xs:complexContent>
       <xs:extension base="domaindataregionimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holidaycalendar.hbm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item.hbm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event.hbm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phonenumber.hbm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person.hbm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account.hbm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refreshupdateddatatest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sessionfactory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basefunctionaltest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
          <xs:element name="sessionfactory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inserteddatatest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sessionfactory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storageaccesstest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="domaindataregiontest" >
      <xs:complexContent>
       <xs:extension base="basefunctionaltest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testhelper" >
      <xs:sequence>
        <xs:element name="entityregionnames" type="xs:string" />
        <xs:element name="collectionregionnames" type="xs:string" />
        <xs:element name="alldomainregionnames" type="xs:string" />
        <xs:element name="queryregionnames" type="xs:string" />
        <xs:element name="queryregionlegacynames1" type="xs:string" />
        <xs:element name="queryregionlegacynames2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phonenumber" >
      <xs:sequence>
        <xs:element name="personid" type="xs:long" />
        <xs:element name="numbertype" type="xs:string" />
        <xs:element name="phone" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="participants" type="xs:anyType" />
        <xs:element name="organizer" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versioneditem" >
      <xs:complexContent>
       <xs:extension base="item">
         <xs:sequence>
          <xs:element name="version" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="//semantics,e.g.,indexedevents" type="xs:anyType" />
        <xs:element name="emailaddresses" type="xs:anyType" />
        <xs:element name="phonenumbers" type="xs:anyType" />
        <xs:element name="//abagofgood-luckcharms.talismans" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="holidaycalendar" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="stringholidays" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uuiditem" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missingcachestrategytest" >
      <xs:complexContent>
       <xs:extension base="baseunittestcase">
         <xs:sequence>
          <xs:element name="loginspection" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatecachetest" >
      <xs:complexContent>
       <xs:extension base="basefunctionaltest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pricecents" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcacheclasspathconfiguritest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jcacheconfigurltest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jcacheconfigrelativepathtest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jcachetransactionalcacheconcurrencystrategytest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 