campus-market/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="databasebakservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="databasebakdao" nillable="true" minOccurs="0" />
        <xs:element name="backupdir" type="xs:string" />
        <xs:element name="dbusername" type="xs:string" />
        <xs:element name="dbpwd" type="xs:string" />
        <xs:element name="dbname" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="menudao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operaterlogservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="operaterlogdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportgoodsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reportgoodsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studentdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendlinkservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="friendlinkdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitesettingservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sitesettingdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wantedgoodsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wantedgoodsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="newsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscategoryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodscategorydao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendlinkcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="friendlinkservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolecontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="databasebakservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="wantedgoodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databasebakcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="databasebakservice" nillable="true" minOccurs="0" />
        <xs:element name="backupdir" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menucontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminuploadcontroller" >
      <xs:sequence>
        <xs:element name="uploadphotosufix" type="xs:string" />
        <xs:element name="uploadphotomaxsize" type="xs:long" />
        <xs:element name="//文件保存位置uploadphotopath" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportgoodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodscategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscategorycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodscategoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="newsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sitesettingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sitesettingservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operaterlogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wantedgoodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wantedgoodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpachacontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="photocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//文件保存位置uploadphotopath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homegoodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodscategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homewantedgoodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wantedgoodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homestudentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodscategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="wantedgoodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reportgoodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodscategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="studentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="newsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homeuploadcontroller" >
      <xs:sequence>
        <xs:element name="uploadphotosufix" type="xs:string" />
        <xs:element name="uploadphotomaxsize" type="xs:long" />
        <xs:element name="//文件保存位置uploadphotopath" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagebean" >
      <xs:sequence>
        <xs:element name="//当前页码currentpage" type="xs:long" />
        <xs:element name="//每页显示数量，默认十条pagesize" type="xs:long" />
        <xs:element name="//总数量total" type="xs:long" />
        <xs:element name="//总页数totalpage" type="xs:long" />
        <xs:element name="//数据库游标offset" type="xs:long" />
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="//显示在页面可快速跳转的页码个数showpagesize" type="xs:long" />
        <xs:element name="//当前显示在页面快速跳转的页码currentshowpage" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="//错误码code" type="xs:long" />
        <xs:element name="//返回的具体信息msg" type="xs:string" />
        <xs:element name="//定义返回的数据daa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codemsg" >
      <xs:sequence>
        <xs:element name="//错误码code" type="xs:long" />
        <xs:element name="//错误信息msg" type="xs:string" />
        <xs:element name="//通用错误码定义//处理成功消息码success" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//非法数据错误码data_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="cpacha_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="validate_entity_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="session_expired" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="cpacha_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="user_session_expired" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="upload_photo_suffix_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="upload_photo_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台管理类错误码//用户管理类错误admin_username_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_password_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_no_right" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//登录类错误码admin_username_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_password_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_user_unable" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_user_role_unable" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_user_role_authorites_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台菜单管理类错误码admin_menu_add_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_menu_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_menu_id_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_menu_id_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_menu_delete_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台角色管理类错误码admin_role_add_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_role_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_role_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_role_delete_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台用户管理类错误码admin_user_role_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_username_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_use_add_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_use_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_use_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_use_delete_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台用户修改密码类错误码admin_user_update_pwd_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_user_update_pwd_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台用户修改密码类错误码admin_database_backup_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台物品及分类管理类错误码admin_goodscategory_add_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goodscategory_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goodscategory_delete_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goods_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goods_status_no_change" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goods_status_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goods_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goods_status_unable" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_goods_delete_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台学生管理admin_student_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_student_status_no_change" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_student_status_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_student_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_student_delete_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台友情链接管理admin_news_add_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_news_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//后台友情链接管理admin_friendlink_add_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="admin_friendlink_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//网站设置admin_sitesetting_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//前端用户登录注册类错误码home_student_register_sn_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_register_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_sn_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_password_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_unable" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//前端用户中心错误码home_student_editinfo_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_editpwd_old_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//前端用户发布物品错误码home_student_publish_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_goods_edit_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_goods_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_publish_category_empty" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//前端用户举报物品home_student_report_goods_error" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_reported_goods" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="home_student_reported_no_exist" type="codemsg" nillable="true" minOccurs="0" />
        <xs:element name="//前端用户评论home_student_comment_add_error" type="codemsg" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendlinkdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<friendlink,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportgoodsdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<reportgoods,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sitesettingdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<sitesetting,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodsdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<goods,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newsdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<news,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<student,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wantedgoodsdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<wantedgoods,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodscategorydao" >
      <xs:complexContent>
       <xs:extension base="jparepository<goodscategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasebakdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<databasebak,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operaterlogdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<operaterlog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menudao" >
      <xs:complexContent>
       <xs:extension base="jparepository<menu,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menuutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validateentityutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cpachautil" >
      <xs:sequence>
        <xs:element name="code" type="xs:anyType" />
        <xs:element name="fontnames" type="xs:string" />
        <xs:element name="fontstyles" type="xs:long" />
        <xs:element name="/***验证码长度*默认4个字符*/vcodelen" type="xs:long" />
        <xs:element name="/***验证码图片字体大小*默认17*/fontsize" type="xs:long" />
        <xs:element name="/***验证码图片宽度*/width" type="xs:long" />
        <xs:element name="/***验证码图片高度*/height" type="xs:long" />
        <xs:element name="/***干扰线条数*默认3条*/disturbline" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backupschedule" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="databasebakservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siteconfig" >
      <xs:sequence>
        <xs:element name="sitename" type="xs:string" />
        <xs:element name="siteurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminwebconfig" >
      <xs:sequence>
        <xs:element name="logininterceptor" type="adminlogininterceptor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homewebconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="homelogininterceptor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="homeglobalinterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionlistener" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="onlineusercount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionconstant" >
      <xs:sequence>
        <xs:element name="session_user_login_key" type="xs:string" />
        <xs:element name="session_student_login_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runtimeconstant" >
      <xs:sequence>
        <xs:element name="//后台登录拦截器无需拦截的urlloginexcludepathpatterns" type="xs:anyType" />
        <xs:element name="//后台权限拦截器无需拦截的urlauthorityexcludepathpatterns" type="xs:anyType" />
        <xs:element name="//前台全局拦截器无需拦截的urlhomeglobalexcludepathpatterns" type="xs:anyType" />
        <xs:element name="//前台登录拦截器无需拦截的urlhomeloginexcludepathpatterns" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//性别男user_sex_man" type="xs:long" />
          <xs:element name="//性别女user_sex_woman" type="xs:long" />
          <xs:element name="//性别未知user_sex_unkonw" type="xs:long" />
          <xs:element name="//用户状态正常可用admin_user_status_enable" type="xs:long" />
          <xs:element name="//用户状态不可用admin_user_status_unable" type="xs:long" />
          <xs:element name="//用户所属角色" type="role" nillable="true" minOccurs="0" />
          <xs:element name="//用户名username" type="xs:string" />
          <xs:element name="//登录密码password" type="xs:string" />
          <xs:element name="//用户状态,默认可用status" type="xs:long" />
          <xs:element name="//用户头像headpic" type="xs:string" />
          <xs:element name="//用户性别sex" type="xs:long" />
          <xs:element name="//用户手机号mobile" type="xs:string" />
          <xs:element name="//用户邮箱email" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasebak" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//备份的文件名filename" type="xs:string" />
          <xs:element name="//备份的文件路径filepath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//角色状态正常可用admin_role_status_enable" type="xs:long" />
          <xs:element name="//角色状态不可用admin_role_status_unable" type="xs:long" />
          <xs:element name="//角色名称name" type="xs:string" />
          <xs:element name="//角色所对应的权限（菜单）列表authorities" type="menu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//角色状态,默认可用status" type="xs:long" />
          <xs:element name="//角色备注remark" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//菜单名称name" type="xs:string" />
          <xs:element name="//菜单父分类parent" type="menu" nillable="true" minOccurs="0" />
          <xs:element name="//菜单urlurl" type="xs:string" />
          <xs:element name="//菜单图标iconicon" type="xs:string" />
          <xs:element name="//菜单顺序，默认升序排列,默认是0sort" type="xs:anyType" />
          <xs:element name="//是否是按钮isbutton" type="xs:anyType" />
          <xs:element name="//是否显示isshow" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operaterlog" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//操作者operator" type="xs:string" />
          <xs:element name="//操作内容content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//唯一idid" type="xs:long" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//评论的物品" type="goods" nillable="true" minOccurs="0" />
          <xs:element name="//评论内容content" type="xs:string" />
          <xs:element name="//回复者replyto" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//状态可用student_status_enable" type="xs:long" />
          <xs:element name="//状态不可用student_status_unable" type="xs:long" />
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//学生学号sn" type="xs:string" />
          <xs:element name="//学生登录密码password" type="xs:string" />
          <xs:element name="//学生头像headpic" type="xs:string" />
          <xs:element name="//昵称nickname" type="xs:string" />
          <xs:element name="//手机号mobile" type="xs:string" />
          <xs:element name="//qq号qq" type="xs:string" />
          <xs:element name="//所属学校school" type="xs:string" />
          <xs:element name="//所属学院academy" type="xs:string" />
          <xs:element name="//所属年级grade" type="xs:string" />
          <xs:element name="//学生状态，默认可用status" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goods" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//上架goods_status_up" type="xs:long" />
          <xs:element name="//下架goods_status_down" type="xs:long" />
          <xs:element name="//已售出goods_status_sold" type="xs:long" />
          <xs:element name="//擦亮goods_flag_on" type="xs:long" />
          <xs:element name="//不擦亮goods_flag_off" type="xs:long" />
          <xs:element name="//不推荐goods_recommend_off" type="xs:long" />
          <xs:element name="//推荐goods_recommend_on" type="xs:long" />
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//物品名称name" type="xs:string" />
          <xs:element name="//物品分类" type="goodscategory" nillable="true" minOccurs="0" />
          <xs:element name="//购买价格buyprice" type="xs:double" />
          <xs:element name="//出售价格sellprice" type="xs:double" />
          <xs:element name="//物品图片photo" type="xs:string" />
          <xs:element name="//物品状态，默认上架status" type="xs:long" />
          <xs:element name="//是否擦亮flag" type="xs:long" />
          <xs:element name="//是否推荐recommend" type="xs:long" />
          <xs:element name="//物品详情描述content" type="xs:string" />
          <xs:element name="//物品浏览量viewnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportgoods" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//举报的物品" type="goods" nillable="true" minOccurs="0" />
          <xs:element name="//举报原因content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodscategory" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//分类名称name" type="xs:string" />
          <xs:element name="//分类父分类parent" type="goodscategory" nillable="true" minOccurs="0" />
          <xs:element name="//分类图标iconicon" type="xs:string" />
          <xs:element name="//分类顺序，默认升序排列,默认是0sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wantedgoods" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//物品名称name" type="xs:string" />
          <xs:element name="//期望价格sellprice" type="xs:double" />
          <xs:element name="//期望交易地点tradeplace" type="xs:string" />
          <xs:element name="//物品详情描述content" type="xs:string" />
          <xs:element name="//物品浏览量viewnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sitesetting" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//网站名称sitename" type="xs:string" />
          <xs:element name="//网站地址siteurl" type="xs:string" />
          <xs:element name="//网站logo1logo1" type="xs:string" />
          <xs:element name="//网站logo2logo2" type="xs:string" />
          <xs:element name="//网站公众号二维码qrcode" type="xs:string" />
          <xs:element name="//网站版权allrights" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friendlink" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//友情链接名称name" type="xs:string" />
          <xs:element name="//友情链接地址url" type="xs:string" />
          <xs:element name="//显示顺序，默认升序排列,默认是0sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="news" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//新闻标题title" type="xs:string" />
          <xs:element name="//新闻内容content" type="xs:string" />
          <xs:element name="viewnumber" type="xs:anyType" />
          <xs:element name="//分类顺序，默认升序排列,默认是0sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityinterceptor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminlogininterceptor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="siteconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homelogininterceptor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homeglobalinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodscategoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="siteconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="friendlinkservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sitesettingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validateentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfect-scrollbar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker3.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker3.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.cy.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sr-latin.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.fr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.fr-ch.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.eo.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.eu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sv.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.zh-tw.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.nl-be.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ca.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.az.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ka.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.gl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.bg.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.en-au.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.mk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.uk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ja.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.fa.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.nl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.kr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.zh-cn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.id.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.es.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.kh.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ms.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.is.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.hu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.pt-br.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.lv.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.kk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sq.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.pl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.da.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.fo.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.lt.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.no.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.pt.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.hy.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.nb.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ro.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.me.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ru.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.cs.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.it-ch.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.et.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.tr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.ko.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.it.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.vi.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.fi.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.hr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.rs.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.mn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.de.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.he.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.th.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.bs.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.en-gb.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.el.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.sw.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-datepicker.rs-latin.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-colorpicker.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-colorpicker.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialdesignicons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favicon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common_footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 