campus-market/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//性别男user_sex_man" type="xs:long" />
          <xs:element name="//性别女user_sex_woman" type="xs:long" />
          <xs:element name="//性别未知user_sex_unkonw" type="xs:long" />
          <xs:element name="//用户状态正常可用admin_user_status_enable" type="xs:long" />
          <xs:element name="//用户状态不可用admin_user_status_unable" type="xs:long" />
          <xs:element name="//用户所属角色" type="role" nillable="true" minOccurs="0" />
          <xs:element name="//用户名username" type="xs:string" />
          <xs:element name="//登录密码password" type="xs:string" />
          <xs:element name="//用户状态,默认可用status" type="xs:long" />
          <xs:element name="//用户头像headpic" type="xs:string" />
          <xs:element name="//用户性别sex" type="xs:long" />
          <xs:element name="//用户手机号mobile" type="xs:string" />
          <xs:element name="//用户邮箱email" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databasebak" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//备份的文件名filename" type="xs:string" />
          <xs:element name="//备份的文件路径filepath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//角色状态正常可用admin_role_status_enable" type="xs:long" />
          <xs:element name="//角色状态不可用admin_role_status_unable" type="xs:long" />
          <xs:element name="//角色名称name" type="xs:string" />
          <xs:element name="//角色所对应的权限（菜单）列表authorities" type="menu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="//角色状态,默认可用status" type="xs:long" />
          <xs:element name="//角色备注remark" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//菜单名称name" type="xs:string" />
          <xs:element name="//菜单父分类parent" type="menu" nillable="true" minOccurs="0" />
          <xs:element name="//菜单urlurl" type="xs:string" />
          <xs:element name="//菜单图标iconicon" type="xs:string" />
          <xs:element name="//菜单顺序，默认升序排列,默认是0sort" type="xs:anyType" />
          <xs:element name="//是否是按钮isbutton" type="xs:anyType" />
          <xs:element name="//是否显示isshow" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operaterlog" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//操作者operator" type="xs:string" />
          <xs:element name="//操作内容content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//唯一idid" type="xs:long" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//评论的物品" type="goods" nillable="true" minOccurs="0" />
          <xs:element name="//评论内容content" type="xs:string" />
          <xs:element name="//回复者replyto" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//状态可用student_status_enable" type="xs:long" />
          <xs:element name="//状态不可用student_status_unable" type="xs:long" />
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//学生学号sn" type="xs:string" />
          <xs:element name="//学生登录密码password" type="xs:string" />
          <xs:element name="//学生头像headpic" type="xs:string" />
          <xs:element name="//昵称nickname" type="xs:string" />
          <xs:element name="//手机号mobile" type="xs:string" />
          <xs:element name="//qq号qq" type="xs:string" />
          <xs:element name="//所属学校school" type="xs:string" />
          <xs:element name="//所属学院academy" type="xs:string" />
          <xs:element name="//所属年级grade" type="xs:string" />
          <xs:element name="//学生状态，默认可用status" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goods" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="//上架goods_status_up" type="xs:long" />
          <xs:element name="//下架goods_status_down" type="xs:long" />
          <xs:element name="//已售出goods_status_sold" type="xs:long" />
          <xs:element name="//擦亮goods_flag_on" type="xs:long" />
          <xs:element name="//不擦亮goods_flag_off" type="xs:long" />
          <xs:element name="//不推荐goods_recommend_off" type="xs:long" />
          <xs:element name="//推荐goods_recommend_on" type="xs:long" />
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//物品名称name" type="xs:string" />
          <xs:element name="//物品分类" type="goodscategory" nillable="true" minOccurs="0" />
          <xs:element name="//购买价格buyprice" type="xs:double" />
          <xs:element name="//出售价格sellprice" type="xs:double" />
          <xs:element name="//物品图片photo" type="xs:string" />
          <xs:element name="//物品状态，默认上架status" type="xs:long" />
          <xs:element name="//是否擦亮flag" type="xs:long" />
          <xs:element name="//是否推荐recommend" type="xs:long" />
          <xs:element name="//物品详情描述content" type="xs:string" />
          <xs:element name="//物品浏览量viewnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportgoods" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//举报的物品" type="goods" nillable="true" minOccurs="0" />
          <xs:element name="//举报原因content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodscategory" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//分类名称name" type="xs:string" />
          <xs:element name="//分类父分类parent" type="goodscategory" nillable="true" minOccurs="0" />
          <xs:element name="//分类图标iconicon" type="xs:string" />
          <xs:element name="//分类顺序，默认升序排列,默认是0sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wantedgoods" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//所属学生" type="student" nillable="true" minOccurs="0" />
          <xs:element name="//物品名称name" type="xs:string" />
          <xs:element name="//期望价格sellprice" type="xs:double" />
          <xs:element name="//期望交易地点tradeplace" type="xs:string" />
          <xs:element name="//物品详情描述content" type="xs:string" />
          <xs:element name="//物品浏览量viewnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sitesetting" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//网站名称sitename" type="xs:string" />
          <xs:element name="//网站地址siteurl" type="xs:string" />
          <xs:element name="//网站logo1logo1" type="xs:string" />
          <xs:element name="//网站logo2logo2" type="xs:string" />
          <xs:element name="//网站公众号二维码qrcode" type="xs:string" />
          <xs:element name="//网站版权allrights" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friendlink" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//友情链接名称name" type="xs:string" />
          <xs:element name="//友情链接地址url" type="xs:string" />
          <xs:element name="//显示顺序，默认升序排列,默认是0sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="news" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="//新闻标题title" type="xs:string" />
          <xs:element name="//新闻内容content" type="xs:string" />
          <xs:element name="viewnumber" type="xs:anyType" />
          <xs:element name="//分类顺序，默认升序排列,默认是0sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 