CTS-Chennai-Java17/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="empname" type="xs:string" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="info" type="xs:string" />
        <xs:element name="dob" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 