HibernateJPA2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="searchqueuechecker" >
      <xs:sequence>
        <xs:element name="queues" type="xs:long" />
        <xs:element name="works" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tshirt" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="logo" type="xs:string" />
        <xs:element name="size" type="xs:string" />
        <xs:element name="length" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jmsslavetest" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="tshirt_type" type="xs:anyType" />
          <xs:element name="/***nameofthetestqueueasfoundinjndi(seejndi.properties).*/queue_name" type="xs:string" />
          <xs:element name="/***nameoftheconnectionfactoryasfoundinjndi(seejndi.properties).*/connection_factory_name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="/***activemqmessagebroker.*/" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tshirt" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="logo" type="xs:string" />
        <xs:element name="size" type="xs:string" />
        <xs:element name="length" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jmsmasterdynamicshardingtest" >
      <xs:complexContent>
       <xs:extension base="jmsmastertest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mdbsearchcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractjmshibernatesearchcontroller">
         <xs:sequence>
          <xs:element name="integrator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jmsmastertest" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="tshirttype" type="xs:anyType" />
          <xs:element name="/***nameofthetestqueueasfoundinjndi(seejndi.properties).*/queue_name" type="xs:string" />
          <xs:element name="/***nameoftheconnectionfactoryasfoundinjndi(seejndi.properties).*/connection_factory_name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="parser" type="xs:anyType" />
          <xs:element name="/***activemqmessagebroker.*/" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 