devops-automation-ksd-kc5.2.1-rice7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="parameterupdatetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bocontainingperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountwithddattributesdocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountextension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmanagermaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrequestdocument2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrequestdocument3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocumentdivergenttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchattributeindextestdocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocument2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrequestdocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttype2maintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttype2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accounttypedivergent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountmaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lookupresultsddbo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultsuitetestdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationtestparentdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataloaderannotationtestdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ojb-repository-krad-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="krad-test-orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="krad-test-persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemaintenancedocumenttest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="document" type="xs:anyType" />
          <xs:element name="documenttypename" type="xs:string" />
          <xs:element name="initiatorprincipalname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kradtestcase" >
      <xs:complexContent>
       <xs:extension base="baselinetestcase">
         <xs:sequence>
          <xs:element name="sql_file" type="xs:string" />
          <xs:element name="xml_file" type="xs:string" />
          <xs:element name="krad_module_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kradtestconstants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectvaluesfindertest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="testkeyvalues" type="xs:anyType" />
          <xs:element name="testkeyvalueskeyinlabel" type="xs:anyType" />
          <xs:element name="testkeyvalueslongkey" type="xs:anyType" />
          <xs:element name="testkeyvalueskeyinlabellongkey" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationtestparent" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="test_table_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationordertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricetestcasetest" >
      <xs:complexContent>
       <xs:extension base="ricetestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataloaderannotationtest" >
      <xs:complexContent>
       <xs:extension base="annotationtestparent">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataloaderannotationoverridetest" >
      <xs:complexContent>
       <xs:extension base="annotationtestparent">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportquerybycriteriatest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kualiinquirabletest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="am" type="accountmanager" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttypekeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequestdocumentrule" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentrulebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequestdocument" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="requester" type="xs:string" />
          <xs:element name="reason1" type="xs:string" />
          <xs:element name="reason2" type="xs:string" />
          <xs:element name="requesttype" type="xs:string" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequesttype" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequestdocumentauthorizer" >
      <xs:complexContent>
       <xs:extension base="documentauthorizerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttypedivergent" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttype2" >
      <xs:complexContent>
       <xs:extension base="accounttype2parent">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttype" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountextension" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectextensionbase">
         <xs:sequence>
          <xs:element name="number" type="xs:string" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="" type="accounttype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountmanager" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="amid" type="xs:long" />
          <xs:element name="defaulttype" type="xs:string" />
          <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="number" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="amid" type="xs:long" />
          <xs:element name="" type="accountmanager" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttype2parent" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttypedivergentparent" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequestdocument2" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="/***atestkeytomaptosomevalueindicatingwhatfieldstheusercaneditonthisdoc.notethatsuchbehaviorisnotenforceditissimply*herefortestingthepessimisticlockservice'scustomlockdescriptorfunctionality.*/acct_req_doc_2_editable_fields" type="xs:string" />
          <xs:element name="/***atestvalueindicatingthattheuserhaspermissiontoediteverythingexcept"reason1"and"reason2".thisishereonlyfortestingthe*generationofcustomlockdescriptorsforpessimisticlockservicetestaccountrequestdocument2doesnotactuallyenforceanysuchbehavior.*/edit_all_but_reasons" type="xs:string" />
          <xs:element name="/***atestvalueindicatingthattheuseronlyhaspermissiontoedit"reason1"and"reason2".thisishereonlyfortestingthegenerationof*customlockdescriptorsforpessimisticlockservicetestaccountrequestdocument2doesnotactuallyenforceanysuchbehavior.*/edit_reasons_only" type="xs:string" />
          <xs:element name="requester" type="xs:string" />
          <xs:element name="reason1" type="xs:string" />
          <xs:element name="reason2" type="xs:string" />
          <xs:element name="requesttype" type="xs:string" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bocontainingperson" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="boprimarykey" type="xs:string" />
          <xs:element name="principalid" type="xs:string" />
          <xs:element name="" type="person" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrules" >
      <xs:complexContent>
       <xs:extension base="maintenancedocumentrulebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountwithddattributesdocument" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="accountnumber" type="xs:anyType" />
          <xs:element name="accountowner" type="xs:string" />
          <xs:element name="accountbalance" type="xs:anyType" />
          <xs:element name="accountopen" type="xs:dateTime" />
          <xs:element name="accountupdatedatetime" type="xs:anyType" />
          <xs:element name="accountstate" type="xs:string" />
          <xs:element name="accountawake" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountstatekeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchattributeindextestdocument" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="routelevelcount" type="xs:long" />
          <xs:element name="constant" type="xs:string" />
          <xs:element name="routed" type="xs:string" />
          <xs:element name="heldrouted" type="xs:string" />
          <xs:element name="readaccesscount" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountrequestdocumentwithcyclicalreference" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="requester" type="xs:string" />
          <xs:element name="reason1" type="xs:string" />
          <xs:element name="reason2" type="xs:string" />
          <xs:element name="requesttype" type="xs:string" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="child" type="accountrequestdocumentwithcyclicalreference" nillable="true" minOccurs="0" />
          <xs:element name="parent" type="accountrequestdocumentwithcyclicalreference" nillable="true" minOccurs="0" />
          <xs:element name="accounts" type="account" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datetimeservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lookupservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessobjectservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inactivateablefromtoservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noteservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kualiruleservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="entriesadded" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="populategrouppermissiontypeserviceimpltest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="permissionservice" type="xs:anyType" />
          <xs:element name="perm_nm_pop_group_group_nm" type="xs:string" />
          <xs:element name="perm_nm_pop_group_type_default" type="xs:string" />
          <xs:element name="perm_nm_pop_group_not_type_default" type="xs:string" />
          <xs:element name="perm_nm_pop_group_type_default_kfs" type="xs:string" />
          <xs:element name="perm_nm_pop_group_nmspc_all" type="xs:string" />
          <xs:element name="perm_nm_pop_group_nmspc_kr" type="xs:string" />
          <xs:element name="perm_nm_pop_group_nmspc_kfs" type="xs:string" />
          <xs:element name="perm_nm_pop_group_nmspc_kr_wkflw" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dictionaryvalidationserviceimpltest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="service" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="addressentry" type="xs:anyType" />
          <xs:element name="validlondon" type="address" nillable="true" minOccurs="0" />
          <xs:element name="validus" type="address" nillable="true" minOccurs="0" />
          <xs:element name="invalidus" type="address" nillable="true" minOccurs="0" />
          <xs:element name="nozipnocityus" type="address" nillable="true" minOccurs="0" />
          <xs:element name="validnondcus" type="address" nillable="true" minOccurs="0" />
          <xs:element name="invaliddcus" type="address" nillable="true" minOccurs="0" />
          <xs:element name="invalidhk" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessimisticlockservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="sessionid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maintenancedocumentdictionaryservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="namespacewildcardallowedandorstringexactmatchpermissiontypeserviceimpltest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="ingester_action" type="xs:string" />
          <xs:element name="permissionservice" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dictionaryvalidationservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="metadatamanagertest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentauthorizerbasetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountmanagermaintenancedocumenttest" >
      <xs:complexContent>
       <xs:extension base="basemaintenancedocumenttest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessimisticlocktestdocumentauthorizer" >
      <xs:complexContent>
       <xs:extension base="documentauthorizerbase">
         <xs:sequence>
          <xs:element name="uses_pessimistic_locking" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testdocumentauthorizerbase" >
      <xs:complexContent>
       <xs:extension base="documentauthorizerbase">
         <xs:sequence>
          <xs:element name="user_session_object_key" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocumentdivergent" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockworkflowdocument" >
      <xs:complexContent>
       <xs:extension base="remotableattributeerrorcontract>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocument2parent" >
      <xs:complexContent>
       <xs:extension base="		transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocument" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocument2" >
      <xs:complexContent>
       <xs:extension base="ricetesttransactionaldocument2parent">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocumentdivergentparent" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetesttransactionaldocumentauthorizer" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentauthorizerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ricetestmaintenancedocumentrule" >
      <xs:complexContent>
       <xs:extension base="maintenancedocumentrulebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webutilstest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectutilstest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseboclassandbasedocumentclasstest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="dd" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extensionattributetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="dd" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="maskformattersubstringtest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="utf8validationtestutils" >
      <xs:sequence>
        <xs:element name="test_inputs" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationtestutils" >
      <xs:sequence>
        <xs:element name="test_inputs" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utf8anycharactervalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anycharactervalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alphanumericvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="regexvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="charsetvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="charsetpattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="numericvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alphavalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="monthvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailaddressvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zipcodevalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="floatingpointvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="yearvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="javaclassvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fixedpointvalidationpatterntest" >
      <xs:complexContent>
       <xs:extension base="basericetestcase">
         <xs:sequence>
          <xs:element name="//unlikeitssuperclass,doesnotusespring.pattern" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datatypeconstraintprocessortest" >
      <xs:sequence>
        <xs:element name="processor" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="booleanconstraint,dateconstraint,doubleconstraint,floatconstraint,integerconstraint,longconstraint" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="testtodateformats" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datadictionarylazyloadingtest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentreasoncode" >
      <xs:complexContent>
       <xs:extension base="kualicodebase">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="section2field1" type="xs:string" />
          <xs:element name="section2field2" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="workflowinfoservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchattributeindexrequesttest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="search_attribute_index_document_test_doc_type" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionarysearchableattributetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="account_with_dd_attributes_document_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kualixmlattributeimpltest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="rule_attribute_config_node_name" type="xs:string" />
          <xs:element name="search_attribute_config_node_name" type="xs:string" />
          <xs:element name="my" type="xs:anyType" />
          <xs:element name="ruleattributexml" type="xs:string" />
          <xs:element name="searchattributexml" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lookupresultsddbo" >
      <xs:complexContent>
       <xs:extension base="transientbusinessobjectbase">
         <xs:sequence>
          <xs:element name="somevalue" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kualilookupabletest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="lookupableimpl" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lookupresultsservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="mock_parameter_nmspc" type="xs:string" />
          <xs:element name="mock_parameter_detail_type_code" type="xs:string" />
          <xs:element name="mock_parameter_name" type="xs:string" />
          <xs:element name="mock_person" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lookupresultsddbolookupablehelperserviceimpl" >
      <xs:complexContent>
       <xs:extension base="businessobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessobjectrefreshtest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attachmenttest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="dummy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttype2maintainableimpl" >
      <xs:complexContent>
       <xs:extension base="kualimaintainableimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="/***atestkeythatmapstoausersessionvariableindicatingwhatpartofthemaintainableorboiseditable.notethatthisparticularmaintainable*doesnottrytoenforcesuchrestrictions,sinceitissimplyherefortestingthecustomlockdescriptorfunctionalityofpessimisticlockservice.*/acct_type_2_maint_fields_to_edit" type="xs:string" />
          <xs:element name="/***atestvalueindicatingthattheuserhaspermissiontoeditonlytheaccounttype2'saccounttypecode.thisishereonlyfortestingthe*generationofcustomlockdescriptorsforpessimisticlockservicetestthemaintainableanditsbodonotactuallyenforceanysuchbehavior.*/edit_code_only" type="xs:string" />
          <xs:element name="/***atestvalueindicatingthattheuserhaspermissiontoeditonlytheaccounttype2'sname.thisishereonlyfortestingthe*generationofcustomlockdescriptorsforpessimisticlockservicetestthemaintainableanditsbodonotactuallyenforceanysuchbehavior.*/edit_name_only" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countrymaintenancedocumenttest" >
      <xs:complexContent>
       <xs:extension base="basemaintenancedocumenttest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="campustypemaintenancedocumenttest" >
      <xs:complexContent>
       <xs:extension base="basemaintenancedocumenttest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countymaintenancedocumenttest" >
      <xs:complexContent>
       <xs:extension base="basemaintenancedocumenttest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="componentservicetest" >
      <xs:complexContent>
       <xs:extension base="kradtestcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 