GoShop-Service/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="sizes" type="xs:string" />
        <xs:element name="photourl" type="xs:string" />
        <xs:element name="originalprice" type="xs:double" />
        <xs:element name="discount" type="xs:double" />
        <xs:element name="inwish" type="xs:anyType" />
        <xs:element name="GeneratedName" type="shop" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shop" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="offertitle" type="xs:string" />
        <xs:element name="offerdesc" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="photourl" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="categories" type="xs:string" />
        <xs:element name="openingtime" type="xs:string" />
        <xs:element name="closingtime" type="xs:string" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="ratingcount" type="xs:double" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="parkingavail" type="xs:anyType" />
        <xs:element name="changingroomavail" type="xs:anyType" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbfile" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="filename" type="xs:string" />
        <xs:element name="filetype" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comments" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ratings" type="xs:double" />
        <xs:element name="commenttext" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="GeneratedName" type="shop" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 