cquptCommunity44/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//城市名称name" type="xs:string" />
        <xs:element name="//是否热门ishot" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="label" >
      <xs:sequence>
        <xs:element name="//标签idid" type="xs:string" />
        <xs:element name="//标签名称labelname" type="xs:string" />
        <xs:element name="//状态state" type="xs:string" />
        <xs:element name="//使用数量count" type="xs:long" />
        <xs:element name="//关注数fans" type="xs:long" />
        <xs:element name="//是否推荐recommend" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 