escalab3003218/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="orderinventory" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="availableinventory" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderinventoryconsumption" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:anyType" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="quantityconsumed" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 