https-github.com-apache-camel2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jpaproducerremovetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparoutesharedentitymanagertest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="latch" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatxrollbacktest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="foo" type="xs:anyType" />
          <xs:element name="bar" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapollingconsumertest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaproducerconcurrenttest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapollingconsumertimeouttest" >
      <xs:complexContent>
       <xs:extension base="jpapollingconsumertest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpawiretaptest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaflushonsendtest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractjpatest" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparoutemaxmessagesperpolltest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaproducernobodytest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparouteendpointtest" >
      <xs:complexContent>
       <xs:extension base="jparoutetest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparouteskiplockedentitytest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="count" type="xs:long" />
          <xs:element name="lock" type="xs:anyType" />
          <xs:element name="cond1" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaproducerpassingentitymanagertest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparoutetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaidempotentconsumertest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="processor_name" type="xs:string" />
          <xs:element name="start" type="xs:anyType" />
          <xs:element name="resultendpoint" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileconsumerjpaidempotenttest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="processor_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapreconsumedtest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapollingconsumerlockentitytest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpabatchconsumertest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparouteconsumelockentitytest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpanontxrollbacktest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="foo" type="xs:anyType" />
          <xs:element name="bar" type="xs:anyType" />
          <xs:element name="kaboom" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparoutemaximumresultstest" >
      <xs:complexContent>
       <xs:extension base="abstractjpatest">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatraceeventmessagetest" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
          <xs:element name="select_all_" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatest" >
      <xs:complexContent>
       <xs:extension base="assert">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="template" type="xs:anyType" />
          <xs:element name="endpoint" type="jpaendpoint" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="received" type="xs:anyType" />
          <xs:element name="latch" type="xs:anyType" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="querytext" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpawithnativequerytest" >
      <xs:complexContent>
       <xs:extension base="jpawithnamedquerytest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpausemergetest" >
      <xs:complexContent>
       <xs:extension base="abstractjpamethodtest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpausepersisttest" >
      <xs:complexContent>
       <xs:extension base="abstractjpamethodtest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpawithnamedquerytest" >
      <xs:complexContent>
       <xs:extension base="assert">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="template" type="xs:anyType" />
          <xs:element name="endpoint" type="jpaendpoint" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="received" type="xs:anyType" />
          <xs:element name="latch" type="xs:anyType" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="querytext" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querybuildertest" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpawithquerytest" >
      <xs:complexContent>
       <xs:extension base="jpawithnamedquerytest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpacomponenttest" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpausingcustompersistenceunittest" >
      <xs:complexContent>
       <xs:extension base="jpatest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaendpointtest" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractjpamethodtest" >
      <xs:complexContent>
       <xs:extension base="cameltestsupport">
         <xs:sequence>
          <xs:element name="endpoint" type="jpaendpoint" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="received" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpawithnativequerywithresultclasstest" >
      <xs:complexContent>
       <xs:extension base="jpawithnamedquerytest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpawithnamedqueryandparameterstest" >
      <xs:complexContent>
       <xs:extension base="assert">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="camelcontext" type="xs:anyType" />
          <xs:element name="template" type="xs:anyType" />
          <xs:element name="endpoint" type="jpaendpoint" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="received" type="xs:anyType" />
          <xs:element name="latch" type="xs:anyType" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="querytext" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="addressline1" type="xs:string" />
        <xs:element name="addressline2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="ordercount" type="xs:long" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versioneditem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendemail" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multisteps" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="step" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjpatraveevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjparoutetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjparouteskiplockedtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileconsumerjpaidempotenttest-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preconsumed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletehandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querybuilder" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpahelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaconsumer" >
      <xs:complexContent>
       <xs:extension base="scheduledbatchpollingconsumer">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="nowait" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="queryfactory" nillable="true" minOccurs="0" />
          <xs:element name="deletehandler" type="xs:anyType" />
          <xs:element name="predeletehandler" type="xs:anyType" />
          <xs:element name="query" type="xs:string" />
          <xs:element name="namedquery" type="xs:string" />
          <xs:element name="nativequery" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="parameters" type="xs:anyType" />
          <xs:element name="resultclass" type="xs:anyType" />
          <xs:element name="transacted" type="xs:anyType" />
          <xs:element name="skiplockedentity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaconstants" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:string" />
        <xs:element name="/***use{@link#entity_manager}*/entitymanager" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpacomponent" >
      <xs:complexContent>
       <xs:extension base="uriendpointcomponent">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="pollingconsumer" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="transactionmanager" type="xs:anyType" />
          <xs:element name="jointransaction" type="xs:anyType" />
          <xs:element name="sharedentitymanager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="callback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consumed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpapollingconsumer" >
      <xs:complexContent>
       <xs:extension base="pollingconsumersupport">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="transient" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="query" type="xs:string" />
          <xs:element name="namedquery" type="xs:string" />
          <xs:element name="nativequery" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="resultclass" type="xs:anyType" />
          <xs:element name="" type="queryfactory" nillable="true" minOccurs="0" />
          <xs:element name="parameters" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpacloseentitymanageroncompletion" >
      <xs:complexContent>
       <xs:extension base="synchronizationadapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaproducer" >
      <xs:complexContent>
       <xs:extension base="defaultproducer">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaendpoint" >
      <xs:complexContent>
       <xs:extension base="scheduledpollendpoint">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="transactionmanager" type="xs:anyType" />
          <xs:element name="producer" type="xs:anyType" />
          <xs:element name="entitytype" type="xs:anyType" />
          <xs:element name="persistenceunit" type="xs:string" />
          <xs:element name="jointransaction" type="xs:anyType" />
          <xs:element name="sharedentitymanager" type="xs:anyType" />
          <xs:element name="maximumresults" type="xs:long" />
          <xs:element name="consumedelete" type="xs:anyType" />
          <xs:element name="consumelockentity" type="xs:anyType" />
          <xs:element name="maxmessagesperpoll" type="xs:long" />
          <xs:element name="query" type="xs:string" />
          <xs:element name="namedquery" type="xs:string" />
          <xs:element name="nativequery" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="parameters" type="xs:anyType" />
          <xs:element name="resultclass" type="xs:anyType" />
          <xs:element name="transacted" type="xs:anyType" />
          <xs:element name="skiplockedentity" type="xs:anyType" />
          <xs:element name="deletehandler" type="xs:anyType" />
          <xs:element name="predeletehandler" type="xs:anyType" />
          <xs:element name="flushonsend" type="xs:anyType" />
          <xs:element name="usepersist" type="xs:anyType" />
          <xs:element name="usepassedinentitymanager" type="xs:anyType" />
          <xs:element name="remove" type="xs:anyType" />
          <xs:element name="entitymanagerproperties" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messageprocessed" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="messageid" type="xs:string" />
        <xs:element name="processorname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamessageidrepository" >
      <xs:complexContent>
       <xs:extension base="servicesupport">
         <xs:sequence>
          <xs:element name="query_" type="xs:string" />
          <xs:element name="query_clear_" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="processorname" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jointransaction" type="xs:anyType" />
          <xs:element name="sharedentitymanager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatraceeventmessage" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="fromendpointuri" type="xs:string" />
        <xs:element name="previousnode" type="xs:string" />
        <xs:element name="tonode" type="xs:string" />
        <xs:element name="exchangeid" type="xs:string" />
        <xs:element name="shortexchangeid" type="xs:string" />
        <xs:element name="exchangepattern" type="xs:string" />
        <xs:element name="properties" type="xs:string" />
        <xs:element name="headers" type="xs:string" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="bodytype" type="xs:string" />
        <xs:element name="outheaders" type="xs:string" />
        <xs:element name="outbody" type="xs:string" />
        <xs:element name="outbodytype" type="xs:string" />
        <xs:element name="causedbyexception" type="xs:string" />
        <xs:element name="routeid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 