HibernateJPA26/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="servico" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idservico" type="xs:long" />
        <xs:element name="datahoradoservico" type="xs:dateTime" />
        <xs:element name="pessoas" type="pessoa" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessoa" >
      <xs:sequence>
        <xs:element name="idpessoa" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="servicos" type="servico" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 