assignments/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employeecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskstatuscontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gettaskstatusresponse" >
      <xs:sequence>
        <xs:element name="lateststatus" type="xs:string" />
        <xs:element name="taskstatuslist" type="taskstatus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeentry" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pubsubmessagewrapper" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="/***messagecontentpublishedbythepubsub*/message" type="xs:anyType" />
        <xs:element name="/***subscriptiondetailsofpubsub*/subscription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestscopedparameter" >
      <xs:sequence>
        <xs:element name="taskid" type="xs:string" />
        <xs:element name="taskstatuslist" type="taskstatus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="employees" type="employeeentry" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="taskrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addtaskstatusrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currenttaskstatus" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gettaskstatusresponse" >
      <xs:sequence>
        <xs:element name="lateststatus" type="xs:string" />
        <xs:element name="taskstatuslist" type="taskstatus" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploademployeeresponse" >
      <xs:sequence>
        <xs:element name="taskid" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploademployeerequest" >
      <xs:sequence>
        <xs:element name="employees" type="employeeentry" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploademployeerequest" >
      <xs:sequence>
        <xs:element name="employees" type="employeeentry" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addtaskstatusrequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskrequest" >
      <xs:sequence>
        <xs:element name="taskid" type="xs:string" />
        <xs:element name="employees" type="employeeentry" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateemployeerequest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploademployeeresponse" >
      <xs:sequence>
        <xs:element name="taskid" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskstatusid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskstatus" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pubsubpublisher" >
      <xs:sequence>
        <xs:element name="projectid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
        <xs:element name="employee_s_csv" type="xs:string" />
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="requestscopedparameter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeetaskexecutor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="requestvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="csvwriter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="csvreader" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pubsubpublisher" nillable="true" minOccurs="0" />
        <xs:element name="topicname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="employee_min_age" type="xs:long" />
        <xs:element name="employee_max_age" type="xs:long" />
        <xs:element name="invalid_inputs_received" type="xs:string" />
        <xs:element name="csv" type="xs:string" />
        <xs:element name="java_io_tmpdir" type="xs:string" />
        <xs:element name="name_age" type="xs:string" />
        <xs:element name="emp_csv" type="xs:string" />
        <xs:element name="attachment" type="xs:string" />
        <xs:element name="//exceptionmessagesage_is_not_in_correct_range" type="xs:string" />
        <xs:element name="required_one_query_parameter_id_or_name" type="xs:string" />
        <xs:element name="expected_a_value_for_age_field" type="xs:string" />
        <xs:element name="incorrect_format_for_csv" type="xs:string" />
        <xs:element name="the_request_is_not_valid" type="xs:string" />
        <xs:element name="maximum_upload_size_exceeded" type="xs:string" />
        <xs:element name="exactly_1_request_parameter_is_required" type="xs:string" />
        <xs:element name="value_for_count_should_be_in_range_1_1m" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconstants" >
      <xs:sequence>
        <xs:element name="base_package_name" type="xs:string" />
        <xs:element name="swagger_ui_page_name" type="xs:string" />
        <xs:element name="webjars" type="xs:string" />
        <xs:element name="swagger_ui_resource_location" type="xs:string" />
        <xs:element name="webjar_resource_location" type="xs:string" />
        <xs:element name="api_info__1" type="xs:string" />
        <xs:element name="api_info__2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="threadutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="csvwriter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="csvreaderwithcolumnmapping" >
      <xs:sequence>
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="csvreader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationexceptioncontrolleradvice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskstatuscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeetaskexecutor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recordsvalidator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeefactory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ageanalyzer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="requestscopedparameter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ageanalyzer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="requestscopedparameter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="threadutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeefactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="requestscopedparameter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employeerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="threadutils" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recordsvalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="requestscopedparameter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="welcomepageredirectconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multipartconfiguration" >
      <xs:sequence>
        <xs:element name="//1000recordsoccupying43kb.hence,filesizelimitsetto50kb.csv_file_size_limit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<taskstatus,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestvalidationfailedexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 