framework/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userlike" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:anyType" />
        <xs:element name="//被点赞的用户的idlikeduserid" type="xs:string" />
        <xs:element name="//点赞的用户的idlikedpostid" type="xs:string" />
        <xs:element name="//点赞的状态.默认未点赞status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 