arquitetura_java4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="webapiapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="starthsqldb" >
      <xs:sequence>
        <xs:element name="file_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcionalidadeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="funcionalidaderepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="permissaorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtwebsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="unauthorizedhandler" type="jwtauthenticationentrypoint" nillable="true" minOccurs="0" />
          <xs:element name="swagger_whitelist" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtconstants" >
      <xs:sequence>
        <xs:element name="access_token_validity_seconds" type="xs:long" />
        <xs:element name="signing_key" type="xs:string" />
        <xs:element name="//"bearer"token_prefix" type="xs:string" />
        <xs:element name="header_" type="xs:string" />
        <xs:element name="authorities_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationentrypoint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtcorsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtlogin" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtauthenticationfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jwttokenutil" type="jwttokenprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwttokenprovider" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtcredencial" >
      <xs:sequence>
        <xs:element name="login" type="xs:string" />
        <xs:element name="menus" type="xs:anyType" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtuserservice" >
      <xs:sequence>
        <xs:element name="repository" type="usuariorepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inicializacao" >
      <xs:sequence>
        <xs:element name="repository" type="usuariorepository" nillable="true" minOccurs="0" />
        <xs:element name="encoder" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="funcservice" type="funcionalidadeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcionalidaderepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<funcionalidade,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissaorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<permissao,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usuariorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<usuario,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="funcionalidaderesource" >
      <xs:sequence>
        <xs:element name="service" type="funcionalidadeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuarioresource" >
      <xs:sequence>
        <xs:element name="encoder" type="xs:anyType" />
        <xs:element name="repository" type="usuariorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginresource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jwttokenutil" type="jwttokenprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="perfis" type="perfil" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="funcionalidade" type="xs:string" />
        <xs:element name="acao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfil" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="externo" type="xs:anyType" />
        <xs:element name="permissoes" type="permissao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funcionalidade" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="idmodulo" type="xs:string" />
        <xs:element name="externa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="usuarios_search" type="xs:string" />
        <xs:element name="funcionalidades_insert" type="xs:string" />
        <xs:element name="funcionalidades_search" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tipooperacao" >
      <xs:sequence>
        <xs:element name="nome" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 