drools-pilot1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="infinispantest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basiccachetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querycachetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fbapplmst" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:double" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="start_dtim" type="xs:string" />
        <xs:element name="ip_addr" type="xs:string" />
        <xs:element name="nice_fraud_stat_cd" type="xs:string" />
        <xs:element name="fraud_rsn_cd1" type="xs:string" />
        <xs:element name="lst_work_date" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fbapplphone" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:double" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="org_id" type="xs:string" />
        <xs:element name="wire_mobile_gb" type="xs:string" />
        <xs:element name="start_dtim" type="xs:string" />
        <xs:element name="full_phone_no" type="xs:string" />
        <xs:element name="nice_fraud_stat_cd" type="xs:string" />
        <xs:element name="lst_work_date" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fbappladdr" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:double" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="org_id" type="xs:string" />
        <xs:element name="start_dtim" type="xs:string" />
        <xs:element name="strt_addr_2" type="xs:string" />
        <xs:element name="addr_pnu_cd" type="xs:string" />
        <xs:element name="nice_fraud_stat_cd" type="xs:string" />
        <xs:element name="lst_work_date" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infinispancache" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 