Gradle41/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="txtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="GeneratedName" type="green" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orange" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="environment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sharedenvironmenttest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
          <xs:element name="test_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:sequence>
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producerdisposer" >
      <xs:sequence>
        <xs:element name="volatiledisposed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="foo" type="pojo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="somepojo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletdisposerequestscopetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletejbremotetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservletfilter" >
      <xs:sequence>
        <xs:element name="transaction" type="xs:anyType" />
        <xs:element name="entitymgrfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfilterpersistenceinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datasourcedefinitiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="servlet_name" type="xs:string" />
        <xs:element name="resource_ejb_jar_xml" type="xs:anyType" />
        <xs:element name="content_location_ejb_jar_xml" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcepojo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcebean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="frompojo" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="expected_url_bean" type="xs:string" />
          <xs:element name="expected_url_pojo" type="xs:string" />
          <xs:element name="frommanagedbean" type="xs:anyType" />
          <xs:element name="frompojo" type="xs:anyType" />
          <xs:element name="" type="datasourcebean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datasourcetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testrun" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webappclassloadertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashcdiextension" >
      <xs:sequence>
        <xs:element name="bms" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletejblocalinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
          <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="othercompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allfiltertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummyejb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfinjectiontest" >
      <xs:complexContent>
       <xs:extension base="jsfs">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dummymanagedbean" >
      <xs:sequence>
        <xs:element name="ejb" type="dummyejb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummymanagedbean" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpainjectiontest" >
      <xs:complexContent>
       <xs:extension base="jsfs">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcemanagedbean" >
      <xs:sequence>
        <xs:element name="ds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfresourceinjectiontest" >
      <xs:complexContent>
       <xs:extension base="jsfs">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="theextension" >
      <xs:sequence>
        <xs:element name="mgr" type="xs:anyType" />
        <xs:element name="registry" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdijnditest" >
      <xs:sequence>
        <xs:element name="extension" type="theextension" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresourcestest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresourcesholder" >
      <xs:sequence>
        <xs:element name="resource_number" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getresourcesservletexporter" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getresourceslistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="descriptorcomplementsannotationsservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="/**checkthatthedeploymentdescriptorwill*complementtheinformationfromthe*ejbannotation.forinstancethebeaninterface*isresolvedfromtheejbjardescriptor*/first" type="xs:anyType" />
          <xs:element name="second" type="xs:anyType" />
          <xs:element name="overridethenameoverride" type="bean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="descriptorcomplementsannotationstest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="servlet_name" type="xs:string" />
        <xs:element name="resource_ejb_jar_xml" type="xs:anyType" />
        <xs:element name="content_location_ejb_jar_xml" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="firstbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservletcontextlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletsessionlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletlistenerejblocalinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="returnemail" type="xs:string" />
          <xs:element name="connectionpool" type="xs:anyType" />
          <xs:element name="startcount" type="xs:long" />
          <xs:element name="initsize" type="xs:long" />
          <xs:element name="totalquantity" type="xs:anyType" />
          <xs:element name="enableemail" type="xs:anyType" />
          <xs:element name="optiondefault" type="xs:anyType" />
          <xs:element name="default" type="code" nillable="true" minOccurs="0" />
          <xs:element name="auditwriter" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletenventryinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfilterenventryinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
        <xs:element name="config" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stratocastertest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pickupeditor" >
      <xs:complexContent>
       <xs:extension base="java.beans.propertyeditorsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pickup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stratocaster" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="pickups" type="pickup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="style" nillable="true" minOccurs="0" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="guitarstringguages" type="xs:anyType" />
          <xs:element name="certificateofauthenticity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ivmcontexttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="servlet_name" type="xs:string" />
        <xs:element name="resource_ejb_jar_xml" type="xs:string" />
        <xs:element name="content_location_ejb_jar_xml" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namingbean" >
      <xs:complexContent>
       <xs:extension base="nameclasspair>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ivmcontextservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="namingbean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservletfilter" >
      <xs:sequence>
        <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfilterejbremoteinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleservlettest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservletloadonstartuptest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jspcditest" >
      <xs:sequence>
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classloaderservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="bean" type="simplebean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codecbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="earcommonscodectest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="earnotestmethodtest" >
      <xs:complexContent>
       <xs:extension base="baseforear">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codecservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="bean" type="codecbean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseforear" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdiparentbeantest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eartest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="bean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="runner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testsetup" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletfilterejblocalinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bean2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcomposerconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcomposertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="endpoint" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bean1" nillable="true" minOccurs="0" />
        <xs:element name="bean2" type="bean2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bean1" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletsessionlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletcontextlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
        <xs:element name="localcompany" type="companylocal" nillable="true" minOccurs="0" />
        <xs:element name="market" type="supermarket" nillable="true" minOccurs="0" />
        <xs:element name="returnemail" type="xs:string" />
        <xs:element name="connectionpool" type="xs:anyType" />
        <xs:element name="startcount" type="xs:long" />
        <xs:element name="initsize" type="xs:long" />
        <xs:element name="totalquantity" type="xs:anyType" />
        <xs:element name="enableemail" type="xs:anyType" />
        <xs:element name="optiondefault" type="xs:anyType" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource*/default" type="code" nillable="true" minOccurs="0" />
        <xs:element name="/*todo:enablethisresourceafterfunctionalityisfixed@resource@suppresswarnings("unchecked")*/auditwriter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companylocal" >
      <xs:complexContent>
       <xs:extension base="company">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletlistenerenventryinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletcdiconstructorinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="car" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="car" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletcdiinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overloadedejbobservermethodstest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assemblyline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="car" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletcdiproducertest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="e3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="e2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="e1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tomcatscanningtest" >
      <xs:sequence>
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletlistenerejbremotetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultcompany" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyremote" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservletcontextlistener" >
      <xs:sequence>
        <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteservletsessionlistener" >
      <xs:sequence>
        <xs:element name="remotecompany" type="companyremote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletpersistenceinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="transaction" type="xs:anyType" />
          <xs:element name="entitymgrfactory" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multiplepersistencetest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person1" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person2" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiplepuservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="transaction" type="xs:anyType" />
          <xs:element name="txmgr" type="xs:anyType" />
          <xs:element name="1" type="xs:anyType" />
          <xs:element name="2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statefulbean" >
      <xs:sequence>
        <xs:element name="entity_id_after_begin" type="xs:long" />
        <xs:element name="entity_id_before_completion" type="xs:long" />
        <xs:element name="entity_id_business_method" type="xs:long" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionsynchronizationcallbackservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="ut" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="" type="statefulbean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionsynchronizationcallbacktest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="servlet_name" type="xs:string" />
        <xs:element name="persistence_xml_source" type="xs:string" />
        <xs:element name="persistence_xml_destination" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleid" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="userrole" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcerealmtest" >
      <xs:sequence>
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="roleid" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adduser" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="userpass" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextattributename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletlistenerpersistenceinjectiontest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservletcontextlistener" >
      <xs:sequence>
        <xs:element name="transaction" type="xs:anyType" />
        <xs:element name="entitymgrfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservletsessionlistener" >
      <xs:sequence>
        <xs:element name="transaction" type="xs:anyType" />
        <xs:element name="entitymgrfactory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servlettochecklistener" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myconstantcipher" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cipherfromapptest" >
      <xs:sequence>
        <xs:element name="ds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jspinjectiontest" >
      <xs:sequence>
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletfiltercdiinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
          <xs:element name="test_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="make" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pojoservletfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="car" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mylocalobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mycmpbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmpservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mylocalhome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customormxmlcasttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localmoviehome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviesbusinesshome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customormxmleartest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localactor" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="actorbean" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localactorhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customormxmltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localmovie" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviedetails" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="genre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviesbusinessbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actordetails" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviebean" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviesservlet2" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviesservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moviesbusiness" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myremoteobject" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myremotehome" >
      <xs:complexContent>
       <xs:extension base="javax.ejb.ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cmpmappingtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deploymentexceptionerrortest" >
      <xs:sequence>
        <xs:element name="de" type="xs:anyType" />
        <xs:element name="oejbexception" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tomcatnamingfailonwriteconfigurationtest" >
      <xs:sequence>
        <xs:element name="test_name" type="xs:string" />
        <xs:element name="servlet_name" type="xs:string" />
        <xs:element name="resource_context_xml" type="xs:string" />
        <xs:element name="content_location_context_xml_fail_on_write" type="xs:string" />
        <xs:element name="content_location_context_xml_do_not_fail_on_write" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namingservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="someresource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="someresourcefactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcemergetest" >
      <xs:sequence>
        <xs:element name="sr" type="someresource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databusinessbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
        <xs:element name="sometext" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataeartest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databusinesshome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="databusiness" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="theserverauthcontext" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thebean" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theejb" >
      <xs:sequence>
        <xs:element name="ctx" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theauthconfigprovider" >
      <xs:sequence>
        <xs:element name="callback_handler_property_name" type="xs:string" />
        <xs:element name="providerproperties" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theserverauthmodule" >
      <xs:sequence>
        <xs:element name="handler" type="xs:anyType" />
        <xs:element name="supportedmessagetypes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityejbpropagationtest" >
      <xs:sequence>
        <xs:element name="base" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theserverauthconfig" >
      <xs:sequence>
        <xs:element name="layer" type="xs:string" />
        <xs:element name="appcontext" type="xs:string" />
        <xs:element name="handler" type="xs:anyType" />
        <xs:element name="providerproperties" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="ejb" type="theejb" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="purple" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blue" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="app" type="xs:string" />
          <xs:element name="module" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="red" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="purple" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="green" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orange" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="app" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletresourceenventryinjectiontest" >
      <xs:complexContent>
       <xs:extension base="testsetup">
         <xs:sequence>
          <xs:element name="test_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="findertest" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinderbean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="findertestbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="m_value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigfinderbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finderservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigfinder" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="integerpk" >
      <xs:complexContent>
       <xs:extension base="number">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="m_value" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bmplocalentitytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigfinderhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinder" >
      <xs:complexContent>
       <xs:extension base="ejblocalobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinderpk" >
      <xs:complexContent>
       <xs:extension base="stringpk">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinderhome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="findertesthome" >
      <xs:complexContent>
       <xs:extension base="ejblocalhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigfinderpk" >
      <xs:complexContent>
       <xs:extension base="integerpk">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinderpk" >
      <xs:complexContent>
       <xs:extension base="stringpk">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="findertesthome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stringpk" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="m_value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigfinderhome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="findertest" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigfinderpk" >
      <xs:complexContent>
       <xs:extension base="integerpk">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinderhome" >
      <xs:complexContent>
       <xs:extension base="ejbhome">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bmpremoteentitytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="littlefinderbean" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigfinderbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigfinder" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="finderservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="littlefinder" >
      <xs:complexContent>
       <xs:extension base="ejbobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="findertestbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integerpk" >
      <xs:complexContent>
       <xs:extension base="number">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="m_value" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cdilifecyclelazyrealmtomee1490test" >
      <xs:sequence>
        <xs:element name="webapp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdilazyrealmtomee1490test" >
      <xs:sequence>
        <xs:element name="webapp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleendpoint" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="realminwebappforejbremotetest" >
      <xs:sequence>
        <xs:element name="webapp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hardcodedrealm" >
      <xs:complexContent>
       <xs:extension base="realmbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myservice" >
      <xs:sequence>
        <xs:element name="authenticator" type="multiauthenticator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiauthenticator" >
      <xs:sequence>
        <xs:element name="stacked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mycdilazyrealm" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdieventrealmintegtest" >
      <xs:sequence>
        <xs:element name="webapp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mycdirealmbaselazyrealm" >
      <xs:complexContent>
       <xs:extension base="realmbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleejb" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdieventrealmtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate-pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="descriptor_complements_annotations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dummy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openejb-cmp-orm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-context-ejbjar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 