APITracaDeLivros/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="estoque" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="corredor" type="xs:anyType" />
        <xs:element name="prateleira" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="produto" type="produto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pedidoreposicao" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="funcionario" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fornecedor" nillable="true" minOccurs="0" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="dataentraga" type="xs:anyType" />
        <xs:element name="obs" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorialivro" >
      <xs:complexContent>
       <xs:extension base="categoria">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="produto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="porcentagemdesconto" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="categoria" type="categoria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="fornecedor" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="funcionario" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="estoque" nillable="true" minOccurs="0" />
        <xs:element name="disponivel" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="imagem" type="imagem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="livro" >
      <xs:complexContent>
       <xs:extension base="produto">
         <xs:sequence>
          <xs:element name="//centimetros:10.3cmaltura" type="xs:anyType" />
          <xs:element name="autor" type="xs:string" />
          <xs:element name="acabamento" type="tipoacabamento" nillable="true" minOccurs="0" />
          <xs:element name="idioma" type="xs:string" />
          <xs:element name="//centimetros:5.3cmlargura" type="xs:anyType" />
          <xs:element name="numeropaginas" type="xs:anyType" />
          <xs:element name="pais" type="xs:string" />
          <xs:element name="//gramas:340gpeso" type="xs:anyType" />
          <xs:element name="//centimetros:12.3cmprofundidade" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="GeneratedName" type="produto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pedidoproduto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="decompra" type="pedido" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="produto" nillable="true" minOccurs="0" />
        <xs:element name="valorproduto" type="xs:anyType" />
        <xs:element name="datacompra" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perfil" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="funcionario" type="funcionario" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="datanascimento" type="xs:anyType" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="telefone_01" type="xs:string" />
        <xs:element name="telefone_02" type="xs:string" />
        <xs:element name="ativo" type="xs:anyType" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="endereco" type="endereco" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="chamado" type="chamado" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="pedidodecompra" type="pedido" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="papelaria" >
      <xs:complexContent>
       <xs:extension base="produto{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fornecedor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cnpj" type="xs:string" />
        <xs:element name="inscricaoestadual" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="rua" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="telefone_01" type="xs:string" />
        <xs:element name="telefone_02" type="xs:string" />
        <xs:element name="telefone_03" type="xs:string" />
        <xs:element name="email_01" type="xs:string" />
        <xs:element name="email_02" type="xs:string" />
        <xs:element name="email_03" type="xs:string" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="produto" type="produto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="peidoreposicao" type="pedidoreposicao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriapapelaria" >
      <xs:complexContent>
       <xs:extension base="categoria">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="funcionario" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="cpf" type="xs:string" />
        <xs:element name="ativo" type="xs:anyType" />
        <xs:element name="perfil" type="perfil" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="pedidoreposicao" type="pedidoreposicao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pedido" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="endereco" nillable="true" minOccurs="0" />
        <xs:element name="datacompra" type="xs:dateTime" />
        <xs:element name="status" type="statuspedido" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="pedidoproduto" type="pedidoproduto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoria" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
        <xs:element name="produto" type="produto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="endereco" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rua" type="xs:string" />
        <xs:element name="bairro" type="xs:string" />
        <xs:element name="cidade" type="xs:string" />
        <xs:element name="cep" type="xs:string" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chamado" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="atendido" type="xs:anyType" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="updated" type="xs:anyType" />
        <xs:element name="deletesoft" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 