dataing1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bokfasade" >
      <xs:complexContent>
       <xs:extension base="remote{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bok" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:string" />
        <xs:element name="tittel" type="xs:string" />
        <xs:element name="pris" type="xs:double" />
        <xs:element name="forfatter" type="xs:string" />
        <xs:element name="antallsider" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bokfasadeimpl" >
      <xs:complexContent>
       <xs:extension base="unicastremoteobject">
         <xs:sequence>
          <xs:element name="dao" type="bokdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bokklient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bokdao" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence_toplink_derby" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 