dataing1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bok" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:string" />
        <xs:element name="tittel" type="xs:string" />
        <xs:element name="pris" type="xs:double" />
        <xs:element name="forfatter" type="xs:string" />
        <xs:element name="antallsider" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 