DrychanBot/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="like" >
      <xs:sequence>
        <xs:element name="userfrom" type="xs:anyType" />
        <xs:element name="userto" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lastsuggesteduser" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="suggestedid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="/***'m'-male*'f'-female*/gender" type="xs:anyType" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="photopath" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 