AnhTrangApp/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="themify_7b299bc5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialdesignicons-webfont_d213f1c9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dripicons-v2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="local" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vietnamese" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vfs_fonts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatables.bootstrap4.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatables.checkboxes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons.bootstrap4.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changepassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resetpassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deny" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linkinapplication" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restexceptioncontroller" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versionsapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="versionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usergroupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroupuserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernotificationapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroupuserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="newsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roadapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roadservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderapicontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagetaskscheduler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formatutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleenum" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="rolename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filestore" >
      <xs:sequence>
        <xs:element name="//"/volumes/data/files/"//upload_folder" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordgenerator" >
      <xs:sequence>
        <xs:element name="strength" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationenum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsmessage" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="new_order" type="xs:string" />
        <xs:element name="ship_order" type="xs:string" />
        <xs:element name="done_order" type="xs:string" />
        <xs:element name="cancel_order" type="xs:string" />
        <xs:element name="new_password" type="xs:string" />
        <xs:element name="change_role" type="xs:string" />
        <xs:element name="nha_cung_cap_reminder" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeutils" >
      <xs:sequence>
        <xs:element name="ddhhmm" type="xs:string" />
        <xs:element name="dd_mm_yyyy" type="xs:string" />
        <xs:element name="dd_mm_yyyy_hh_mm_ss" type="xs:string" />
        <xs:element name="dd_mm_yyyy_hh_mm" type="xs:string" />
        <xs:element name="mm_yyyy" type="xs:string" />
        <xs:element name="hh_mm_ss" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notmatchpasswordexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versionsdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupdaoimpl" >
      <xs:complexContent>
       <xs:extension base="jparepository<usergroup>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="newsdaoimpl" >
      <xs:complexContent>
       <xs:extension base="jparepository<news>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="jparepository<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jparepository" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versiondaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roaddaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roaddao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupuserdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<usergroupuser>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchusergroupdto" >
      <xs:complexContent>
       <xs:extension base="searchdto{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchnewsdto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="userid" type="xs:long" />
          <xs:element name="usergroupid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchdto" >
      <xs:sequence>
        <xs:element name="max_10" type="xs:long" />
        <xs:element name="max_100" type="xs:long" />
        <xs:element name="max_200" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="start" type="xs:anyType" />
        <xs:element name="length" type="xs:anyType" />
        <xs:element name="columns" type="xs:anyType" />
        <xs:element name="orders" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="data" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationdto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createddate" type="xs:string" />
        <xs:element name="readerids" type="xs:anyType" />
        <xs:element name="touserid" type="xs:long" />
        <xs:element name="touserphone" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="item" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchroaddto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="userid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userprincipal" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="roles" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usergroupuserdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="userdto" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroupdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="createddate" type="xs:string" />
        <xs:element name="usergroupid" type="xs:long" />
        <xs:element name="usergroupname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchemaildto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="type" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roaddto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="cities" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionsdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchorderdto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="sellerid" type="xs:long" />
          <xs:element name="shipperid" type="xs:long" />
          <xs:element name="sellername" type="xs:string" />
          <xs:element name="shipername" type="xs:string" />
          <xs:element name="fromdate" type="xs:string" />
          <xs:element name="todate" type="xs:string" />
          <xs:element name="createdby" type="xs:string" />
          <xs:element name="customerid" type="xs:long" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="hideorder" type="xs:anyType" />
          <xs:element name="statuslist" type="xs:anyType" />
          <xs:element name="createddate" type="xs:string" />
          <xs:element name="checksendnoti" type="xs:anyType" />
          <xs:element name="searchcity" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="smsdto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="customerphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchnotificationdto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="userid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emaildto" >
      <xs:sequence>
        <xs:element name="topup_money" type="xs:long" />
        <xs:element name="withdraw_money" type="xs:long" />
        <xs:element name="charge_card" type="xs:long" />
        <xs:element name="account" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="repassword" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="deviceid" type="xs:string" />
        <xs:element name="createddate" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="roles" type="xs:anyType" />
        <xs:element name="usergroupid" type="xs:long" />
        <xs:element name="usergroupname" type="xs:string" />
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="districtname" type="xs:string" />
        <xs:element name="wardsname" type="xs:string" />
        <xs:element name="listuserid" type="xs:anyType" />
        <xs:element name="images" type="xs:anyType" />
        <xs:element name="createdbyid" type="xs:long" />
        <xs:element name="usergroupnames" type="xs:anyType" />
        <xs:element name="usergroupids" type="xs:anyType" />
        <xs:element name="imagefiles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pushmessagedto" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="to" type="xs:string" />
        <xs:element name="sound" type="xs:string" />
        <xs:element name="priority" type="xs:string" />
        <xs:element name="channelid" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="_displayinforeground" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchusergroupuserdto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="usergroupid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="responsedto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="recordstotal" type="xs:long" />
        <xs:element name="recordsfiltered" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchuserdto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="rolelist" type="xs:anyType" />
          <xs:element name="createdbyid" type="xs:long" />
          <xs:element name="createdby" type="xs:string" />
          <xs:element name="usergroupid" type="xs:long" />
          <xs:element name="checknullusergroup" type="xs:string" />
          <xs:element name="searchcity" type="xs:string" />
          <xs:element name="searchdistricts" type="xs:string" />
          <xs:element name="searchwards" type="xs:string" />
          <xs:element name="customerid" type="xs:long" />
          <xs:element name="searchroad" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchversionsdto" >
      <xs:complexContent>
       <xs:extension base="searchdto">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usergroupservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roadservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupuserservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroupdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroupuserdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pushmessageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="newsdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroupdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pushmessageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorawareimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="versionsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="smsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pushmessageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="speedsmsapi" >
      <xs:sequence>
        <xs:element name="api_url" type="xs:string" />
        <xs:element name="maccesstoken" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roadserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roaddao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usergroupdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addesscompanycontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versioncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roadcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonwebcontroller" >
      <xs:complexContent>
       <xs:extension base="basewebcontroller">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usergroupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usergroupservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="newscontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useradmincontroller" >
      <xs:complexContent>
       <xs:extension base="basewebcontroller">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="downloadcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptioncontroller" >
      <xs:complexContent>
       <xs:extension base="basewebcontroller{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userwebcontroller" >
      <xs:complexContent>
       <xs:extension base="basewebcontroller">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notificationcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basewebcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbinitialdataconfig" >
      <xs:sequence>
        <xs:element name="schemascript" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="createauditable">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="//đơnvịtínhkg,can,litunit" type="xs:string" />
          <xs:element name="//cânnặngweight" type="xs:double" />
          <xs:element name="//môtảdescription" type="xs:string" />
          <xs:element name="//chúthíchnote" type="xs:string" />
          <xs:element name="//trọnglượngthựcrealweight" type="xs:double" />
          <xs:element name="//giáprice" type="xs:long" />
          <xs:element name="//trạngthái1:moi,2.choship.3:hoanthanh4:huystatus" type="xs:anyType" />
          <xs:element name="hideorder" type="xs:anyType" />
          <xs:element name="seller" type="user" nillable="true" minOccurs="0" />
          <xs:element name="shipper" type="user" nillable="true" minOccurs="0" />
          <xs:element name="customer" type="user" nillable="true" minOccurs="0" />
          <xs:element name="upd" type="xs:dateTime" />
          <xs:element name="//dsshipperduocchonshippers" type="xs:anyType" />
          <xs:element name="images" type="xs:anyType" />
          <xs:element name="//giáshippercost" type="xs:long" />
          <xs:element name="checksendnoti" type="xs:anyType" />
          <xs:element name="review" type="xs:string" />
          <xs:element name="starrating" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="versions" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroupuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usergroup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="road" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeauditable" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="created" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="news" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="usergroup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergroup" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="usergroupusers" type="usergroupuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="item" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="readerids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="createauditable">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="deviceid" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="roles" type="xs:anyType" />
          <xs:element name="images" type="xs:anyType" />
          <xs:element name="cityname" type="xs:string" />
          <xs:element name="districtname" type="xs:string" />
          <xs:element name="wardsname" type="xs:string" />
          <xs:element name="roads" type="road" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="usergroupusers" type="usergroupuser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createauditable" >
      <xs:sequence>
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 