HibernateDemos9/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="alien" >
      <xs:sequence>
        <xs:element name="aid" type="xs:long" />
        <xs:element name="aname" type="xs:string" />
        <xs:element name="color" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 