Fintech-Pre-Internship2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loanlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loan" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="balance" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="common" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investdetails" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hackathonapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="approvedloanservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="approvedloanmodelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crawl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="crawledmodelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loanmodelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="totalinvestservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="approvedloanmodelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loanmodelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="investmodelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="approvedloanmodelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loanmodelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loanservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loanmodelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crawlschedule" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="crawl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="crawledmodelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loanmodelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="investmodelrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crawledmodelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<crawledmodel,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="approvedloanmodelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<approvedloanmodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userinfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="investmodelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<investmodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loanmodelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<loanmodel,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="approvedloanmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="loanid" type="xs:long" />
        <xs:element name="collectedamount" type="xs:long" />
        <xs:element name="repayment" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myinvestedmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="invid" type="xs:long" />
        <xs:element name="invamount" type="xs:long" />
        <xs:element name="investat" type="xs:anyType" />
        <xs:element name="collectedamount" type="xs:long" />
        <xs:element name="repayment" type="xs:long" />
        <xs:element name="businessnumber" type="xs:string" />
        <xs:element name="businessname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companypayday" type="xs:string" />
        <xs:element name="channeladdress" type="xs:string" />
        <xs:element name="channelname" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="reasonforloan" type="xs:string" />
        <xs:element name="loanamount" type="xs:long" />
        <xs:element name="loanat" type="xs:anyType" />
        <xs:element name="repayat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loanmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="agency" type="xs:anyType" />
        <xs:element name="businessnumber" type="xs:string" />
        <xs:element name="businessname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companypayday" type="xs:string" />
        <xs:element name="channeladdress" type="xs:string" />
        <xs:element name="channelname" type="xs:string" />
        <xs:element name="//@enumerated(enumtype.)category" type="xs:string" />
        <xs:element name="reasonforloan" type="xs:string" />
        <xs:element name="loanamount" type="xs:long" />
        <xs:element name="loanat" type="xs:anyType" />
        <xs:element name="repayat" type="xs:dateTime" />
        <xs:element name="permit" type="xs:long" />
        <xs:element name="crawlvalid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crawledmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="loanid" type="xs:long" />
        <xs:element name="positivenum" type="xs:anyType" />
        <xs:element name="negativenum" type="xs:anyType" />
        <xs:element name="neutralnum" type="xs:anyType" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="subscriber" type="xs:long" />
        <xs:element name="view" type="xs:long" />
        <xs:element name="avgview" type="xs:long" />
        <xs:element name="video" type="xs:long" />
        <xs:element name="liveincome" type="xs:long" />
        <xs:element name="noxscore" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myloanedmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="//booleanagencybusinessnumber" type="xs:string" />
        <xs:element name="businessname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companypayday" type="xs:string" />
        <xs:element name="channeladdress" type="xs:string" />
        <xs:element name="channelname" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="reasonforloan" type="xs:string" />
        <xs:element name="loanamount" type="xs:long" />
        <xs:element name="loanat" type="xs:anyType" />
        <xs:element name="repayat" type="xs:dateTime" />
        <xs:element name="permit" type="xs:long" />
        <xs:element name="collectedamount" type="xs:long" />
        <xs:element name="repayment" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="totalinvestmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="collectedamount" type="xs:long" />
        <xs:element name="repayment" type="xs:long" />
        <xs:element name="//booleanagencybusinessnumber" type="xs:string" />
        <xs:element name="businessname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companypayday" type="xs:string" />
        <xs:element name="channeladdress" type="xs:string" />
        <xs:element name="channelname" type="xs:string" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="reasonforloan" type="xs:string" />
        <xs:element name="loanamount" type="xs:long" />
        <xs:element name="loanat" type="xs:anyType" />
        <xs:element name="repayat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="invid" type="xs:long" />
        <xs:element name="invamount" type="xs:long" />
        <xs:element name="investat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfo" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="seq" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="auth" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="socialnumber" type="xs:string" />
          <xs:element name="mobilenumber" type="xs:string" />
          <xs:element name="account" type="xs:string" />
          <xs:element name="signat" type="xs:anyType" />
          <xs:element name="balance" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="crawleddto" >
      <xs:sequence>
        <xs:element name="loanid" type="xs:long" />
        <xs:element name="positivenum" type="xs:anyType" />
        <xs:element name="negativenum" type="xs:anyType" />
        <xs:element name="neutralnum" type="xs:anyType" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="subscriber" type="xs:long" />
        <xs:element name="view" type="xs:long" />
        <xs:element name="avgview" type="xs:long" />
        <xs:element name="video" type="xs:long" />
        <xs:element name="liveincome" type="xs:long" />
        <xs:element name="noxscore" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="approvedloandto" >
      <xs:sequence>
        <xs:element name="loanid" type="xs:long" />
        <xs:element name="collectedamount" type="xs:long" />
        <xs:element name="repayment" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loandto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="agency" type="xs:anyType" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="businessname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companypayday" type="xs:string" />
        <xs:element name="channeladdress" type="xs:string" />
        <xs:element name="channelname" type="xs:string" />
        <xs:element name="loancategory" type="xs:string" />
        <xs:element name="reasonforloan" type="xs:string" />
        <xs:element name="loanamount" type="xs:long" />
        <xs:element name="loanat" type="xs:anyType" />
        <xs:element name="repayat" type="xs:dateTime" />
        <xs:element name="permit" type="xs:long" />
        <xs:element name="crawlvalid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfodto" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="auth" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="socialnumber" type="xs:string" />
        <xs:element name="mobilenumber" type="xs:string" />
        <xs:element name="account" type="xs:string" />
        <xs:element name="signat" type="xs:anyType" />
        <xs:element name="balance" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investdto" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="invid" type="xs:long" />
        <xs:element name="invamount" type="xs:long" />
        <xs:element name="investat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loancategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mypageapi" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="investservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="approvedloanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mypageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adminapi" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="approvedloanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loanapi" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loanservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="investservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="loanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="crawl" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="approvedloanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="totalinvestservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loanservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="crawl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hackathonapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 