Fintech-Pre-Internship2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="approvedloanmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="loanid" type="xs:long" />
        <xs:element name="collectedamount" type="xs:long" />
        <xs:element name="repayment" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loanmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="agency" type="xs:anyType" />
        <xs:element name="businessnumber" type="xs:string" />
        <xs:element name="businessname" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="companypayday" type="xs:string" />
        <xs:element name="channeladdress" type="xs:string" />
        <xs:element name="channelname" type="xs:string" />
        <xs:element name="//@enumerated(enumtype.)category" type="xs:string" />
        <xs:element name="reasonforloan" type="xs:string" />
        <xs:element name="loanamount" type="xs:long" />
        <xs:element name="loanat" type="xs:anyType" />
        <xs:element name="repayat" type="xs:dateTime" />
        <xs:element name="permit" type="xs:long" />
        <xs:element name="crawlvalid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crawledmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="loanid" type="xs:long" />
        <xs:element name="positivenum" type="xs:anyType" />
        <xs:element name="negativenum" type="xs:anyType" />
        <xs:element name="neutralnum" type="xs:anyType" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="subscriber" type="xs:long" />
        <xs:element name="view" type="xs:long" />
        <xs:element name="avgview" type="xs:long" />
        <xs:element name="video" type="xs:long" />
        <xs:element name="liveincome" type="xs:long" />
        <xs:element name="noxscore" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="investmodel" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="invid" type="xs:long" />
        <xs:element name="invamount" type="xs:long" />
        <xs:element name="investat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfo" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="seq" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="auth" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="socialnumber" type="xs:string" />
          <xs:element name="mobilenumber" type="xs:string" />
          <xs:element name="account" type="xs:string" />
          <xs:element name="signat" type="xs:anyType" />
          <xs:element name="balance" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 