EC3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="companydao" >
      <xs:complexContent>
       <xs:extension base="jparepository<company,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="recruitdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<recruit,string>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="recruitservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recruitdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companydao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruitapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="brief" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="labels" type="xs:string" />
        <xs:element name="//1：热门0:非热门ispopular" type="xs:string" />
        <xs:element name="logo" type="xs:string" />
        <xs:element name="jobcount" type="xs:long" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruit" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="jobname" type="xs:string" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="//条件requirement" type="xs:string" />
        <xs:element name="//发布日期publishtime" type="xs:dateTime" />
        <xs:element name="//状态0:关闭1：开启2：推荐state" type="xs:string" />
        <xs:element name="//学历education" type="xs:string" />
        <xs:element name="//公司idcid" type="xs:string" />
        <xs:element name="label" type="xs:string" />
        <xs:element name="//招聘正文content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recruitcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="recruitservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 