help5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testrestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businesspartner" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorderdetailkey" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//salesorderdociddocid" type="xs:anyType" />
        <xs:element name="linenum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorderdetail" >
      <xs:sequence>
        <xs:element name="doc" type="salesorder" nillable="true" minOccurs="0" />
        <xs:element name="docid" type="xs:anyType" />
        <xs:element name="linenum" type="xs:anyType" />
        <xs:element name="GeneratedName" type="item" nillable="true" minOccurs="0" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="itemid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="itemcode" type="xs:string" />
        <xs:element name="itemname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorder" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="doctotal" type="xs:anyType" />
        <xs:element name="GeneratedName" type="businesspartner" nillable="true" minOccurs="0" />
        <xs:element name="businesspartnerid" type="xs:anyType" />
        <xs:element name="details" type="salesorderdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityidresolver" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appodatajpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="odatahandlerimpl" >
      <xs:complexContent>
       <xs:extension base="jpaodatagethandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="odatarequesthandler" >
      <xs:complexContent>
       <xs:extension base="jpaabstractcudrequesthandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="emf" type="xs:anyType" />
          <xs:element name="//@autowired//entitymanageremserialversionuid" type="xs:long" />
          <xs:element name="punit_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 