deploy-github/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="new_activity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit_activity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="findall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit_member" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitieslist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="findbyname" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listactivities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calendar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="new_member" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="areaservice" >
      <xs:sequence>
        <xs:element name="arearepo" type="arearepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arearepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<area,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="area" >
      <xs:sequence>
        <xs:element name="areaid" type="xs:anyType" />
        <xs:element name="areaname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityservice" >
      <xs:sequence>
        <xs:element name="activityrepo" type="activityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<activity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activity" >
      <xs:sequence>
        <xs:element name="activityid" type="xs:anyType" />
        <xs:element name="activityname" type="xs:string" />
        <xs:element name="activity" type="xs:dateTime" />
        <xs:element name="activitytime" type="xs:string" />
        <xs:element name="duration" type="xs:long" />
        <xs:element name="memberid" type="member" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberdetailsservice" >
      <xs:sequence>
        <xs:element name="memberrepo" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberdetails" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="member" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberservice" >
      <xs:sequence>
        <xs:element name="memberrepo" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="town" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="postcode" type="xs:string" />
        <xs:element name="//@column(nullable" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<member,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="churchplannerapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encodedpw" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookmember" >
      <xs:sequence>
        <xs:element name="activityid" type="xs:anyType" />
        <xs:element name="memberid" type="xs:anyType" />
        <xs:element name="activityroleid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmemberid" >
      <xs:sequence>
        <xs:element name="activityid" type="xs:anyType" />
        <xs:element name="memberid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="activityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="activityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="//readstheconfigurationfromapplication.propertiesmailsender" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityrolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<activityrole,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activityrole" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="rolename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityroleservice" >
      <xs:sequence>
        <xs:element name="activityrolerepo" type="activityrolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="churchplannerapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordencoder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepositorytest" >
      <xs:sequence>
        <xs:element name="repo" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="entitymanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 