HibernateJPA5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jboss-deployment-structure-memberregistrationeararchiveit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jboss-deployment-structure-modulememberregistrationeararchiveit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.jboss.arquillian.core.spi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jboss-deployment-structure-excludejavassist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jboss-deployment-structure-hcann" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.hibernate.service.spi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jboss-deployment-structure-modulememberregistrationeararchivewithjbossdeploymentit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modulememberregistrationit" >
      <xs:sequence>
        <xs:element name="expected_search_version_resource" type="xs:string" />
        <xs:element name="GeneratedName" type="memberregistration" nillable="true" minOccurs="0" />
        <xs:element name="expectedsearchversion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="massindexingtimeoutit" >
      <xs:sequence>
        <xs:element name="number_of_entiies" type="xs:long" />
        <xs:element name="GeneratedName" type="concertmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concertmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concert" >
      <xs:sequence>
        <xs:element name="/***usedtoartificiallyslow-downtheindexingofentities.*/slow_down" type="xs:anyType" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="artist" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaulttransactiontimeoutsetuptask" >
      <xs:sequence>
        <xs:element name="address_transactions_subsystem" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modulememberregistrationeararchiveit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberregistration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="packagerhelper" >
      <xs:sequence>
        <xs:element name="exclusions" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solrmember" >
      <xs:complexContent>
       <xs:extension base="member">
         <xs:sequence>
          <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.**/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.**/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="//thisimplicitlyteststhecapabilitytoindextypesonelasticsearch//seealsohsearch-2234:timestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberregistration" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="new" type="member" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modulememberregistrationeararchivewithjbossdeploymentit" >
      <xs:sequence>
        <xs:element name="expected_search_version_resource" type="xs:string" />
        <xs:element name="expectedsearchversion" type="xs:string" />
        <xs:element name="GeneratedName" type="memberregistration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="language" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localizationservice" >
      <xs:sequence>
        <xs:element name="localizationmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internationalizedvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internationalizedvalueclassbridge" >
      <xs:complexContent>
       <xs:extension base="metadataprovidingfieldbridge">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="internationalizedvaluebridgeimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="localizationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internationalizedvaluebridge" >
      <xs:complexContent>
       <xs:extension base="metadataprovidingfieldbridge">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="internationalizedvalueclassbridgeimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="localizationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdiinjectionit" >
      <xs:sequence>
        <xs:element name="dao" type="entitywithcdiawarebridgesdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitywithcdiawarebridges" >
      <xs:sequence>
        <xs:element name="class_bridge_field_name" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="internationalizedvalue" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitywithcdiawarebridgesdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdibeanresolver" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deferredinitializationbeanresolver" >
      <xs:sequence>
        <xs:element name="delegate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdienvironmentsynchronizer" >
      <xs:sequence>
        <xs:element name="beanmanagercreated" type="xs:anyType" />
        <xs:element name="environmentinitialized" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdiservicecontributor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdiobserver" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdibeanmanagerinitializedsynchronizer" >
      <xs:sequence>
        <xs:element name="contextual" type="cdibeanmanagerinitializedsynchronizer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="beanmanagerinitialized" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberregistrationit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberregistration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberregistrationeararchiveit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberregistration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resources" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versiontesthelper" >
      <xs:sequence>
        <xs:element name="hibernatesearchversion" type="xs:string" />
        <xs:element name="hibernatesearchversionbuiltin" type="xs:string" />
        <xs:element name="hibernatesearchmoduleslot" type="xs:string" />
        <xs:element name="hibernateormmodulename" type="xs:string" />
        <xs:element name="lucenefullversion" type="xs:string" />
        <xs:element name="hibernateannotationsfullversion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jgroupsdeploymenthelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jgroupsmasterslaveusingmodulesit" >
      <xs:complexContent>
       <xs:extension base="masterslavetesttemplate">
         <xs:sequence>
          <xs:element name="tmpdir" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singerssingleton" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containermanagedpersistencewithmassindexerit" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="ear_archive_name" type="xs:string" />
        <xs:element name="war_archive_name" type="xs:string" />
        <xs:element name="ejb_archive_name" type="xs:string" />
        <xs:element name="singersejb" type="singerssingleton" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deploymentjmsmasterslave" >
      <xs:sequence>
        <xs:element name="configuration_properties_resourcename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationconfiguration" >
      <xs:sequence>
        <xs:element name="max_attempts" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationmdb" >
      <xs:complexContent>
       <xs:extension base="abstractjmshibernatesearchcontroller">
         <xs:sequence>
          <xs:element name="destination_queue" type="xs:string" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="newmember" type="registeredmember" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionaljmsmasterslaveusingmodulesit" >
      <xs:complexContent>
       <xs:extension base="transactionaljmsmasterslave">
         <xs:sequence>
          <xs:element name="tmpdir" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionaljmsmasterslave" >
      <xs:sequence>
        <xs:element name="/***affectshowoftenthemasterandslavedirectoriesshouldstarttherefreshcopywork*/refresh_period_in_sec" type="xs:long" />
        <xs:element name="/***idlelooptowaitforresultstobetransmitted*/sleep_time_for_synchronization_ms" type="xs:long" />
        <xs:element name="/***multiplierontopofrefresh_period_in_secwecanwaitbeforeconsideringthetestfailed.*/max_period_retries" type="xs:long" />
        <xs:element name="max_synchronization_time_ms" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="memberregistration" type="registrationcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionaljmsmasterslaveit" >
      <xs:complexContent>
       <xs:extension base="transactionaljmsmasterslave">
         <xs:sequence>
          <xs:element name="tmpdir" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="masterslavetesttemplate" >
      <xs:sequence>
        <xs:element name="/***affectshowoftenthemasterandslavedirectoriesshouldstarttherefreshcopywork*/refresh_period_in_sec" type="xs:long" />
        <xs:element name="/***idlelooptowaitforresultstobetransmitted*/sleep_time_for_synchronization_ms" type="xs:long" />
        <xs:element name="/***multiplierontopofrefresh_period_in_secwecanwaitbeforeconsideringthetestfailed.*/max_period_retries" type="xs:long" />
        <xs:element name="max_synchronization_time_ms" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="memberregistration" type="registrationcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registeredmember" >
      <xs:sequence>
        <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.**/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchnewentityjmsmasterslaveit" >
      <xs:complexContent>
       <xs:extension base="masterslavetesttemplate">
         <xs:sequence>
          <xs:element name="tmpdir" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchnewentityjmsmasterslaveusingmodulesit" >
      <xs:complexContent>
       <xs:extension base="masterslavetesttemplate">
         <xs:sequence>
          <xs:element name="tmpdir" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wildflyconfigurationextension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingconfigurator" >
      <xs:sequence>
        <xs:element name="managementclient" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="address_hibernate_search_logger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchmodulememberregistrationit" >
      <xs:sequence>
        <xs:element name="expected_search_version_resource" type="xs:string" />
        <xs:element name="es_property_prefix" type="xs:string" />
        <xs:element name="es_host_property" type="xs:string" />
        <xs:element name="es_username_property" type="xs:string" />
        <xs:element name="es_password_property" type="xs:string" />
        <xs:element name="es_aws_signing_enabled_property" type="xs:string" />
        <xs:element name="es_aws_access_key_property" type="xs:string" />
        <xs:element name="es_aws_secret_key_property" type="xs:string" />
        <xs:element name="es_aws_region_property" type="xs:string" />
        <xs:element name="GeneratedName" type="memberregistration" nillable="true" minOccurs="0" />
        <xs:element name="expectedsearchversion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-roles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 