HibernateJPA5/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="concert" >
      <xs:sequence>
        <xs:element name="/***usedtoartificiallyslow-downtheindexingofentities.*/slow_down" type="xs:anyType" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="artist" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="solrmember" >
      <xs:complexContent>
       <xs:extension base="member">
         <xs:sequence>
          <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.**/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.**/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="//thisimplicitlyteststhecapabilitytoindextypesonelasticsearch//seealsohsearch-2234:timestamp" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitywithcdiawarebridges" >
      <xs:sequence>
        <xs:element name="class_bridge_field_name" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="internationalizedvalue" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registeredmember" >
      <xs:sequence>
        <xs:element name="/***defaultvalueincludedtoremovewarning.removeormodifyatwill.**/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 