dbc_henrique-laporta2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="venda" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//@max(value" type="xs:long" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="id" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="id" type="produto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="unidademedida" type="unidademedidatype" nillable="true" minOccurs="0" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="vendalist" type="venda" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="telefone" type="xs:string" />
        <xs:element name="vendalist" type="venda" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 