formationheducap2019suite6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="note" type="xs:double" />
        <xs:element name="datecreated" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 