Anggen/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictiongroup" >
      <xs:sequence>
        <xs:element name="cancreate" type="xs:anyType" />
        <xs:element name="canupdate" type="xs:anyType" />
        <xs:element name="cansearch" type="xs:anyType" />
        <xs:element name="candelete" type="xs:anyType" />
        <xs:element name="restrictionitemmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionitem" >
      <xs:sequence>
        <xs:element name="cancreate" type="xs:anyType" />
        <xs:element name="canupdate" type="xs:anyType" />
        <xs:element name="cansearch" type="xs:anyType" />
        <xs:element name="candelete" type="xs:anyType" />
        <xs:element name="restrictionfieldmap" type="xs:anyType" />
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="userservice" type="xs:anyType" />
        <xs:element name="authmanager" type="xs:anyType" />
        <xs:element name="customauthprovider" type="anggenauthenticationprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.entity.project,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.entity.enumentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitygrouprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.entity.entitygroup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.entity.entity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tabrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.entity.tab,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.security.user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restrictionentitygrouprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.security.restrictionentitygroup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.security.role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restrictionfieldrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.security.restrictionfield,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restrictionentityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.security.restrictionentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationattributerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.field.annotationattribute,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fieldrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.field.field,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumfieldrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.field.enumfield,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.field.annotation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumvaluerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.field.enumvalue,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="relationshiprepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.relationship.relationship,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logentryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<it.anggen.model.log.logentry,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsdbgenerationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbconvertertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="beantodbconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webappgenerator" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="generator" nillable="true" minOccurs="0" />
          <xs:element name="" type="jsgenerator" nillable="true" minOccurs="0" />
          <xs:element name="" type="htmlgenerator" nillable="true" minOccurs="0" />
          <xs:element name="applicationname" type="xs:string" />
          <xs:element name="packagename" type="xs:string" />
          <xs:element name="directory" type="xs:string" />
          <xs:element name="modelpackage" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testclasses" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fronthtmlgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
        <xs:element name="attributelist" type="entityattribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="childrenentity" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityname" type="xs:string" />
        <xs:element name="directoryviewpages" type="xs:string" />
        <xs:element name="directoryangularfiles" type="xs:string" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="frontjsgenerator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="frontjsgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="parententityname" type="xs:string" />
        <xs:element name="isparent" type="xs:anyType" />
        <xs:element name="entityname" type="xs:string" />
        <xs:element name="fieldlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="descendantentitylist" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="relationshiptype" nillable="true" minOccurs="0" />
        <xs:element name="lastlevel" type="xs:anyType" />
        <xs:element name="servicelist" type="xs:string" />
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumclassgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumentity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cssgenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restgenerator" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="generator" nillable="true" minOccurs="0" />
          <xs:element name="directory" type="xs:string" />
          <xs:element name="" type="entity" nillable="true" minOccurs="0" />
          <xs:element name="classname" type="xs:string" />
          <xs:element name="fullclassname" type="xs:string" />
          <xs:element name="alias" type="xs:string" />
          <xs:element name="entityattributelist" type="entityattribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="keyclass" type="fieldtype" nillable="true" minOccurs="0" />
          <xs:element name="searchbeanclass" type="xs:anyType" />
          <xs:element name="serviceinterfaceclass" type="xs:anyType" />
          <xs:element name="" type="entitymanager" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="entityname" type="xs:string" />
        <xs:element name="fieldlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="descendantentitylist" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="relationshiptype" nillable="true" minOccurs="0" />
        <xs:element name="lastlevel" type="xs:anyType" />
        <xs:element name="servicelist" type="xs:string" />
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generator" >
      <xs:sequence>
        <xs:element name="mainpackage" type="xs:string" />
        <xs:element name="bootstrapmenu" type="xs:anyType" />
        <xs:element name="easytreemenu" type="xs:anyType" />
        <xs:element name="schema" type="xs:string" />
        <xs:element name="menuname" type="xs:string" />
        <xs:element name="menudirectory" type="xs:string" />
        <xs:element name="angulardirectory" type="xs:string" />
        <xs:element name="htmldirectory" type="xs:string" />
        <xs:element name="uploaddirectory" type="xs:string" />
        <xs:element name="applicationname" type="xs:string" />
        <xs:element name="security" type="xs:anyType" />
        <xs:element name="test" type="xs:string" />
        <xs:element name="generaterest" type="xs:anyType" />
        <xs:element name="generateview" type="xs:anyType" />
        <xs:element name="resturl" type="xs:string" />
        <xs:element name="corsorigin" type="xs:string" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="modelentitylist" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumentitylist" type="enumentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitygrouplist" type="entitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="projectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="relationshiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restgenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitygenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumclassgenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="htmlgenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fronthtmlgenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="webappgenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jsgenerator" nillable="true" minOccurs="0" />
        <xs:element name="appname" type="xs:string" />
        <xs:element name="generatedpackage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlgenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
        <xs:element name="attributelist" type="entityattribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="childrenentity" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entityname" type="xs:string" />
        <xs:element name="directoryviewpages" type="xs:string" />
        <xs:element name="directoryangularfiles" type="xs:string" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="angulargenerator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jsgenerator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygenerator" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="generator" nillable="true" minOccurs="0" />
          <xs:element name="" type="entity" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="angulargenerator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="generator" nillable="true" minOccurs="0" />
        <xs:element name="entityname" type="xs:string" />
        <xs:element name="isparent" type="xs:anyType" />
        <xs:element name="attributelist" type="entityattribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="parententity" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
        <xs:element name="lastlevel" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beantodbconverter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tabrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="annotationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="annotationattributerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="relationshiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumvaluerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionentitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="adminname" type="xs:string" />
        <xs:element name="adminpassword" type="xs:string" />
        <xs:element name="admin" type="user" nillable="true" minOccurs="0" />
        <xs:element name="admin" type="role" nillable="true" minOccurs="0" />
        <xs:element name="modelpackage" type="xs:string" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="enablerestrictiondata" type="xs:anyType" />
        <xs:element name="restrictiondatagroupname" type="xs:string" />
        <xs:element name="firstentityid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentrysearchbean" >
      <xs:sequence>
        <xs:element name="logentryid" type="xs:anyType" />
        <xs:element name="info" type="xs:anyType" />
        <xs:element name="hostname" type="xs:anyType" />
        <xs:element name="ipaddress" type="xs:anyType" />
        <xs:element name="logdate" type="xs:anyType" />
        <xs:element name="logtype" type="xs:anyType" />
        <xs:element name="operationtype" type="xs:anyType" />
        <xs:element name="user" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationshipsearchbean" >
      <xs:sequence>
        <xs:element name="relationshipid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="priority" type="xs:anyType" />
        <xs:element name="relationshiptype" type="xs:anyType" />
        <xs:element name="annotationlist" type="annotation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitytarget" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
        <xs:element name="tab" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentitysearchbean" >
      <xs:sequence>
        <xs:element name="enumentityid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="project" type="xs:anyType" />
        <xs:element name="enumvaluelist" type="enumvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumfieldlist" type="enumfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroupsearchbean" >
      <xs:sequence>
        <xs:element name="entitygroupid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="securitytype" type="xs:anyType" />
        <xs:element name="restrictionentitygrouplist" type="restrictionentitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitylist" type="entity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="project" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitysearchbean" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="generatefrontend" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="descendantmaxlevel" type="xs:anyType" />
        <xs:element name="cache" type="xs:anyType" />
        <xs:element name="disableviewgeneration" type="xs:anyType" />
        <xs:element name="enablerestrictiondata" type="xs:anyType" />
        <xs:element name="securitytype" type="xs:anyType" />
        <xs:element name="restrictionentitylist" type="restrictionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="fieldlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumfieldlist" type="enumfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitygroup" type="xs:anyType" />
        <xs:element name="tablist" type="tab" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabsearchbean" >
      <xs:sequence>
        <xs:element name="tabid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
        <xs:element name="fieldlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumfieldlist" type="enumfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsearchbean" >
      <xs:sequence>
        <xs:element name="projectid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="entitygrouplist" type="entitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumentitylist" type="enumentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvaluesearchbean" >
      <xs:sequence>
        <xs:element name="enumvalueid" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="enumentity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldsearchbean" >
      <xs:sequence>
        <xs:element name="fieldid" type="xs:anyType" />
        <xs:element name="priority" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="fieldtype" type="xs:anyType" />
        <xs:element name="restrictionfieldlist" type="restrictionfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entity" type="xs:anyType" />
        <xs:element name="tab" type="xs:anyType" />
        <xs:element name="annotationlist" type="annotation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumfieldsearchbean" >
      <xs:sequence>
        <xs:element name="enumfieldid" type="xs:anyType" />
        <xs:element name="priority" type="xs:anyType" />
        <xs:element name="name" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
        <xs:element name="enumentity" type="xs:anyType" />
        <xs:element name="tab" type="xs:anyType" />
        <xs:element name="annotationlist" type="annotation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationattributesearchbean" >
      <xs:sequence>
        <xs:element name="annotationattributeid" type="xs:anyType" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="property" type="xs:anyType" />
        <xs:element name="annotation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationsearchbean" >
      <xs:sequence>
        <xs:element name="annotationid" type="xs:anyType" />
        <xs:element name="annotationtype" type="xs:anyType" />
        <xs:element name="annotationattributelist" type="annotationattribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="field" type="xs:anyType" />
        <xs:element name="enumfield" type="xs:anyType" />
        <xs:element name="relationship" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroupsearchbean" >
      <xs:sequence>
        <xs:element name="restrictionentitygroupid" type="xs:anyType" />
        <xs:element name="cancreate" type="xs:anyType" />
        <xs:element name="cansearch" type="xs:anyType" />
        <xs:element name="candelete" type="xs:anyType" />
        <xs:element name="canupdate" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="entitygroup" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolesearchbean" >
      <xs:sequence>
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="restrictionentitylist" type="restrictionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="restrictionfieldlist" type="restrictionfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="userlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="restrictionentitygrouplist" type="restrictionentitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitysearchbean" >
      <xs:sequence>
        <xs:element name="restrictionentityid" type="xs:anyType" />
        <xs:element name="cancreate" type="xs:anyType" />
        <xs:element name="canupdate" type="xs:anyType" />
        <xs:element name="cansearch" type="xs:anyType" />
        <xs:element name="candelete" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfieldsearchbean" >
      <xs:sequence>
        <xs:element name="restrictionfieldid" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="field" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersearchbean" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="username" type="xs:anyType" />
        <xs:element name="password" type="xs:anyType" />
        <xs:element name="rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumvaluerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroupserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionentitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entityrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tabrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="relationshiprepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tabrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="fieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="enumfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="relationshiprepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroupservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationshipserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="relationshiprepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="annotationrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationshipservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionentitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restrictionentityrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfieldservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfieldserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restrictionfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroupserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restrictionentitygrouprepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroupservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentryserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logentryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entityrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentryservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvalueserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumvaluerepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="annotationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="annotationattributerepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationattributeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationattributeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="annotationattributerepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumfieldserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="annotationrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvalueservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumfieldservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="restrictionfieldrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="annotationrepository" nillable="true" minOccurs="0" />
        <xs:element name="page_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityattributemanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entityattribute" nillable="true" minOccurs="0" />
        <xs:element name="instance" type="entityattributemanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logtype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationtype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvalue" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="enumvalueid" type="xs:anyType" />
        <xs:element name="enumentity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="annotationid" type="xs:anyType" />
        <xs:element name="annotationattributelist" type="annotationattribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="field" type="xs:anyType" />
        <xs:element name="enumfield" type="xs:anyType" />
        <xs:element name="relationship" type="xs:anyType" />
        <xs:element name="GeneratedName" type="annotationtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="field" >
      <xs:complexContent>
       <xs:extension base="entityattribute">
         <xs:sequence>
          <xs:element name="entityid" type="xs:anyType" />
          <xs:element name="fieldid" type="xs:anyType" />
          <xs:element name="priority" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="restrictionfieldlist" type="restrictionfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="entity" type="xs:anyType" />
          <xs:element name="tab" type="xs:anyType" />
          <xs:element name="annotationlist" type="annotation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="fieldtype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumfield" >
      <xs:complexContent>
       <xs:extension base="entityattribute">
         <xs:sequence>
          <xs:element name="entityid" type="xs:anyType" />
          <xs:element name="enumfieldid" type="xs:anyType" />
          <xs:element name="priority" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="entity" type="xs:anyType" />
          <xs:element name="enumentity" type="xs:anyType" />
          <xs:element name="tab" type="xs:anyType" />
          <xs:element name="annotationlist" type="annotation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationattribute" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="property" type="xs:anyType" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="annotationattributeid" type="xs:anyType" />
        <xs:element name="annotation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationshiptype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldtype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictiontype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationtype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:long" />
        <xs:element name="projectid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="entitygrouplist" type="entitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumentitylist" type="enumentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroup" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="entitygroupid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="restrictionentitygrouplist" type="restrictionentitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitylist" type="xs:anyType" />
        <xs:element name="project" type="xs:anyType" />
        <xs:element name="securitytype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentity" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="enumentityid" type="xs:anyType" />
        <xs:element name="project" type="xs:anyType" />
        <xs:element name="enumvaluelist" type="enumvalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumfieldlist" type="enumfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entity" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="generatefrontend" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="cache" type="xs:anyType" />
        <xs:element name="disableviewgeneration" type="xs:anyType" />
        <xs:element name="descendantmaxlevel" type="xs:anyType" />
        <xs:element name="enablerestrictiondata" type="xs:anyType" />
        <xs:element name="restrictionentitylist" type="restrictionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="fieldlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumfieldlist" type="enumfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="entitygroup" type="xs:anyType" />
        <xs:element name="tablist" type="tab" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="securitytype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tabid" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
        <xs:element name="fieldlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enumfieldlist" type="enumfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="relationshiplist" type="relationship" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentry" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="info" type="xs:anyType" />
        <xs:element name="hostname" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="log" type="xs:dateTime" />
        <xs:element name="logentryid" type="xs:anyType" />
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="ipaddress" type="xs:anyType" />
        <xs:element name="GeneratedName" type="logtype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="operationtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroup" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="canupdate" type="xs:anyType" />
        <xs:element name="cancreate" type="xs:anyType" />
        <xs:element name="candelete" type="xs:anyType" />
        <xs:element name="restrictionentitygroupid" type="xs:anyType" />
        <xs:element name="cansearch" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="entitygroup" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="password" type="xs:anyType" />
        <xs:element name="username" type="xs:anyType" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfield" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="restrictionfieldid" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="field" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentity" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:anyType" />
        <xs:element name="candelete" type="xs:anyType" />
        <xs:element name="cansearch" type="xs:anyType" />
        <xs:element name="restrictionentityid" type="xs:anyType" />
        <xs:element name="canupdate" type="xs:anyType" />
        <xs:element name="cancreate" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
        <xs:element name="entity" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="entityid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="restrictionentitylist" type="restrictionentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="restrictionfieldlist" type="restrictionfield" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="userlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="restrictionentitygrouplist" type="restrictionentitygroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitytype" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationship" >
      <xs:complexContent>
       <xs:extension base="entityattribute">
         <xs:sequence>
          <xs:element name="entityid" type="xs:anyType" />
          <xs:element name="priority" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="relationshipid" type="xs:anyType" />
          <xs:element name="annotationlist" type="annotation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="entitytarget" type="xs:anyType" />
          <xs:element name="entity" type="xs:anyType" />
          <xs:element name="tab" type="xs:anyType" />
          <xs:element name="" type="relationshiptype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitygroupservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvaluecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumvalueservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationattributecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="annotationattributeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fieldservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="annotationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumfieldcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumfieldservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentrycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mainappcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationshipcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="relationshipservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restrictionentitygroupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restrictionentityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfieldcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="restrictionfieldservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tabservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityfrontcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entityservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="enumentityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entitygroupservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="securityservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="securityenabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resterrorresolver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resterror" >
      <xs:sequence>
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="code" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="developermessage" type="xs:string" />
        <xs:element name="moreinfourl" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultresterrorresolver" >
      <xs:sequence>
        <xs:element name="default_exception_message_value" type="xs:string" />
        <xs:element name="default_message_value" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="exceptionmappings" type="xs:anyType" />
        <xs:element name="exceptionmappingdefinitions" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="defaultmoreinfourl" type="xs:string" />
        <xs:element name="defaultemptycodetostatus" type="xs:anyType" />
        <xs:element name="defaultdevelopermessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="abstracthandlerexceptionresolver">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="messageconverters" type="xs:anyType" />
          <xs:element name="allmessageconverters" type="xs:anyType" />
          <xs:element name="errorresolver" type="resterrorresolver" nillable="true" minOccurs="0" />
          <xs:element name="errorconverter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapresterrorconverter" >
      <xs:sequence>
        <xs:element name="default_status_key" type="xs:string" />
        <xs:element name="default_code_key" type="xs:string" />
        <xs:element name="default_message_key" type="xs:string" />
        <xs:element name="default_developer_message_key" type="xs:string" />
        <xs:element name="default_more_info_url_key" type="xs:string" />
        <xs:element name="statuskey" type="xs:string" />
        <xs:element name="codekey" type="xs:string" />
        <xs:element name="messagekey" type="xs:string" />
        <xs:element name="developermessagekey" type="xs:string" />
        <xs:element name="moreinfourlkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resterrorconverter" >
      <xs:complexContent>
       <xs:extension base="converter<resterror,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classdetail" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="compositeclass" type="xs:anyType" />
        <xs:element name="parentname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="obj" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="authenticated" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customjsondatedeserializer" >
      <xs:complexContent>
       <xs:extension base="jsondeserializer<date>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="angenmetricservlet" >
      <xs:complexContent>
       <xs:extension base="metricsservlet">
         <xs:sequence>
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="" type="logentryservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="securityservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customdateserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<date>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customjsontimedeserializer" >
      <xs:complexContent>
       <xs:extension base="jsondeserializer<time>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customtimeserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<time>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="field" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="field" type="xs:anyType" />
        <xs:element name="compositeclass" type="xs:anyType" />
        <xs:element name="repositoryclass" type="xs:anyType" />
        <xs:element name="list" type="annotation" nillable="true" minOccurs="0" />
        <xs:element name="isenum" type="xs:anyType" />
        <xs:element name="enumvalueslist" type="xs:anyType" />
        <xs:element name="childrenfilterlist" type="field" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="owner" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedded" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ignoretablelist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enablerestrictiondata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ignoresearch" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="descriptionfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="password" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="priority" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="between" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maxdescendantlevel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelexport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ignoreupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disableviewgeneration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatefrontend" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oraclenamingstrategy" >
      <xs:complexContent>
       <xs:extension base="defaultcomponentsafenamingstrategy">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="max_length" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitywebapplicationinitializeranggen" >
      <xs:complexContent>
       <xs:extension base="abstractsecuritywebapplicationinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mvcwebapplicationinitializer" >
      <xs:complexContent>
       <xs:extension base="abstractannotationconfigdispatcherservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="corsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myuserdetailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="csrfheaderfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securitywebapplicationinitializerservertest" >
      <xs:complexContent>
       <xs:extension base="abstractsecuritywebapplicationinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="anggenauthenticationprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logentryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servertestsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servertestwebconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="metricsconfiguration" >
      <xs:complexContent>
       <xs:extension base="metricsconfigureradapter">
         <xs:sequence>
          <xs:element name="prop_metric_reg_jvm_memory" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_garbage" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_threads" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_files" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_buffers" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servertestconfig" >
      <xs:sequence>
        <xs:element name="formatsql" type="xs:string" />
        <xs:element name="showsql" type="xs:string" />
        <xs:element name="cacheregion" type="xs:string" />
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="jdbc" type="xs:string" />
        <xs:element name="dburl" type="xs:string" />
        <xs:element name="dbport" type="xs:string" />
        <xs:element name="dbname" type="xs:string" />
        <xs:element name="dbuser" type="xs:string" />
        <xs:element name="dbpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurer" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="entitymanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="cachemanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servertestapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anggenmenu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metrics.modal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vfs_fonts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entity-front" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroup-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvalue-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroup-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationship-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entity-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfield-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentity-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentity-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationattribute-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="field-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentry-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumfield-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentitygroup-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationattribute-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitygroup-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logentry-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumvalue-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login-modal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumentity-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ui-bootstrap-csp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotation-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumfield-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="relationship-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swagger.controller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swagger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swagger.service" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="field-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionfield-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restrictionentity-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entity-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 