frame-template2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="/***主键id*/id" type="xs:long" />
        <xs:element name="/***用户名*/username" type="xs:string" />
        <xs:element name="/***密码*/password" type="xs:string" />
        <xs:element name="/***姓名*/name" type="xs:string" />
        <xs:element name="/***年龄*/age" type="xs:anyType" />
        <xs:element name="/***邮箱*/email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 