ecosistema_desarrolloweb1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="resultado" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="sexo" type="xs:string" />
        <xs:element name="edad" type="xs:anyType" />
        <xs:element name="niveleducativo" type="xs:string" />
        <xs:element name="departamento_id" type="xs:anyType" />
        <xs:element name="municipio_id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 