fcefap/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ecfnotafiscaldetalhevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idnfcabecalho" type="xs:anyType" />
        <xs:element name="idproduto" type="xs:anyType" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="item" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="valorunitario" type="xs:anyType" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="taxaicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="icmsoutras" type="xs:anyType" />
        <xs:element name="icmsisento" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="taxaissqn" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="taxapis" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="taxacofins" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="taxaipi" type="xs:anyType" />
        <xs:element name="ipi" type="xs:anyType" />
        <xs:element name="cancelado" type="xs:string" />
        <xs:element name="cst" type="xs:string" />
        <xs:element name="movimentaestoque" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfr02vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idoperador" type="xs:anyType" />
        <xs:element name="idimpressora" type="xs:anyType" />
        <xs:element name="idecfcaixa" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="crz" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="cro" type="xs:anyType" />
        <xs:element name="datamovimento" type="xs:dateTime" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="vendabruta" type="xs:anyType" />
        <xs:element name="grandetotal" type="xs:anyType" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
        <xs:element name="listar03" type="ecfr03vo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfsangriavo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="datasangria" type="xs:dateTime" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfmovimentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idecfempresa" type="xs:anyType" />
        <xs:element name="idecfturno" type="xs:anyType" />
        <xs:element name="idecfimpressora" type="xs:anyType" />
        <xs:element name="idecfoperador" type="xs:anyType" />
        <xs:element name="idecfcaixa" type="xs:anyType" />
        <xs:element name="idgerentesupervisor" type="xs:anyType" />
        <xs:element name="dataabertura" type="xs:dateTime" />
        <xs:element name="horaabertura" type="xs:string" />
        <xs:element name="datafechamento" type="xs:dateTime" />
        <xs:element name="horafechamento" type="xs:string" />
        <xs:element name="totalsuprimento" type="xs:anyType" />
        <xs:element name="totalsangria" type="xs:anyType" />
        <xs:element name="totalnaofiscal" type="xs:anyType" />
        <xs:element name="totalvenda" type="xs:anyType" />
        <xs:element name="totaldesconto" type="xs:anyType" />
        <xs:element name="totalacrescimo" type="xs:anyType" />
        <xs:element name="total" type="xs:anyType" />
        <xs:element name="totalrecebido" type="xs:anyType" />
        <xs:element name="totaltroco" type="xs:anyType" />
        <xs:element name="totalcancelado" type="xs:anyType" />
        <xs:element name="statusmovimento" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
        <xs:element name="listaecffechamento" type="ecffechamentovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="listaecfsangria" type="ecfsangriavo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="listaecfsuprimento" type="ecfsuprimentovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecffechamentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="tipopagamento" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfr06vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idoperador" type="xs:anyType" />
        <xs:element name="idimpressora" type="xs:anyType" />
        <xs:element name="idecfcaixa" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="gnf" type="xs:anyType" />
        <xs:element name="grg" type="xs:anyType" />
        <xs:element name="cdc" type="xs:anyType" />
        <xs:element name="denominacao" type="xs:string" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfdocumentosemitidosvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfsintegra60mvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="numeroserieecf" type="xs:string" />
        <xs:element name="numeroequipamento" type="xs:anyType" />
        <xs:element name="modelodocumentofiscal" type="xs:string" />
        <xs:element name="cooinicial" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="crz" type="xs:anyType" />
        <xs:element name="cro" type="xs:anyType" />
        <xs:element name="valorvendabruta" type="xs:anyType" />
        <xs:element name="valorgrandetotal" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
        <xs:element name="listasintegra60a" type="ecfsintegra60avo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfvendacabecalhovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idcliente" type="xs:anyType" />
        <xs:element name="idecffuncionario" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="idecfdav" type="xs:anyType" />
        <xs:element name="idecfprevendacabecalho" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="datavenda" type="xs:dateTime" />
        <xs:element name="horavenda" type="xs:string" />
        <xs:element name="valorvenda" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="valorrecebido" type="xs:anyType" />
        <xs:element name="troco" type="xs:anyType" />
        <xs:element name="valorcancelado" type="xs:anyType" />
        <xs:element name="totalprodutos" type="xs:anyType" />
        <xs:element name="totaldocumento" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="icmsoutras" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="acrescimoitens" type="xs:anyType" />
        <xs:element name="descontoitens" type="xs:anyType" />
        <xs:element name="statusvenda" type="xs:string" />
        <xs:element name="nomecliente" type="xs:string" />
        <xs:element name="cpfcnpjcliente" type="xs:string" />
        <xs:element name="cupomcancelado" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
        <xs:element name="ecfmovimento" type="ecfmovimentovo" nillable="true" minOccurs="0" />
        <xs:element name="listaecfvendadetalhe" type="ecfvendadetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="listaecftotaltipopagamento" type="ecftotaltipopagamentovo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfr07vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idr06" type="xs:anyType" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="meiopagamento" type="xs:string" />
        <xs:element name="valorpagamento" type="xs:anyType" />
        <xs:element name="estorno" type="xs:string" />
        <xs:element name="valorestorno" type="xs:anyType" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfvendadetalhevo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfproduto" type="xs:anyType" />
        <xs:element name="idecfvendacabecalho" type="xs:anyType" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="gtin" type="xs:string" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="item" type="xs:anyType" />
        <xs:element name="quantidade" type="xs:anyType" />
        <xs:element name="valorunitario" type="xs:anyType" />
        <xs:element name="valortotal" type="xs:anyType" />
        <xs:element name="totalitem" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="taxaicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="taxaissqn" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="taxapis" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="taxacofins" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="acrescimorateio" type="xs:anyType" />
        <xs:element name="descontorateio" type="xs:anyType" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="cst" type="xs:string" />
        <xs:element name="cancelado" type="xs:string" />
        <xs:element name="movimentaestoque" type="xs:string" />
        <xs:element name="ecficmsst" type="xs:string" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
        <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfsintegra60avo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idsintegra60m" type="xs:anyType" />
        <xs:element name="situacaotributaria" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfsuprimentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="datasuprimento" type="xs:dateTime" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfr03vo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idr02" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="totalizadorparcial" type="xs:string" />
        <xs:element name="valoracumulado" type="xs:anyType" />
        <xs:element name="crz" type="xs:anyType" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecftotaltipopagamentovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfvendacabecalho" type="xs:anyType" />
        <xs:element name="idecftipopagamento" type="xs:anyType" />
        <xs:element name="serieecf" type="xs:string" />
        <xs:element name="coo" type="xs:anyType" />
        <xs:element name="ccf" type="xs:anyType" />
        <xs:element name="gnf" type="xs:anyType" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="nsu" type="xs:string" />
        <xs:element name="estorno" type="xs:string" />
        <xs:element name="rede" type="xs:string" />
        <xs:element name="cartaodc" type="xs:string" />
        <xs:element name="datavenda" type="xs:dateTime" />
        <xs:element name="logss" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfrecebimentonaofiscalvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecfmovimento" type="xs:anyType" />
        <xs:element name="datarecebimento" type="xs:dateTime" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="valor" type="xs:anyType" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecfnotafiscalcabecalhovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nomecaixa" type="xs:string" />
        <xs:element name="idgeradocaixa" type="xs:anyType" />
        <xs:element name="idempresa" type="xs:anyType" />
        <xs:element name="idecffuncionario" type="xs:anyType" />
        <xs:element name="idcliente" type="xs:anyType" />
        <xs:element name="cpfcnpjcliente" type="xs:string" />
        <xs:element name="cfop" type="xs:anyType" />
        <xs:element name="numero" type="xs:string" />
        <xs:element name="dataemissao" type="xs:dateTime" />
        <xs:element name="horaemissao" type="xs:string" />
        <xs:element name="serie" type="xs:string" />
        <xs:element name="subserie" type="xs:string" />
        <xs:element name="totalprodutos" type="xs:anyType" />
        <xs:element name="totalnf" type="xs:anyType" />
        <xs:element name="baseicms" type="xs:anyType" />
        <xs:element name="icms" type="xs:anyType" />
        <xs:element name="icmsoutras" type="xs:anyType" />
        <xs:element name="issqn" type="xs:anyType" />
        <xs:element name="pis" type="xs:anyType" />
        <xs:element name="cofins" type="xs:anyType" />
        <xs:element name="ipi" type="xs:anyType" />
        <xs:element name="taxaacrescimo" type="xs:anyType" />
        <xs:element name="acrescimo" type="xs:anyType" />
        <xs:element name="acrescimoitens" type="xs:anyType" />
        <xs:element name="taxadesconto" type="xs:anyType" />
        <xs:element name="desconto" type="xs:anyType" />
        <xs:element name="descontoitens" type="xs:anyType" />
        <xs:element name="cancelada" type="xs:string" />
        <xs:element name="tiponota" type="xs:string" />
        <xs:element name="datasincronizacao" type="xs:dateTime" />
        <xs:element name="horasincronizacao" type="xs:string" />
        <xs:element name="listanotafiscaldetalhe" type="ecfnotafiscaldetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integracaopdvvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="identifica" type="xs:string" />
        <xs:element name="dataintegracao" type="xs:dateTime" />
        <xs:element name="horaintegracao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logimportacaovo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="dataimportacao" type="xs:dateTime" />
        <xs:element name="horaimportacao" type="xs:string" />
        <xs:element name="erro" type="xs:string" />
        <xs:element name="registro" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 