CNI_PFE/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<utilisateur,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="motclerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<motcle,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zonerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<zone,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categorierepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<categorie,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="graderepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<grade,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avoirbudgetrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<avoirbudget,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fonctionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<fonction,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projetrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<projet,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="missionnairerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<missionnaire">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="missionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mission,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="grouperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avoirbudgetprojetrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<avoirbudgetprojet,class<">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typfraisrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<typfrais,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deptrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<deptgen,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ord_missrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<ordmis,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paysrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<pays,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avoirfraisrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<avoirfrais,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<classe,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleenum" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ord_missdao" >
      <xs:sequence>
        <xs:element name="ordmissrepository" type="ord_missrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="missionnaireservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="missionnairerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="grouperepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missiondao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="missionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projetdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projetrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typfraisdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="typfraisrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imissionnaire" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icrudservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fonctiondao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fonctionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetails" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="user" type="utilisateur" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iavoirbudget" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iavoirfrais" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paysdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paysrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motcledao" >
      <xs:sequence>
        <xs:element name="motclerep" type="motclerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetprojetdao" >
      <xs:sequence>
        <xs:element name="avoirbudgetrep" type="avoirbudgetprojetrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="avoirbudgetrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="classerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zonedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="zonerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categorierepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deptdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deptrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iavoirbudgetprojet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imission" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirfraisdao" >
      <xs:sequence>
        <xs:element name="avoirfraisrespository" type="avoirfraisrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gradedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="graderepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missionnaire" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="cin" type="xs:string" />
        <xs:element name="matricule" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="noml" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="prenoml" type="xs:string" />
        <xs:element name="nationalite" type="xs:string" />
        <xs:element name="nationalitel" type="xs:string" />
        <xs:element name="naissance" type="xs:dateTime" />
        <xs:element name="place_naissance" type="xs:string" />
        <xs:element name="rib" type="xs:string" />
        <xs:element name="_cin" type="xs:dateTime" />
        <xs:element name="place_cin" type="xs:string" />
        <xs:element name="groupe" type="xs:string" />
        <xs:element name="niveau" type="xs:string" />
        <xs:element name="ministr" type="xs:string" />
        <xs:element name="codcat" type="categorie" nillable="true" minOccurs="0" />
        <xs:element name="classgrd" type="classe" nillable="true" minOccurs="0" />
        <xs:element name="code" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="codgrp" type="groupe" nillable="true" minOccurs="0" />
        <xs:element name="graade" type="grade" nillable="true" minOccurs="0" />
        <xs:element name="fonnction" type="fonction" nillable="true" minOccurs="0" />
        <xs:element name="ordmiscollection" type="ordmis" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetprojet" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedavoirbudgetprojetpkavoirbudgetprojetpkcodprj" type="xs:string" />
        <xs:element name="annee" type="xs:dateTime" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="bproj" type="xs:dateTime" />
        <xs:element name="reference" type="xs:string" />
        <xs:element name="valeur" type="xs:anyType" />
        <xs:element name="val" type="xs:dateTime" />
        <xs:element name="codutil" type="xs:string" />
        <xs:element name="typebudgetp" type="xs:string" />
        <xs:element name="GeneratedName" type="projet" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typfrais" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="typfrais" type="xs:string" />
        <xs:element name="libfrais" type="xs:string" />
        <xs:element name="libfraisl" type="xs:string" />
        <xs:element name="avoirfraiscollection" type="avoirfrais" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missionpk" >
      <xs:sequence>
        <xs:element name="nummission" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classe" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="classgrd" type="xs:string" />
        <xs:element name="libclassgrda" type="xs:string" />
        <xs:element name="libclassgrdl" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deptgen" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="liba" type="xs:string" />
        <xs:element name="libl" type="xs:string" />
        <xs:element name="typdept" type="xs:string" />
        <xs:element name="cptmission" type="xs:long" />
        <xs:element name="cptnbp" type="xs:anyType" />
        <xs:element name="cptnop" type="xs:anyType" />
        <xs:element name="codcomm" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="missioncollection" type="mission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="projetcollection" type="projet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usercollection" type="userstruct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="avoirbudgetcollection" type="avoirbudget" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projetpk" >
      <xs:sequence>
        <xs:element name="codprj" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetpk" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="_budg" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordmis" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedordmispkordmispkcode" type="xs:string" />
        <xs:element name="numord" type="xs:long" />
        <xs:element name="nummission" type="xs:string" />
        <xs:element name="datdepp" type="xs:dateTime" />
        <xs:element name="datarrp" type="xs:dateTime" />
        <xs:element name="datdepr" type="xs:dateTime" />
        <xs:element name="datarrr" type="xs:dateTime" />
        <xs:element name="timbr" type="xs:anyType" />
        <xs:element name="avance" type="xs:anyType" />
        <xs:element name="etat" type="xs:string" />
        <xs:element name="numpb" type="xs:string" />
        <xs:element name="pay" type="xs:dateTime" />
        <xs:element name="avanceacc" type="xs:anyType" />
        <xs:element name="datrap" type="xs:dateTime" />
        <xs:element name="numop" type="xs:string" />
        <xs:element name="tauxspec" type="xs:anyType" />
        <xs:element name="avanceold" type="xs:anyType" />
        <xs:element name="obsctrl" type="xs:string" />
        <xs:element name="typav" type="xs:string" />
        <xs:element name="resume" type="xs:string" />
        <xs:element name="GeneratedName" type="mission" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="missionnaire" nillable="true" minOccurs="0" />
        <xs:element name="avoirfraiscollection" type="avoirfrais" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pays" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codpays" type="xs:string" />
        <xs:element name="libpaysa" type="xs:string" />
        <xs:element name="libpaysl" type="xs:string" />
        <xs:element name="langue" type="xs:string" />
        <xs:element name="prep" type="xs:string" />
        <xs:element name="pour" type="xs:string" />
        <xs:element name="avoirfraiscollection" type="avoirfrais" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cod" type="zone" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordmispk" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="numord" type="xs:long" />
        <xs:element name="nummission" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fonction" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="codfonction" type="xs:string" />
        <xs:element name="libfonca" type="xs:string" />
        <xs:element name="libfoncl" type="xs:string" />
        <xs:element name="typfonc" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorie" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codecat" type="xs:string" />
        <xs:element name="libcatar" type="xs:string" />
        <xs:element name="libcatfr" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motcle" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codemotcle" type="xs:string" />
        <xs:element name="amotcle" type="xs:string" />
        <xs:element name="lmotcle" type="xs:string" />
        <xs:element name="ind" type="xs:long" />
        <xs:element name="missions" type="mission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetprojetpk" >
      <xs:sequence>
        <xs:element name="codprj" type="xs:string" />
        <xs:element name="annee" type="xs:dateTime" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="bproj" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilisateur" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enable" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usercollection" type="userstruct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirfrais" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedavoirfraispkavoirfraispknummission" type="xs:string" />
        <xs:element name="numord" type="xs:long" />
        <xs:element name="typfrais" type="xs:string" />
        <xs:element name="codpays" type="xs:string" />
        <xs:element name="valeurp" type="xs:anyType" />
        <xs:element name="valeurr" type="xs:anyType" />
        <xs:element name="supporte" type="xs:string" />
        <xs:element name="supcode" type="xs:string" />
        <xs:element name="codprj" type="xs:string" />
        <xs:element name="observ" type="xs:string" />
        <xs:element name="aobserv" type="xs:string" />
        <xs:element name="GeneratedName" type="ordmis" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pays" nillable="true" minOccurs="0" />
        <xs:element name="1" type="typfrais" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mission" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedmissionpkmissionpknummission" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="objeta" type="xs:string" />
        <xs:element name="objetl" type="xs:string" />
        <xs:element name="datdepp" type="xs:dateTime" />
        <xs:element name="datarrp" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="motcle" nillable="true" minOccurs="0" />
        <xs:element name="ordmiscollection" type="ordmis" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zone" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codzone" type="xs:string" />
        <xs:element name="libzonea" type="xs:string" />
        <xs:element name="libzonel" type="xs:string" />
        <xs:element name="payscollection" type="pays" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupe" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codgrp" type="xs:string" />
        <xs:element name="libgrp" type="xs:string" />
        <xs:element name="libgrpl" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirfraispk" >
      <xs:sequence>
        <xs:element name="nummission" type="xs:string" />
        <xs:element name="numord" type="xs:long" />
        <xs:element name="typfrais" type="xs:string" />
        <xs:element name="codpays" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grade" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="codgrd" type="xs:string" />
        <xs:element name="libgrda" type="xs:string" />
        <xs:element name="libgrdl" type="xs:string" />
        <xs:element name="missionnaire" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudget" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedavoirbudgetpkavoibudgetpk/***/serialversionuid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="_budg" type="xs:dateTime" />
        <xs:element name="annee" type="xs:dateTime" />
        <xs:element name="valeur_miss" type="xs:double" />
        <xs:element name="reference_mis" type="xs:string" />
        <xs:element name="valeur_tr" type="xs:double" />
        <xs:element name="_val" type="xs:dateTime" />
        <xs:element name="cod_util" type="xs:string" />
        <xs:element name="type_budget" type="xs:string" />
        <xs:element name="depart" type="deptgen" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userstruct" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="iduserstruct" type="xs:long" />
        <xs:element name="affectation" type="xs:dateTime" />
        <xs:element name="//bi-directionalmany-to-oneassociationtodepartementdepartement" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="utilisateur" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projet" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//@embeddedid//protectedprojetpkprojetpkcodprj" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="libprja" type="xs:string" />
        <xs:element name="libprjl" type="xs:string" />
        <xs:element name="dept" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="avoirbudgetprojetcollection" type="avoirbudgetprojet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="corsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missioncniapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zonecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="zonedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typfraiscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="typfraisdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="avoirbudgetdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ord_misscontroller" >
      <xs:sequence>
        <xs:element name="ordmissdao" type="ord_missdao" nillable="true" minOccurs="0" />
        <xs:element name="repository" type="ord_missrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="groupedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirfraiscontroller" >
      <xs:sequence>
        <xs:element name="avoirfrais" type="avoirfraisdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="classedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motclecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="motcledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fonctioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fonctiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudcontroller" >
      <xs:sequence>
        <xs:element name="service" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetprojetcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="avoirbudgetprojetdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="missiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gradecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="gradedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoriedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="missionnairecontroller" >
      <xs:sequence>
        <xs:element name="missionaireservice" type="missionnaireservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projetcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projetdao" nillable="true" minOccurs="0" />
        <xs:element name="projet" type="projetrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudusercontroller" >
      <xs:complexContent>
       <xs:extension base="crudcontroller<utilisateur,">
         <xs:sequence>
          <xs:element name="" type="rolerepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="payscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paysdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deptcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="deptdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="missioncniapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 