CNI_PFE/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="missionnaire" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="cin" type="xs:string" />
        <xs:element name="matricule" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="noml" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="prenoml" type="xs:string" />
        <xs:element name="nationalite" type="xs:string" />
        <xs:element name="nationalitel" type="xs:string" />
        <xs:element name="naissance" type="xs:dateTime" />
        <xs:element name="place_naissance" type="xs:string" />
        <xs:element name="rib" type="xs:string" />
        <xs:element name="_cin" type="xs:dateTime" />
        <xs:element name="place_cin" type="xs:string" />
        <xs:element name="groupe" type="xs:string" />
        <xs:element name="niveau" type="xs:string" />
        <xs:element name="ministr" type="xs:string" />
        <xs:element name="codcat" type="categorie" nillable="true" minOccurs="0" />
        <xs:element name="classgrd" type="classe" nillable="true" minOccurs="0" />
        <xs:element name="code" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="codgrp" type="groupe" nillable="true" minOccurs="0" />
        <xs:element name="graade" type="grade" nillable="true" minOccurs="0" />
        <xs:element name="fonnction" type="fonction" nillable="true" minOccurs="0" />
        <xs:element name="ordmiscollection" type="ordmis" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudgetprojet" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedavoirbudgetprojetpkavoirbudgetprojetpkcodprj" type="xs:string" />
        <xs:element name="annee" type="xs:dateTime" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="bproj" type="xs:dateTime" />
        <xs:element name="reference" type="xs:string" />
        <xs:element name="valeur" type="xs:anyType" />
        <xs:element name="val" type="xs:dateTime" />
        <xs:element name="codutil" type="xs:string" />
        <xs:element name="typebudgetp" type="xs:string" />
        <xs:element name="GeneratedName" type="projet" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typfrais" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="typfrais" type="xs:string" />
        <xs:element name="libfrais" type="xs:string" />
        <xs:element name="libfraisl" type="xs:string" />
        <xs:element name="avoirfraiscollection" type="avoirfrais" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classe" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="classgrd" type="xs:string" />
        <xs:element name="libclassgrda" type="xs:string" />
        <xs:element name="libclassgrdl" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deptgen" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="liba" type="xs:string" />
        <xs:element name="libl" type="xs:string" />
        <xs:element name="typdept" type="xs:string" />
        <xs:element name="cptmission" type="xs:long" />
        <xs:element name="cptnbp" type="xs:anyType" />
        <xs:element name="cptnop" type="xs:anyType" />
        <xs:element name="codcomm" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="missioncollection" type="mission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="projetcollection" type="projet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usercollection" type="userstruct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="avoirbudgetcollection" type="avoirbudget" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordmis" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedordmispkordmispkcode" type="xs:string" />
        <xs:element name="numord" type="xs:long" />
        <xs:element name="nummission" type="xs:string" />
        <xs:element name="datdepp" type="xs:dateTime" />
        <xs:element name="datarrp" type="xs:dateTime" />
        <xs:element name="datdepr" type="xs:dateTime" />
        <xs:element name="datarrr" type="xs:dateTime" />
        <xs:element name="timbr" type="xs:anyType" />
        <xs:element name="avance" type="xs:anyType" />
        <xs:element name="etat" type="xs:string" />
        <xs:element name="numpb" type="xs:string" />
        <xs:element name="pay" type="xs:dateTime" />
        <xs:element name="avanceacc" type="xs:anyType" />
        <xs:element name="datrap" type="xs:dateTime" />
        <xs:element name="numop" type="xs:string" />
        <xs:element name="tauxspec" type="xs:anyType" />
        <xs:element name="avanceold" type="xs:anyType" />
        <xs:element name="obsctrl" type="xs:string" />
        <xs:element name="typav" type="xs:string" />
        <xs:element name="resume" type="xs:string" />
        <xs:element name="GeneratedName" type="mission" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="missionnaire" nillable="true" minOccurs="0" />
        <xs:element name="avoirfraiscollection" type="avoirfrais" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pays" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codpays" type="xs:string" />
        <xs:element name="libpaysa" type="xs:string" />
        <xs:element name="libpaysl" type="xs:string" />
        <xs:element name="langue" type="xs:string" />
        <xs:element name="prep" type="xs:string" />
        <xs:element name="pour" type="xs:string" />
        <xs:element name="avoirfraiscollection" type="avoirfrais" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cod" type="zone" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fonction" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="codfonction" type="xs:string" />
        <xs:element name="libfonca" type="xs:string" />
        <xs:element name="libfoncl" type="xs:string" />
        <xs:element name="typfonc" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorie" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codecat" type="xs:string" />
        <xs:element name="libcatar" type="xs:string" />
        <xs:element name="libcatfr" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="motcle" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codemotcle" type="xs:string" />
        <xs:element name="amotcle" type="xs:string" />
        <xs:element name="lmotcle" type="xs:string" />
        <xs:element name="ind" type="xs:long" />
        <xs:element name="missions" type="mission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilisateur" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enable" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="usercollection" type="userstruct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirfrais" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedavoirfraispkavoirfraispknummission" type="xs:string" />
        <xs:element name="numord" type="xs:long" />
        <xs:element name="typfrais" type="xs:string" />
        <xs:element name="codpays" type="xs:string" />
        <xs:element name="valeurp" type="xs:anyType" />
        <xs:element name="valeurr" type="xs:anyType" />
        <xs:element name="supporte" type="xs:string" />
        <xs:element name="supcode" type="xs:string" />
        <xs:element name="codprj" type="xs:string" />
        <xs:element name="observ" type="xs:string" />
        <xs:element name="aobserv" type="xs:string" />
        <xs:element name="GeneratedName" type="ordmis" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pays" nillable="true" minOccurs="0" />
        <xs:element name="1" type="typfrais" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mission" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedmissionpkmissionpknummission" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="objeta" type="xs:string" />
        <xs:element name="objetl" type="xs:string" />
        <xs:element name="datdepp" type="xs:dateTime" />
        <xs:element name="datarrp" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="motcle" nillable="true" minOccurs="0" />
        <xs:element name="ordmiscollection" type="ordmis" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zone" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codzone" type="xs:string" />
        <xs:element name="libzonea" type="xs:string" />
        <xs:element name="libzonel" type="xs:string" />
        <xs:element name="payscollection" type="pays" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupe" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="codgrp" type="xs:string" />
        <xs:element name="libgrp" type="xs:string" />
        <xs:element name="libgrpl" type="xs:string" />
        <xs:element name="missionnairecollection" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grade" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="codgrd" type="xs:string" />
        <xs:element name="libgrda" type="xs:string" />
        <xs:element name="libgrdl" type="xs:string" />
        <xs:element name="missionnaire" type="missionnaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="avoirbudget" >
      <xs:sequence>
        <xs:element name="//@embeddedid//protectedavoirbudgetpkavoibudgetpk/***/serialversionuid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="_budg" type="xs:dateTime" />
        <xs:element name="annee" type="xs:dateTime" />
        <xs:element name="valeur_miss" type="xs:double" />
        <xs:element name="reference_mis" type="xs:string" />
        <xs:element name="valeur_tr" type="xs:double" />
        <xs:element name="_val" type="xs:dateTime" />
        <xs:element name="cod_util" type="xs:string" />
        <xs:element name="type_budget" type="xs:string" />
        <xs:element name="depart" type="deptgen" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userstruct" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="iduserstruct" type="xs:long" />
        <xs:element name="affectation" type="xs:dateTime" />
        <xs:element name="//bi-directionalmany-to-oneassociationtodepartementdepartement" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="//bi-directionalmany-to-oneassociationto" type="utilisateur" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projet" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//@embeddedid//protectedprojetpkprojetpkcodprj" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="libprja" type="xs:string" />
        <xs:element name="libprjl" type="xs:string" />
        <xs:element name="dept" type="deptgen" nillable="true" minOccurs="0" />
        <xs:element name="avoirbudgetprojetcollection" type="avoirbudgetprojet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 