dataio5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="harvestersbeantest" >
      <xs:complexContent>
       <xs:extension base="dk.dbc.dataio.harvester.types.harvesterconfig<testharvesterconfig.content>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="version" type="xs:long" />
          <xs:element name="rrharvesterconfigtype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="submittersbeantest" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
        <xs:element name="default_test_id" type="xs:long" />
        <xs:element name="default_test_version" type="xs:long" />
        <xs:element name="default_test_etag_value" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mocked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowcomponentsbeantest" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mocked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowsbeantest" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
        <xs:element name="default_test_id" type="xs:long" />
        <xs:element name="default_test_version" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mocked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gatekeeperdestinationsbeantest" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
        <xs:element name="mocked" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowbindersbeantest" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="flow_binder_version" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sinksbeantest" >
      <xs:sequence>
        <xs:element name="entity_manager" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="etag_value" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mocked" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowbindertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="submittertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowstore" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowstoreexception" >
      <xs:complexContent>
       <xs:extension base="serviceexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flowsbean" >
      <xs:complexContent>
       <xs:extension base="abstractresourcebean">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="flow_content_display_text" type="xs:string" />
          <xs:element name="null_entity" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gatekeeperdestinationsbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="null_entity" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="harvestersbean" >
      <xs:sequence>
        <xs:element name="no_content" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="submittersbean" >
      <xs:complexContent>
       <xs:extension base="abstractresourcebean">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="submitter_content_display_text" type="xs:string" />
          <xs:element name="null_entity" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="startupdbmigrator" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sinksbean" >
      <xs:complexContent>
       <xs:extension base="abstractresourcebean">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="sink_content_display_text" type="xs:string" />
          <xs:element name="null_entity" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractresourcebean" >
      <xs:complexContent>
       <xs:extension base="versioned>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flowcomponentsbean" >
      <xs:complexContent>
       <xs:extension base="abstractresourcebean">
         <xs:sequence>
          <xs:element name="flow_component_content_display_text" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="null_entity" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flowbindersbean" >
      <xs:complexContent>
       <xs:extension base="abstractresourcebean">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="flow_binder_content_display_text" type="xs:string" />
          <xs:element name="empty_entity" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsonconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versioned" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="harvesterconfig" >
      <xs:complexContent>
       <xs:extension base="versioned">
         <xs:sequence>
          <xs:element name="query_find_all_of_type" type="xs:string" />
          <xs:element name="query_find_all_enabled_of_type" type="xs:string" />
          <xs:element name="query_find_type_with_content" type="xs:string" />
          <xs:element name="type" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sinkentity" >
      <xs:complexContent>
       <xs:extension base="versioned">
         <xs:sequence>
          <xs:element name="query_find_all" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flow" >
      <xs:complexContent>
       <xs:extension base="versioned">
         <xs:sequence>
          <xs:element name="table_name" type="xs:string" />
          <xs:element name="query_find_all" type="xs:string" />
          <xs:element name="query_find_by_name" type="xs:string" />
          <xs:element name="jsonb_context" type="xs:anyType" />
          <xs:element name="view" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flowcomponent" >
      <xs:complexContent>
       <xs:extension base="versioned">
         <xs:sequence>
          <xs:element name="table_name" type="xs:string" />
          <xs:element name="query_find_all" type="xs:string" />
          <xs:element name="jsonb_context" type="xs:anyType" />
          <xs:element name="next" type="xs:string" />
          <xs:element name="view" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gatekeeperdestinationentity" >
      <xs:sequence>
        <xs:element name="query_find_all" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="submitternumber" type="xs:string" />
        <xs:element name="destination" type="xs:string" />
        <xs:element name="packaging" type="xs:string" />
        <xs:element name="format" type="xs:string" />
        <xs:element name="copytoposthus" type="xs:anyType" />
        <xs:element name="notifyfromposthus" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="submitter" >
      <xs:complexContent>
       <xs:extension base="versioned">
         <xs:sequence>
          <xs:element name="table_name" type="xs:string" />
          <xs:element name="query_find_all" type="xs:string" />
          <xs:element name="query_find_all_ids" type="xs:string" />
          <xs:element name="query_find_by_content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="flowbinder" >
      <xs:complexContent>
       <xs:extension base="versioned">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="table_name" type="xs:string" />
          <xs:element name="match_flowbinder_query_name" type="xs:string" />
          <xs:element name="match_flowbinderident_query_name" type="xs:string" />
          <xs:element name="find_all_query_name" type="xs:string" />
          <xs:element name="flowid" type="xs:long" />
          <xs:element name="sinkid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classnotfoundexceptionmapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencedentitynotfoundexceptionmapper" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowstoreapplication" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsonexceptionmapper" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceexceptionmapper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowbindercontentmatch" >
      <xs:sequence>
        <xs:element name="jsonb_context" type="xs:anyType" />
        <xs:element name="charset" type="xs:string" />
        <xs:element name="destination" type="xs:string" />
        <xs:element name="format" type="xs:string" />
        <xs:element name="packaging" type="xs:string" />
        <xs:element name="submitterids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 