arquitetura_java2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="oficial" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="posto" type="xs:string" />
        <xs:element name="nextid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 