handbook/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="greetingcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userform" >
      <xs:sequence>
        <xs:element name="list" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="realname" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledtasks" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/*extendsabstracttransactionaljunit4springcontexttests*/" type="employeedao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao" >
      <xs:complexContent>
       <xs:extension base="crudrepository<employee,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="role" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeimpl2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeimpl1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="book" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="persondao" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="//@qualifier("1")" type="employservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employserviceimpl1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employserviceimpl2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskexecutorexample" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskexecutorexample" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskexecutorexample" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 