HibernateJPA/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="docvaluesserializationtest" >
      <xs:sequence>
        <xs:element name="remotetypeid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workserializer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="protocolbackwardcompatibilitytest" >
      <xs:sequence>
        <xs:element name="resource_base_name" type="xs:string" />
        <xs:element name="remotetypeid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remoteentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="approximation" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializationtest" >
      <xs:sequence>
        <xs:element name="remotetypeid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="workserializer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializationprovidertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concurrentservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializationtesthelper" >
      <xs:complexContent>
       <xs:extension base="reader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avroutils" >
      <xs:sequence>
        <xs:element name="schemas" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.hibernate.search.indexes.serialization.spi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flush" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optimizeall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purgeall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokentrackingattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positionincrementattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payloadattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chartermattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flagsattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offsetattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binaryfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericfloatfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customfieldable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericintfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericdoublefield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readerfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenstreamfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="termvector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericlongfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positionincrementattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chartermattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payloadattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokentrackingattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flagsattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offsetattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericintfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="termvector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binaryfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binarydocvaluesfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readerfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericfloatfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericdocvaluesfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docvaluestype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericdoublefield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customfieldable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenstreamfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericlongfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletebyquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flush" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purgeall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optimizeall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customfieldable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binaryfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericdoublefield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readerfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericfloatfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenstreamfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="termvector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericintfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="numericlongfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purgeall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optimizeall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offsetattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokentrackingattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positionincrementattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flagsattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chartermattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keywordattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payloadattribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:complexContent>
       <xs:extension base="org.hibernate.search.util.logging.impl.log">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avroserializationprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="log" nillable="true" minOccurs="0" />
        <xs:element name="protocols" type="knownprotocols" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="protocolbuilderv1_1" >
      <xs:complexContent>
       <xs:extension base="protocolbuilderv1_0">
         <xs:sequence>
          <xs:element name="v1_1_path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avroserializer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="log" nillable="true" minOccurs="0" />
        <xs:element name="idrecord" type="xs:anyType" />
        <xs:element name="fieldables" type="xs:anyType" />
        <xs:element name="operations" type="xs:anyType" />
        <xs:element name="classreferences" type="xs:anyType" />
        <xs:element name="document" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="protocolbuilderv1_0" >
      <xs:sequence>
        <xs:element name="avro_schema_file_suffix" type="xs:string" />
        <xs:element name="avro_protocol_file_suffix" type="xs:string" />
        <xs:element name="v1_0_path" type="xs:string" />
        <xs:element name="GeneratedName" type="log" nillable="true" minOccurs="0" />
        <xs:element name="schemas" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="knownprotocols" >
      <xs:sequence>
        <xs:element name="/***latestprotocolversionis1.2*/major_version" type="xs:long" />
        <xs:element name="latest_minor_version" type="xs:long" />
        <xs:element name="GeneratedName" type="log" nillable="true" minOccurs="0" />
        <xs:element name="volatilev1_0" type="xs:anyType" />
        <xs:element name="volatilev1_1" type="xs:anyType" />
        <xs:element name="volatilev1_2" type="xs:anyType" />
        <xs:element name="volatilewarned" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="protocolbuilderv1_2" >
      <xs:complexContent>
       <xs:extension base="protocolbuilderv1_1">
         <xs:sequence>
          <xs:element name="v1_2_path" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="avrodeserializer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="log" nillable="true" minOccurs="0" />
        <xs:element name="protocols" type="knownprotocols" nillable="true" minOccurs="0" />
        <xs:element name="classreferences" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 