es/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jsontypetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cruduserrepositoryit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository2implfordefaultsearchit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository2" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository2implit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository2" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="" type="repositoryhelper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchuserrepositoryit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchuserrepository2withrepository2impit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository2" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specificationuserrepositoryit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository2" >
      <xs:complexContent>
       <xs:extension base="baserepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository2implforcustomsearchit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository2" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository2impl" >
      <xs:sequence>
        <xs:element name="findallql" type="xs:string" />
        <xs:element name="countallql" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="repositoryhelper" nillable="true" minOccurs="0" />
        <xs:element name="custom" type="searchcallback" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repositoryhelperit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="repositoryhelper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pageandsortuserrepositoryit" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchablemethodargumentresolvertest" >
      <xs:sequence>
        <xs:element name="searchable,searchableandnopageandsort,searchableandnopageandnosort,defaultsearchable,parameterdefaultsearchable,customnameprefixsearchableandpageableandsort,mergedefaultsearchable" type="xs:anyType" />
        <xs:element name="request" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageablemethodargumentresolvertest" >
      <xs:sequence>
        <xs:element name="pageable,pageableandsort,defaultpageable,parameterdefaultpageable,customnameprefixpageableandsort" type="xs:anyType" />
        <xs:element name="request" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice2" >
      <xs:complexContent>
       <xs:extension base="userservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservicewithrespository2impltest" >
      <xs:complexContent>
       <xs:extension base="userservicetest">
         <xs:sequence>
          <xs:element name="" type="userservice2" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservicetest" >
      <xs:complexContent>
       <xs:extension base="baseuserit">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="treeserviceit" >
      <xs:complexContent>
       <xs:extension base="baseit">
         <xs:sequence>
          <xs:element name="" type="treeservice" nillable="true" minOccurs="0" />
          <xs:element name="root" type="tree" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moveservice" >
      <xs:complexContent>
       <xs:extension base="basemovableservice<move,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moveserviceit" >
      <xs:complexContent>
       <xs:extension base="baseit">
         <xs:sequence>
          <xs:element name="" type="moveservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="treeservice" >
      <xs:complexContent>
       <xs:extension base="basetreeableservice<tree,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moverepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<move,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="treerepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<tree,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tree" >
      <xs:complexContent>
       <xs:extension base="baseentity<long>">
         <xs:sequence>
          <xs:element name="/***标题*/name" type="xs:string" />
          <xs:element name="/***父路径*/parentid" type="xs:long" />
          <xs:element name="parentids" type="xs:string" />
          <xs:element name="weight" type="xs:anyType" />
          <xs:element name="/***图标*/icon" type="xs:string" />
          <xs:element name="/***是否有叶子节点*/haschildren" type="xs:anyType" />
          <xs:element name="/***是否显示*/show" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="move" >
      <xs:complexContent>
       <xs:extension base="baseentity<long>">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="weight" type="xs:anyType" />
          <xs:element name="show" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="htmlutilstest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forbiddenwordutilstest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseit" >
      <xs:complexContent>
       <xs:extension base="abstracttransactionaljunit4springcontexttests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseuserit" >
      <xs:complexContent>
       <xs:extension base="baseit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseinfo" >
      <xs:complexContent>
       <xs:extension base="baseentity<long>">
         <xs:sequence>
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="/***真实名称*/realname" type="xs:string" />
          <xs:element name="/***性别*/" type="sex" nillable="true" minOccurs="0" />
          <xs:element name="birthday" type="xs:dateTime" />
          <xs:element name="age" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schooltype" >
      <xs:sequence>
        <xs:element name="info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sex" >
      <xs:sequence>
        <xs:element name="info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchabletest" >
      <xs:sequence>
        <xs:element name="old" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity<long>">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="register" type="xs:dateTime" />
          <xs:element name="/***基本信息*/" type="baseinfo" nillable="true" minOccurs="0" />
          <xs:element name="/***学校信息*/schoolinfoset" type="schoolinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schoolinfo" >
      <xs:complexContent>
       <xs:extension base="baseentity<long>">
         <xs:sequence>
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="/***学校名称*/name" type="xs:string" />
          <xs:element name="type" type="schooltype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parentchildtest" >
      <xs:complexContent>
       <xs:extension base="baseit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parent" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="childs" type="child" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="child" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="parent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring-common" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repositoryhelper" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="entityclass" type="xs:anyType" />
        <xs:element name="enablequerycache" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enablequerycache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchablequery" >
      <xs:complexContent>
       <xs:extension base="searchcallback>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="queryjoin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplebaserepository" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="logic_delete_all_query_" type="xs:string" />
          <xs:element name="delete_all_query_" type="xs:string" />
          <xs:element name="find_query_" type="xs:string" />
          <xs:element name="count_query_" type="xs:string" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="entityinformation" type="xs:anyType" />
          <xs:element name="" type="repositoryhelper" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="entityclass" type="xs:anyType" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="idname" type="xs:string" />
          <xs:element name="/***查询所有的ql*/findallql" type="xs:string" />
          <xs:element name="/***统计ql*/countallql" type="xs:string" />
          <xs:element name="joins" type="queryjoin" nillable="true" minOccurs="0" />
          <xs:element name="" type="searchcallback" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplebaserepositoryfactorybean" >
      <xs:complexContent>
       <xs:extension base="jparepository<m,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baserepository" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nonesearchcallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchcallback" >
      <xs:sequence>
        <xs:element name="none" type="searchcallback" nillable="true" minOccurs="0" />
        <xs:element name="default" type="searchcallback" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultsearchcallback" >
      <xs:sequence>
        <xs:element name="paramprefix" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="aliaswithdot" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonmapusertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectiontostringusertype" >
      <xs:sequence>
        <xs:element name="/***默认,*/separator" type="xs:string" />
        <xs:element name="/***默认java.lang.long*/elementtype" type="xs:anyType" />
        <xs:element name="/***默认arraylist*/collectiontype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonmap" >
      <xs:sequence>
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashmaptostringusertype" >
      <xs:sequence>
        <xs:element name="/***默认java.lang.string*/keytype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectserializeusertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonusertype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxresponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validateresponse" >
      <xs:sequence>
        <xs:element name="/***验证成功*/ok" type="xs:anyType" />
        <xs:element name="/***验证失败*/fail" type="xs:anyType" />
        <xs:element name="results" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setcommondatafilter" >
      <xs:complexContent>
       <xs:extension base="basefilter">
         <xs:sequence>
          <xs:element name="" type="setcommondatainterceptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="setcommondatainterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="default_exclude_parameter_pattern" type="xs:string" />
          <xs:element name="excludeparameterpatterns" type="xs:string" />
          <xs:element name="excludeurlpatterns" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accesslogfilter" >
      <xs:complexContent>
       <xs:extension base="basefilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="debugrequestandresponsefilter" >
      <xs:complexContent>
       <xs:extension base="basefilter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basefilter" >
      <xs:sequence>
        <xs:element name="config" type="xs:anyType" />
        <xs:element name="null__array" type="xs:string" />
        <xs:element name="//逗号空格分号换行url_split_pattern" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="whitelisturls" type="xs:string" />
        <xs:element name="blacklisturls" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openentitymanagerinviewfilter" >
      <xs:complexContent>
       <xs:extension base="basefilter">
         <xs:sequence>
          <xs:element name="delegate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gmailengine" >
      <xs:complexContent>
       <xs:extension base="listimagecaptchaengine">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="esmanageableimagecaptchaservice" >
      <xs:complexContent>
       <xs:extension base="defaultmanageableimagecaptchaservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ajaxjcaptchavalidatecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcaptcha" >
      <xs:sequence>
        <xs:element name="captchaservice" type="esmanageableimagecaptchaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcaptchafilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ajaxuploadresponse" >
      <xs:sequence>
        <xs:element name="files" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inputtag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.inputtag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hiddeninputtag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.hiddeninputtag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optiontag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.optiontag">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="radiobuttontag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.radiobuttontag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkboxestag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.checkboxestag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optionstag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.optionstag">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="radiobuttonstag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.radiobuttonstag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchbindstatus" >
      <xs:complexContent>
       <xs:extension base="bindstatus">
         <xs:sequence>
          <xs:element name="pathtouse" type="xs:string" />
          <xs:element name="value" type="xs:anyType" />
          <xs:element name="htmlescape" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="valueformatter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selecttag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.selecttag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="labeltag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.labeltag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="textareatag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.textareatag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkboxtag" >
      <xs:complexContent>
       <xs:extension base="org.springframework.web.servlet.tags.form.checkboxtag">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basecontroller" >
      <xs:complexContent>
       <xs:extension base="abstractentity,">
         <xs:sequence>
          <xs:element name="/***实体类型*/entityclass" type="xs:anyType" />
          <xs:element name="viewprefix" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basecrudcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractentity,">
         <xs:sequence>
          <xs:element name="baseservice" type="xs:anyType" />
          <xs:element name="listalsosetcommondata" type="xs:anyType" />
          <xs:element name="" type="permissionlist" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="downloadcontroller" >
      <xs:sequence>
        <xs:element name="/***下载内容前边显示的前缀*/prefixfilename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxuploadcontroller" >
      <xs:sequence>
        <xs:element name="//最大上传大小字节为单位maxsize" type="xs:long" />
        <xs:element name="allowedextension" type="xs:string" />
        <xs:element name="//文件上传下载的父目录basedir" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kindeditorcontroller" >
      <xs:sequence>
        <xs:element name="image_extension" type="xs:string" />
        <xs:element name="attachment_extension" type="xs:string" />
        <xs:element name="flash_extension" type="xs:string" />
        <xs:element name="media_extension" type="xs:string" />
        <xs:element name="//最大上传大小字节为单位maxsize" type="xs:long" />
        <xs:element name="//文件上传下载的父目录basedir" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permissionlist" >
      <xs:sequence>
        <xs:element name="create_permission" type="xs:string" />
        <xs:element name="update_permission" type="xs:string" />
        <xs:element name="delete_permission" type="xs:string" />
        <xs:element name="view_permission" type="xs:string" />
        <xs:element name="/***资源前缀*/resourceidentity" type="xs:string" />
        <xs:element name="resourcepermissions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidextensionexception" >
      <xs:complexContent>
       <xs:extension base="fileuploadexception">
         <xs:sequence>
          <xs:element name="allowedextension" type="xs:string" />
          <xs:element name="extension" type="xs:string" />
          <xs:element name="filename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filenamelengthlimitexceededexception" >
      <xs:complexContent>
       <xs:extension base="fileuploadexception">
         <xs:sequence>
          <xs:element name="length" type="xs:long" />
          <xs:element name="maxlength" type="xs:long" />
          <xs:element name="filename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fileuploadutils" >
      <xs:sequence>
        <xs:element name="//默认大小50mdefault_max_size" type="xs:long" />
        <xs:element name="//默认上传的地址defaultbasedir" type="xs:string" />
        <xs:element name="//默认的文件名最大长度default_file_name_length" type="xs:long" />
        <xs:element name="image_extension" type="xs:string" />
        <xs:element name="flash_extension" type="xs:string" />
        <xs:element name="media_extension" type="xs:string" />
        <xs:element name="default_allowed_extension" type="xs:string" />
        <xs:element name="counter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formmodelmethodargumentresolver" >
      <xs:complexContent>
       <xs:extension base="basemethodargumentresolver">
         <xs:sequence>
          <xs:element name=".*/index_" type="xs:anyType" />
          <xs:element name="autogrowcollectionlimit" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pageablemethodargumentresolver" >
      <xs:complexContent>
       <xs:extension base="basemethodargumentresolver">
         <xs:sequence>
          <xs:element name="default_page_request" type="xs:anyType" />
          <xs:element name="default_page_prefix" type="xs:string" />
          <xs:element name="default_sort_prefix" type="xs:string" />
          <xs:element name="fallbackpagable" type="xs:anyType" />
          <xs:element name="pageprefix" type="xs:string" />
          <xs:element name="sortprefix" type="xs:string" />
          <xs:element name="minpagesize" type="xs:long" />
          <xs:element name="maxpagesize" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basemethodargumentresolver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchablemethodargumentresolver" >
      <xs:complexContent>
       <xs:extension base="basemethodargumentresolver">
         <xs:sequence>
          <xs:element name="default_pageable_resolver" type="pageablemethodargumentresolver" nillable="true" minOccurs="0" />
          <xs:element name="default_search_prefix" type="xs:string" />
          <xs:element name="prefix" type="xs:string" />
          <xs:element name="/***分页参数解析器*/" type="pageablemethodargumentresolver" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pageabledefaults" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchabledefaults" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formmodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapwapper" >
      <xs:complexContent>
       <xs:extension base="k,">
         <xs:sequence>
          <xs:element name="innermap" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="downloadutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="speedupspringprocessor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="removedclasspatterns" type="xs:string" />
        <xs:element name="includeclasspatterns" type="xs:string" />
        <xs:element name="removedbeannames" type="xs:string" />
        <xs:element name="removedbeanproperties" type="xs:anyType" />
        <xs:element name="replacebeanproperties" type="xs:anyType" />
        <xs:element name="nonelazybeannames" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aopproxyutils" >
      <xs:complexContent>
       <xs:extension base="advice>">
         <xs:sequence>
          <xs:element name="///////////////////////////////////内部使用的反射静态字段/////////////////////////////////////jdk动态代理字段相关jdkdynamicproxy_h_" type="xs:anyType" />
          <xs:element name="jdkdynamicaopproxy_" type="xs:anyType" />
          <xs:element name="jdkdynamicaopproxy_advised_" type="xs:anyType" />
          <xs:element name="//cglib代理相关字段cglibaopproxy_" type="xs:anyType" />
          <xs:element name="cglibaopproxy$dynamicadvisedinterceptor_" type="xs:anyType" />
          <xs:element name="cglibaopproxy$dynamicadvisedinterceptor_advised_" type="xs:anyType" />
          <xs:element name="//proxyfactory相关字段proxyfactory_" type="xs:anyType" />
          <xs:element name="proxyfactory_targetsource_" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseservice" >
      <xs:complexContent>
       <xs:extension base="abstractentity,">
         <xs:sequence>
          <xs:element name="baserepository" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="//所属模块module" type="xs:string" />
          <xs:element name="/***错误码*/code" type="xs:string" />
          <xs:element name="args" type="xs:anyType" />
          <xs:element name="/***错误消息*/defaultmessage" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basetreeableservice" >
      <xs:complexContent>
       <xs:extension base="baseentity<id>">
         <xs:sequence>
          <xs:element name="delete_children_ql" type="xs:string" />
          <xs:element name="update_children_parent_ids_ql" type="xs:string" />
          <xs:element name="find_self_and_next_siblings_ql" type="xs:string" />
          <xs:element name="find_next_weight_ql" type="xs:string" />
          <xs:element name="" type="repositoryhelper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basemovableservice" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="//权重的步长steplength" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stateable" >
      <xs:complexContent>
       <xs:extension base="enum<?">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logicdeleteable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treeable" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basemovablecontroller" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ztree" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="p" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="iconskin" type="xs:string" />
          <xs:element name="open" type="xs:anyType" />
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="isparent" type="xs:anyType" />
          <xs:element name="nocheck" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basetreeablecontroller" >
      <xs:complexContent>
       <xs:extension base="baseentity<id>">
         <xs:sequence>
          <xs:element name="baseservice" type="xs:anyType" />
          <xs:element name="" type="permissionlist" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reflectutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagesutils" >
      <xs:sequence>
        <xs:element name="images_suffixes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forbiddenwordutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/***默认的遮罩文字*/default_mask" type="xs:string" />
        <xs:element name="/***屏蔽关键词抓取的url*/forbiddenwordfetchurl" type="xs:string" />
        <xs:element name="/***屏蔽关键词抓取时间间隔毫秒*///10分钟reloaderval" type="xs:long" />
        <xs:element name="/***屏蔽关键词*/forbiddenwords" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iputils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prettymemoryutils" >
      <xs:sequence>
        <xs:element name="unit" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prettytimeutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logutils" >
      <xs:sequence>
        <xs:element name="error_log" type="xs:anyType" />
        <xs:element name="access_log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sishuokwhitelist" >
      <xs:complexContent>
       <xs:extension base="typedvalue">
         <xs:sequence>
          <xs:element name="tagnames" type="xs:anyType" />
          <xs:element name="attributes" type="xs:anyType" />
          <xs:element name="enforcedattributes" type="xs:anyType" />
          <xs:element name="protocols" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sishuokcleaner" >
      <xs:sequence>
        <xs:element name="whitelist" type="sishuokwhitelist" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="remotefilefetcher" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="fileconent" type="xs:anyType" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="lastmodified" type="xs:long" />
        <xs:element name="connecttimeout" type="xs:long" />
        <xs:element name="readtimeout" type="xs:long" />
        <xs:element name="listener" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filecharset" >
      <xs:sequence>
        <xs:element name="default_charset" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="descoder" >
      <xs:complexContent>
       <xs:extension base="coder">
         <xs:sequence>
          <xs:element name="secretkeysecretkey" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coder" >
      <xs:sequence>
        <xs:element name="key_sha" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="base32" >
      <xs:sequence>
        <xs:element name="base32chars" type="xs:string" />
        <xs:element name="base32lookup" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ciphertools" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="charset_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5utils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springutils" >
      <xs:sequence>
        <xs:element name="//spring应用上下文环境beanfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="/***操作名称*/op_name" type="xs:string" />
        <xs:element name="/***消息key*/message" type="xs:string" />
        <xs:element name="/***错误key*/error" type="xs:string" />
        <xs:element name="/***上个页面地址*/back_url" type="xs:string" />
        <xs:element name="ignore_back_url" type="xs:string" />
        <xs:element name="/***当前请求的地址带参数*/current_url" type="xs:string" />
        <xs:element name="/***当前请求的地址不带参数*/no_query_current_url" type="xs:string" />
        <xs:element name="context_path" type="xs:string" />
        <xs:element name="/***当前登录的用户*/current_user" type="xs:string" />
        <xs:element name="current_username" type="xs:string" />
        <xs:element name="encoding" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basecacheaspect" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="cachename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="update" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="create" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentity" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseoracleentity" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="id" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booleanenum" >
      <xs:sequence>
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="availableenum" >
      <xs:sequence>
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="info" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchable" >
      <xs:complexContent>
       <xs:extension base="searchfilter>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchrequest" >
      <xs:complexContent>
       <xs:extension base="searchable">
         <xs:sequence>
          <xs:element name="searchfiltermap" type="xs:anyType" />
          <xs:element name="/***使用这个的目的是保证拼sql的顺序是按照添加时的顺序*/searchfilters" type="searchfilter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="page" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="converted" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="andcondition" >
      <xs:sequence>
        <xs:element name="andfilters" type="searchfilter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchfilterhelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orcondition" >
      <xs:sequence>
        <xs:element name="orfilters" type="searchfilter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="condition" >
      <xs:sequence>
        <xs:element name="//查询参数分隔符separator" type="xs:string" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="searchproperty" type="xs:string" />
        <xs:element name="operator" type="searchoperator" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchoperator" >
      <xs:sequence>
        <xs:element name="info" type="xs:string" />
        <xs:element name="symbol" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchableconvertutils" >
      <xs:complexContent>
       <xs:extension base="comparable>">
         <xs:sequence>
          <xs:element name="volatile" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invlidsearchoperatorexception" >
      <xs:complexContent>
       <xs:extension base="searchexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchexception" >
      <xs:complexContent>
       <xs:extension base="nestedruntimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidsearchpropertyexception" >
      <xs:complexContent>
       <xs:extension base="searchexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidsearchvalueexception" >
      <xs:complexContent>
       <xs:extension base="searchexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 