fullstack989/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="initialpublicofferingserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialpublicofferingserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="initialpublicofferingdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialpublicofferingrestcontroller" >
      <xs:sequence>
        <xs:element name="ur" type="initialpublicofferingdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialpublicofferingdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<initialpublicoffering,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="initialpublicofferingserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialpublicofferingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialpublicoffering" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="company_name" type="xs:string" />
        <xs:element name="stock_exchange" type="xs:string" />
        <xs:element name="price_per_share" type="xs:double" />
        <xs:element name="total_shares" type="xs:double" />
        <xs:element name="opendatetime" type="xs:anyType" />
        <xs:element name="remarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 