CO/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sdlcsystem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="baseurl" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="externalid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sdlcsystem" nillable="true" minOccurs="0" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 