AntiGerryManderingTool/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="precinctspart5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart16" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart17" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart15" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart14" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart10" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart28" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart29" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart11" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart13" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart12" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart23" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart22" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart20" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart18" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart19" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart21" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart32" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart25" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart24" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="texas_districts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart31" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart26" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctspart27" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="voting_precincts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="us-states" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="votes" >
      <xs:sequence>
        <xs:element name="//@manytoone//@joincolumn(name" type="xs:anyType" />
        <xs:element name="////@column(name" type="electiontype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electiontype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gerrymanderserverapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partyname" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edge" >
      <xs:sequence>
        <xs:element name="neighbor1" type="cluster" nillable="true" minOccurs="0" />
        <xs:element name="neighbor2" type="cluster" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gerrymandercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="algorithm" nillable="true" minOccurs="0" />
        <xs:element name="precinctqueue" type="xs:anyType" />
        <xs:element name="queuestatus" type="precinct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="queuestatus" type="xs:long" />
        <xs:element name="districtqueue" type="district" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stateinterface" >
      <xs:complexContent>
       <xs:extension base="precinctinterface,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="precinctinterface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="districtinterface" >
      <xs:complexContent>
       <xs:extension base="precinctinterface>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultmeasures" >
      <xs:sequence>
        <xs:element name="//amapthatgivesafunctiontogeneratethe"weights"foragivenmeasure,usuallyjustaconstantfunctionf(district)" type="xs:anyType" />
        <xs:element name="defaultactivationfunction" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cluster" >
      <xs:complexContent>
       <xs:extension base="district{">
         <xs:sequence>
          <xs:element name="edges" type="edge" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="precinctscluster" type="precinct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="clusterdemographics" type="xs:anyType" />
          <xs:element name="elections" type="xs:anyType" />
          <xs:element name="ismajorityminority" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="statename" type="xs:string" />
        <xs:element name="numprecincts" type="xs:long" />
        <xs:element name="nummajorityminorityprecincts" type="xs:long" />
        <xs:element name="majorityminorityprecincts" type="xs:anyType" />
        <xs:element name="demographiccompositions" type="xs:anyType" />
        <xs:element name="votingcompositions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="measure" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myalgorithm" >
      <xs:complexContent>
       <xs:extension base="algorithm">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="algorithm" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
        <xs:element name="precinctdistrictmap" type="xs:anyType" />
        <xs:element name="districtscorefunction" type="xs:anyType" />
        <xs:element name="currentscores" type="xs:anyType" />
        <xs:element name="current" type="district" nillable="true" minOccurs="0" />
        <xs:element name="factors" type="xs:anyType" />
        <xs:element name="weights" type="xs:anyType" />
        <xs:element name="popthreshmax" type="xs:double" />
        <xs:element name="popthreshmin" type="xs:double" />
        <xs:element name="votethresh" type="xs:double" />
        <xs:element name="targetnumdist" type="xs:long" />
        <xs:element name="dem" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="measurefunction" >
      <xs:complexContent>
       <xs:extension base="precinctinterface,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sortbypopulation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonmaker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demographic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinctdao" >
      <xs:sequence>
        <xs:element name="database_url" type="xs:string" />
        <xs:element name="database_username" type="xs:string" />
        <xs:element name="database_password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clusterdao" >
      <xs:sequence>
        <xs:element name="//jdbc:mysql://mysql4.cs.stonybrook.edu:3306/?user" type="xs:string" />
        <xs:element name="database_username" type="xs:string" />
        <xs:element name="database_password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="districtdao" >
      <xs:sequence>
        <xs:element name="//@autowired//entitymanagerentitymanagerdatabase_url" type="xs:string" />
        <xs:element name="database_username" type="xs:string" />
        <xs:element name="database_password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="district" >
      <xs:sequence>
        <xs:element name="//{@column(name" type="xs:string" />
        <xs:element name="//@id//@column(name" type="xs:string" />
        <xs:element name="demographics" type="xs:anyType" />
        <xs:element name="electiondata" type="state" nillable="true" minOccurs="0" />
        <xs:element name="maxx" type="xs:long" />
        <xs:element name="maxy" type="xs:long" />
        <xs:element name="minx" type="xs:long" />
        <xs:element name="miny" type="xs:long" />
        <xs:element name="population" type="xs:long" />
        <xs:element name="gop_vote" type="xs:long" />
        <xs:element name="dem_vote" type="xs:long" />
        <xs:element name="ernaledges" type="xs:long" />
        <xs:element name="externaledges" type="xs:long" />
        <xs:element name="precincts" type="xs:anyType" />
        <xs:element name="borderprecincts" type="precinct" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="boundingcircle" type="xs:anyType" />
        <xs:element name="convexhull" type="xs:anyType" />
        <xs:element name="boundingcircleupdated" type="xs:anyType" />
        <xs:element name="multipolygonupdated" type="xs:anyType" />
        <xs:element name="convexhullupdated" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="precinct" >
      <xs:sequence>
        <xs:element name="//@id//@column(name" type="xs:string" />
        <xs:element name="//@transient" type="xs:anyType" />
        <xs:element name="//@transientgeometryjson" type="xs:string" />
        <xs:element name="//@transientoriginaldistrictid" type="xs:string" />
        <xs:element name="newdistrictid" type="xs:string" />
        <xs:element name="//@transientpopulation" type="xs:long" />
        <xs:element name="//@transientgop_vote" type="xs:long" />
        <xs:element name="//@transientdem_vote" type="xs:long" />
        <xs:element name="//@transientismajorityminority" type="xs:anyType" />
        <xs:element name="precinctdemographics" type="xs:anyType" />
        <xs:element name="//@transientdemographicgroups" type="demographicgroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//@transientvotes" type="votes" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="elections" type="xs:anyType" />
        <xs:element name="//@transientneighborids" type="xs:anyType" />
        <xs:element name="votesperparty" type="xs:anyType" />
        <xs:element name="//@transientuserselected" type="electiontype" nillable="true" minOccurs="0" />
        <xs:element name="//@transientcnty" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="//nameissavedforlaterstorageintothedatabasename" type="xs:string" />
        <xs:element name="districts" type="xs:anyType" />
        <xs:element name="//@onetomany//@mapkey(name" type="xs:anyType" />
        <xs:element name="olddistricts" type="xs:anyType" />
        <xs:element name="clusters" type="cluster" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="majminclusters" type="cluster" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="majminprecinctstats" type="result" nillable="true" minOccurs="0" />
        <xs:element name="uservotethreshold" type="xs:double" />
        <xs:element name="userdemographicthreshold" type="xs:double" />
        <xs:element name="userselectedelection" type="electiontype" nillable="true" minOccurs="0" />
        <xs:element name="//booleanclusterlistmodifiedpopulation" type="xs:long" />
        <xs:element name="combinedclusters" type="cluster" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="visited" type="cluster" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="dem" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stateoutline" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="geometry" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demographicgroup" >
      <xs:sequence>
        <xs:element name="//@column(name" type="demographic" nillable="true" minOccurs="0" />
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="//@manytoone" type="precinct" nillable="true" minOccurs="0" />
        <xs:element name="//@id//@column(name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="move" >
      <xs:complexContent>
       <xs:extension base="precinctinterface,">
         <xs:sequence>
          <xs:element name="to" type="district" nillable="true" minOccurs="0" />
          <xs:element name="from" type="district" nillable="true" minOccurs="0" />
          <xs:element name="" type="precinct" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="factor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="election" >
      <xs:sequence>
        <xs:element name="pctkey" type="xs:string" />
        <xs:element name="GeneratedName" type="electiontype" nillable="true" minOccurs="0" />
        <xs:element name="party" type="partyname" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gerrymanderserverapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 