alore/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hotelentity" >
      <xs:sequence>
        <xs:element name="hotelid" type="xs:anyType" />
        <xs:element name="hotelname" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="totalrooms" type="xs:anyType" />
        <xs:element name="costperroom" type="xs:anyType" />
        <xs:element name="wifiavailable" type="xs:anyType" />
        <xs:element name="acavailable" type="xs:anyType" />
        <xs:element name="restaurantavailable" type="xs:anyType" />
        <xs:element name="mealsincluded" type="xs:anyType" />
        <xs:element name="isrelevance" type="xs:anyType" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="lastupdatedts" type="xs:anyType" />
        <xs:element name="createdts" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hotelreviewentity" >
      <xs:sequence>
        <xs:element name="hotelid" type="xs:anyType" />
        <xs:element name="revieweremail" type="xs:string" />
        <xs:element name="rating" type="xs:anyType" />
        <xs:element name="comments" type="xs:string" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="reviewedts" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="isdeleted" type="xs:anyType" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="createdts" type="xs:anyType" />
        <xs:element name="lastupdatedts" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 