devops-automation-ksd-kc5.2.1-rice4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="urlfactorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanpropertycomparatortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagemaptest" >
      <xs:sequence>
        <xs:element name="mixed_list_pattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notetypetest" >
      <xs:sequence>
        <xs:element name="dummy" type="notetype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistableattachmentbasetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistableattachmentbase" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valuefinder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="noteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencestructureservice" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectextension>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inactivateablefromtoservice" >
      <xs:complexContent>
       <xs:extension base="inactivatablefromto>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessobjectservice" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequenceaccessorservice" >
      <xs:complexContent>
       <xs:extension base="businessobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="serializerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesservice" >
      <xs:complexContent>
       <xs:extension base="businessobject>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kradservicelocator" >
      <xs:sequence>
        <xs:element name="attachment_service" type="xs:string" />
        <xs:element name="persistence_service" type="xs:string" />
        <xs:element name="persistence_structure_service" type="xs:string" />
        <xs:element name="note_service" type="xs:string" />
        <xs:element name="business_object_service" type="xs:string" />
        <xs:element name="kuali_configuration_service" type="xs:string" />
        <xs:element name="entity_manager_factory" type="xs:string" />
        <xs:element name="application_entity_manager_factory" type="xs:string" />
        <xs:element name="xml_object_serializer_service" type="xs:string" />
        <xs:element name="xml_object_serializer_ignore_missing_fields_service" type="xs:string" />
        <xs:element name="serializer_service" type="xs:string" />
        <xs:element name="sequence_accessor_service" type="xs:string" />
        <xs:element name="key_values_service" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlobjectserializerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessobjectserializerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersessionutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersession" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="backdooruser" type="xs:anyType" />
        <xs:element name="nextobjectkey" type="xs:anyType" />
        <xs:element name="objectmap" type="xs:anyType" />
        <xs:element name="kualisessionid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="urlfactory" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="/***createsanewurlbytakingthegivenurlandappendingtheparameternamesandvaluesfromthegivenpropertiesinstanceto*it.note:parameternamesmustbenon-blankparametervaluesmustbenon-null.**@parambaseurltheurlstringusedasthebasisforreconstruction*@paramparamspropertiesinstancecontainingthedesiredparametersandtheirvalues*@throwsillegalargumentexceptionifthegivenurlisnullorempty*@throwsillegalargumentexceptionifthegivenpropertiesinstanceisnull*@throwsillegalargumentexceptionifaparameternameisnullorempty,oraparametervalueisnull*@throwsruntimeexceptionifthereisaproblemencodingaparameternameorvalueintoutf-8*@returnanewly-constructedurlstringwhichhasthegivenparametersandtheirvaluesappendedtoit*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notetype" >
      <xs:sequence>
        <xs:element name="notetypecode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanpropertycomparator" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="ignorecase" type="xs:anyType" />
          <xs:element name="propertynames" type="xs:anyType" />
          <xs:element name="string" type="xs:anyType" />
          <xs:element name="boolean" type="xs:anyType" />
          <xs:element name="generic" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="externalizablebusinessobjectutils" >
      <xs:complexContent>
       <xs:extension base="{@link">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foreignkeyfieldspopulationstate" >
      <xs:sequence>
        <xs:element name="allfieldspopulated" type="xs:anyType" />
        <xs:element name="anyfieldspopulated" type="xs:anyType" />
        <xs:element name="unpopulatedfieldnames" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradconstants" >
      <xs:sequence>
        <xs:element name="module_name" type="xs:string" />
        <xs:element name="kr_module_name" type="xs:string" />
        <xs:element name="//veryspecialuserusedinthepost-processorandseveralservices.note,this//usermustexistinthekimprincipalandentitytables,orelsemanymechanisms//willbreak.system_user" type="xs:string" />
        <xs:element name="krad_url_key" type="xs:string" />
        <xs:element name="krad_inquiry_url_key" type="xs:string" />
        <xs:element name="krad_lookup_url_key" type="xs:string" />
        <xs:element name="krad_server_lookup_url_key" type="xs:string" />
        <xs:element name="krad_initiated_document_url_key" type="xs:string" />
        <xs:element name="krad_initiated_document_view_name" type="xs:string" />
        <xs:element name="param_maintenance_view_mode" type="xs:string" />
        <xs:element name="param_maintenance_view_mode_maintenance" type="xs:string" />
        <xs:element name="param_maintenance_view_mode_lookup" type="xs:string" />
        <xs:element name="param_maintenance_view_mode_inquiry" type="xs:string" />
        <xs:element name="kns_namespace" type="xs:string" />
        <xs:element name="krad_namespace" type="xs:string" />
        <xs:element name="kuali_rice_system_namespace" type="xs:string" />
        <xs:element name="kuali_rice_workflow_namespace" type="xs:string" />
        <xs:element name="kuali_rice_service_bus_namespace" type="xs:string" />
        <xs:element name="kuali_action_can_edit" type="xs:string" />
        <xs:element name="kuali_action_can_annotate" type="xs:string" />
        <xs:element name="kuali_action_can_close" type="xs:string" />
        <xs:element name="kuali_action_can_save" type="xs:string" />
        <xs:element name="kuali_action_can_route" type="xs:string" />
        <xs:element name="kuali_action_can_cancel" type="xs:string" />
        <xs:element name="kuali_action_can_recall" type="xs:string" />
        <xs:element name="kuali_action_can_reload" type="xs:string" />
        <xs:element name="kuali_action_can_copy" type="xs:string" />
        <xs:element name="kuali_action_perform_route_report" type="xs:string" />
        <xs:element name="kuali_action_can_ad_hoc_route" type="xs:string" />
        <xs:element name="kuali_action_can_blanket_approve" type="xs:string" />
        <xs:element name="kuali_action_can_acknowledge" type="xs:string" />
        <xs:element name="kuali_action_can_fyi" type="xs:string" />
        <xs:element name="kuali_action_can_approve" type="xs:string" />
        <xs:element name="kuali_action_can_disapprove" type="xs:string" />
        <xs:element name="kuali_action_can_create" type="xs:string" />
        <xs:element name="kuali_action_can_send_adhoc_requests" type="xs:string" />
        <xs:element name="kuali_action_can_add_adhoc_requests" type="xs:string" />
        <xs:element name="kuali_action_can_send_note_fyi" type="xs:string" />
        <xs:element name="kuali_action_can_edit_document_overview" type="xs:string" />
        <xs:element name="kuali_action_can_export" type="xs:string" />
        <xs:element name="kuali_default_true_value" type="xs:string" />
        <xs:element name="use_cache_administration_screen" type="xs:string" />
        <xs:element name="kuali_action_can_complete" type="xs:string" />
        <xs:element name="max_upload_size_parm_nm" type="xs:string" />
        <xs:element name="uploaded_file_request_attribute_key" type="xs:string" />
        <xs:element name="note_workflow_notification_request_label" type="xs:string" />
        <xs:element name="send_note_workflow_notification_actions_parm_nm" type="xs:string" />
        <xs:element name="attachment_max_file_size_parm_nm" type="xs:string" />
        <xs:element name="document_http_session_key" type="xs:string" />
        <xs:element name="//configuration_file_name" type="xs:string" />
        <xs:element name="message_resources" type="xs:string" />
        <xs:element name="//version_key" type="xs:string" />
        <xs:element name="attachments_directory_key" type="xs:string" />
        <xs:element name="attachments_pending_directory_key" type="xs:string" />
        <xs:element name="//htdocs_logs_url_key" type="xs:string" />
        <xs:element name="application_externalizable_images_url_key" type="xs:string" />
        <xs:element name="externalizable_images_url_key" type="xs:string" />
        <xs:element name="attachment_image_prefix" type="xs:string" />
        <xs:element name="attachment_image_default" type="xs:string" />
        <xs:element name="//reports_directory_key" type="xs:string" />
        <xs:element name="kuali_rice_url_key" type="xs:string" />
        <xs:element name="prod_environment_code_key" type="xs:string" />
        <xs:element name="doc_handler_action" type="xs:string" />
        <xs:element name="dochandler_do_url" type="xs:string" />
        <xs:element name="dochandler_url_chunk" type="xs:string" />
        <xs:element name="superuser_action" type="xs:string" />
        <xs:element name="//database_repository_files_list_name" type="xs:string" />
        <xs:element name="//job_names_list_name" type="xs:string" />
        <xs:element name="add_line_method" type="xs:string" />
        <xs:element name="add_prefix" type="xs:string" />
        <xs:element name="yes_indicator_value" type="xs:string" />
        <xs:element name="no_indicator_value" type="xs:string" />
        <xs:element name="//amount_property_name" type="xs:string" />
        <xs:element name="back_location" type="xs:string" />
        <xs:element name="backdoor_parameter" type="xs:string" />
        <xs:element name="logoff_redirect_url_parameter" type="xs:string" />
        <xs:element name="logoff_redirect_url_property" type="xs:string" />
        <xs:element name="portal_allowed_regex" type="xs:string" />
        <xs:element name="//blanket_approve_method" type="xs:string" />
        <xs:element name="data_object_class_attribute" type="xs:string" />
        <xs:element name="calling_method" type="xs:string" />
        <xs:element name="/***the{@linkorg.kuali.rice.kns.question.confirmationquestion}bean*/confirmation_question" type="xs:string" />
        <xs:element name="/***the{@linkorg.kuali.rice.kns.question.recallquestion}bean*/recall_question" type="xs:string" />
        <xs:element name="conversion_fields_parameter" type="xs:string" />
        <xs:element name="fields_conversion_parameter" type="xs:string" />
        <xs:element name="lookup_read_only_fields" type="xs:string" />
        <xs:element name="lookup_auto_search" type="xs:string" />
        <xs:element name="search_method" type="xs:string" />
        <xs:element name="//default_return_location" type="xs:string" />
        <xs:element name="toggle_inactive_method" type="xs:string" />
        <xs:element name="dictionary_bo_name" type="xs:string" />
        <xs:element name="dispatch_request_parameter" type="xs:string" />
        <xs:element name="/***constantdefinedtomatchwithmethodcallinmodule-locked.jspwhichis*settoamessagethatisdisplayedwhenthemoduleislocked.*/module_locked_message_request_parameter" type="xs:string" />
        <xs:element name="custom_action" type="xs:string" />
        <xs:element name="doc_form_key" type="xs:string" />
        <xs:element name="form_key" type="xs:string" />
        <xs:element name="new_note_note_type_code" type="xs:string" />
        <xs:element name="post_text_area_to_parent" type="xs:string" />
        <xs:element name="document_cancel_question" type="xs:string" />
        <xs:element name="//document_delete_question" type="xs:string" />
        <xs:element name="document_recall_question" type="xs:string" />
        <xs:element name="document_sensitive_data_question" type="xs:string" />
        <xs:element name="//document_header_id" type="xs:string" />
        <xs:element name="document_save_before_close_question" type="xs:string" />
        <xs:element name="extra_button_source" type="xs:string" />
        <xs:element name="extra_button_params" type="xs:string" />
        <xs:element name="advanced_search_field" type="xs:string" />
        <xs:element name="new_ad_hoc_route_person_property_name" type="xs:string" />
        <xs:element name="new_ad_hoc_route_workgroup_property_name" type="xs:string" />
        <xs:element name="existing_ad_hoc_route_person_property_name" type="xs:string" />
        <xs:element name="existing_ad_hoc_route_workgroup_property_name" type="xs:string" />
        <xs:element name="document_property_name" type="xs:string" />
        <xs:element name="document_type_name" type="xs:string" />
        <xs:element name="edit_prefix" type="xs:string" />
        <xs:element name="empty_" type="xs:string" />
        <xs:element name="field_conversion_pair_separator" type="xs:string" />
        <xs:element name="field_conversions_separator" type="xs:string" />
        <xs:element name="references_to_refresh_separator" type="xs:string" />
        <xs:element name="restricted_data_mask" type="xs:string" />
        <xs:element name="//generic_field_name" type="xs:string" />
        <xs:element name="copy_keys" type="xs:string" />
        <xs:element name="krad_application_datasource" type="xs:string" />
        <xs:element name="krad_application_datasource_jndi" type="xs:string" />
        <xs:element name="//****************beginnote&attachmentsdefines/***propertynamefornewdocument-valueis"newnote"*/new_document_note_property_name" type="xs:string" />
        <xs:element name="/***propertynamefornotetext-valueis"notetext"*/note_text_property_name" type="xs:string" />
        <xs:element name="/***propertynamefornotetopictext-valueis"notetopictext"*/note_topic_text_property_name" type="xs:string" />
        <xs:element name="/***propertynamefornoteattachment-valueis"attachmentfile"*/note_attachment_file_property_name" type="xs:string" />
        <xs:element name="*enablenoteattachments" type="xs:string" />
        <xs:element name="//****************endnote&attachmentsdefines/***thisvalueisthenameoftheparamforthedefaultmaxcolumnlengthofalookupresultfieldifthefieldmaxlength*hasnotbeendefinedinthedd*/results_default_max_column_length" type="xs:string" />
        <xs:element name="///**//*thenumberoflevelsbusinessobjectdictionaryserviceimplwillrecurse.ifthisnumberishigh,itmayleadtoserious//*performanceproblems//*///intbusiness_object_dictionary_service_perform_force_uppercase_recursion_max_depth" type="xs:string" />
        <xs:element name="document_annotation_max_length" type="xs:long" />
        <xs:element name="hide_lookup_return_link" type="xs:string" />
        <xs:element name="suppress_actions" type="xs:string" />
        <xs:element name="references_to_refresh" type="xs:string" />
        <xs:element name="inquirable_attribute_name" type="xs:string" />
        <xs:element name="inquiry_action" type="xs:string" />
        <xs:element name="portal_action" type="xs:string" />
        <xs:element name="direct_inquiry_action" type="xs:string" />
        <xs:element name="continue_with_inquiry_method_to_call" type="xs:string" />
        <xs:element name="inquiry_pk_value_passed_from_previous_request_prefix" type="xs:string" />
        <xs:element name="inactive_record_display_param_prefix" type="xs:string" />
        <xs:element name="field_name_to_focus_on_after_submit" type="xs:string" />
        <xs:element name="default_parameter_application_id" type="xs:string" />
        <xs:element name="default_namespace" type="xs:string" />
        <xs:element name="lookup_action" type="xs:string" />
        <xs:element name="multiple_value_lookup_action" type="xs:string" />
        <xs:element name="lookup_results_sequence_number" type="xs:string" />
        <xs:element name="lookup_results_bo_class_name" type="xs:string" />
        <xs:element name="looked_up_collection_name" type="xs:string" />
        <xs:element name="multiple_value_lookup_previously_selected_obj_ids_param" type="xs:string" />
        <xs:element name="multiple_value_lookup_obj_ids_separator" type="xs:string" />
        <xs:element name="multiple_value_lookup_displayed_obj_id_param_prefix" type="xs:string" />
        <xs:element name="multiple_value_lookup_selected_obj_id_param_prefix" type="xs:string" />
        <xs:element name="lookup_anchor" type="xs:string" />
        <xs:element name="lookupable_impl_attribute_name" type="xs:string" />
        <xs:element name="lookup_results_sequence" type="xs:string" />
        <xs:element name="kuali_lookupable_impl" type="xs:string" />
        <xs:element name="parameter_doc_id" type="xs:string" />
        <xs:element name="parameter_command" type="xs:string" />
        <xs:element name="action_class" type="xs:string" />
        <xs:element name="namespace_code" type="xs:string" />
        <xs:element name="component_name" type="xs:string" />
        <xs:element name="//lookup_method" type="xs:string" />
        <xs:element name="lookup_default_range_search_upper_bound_label" type="xs:string" />
        <xs:element name="lookup_range_lower_bound_property_prefix" type="xs:string" />
        <xs:element name="lookup_range_upper_bound_property_prefix" type="xs:string" />
        <xs:element name="lookup_parameter_literal_prefix" type="xs:string" />
        <xs:element name="lookup_parameter_literal_delimiter" type="xs:string" />
        <xs:element name="method_display_doc_search_view" type="xs:string" />
        <xs:element name="maintenance_action" type="xs:string" />
        <xs:element name="maintenance_add_prefix" type="xs:string" />
        <xs:element name="maintenance_copy_action" type="xs:string" />
        <xs:element name="maintenance_edit_action" type="xs:string" />
        <xs:element name="maintenance_delete_action" type="xs:string" />
        <xs:element name="maintenance_new_action" type="xs:string" />
        <xs:element name="maintenance_copy_method_to_call" type="xs:string" />
        <xs:element name="maintenance_edit_method_to_call" type="xs:string" />
        <xs:element name="maintenance_delete_method_to_call" type="xs:string" />
        <xs:element name="maintenance_new_method_to_call" type="xs:string" />
        <xs:element name="maintenance_newwithexisting_action" type="xs:string" />
        <xs:element name="maintenance_actn" type="xs:string" />
        <xs:element name="maintenance_new_maintainable" type="xs:string" />
        <xs:element name="maintenance_old_maintainable" type="xs:string" />
        <xs:element name="mapping_cancel" type="xs:string" />
        <xs:element name="mapping_recall" type="xs:string" />
        <xs:element name="mapping_close" type="xs:string" />
        <xs:element name="mapping_disapprove" type="xs:string" />
        <xs:element name="//mapping_delete" type="xs:string" />
        <xs:element name="mapping_portal" type="xs:string" />
        <xs:element name="//mapping_multiple_value_lookup" type="xs:string" />
        <xs:element name="//maxlength_suffix" type="xs:string" />
        <xs:element name="method_to_call_path" type="xs:string" />
        <xs:element name="method_to_call_boparm_left_del" type="xs:string" />
        <xs:element name="method_to_call_boparm_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm1_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm1_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm2_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm2_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm3_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm3_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm4_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm4_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm5_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm5_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm6_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm6_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm7_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm7_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm8_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm8_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm9_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm9_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm10_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm10_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm11_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm11_right_del" type="xs:string" />
        <xs:element name="method_to_call_parm12_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm12_right_del" type="xs:string" />
        <xs:element name="//below2fieldsusedinrowdisplay.tagfilemethod_to_call_parm13_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm13_right_del" type="xs:string" />
        <xs:element name="//usedforbaselookupurlmethod_to_call_parm14_left_del" type="xs:string" />
        <xs:element name="method_to_call_parm14_right_del" type="xs:string" />
        <xs:element name="//ifmoresneeded,thenaddmorecolonstotheparm11sabove,e.g.(::(:::,etc.//pessimisticlockingconstantssession_timeout_warning_message_time_parm_nm" type="xs:string" />
        <xs:element name="session_timeout_warning_milliseconds" type="xs:string" />
        <xs:element name="session_timeout_warning_minutes" type="xs:string" />
        <xs:element name="anchor" type="xs:string" />
        <xs:element name="anchor_top_of_form" type="xs:string" />
        <xs:element name="question_anchor" type="xs:string" />
        <xs:element name="not_available_" type="xs:string" />
        <xs:element name="question_action" type="xs:string" />
        <xs:element name="question_clicked_button" type="xs:string" />
        <xs:element name="question_error_key" type="xs:string" />
        <xs:element name="question_error_property_name" type="xs:string" />
        <xs:element name="question_error_parameter" type="xs:string" />
        <xs:element name="question_impl_attribute_name" type="xs:string" />
        <xs:element name="question_inst_attribute_name" type="xs:string" />
        <xs:element name="question_page_title" type="xs:string" />
        <xs:element name="question_refresh" type="xs:string" />
        <xs:element name="question_context" type="xs:string" />
        <xs:element name="question_text_attribute_name" type="xs:string" />
        <xs:element name="question_reason_attribute_name" type="xs:string" />
        <xs:element name="question_show_reason_field" type="xs:string" />
        <xs:element name="refresh_caller" type="xs:string" />
        <xs:element name="refresh_caller_type" type="xs:string" />
        <xs:element name="refresh_data_object_class" type="xs:string" />
        <xs:element name="refresh_mapping_prefix" type="xs:string" />
        <xs:element name="//belowfieldusedintagfilesrequired_field_symbol" type="xs:string" />
        <xs:element name="return_location_parameter" type="xs:string" />
        <xs:element name="return_method_to_call" type="xs:string" />
        <xs:element name="//anotherpossiblevalueforthe"refreshcaller"requestparameter,asafixforkulrice-2903.text_area_refresh" type="xs:string" />
        <xs:element name="//belowfieldusedintagfiles//kualidocumentactionbasemethodnamesroute_method" type="xs:string" />
        <xs:element name="save_method" type="xs:string" />
        <xs:element name="approve_method" type="xs:string" />
        <xs:element name="blanket_approve_method" type="xs:string" />
        <xs:element name="doc_handler_method" type="xs:string" />
        <xs:element name="close_method" type="xs:string" />
        <xs:element name="cancel_method" type="xs:string" />
        <xs:element name="load_document_method" type="xs:string" />
        <xs:element name="create_document_method" type="xs:string" />
        <xs:element name="disapprove_method" type="xs:string" />
        <xs:element name="fyi_method" type="xs:string" />
        <xs:element name="acknowledge_method" type="xs:string" />
        <xs:element name="download_bo_attachment_method" type="xs:string" />
        <xs:element name="download_custom_bo_attachment_method" type="xs:string" />
        <xs:element name="note_identifier" type="xs:string" />
        <xs:element name="bo_attachment_file_name" type="xs:string" />
        <xs:element name="bo_attachment_file_content_type" type="xs:string" />
        <xs:element name="bo_attachment_file_content_field" type="xs:string" />
        <xs:element name="//specializedmethod'delete'usedonlyforpessimisticlockscurrentlydelete_method" type="xs:string" />
        <xs:element name="start_method" type="xs:string" />
        <xs:element name="user_session_key" type="xs:string" />
        <xs:element name="kuali_session_id" type="xs:string" />
        <xs:element name="exiting_document" type="xs:string" />
        <xs:element name="document_document_number" type="xs:string" />
        <xs:element name="doc_num" type="xs:string" />
        <xs:element name="search_list_key_prefix" type="xs:string" />
        <xs:element name="search_list_request_key" type="xs:string" />
        <xs:element name="method_display_all_inactivation_blockers" type="xs:string" />
        <xs:element name="display_all_inactivation_blockers_action" type="xs:string" />
        <xs:element name="global_errors" type="xs:string" />
        <xs:element name="global_messages" type="xs:string" />
        <xs:element name="pessimistic_lock_messages" type="xs:string" />
        <xs:element name="ad_hoc_route_person_errors" type="xs:string" />
        <xs:element name="ad_hoc_route_workgroup_errors" type="xs:string" />
        <xs:element name="ad_hoc_route_errors" type="xs:string" />
        <xs:element name="document_document_errors" type="xs:string" />
        <xs:element name="document_explanation_errors" type="xs:string" />
        <xs:element name="document_reversal_errors" type="xs:string" />
        <xs:element name="document_selected_errors" type="xs:string" />
        <xs:element name="document_header_errors" type="xs:string" />
        <xs:element name="//document_errors_less_document" type="xs:string" />
        <xs:element name="//belowfieldusedintagfilesdocument_notes_errors" type="xs:string" />
        <xs:element name="//exportformatsxml_format" type="xs:string" />
        <xs:element name="excel_format" type="xs:string" />
        <xs:element name="csv_format" type="xs:string" />
        <xs:element name="xml_mime_type" type="xs:string" />
        <xs:element name="//headertabnavigationconstantvaluesnavigate_to" type="xs:string" />
        <xs:element name="header_dispatch" type="xs:string" />
        <xs:element name="multiple_value" type="xs:string" />
        <xs:element name="//agencytypecodes//agency_type_code_federal" type="xs:string" />
        <xs:element name="//websessiondocument_web_scope" type="xs:string" />
        <xs:element name="session_scope" type="xs:string" />
        <xs:element name="default_num_of_columns" type="xs:long" />
        <xs:element name="tab_states" type="xs:string" />
        <xs:element name="always_valid_parameter_prefixes" type="xs:anyType" />
        <xs:element name="global_variables_messages_list_action_messages" type="xs:string" />
        <xs:element name="enable_nonproduction_unmasking" type="xs:string" />
        <xs:element name="single_quote" type="xs:string" />
        <xs:element name="sensitive_data_question_session_ticket" type="xs:string" />
        <xs:element name="editable_properties_history_holder_attr_name" type="xs:string" />
        <xs:element name="//todo:newkradconstants,previousneedstobecleanedupdata_type_" type="xs:string" />
        <xs:element name="data_type_date" type="xs:string" />
        <xs:element name="data_type_long" type="xs:string" />
        <xs:element name="data_type_float" type="xs:string" />
        <xs:element name="data_type_boolean" type="xs:string" />
        <xs:element name="actions_column_title" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionticket" >
      <xs:sequence>
        <xs:element name="tickettypename" type="xs:string" />
        <xs:element name="ticketcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagemap" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="errorpath" type="xs:anyType" />
        <xs:element name="errormessages" type="xs:anyType" />
        <xs:element name="warningmessages" type="xs:anyType" />
        <xs:element name="infomessages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormessage" >
      <xs:sequence>
        <xs:element name="errorkey" type="xs:string" />
        <xs:element name="messageparameters" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradpropertyconstants" >
      <xs:sequence>
        <xs:element name="active" type="xs:string" />
        <xs:element name="active_from_date" type="xs:string" />
        <xs:element name="active_to_date" type="xs:string" />
        <xs:element name="active_as_of_date" type="xs:string" />
        <xs:element name="action_requested" type="xs:string" />
        <xs:element name="active_indicator" type="xs:string" />
        <xs:element name="ad_hoc_route_persons" type="xs:string" />
        <xs:element name="ad_hoc_route_workgroups" type="xs:string" />
        <xs:element name="attachment" type="xs:string" />
        <xs:element name="attribute_control_type" type="xs:string" />
        <xs:element name="attribute_description" type="xs:string" />
        <xs:element name="attribute_formatter_class_name" type="xs:string" />
        <xs:element name="attribute_label" type="xs:string" />
        <xs:element name="attribute_max_length" type="xs:string" />
        <xs:element name="attribute_name" type="xs:string" />
        <xs:element name="attribute_short_label" type="xs:string" />
        <xs:element name="attribute_summary" type="xs:string" />
        <xs:element name="attribute_validating_expression" type="xs:string" />
        <xs:element name="campus" type="xs:string" />
        <xs:element name="campus_code" type="xs:string" />
        <xs:element name="campus_name" type="xs:string" />
        <xs:element name="campus_short_name" type="xs:string" />
        <xs:element name="campus_type_code" type="xs:string" />
        <xs:element name="create_date" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="current" type="xs:string" />
        <xs:element name="data_object_maintenance_code_active_indicator" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="dictionary_business_object_name" type="xs:string" />
        <xs:element name="document" type="xs:string" />
        <xs:element name="document_description" type="xs:string" />
        <xs:element name="document_explanation" type="xs:string" />
        <xs:element name="doc_id" type="xs:string" />
        <xs:element name="document_header" type="xs:string" />
        <xs:element name="document_number" type="xs:string" />
        <xs:element name="document_template_number" type="xs:string" />
        <xs:element name="document_type_code" type="xs:string" />
        <xs:element name="email_address" type="xs:string" />
        <xs:element name="employee_status_code" type="xs:string" />
        <xs:element name="employee_type_code" type="xs:string" />
        <xs:element name="explanation" type="xs:string" />
        <xs:element name="generic_amount" type="xs:string" />
        <xs:element name="generic_big_text" type="xs:string" />
        <xs:element name="generic_boolean" type="xs:string" />
        <xs:element name="generic_date" type="xs:string" />
        <xs:element name="generic_system_id" type="xs:string" />
        <xs:element name="generic_timestamp" type="xs:string" />
        <xs:element name="groups" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="initiator_network_id" type="xs:string" />
        <xs:element name="lookup_date" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="new_document_note" type="xs:string" />
        <xs:element name="new_collection_record" type="xs:string" />
        <xs:element name="new_maintainable_object" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="object_id" type="xs:string" />
        <xs:element name="old_maintainable_object" type="xs:string" />
        <xs:element name="one_digit_text_code" type="xs:string" />
        <xs:element name="owned_by_principal_id" type="xs:string" />
        <xs:element name="owned_by_user" type="xs:string" />
        <xs:element name="percent" type="xs:string" />
        <xs:element name="session_id" type="xs:string" />
        <xs:element name="two_digit_text_code" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="universal_user" type="xs:string" />
        <xs:element name="uu_id" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="version_number" type="xs:string" />
        <xs:element name="workflow_document" type="xs:string" />
        <xs:element name="xml_document_contents" type="xs:string" />
        <xs:element name="last_updated_date" type="xs:string" />
        <xs:element name="postal_country_restricted_indicator" type="xs:string" />
        <xs:element name="postal_country_code" type="xs:string" />
        <xs:element name="alternate_postal_country_code" type="xs:string" />
        <xs:element name="state_code" type="xs:string" />
        <xs:element name="county_code" type="xs:string" />
        <xs:element name="postal_zip_code" type="xs:string" />
        <xs:element name="postal_state_code" type="xs:string" />
        <xs:element name="postal_code" type="xs:string" />
        <xs:element name="//kulrice-8091:adhocroutingtabutilizinggroupsonalldocumentsmissingasterisksrecipient_namespace_code" type="xs:string" />
        <xs:element name="recipient_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notetype" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="notetypecode" type="xs:string" />
          <xs:element name="notetypedescription" type="xs:string" />
          <xs:element name="notetypeactiveindicator" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistableattachment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globalbusinessobjectdetailbase" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="documentnumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectbase" >
      <xs:complexContent>
       <xs:extension base="businessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="versionnumber" type="xs:long" />
          <xs:element name="objectid" type="xs:string" />
          <xs:element name="newcollectionrecord" type="xs:anyType" />
          <xs:element name="extension" type="persistablebusinessobjectextension" nillable="true" minOccurs="0" />
          <xs:element name="transient" type="persistenceservice" nillable="true" minOccurs="0" />
          <xs:element name="transient" type="persistencestructureservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobject" >
      <xs:complexContent>
       <xs:extension base="businessobject,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multiplevaluelookupmetadata" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="lookupresultssequencenumber" type="xs:string" />
          <xs:element name="lookuppersonid" type="xs:string" />
          <xs:element name="/***thetimethelookupdatawaspersisted,usedbyabatchpurgejob*///@transientlookupdate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attachment" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="noteidentifier" type="xs:long" />
          <xs:element name="attachmentmimetypecode" type="xs:string" />
          <xs:element name="attachmentfilename" type="xs:string" />
          <xs:element name="attachmentidentifier" type="xs:string" />
          <xs:element name="attachmentfilesize" type="xs:long" />
          <xs:element name="attachmenttypecode" type="xs:string" />
          <xs:element name="" type="note" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exporter" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectextension" >
      <xs:complexContent>
       <xs:extension base="		persistablebusinessobject">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selectedobjectids" >
      <xs:complexContent>
       <xs:extension base="multiplevaluelookupmetadata">
         <xs:sequence>
          <xs:element name="selectedobjectids" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transientbusinessobjectbase" >
      <xs:complexContent>
       <xs:extension base="businessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inactivatablefromtoimpl" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="activefromdate" type="xs:anyType" />
          <xs:element name="activetodate" type="xs:anyType" />
          <xs:element name="activeasofdate" type="xs:anyType" />
          <xs:element name="current" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="businessobjectbase" >
      <xs:complexContent>
       <xs:extension base="reflectiontostringbuilder">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inactivatablefromto" >
      <xs:complexContent>
       <xs:extension base="mutableinactivatable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalbusinessobjectdetail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="note" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="noteidentifier" type="xs:long" />
          <xs:element name="remoteobjectidentifier" type="xs:string" />
          <xs:element name="authoruniversalidentifier" type="xs:string" />
          <xs:element name="noteposted" type="xs:anyType" />
          <xs:element name="notetypecode" type="xs:string" />
          <xs:element name="notetext" type="xs:string" />
          <xs:element name="notetopictext" type="xs:string" />
          <xs:element name="notepurgecode" type="xs:string" />
          <xs:element name="attachmentidentifier" type="xs:string" />
          <xs:element name="" type="notetype" nillable="true" minOccurs="0" />
          <xs:element name="transientauthoruniversal" type="xs:anyType" />
          <xs:element name="" type="attachment" nillable="true" minOccurs="0" />
          <xs:element name="" type="adhocrouterecipient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistableattachmentbase" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="attachmentcontent" type="xs:anyType" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="contenttype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adhocrouteperson" >
      <xs:complexContent>
       <xs:extension base="adhocrouterecipient">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="transient" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistableattachmentlist" >
      <xs:complexContent>
       <xs:extension base="persistableattachment>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dataobjectrelationship" >
      <xs:sequence>
        <xs:element name="relatedclass" type="xs:anyType" />
        <xs:element name="parentclass" type="xs:anyType" />
        <xs:element name="parentattributename" type="xs:string" />
        <xs:element name="uservisibleidentifierkey" type="xs:string" />
        <xs:element name="parenttochildreferences" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kualicode" >
      <xs:complexContent>
       <xs:extension base="mutableinactivatable,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adhocroutepersonid" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="actionrequested" type="xs:string" />
        <xs:element name="id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adhocrouterecipient" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="actionrequestcds" type="xs:anyType" />
          <xs:element name="person_type" type="xs:anyType" />
          <xs:element name="workgroup_type" type="xs:anyType" />
          <xs:element name="type" type="xs:anyType" />
          <xs:element name="actionrequested" type="xs:string" />
          <xs:element name="//canbenetworkidorgroupidid" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="documentnumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kualicodebase" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//codeandnamewillbeoverriddenbycolumnannotationsintheirchildrenclassescode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="globalbusinessobject" >
      <xs:complexContent>
       <xs:extension base="globalbusinessobjectdetail>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectextensionbase" >
      <xs:complexContent>
       <xs:extension base="		persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="numericvaluecomparator" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="theinstance" type="numericvaluecomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temporalvaluecomparator" >
      <xs:sequence>
        <xs:element name="theinstance" type="temporalvaluecomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringvaluecomparator" >
      <xs:sequence>
        <xs:element name="instance" type="stringvaluecomparator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesbase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesfinder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyvaluesfinderfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="placeholderkeyvaluesfinder" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumvaluesfinder" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
          <xs:element name="enumeration" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="packagepersistablebusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradpersistablebusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistablebusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricelocalcontainerentitymanagerfactorybean" >
      <xs:complexContent>
       <xs:extension base="localcontainerentitymanagerfactorybean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="riceentitymanagerproxyfactorybean" >
      <xs:sequence>
        <xs:element name="factorybean" type="ricelocalcontainerentitymanagerfactorybean" nillable="true" minOccurs="0" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="modulejpaenabledpropertyprefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricetonervoussystembusinessobjectclassexposer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ricepersistenceunitpostprocessor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="krad_application_persistence_unit_name" type="xs:string" />
        <xs:element name="krad_server_persistence_unit_name" type="xs:string" />
        <xs:element name="jta" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessimisticlock" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="default_lock_descriptor" type="xs:string" />
          <xs:element name="//idissequencenumberandprimarykeyid" type="xs:long" />
          <xs:element name="ownedbyprincipalidentifier" type="xs:string" />
          <xs:element name="//thiswillbedefaultedtothevalueofdefault_lock_descriptorconstantabovelockdescriptor" type="xs:string" />
          <xs:element name="generated" type="xs:anyType" />
          <xs:element name="//foreignkeytodocumentdocumentnumber" type="xs:string" />
          <xs:element name="sessionid" type="xs:string" />
          <xs:element name="ownedbyuser" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="duplicatekeyexception" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documenttypeauthorizationexception" >
      <xs:complexContent>
       <xs:extension base="authorizationexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classnotpersistableexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pessimisticlockingexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exportnotsupportedexception" >
      <xs:complexContent>
       <xs:extension base="workflowruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectnotabusinessobjectruntimeexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validationexception" >
      <xs:complexContent>
       <xs:extension base="norollbackruntimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentauthorizationexception" >
      <xs:complexContent>
       <xs:extension base="authorizationexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorizationexception" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="action" type="xs:string" />
          <xs:element name="targettype" type="xs:string" />
          <xs:element name="additionaldetails" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unknowndocumentidexception" >
      <xs:complexContent>
       <xs:extension base="kualiexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 