EC6/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="presonapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="presoncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="presonservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="presonservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="presondao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="presondao" >
      <xs:complexContent>
       <xs:extension base="jparepository<preson,string>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="preson" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="//姓名name" type="xs:string" />
        <xs:element name="//性别1：男0：女sex" type="xs:string" />
        <xs:element name="//学位degree" type="xs:string" />
        <xs:element name="//工作经验hands" type="xs:string" />
        <xs:element name="//电话phone" type="xs:string" />
        <xs:element name="//邮箱email" type="xs:string" />
        <xs:element name="//想法idea" type="xs:string" />
        <xs:element name="//头像headpic" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 