Friend/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="db" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_responsive" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gsdk-bootstrap-wizard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.waypoints.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.stellar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomoon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javamail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernamecheckutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getdateandtimeutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createfilenameutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createtokenuitl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="get_ip_host" >
      <xs:sequence>
        <xs:element name="/*getip(){inetaddressaddress" type="xs:string" />
        <xs:element name="//外网ipinternet_ip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginaopproduce" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailproduce" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="registservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="redissessiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagepagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="pageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codecontroller" >
      <xs:sequence>
        <xs:element name="captcha" type="xs:anyType" />
        <xs:element name="GeneratedName" type="redissessiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginoutcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vailemailcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="vailemailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logincheckservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="redissessiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initializecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdetailandlikeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendmessagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="friendmessagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tojumpcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdetailrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="getlikeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemwebsockethandler" >
      <xs:sequence>
        <xs:element name="users" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="handshakeinterceptor" >
      <xs:complexContent>
       <xs:extension base="httpsessionhandshakeinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="websocketendpoint" >
      <xs:complexContent>
       <xs:extension base="textwebsockethandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="createuserdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vailemailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="redisforvailemaildao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailproduce" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="friendmessagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdetailrepository" nillable="true" minOccurs="0" />
        <xs:element name="//用户默认头像地址user_imageurl" type="xs:string" />
        <xs:element name="//默认时间格式time_format" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailandlikeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="savauserdetaildao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdetailrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="savekeeplikedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getlikeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="keeplikerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincheckservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rediesforlogindao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysession" >
      <xs:sequence>
        <xs:element name="//唯一标识id（使用md5自动生成）id" type="xs:string" />
        <xs:element name="//注册验证码recode" type="xs:string" />
        <xs:element name="//验证码code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendmessageresult" >
      <xs:sequence>
        <xs:element name="//朋友圈信息" type="friendmessage" nillable="true" minOccurs="0" />
        <xs:element name="//用户名信息username" type="xs:string" />
        <xs:element name="//昵称name" type="xs:string" />
        <xs:element name="//时间转换成字符串的timestr" type="xs:string" />
        <xs:element name="//最大页面maxpage" type="xs:anyType" />
        <xs:element name="//用户头像userimage" type="xs:string" />
        <xs:element name="//页面数量size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vailemailpackage" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="vailtoken" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="/**自动增长主键id*/id" type="xs:anyType" />
        <xs:element name="/**用户名*/username" type="xs:string" />
        <xs:element name="/**昵称*/name" type="xs:string" />
        <xs:element name="/**密码*/password" type="xs:string" />
        <xs:element name="/**账号状态*/access" type="xs:anyType" />
        <xs:element name="/**是否初始化*/initialize" type="xs:anyType" />
        <xs:element name="/**邮箱*/email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetail" >
      <xs:sequence>
        <xs:element name="//主键自增idid" type="xs:anyType" />
        <xs:element name="//对应用户名username" type="xs:string" />
        <xs:element name="//昵称name" type="xs:string" />
        <xs:element name="//真实姓名realname" type="xs:string" />
        <xs:element name="//城市city" type="xs:string" />
        <xs:element name="//省份地区place" type="xs:anyType" />
        <xs:element name="//用户头像地址imagurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keeplike" >
      <xs:sequence>
        <xs:element name="//主键id用于索引id" type="xs:anyType" />
        <xs:element name="//对应的用户名username" type="xs:string" />
        <xs:element name="//下面是几个喜好的属性design" type="xs:long" />
        <xs:element name="code" type="xs:long" />
        <xs:element name="develop" type="xs:long" />
        <xs:element name="muics" type="xs:long" />
        <xs:element name="sport" type="xs:long" />
        <xs:element name="writting" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userloginstate" >
      <xs:sequence>
        <xs:element name="//用户对象" type="user" nillable="true" minOccurs="0" />
        <xs:element name="//登陆者的ip地址ip" type="xs:string" />
        <xs:element name="//令牌token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendmessage" >
      <xs:sequence>
        <xs:element name="//文章idid" type="xs:anyType" />
        <xs:element name="//推文发起人username" type="xs:string" />
        <xs:element name="//内容主体word" type="xs:string" />
        <xs:element name="//发布时间time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginstatecomsumer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vailemailcomsumer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="vailemailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keeplikerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendmessagerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<friendmessage,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincheckinterceptor" >
      <xs:sequence>
        <xs:element name="//重写三个方法" type="rediesforlogindao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="redissessiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisforvailemaildao" >
      <xs:sequence>
        <xs:element name="//使用jedis池的方式连接" type="xs:anyType" />
        <xs:element name="//序列化操作，protostuff,字节码schema" type="vailemailpackage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createuserdao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="savauserdetaildao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rediesforlogindao" >
      <xs:sequence>
        <xs:element name="//使用jedis池的方式连接" type="xs:anyType" />
        <xs:element name="//序列化操作，protostuff,字节码schema" type="userloginstate" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redissessiondao" >
      <xs:sequence>
        <xs:element name="//使用jedis池的方式连接" type="xs:anyType" />
        <xs:element name="//序列化操作，protostuff,字节码schema" type="mysession" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="savekeeplikedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aspectauto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 