Friend/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="/**自动增长主键id*/id" type="xs:anyType" />
        <xs:element name="/**用户名*/username" type="xs:string" />
        <xs:element name="/**昵称*/name" type="xs:string" />
        <xs:element name="/**密码*/password" type="xs:string" />
        <xs:element name="/**账号状态*/access" type="xs:anyType" />
        <xs:element name="/**是否初始化*/initialize" type="xs:anyType" />
        <xs:element name="/**邮箱*/email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetail" >
      <xs:sequence>
        <xs:element name="//主键自增idid" type="xs:anyType" />
        <xs:element name="//对应用户名username" type="xs:string" />
        <xs:element name="//昵称name" type="xs:string" />
        <xs:element name="//真实姓名realname" type="xs:string" />
        <xs:element name="//城市city" type="xs:string" />
        <xs:element name="//省份地区place" type="xs:anyType" />
        <xs:element name="//用户头像地址imagurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keeplike" >
      <xs:sequence>
        <xs:element name="//主键id用于索引id" type="xs:anyType" />
        <xs:element name="//对应的用户名username" type="xs:string" />
        <xs:element name="//下面是几个喜好的属性design" type="xs:long" />
        <xs:element name="code" type="xs:long" />
        <xs:element name="develop" type="xs:long" />
        <xs:element name="muics" type="xs:long" />
        <xs:element name="sport" type="xs:long" />
        <xs:element name="writting" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendmessage" >
      <xs:sequence>
        <xs:element name="//文章idid" type="xs:anyType" />
        <xs:element name="//推文发起人username" type="xs:string" />
        <xs:element name="//内容主体word" type="xs:string" />
        <xs:element name="//发布时间time" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 