BackEndMileStone1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="returnlogininfo" >
      <xs:sequence>
        <xs:element name="userinfo" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="usertype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disconfigpks" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="module" type="xs:string" />
        <xs:element name="configname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jcsagent" >
      <xs:sequence>
        <xs:element name="agentuid" type="xs:string" />
        <xs:element name="agentname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="host" type="xs:string" />
        <xs:element name="port" type="xs:anyType" />
        <xs:element name="maximumjob" type="xs:anyType" />
        <xs:element name="activate" type="xs:string" />
        <xs:element name="ostype" type="xs:string" />
        <xs:element name="osname" type="xs:string" />
        <xs:element name="agentstatus" type="xs:string" />
        <xs:element name="xmldata" type="xs:string" />
        <xs:element name="lostcontact" type="xs:dateTime" />
        <xs:element name="lastuptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disconfig" >
      <xs:sequence>
        <xs:element name="module" type="xs:string" />
        <xs:element name="configname" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="instance" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logininfo" >
      <xs:sequence>
        <xs:element name="account" type="xs:string" />
        <xs:element name="psw" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="remoteip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crypto" >
      <xs:sequence>
        <xs:element name="iv" type="xs:anyType" />
        <xs:element name="keyfiller" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionmsgformat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trinityservicestatusmsg" >
      <xs:sequence>
        <xs:element name="login_error" type="xs:string" />
        <xs:element name="login_success" type="xs:string" />
        <xs:element name="logout_error" type="xs:string" />
        <xs:element name="logout_success" type="xs:string" />
        <xs:element name="validate_error" type="xs:string" />
        <xs:element name="validate_success" type="xs:string" />
        <xs:element name="account_empty" type="xs:string" />
        <xs:element name="psw_empty" type="xs:string" />
        <xs:element name="psw_near_expire" type="xs:string" />
        <xs:element name="account_check" type="xs:string" />
        <xs:element name="reset_psw" type="xs:string" />
        <xs:element name="reset_psw_success" type="xs:string" />
        <xs:element name="reset_psw_error" type="xs:string" />
        <xs:element name="session_expired" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trinityservicestatus" >
      <xs:sequence>
        <xs:element name="error" type="xs:string" />
        <xs:element name="warn" type="xs:string" />
        <xs:element name="success" type="xs:string" />
        <xs:element name="change_credentials" type="xs:string" />
        <xs:element name="empty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trinityserviceutilapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skiptrinitybadrequestsconfiguration" >
      <xs:sequence>
        <xs:element name="default" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fallbackresponsefactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trinitybadresponsewrapper" >
      <xs:complexContent>
       <xs:extension base="hystrixbadrequestexception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="headers" type="xs:anyType" />
          <xs:element name="body" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trinityserviceutilapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 