HibernateJPA3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elision" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchbackendtesthelper" >
      <xs:complexContent>
       <xs:extension base="backendtesthelper">
         <xs:sequence>
          <xs:element name="resourcemanager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="skiponaws" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skipwithoutaws" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skipfromelasticsearch50" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skipbelowelasticsearch52" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skipfromelasticsearch52" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skipbelowelasticsearch50" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testelasticsearch2client" >
      <xs:complexContent>
       <xs:extension base="testelasticsearchclient">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="importedtestrunner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testelasticsearchclient" >
      <xs:complexContent>
       <xs:extension base="externalresource">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="/***weusea{@link}tocreateourlow-levelclient.**themainadvantageisthatweensureweconnecttoelasticsearchexactlythesameway*asanytest-createdsearchfactory,allowingtosupportthingsliketestingonaws*(usingthehibernate-search-elasticsearch-awsmodule).*/clientfactory" type="xs:anyType" />
          <xs:element name="client" type="xs:anyType" />
          <xs:element name="createdindicesnames" type="xs:anyType" />
          <xs:element name="createdtemplatesnames" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="golfcourse" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="playedby" type="golfplayer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="holes" type="hole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchschemanamingerrorsit" >
      <xs:sequence>
        <xs:element name="composite_concrete_conflict_message_id" type="xs:string" />
        <xs:element name="indexed_embedded_bypass_message_id" type="xs:string" />
        <xs:element name="conflicting_field_name" type="xs:string" />
        <xs:element name="bypassing_field_name" type="xs:string" />
        <xs:element name="bypassing_field_indexed_embedded_prefix" type="xs:string" />
        <xs:element name="bypassing_field_default_field_name" type="xs:string" />
        <xs:element name="thrown" type="xs:anyType" />
        <xs:element name="integratorresource" type="xs:anyType" />
        <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
        <xs:element name="integrator" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
        <xs:element name="strategy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="combiningluceneandelasticsearchit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2schemamigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="update_failed_message_id" type="xs:string" />
          <xs:element name="mapping_creation_failed_message_id" type="xs:string" />
          <xs:element name="elasticsearch_request_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchsimplequerystringdslit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="masterthesis" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch52normalizerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scientificarticle" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="wordcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexstatuscheckit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalyzerit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2and50normalizerdefinitionmigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalyzerdefinitioncreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchschemacreatestrategyit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hole" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="length" type="xs:long" />
        <xs:element name="par" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchdatecalendarbridgeit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ranking" >
      <xs:sequence>
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch5javatimeit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchspatialit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch5schemamigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="update_failed_message_id" type="xs:string" />
          <xs:element name="mapping_creation_failed_message_id" type="xs:string" />
          <xs:element name="elasticsearch_request_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexnameconflictit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2javatimeit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="sfholder" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearch2client" nillable="true" minOccurs="0" />
          <xs:element name="helper" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchscrollingit" >
      <xs:sequence>
        <xs:element name="/***thedefaultvaluefortheindex.max_result_windowsettinginelasticsearch.*@seehttps://www.elastic.co/guide/en/elasticsearch/reference/2.4/breaking_21_search_changes.html#_from_size_limits*/default_max_result_window" type="xs:long" />
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractanalyzerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchclassbridgeit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2analyzerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="abstractanalyzerdefinitionvalidationit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2schemavalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexnullastypecheckingit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchschemametadataerrorsit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexnullasit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch50normalizerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="abstractelasticsearch2and50normalizerdefinitionvalidationit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2and50normalizerdefinitioncreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch5analyzerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="abstractanalyzerdefinitionvalidationit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driversmatchingnameelasticsearchfilter" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchfilterit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driver" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="teacher" type="xs:string" />
        <xs:element name="score" type="xs:long" />
        <xs:element name="delivery" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bestdriverselasticsearchfilter" >
      <xs:complexContent>
       <xs:extension base="simpleelasticsearchfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2schemacreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch52normalizerdefinitioncreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nameconcatenationbridge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="poi" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchmultitenancyit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchcontentlengthit" >
      <xs:sequence>
        <xs:element name="body_part" type="xs:anyType" />
        <xs:element name="body_part_byte_size" type="xs:long" />
        <xs:element name="buffer_limit" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="clientfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="golfplayer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="subscriptionenddate" type="xs:anyType" />
        <xs:element name="handicap" type="xs:double" />
        <xs:element name="puttingstrength" type="xs:double" />
        <xs:element name="drivewidth" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ranking" nillable="true" minOccurs="0" />
        <xs:element name="strengths" type="xs:anyType" />
        <xs:element name="playedcourses" type="golfcourse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="woncourses" type="golfcourse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractelasticsearch2and50normalizerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchnullvalueit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agebridge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchimplicitprovidedidit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toelasticsearchit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkcustomfielddefaultsit" >
      <xs:complexContent>
       <xs:extension base="checkcustomfielddefaultanalyzer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchflushit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalysisdefinitionproviderit" >
      <xs:complexContent>
       <xs:extension base="customanalyzerentity">
         <xs:sequence>
          <xs:element name="custom_analyzer_name" type="xs:string" />
          <xs:element name="custom_analyzer_2_name" type="xs:string" />
          <xs:element name="custom_normalizer_name" type="xs:string" />
          <xs:element name="custom_normalizer_2_name" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="integratorresource" type="xs:anyType" />
          <xs:element name="integrator" type="xs:anyType" />
          <xs:element name="helper" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2indexmappingit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch5schemavalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2normalizerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="abstractelasticsearch2and50normalizerdefinitionvalidationit">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch52normalizerdefinitionmigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="purgeit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="logged" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bachelorthesis" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchdslit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dynamicmappingit" >
      <xs:sequence>
        <xs:element name="dynamic_mapping" type="xs:string" />
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchdynamicindexedvalueholder" >
      <xs:sequence>
        <xs:element name="index_name" type="xs:string" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="dynamicfields" type="xs:anyType" />
        <xs:element name="strictfields" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapasinnerobjectfieldbridge" >
      <xs:sequence>
        <xs:element name="dynamic" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch5indexmappingit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statecandidate" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="owner" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="candidate" type="statecandidate" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tower" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="ownedby" type="person" nillable="true" minOccurs="0" />
        <xs:element name="towers" type="tower" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="states" type="state" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comicbook" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="researchpaper" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="wordcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch5schemacreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchunsupportedfeaturesit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="logged" type="xs:anyType" />
          <xs:element name="thrown" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchjpait" >
      <xs:complexContent>
       <xs:extension base="jpatestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hockeyplayer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletebyqueryit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletebyquerymultitenancyit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="extra_terrestrial" type="xs:string" />
          <xs:element name="down_to_the_earth" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalyzerdefinitionmigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 