HibernateJPA3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="golfcourse" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="rating" type="xs:double" />
        <xs:element name="playedby" type="golfplayer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="holes" type="hole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch2schemamigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="update_failed_message_id" type="xs:string" />
          <xs:element name="mapping_creation_failed_message_id" type="xs:string" />
          <xs:element name="elasticsearch_request_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchsimplequerystringdslit" >
      <xs:sequence>
        <xs:element name="sfholder" type="xs:anyType" />
        <xs:element name="helper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="masterthesis" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch52normalizerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scientificarticle" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="wordcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexstatuscheckit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalyzerit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2and50normalizerdefinitionmigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalyzerdefinitioncreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchschemacreatestrategyit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hole" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="length" type="xs:long" />
        <xs:element name="par" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch5schemamigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="update_failed_message_id" type="xs:string" />
          <xs:element name="mapping_creation_failed_message_id" type="xs:string" />
          <xs:element name="elasticsearch_request_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexnameconflictit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractanalyzerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2schemavalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchindexnullastypecheckingit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchschemametadataerrorsit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch2and50normalizerdefinitioncreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="driver" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="teacher" type="xs:string" />
        <xs:element name="score" type="xs:long" />
        <xs:element name="delivery" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch2schemacreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch52normalizerdefinitioncreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="poi" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="golfplayer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="subscriptionenddate" type="xs:anyType" />
        <xs:element name="handicap" type="xs:double" />
        <xs:element name="puttingstrength" type="xs:double" />
        <xs:element name="drivewidth" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ranking" nillable="true" minOccurs="0" />
        <xs:element name="strengths" type="xs:anyType" />
        <xs:element name="playedcourses" type="golfcourse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="woncourses" type="golfcourse" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractelasticsearch2and50normalizerdefinitionvalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="toelasticsearchit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch5schemavalidationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="validation_failed_message_id" type="xs:string" />
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearch52normalizerdefinitionmigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="purgeit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
          <xs:element name="logged" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bachelorthesis" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchdslit" >
      <xs:complexContent>
       <xs:extension base="searchtestbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statecandidate" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="candidate" type="statecandidate" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tower" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="ownedby" type="person" nillable="true" minOccurs="0" />
        <xs:element name="towers" type="tower" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="states" type="state" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comicbook" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="researchpaper" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="wordcount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearch5schemacreationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
          <xs:element name="strategy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="elasticsearchunsupportedfeaturesit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="logged" type="xs:anyType" />
          <xs:element name="thrown" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hockeyplayer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elasticsearchanalyzerdefinitionmigrationit" >
      <xs:complexContent>
       <xs:extension base="searchinitializationtestbase">
         <xs:sequence>
          <xs:element name="thrown" type="xs:anyType" />
          <xs:element name="elasticsearchclient" type="testelasticsearchclient" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 