cassandra-proyect/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="personauth" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:anyType" />
        <xs:element name="a" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcassandra" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:anyType" />
        <xs:element name="a" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="counters" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="counter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supercounters" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="counter" type="xs:long" />
        <xs:element name="lcounter" type="xs:long" />
        <xs:element name="GeneratedName" type="subcounter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="personid" type="xs:string" />
        <xs:element name="personname" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="manager" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentcassandra" >
      <xs:sequence>
        <xs:element name="//primitivetypesstudentid" type="xs:long" />
        <xs:element name="uniqueid" type="xs:long" />
        <xs:element name="studentname" type="xs:string" />
        <xs:element name="isexceptional" type="xs:anyType" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="//a,b,c,d,e,fforitovisemester" type="xs:anyType" />
        <xs:element name="digitalsignature" type="xs:anyType" />
        <xs:element name="//1-10cgpa" type="xs:long" />
        <xs:element name="percentage" type="xs:double" />
        <xs:element name="height" type="xs:double" />
        <xs:element name="//date-timetypesenrolmentdate" type="xs:anyType" />
        <xs:element name="enrolmenttime" type="xs:anyType" />
        <xs:element name="joiningdateandtime" type="xs:anyType" />
        <xs:element name="//wrappertypesyearsspent" type="xs:anyType" />
        <xs:element name="rollnumber" type="xs:long" />
        <xs:element name="monthlyfee" type="xs:double" />
        <xs:element name="sqldate" type="xs:anyType" />
        <xs:element name="sqltimestamp" type="xs:anyType" />
        <xs:element name="sqltime" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercassandra" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="//embeddedobject,willpersistco-located" type="personaldetail" nillable="true" minOccurs="0" />
        <xs:element name="//elementcollection,willpersistco-locatedtweets" type="tweet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//onetomany,willbepersistedseparately//listofuserswhomifollowfriends" type="usercassandra" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//onetomany,willbepersistedseparately//listofuserswhoarefollowingmefollowers" type="usercassandra" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//one-to-one,willbepersistedseparatelypreference" type="preferencecassandra" nillable="true" minOccurs="0" />
        <xs:element name="//onetomany,willbepersistedseparatelyexternallinks" type="externallinkcassandra" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="externallinkcassandra" >
      <xs:sequence>
        <xs:element name="extlinkid" type="xs:string" />
        <xs:element name="linktype" type="xs:string" />
        <xs:element name="linkaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preferencecassandra" >
      <xs:sequence>
        <xs:element name="preferenceid" type="xs:string" />
        <xs:element name="websitetheme" type="xs:string" />
        <xs:element name="//1,2,3privacylevel" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonbi1to1pk" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddress.*/address" type="cassandraentityaddressbi1to1pk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressbi1to1fk" >
      <xs:sequence>
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
        <xs:element name="/***theperson.*/person" type="cassandraentitypersonbi1to1fk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validcountercolumnfamily" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="counter" type="xs:long" />
        <xs:element name="lcounter" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonunimto1" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:long" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddress.*/address" type="cassandraentityaddressunimto1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityhabitatunimtom" >
      <xs:sequence>
        <xs:element name="addressid" type="xs:string" />
        <xs:element name="street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonuni1to1pk" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddress.*/address" type="cassandraentityaddressuni1to1pk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressuni1tom" >
      <xs:sequence>
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonbi1to1fk" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddress.*/address" type="cassandraentityaddressbi1to1fk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressuni1to1" >
      <xs:sequence>
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitysimple" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressbi1to1pk" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
        <xs:element name="/***theperson.*/person" type="cassandraentitypersonbi1to1pk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitysuper" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:long" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressunimto1" >
      <xs:sequence>
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonbimto1" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddress.*/address" type="cassandraentityaddressbimto1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonbi1tom" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddresses.*/addresses" type="cassandraentityaddressbi1tom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidcountercolumnentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="counter" type="xs:long" />
        <xs:element name="lcounter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonnelunimtom" >
      <xs:sequence>
        <xs:element name="personid" type="xs:string" />
        <xs:element name="personname" type="xs:string" />
        <xs:element name="personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="addresses" type="cassandraentityhabitatunimtom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonuni1to1" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:long" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddress.*/address" type="cassandraentityaddressuni1to1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressbi1tom" >
      <xs:sequence>
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
        <xs:element name="/***theperson.*/person" type="cassandraentitypersonbi1tom" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitypersonuni1tom" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***thepersonname.*/personname" type="xs:string" />
        <xs:element name="/***theage.*/age" type="xs:long" />
        <xs:element name="/***thepersonaldata.*/personaldata" type="cassandrapersonaldata" nillable="true" minOccurs="0" />
        <xs:element name="/***theaddresses.*/addresses" type="cassandraentityaddressuni1tom" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doctor" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressbimto1" >
      <xs:sequence>
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
        <xs:element name="/***thepeople.*/people" type="cassandraentitypersonbimto1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentityaddressuni1to1pk" >
      <xs:sequence>
        <xs:element name="/***thepersonid.*/personid" type="xs:string" />
        <xs:element name="/***theaddressid.*/addressid" type="xs:string" />
        <xs:element name="/***thestreet.*/street" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandrauuidentity" >
      <xs:sequence>
        <xs:element name="key" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraentitysample" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="full_name" type="xs:string" />
        <xs:element name="birth_date" type="xs:anyType" />
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pelopsdatahandler" >
      <xs:sequence>
        <xs:element name="/***thetimestamp.*/timestamp" type="xs:long" />
        <xs:element name="/***the.*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 