competencyMarix/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="addressservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addressrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="streetrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
        <xs:element name="addressesdtos" type="addressdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="streets" type="street" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cities" type="city" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="countries" type="country" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventoryservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="inventoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inventoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="inventorylist" type="inventory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="allusers" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addressrepository" nillable="true" minOccurs="0" />
        <xs:element name="people" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="companydetailsrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="branchrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="departmentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addressrepository" nillable="true" minOccurs="0" />
        <xs:element name="companies" type="company" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="companydetails" type="companydetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="branches" type="branch" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="departments" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventorycontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="inventoryservice" nillable="true" minOccurs="0" />
        <xs:element name="inventorylist" type="inventorydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontrollerintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
        <xs:element name="defaultuser" type="userdto" nillable="true" minOccurs="0" />
        <xs:element name="1" type="person" nillable="true" minOccurs="0" />
        <xs:element name="2" type="person" nillable="true" minOccurs="0" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="allusers" type="userdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresscontrollerintegrationtest2" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="addressrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="streetrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventorycontrollerintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="inventoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inventoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inventory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="inventorydto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresscontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="addressservice" nillable="true" minOccurs="0" />
        <xs:element name="addresses" type="addressdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="streets" type="streetdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="cities" type="citydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="countries" type="countrydto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresscontrollerintegrationtest1" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="addressrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="streetrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="street" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="city" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="addresseslistsize" type="xs:long" />
        <xs:element name="streetslistsize" type="xs:long" />
        <xs:element name="citieslistsize" type="xs:long" />
        <xs:element name="countrieslistsize" type="xs:long" />
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="streetid" type="xs:long" />
        <xs:element name="cityid" type="xs:long" />
        <xs:element name="countryid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prototypeapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordconstraintvalidatortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prototypeapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patterns" >
      <xs:sequence>
        <xs:element name="date_pattern" type="xs:string" />
        <xs:element name="date_time_formatter" type="xs:anyType" />
        <xs:element name="date_formatter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:complexContent>
       <xs:extension base="baseservice{">
         <xs:sequence>
          <xs:element name="person_not_found" type="xs:string" />
          <xs:element name="wrong_data_given" type="xs:string" />
          <xs:element name="address_not_found" type="xs:string" />
          <xs:element name="" type="addressrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="personrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<addressdto>">
         <xs:sequence>
          <xs:element name="post" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="street" type="xs:string" />
          <xs:element name="country" type="xs:string" />
          <xs:element name="address_not_found" type="xs:string" />
          <xs:element name="provide_empty_data" type="xs:string" />
          <xs:element name="" type="addressrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="streetrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="cityrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="countryrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="company_not_found" type="xs:string" />
          <xs:element name="company_details_not_found" type="xs:string" />
          <xs:element name="branch_not_found" type="xs:string" />
          <xs:element name="department_not_found" type="xs:string" />
          <xs:element name="" type="companyrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="companydetailsrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="branchrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="departmentrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="addressrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inventoryservice" >
      <xs:complexContent>
       <xs:extension base="baseservice{">
         <xs:sequence>
          <xs:element name="no_such_record" type="xs:string" />
          <xs:element name="provided_empty_data" type="xs:string" />
          <xs:element name="" type="inventoryrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseservice" >
      <xs:sequence>
        <xs:element name="defaultsortby" type="xs:string" />
        <xs:element name="defaultstartpage" type="xs:anyType" />
        <xs:element name="defaultpagesize" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="baseservice{">
         <xs:sequence>
          <xs:element name="defaultadminlogin" type="xs:string" />
          <xs:element name="user_not_found" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="request" type="xs:anyType" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrolerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="personservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="positionservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="position_not_found" type="xs:string" />
          <xs:element name="" type="positionrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="service" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="login" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userregistrationdto" >
      <xs:sequence>
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="passwordconfirm" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventorydto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validpassword" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniqueemail" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="passwordmatches" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniqueemailvalidator" >
      <xs:sequence>
        <xs:element name="repository" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordmatchesvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordconstraintvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordvalidationobjectinterface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="branchdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="branchcreationdate" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positiondto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="positioncreationdate" type="xs:string" />
        <xs:element name="positiondeactivationdate" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
        <xs:element name="details" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentdto" >
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="releasedby" type="xs:string" />
        <xs:element name="documenttype" type="xs:string" />
        <xs:element name="documentnumber" type="xs:string" />
        <xs:element name="idnumber" type="xs:string" />
        <xs:element name="releasedate" type="xs:string" />
        <xs:element name="expirydate" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondto" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="maidenname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citydto" >
      <xs:sequence>
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrydto" >
      <xs:sequence>
        <xs:element name="countryname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userroledto" >
      <xs:sequence>
        <xs:element name="rolename" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companydto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="vat_no" type="xs:string" />
        <xs:element name="companycreationdate" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
        <xs:element name="details" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="createdbyid" type="xs:long" />
        <xs:element name="createddate" type="xs:string" />
        <xs:element name="lastmodifiedbyid" type="xs:long" />
        <xs:element name="lastmodifieddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="streetdto" >
      <xs:sequence>
        <xs:element name="streetname" type="xs:string" />
        <xs:element name="postcode" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcompetencedto" >
      <xs:sequence>
        <xs:element name="level" type="xs:anyType" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="postcode" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dtoeintitydescriptionimplementation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="competencedto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="GeneratedName" type="auditdto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="managerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<manager,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="searchhistoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<searchhistory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personcompetencerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<personcompetence,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<userrole,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companydetailsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<companydetails,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inventoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<inventory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="positionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<position,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="audithistoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<audithistory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="positiondetailsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<positiondetails,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="competencerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<competence,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="streetrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<street,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<employee,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<city,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branchrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<branch,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<document,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<country,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<address,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataseed" >
      <xs:sequence>
        <xs:element name="defaultadminlogin" type="xs:string" />
        <xs:element name="defaultuserpassword" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecuritycontroller" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="conf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditorawareimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="number" type="xs:string" />
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
          <xs:element name="" type="street" nillable="true" minOccurs="0" />
          <xs:element name="" type="city" nillable="true" minOccurs="0" />
          <xs:element name="" type="country" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="cityname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="street" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="postcode" type="xs:string" />
          <xs:element name="streetname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="countryname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="role_not_found" type="xs:string" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="" type="person" nillable="true" minOccurs="0" />
          <xs:element name="roles" type="userrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrole" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="rolename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitydescription" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitydescriptionimplementation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondetails" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="mothername" type="xs:string" />
          <xs:element name="mothermaidenname" type="xs:string" />
          <xs:element name="fathername" type="xs:string" />
          <xs:element name="type" type="document" nillable="true" minOccurs="0" />
          <xs:element name="documentnumber" type="xs:string" />
          <xs:element name="idnumber" type="xs:string" />
          <xs:element name="nationality" type="country" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personcompetence" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="level" type="xs:anyType" />
          <xs:element name="documents" type="document" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="" type="person" nillable="true" minOccurs="0" />
          <xs:element name="" type="competence" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="releasedby" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="documentnumber" type="xs:string" />
          <xs:element name="idnumber" type="xs:string" />
          <xs:element name="releasedate" type="xs:anyType" />
          <xs:element name="expirydate" type="xs:anyType" />
          <xs:element name="release" type="country" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="competence" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="maidenname" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="birthdate" type="xs:anyType" />
          <xs:element name="" type="persondetails" nillable="true" minOccurs="0" />
          <xs:element name="" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manager" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="person" nillable="true" minOccurs="0" />
          <xs:element name="mayhappendepartments" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="positiondetails" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="positioncreationdate" type="xs:anyType" />
          <xs:element name="positiondeactivationdate" type="xs:anyType" />
          <xs:element name="isactive" type="xs:anyType" />
          <xs:element name="inventories" type="inventory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
          <xs:element name="" type="branch" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="manager" nillable="true" minOccurs="0" />
          <xs:element name="" type="person" nillable="true" minOccurs="0" />
          <xs:element name="" type="position" nillable="true" minOccurs="0" />
          <xs:element name="" type="department" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
          <xs:element name="" type="companydetails" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="position" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
          <xs:element name="" type="positiondetails" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branch" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
          <xs:element name="branchcreationdate" type="xs:anyType" />
          <xs:element name="" type="company" nillable="true" minOccurs="0" />
          <xs:element name="" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inventory" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="" type="entitydescription" nillable="true" minOccurs="0" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="" type="branch" nillable="true" minOccurs="0" />
          <xs:element name="requiredcompetences" type="competence" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companydetails" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="vat_no" type="xs:string" />
          <xs:element name="companycreationdate" type="xs:anyType" />
          <xs:element name="mother" type="branch" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:complexContent>
       <xs:extension base="abstractauditable<user,">
         <xs:sequence>
          <xs:element name="version" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="audithistory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="beforestatement" type="xs:string" />
        <xs:element name="afterstatement" type="xs:string" />
        <xs:element name="operationtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditinterface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchhistory" >
      <xs:complexContent>
       <xs:extension base="baseentity">
         <xs:sequence>
          <xs:element name="query" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsonops" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventorycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="inventoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="controller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="positioncontroller" >
      <xs:sequence>
        <xs:element name="defaultpagesize" type="xs:string" />
        <xs:element name="defaultpagestart" type="xs:string" />
        <xs:element name="defaultsortby" type="xs:string" />
        <xs:element name="defaultsort" type="xs:string" />
        <xs:element name="GeneratedName" type="positionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 