Gradle28/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="panacheentity" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase">
         <xs:sequence>
          <xs:element name="/***theauto-generatedidfield.thisfieldissetbyhibernateormwhenthisentity*ispersisted.**@see#persist()*/id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="panacheentitybase" >
      <xs:complexContent>
       <xs:extension base="panacheentitybase>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="panache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panacherepository" >
      <xs:complexContent>
       <xs:extension base="panacherepositorybase<entity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panachequeryimpl" >
      <xs:complexContent>
       <xs:extension base="entity>">
         <xs:sequence>
          <xs:element name="jpa" type="xs:anyType" />
          <xs:element name="paramsarrayormap" type="xs:anyType" />
          <xs:element name="query" type="xs:string" />
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="/**westorethesizeandapplyitforeachrequestbecausegetfirstresult()*setsthesizeto1*/" type="xs:anyType" />
          <xs:element name="count" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:complexContent>
       <xs:extension base="panacheentity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="panachequery" >
      <xs:complexContent>
       <xs:extension base="entity>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="panacherepositorybase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 