code-sample12/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="rental" >
      <xs:sequence>
        <xs:element name="//일련번호id" type="xs:long" />
        <xs:element name="//사용자일련번호userid" type="xs:long" />
        <xs:element name="//대출가능여부" type="rentalstatus" nillable="true" minOccurs="0" />
        <xs:element name="//연체료latefee" type="xs:long" />
        <xs:element name="//대출아이템renteditem" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 