fullstack983/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="stockprice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="stock_exchange" type="xs:string" />
        <xs:element name="current_price" type="xs:double" />
        <xs:element name="opendatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchange" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="brief" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="regstatus" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ceo" type="xs:string" />
        <xs:element name="board_of_directors" type="xs:string" />
        <xs:element name="listed_in_stock_exchanges" type="xs:string" />
        <xs:element name="sector" type="xs:string" />
        <xs:element name="turnover" type="xs:double" />
        <xs:element name="brief" type="xs:string" />
        <xs:element name="stock_code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialpublicoffering" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="company_name" type="xs:string" />
        <xs:element name="stock_exchange" type="xs:string" />
        <xs:element name="price_per_share" type="xs:double" />
        <xs:element name="total_shares" type="xs:double" />
        <xs:element name="opendatetime" type="xs:anyType" />
        <xs:element name="remarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 