Carrinho/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="carrinhoentity" >
      <xs:sequence>
        <xs:element name="idcarrinho" type="xs:string" />
        <xs:element name="idcliente" type="xs:string" />
        <xs:element name="item" type="itementity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itementity" >
      <xs:sequence>
        <xs:element name="iditem" type="xs:string" />
        <xs:element name="quantidade" type="xs:long" />
        <xs:element name="preco" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 