help15/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="itemcode" type="xs:string" />
        <xs:element name="itemname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businesspartner" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorderdetail" >
      <xs:sequence>
        <xs:element name="docid" type="salesorder" nillable="true" minOccurs="0" />
        <xs:element name="linenum" type="xs:anyType" />
        <xs:element name="id" type="item" nillable="true" minOccurs="0" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salesorder" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="////integerbusinesspartneriddoctotal" type="xs:anyType" />
        <xs:element name="//@transient" type="businesspartner" nillable="true" minOccurs="0" />
        <xs:element name="//@joincolumn(name" type="salesorderdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 