cloud-parent/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="projectvo" >
      <xs:sequence>
        <xs:element name="projectcode" type="xs:long" />
        <xs:element name="projectname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="projectcode" type="xs:long" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="//@createdcreated" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcecontroller" >
      <xs:sequence>
        <xs:element name="////resttemplateresttemplate//////loadbalancerclientloadbalancerclient" type="projectclient" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springcloudresourceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 