devops-automation-ksd-kc5.2.1-rice1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="courseofferingcontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="courseinstructor" >
      <xs:sequence>
        <xs:element name="affiliation" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="subjectid" type="xs:string" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="suffix" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="instanceid" type="xs:string" />
        <xs:element name="activitytype" type="xs:string" />
        <xs:element name="mincredits" type="xs:anyType" />
        <xs:element name="maxcredits" type="xs:anyType" />
        <xs:element name="gradingoptions" type="xs:string" />
        <xs:element name="transcripttitle" type="xs:string" />
        <xs:element name="fee" type="xs:anyType" />
        <xs:element name="offeringstatus" type="xs:string" />
        <xs:element name="sections" type="coursesection" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseofferingform" >
      <xs:complexContent>
       <xs:extension base="uifformbase">
         <xs:sequence>
          <xs:element name="" type="coursesection" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coursesection" >
      <xs:sequence>
        <xs:element name="section" type="xs:string" />
        <xs:element name="registrationid" type="xs:string" />
        <xs:element name="term" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="custommeetingtime" type="xs:anyType" />
        <xs:element name="standardmeetingschedule" type="xs:string" />
        <xs:element name="standardmeetingtime" type="xs:string" />
        <xs:element name="attendancetype" type="xs:string" />
        <xs:element name="weeklyinclasshours" type="xs:anyType" />
        <xs:element name="weeklyoutofclasshours" type="xs:anyType" />
        <xs:element name="terminclasshours" type="xs:anyType" />
        <xs:element name="termoutofclasshours" type="xs:anyType" />
        <xs:element name="totalminenrollment" type="xs:anyType" />
        <xs:element name="totalmaxenrollment" type="xs:anyType" />
        <xs:element name="building" type="xs:string" />
        <xs:element name="room" type="xs:string" />
        <xs:element name="waitlist" type="xs:anyType" />
        <xs:element name="waitlisttype" type="xs:string" />
        <xs:element name="waitlistmaximum" type="xs:anyType" />
        <xs:element name="exam" type="xs:anyType" />
        <xs:element name="exam" type="xs:dateTime" />
        <xs:element name="examstarttime" type="xs:string" />
        <xs:element name="examendtime" type="xs:string" />
        <xs:element name="exambuilding" type="xs:string" />
        <xs:element name="examroom" type="xs:string" />
        <xs:element name="publish" type="xs:anyType" />
        <xs:element name="publishto" type="xs:string" />
        <xs:element name="schedulecomments" type="xs:string" />
        <xs:element name="courseurl" type="xs:string" />
        <xs:element name="internetclassprovider" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="registerednumber" type="xs:anyType" />
        <xs:element name="waitlistnumber" type="xs:anyType" />
        <xs:element name="instructor" type="xs:string" />
        <xs:element name="GeneratedName" type="course" nillable="true" minOccurs="0" />
        <xs:element name="instructors" type="courseinstructor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registrationform" >
      <xs:complexContent>
       <xs:extension base="uifformbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="registrationterm" type="xs:string" />
          <xs:element name="registrationyear" type="xs:anyType" />
          <xs:element name="criteriafields" type="xs:anyType" />
          <xs:element name="courselisting" type="course" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uifcomponentstestcontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uitestpropertyeditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uifcomponentstestform" >
      <xs:complexContent>
       <xs:extension base="uifformbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="field1" type="xs:string" />
          <xs:element name="field2" type="xs:string" />
          <xs:element name="field3" type="xs:string" />
          <xs:element name="field4" type="xs:string" />
          <xs:element name="field5" type="xs:string" />
          <xs:element name="field6" type="xs:string" />
          <xs:element name="field7" type="xs:string" />
          <xs:element name="field8" type="xs:string" />
          <xs:element name="field9" type="xs:string" />
          <xs:element name="field10" type="xs:string" />
          <xs:element name="field11" type="xs:string" />
          <xs:element name="field12" type="xs:string" />
          <xs:element name="field13" type="xs:string" />
          <xs:element name="field14" type="xs:string" />
          <xs:element name="field15" type="xs:string" />
          <xs:element name="field16" type="xs:string" />
          <xs:element name="field17" type="xs:string" />
          <xs:element name="field18" type="xs:string" />
          <xs:element name="field19" type="xs:string" />
          <xs:element name="field20" type="xs:string" />
          <xs:element name="field21" type="xs:string" />
          <xs:element name="field22" type="xs:string" />
          <xs:element name="field23" type="xs:string" />
          <xs:element name="field24" type="xs:string" />
          <xs:element name="field25" type="xs:string" />
          <xs:element name="field26" type="xs:string" />
          <xs:element name="field27" type="xs:string" />
          <xs:element name="field28" type="xs:string" />
          <xs:element name="field29" type="xs:string" />
          <xs:element name="field30" type="xs:string" />
          <xs:element name="field31" type="xs:string" />
          <xs:element name="field32" type="xs:string" />
          <xs:element name="field33" type="xs:string" />
          <xs:element name="field34" type="xs:string" />
          <xs:element name="field35" type="xs:string" />
          <xs:element name="field36" type="xs:string" />
          <xs:element name="field37" type="xs:string" />
          <xs:element name="field38" type="xs:string" />
          <xs:element name="field39" type="xs:string" />
          <xs:element name="field40" type="xs:string" />
          <xs:element name="field41" type="xs:string" />
          <xs:element name="field42" type="xs:string" />
          <xs:element name="field43" type="xs:string" />
          <xs:element name="field44" type="xs:string" />
          <xs:element name="field45" type="xs:string" />
          <xs:element name="field46" type="xs:string" />
          <xs:element name="field47" type="xs:string" />
          <xs:element name="field48" type="xs:string" />
          <xs:element name="field49" type="xs:string" />
          <xs:element name="field50" type="xs:string" />
          <xs:element name="field51" type="xs:string" />
          <xs:element name="field52" type="xs:string" />
          <xs:element name="field53" type="xs:string" />
          <xs:element name="field54" type="xs:string" />
          <xs:element name="field55" type="xs:string" />
          <xs:element name="field56" type="xs:string" />
          <xs:element name="field57" type="xs:string" />
          <xs:element name="field58" type="xs:string" />
          <xs:element name="field59" type="xs:string" />
          <xs:element name="field60" type="xs:string" />
          <xs:element name="field61" type="xs:string" />
          <xs:element name="field62" type="xs:string" />
          <xs:element name="field63" type="xs:string" />
          <xs:element name="field64" type="xs:string" />
          <xs:element name="field65" type="xs:string" />
          <xs:element name="field66" type="xs:string" />
          <xs:element name="field67" type="xs:string" />
          <xs:element name="field68" type="xs:string" />
          <xs:element name="field69" type="xs:string" />
          <xs:element name="field70" type="xs:string" />
          <xs:element name="field71" type="xs:string" />
          <xs:element name="field72" type="xs:string" />
          <xs:element name="field73" type="xs:string" />
          <xs:element name="field74" type="xs:string" />
          <xs:element name="field75" type="xs:string" />
          <xs:element name="field76" type="xs:string" />
          <xs:element name="field77" type="xs:string" />
          <xs:element name="field78" type="xs:string" />
          <xs:element name="field79" type="xs:string" />
          <xs:element name="field80" type="xs:string" />
          <xs:element name="field81" type="xs:string" />
          <xs:element name="field82" type="xs:string" />
          <xs:element name="field83" type="xs:string" />
          <xs:element name="field84" type="xs:string" />
          <xs:element name="field85" type="xs:string" />
          <xs:element name="field86" type="xs:string" />
          <xs:element name="field87" type="xs:string" />
          <xs:element name="field88" type="xs:string" />
          <xs:element name="field89" type="xs:string" />
          <xs:element name="field90" type="xs:string" />
          <xs:element name="field91" type="xs:string" />
          <xs:element name="field92" type="xs:string" />
          <xs:element name="field100" type="xs:string" />
          <xs:element name="field101" type="xs:string" />
          <xs:element name="field102" type="xs:string" />
          <xs:element name="field103" type="xs:string" />
          <xs:element name="field104" type="xs:string" />
          <xs:element name="field105" type="xs:string" />
          <xs:element name="field106" type="xs:string" />
          <xs:element name="field107" type="xs:string" />
          <xs:element name="field108" type="xs:string" />
          <xs:element name="field109" type="xs:string" />
          <xs:element name="field110" type="xs:string" />
          <xs:element name="field111" type="xs:string" />
          <xs:element name="field112" type="xs:string" />
          <xs:element name="field113" type="xs:string" />
          <xs:element name="field114" type="xs:anyType" />
          <xs:element name="field115" type="xs:anyType" />
          <xs:element name="field116" type="xs:anyType" />
          <xs:element name="field117" type="xs:string" />
          <xs:element name="field118" type="xs:string" />
          <xs:element name="field119" type="xs:string" />
          <xs:element name="field120" type="xs:anyType" />
          <xs:element name="field121" type="xs:string" />
          <xs:element name="field122" type="xs:string" />
          <xs:element name="field123" type="xs:string" />
          <xs:element name="field124" type="xs:string" />
          <xs:element name="field125" type="xs:string" />
          <xs:element name="field126" type="xs:string" />
          <xs:element name="field127" type="xs:string" />
          <xs:element name="field128" type="xs:string" />
          <xs:element name="field129" type="xs:string" />
          <xs:element name="field130" type="xs:string" />
          <xs:element name="field131" type="xs:anyType" />
          <xs:element name="testpersonid" type="xs:string" />
          <xs:element name="test" type="xs:anyType" />
          <xs:element name="gfield1" type="xs:string" />
          <xs:element name="gfield2" type="xs:string" />
          <xs:element name="gfield3" type="xs:string" />
          <xs:element name="mfield1" type="xs:string" />
          <xs:element name="mfield2" type="xs:string" />
          <xs:element name="mfield3" type="xs:string" />
          <xs:element name="fileupload" type="xs:anyType" />
          <xs:element name="" type="uitestobject" nillable="true" minOccurs="0" />
          <xs:element name="list1" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="list2" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="list3" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="list4" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="list5" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="list6" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="tree1" type="xs:anyType" />
          <xs:element name="tree2" type="xs:anyType" />
          <xs:element name="bfield1" type="xs:anyType" />
          <xs:element name="bfield2" type="xs:anyType" />
          <xs:element name="bfield3" type="xs:anyType" />
          <xs:element name="remotefieldvaluesmap" type="xs:anyType" />
          <xs:element name="remotefieldvaluesmap2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uitestobject" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
        <xs:element name="field4" type="xs:string" />
        <xs:element name="remotefieldvaluesmap" type="xs:anyType" />
        <xs:element name="sublist" type="uitestobject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uifcomponentsviewhelperserviceimpl" >
      <xs:complexContent>
       <xs:extension base="viewhelperserviceimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="campusagendatypeservice" >
      <xs:complexContent>
       <xs:extension base="agendatypeservicebase">
         <xs:sequence>
          <xs:element name="campus_field_name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookorderaction" >
      <xs:complexContent>
       <xs:extension base="kualitransactionaldocumentactionbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookorderform" >
      <xs:complexContent>
       <xs:extension base="kualitransactionaldocumentformbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="new" type="bookorder" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookorderdocument" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="bookorders" type="bookorder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booktypekeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookkeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresstypekeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookratingsearchableattribute" >
      <xs:complexContent>
       <xs:extension base="xpathsearchableattribute">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookpricesearchableattribute" >
      <xs:complexContent>
       <xs:extension base="xpathsearchableattribute">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booktypesearchableattribute" >
      <xs:complexContent>
       <xs:extension base="xpathsearchableattribute">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booktitlesearchableattribute" >
      <xs:complexContent>
       <xs:extension base="xpathsearchableattribute">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookpublicationdatesearchableattribute" >
      <xs:complexContent>
       <xs:extension base="xpathsearchableattribute">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xpathsearchableattribute" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="xpathexpression" type="xs:string" />
        <xs:element name="datatype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookorderdocumentrule" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentrulebase">
         <xs:sequence>
          <xs:element name="book_orders_property_path" type="xs:string" />
          <xs:element name="no_book_orders_error_key" type="xs:string" />
          <xs:element name="error_message_no_orders" type="xs:string" />
          <xs:element name="book_orders_empty_error_key" type="xs:string" />
          <xs:element name="error_message_empty_orders" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authormaintenancedocumentrule" >
      <xs:complexContent>
       <xs:extension base="maintenancedocumentrulebase">
         <xs:sequence>
          <xs:element name="author_entries_property_path" type="xs:string" />
          <xs:element name="no_address_type_error_key" type="xs:string" />
          <xs:element name="error_message_no_addtype_found" type="xs:string" />
          <xs:element name="same_address_type_error_key" type="xs:string" />
          <xs:element name="error_message_same_addtypr_found" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="title" type="xs:string" />
          <xs:element name="typecode" type="xs:string" />
          <xs:element name="isbn" type="xs:string" />
          <xs:element name="publisher" type="xs:string" />
          <xs:element name="publication" type="xs:dateTime" />
          <xs:element name="price" type="xs:anyType" />
          <xs:element name="rating" type="xs:anyType" />
          <xs:element name="" type="booktype" nillable="true" minOccurs="0" />
          <xs:element name="authors" type="author" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="authorid" type="xs:long" />
          <xs:element name="authorname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="phonenbr" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="books" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="addressid" type="xs:long" />
          <xs:element name="type" type="xs:string" />
          <xs:element name="street1" type="xs:string" />
          <xs:element name="street2" type="xs:string" />
          <xs:element name="city" type="xs:string" />
          <xs:element name="province" type="xs:string" />
          <xs:element name="country" type="xs:string" />
          <xs:element name="authorid" type="xs:long" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="addresstype" type="bsaddresstype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booktype" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="typecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="books" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookstorekimattributes" >
      <xs:complexContent>
       <xs:extension base="kimattributes">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="book_type_code" type="xs:string" />
          <xs:element name="booktypecode" type="xs:string" />
          <xs:element name="" type="booktype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectextensionbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="authorid" type="xs:long" />
          <xs:element name="bankname" type="xs:string" />
          <xs:element name="accountnumber" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookorder" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="documentid" type="xs:string" />
          <xs:element name="bookid" type="xs:long" />
          <xs:element name="quantity" type="xs:anyType" />
          <xs:element name="discount" type="xs:anyType" />
          <xs:element name="unitprice" type="xs:anyType" />
          <xs:element name="totalprice" type="xs:anyType" />
          <xs:element name="" type="book" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bsaddresstype" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="type" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="booktypequalifierresolver" >
      <xs:complexContent>
       <xs:extension base="qualifierresolverbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authormaintainable" >
      <xs:complexContent>
       <xs:extension base="kualimaintainableimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookmaintainable" >
      <xs:complexContent>
       <xs:extension base="kualimaintainableimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ingesterform" >
      <xs:complexContent>
       <xs:extension base="uifformbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="files" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statsform" >
      <xs:complexContent>
       <xs:extension base="uifformbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="begin_date" type="xs:string" />
          <xs:element name="end_date" type="xs:string" />
          <xs:element name="day_time_unit" type="xs:string" />
          <xs:element name="week_time_unit" type="xs:string" />
          <xs:element name="month_time_unit" type="xs:string" />
          <xs:element name="year_time_unit" type="xs:string" />
          <xs:element name="default_begin_date" type="xs:string" />
          <xs:element name="default_end_date" type="xs:string" />
          <xs:element name="beg_day_time" type="xs:string" />
          <xs:element name="end_day_time" type="xs:string" />
          <xs:element name="date_format" type="xs:string" />
          <xs:element name="time_format" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="methodtocall" type="xs:string" />
          <xs:element name="avgactionspertimeunit" type="xs:string" />
          <xs:element name="begdate" type="xs:string" />
          <xs:element name="enddate" type="xs:string" />
          <xs:element name="beginning" type="xs:dateTime" />
          <xs:element name="ending" type="xs:dateTime" />
          <xs:element name="//kulrice-3137:addedabacklocationparametersimilartotheonefromlookups.backlocation" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kewconstants" >
      <xs:sequence>
        <xs:element name="error_ingester_copy_file" type="xs:string" />
        <xs:element name="error_ingester_load_file" type="xs:string" />
        <xs:element name="error_ingester_extraneous_file" type="xs:string" />
        <xs:element name="error_ingester_no_valid_files" type="xs:string" />
        <xs:element name="error_ingester_failed" type="xs:string" />
        <xs:element name="info_ingester_success" type="xs:string" />
        <xs:element name="error_ingester_rolledback" type="xs:string" />
        <xs:element name="error_ingester_failed_xml" type="xs:string" />
        <xs:element name="error_ingester_during_inject" type="xs:string" />
        <xs:element name="error_ingester_no_xmls" type="xs:string" />
        <xs:element name="ingester_section_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ingestercontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="statscontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccountinfoinquiryviewhelperserviceimpl" >
      <xs:complexContent>
       <xs:extension base="kualiinquirableimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fiscalofficerinfomaintainableimpl" >
      <xs:complexContent>
       <xs:extension base="maintainableimpl">
         <xs:sequence>
          <xs:element name="transient" type="fiscalofficerservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fiscalofficerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficertravelaccountserviceimpl" >
      <xs:sequence>
        <xs:element name="foi_skip" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficerinfolookupviewhelperserviceimpl" >
      <xs:complexContent>
       <xs:extension base="lookupableimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccountservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficerinfoinquiryviewhelperserviceimpl" >
      <xs:complexContent>
       <xs:extension base="kualiinquirableimpl">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="traveldocumentaction2" >
      <xs:complexContent>
       <xs:extension base="kualitransactionaldocumentactionbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="traveldocumentform2" >
      <xs:complexContent>
       <xs:extension base="kualitransactionaldocumentformbase">
         <xs:sequence>
          <xs:element name="" type="travelaccount" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="destinationruleattribute" >
      <xs:complexContent>
       <xs:extension base="genericworkflowattribute">
         <xs:sequence>
          <xs:element name="dest_label" type="xs:string" />
          <xs:element name="dest_field_key" type="xs:string" />
          <xs:element name="rows" type="xs:anyType" />
          <xs:element name="destination" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountattribute" >
      <xs:complexContent>
       <xs:extension base="abstractroleattribute">
         <xs:sequence>
          <xs:element name="fiscal_officer_role" type="xs:anyType" />
          <xs:element name="roles" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xmlutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customactionlistattributeimpl" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeattribute" >
      <xs:complexContent>
       <xs:extension base="genericroleattribute">
         <xs:sequence>
          <xs:element name="employee_role" type="xs:anyType" />
          <xs:element name="supervisor_role" type="xs:anyType" />
          <xs:element name="director_role" type="xs:anyType" />
          <xs:element name="roles" type="xs:anyType" />
          <xs:element name="userid_form_fieldname" type="xs:string" />
          <xs:element name="/***travelertobesetbyclientapplicationsothatdoccontentcanbegeneratedappropriately*/traveler" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccountrulesengineexecutor" >
      <xs:sequence>
        <xs:element name="context_namespace_code" type="xs:string" />
        <xs:element name="context_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sampleremotedservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelservicelocator" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="standard_context" type="xs:string" />
        <xs:element name="test_context" type="xs:string" />
        <xs:element name="appcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="travel_session_key" type="xs:string" />
        <xs:element name="datasource" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelappinitializelistener" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="traveldocumentrule" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentrulebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="traveldocument2" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentbase">
         <xs:sequence>
          <xs:element name="traveler" type="xs:string" />
          <xs:element name="origin" type="xs:string" />
          <xs:element name="destination" type="xs:string" />
          <xs:element name="requesttype" type="xs:string" />
          <xs:element name="accounttype" type="xs:string" />
          <xs:element name="travelaccounts" type="travelaccount" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="traveldocumentauthorizer" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentauthorizerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="traveldocumentpresentationcontroller" >
      <xs:complexContent>
       <xs:extension base="transactionaldocumentpresentationcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelrequesttype" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpletestkeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase{">
         <xs:sequence>
          <xs:element name="blankoption" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accounttypekeyvalues" >
      <xs:complexContent>
       <xs:extension base="keyvaluesbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccounttype" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccountuserate" >
      <xs:complexContent>
       <xs:extension base="inactivatablefromtoimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="number" type="xs:string" />
          <xs:element name="rate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attachmentsample" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="contenttype" type="xs:string" />
          <xs:element name="attachmentcontent" type="xs:anyType" />
          <xs:element name="transientattachmentfile" type="xs:anyType" />
          <xs:element name="attachments" type="multiattachmentsample" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fiscalofficer" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="accounts" type="travelaccount" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccountextension" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectextensionbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="number" type="xs:string" />
          <xs:element name="accounttypecode" type="xs:string" />
          <xs:element name="accounttype" type="travelaccounttype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccount" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="number" type="xs:string" />
          <xs:element name="subaccount" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="subaccountname" type="xs:string" />
          <xs:element name="subsidizedpercent" type="xs:anyType" />
          <xs:element name="create" type="xs:dateTime" />
          <xs:element name="foid" type="xs:long" />
          <xs:element name="" type="fiscalofficer" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="travelaccountrules" >
      <xs:complexContent>
       <xs:extension base="maintenancedocumentrulebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sampleappattributes" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="foid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiattachmentsample" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="genid" type="xs:long" />
          <xs:element name="id" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="filename" type="xs:string" />
          <xs:element name="contenttype" type="xs:string" />
          <xs:element name="attachmentcontent" type="xs:anyType" />
          <xs:element name="transientattachmentfile" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fiscalofficerinfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="objectid" type="xs:string" />
        <xs:element name="versionnumber" type="xs:long" />
        <xs:element name="accounts" type="travelaccountinfo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelaccountinfo" >
      <xs:sequence>
        <xs:element name="number" type="xs:string" />
        <xs:element name="subaccount" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="subaccountname" type="xs:string" />
        <xs:element name="subsidizedpercent" type="xs:anyType" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="foid" type="xs:long" />
        <xs:element name="objectid" type="xs:string" />
        <xs:element name="versionnumber" type="xs:long" />
        <xs:element name="//thisisjustfortestingrelationshipdefinitionsuntilanestedobject//isnolongerrequired" type="fiscalofficerinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uitestcontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uilayouttestcontroller" >
      <xs:complexContent>
       <xs:extension base="uifcontrollerbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uitestform" >
      <xs:complexContent>
       <xs:extension base="uifformbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="field1" type="xs:string" />
          <xs:element name="field2" type="xs:string" />
          <xs:element name="field3" type="xs:string" />
          <xs:element name="field4" type="xs:string" />
          <xs:element name="field5" type="xs:string" />
          <xs:element name="field6" type="xs:string" />
          <xs:element name="field7" type="xs:long" />
          <xs:element name="field8" type="xs:anyType" />
          <xs:element name="field9" type="xs:anyType" />
          <xs:element name="field10" type="xs:anyType" />
          <xs:element name="field11" type="xs:anyType" />
          <xs:element name="field12" type="xs:anyType" />
          <xs:element name="field13" type="xs:string" />
          <xs:element name="field14" type="xs:string" />
          <xs:element name="field15" type="xs:string" />
          <xs:element name="field16" type="xs:string" />
          <xs:element name="field17" type="xs:string" />
          <xs:element name="field18" type="xs:string" />
          <xs:element name="field19" type="xs:string" />
          <xs:element name="field20" type="xs:string" />
          <xs:element name="field21" type="xs:string" />
          <xs:element name="field22" type="xs:anyType" />
          <xs:element name="field23" type="xs:string" />
          <xs:element name="field24" type="xs:anyType" />
          <xs:element name="field25" type="xs:anyType" />
          <xs:element name="field26" type="xs:anyType" />
          <xs:element name="field27" type="xs:string" />
          <xs:element name="field28" type="xs:string" />
          <xs:element name="field29" type="xs:anyType" />
          <xs:element name="field30" type="xs:anyType" />
          <xs:element name="field31" type="xs:anyType" />
          <xs:element name="field32" type="xs:string" />
          <xs:element name="field33" type="xs:string" />
          <xs:element name="field34" type="xs:string" />
          <xs:element name="field35" type="xs:string" />
          <xs:element name="vfield1" type="xs:string" />
          <xs:element name="vfield2" type="xs:string" />
          <xs:element name="vfield3" type="xs:string" />
          <xs:element name="vfield4" type="xs:string" />
          <xs:element name="vfield5" type="xs:string" />
          <xs:element name="vfield6" type="xs:string" />
          <xs:element name="hfield1" type="xs:string" />
          <xs:element name="hfield2" type="xs:string" />
          <xs:element name="hfield3" type="xs:string" />
          <xs:element name="1" type="travelaccount" nillable="true" minOccurs="0" />
          <xs:element name="2" type="travelaccount" nillable="true" minOccurs="0" />
          <xs:element name="3" type="travelaccount" nillable="true" minOccurs="0" />
          <xs:element name="4" type="travelaccount" nillable="true" minOccurs="0" />
          <xs:element name="hidden1" type="xs:string" />
          <xs:element name="hidden2" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodkeyvaluesfinder" >
      <xs:complexContent>
       <xs:extension base="uifkeyvaluesfinderbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sampleappstandalonebeans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sampleappbeans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ojb-repository-sampleapp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficer-extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelaccounttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelaccountuserate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelaccountmaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficermaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelaccountextension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="travelrequestdocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styleinquiry" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleattributeinquiry" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttypeinquiry" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruletemplateinquiry" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booktypemaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authormaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresstypemaintenancedocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookorderdocument" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bsaddresstype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookorder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookstorekimattributes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booktype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sampletravelapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradtestlinks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradtravelapplication2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradtravelapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradtestlinks2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradbookstoreapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kradtab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookorders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="struts-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="traveldocument2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentapplicationheader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="studentapplicationfooter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookorder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowdoctypeit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitygroupblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowdoctypeblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confignamespaceblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencecampustypeblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="referencecampustypeit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitypermissionblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationcountryit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationpostcodeblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationcountryblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identityroleblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configparameterit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitygroupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitypermissionit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationcampusblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationstateblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identityroleit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationpostcodeit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configparameterblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identityresponsibilityit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationcampusit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentsearchurlparametersit" >
      <xs:sequence>
        <xs:element name="admin_user_network_id" type="xs:string" />
        <xs:element name="driver" type="xs:anyType" />
        <xs:element name="base" type="xs:string" />
        <xs:element name="document_type_name" type="xs:string" />
        <xs:element name="advanced_search_only_field" type="xs:string" />
        <xs:element name="core_fields" type="xs:anyType" />
        <xs:element name="basic_fields" type="xs:anyType" />
        <xs:element name="advanced_fields" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agendaeditrulerefreshit" >
      <xs:complexContent>
       <xs:extension base="selenesetestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identitypersonit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configparametertypeit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationcountyit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationcountyblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identityresponsibilityblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationstateit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitypersonblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="confignamespaceit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fiscalofficerinfomaintenancenewit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uifcomponentvalidationregexpatternit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="watermarkvalidation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributedefinitionlookupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="termspecificationlookupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createnewagendait" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowrouterulesit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorylookupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowrouterulesdelegationit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workflowrouterulesblanketappit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginlogoutit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="termlookupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextlookupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agendalookupit" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docsearchtoanotherview" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sample-app-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 