dataio2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="v2___datablock_add_groupheader_column" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v1__initial_schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v4__datablock_sortkey_da_dk_collate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v3___datablock_add_recordpart_column" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sink-periodic-jobs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dockerfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobssftpfinalizerbean" >
      <xs:complexContent>
       <xs:extension base="periodicjobspickupfinalizer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="proxyhost" type="xs:string" />
          <xs:element name="proxyport" type="xs:string" />
          <xs:element name="proxyuser" type="xs:string" />
          <xs:element name="proxypassword" type="xs:string" />
          <xs:element name="nonproxyeddomains" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsdelivery" >
      <xs:sequence>
        <xs:element name="delete_delivery_query" type="xs:string" />
        <xs:element name="delete_delivery_query_name" type="xs:string" />
        <xs:element name="jobid" type="xs:anyType" />
        <xs:element name="config" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databasemigrator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="i18n" >
      <xs:sequence>
        <xs:element name="resource_bundle" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datablockslocalfilebuffer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="delivery" type="periodicjobsdelivery" nillable="true" minOccurs="0" />
        <xs:element name="tmp" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobshttpfinalizerbean" >
      <xs:complexContent>
       <xs:extension base="periodicjobspickupfinalizer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="origin" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsdatablock" >
      <xs:sequence>
        <xs:element name="get_data_blocks_query" type="xs:string" />
        <xs:element name="get_data_blocks_query_name" type="xs:string" />
        <xs:element name="delete_data_blocks_query" type="xs:string" />
        <xs:element name="delete_data_blocks_query_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="sortkey" type="xs:string" />
        <xs:element name="s" type="xs:anyType" />
        <xs:element name="groupheader" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageconsumerbean" >
      <xs:complexContent>
       <xs:extension base="abstractsinkmessageconsumerbean">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="periodicjobsfinalizerbean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsdatablockresultsetmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobsharvesterconfigconverter" >
      <xs:sequence>
        <xs:element name="jsonb_context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobsftpfinalizerbean" >
      <xs:complexContent>
       <xs:extension base="periodicjobspickupfinalizer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="proxyhost" type="xs:string" />
          <xs:element name="proxyport" type="xs:string" />
          <xs:element name="proxyuser" type="xs:string" />
          <xs:element name="proxypassword" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobspickupfinalizer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobsconversionparam" >
      <xs:complexContent>
       <xs:extension base="conversionparam">
         <xs:sequence>
          <xs:element name="sortkey" type="xs:string" />
          <xs:element name="recordheader" type="xs:string" />
          <xs:element name="groupheader" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsfinalizerbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="periodicjobsconfigurationbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="periodicjobshttpfinalizerbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="periodicjobsmailfinalizerbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="periodicjobsftpfinalizerbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="periodicjobssftpfinalizerbean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobssinkapplication" >
      <xs:complexContent>
       <xs:extension base="application">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsconfigurationbean" >
      <xs:sequence>
        <xs:element name="deliverycache" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groupheaderincludepredicate" >
      <xs:sequence>
        <xs:element name="//ifthreadsafetyisneeded,useconcurrenthashmap.newkeyset()insteadgroupheaders" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobsmailfinalizerbean" >
      <xs:complexContent>
       <xs:extension base="periodicjobspickupfinalizer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="mail" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-ejb-jar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glassfish-web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobsftpfinalizerbeanit" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="home_dir" type="xs:string" />
          <xs:element name="put_dir" type="xs:string" />
          <xs:element name="absolute_put_dir" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupheaderincludepredicatetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="periodicjobsmailfinalizerbeanit" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="mailfrom" type="xs:string" />
          <xs:element name="recipients" type="xs:string" />
          <xs:element name="subject" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsfinalizerbeanit" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="" type="periodicjobsconfigurationbean" nillable="true" minOccurs="0" />
          <xs:element name="" type="periodicjobshttpfinalizerbean" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobsconfigurationbeanit" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobshttpfinalizerbeanit" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="file_store_url" type="xs:string" />
          <xs:element name="file_id" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="containertest" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="socks5proxy" type="xs:anyType" />
          <xs:element name="proxy_host" type="xs:string" />
          <xs:element name="proxy_port" type="xs:long" />
          <xs:element name="proxy_user" type="xs:string" />
          <xs:element name="proxy_password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="periodicjobssftpfinalizerbeanit" >
      <xs:complexContent>
       <xs:extension base="containertest">
         <xs:sequence>
          <xs:element name="testdir" type="xs:string" />
          <xs:element name="sftpuser" type="xs:string" />
          <xs:element name="sftpassword" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sftp_server" type="xs:string" />
          <xs:element name="fakesftpserver" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="integrationtest" >
      <xs:complexContent>
       <xs:extension base="jpaintegrationtest">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="pg" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messageconsumerbeanit" >
      <xs:complexContent>
       <xs:extension base="integrationtest">
         <xs:sequence>
          <xs:element name="1" type="xs:anyType" />
          <xs:element name="2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 