CovidTestPlatform/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="patientcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="patientcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="patientservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="geocodeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scheduledappointmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="covidtestingplatformapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="covidtestingplatformapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacksonconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledappointmentdetail" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="testcentername" type="xs:string" />
        <xs:element name="testcenteraddress" type="xs:string" />
        <xs:element name="appointmentdate" type="xs:anyType" />
        <xs:element name="appointmenttime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledappointment" >
      <xs:sequence>
        <xs:element name="scheduledappointmentsid" type="xs:string" />
        <xs:element name="patientid" type="xs:string" />
        <xs:element name="testcentreavailabilityid" type="xs:string" />
        <xs:element name="appointmentdate" type="xs:anyType" />
        <xs:element name="time" type="xs:string" />
        <xs:element name="checkedin" type="xs:anyType" />
        <xs:element name="deleteflag" type="xs:anyType" />
        <xs:element name="availableappointmentsid" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcenter" >
      <xs:sequence>
        <xs:element name="testcentreid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="//@jsonserialize(using" type="xs:anyType" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patient" >
      <xs:sequence>
        <xs:element name="patientid" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="dob" type="xs:dateTime" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="insuranceprovider" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="appointmenthistories" type="appointmenthistory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalreportdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="result" type="xs:string" />
        <xs:element name="appointmentdate" type="xs:anyType" />
        <xs:element name="time" type="xs:string" />
        <xs:element name="patientgender" type="xs:string" />
        <xs:element name="patientage" type="xs:long" />
        <xs:element name="testcentername" type="xs:string" />
        <xs:element name="testcenteraddress1" type="xs:string" />
        <xs:element name="testcenteraddress2" type="xs:string" />
        <xs:element name="testcenterzip" type="xs:string" />
        <xs:element name="testcentercity" type="xs:string" />
        <xs:element name="testcenterstate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientdto" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="physician" >
      <xs:sequence>
        <xs:element name="physicianid" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="GeneratedName" type="testcenter" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="availableappointment" >
      <xs:sequence>
        <xs:element name="availableappointmentsid" type="xs:string" />
        <xs:element name="time" type="timeslot" nillable="true" minOccurs="0" />
        <xs:element name="appomentcount" type="xs:long" />
        <xs:element name="appointmentslist" type="scheduledappointment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeslot" >
      <xs:sequence>
        <xs:element name="value" type="xs:long" />
        <xs:element name="map" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcenteravailability" >
      <xs:sequence>
        <xs:element name="testcentreavailabilityid" type="xs:string" />
        <xs:element name="day" type="xs:anyType" />
        <xs:element name="GeneratedName" type="testcenter" nillable="true" minOccurs="0" />
        <xs:element name="availableappointments" type="availableappointment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="availablecount" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalreport" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="result" type="xs:string" />
        <xs:element name="reporturl" type="xs:string" />
        <xs:element name="GeneratedName" type="appointmenthistory" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="patient" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="physician" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenter" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointmenthistory" >
      <xs:sequence>
        <xs:element name="appointmenthistoryid" type="xs:string" />
        <xs:element name="physicianid" type="xs:string" />
        <xs:element name="followupneeded" type="xs:anyType" />
        <xs:element name="appointmentdate" type="xs:anyType" />
        <xs:element name="time" type="xs:string" />
        <xs:element name="testcenterid" type="xs:string" />
        <xs:element name="documentuploaded" type="xs:anyType" />
        <xs:element name="GeneratedName" type="patient" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="upat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcentercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testcenterservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcenteravailabilitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testcenteravailabilityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="democontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="geocodeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="physiciancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="physicianservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appointmenthistoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledappointmentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scheduledappointmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="patientservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="geocodeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="scheduledappointmentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appointmenthistoryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalreportservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalreportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="medicalreportservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcenterrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<testcenter,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="medicalreportrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scheduledappointmentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<scheduledappointment,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="availableappointmentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<availableappointment,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appointmenthistoryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<appointmenthistory,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="patientrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<patient,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testcenteravailabilityrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<testcenteravailability,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="physicianrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<physician,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="availableappointmentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="availableappointmentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geocodeservice" >
      <xs:sequence>
        <xs:element name="apikey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="publisherservice" >
      <xs:sequence>
        <xs:element name="awsregion" type="xs:string" />
        <xs:element name="scheduledappointmentsnstopicarn" type="xs:string" />
        <xs:element name="reportnotificationsnstopicarn" type="xs:string" />
        <xs:element name="reportanalyticssnstopicarn" type="xs:string" />
        <xs:element name="key" type="xs:string" />
        <xs:element name="secret" type="xs:string" />
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenterrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenteravailabilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appointmenthistoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medicalreportservice" >
      <xs:sequence>
        <xs:element name="amazonclient" type="uploadamazonclient" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="medicalreportrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="physicianrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenterrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appointmenthistoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="publisherservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appointmenthistoryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appointmenthistoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledappointmentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scheduledappointmentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="availableappointmentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenteravailabilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appointmenthistoryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="publisherservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenterrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadamazonclient" >
      <xs:sequence>
        <xs:element name="s3client" type="xs:anyType" />
        <xs:element name="endpointurl" type="xs:string" />
        <xs:element name="bucketname" type="xs:string" />
        <xs:element name="accesskey" type="xs:string" />
        <xs:element name="secretkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="physicianservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="physicianrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenterrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcenterservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testcenterrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="geocodeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcenteravailabilityservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="testcenteravailabilityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="testcenterservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="availableappointmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 