arquitetura_java7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:complexContent>
       <xs:extension base="baseswaggerconfig">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oficialrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<oficial,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oficialresource" >
      <xs:sequence>
        <xs:element name="repository" type="oficialrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oficial" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="posto" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aulasmicroservicescadastrosapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 