business-traceability/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="san_idmap_company" >
      <xs:complexContent>
       <xs:extension base="san_idmap_company_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo49" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo49_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo91" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo91_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="business_cons_info" >
      <xs:complexContent>
       <xs:extension base="business_cons_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_mdomain" >
      <xs:complexContent>
       <xs:extension base="san_com_mdomain_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_idmap_person" >
      <xs:complexContent>
       <xs:extension base="san_idmap_person_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="daily_report" >
      <xs:complexContent>
       <xs:extension base="daily_report_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tdb_big_industry" >
      <xs:complexContent>
       <xs:extension base="tdb_big_industry_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="industry_big_mst" >
      <xs:complexContent>
       <xs:extension base="industry_big_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo12" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo12_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authority_mst" >
      <xs:complexContent>
       <xs:extension base="authority_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="industry_mdl_mst" >
      <xs:complexContent>
       <xs:extension base="industry_mdl_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="daily_activity_type" >
      <xs:complexContent>
       <xs:extension base="daily_activity_type_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_idmap_card" >
      <xs:complexContent>
       <xs:extension base="san_idmap_card_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_info" >
      <xs:complexContent>
       <xs:extension base="san_com_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_live_owner" >
      <xs:complexContent>
       <xs:extension base="san_com_live_owner_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo16" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo16_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="industry_big_info" >
      <xs:complexContent>
       <xs:extension base="industry_big_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo13" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo13_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_branch" >
      <xs:complexContent>
       <xs:extension base="san_com_branch_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="captital_level_mst" >
      <xs:complexContent>
       <xs:extension base="captital_level_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo22" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo22_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basepoint_info" >
      <xs:complexContent>
       <xs:extension base="basepoint_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo40" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo40_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="monthly_report_history" >
      <xs:complexContent>
       <xs:extension base="monthly_report_history_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_udomain" >
      <xs:complexContent>
       <xs:extension base="san_com_udomain_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notification_data" >
      <xs:complexContent>
       <xs:extension base="notification_data_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo90" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo90_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="batch_job_execution" >
      <xs:complexContent>
       <xs:extension base="batch_job_execution_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_site" >
      <xs:complexContent>
       <xs:extension base="san_com_site_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_cnumber" >
      <xs:complexContent>
       <xs:extension base="san_com_cnumber_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresspoint_mst" >
      <xs:complexContent>
       <xs:extension base="addresspoint_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer_info_view" >
      <xs:complexContent>
       <xs:extension base="customer_info_view_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tdb_middle_industry" >
      <xs:complexContent>
       <xs:extension base="tdb_middle_industry_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="batch_job_execution_params" >
      <xs:complexContent>
       <xs:extension base="batch_job_execution_params_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="business_company_mst" >
      <xs:complexContent>
       <xs:extension base="business_company_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee_mst" >
      <xs:complexContent>
       <xs:extension base="employee_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notification_item" >
      <xs:complexContent>
       <xs:extension base="notification_item_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_card_tag" >
      <xs:complexContent>
       <xs:extension base="san_card_tag_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo11" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo11_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personnel_affairs_info" >
      <xs:complexContent>
       <xs:extension base="personnel_affairs_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="position_mst" >
      <xs:complexContent>
       <xs:extension base="position_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notification_config" >
      <xs:complexContent>
       <xs:extension base="notification_config_mapped">
         <xs:sequence>
          <xs:element name="//@formatter:on/*" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo15" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo15_mapped">
         <xs:sequence>
          <xs:element name="//@formatter:on/*" type="xs:anyType" />
          <xs:element name="max" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tdb_industry_category" >
      <xs:complexContent>
       <xs:extension base="tdb_industry_category_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_relation" >
      <xs:complexContent>
       <xs:extension base="acc_com_relation_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="industry_mdl_info" >
      <xs:complexContent>
       <xs:extension base="industry_mdl_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company_mst" >
      <xs:complexContent>
       <xs:extension base="company_mst_mapped">
         <xs:sequence>
          <xs:element name="//@formatter:on/*" type="xs:string" />
          <xs:element name="allbranches" type="xs:string" />
          <xs:element name="basepoint_infos" type="basepoint_info" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_purchase" >
      <xs:complexContent>
       <xs:extension base="acc_com_purchase_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_credit" >
      <xs:complexContent>
       <xs:extension base="acc_com_credit_mapped">
         <xs:sequence>
          <xs:element name="//@formatter:on/*" type="xs:anyType" />
          <xs:element name="approvalemployee" type="xs:anyType" />
          <xs:element name="acccombugyo16" type="xs:anyType" />
          <xs:element name="acccombugyo15" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_industry" >
      <xs:complexContent>
       <xs:extension base="acc_com_industry_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="monthly_report_revision" >
      <xs:complexContent>
       <xs:extension base="monthly_report_revision_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_live_stat" >
      <xs:complexContent>
       <xs:extension base="san_com_live_stat_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_live_client" >
      <xs:complexContent>
       <xs:extension base="san_com_live_client_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_entity" >
      <xs:complexContent>
       <xs:extension base="acc_com_entity_mapped">
         <xs:sequence>
          <xs:element name="short_indx_customer" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tdb_detail_industry" >
      <xs:complexContent>
       <xs:extension base="tdb_detail_industry_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="credit_info" >
      <xs:complexContent>
       <xs:extension base="credit_info_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_finance" >
      <xs:complexContent>
       <xs:extension base="acc_com_finance_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo10" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo10_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_com_whole_card" >
      <xs:complexContent>
       <xs:extension base="san_com_whole_card_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo21" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo21_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user_login" >
      <xs:complexContent>
       <xs:extension base="user_login_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="industry_sml_mst" >
      <xs:complexContent>
       <xs:extension base="industry_sml_mst_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branch_position" >
      <xs:complexContent>
       <xs:extension base="branch_position_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="san_card_data" >
      <xs:complexContent>
       <xs:extension base="san_card_data_mapped">
         <xs:sequence>
          <xs:element name="version" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acc_com_bugyo14" >
      <xs:complexContent>
       <xs:extension base="acc_com_bugyo14_mapped">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="debugaction" >
      <xs:complexContent>
       <xs:extension base="abstractservice">
         <xs:sequence>
          <xs:element name="/***theauthservice.*/authservice" type="authenticationservice" nillable="true" minOccurs="0" />
          <xs:element name="/***thesessionmonitor.*/sessionmonitor" type="usersessionmonitor" nillable="true" minOccurs="0" />
          <xs:element name="/***theinputvalue1.*/inputvalue1" type="xs:string" />
          <xs:element name="/***thelistcompany.*/listcompany" type="company_mst" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***theexecutorservice.*///findtheservicewhichcontrolscheduledjob.executorservice" type="xs:anyType" />
          <xs:element name="/***theusercode.*/usercode" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 