dbc_henrique-laporta3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="apolice" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="bem" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="cliente" nillable="true" minOccurs="0" />
        <xs:element name="iniciovigencia" type="xs:anyType" />
        <xs:element name="fimvigencia" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliente" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 