hd1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="usertest" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertestquestion" >
      <xs:sequence>
        <xs:element name="testid" type="xs:long" />
        <xs:element name="questionid" type="xs:long" />
        <xs:element name="testid" type="xs:long" />
        <xs:element name="questionid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlecategory" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="realname" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="isblack" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="mobileverify" type="xs:anyType" />
        <xs:element name="//隐藏输出但是不隐藏输入password" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="birthyear" type="xs:string" />
        <xs:element name="birthmonth" type="xs:string" />
        <xs:element name="birthday" type="xs:string" />
        <xs:element name="gender" type="xs:anyType" />
        <xs:element name="avatar" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="area" type="xs:string" />
        <xs:element name="isdoctor" type="xs:anyType" />
        <xs:element name="isdelete" type="xs:anyType" />
        <xs:element name="department" type="xs:long" />
        <xs:element name="hospital" type="xs:string" />
        <xs:element name="level" type="xs:string" />
        <xs:element name="goodat" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="duration" type="xs:anyType" />
        <xs:element name="departmenttel" type="xs:string" />
        <xs:element name="account" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doctordepartment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="img" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userquestion" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="score" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertestreport" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="testid" type="xs:long" />
        <xs:element name="//分值score" type="xs:anyType" />
        <xs:element name="//评估标题title" type="xs:string" />
        <xs:element name="//评估正文content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userquestionchoice" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="questionid" type="xs:long" />
        <xs:element name="choice" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userquestionanswer" >
      <xs:sequence>
        <xs:element name="questionid" type="xs:long" />
        <xs:element name="choiceid" type="xs:long" />
        <xs:element name="questionid" type="xs:long" />
        <xs:element name="choiceid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddress" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="realname" type="xs:string" />
        <xs:element name="mobile" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="area" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="isdefault" type="xs:anyType" />
        <xs:element name="zipcode" type="xs:string" />
        <xs:element name="deleted" type="xs:anyType" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="lng" type="xs:string" />
        <xs:element name="lat" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userarticlecomment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="articleid" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="isreply" type="xs:anyType" />
        <xs:element name="pid" type="xs:long" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="//隐藏输出但是不隐藏输入password" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treatmentorder" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="doctorid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="duration" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="begintime" type="xs:long" />
        <xs:element name="endtime" type="xs:long" />
        <xs:element name="state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertestlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="testid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="//测评得分score" type="xs:anyType" />
        <xs:element name="result" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermsg" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="otherid" type="xs:long" />
        <xs:element name="isread" type="xs:anyType" />
        <xs:element name="createtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userarticle" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="img" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createtime" type="xs:dateTime" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="readnum" type="xs:long" />
        <xs:element name="likenum" type="xs:long" />
        <xs:element name="keyword" type="xs:string" />
        <xs:element name="state" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 