blog1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thinker-md.vendor.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tether.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tether.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="twemoji" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nature" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="people" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="object" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysmbols" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="place" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tether" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gly-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="add" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalogedit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constraintviolationexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//用户的唯一标识id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="//用户账号，用户登录时的唯一标识username" type="xs:string" />
          <xs:element name="//登录时密码password" type="xs:string" />
          <xs:element name="//头像图片地址avatar" type="xs:string" />
          <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="catalog" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//用户的唯一标识id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vote" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//用户的唯一标识id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esblog" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="//blog的idblogid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="avatar" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="//访问量、阅读量readsize" type="xs:anyType" />
        <xs:element name="//评论量commentsize" type="xs:anyType" />
        <xs:element name="//点赞量votesize" type="xs:anyType" />
        <xs:element name="//标签tags" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//用户的唯一标识id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blog" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//用户的唯一标识id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="//将md转为htmlhtmlcontent" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="createtime" type="xs:anyType" />
        <xs:element name="//访问量、阅读量readsize" type="xs:anyType" />
        <xs:element name="//评论量commentsize" type="xs:anyType" />
        <xs:element name="//点赞量votesize" type="xs:anyType" />
        <xs:element name="comments" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="votes" type="vote" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="catalog" nillable="true" minOccurs="0" />
        <xs:element name="//标签tags" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//用户的唯一标识id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspacecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="catalogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hellocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="votecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="voteservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="esblogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalogcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="catalogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blogservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="role_user_authority_id" type="xs:long" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esblogservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blogrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="esblogservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="voteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalogservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="voteserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="voterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalogserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="catalogrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="esblogserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="esblogrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="top_5_" type="xs:anyType" />
        <xs:element name="empty_keyword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<blog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="voterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<vote,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="esblogrepository" >
      <xs:complexContent>
       <xs:extension base="elasticsearchrepository<esblog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="catalogrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<catalog,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authority,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tagvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="catalogvo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="GeneratedName" type="catalog" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="body" type="object" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blogrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="esblogrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="blogrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 