core_java/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employeeprimaryinfo" >
      <xs:sequence>
        <xs:element name="emp_id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="departmentid" type="xs:long" />
        <xs:element name="govid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="_of_joining" type="xs:dateTime" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="gender" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="mobileno" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 