cloudfarm/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="farmrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="farmrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="farmcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="farmactioncontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stockcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="farmactioncontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendcontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sendcontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorecontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scorecontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="farmactioncontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmactioncontrollertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="farmrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="farmactioncontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articlerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorerepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scorerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysuserrepositorytest" >
      <xs:sequence>
        <xs:element name="userinfoservice" type="sysuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sysrolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="syspermissionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddressrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="addressrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pkageproductrepositorytest" >
      <xs:sequence>
        <xs:element name="repository" type="pkageproductrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysuserrepositorytest" >
      <xs:sequence>
        <xs:element name="userinfoservice" type="sysuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sysrolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="syspermissionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="farmrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockhistoryrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stockhistoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmactionrepositorytest" >
      <xs:sequence>
        <xs:element name="farmoperrepository" type="farmactionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="articlerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scorerepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scorerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apptest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ap333plication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objects" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="charts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="video" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="help" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spechars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edittip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-1.10.2.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prototype-adapter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mootools-adapter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="drilldown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="no-data-to-display" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funnel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="controller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginajax" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-accent-neutralise.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-resizable.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-natural-sorting" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-natural-sorting.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-i18n-enhance.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-group-by.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-flat-json.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-filter.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-mobile.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-reorder-rows.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-copy-rows.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-group-by" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-angular.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-multiple-search.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-reorder-columns.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-da-dk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-es-sp.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ru-ru.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-sv-se.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-es-cr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-sk-sk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-es-es.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ms-my.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-af-za.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-hr-hr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-pt-pt.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-th-th.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-es-mx.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-cs-cz.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ja-jp.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ca-es.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-nb-no.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-uk-ua.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ur-pk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-tr-tr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-es-ni.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-it-it.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-pl-pl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-zh-tw.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ko-kr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-vi-vn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-fa-ir.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-en-us.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-et-ee.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-el-gr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-hu-hu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ro-ro.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ka-ge.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-de-de.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-he-il.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-ar-sa.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-pt-br.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-es-ar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-fr-fr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-nl-nl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-fr-be.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-zh-cn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-locale-all.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".travis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="issue_template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-natural-sorting" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table-group-by" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-table.jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="composer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.tmplplus.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.tmplplus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1_remote-data-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="3_if-else-tag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="5_javascript" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="4_each-tag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="4_each-tag-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="2_html-tag-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="5_javascript-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="3_if-else-tag-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="0_local-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="2_html-tag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="0_local-data-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="1_remote-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="6_hierarchical-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="6_hierarchical-data-source" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="step-by-step" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="conditional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treeview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabstmpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treeview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movies2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movies3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movies1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movies" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moviesnoglobals" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="masonry.pkgd.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagesloaded.pkgd.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="403" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploader" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="conf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storagemanager" >
      <xs:sequence>
        <xs:element name="buffer_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binaryuploader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="base64uploader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configmanager" >
      <xs:sequence>
        <xs:element name="rootpath" type="xs:string" />
        <xs:element name="originalpath" type="xs:string" />
        <xs:element name="contextpath" type="xs:string" />
        <xs:element name="configfilename" type="xs:string" />
        <xs:element name="parentpath" type="xs:string" />
        <xs:element name="jsonconfig" type="xs:anyType" />
        <xs:element name="//涂鸦上传filename定义scrawl_file_name" type="xs:string" />
        <xs:element name="//远程图片抓取filename定义remote_file_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filemanager" >
      <xs:sequence>
        <xs:element name="dir" type="xs:string" />
        <xs:element name="rootpath" type="xs:string" />
        <xs:element name="allowfiles" type="xs:string" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagehunter" >
      <xs:sequence>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="savepath" type="xs:string" />
        <xs:element name="rootpath" type="xs:string" />
        <xs:element name="allowtypes" type="xs:anyType" />
        <xs:element name="maxsize" type="xs:long" />
        <xs:element name="filters" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actionenter" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="rootpath" type="xs:string" />
        <xs:element name="contextpath" type="xs:string" />
        <xs:element name="actiontype" type="xs:string" />
        <xs:element name="GeneratedName" type="configmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encoder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pathformat" >
      <xs:sequence>
        <xs:element name="time" type="xs:string" />
        <xs:element name="full_year" type="xs:string" />
        <xs:element name="year" type="xs:string" />
        <xs:element name="month" type="xs:string" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="hour" type="xs:string" />
        <xs:element name="minute" type="xs:string" />
        <xs:element name="second" type="xs:string" />
        <xs:element name="rand" type="xs:string" />
        <xs:element name="current" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actionmap" >
      <xs:sequence>
        <xs:element name="mapping" type="xs:anyType" />
        <xs:element name="//获取配置请求config" type="xs:long" />
        <xs:element name="upload_image" type="xs:long" />
        <xs:element name="upload_scrawl" type="xs:long" />
        <xs:element name="upload_video" type="xs:long" />
        <xs:element name="upload_file" type="xs:long" />
        <xs:element name="catch_image" type="xs:long" />
        <xs:element name="list_file" type="xs:long" />
        <xs:element name="list_image" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actionstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multistate" >
      <xs:sequence>
        <xs:element name="state" type="xs:anyType" />
        <xs:element name="info" type="xs:string" />
        <xs:element name="intmap" type="xs:anyType" />
        <xs:element name="infomap" type="xs:anyType" />
        <xs:element name="statelist" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basestate" >
      <xs:sequence>
        <xs:element name="state" type="xs:anyType" />
        <xs:element name="info" type="xs:string" />
        <xs:element name="infomap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mimetype" >
      <xs:sequence>
        <xs:element name="types" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appinfo" >
      <xs:sequence>
        <xs:element name="success" type="xs:long" />
        <xs:element name="max_size" type="xs:long" />
        <xs:element name="permission_denied" type="xs:long" />
        <xs:element name="failed_create_file" type="xs:long" />
        <xs:element name="io_error" type="xs:long" />
        <xs:element name="not_multipart_content" type="xs:long" />
        <xs:element name="parse_request_error" type="xs:long" />
        <xs:element name="notfound_upload_data" type="xs:long" />
        <xs:element name="not_allow_file_type" type="xs:long" />
        <xs:element name="invalid_action" type="xs:long" />
        <xs:element name="config_error" type="xs:long" />
        <xs:element name="prevent_host" type="xs:long" />
        <xs:element name="connection_error" type="xs:long" />
        <xs:element name="remote_fail" type="xs:long" />
        <xs:element name="not_directory" type="xs:long" />
        <xs:element name="not_exist" type="xs:long" />
        <xs:element name="illegal" type="xs:long" />
        <xs:element name="info" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filetype" >
      <xs:sequence>
        <xs:element name="jpg" type="xs:string" />
        <xs:element name="types" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormessage" >
      <xs:sequence>
        <xs:element name="errcode" type="xs:long" />
        <xs:element name="errmsg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="farmutils" >
      <xs:sequence>
        <xs:element name="statedict" type="xs:anyType" />
        <xs:element name="articletype" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrolerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<sysrole,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="syspermissionrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<syspermission,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pkagerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<pkage,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="masterrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<master,masterpk>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stockrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<stock,stockpk>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="farmrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<farm,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="farmactionrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<farmaction,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pkageproductrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<pkage_product,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scorerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<score,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<product,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stockhistoryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<stockhistory,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sysuserrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<sysuser,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<notice,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<send,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<address,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articlerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<article,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="detail" type="xs:string" />
        <xs:element name="//公告是否有效的标识status" type="xs:anyType" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pkage_product" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//pkageid//productidprice_cost" type="xs:long" />
        <xs:element name="//套餐内某产品保底产量--应当以产品保底产量作为单位进行换算min" type="xs:long" />
        <xs:element name="//套餐内某产品最大产量--应当以产品最大产量作为单位进行换算max" type="xs:long" />
        <xs:element name="//套餐内某产品真实产量字段关联农田的各种属性进行计算得出(max-min)*(a+b+c+d)/400//@transient//realpkageid" type="xs:long" />
        <xs:element name="GeneratedName" type="pkage" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="score" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="score" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="user" type="sysuser" nillable="true" minOccurs="0" />
        <xs:element name="//忽略username映射username" type="xs:string" />
        <xs:element name="parm" type="xs:string" />
        <xs:element name="dateformater" type="xs:anyType" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
        <xs:element name="createday" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pkage" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="//积分,根据套餐内容计算合理成本价格，进行设置score" type="xs:long" />
        <xs:element name="//周期-单位天cycleday" type="xs:long" />
        <xs:element name="////@manytoone(fetch" type="pkage_product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="send" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="stock" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="producttype" type="xs:string" />
        <xs:element name="//配送明细detail" type="xs:string" />
        <xs:element name="//配送状态state" type="sendstate" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="user" type="sysuser" nillable="true" minOccurs="0" />
        <xs:element name="//忽略username映射username" type="xs:string" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//品种--津优35type" type="xs:string" />
        <xs:element name="//种植标准standard" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="price" type="xs:long" />
        <xs:element name="//积分换购每kg消耗积分score" type="xs:long" />
        <xs:element name="//单位保底产量kgmin" type="xs:long" />
        <xs:element name="//单位最大产量kgmax" type="xs:long" />
        <xs:element name="////实际产量虚拟列//@transient//longreal//产品图片url" type="xs:string" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="syspermission" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//主键.id" type="xs:long" />
        <xs:element name="//名称.name" type="xs:string" />
        <xs:element name="resourcetype" type="xs:string" />
        <xs:element name="//资源路径.url" type="xs:string" />
        <xs:element name="//权限字符串,menu例子：role:*，button例子：role:create,role:update,role:delete,role:viewpermission" type="xs:string" />
        <xs:element name="//父编号parentid" type="xs:long" />
        <xs:element name="//父编号列表parentids" type="xs:string" />
        <xs:element name="available" type="xs:anyType" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//1:云公益2：云创空间type" type="xs:long" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="detail" type="xs:string" />
        <xs:element name="//浏览次数browser" type="xs:long" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="master" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="mtype" type="xs:string" />
        <xs:element name="mkey" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="morder" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockhistory" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@embeddedid//stockpkid//@idproductid" type="xs:long" />
        <xs:element name="//@iduserid" type="xs:long" />
        <xs:element name="stock" type="xs:long" />
        <xs:element name="opertype" type="xs:string" />
        <xs:element name="note" type="xs:string" />
        <xs:element name="productname" type="xs:string" />
        <xs:element name="producttype" type="xs:string" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="user" type="sysuser" nillable="true" minOccurs="0" />
        <xs:element name="//忽略username映射username" type="xs:string" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="masterpk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="mtype" type="xs:string" />
        <xs:element name="mkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpk" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysuser" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//用户iduid" type="xs:long" />
        <xs:element name="//账号.username" type="xs:string" />
        <xs:element name="//名称（昵称或者真实姓名，不同系统不同定义）name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="//忽略password序列化//@jsonignore//密码password" type="xs:string" />
        <xs:element name="//密码password2" type="xs:string" />
        <xs:element name="//加密密码的盐salt" type="xs:string" />
        <xs:element name="//用户状态,0:创建未认证（比如没有激活，没有输入验证码等等）--等待验证的用户,1:正常状态,2：用户被锁定.state" type="xs:anyType" />
        <xs:element name="//是否有活动的农田activefarm" type="xs:anyType" />
        <xs:element name="farmlist" type="farm" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="scorelist" type="score" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//用户idscores" type="xs:long" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
        <xs:element name="//一个用户具有多个角色rolelist" type="sysrole" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmaction" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="farmid" type="xs:long" />
        <xs:element name="//landwaterfeedbugaction" type="xs:string" />
        <xs:element name="dateformater" type="xs:anyType" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
        <xs:element name="createday" type="xs:long" />
        <xs:element name="//@jsonignore" type="farm" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farm" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="pkageid" type="xs:long" />
        <xs:element name="//@jsonignore" type="pkage" nillable="true" minOccurs="0" />
        <xs:element name="reallist" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="user" type="sysuser" nillable="true" minOccurs="0" />
        <xs:element name="//忽略username映射username" type="xs:string" />
        <xs:element name="shirundu" type="xs:long" />
        <xs:element name="feiwodu" type="xs:long" />
        <xs:element name="haichongdu" type="xs:long" />
        <xs:element name="zacaodu" type="xs:long" />
        <xs:element name="state" type="farmstate" nillable="true" minOccurs="0" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
        <xs:element name="//农田状态-翻译state_cn" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farmstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stock" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="////@generatedvalue//id//@embeddedid//stockpkidproductid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="stock" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="user" type="sysuser" nillable="true" minOccurs="0" />
        <xs:element name="//忽略username映射username" type="xs:string" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysrole" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//编号id" type="xs:long" />
        <xs:element name="//角色标识程序中判断使用,如"admin",这个是唯一的:role" type="xs:string" />
        <xs:element name="//角色描述,ui界面显示使用description" type="xs:string" />
        <xs:element name="//是否可用,如果不可用将不会添加给用户available" type="xs:anyType" />
        <xs:element name="//角色--权限关系：多对多关系permissions" type="syspermission" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//更新时间uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mytimertask" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="farmrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hellocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commoncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producturlcontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="productrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="userinforepository" type="sysuserrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="farmcontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller{">
         <xs:sequence>
          <xs:element name="" type="farmrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="stockrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="stockhistoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="userinforepository" type="sysuserrepository" nillable="true" minOccurs="0" />
          <xs:element name="statedict" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="productrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="pkageproductrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noticecontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller{">
         <xs:sequence>
          <xs:element name="" type="noticerepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scorecontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="scorerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="pkagerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="productrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="farmrepository" nillable="true" minOccurs="0" />
          <xs:element name="userrepository" type="sysuserrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="stockrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="stockhistoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="dateformater" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stockcontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="stockrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="farmrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="productrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresscontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="addressrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="pkagerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="farmrepository" nillable="true" minOccurs="0" />
          <xs:element name="dateformater" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendcontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="stockrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="stockhistoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="sendrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="productrepository" nillable="true" minOccurs="0" />
          <xs:element name="//@autowired//privatefarmrepositoryfarmrepositorydateformater" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pkagecontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="pkagerepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="pkageproductrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mastercontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller">
         <xs:sequence>
          <xs:element name="" type="masterrepository" nillable="true" minOccurs="0" />
          <xs:element name="dateformater" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="articlecontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller{">
         <xs:sequence>
          <xs:element name="" type="articlerepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="farmactioncontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller{">
         <xs:sequence>
          <xs:element name="" type="farmactionrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="farmrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:complexContent>
       <xs:extension base="commoncontroller{">
         <xs:sequence>
          <xs:element name="" type="farmrepository" nillable="true" minOccurs="0" />
          <xs:element name="pro" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ueditorcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forbiddencontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userinfocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="samplecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swagger2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myshirorealm" >
      <xs:complexContent>
       <xs:extension base="authorizingrealm{">
         <xs:sequence>
          <xs:element name="//@override//publicbooleansupports(authenticationtokentoken){////		returnsuper.supports(token)//////仅支持usernamepasswordtoken类型的token//returntokeninstanceofusernamepasswordtoken//}////userinfoserviceuserinfoserviceuserinforepository" type="sysuserrepository" nillable="true" minOccurs="0" />
          <xs:element name="rolerepository" type="sysrolerepository" nillable="true" minOccurs="0" />
          <xs:element name="permissionrepository" type="syspermissionrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myformfilter" >
      <xs:complexContent>
       <xs:extension base="formauthenticationfilter{">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shiroconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myrestfilter" >
      <xs:complexContent>
       <xs:extension base="httpmethodpermissionfilter{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servletinitializer" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 