help9/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mooitm" >
      <xs:sequence>
        <xs:element name="itemcode" type="xs:anyType" />
        <xs:element name="itemname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 