HibernateJPA4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="readonlypersistenceunitinfo" >
      <xs:sequence>
        <xs:element name="persistenceunitname" type="xs:string" />
        <xs:element name="persistenceproviderclassname" type="xs:string" />
        <xs:element name="transactiontype" type="xs:anyType" />
        <xs:element name="jta" type="xs:anyType" />
        <xs:element name="persistenceunitroot" type="xs:anyType" />
        <xs:element name="managedclassnames" type="xs:anyType" />
        <xs:element name="excludeunlistedclasses" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="persistencexmlschemaversion" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xadatasourcewrapper" >
      <xs:sequence>
        <xs:element name="_the" type="xs:anyType" />
        <xs:element name="_the" type="xs:anyType" />
        <xs:element name="_name" type="xs:string" />
        <xs:element name="default" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceprovider" >
      <xs:sequence>
        <xs:element name="datasource_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfobuilder" >
      <xs:sequence>
        <xs:element name="persistenceunitname" type="xs:string" />
        <xs:element name="persistenceproviderclassname" type="xs:string" />
        <xs:element name="transactiontype" type="xs:anyType" />
        <xs:element name="jta" type="xs:anyType" />
        <xs:element name="persistenceunitroot" type="xs:anyType" />
        <xs:element name="managedclassnames" type="xs:anyType" />
        <xs:element name="excludeunlistedclasses" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="persistencexmlschemaversion" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcebynameprovider" >
      <xs:sequence>
        <xs:element name="datasource" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jbosstadatasourcebuilder" >
      <xs:sequence>
        <xs:element name="user" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="//bydefaultnotimeouttimeout" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jbosstsit" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tweet" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-roles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 