HIbernate-7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="scannertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javamodulepathit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testscanenvironment" >
      <xs:sequence>
        <xs:element name="root" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="module-info" >
      <xs:complexContent>
       <xs:extension base=""javax.naming.referenceable".">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="favoritenumber" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 