ex1-hello-jpa/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 