code-sample1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberjparepository" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<member,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teamjparepository" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<item,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nestedclosedproejctions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teamrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<team,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepositoryimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernameonly" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberspec" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpaapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="member" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="age" type="xs:long" />
          <xs:element name="" type="team" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="lastmodifiedby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpabaseentity" >
      <xs:sequence>
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="updateddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:complexContent>
       <xs:extension base="baseentity{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="members" type="member" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="memberdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datajpaapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="itemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberrepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="teamrepository" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memberjparepositorytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="memberjparepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="membertest" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 