fcefap1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="produtolookupdatalocator" >
      <xs:complexContent>
       <xs:extension base="lookupserverdatalocator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="davgridcontroller" >
      <xs:complexContent>
       <xs:extension base="gridcontroller">
         <xs:sequence>
          <xs:element name="valortotal" type="xs:anyType" />
          <xs:element name="grid" type="davgrid" nillable="true" minOccurs="0" />
          <xs:element name="item" type="xs:anyType" />
          <xs:element name="listadav" type="ecfdavdetalhevo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prevendagrid" >
      <xs:complexContent>
       <xs:extension base="internalframe">
         <xs:sequence>
          <xs:element name="produtocontroller" type="xs:anyType" />
          <xs:element name="produtodatalocator" type="xs:anyType" />
          <xs:element name="controller" type="prevendacontroller" nillable="true" minOccurs="0" />
          <xs:element name="//gen-last:event_savebutton2actionperformed//variablesdeclaration-donotmodify//gen-begin:variablescodlookupcolumn1" type="xs:anyType" />
          <xs:element name="decimalcolumn1" type="xs:anyType" />
          <xs:element name="decimalcolumn2" type="xs:anyType" />
          <xs:element name="deletebutton1" type="xs:anyType" />
          <xs:element name="editbutton1" type="xs:anyType" />
          <xs:element name="form1" type="xs:anyType" />
          <xs:element name="gridcontrol1" type="xs:anyType" />
          <xs:element name="insertbutton1" type="xs:anyType" />
          <xs:element name="integercolumn1" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jpanel3" type="xs:anyType" />
          <xs:element name="jpanel4" type="xs:anyType" />
          <xs:element name="reloadbutton1" type="xs:anyType" />
          <xs:element name="savebutton1" type="xs:anyType" />
          <xs:element name="savebutton2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidadeprodutolookupdatalocator" >
      <xs:complexContent>
       <xs:extension base="lookupserverdatalocator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prevendagrid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="davgrid" >
      <xs:complexContent>
       <xs:extension base="internalframe">
         <xs:sequence>
          <xs:element name="produtocontroller" type="xs:anyType" />
          <xs:element name="produtodatalocator" type="xs:anyType" />
          <xs:element name="//gen-end:initcomponents//variablesdeclaration-donotmodify//gen-begin:variablescodlookupcolumn1" type="xs:anyType" />
          <xs:element name="decimalcolumn1" type="xs:anyType" />
          <xs:element name="decimalcolumn2" type="xs:anyType" />
          <xs:element name="deletebutton1" type="xs:anyType" />
          <xs:element name="form1" type="xs:anyType" />
          <xs:element name="gridcontrol1" type="xs:anyType" />
          <xs:element name="insertbutton1" type="xs:anyType" />
          <xs:element name="integercolumn1" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jlabel3" type="xs:anyType" />
          <xs:element name="jlabel4" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jpanel3" type="xs:anyType" />
          <xs:element name="jpanel4" type="xs:anyType" />
          <xs:element name="labelcontrol1" type="xs:anyType" />
          <xs:element name="labelcontrol2" type="xs:anyType" />
          <xs:element name="reloadbutton1" type="xs:anyType" />
          <xs:element name="savebutton1" type="xs:anyType" />
          <xs:element name="savebutton2" type="xs:anyType" />
          <xs:element name="textcolumn1" type="xs:anyType" />
          <xs:element name="textcontrol1" type="xs:anyType" />
          <xs:element name="textcontrol2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cargapdv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtogrid" >
      <xs:complexContent>
       <xs:extension base="internalframe">
         <xs:sequence>
          <xs:element name="//gen-end:initcomponents//variablesdeclaration-donotmodify//gen-begin:variablesdecimalcolumn1" type="xs:anyType" />
          <xs:element name="gridcontrol1" type="xs:anyType" />
          <xs:element name="insertbutton1" type="xs:anyType" />
          <xs:element name="integercolumn1" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jpanel4" type="xs:anyType" />
          <xs:element name="navigatorbar1" type="xs:anyType" />
          <xs:element name="reloadbutton1" type="xs:anyType" />
          <xs:element name="textcolumn1" type="xs:anyType" />
          <xs:element name="textcolumn2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="davcontroller" >
      <xs:complexContent>
       <xs:extension base="formcontroller">
         <xs:sequence>
          <xs:element name="grid" type="davgrid" nillable="true" minOccurs="0" />
          <xs:element name="davcabecalho" type="ecfdavcabecalhovo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="produtogrid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cargapdv" >
      <xs:complexContent>
       <xs:extension base="javax.swing.jframe">
         <xs:sequence>
          <xs:element name="//variablesdeclaration-donotmodify//gen-begin:variablesjbutton1" type="xs:anyType" />
          <xs:element name="jbutton2" type="xs:anyType" />
          <xs:element name="jbutton3" type="xs:anyType" />
          <xs:element name="jcheckbox1" type="xs:anyType" />
          <xs:element name="jcheckbox10" type="xs:anyType" />
          <xs:element name="jcheckbox11" type="xs:anyType" />
          <xs:element name="jcheckbox12" type="xs:anyType" />
          <xs:element name="jcheckbox2" type="xs:anyType" />
          <xs:element name="jcheckbox3" type="xs:anyType" />
          <xs:element name="jcheckbox4" type="xs:anyType" />
          <xs:element name="jcheckbox5" type="xs:anyType" />
          <xs:element name="jcheckbox6" type="xs:anyType" />
          <xs:element name="jcheckbox7" type="xs:anyType" />
          <xs:element name="jcheckbox8" type="xs:anyType" />
          <xs:element name="jcheckbox9" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jpanel3" type="xs:anyType" />
          <xs:element name="jradiobutton1" type="xs:anyType" />
          <xs:element name="jradiobutton2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="davgrid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtodetalhecontroller" >
      <xs:complexContent>
       <xs:extension base="formcontroller">
         <xs:sequence>
          <xs:element name="" type="produtodetalhe" nillable="true" minOccurs="0" />
          <xs:element name="" type="produtogrid" nillable="true" minOccurs="0" />
          <xs:element name="pk" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prevendagridcontroller" >
      <xs:complexContent>
       <xs:extension base="gridcontroller">
         <xs:sequence>
          <xs:element name="grid" type="prevendagrid" nillable="true" minOccurs="0" />
          <xs:element name="valortotal" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="produtogridcontroller" >
      <xs:complexContent>
       <xs:extension base="gridcontroller">
         <xs:sequence>
          <xs:element name="grid" type="produtogrid" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="prevendacontroller" >
      <xs:complexContent>
       <xs:extension base="formcontroller">
         <xs:sequence>
          <xs:element name="grid" type="prevendagrid" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="produtodetalhe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtodetalhe" >
      <xs:complexContent>
       <xs:extension base="internalframe">
         <xs:sequence>
          <xs:element name="unidadeprodutocontroller" type="xs:anyType" />
          <xs:element name="unidadeprodutodatalocator" type="xs:anyType" />
          <xs:element name="//gen-end:initcomponents//variablesdeclaration-donotmodify//gen-begin:variablescodlookupcontrol1" type="xs:anyType" />
          <xs:element name="editbutton1" type="xs:anyType" />
          <xs:element name="form1" type="xs:anyType" />
          <xs:element name="jlabel1" type="xs:anyType" />
          <xs:element name="jlabel2" type="xs:anyType" />
          <xs:element name="jpanel1" type="xs:anyType" />
          <xs:element name="jpanel2" type="xs:anyType" />
          <xs:element name="jpanel3" type="xs:anyType" />
          <xs:element name="jpanel4" type="xs:anyType" />
          <xs:element name="jpanel5" type="xs:anyType" />
          <xs:element name="labelcontrol1" type="xs:anyType" />
          <xs:element name="labelcontrol10" type="xs:anyType" />
          <xs:element name="labelcontrol11" type="xs:anyType" />
          <xs:element name="labelcontrol12" type="xs:anyType" />
          <xs:element name="labelcontrol13" type="xs:anyType" />
          <xs:element name="labelcontrol14" type="xs:anyType" />
          <xs:element name="labelcontrol15" type="xs:anyType" />
          <xs:element name="labelcontrol16" type="xs:anyType" />
          <xs:element name="labelcontrol17" type="xs:anyType" />
          <xs:element name="labelcontrol18" type="xs:anyType" />
          <xs:element name="labelcontrol19" type="xs:anyType" />
          <xs:element name="labelcontrol2" type="xs:anyType" />
          <xs:element name="labelcontrol20" type="xs:anyType" />
          <xs:element name="labelcontrol21" type="xs:anyType" />
          <xs:element name="labelcontrol22" type="xs:anyType" />
          <xs:element name="labelcontrol3" type="xs:anyType" />
          <xs:element name="labelcontrol4" type="xs:anyType" />
          <xs:element name="labelcontrol5" type="xs:anyType" />
          <xs:element name="labelcontrol6" type="xs:anyType" />
          <xs:element name="labelcontrol7" type="xs:anyType" />
          <xs:element name="labelcontrol8" type="xs:anyType" />
          <xs:element name="labelcontrol9" type="xs:anyType" />
          <xs:element name="numericcontrol1" type="xs:anyType" />
          <xs:element name="numericcontrol10" type="xs:anyType" />
          <xs:element name="numericcontrol2" type="xs:anyType" />
          <xs:element name="numericcontrol3" type="xs:anyType" />
          <xs:element name="numericcontrol4" type="xs:anyType" />
          <xs:element name="numericcontrol5" type="xs:anyType" />
          <xs:element name="numericcontrol6" type="xs:anyType" />
          <xs:element name="numericcontrol7" type="xs:anyType" />
          <xs:element name="numericcontrol8" type="xs:anyType" />
          <xs:element name="numericcontrol9" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol1" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol2" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol3" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol4" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol5" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol6" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol7" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol8" type="xs:anyType" />
          <xs:element name="radiobuttoncontrol9" type="xs:anyType" />
          <xs:element name="reloadbutton1" type="xs:anyType" />
          <xs:element name="savebutton2" type="xs:anyType" />
          <xs:element name="textcontrol1" type="xs:anyType" />
          <xs:element name="textcontrol10" type="xs:anyType" />
          <xs:element name="textcontrol11" type="xs:anyType" />
          <xs:element name="textcontrol2" type="xs:anyType" />
          <xs:element name="textcontrol3" type="xs:anyType" />
          <xs:element name="textcontrol4" type="xs:anyType" />
          <xs:element name="textcontrol5" type="xs:anyType" />
          <xs:element name="textcontrol6" type="xs:anyType" />
          <xs:element name="textcontrol7" type="xs:anyType" />
          <xs:element name="textcontrol8" type="xs:anyType" />
          <xs:element name="textcontrol9" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="nomeusuario" type="xs:string" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="GeneratedName" type="fachada" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fachada" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateutil" >
      <xs:sequence>
        <xs:element name="sessions" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="produtovo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="gtin" type="xs:string" />
          <xs:element name="codigointerno" type="xs:string" />
          <xs:element name="nome" type="xs:string" />
          <xs:element name="descricao" type="xs:string" />
          <xs:element name="descricaopdv" type="xs:string" />
          <xs:element name="valorvenda" type="xs:anyType" />
          <xs:element name="qtdestoque" type="xs:anyType" />
          <xs:element name="estoquemin" type="xs:anyType" />
          <xs:element name="estoquemax" type="xs:anyType" />
          <xs:element name="iat" type="xs:string" />
          <xs:element name="ippt" type="xs:string" />
          <xs:element name="ncm" type="xs:string" />
          <xs:element name="tipoitemsped" type="xs:string" />
          <xs:element name="dataestoque" type="xs:dateTime" />
          <xs:element name="taxaipi" type="xs:anyType" />
          <xs:element name="taxaissqn" type="xs:anyType" />
          <xs:element name="taxapis" type="xs:anyType" />
          <xs:element name="taxacofins" type="xs:anyType" />
          <xs:element name="taxaicms" type="xs:anyType" />
          <xs:element name="cst" type="xs:string" />
          <xs:element name="csosn" type="xs:string" />
          <xs:element name="totalizadorparcial" type="xs:string" />
          <xs:element name="ecficmsst" type="xs:string" />
          <xs:element name="codigobalanca" type="xs:anyType" />
          <xs:element name="pafpst" type="xs:string" />
          <xs:element name="hashtripa" type="xs:string" />
          <xs:element name="hashincremento" type="xs:anyType" />
          <xs:element name="unidadeproduto" type="unidadeprodutovo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecfdavcabecalhovo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="idpessoa" type="xs:anyType" />
          <xs:element name="idempresa" type="xs:anyType" />
          <xs:element name="ccf" type="xs:anyType" />
          <xs:element name="coo" type="xs:anyType" />
          <xs:element name="nomedestinatario" type="xs:string" />
          <xs:element name="cpfcnpjdestinatario" type="xs:string" />
          <xs:element name="dataemissao" type="xs:dateTime" />
          <xs:element name="horaemissao" type="xs:string" />
          <xs:element name="situacao" type="xs:string" />
          <xs:element name="taxaacrescimo" type="xs:anyType" />
          <xs:element name="acrescimo" type="xs:anyType" />
          <xs:element name="taxadesconto" type="xs:anyType" />
          <xs:element name="desconto" type="xs:anyType" />
          <xs:element name="subtotal" type="xs:anyType" />
          <xs:element name="valor" type="xs:anyType" />
          <xs:element name="impresso" type="xs:string" />
          <xs:element name="hashtripa" type="xs:string" />
          <xs:element name="hashincremento" type="xs:anyType" />
          <xs:element name="numerodav" type="xs:string" />
          <xs:element name="numeroecf" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecfdavdetalhevo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="item" type="xs:anyType" />
          <xs:element name="quantidade" type="xs:anyType" />
          <xs:element name="valorunitario" type="xs:anyType" />
          <xs:element name="valortotal" type="xs:anyType" />
          <xs:element name="cancelado" type="xs:string" />
          <xs:element name="mesclaproduto" type="xs:string" />
          <xs:element name="gtinproduto" type="xs:string" />
          <xs:element name="nomeproduto" type="xs:string" />
          <xs:element name="unidadeproduto" type="xs:string" />
          <xs:element name="hashtripa" type="xs:string" />
          <xs:element name="hashincremento" type="xs:anyType" />
          <xs:element name="dataemissao" type="xs:dateTime" />
          <xs:element name="numerodav" type="xs:string" />
          <xs:element name="totalizadorparcial" type="xs:string" />
          <xs:element name="" type="ecfdavcabecalhovo" nillable="true" minOccurs="0" />
          <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecfempresavo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="razaosocial" type="xs:string" />
          <xs:element name="nomefantasia" type="xs:string" />
          <xs:element name="cnpj" type="xs:string" />
          <xs:element name="inscricaoestadual" type="xs:string" />
          <xs:element name="inscricaomunicipal" type="xs:string" />
          <xs:element name="matrizfilial" type="xs:anyType" />
          <xs:element name="datacadastro" type="xs:dateTime" />
          <xs:element name="logradouro" type="xs:string" />
          <xs:element name="numero" type="xs:string" />
          <xs:element name="complemento" type="xs:string" />
          <xs:element name="bairro" type="xs:string" />
          <xs:element name="cidade" type="xs:string" />
          <xs:element name="codigoibgecidade" type="xs:anyType" />
          <xs:element name="codigoibgeuf" type="xs:anyType" />
          <xs:element name="uf" type="xs:string" />
          <xs:element name="cep" type="xs:string" />
          <xs:element name="fone" type="xs:string" />
          <xs:element name="fax" type="xs:string" />
          <xs:element name="contato" type="xs:string" />
          <xs:element name="suframa" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="inscricaoestadualst" type="xs:string" />
          <xs:element name="inscricaojuntacomercial" type="xs:string" />
          <xs:element name="datainscjuntacomercial" type="xs:dateTime" />
          <xs:element name="datainicioatividades" type="xs:dateTime" />
          <xs:element name="imagemlogotipo" type="xs:string" />
          <xs:element name="crt" type="xs:anyType" />
          <xs:element name="tiporegime" type="xs:anyType" />
          <xs:element name="aliquotapis" type="xs:anyType" />
          <xs:element name="aliquotacofins" type="xs:anyType" />
          <xs:element name="" type="ecfempresavo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecfprevendacabecalhovo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="datapv" type="xs:dateTime" />
          <xs:element name="horapv" type="xs:string" />
          <xs:element name="situacao" type="xs:string" />
          <xs:element name="ccf" type="xs:anyType" />
          <xs:element name="valor" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecfprevendadetalhevo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="quantidade" type="xs:double" />
          <xs:element name="valorunitario" type="xs:double" />
          <xs:element name="valortotal" type="xs:double" />
          <xs:element name="produto" type="produtovo" nillable="true" minOccurs="0" />
          <xs:element name="ecfprevendacabecalho" type="ecfprevendacabecalhovo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unidadeprodutovo" >
      <xs:complexContent>
       <xs:extension base="valueobjectimpl">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:anyType" />
          <xs:element name="nome" type="xs:string" />
          <xs:element name="podefracionar" type="xs:anyType" />
          <xs:element name="descricao" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resources_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 