hsn9/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="individual" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="minute" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d3" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d3i_sq" type="xs:long" />
        <xs:element name="d3i_ln" type="xs:string" />
        <xs:element name="d3i_pf" type="xs:string" />
        <xs:element name="d3i_fn" type="xs:string" />
        <xs:element name="d3i_tt" type="xs:string" />
        <xs:element name="d3i_pa" type="xs:string" />
        <xs:element name="d3i_ls" type="xs:string" />
        <xs:element name="d3i_ay" type="xs:long" />
        <xs:element name="d3i_oc" type="xs:string" />
        <xs:element name="d3i_ll" type="xs:string" />
        <xs:element name="d3i_sg" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="d1" nillable="true" minOccurs="0" />
        <xs:element name="d3i_lla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b1" >
      <xs:sequence>
        <xs:element name="b1sdcc" type="xs:long" />
        <xs:element name="b1sdcl" type="xs:string" />
        <xs:element name="b1sdcy" type="xs:long" />
        <xs:element name="b1sdcn" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b1sdli" type="xs:string" />
        <xs:element name="b1sdch" type="xs:long" />
        <xs:element name="b1sdcd" type="xs:long" />
        <xs:element name="b1sdcm" type="xs:long" />
        <xs:element name="b1infa" type="xs:string" />
        <xs:element name="b1inln" type="xs:string" />
        <xs:element name="b1inpf" type="xs:string" />
        <xs:element name="b1infn" type="xs:string" />
        <xs:element name="b1intt" type="xs:string" />
        <xs:element name="b1inpa" type="xs:string" />
        <xs:element name="b1inay" type="xs:long" />
        <xs:element name="b1inoc" type="xs:string" />
        <xs:element name="b1inll" type="xs:string" />
        <xs:element name="b1insg" type="xs:string" />
        <xs:element name="b1rpbd" type="xs:long" />
        <xs:element name="b1rpbm" type="xs:long" />
        <xs:element name="b1rpby" type="xs:long" />
        <xs:element name="b1rpbh" type="xs:long" />
        <xs:element name="b1rpbi" type="xs:long" />
        <xs:element name="b1rpgn" type="xs:string" />
        <xs:element name="b1rpll" type="xs:string" />
        <xs:element name="b1moln" type="xs:string" />
        <xs:element name="b1mopf" type="xs:string" />
        <xs:element name="b1mofn" type="xs:string" />
        <xs:element name="b1mott" type="xs:string" />
        <xs:element name="b1mopa" type="xs:string" />
        <xs:element name="b1moay" type="xs:long" />
        <xs:element name="b1mocs" type="xs:string" />
        <xs:element name="b1mooc" type="xs:string" />
        <xs:element name="b1moll" type="xs:string" />
        <xs:element name="b1rpln" type="xs:string" />
        <xs:element name="b1rppf" type="xs:string" />
        <xs:element name="b1rpfn" type="xs:string" />
        <xs:element name="b1rptt" type="xs:string" />
        <xs:element name="b1rppa" type="xs:string" />
        <xs:element name="d_e_p_l" type="xs:string" />
        <xs:element name="d_e_p_o" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b0" nillable="true" minOccurs="0" />
        <xs:element name="b2l" type="b2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="b3" nillable="true" minOccurs="0" />
        <xs:element name="b4l" type="b4" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="b5" nillable="true" minOccurs="0" />
        <xs:element name="m1l" type="m1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="d1" nillable="true" minOccurs="0" />
        <xs:element name="b1rplla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b1molla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b1inlla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="//rp+father+motherareassumedtoliveatthislocationcommonlivinglocation" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m4" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m4sdsq" type="xs:long" />
        <xs:element name="m4w_ln" type="xs:string" />
        <xs:element name="m4w_pf" type="xs:string" />
        <xs:element name="m4w_fn" type="xs:string" />
        <xs:element name="m4w_tt" type="xs:string" />
        <xs:element name="m4w_pa" type="xs:string" />
        <xs:element name="m4w_ay" type="xs:long" />
        <xs:element name="m4w_oc" type="xs:string" />
        <xs:element name="m4w_ll" type="xs:string" />
        <xs:element name="m4w_sg" type="xs:string" />
        <xs:element name="m4w_lr" type="xs:string" />
        <xs:element name="m4w_ls" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="m1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b5" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b5sdcf" type="xs:string" />
        <xs:element name="b5faln" type="xs:string" />
        <xs:element name="b5fapf" type="xs:string" />
        <xs:element name="b5fafn" type="xs:string" />
        <xs:element name="b5fatt" type="xs:string" />
        <xs:element name="b5fapa" type="xs:string" />
        <xs:element name="b5faay" type="xs:long" />
        <xs:element name="b5faoc" type="xs:string" />
        <xs:element name="b5fall" type="xs:string" />
        <xs:element name="b5fasd" type="xs:long" />
        <xs:element name="b5fasm" type="xs:long" />
        <xs:element name="b5fasy" type="xs:long" />
        <xs:element name="b5fasl" type="xs:string" />
        <xs:element name="b5fadd" type="xs:long" />
        <xs:element name="b5fadm" type="xs:long" />
        <xs:element name="b5fady" type="xs:long" />
        <xs:element name="b5fadl" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b1" nillable="true" minOccurs="0" />
        <xs:element name="b5fasla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b5fadla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="b5falla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m1" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="m1sdcn" type="xs:long" />
        <xs:element name="m1sdml" type="xs:string" />
        <xs:element name="m1sdmh" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m1sdse" type="xs:string" />
        <xs:element name="m1sdsd" type="xs:long" />
        <xs:element name="m1sdsm" type="xs:long" />
        <xs:element name="m1sdsy" type="xs:long" />
        <xs:element name="m1sdsl" type="xs:string" />
        <xs:element name="m1sded" type="xs:long" />
        <xs:element name="m1sdem" type="xs:long" />
        <xs:element name="m1sdey" type="xs:long" />
        <xs:element name="m1sdel" type="xs:string" />
        <xs:element name="m1gray" type="xs:long" />
        <xs:element name="m1bray" type="xs:long" />
        <xs:element name="m1rpgn" type="xs:string" />
        <xs:element name="m1grln" type="xs:string" />
        <xs:element name="m1grpf" type="xs:string" />
        <xs:element name="m1grfn" type="xs:string" />
        <xs:element name="m1grtt" type="xs:string" />
        <xs:element name="m1grpa" type="xs:string" />
        <xs:element name="m1groc" type="xs:string" />
        <xs:element name="m1grbl" type="xs:string" />
        <xs:element name="m1grll" type="xs:string" />
        <xs:element name="m1grlf" type="xs:string" />
        <xs:element name="m1grlo" type="xs:string" />
        <xs:element name="m1grpl" type="xs:string" />
        <xs:element name="m1grql" type="xs:string" />
        <xs:element name="m1grcs" type="xs:string" />
        <xs:element name="m1grsg" type="xs:string" />
        <xs:element name="m1brln" type="xs:string" />
        <xs:element name="m1brpf" type="xs:string" />
        <xs:element name="m1brfn" type="xs:string" />
        <xs:element name="m1brtt" type="xs:string" />
        <xs:element name="m1brpa" type="xs:string" />
        <xs:element name="m1broc" type="xs:string" />
        <xs:element name="m1brbl" type="xs:string" />
        <xs:element name="m1brll" type="xs:string" />
        <xs:element name="m1brlf" type="xs:string" />
        <xs:element name="m1brlo" type="xs:string" />
        <xs:element name="m1brpl" type="xs:string" />
        <xs:element name="m1brql" type="xs:string" />
        <xs:element name="m1brcs" type="xs:string" />
        <xs:element name="m1brsg" type="xs:string" />
        <xs:element name="m1gfca" type="xs:string" />
        <xs:element name="m1gfmp" type="xs:string" />
        <xs:element name="m1gfln" type="xs:string" />
        <xs:element name="m1gfpf" type="xs:string" />
        <xs:element name="m1gffn" type="xs:string" />
        <xs:element name="m1gftt" type="xs:string" />
        <xs:element name="m1gfpa" type="xs:string" />
        <xs:element name="m1gfoc" type="xs:string" />
        <xs:element name="m1gfll" type="xs:string" />
        <xs:element name="m1gfdl" type="xs:string" />
        <xs:element name="m1gfsg" type="xs:string" />
        <xs:element name="m1gfay" type="xs:long" />
        <xs:element name="m1gmca" type="xs:string" />
        <xs:element name="m1gmmp" type="xs:string" />
        <xs:element name="m1gmln" type="xs:string" />
        <xs:element name="m1gmpf" type="xs:string" />
        <xs:element name="m1gmfn" type="xs:string" />
        <xs:element name="m1gmtt" type="xs:string" />
        <xs:element name="m1gmpa" type="xs:string" />
        <xs:element name="m1gmoc" type="xs:string" />
        <xs:element name="m1gmll" type="xs:string" />
        <xs:element name="m1gmdl" type="xs:string" />
        <xs:element name="m1gmsg" type="xs:string" />
        <xs:element name="m1gmay" type="xs:long" />
        <xs:element name="m1bfca" type="xs:string" />
        <xs:element name="m1bfmp" type="xs:string" />
        <xs:element name="m1bfln" type="xs:string" />
        <xs:element name="m1bfpf" type="xs:string" />
        <xs:element name="m1bffn" type="xs:string" />
        <xs:element name="m1bftt" type="xs:string" />
        <xs:element name="m1bfpa" type="xs:string" />
        <xs:element name="m1bfoc" type="xs:string" />
        <xs:element name="m1bfll" type="xs:string" />
        <xs:element name="m1bfdl" type="xs:string" />
        <xs:element name="m1bfsg" type="xs:string" />
        <xs:element name="m1bfay" type="xs:long" />
        <xs:element name="m1bmca" type="xs:string" />
        <xs:element name="m1bmmp" type="xs:string" />
        <xs:element name="m1bmln" type="xs:string" />
        <xs:element name="m1bmpf" type="xs:string" />
        <xs:element name="m1bmfn" type="xs:string" />
        <xs:element name="m1bmtt" type="xs:string" />
        <xs:element name="m1bmpa" type="xs:string" />
        <xs:element name="m1bmoc" type="xs:string" />
        <xs:element name="m1bmll" type="xs:string" />
        <xs:element name="m1bmdl" type="xs:string" />
        <xs:element name="m1bmsg" type="xs:string" />
        <xs:element name="m1bmay" type="xs:long" />
        <xs:element name="m1sdbb" type="xs:string" />
        <xs:element name="m1sddp" type="xs:string" />
        <xs:element name="m1sdde" type="xs:string" />
        <xs:element name="m1sdnm" type="xs:string" />
        <xs:element name="m1sdpn" type="xs:string" />
        <xs:element name="m1sdaf" type="xs:string" />
        <xs:element name="m1sdap" type="xs:string" />
        <xs:element name="m1sdpc" type="xs:string" />
        <xs:element name="m1sdpg" type="xs:string" />
        <xs:element name="d_e_p_l" type="xs:string" />
        <xs:element name="d_e_p_o" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b1" nillable="true" minOccurs="0" />
        <xs:element name="m2l" type="m2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="m3l" type="m3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="m4l" type="m4" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="m5l" type="m5" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="m6" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d2" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d2s_sq" type="xs:long" />
        <xs:element name="d2s_ln" type="xs:string" />
        <xs:element name="d2s_pf" type="xs:string" />
        <xs:element name="d2s_fn" type="xs:string" />
        <xs:element name="d2s_tt" type="xs:string" />
        <xs:element name="d2s_pa" type="xs:string" />
        <xs:element name="d2s_ca" type="xs:string" />
        <xs:element name="d2s_ay" type="xs:long" />
        <xs:element name="d2s_oc" type="xs:string" />
        <xs:element name="d2s_ll" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="d1" nillable="true" minOccurs="0" />
        <xs:element name="d2s_lla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b0" >
      <xs:sequence>
        <xs:element name="b0suhg" type="xs:long" />
        <xs:element name="b0suhc" type="xs:long" />
        <xs:element name="b0suhy" type="xs:long" />
        <xs:element name="b0suhn" type="xs:long" />
        <xs:element name="b0suhd" type="xs:long" />
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b0suhp" type="xs:long" />
        <xs:element name="b0suhr" type="xs:long" />
        <xs:element name="b0suhe" type="xs:long" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="b1l" type="b1" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="b6l" type="b6" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a1" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="role" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="municipality" type="xs:string" />
        <xs:element name="locationnumber" type="xs:string" />
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="quarter" type="xs:string" />
        <xs:element name="place" type="xs:string" />
        <xs:element name="boat" type="xs:string" />
        <xs:element name="berth" type="xs:string" />
        <xs:element name="//institution" type="xs:string" />
        <xs:element name="landlord" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="addressflag" type="xs:long" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m5" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m5c_sq" type="xs:long" />
        <xs:element name="m5c_ln" type="xs:string" />
        <xs:element name="m5c_pf" type="xs:string" />
        <xs:element name="m5c_fn" type="xs:string" />
        <xs:element name="m5c_tt" type="xs:string" />
        <xs:element name="m5c_pa" type="xs:string" />
        <xs:element name="m5c_bd" type="xs:long" />
        <xs:element name="m5c_bm" type="xs:long" />
        <xs:element name="m5c_by" type="xs:long" />
        <xs:element name="m5c_gn" type="xs:string" />
        <xs:element name="m5c_bl" type="xs:string" />
        <xs:element name="m5c_rr" type="xs:string" />
        <xs:element name="m5c_rw" type="xs:string" />
        <xs:element name="m5c_fd" type="xs:long" />
        <xs:element name="m5c_fm" type="xs:long" />
        <xs:element name="m5c_fy" type="xs:long" />
        <xs:element name="m5c_fl" type="xs:string" />
        <xs:element name="m5c_od" type="xs:long" />
        <xs:element name="m5c_om" type="xs:long" />
        <xs:element name="m5c_oy" type="xs:long" />
        <xs:element name="m5c_ol" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="m1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b4" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b4sdct" type="xs:long" />
        <xs:element name="b4sdcd" type="xs:long" />
        <xs:element name="b4sdcm" type="xs:long" />
        <xs:element name="b4sdcy" type="xs:long" />
        <xs:element name="b4sdmd" type="xs:long" />
        <xs:element name="b4sdmm" type="xs:long" />
        <xs:element name="b4sdmy" type="xs:long" />
        <xs:element name="b4sdml" type="xs:string" />
        <xs:element name="b4faln" type="xs:string" />
        <xs:element name="b4fapf" type="xs:string" />
        <xs:element name="b4fafn" type="xs:string" />
        <xs:element name="b4fatt" type="xs:string" />
        <xs:element name="b4fapa" type="xs:string" />
        <xs:element name="b4sdrd" type="xs:long" />
        <xs:element name="b4sdrm" type="xs:long" />
        <xs:element name="b4sdry" type="xs:long" />
        <xs:element name="b4sdrs" type="xs:long" />
        <xs:element name="b4sdrn" type="xs:long" />
        <xs:element name="b4rpln" type="xs:string" />
        <xs:element name="b4rpfn" type="xs:string" />
        <xs:element name="b4rppf" type="xs:string" />
        <xs:element name="b4rptt" type="xs:string" />
        <xs:element name="b4rppa" type="xs:string" />
        <xs:element name="b4rpgn" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indiv_context" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i" type="xs:long" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m3" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m3sdsq" type="xs:long" />
        <xs:element name="m3rpgn" type="xs:string" />
        <xs:element name="m3s_ln" type="xs:string" />
        <xs:element name="m3s_pf" type="xs:string" />
        <xs:element name="m3s_fn" type="xs:string" />
        <xs:element name="m3s_tt" type="xs:string" />
        <xs:element name="m3s_pa" type="xs:string" />
        <xs:element name="m3s_sr" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="m1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b2" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b2w_sq" type="xs:long" />
        <xs:element name="b2w_ln" type="xs:string" />
        <xs:element name="b2w_pf" type="xs:string" />
        <xs:element name="b2w_fn" type="xs:string" />
        <xs:element name="b2w_tt" type="xs:string" />
        <xs:element name="b2w_pa" type="xs:string" />
        <xs:element name="b2w_ay" type="xs:long" />
        <xs:element name="b2w_oc" type="xs:string" />
        <xs:element name="b2w_ll" type="xs:string" />
        <xs:element name="b2w_sg" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b1" nillable="true" minOccurs="0" />
        <xs:element name="b2w_lla" type="a1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d4" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d4sdmi" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="d1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b6" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b6suhc" type="xs:long" />
        <xs:element name="b6suhy" type="xs:long" />
        <xs:element name="b6suhn" type="xs:long" />
        <xs:element name="b6suhz" type="xs:long" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b0" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indiv_indiv" >
      <xs:sequence>
        <xs:element name="//@generatedvalue(strategy" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i_1" type="xs:long" />
        <xs:element name="id_i_2" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m2" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m2sdsq" type="xs:long" />
        <xs:element name="m2u_um" type="xs:long" />
        <xs:element name="m2u_ud" type="xs:long" />
        <xs:element name="m2u_uy" type="xs:long" />
        <xs:element name="m2u_uc" type="xs:long" />
        <xs:element name="m2u_ul" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="m1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="d1" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="d1sdcc" type="xs:long" />
        <xs:element name="d1sdcl" type="xs:string" />
        <xs:element name="d1sdcn" type="xs:long" />
        <xs:element name="d1sdch" type="xs:long" />
        <xs:element name="d1sdci" type="xs:long" />
        <xs:element name="d1sdcd" type="xs:long" />
        <xs:element name="d1sdcm" type="xs:long" />
        <xs:element name="d1sdcy" type="xs:long" />
        <xs:element name="d1infa" type="xs:string" />
        <xs:element name="d1insq" type="xs:long" />
        <xs:element name="d1insg" type="xs:string" />
        <xs:element name="d1rpln" type="xs:string" />
        <xs:element name="d1rppf" type="xs:string" />
        <xs:element name="d1rpfn" type="xs:string" />
        <xs:element name="d1rptt" type="xs:string" />
        <xs:element name="d1rppa" type="xs:string" />
        <xs:element name="d1rpoc" type="xs:string" />
        <xs:element name="d1rpbc" type="xs:long" />
        <xs:element name="d1rpbl" type="xs:string" />
        <xs:element name="d1rpll" type="xs:string" />
        <xs:element name="d1rpcs" type="xs:string" />
        <xs:element name="d1rpgn" type="xs:string" />
        <xs:element name="d1rpdd" type="xs:long" />
        <xs:element name="d1rpdm" type="xs:long" />
        <xs:element name="d1rpdy" type="xs:long" />
        <xs:element name="d1rpdh" type="xs:long" />
        <xs:element name="d1rpdi" type="xs:long" />
        <xs:element name="d1rpdl" type="xs:string" />
        <xs:element name="d1rpad" type="xs:long" />
        <xs:element name="d1rpaw" type="xs:long" />
        <xs:element name="d1rpam" type="xs:long" />
        <xs:element name="d1rpay" type="xs:long" />
        <xs:element name="d1faln" type="xs:string" />
        <xs:element name="d1fapf" type="xs:string" />
        <xs:element name="d1fafn" type="xs:string" />
        <xs:element name="d1fatt" type="xs:string" />
        <xs:element name="d1fapa" type="xs:string" />
        <xs:element name="d1faca" type="xs:string" />
        <xs:element name="d1faoc" type="xs:string" />
        <xs:element name="d1faay" type="xs:long" />
        <xs:element name="d1fall" type="xs:string" />
        <xs:element name="d1moln" type="xs:string" />
        <xs:element name="d1mopf" type="xs:string" />
        <xs:element name="d1mofn" type="xs:string" />
        <xs:element name="d1mott" type="xs:string" />
        <xs:element name="d1mopa" type="xs:string" />
        <xs:element name="d1moca" type="xs:string" />
        <xs:element name="d1mooc" type="xs:string" />
        <xs:element name="d1moay" type="xs:long" />
        <xs:element name="d1moll" type="xs:string" />
        <xs:element name="d1sdce" type="xs:string" />
        <xs:element name="d_e_p_l" type="xs:string" />
        <xs:element name="d_e_p_o" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b1" nillable="true" minOccurs="0" />
        <xs:element name="d2l" type="d2" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="d3l" type="d3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="d4" nillable="true" minOccurs="0" />
        <xs:element name="d1sdcla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1rpbla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1rplla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1rpdla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1falla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="d1molla" type="a1" nillable="true" minOccurs="0" />
        <xs:element name="dc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b3" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="b3sdmi" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="b1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="m6" >
      <xs:sequence>
        <xs:element name="idnr" type="xs:long" />
        <xs:element name="mar_cd" type="xs:long" />
        <xs:element name="mar_cm" type="xs:long" />
        <xs:element name="mar_cy" type="xs:long" />
        <xs:element name="m6sdmi" type="xs:string" />
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="GeneratedName" type="m1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 