fullstack9813/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="regstatus" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registercontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<register,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phonenumber" type="xs:long" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="regstatus" type="xs:string" />
        <xs:element name="active" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="registerdao" nillable="true" minOccurs="0" />
        <xs:element name="javamail" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerrestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="registerdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="registerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 