HibernateDemos5/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="laptop3" >
      <xs:sequence>
        <xs:element name="lid" type="xs:long" />
        <xs:element name="lname" type="xs:string" />
        <xs:element name="student" type="student3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student3" >
      <xs:sequence>
        <xs:element name="rollno" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="marks" type="xs:long" />
        <xs:element name="//createsnewtablewithoutmappedbylaptop" type="laptop3" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 