drools-pilot/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testruleexecutortest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemquerytest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbrepositorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetest" >
      <xs:sequence>
        <xs:element name="ids" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruledataconsumertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cepdataconsumertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockruledataconsumer" >
      <xs:complexContent>
       <xs:extension base="ruledataconsumer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockcepdataconsumer" >
      <xs:complexContent>
       <xs:extension base="cepdataconsumer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="infinispanhandlertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mybatis-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infinispan" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testmain" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addrentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="appl_no" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="store_cd" type="xs:anyType" />
        <xs:element name="org_id" type="xs:anyType" />
        <xs:element name="start_dtim" type="xs:anyType" />
        <xs:element name="strt_addr_2" type="xs:anyType" />
        <xs:element name="addr_pnu_cd" type="xs:anyType" />
        <xs:element name="nice_fraud_stat_cd" type="xs:anyType" />
        <xs:element name="lst_work_date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addrentitypk" >
      <xs:sequence>
        <xs:element name="//serialversionuid" type="xs:long" />
        <xs:element name="appl_no" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="store_cd" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phoneentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="appl_no" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="store_cd" type="xs:anyType" />
        <xs:element name="org_id" type="xs:anyType" />
        <xs:element name="wire_mobile_gb" type="xs:anyType" />
        <xs:element name="start_dtim" type="xs:anyType" />
        <xs:element name="full_phone_no" type="xs:anyType" />
        <xs:element name="nice_fraud_stat_cd" type="xs:anyType" />
        <xs:element name="lst_work_date" type="xs:anyType" />
        <xs:element name="resp_cd" type="xs:anyType" />
        <xs:element name="appls" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="key_delimeter" type="xs:string" />
        <xs:element name="tele_cd_match" type="xs:string" />
        <xs:element name="tele_cd_regit" type="xs:string" />
        <xs:element name="key_fbapplmst" type="xs:string" />
        <xs:element name="key_fbappladdr" type="xs:string" />
        <xs:element name="key_fbappl_wphone" type="xs:string" />
        <xs:element name="key_fbappl_mphone" type="xs:string" />
        <xs:element name="key_inmem" type="xs:string" />
        <xs:element name="/***true:mybatismode,false:hibernatemode*/mybatis_based" type="xs:anyType" />
        <xs:element name="/***항목쿼리cache사용여부*/cacheable" type="xs:anyType" />
        <xs:element name="/***true:cep대체sql사용,false:droolsfusionrule사용.*/cep_sql" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionhandlerimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseconsumer" >
      <xs:complexContent>
       <xs:extension base="defaultconsumer">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="om" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cepdataconsumer" >
      <xs:complexContent>
       <xs:extension base="baseconsumer">
         <xs:sequence>
          <xs:element name="consumer_tag" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="select_sql1" type="xs:string" />
          <xs:element name="select_sql2" type="xs:string" />
          <xs:element name="select_sql3" type="xs:string" />
          <xs:element name="" type="ruleexecutor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ruledataconsumer" >
      <xs:complexContent>
       <xs:extension base="baseconsumer">
         <xs:sequence>
          <xs:element name="consumer_tag" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="named_query1" type="xs:string" />
          <xs:element name="named_query2" type="xs:string" />
          <xs:element name="named_query3" type="xs:string" />
          <xs:element name="param_appl_no" type="xs:string" />
          <xs:element name="param_store_cd" type="xs:string" />
          <xs:element name="param_version" type="xs:string" />
          <xs:element name="//" type="ruleexecutor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dbrepository" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="instance" type="dbrepository" nillable="true" minOccurs="0" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="emfactory" type="xs:anyType" />
        <xs:element name="emfactoryhsql" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testregitdetail" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="result_id" type="xs:long" />
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="resp_cd" type="xs:string" />
        <xs:element name="result" type="testresult" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applentity2" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testresult" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="resp_cd_0000" type="xs:string" />
        <xs:element name="resp_cd_er01" type="xs:string" />
        <xs:element name="resp_cd_er02" type="xs:string" />
        <xs:element name="resp_cd_er03" type="xs:string" />
        <xs:element name="resp_cd_er11" type="xs:string" />
        <xs:element name="resp_cd_error" type="xs:string" />
        <xs:element name="//@generatedvalue(generator" type="xs:long" />
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="resp_cd" type="xs:string" />
        <xs:element name="rule_result1" type="xs:string" />
        <xs:element name="detail_cnt" type="xs:long" />
        <xs:element name="telegram" type="xs:string" />
        <xs:element name="reg_dt" type="xs:dateTime" />
        <xs:element name="elapsed_time" type="xs:long" />
        <xs:element name="err_msg" type="xs:string" />
        <xs:element name="details" type="testregitdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applentity" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applentity3" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ceporgidhandleevent" >
      <xs:sequence>
        <xs:element name="org_id" type="xs:string" />
        <xs:element name="orgcount" type="xs:long" />
        <xs:element name="handlemap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infinispanhandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="volatileinstance" type="infinispanhandler" nillable="true" minOccurs="0" />
        <xs:element name="rmc" type="xs:anyType" />
        <xs:element name="cache" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pilotmain" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
        <xs:element name="container" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="processeventlistenerimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleexecutor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cepruleexecutor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="kcontainer" type="xs:anyType" />
        <xs:element name="ksession" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agendaeventlistenerimpl" >
      <xs:complexContent>
       <xs:extension base="defaultagendaeventlistener">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testruleexecutor" >
      <xs:sequence>
        <xs:element name="kcontainer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pilotruleexecutor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="kcontainer" type="xs:anyType" />
        <xs:element name="ksession" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 