drools-pilot/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="addrentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="appl_no" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="store_cd" type="xs:anyType" />
        <xs:element name="org_id" type="xs:anyType" />
        <xs:element name="start_dtim" type="xs:anyType" />
        <xs:element name="strt_addr_2" type="xs:anyType" />
        <xs:element name="addr_pnu_cd" type="xs:anyType" />
        <xs:element name="nice_fraud_stat_cd" type="xs:anyType" />
        <xs:element name="lst_work_date" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phoneentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="sdf" type="xs:anyType" />
        <xs:element name="appl_no" type="xs:anyType" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="store_cd" type="xs:anyType" />
        <xs:element name="org_id" type="xs:anyType" />
        <xs:element name="wire_mobile_gb" type="xs:anyType" />
        <xs:element name="start_dtim" type="xs:anyType" />
        <xs:element name="full_phone_no" type="xs:anyType" />
        <xs:element name="nice_fraud_stat_cd" type="xs:anyType" />
        <xs:element name="lst_work_date" type="xs:anyType" />
        <xs:element name="resp_cd" type="xs:anyType" />
        <xs:element name="appls" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testregitdetail" >
      <xs:sequence>
        <xs:element name="seq" type="xs:long" />
        <xs:element name="result_id" type="xs:long" />
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="resp_cd" type="xs:string" />
        <xs:element name="result" type="testresult" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applentity2" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testresult" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="resp_cd_0000" type="xs:string" />
        <xs:element name="resp_cd_er01" type="xs:string" />
        <xs:element name="resp_cd_er02" type="xs:string" />
        <xs:element name="resp_cd_er03" type="xs:string" />
        <xs:element name="resp_cd_er11" type="xs:string" />
        <xs:element name="resp_cd_error" type="xs:string" />
        <xs:element name="//@generatedvalue(generator" type="xs:long" />
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
        <xs:element name="resp_cd" type="xs:string" />
        <xs:element name="rule_result1" type="xs:string" />
        <xs:element name="detail_cnt" type="xs:long" />
        <xs:element name="telegram" type="xs:string" />
        <xs:element name="reg_dt" type="xs:dateTime" />
        <xs:element name="elapsed_time" type="xs:long" />
        <xs:element name="err_msg" type="xs:string" />
        <xs:element name="details" type="testregitdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applentity" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applentity3" >
      <xs:sequence>
        <xs:element name="appl_no" type="xs:string" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="store_cd" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 