BeginningJavaEE7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="nbofpages" type="xs:anyType" />
        <xs:element name="illustrations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 