HIbernate-12/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="org.mockito.plugins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agroalconnectionprovidertest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agroaltransactionisolationconfigtest" >
      <xs:complexContent>
       <xs:extension base="basetransactionisolationconfigtest">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="preparedstatementspyconnectionprovider" >
      <xs:complexContent>
       <xs:extension base="any">
         <xs:sequence>
          <xs:element name="preparedstatementmap" type="xs:anyType" />
          <xs:element name="acquiredconnections" type="xs:anyType" />
          <xs:element name="releasedconnections" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agroalskipautocommittest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
          <xs:element name="connectionprovider" type="preparedstatementspyconnectionprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="strategyregistrationproviderimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agroalconnectionprovider" >
      <xs:sequence>
        <xs:element name="config_prefix" type="xs:string" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 