HibernateJPA7/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="worker" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="workhours" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="construction" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detective" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="physicaldescription" type="xs:string" />
        <xs:element name="badge" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="suspect" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="physicaldescription" type="xs:string" />
        <xs:element name="suspectcharge" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 