AliSQLBackup/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="timestampassqltimestamptypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:anyType" />
        <xs:element name="_not_null_btree" type="xs:anyType" />
        <xs:element name="_not_null_both" type="xs:anyType" />
        <xs:element name="_not_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="magic" type="xs:long" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:dateTime" />
        <xs:element name="_not_null_btree" type="xs:dateTime" />
        <xs:element name="_not_null_both" type="xs:dateTime" />
        <xs:element name="_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="decimaltypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="decimal_null_hash" type="xs:anyType" />
        <xs:element name="decimal_null_btree" type="xs:anyType" />
        <xs:element name="decimal_null_both" type="xs:anyType" />
        <xs:element name="decimal_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeassqltimestamptypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="datetime_not_null_hash" type="xs:anyType" />
        <xs:element name="datetime_not_null_btree" type="xs:anyType" />
        <xs:element name="datetime_not_null_both" type="xs:anyType" />
        <xs:element name="datetime_not_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lazyemployee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="magic" type="xs:long" />
        <xs:element name="age" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time_not_null_hash" type="xs:dateTime" />
        <xs:element name="time_not_null_btree" type="xs:dateTime" />
        <xs:element name="time_not_null_both" type="xs:dateTime" />
        <xs:element name="time_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timestampasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time_not_null_hash" type="xs:dateTime" />
        <xs:element name="time_not_null_btree" type="xs:dateTime" />
        <xs:element name="time_not_null_both" type="xs:dateTime" />
        <xs:element name="time_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clobtypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="small200" type="xs:string" />
        <xs:element name="medium500" type="xs:string" />
        <xs:element name="large10000" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blobtypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="blobs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bigintegertypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="decimal_null_hash" type="xs:anyType" />
        <xs:element name="decimal_null_btree" type="xs:anyType" />
        <xs:element name="decimal_null_both" type="xs:anyType" />
        <xs:element name="decimal_null_none" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeasutildatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="time_not_null_hash" type="xs:dateTime" />
        <xs:element name="time_not_null_btree" type="xs:dateTime" />
        <xs:element name="time_not_null_both" type="xs:dateTime" />
        <xs:element name="time_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateassqldatetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:dateTime" />
        <xs:element name="_not_null_btree" type="xs:dateTime" />
        <xs:element name="_not_null_both" type="xs:dateTime" />
        <xs:element name="_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timeassqltimetypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="_not_null_hash" type="xs:dateTime" />
        <xs:element name="_not_null_btree" type="xs:dateTime" />
        <xs:element name="_not_null_both" type="xs:dateTime" />
        <xs:element name="_not_null_none" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 