el-admin4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="log" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsmallmapper" >
      <xs:complexContent>
       <xs:extension base="basemapper<logsmalldto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logerrormapper" >
      <xs:complexContent>
       <xs:extension base="basemapper<logerrordto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logerrordto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="method" type="xs:string" />
        <xs:element name="params" type="xs:string" />
        <xs:element name="browser" type="xs:string" />
        <xs:element name="requestip" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logquerycriteria" >
      <xs:sequence>
        <xs:element name="blurry" type="xs:string" />
        <xs:element name="logtype" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsmalldto" >
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="requestip" type="xs:string" />
        <xs:element name="time" type="xs:long" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="browser" type="xs:string" />
        <xs:element name="createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="logrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logerrormapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="logsmallmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logaspect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logservice" nillable="true" minOccurs="0" />
        <xs:element name="currenttime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***操作用户*/username" type="xs:string" />
        <xs:element name="/***描述*/description" type="xs:string" />
        <xs:element name="/***方法名*/method" type="xs:string" />
        <xs:element name="/***参数*/params" type="xs:string" />
        <xs:element name="/***日志类型*/logtype" type="xs:string" />
        <xs:element name="/***请求ip*/requestip" type="xs:string" />
        <xs:element name="/***地址*/address" type="xs:string" />
        <xs:element name="/***浏览器*/browser" type="xs:string" />
        <xs:element name="/***请求耗时*/time" type="xs:long" />
        <xs:element name="exceptiondetail" type="xs:anyType" />
        <xs:element name="/***创建日期*/createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<log,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 