el-admin4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="log" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="/***操作用户*/username" type="xs:string" />
        <xs:element name="/***描述*/description" type="xs:string" />
        <xs:element name="/***方法名*/method" type="xs:string" />
        <xs:element name="/***参数*/params" type="xs:string" />
        <xs:element name="/***日志类型*/logtype" type="xs:string" />
        <xs:element name="/***请求ip*/requestip" type="xs:string" />
        <xs:element name="/***地址*/address" type="xs:string" />
        <xs:element name="/***浏览器*/browser" type="xs:string" />
        <xs:element name="/***请求耗时*/time" type="xs:long" />
        <xs:element name="exceptiondetail" type="xs:anyType" />
        <xs:element name="/***创建日期*/createtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 