commerce-springCloud/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="asynctaskinfo" >
      <xs:sequence>
        <xs:element name="/***异步任务id*/taskid" type="xs:string" />
        <xs:element name="/***异步任务执行状态*/status" type="asynctaskstatusenum" nillable="true" minOccurs="0" />
        <xs:element name="/***异步任务开始时间*/starttime" type="xs:dateTime" />
        <xs:element name="/***异步任务结束时间*/endtime" type="xs:dateTime" />
        <xs:element name="/***异步任务总耗时*/totaltime" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagesimplegoodsinfo" >
      <xs:sequence>
        <xs:element name="simplegoodsinfos" type="xs:anyType" />
        <xs:element name="hasmore" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asynctaskstatusenum" >
      <xs:sequence>
        <xs:element name="/***执行状态编码*/state" type="xs:long" />
        <xs:element name="/***执行状态描述*/stateinfo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brandcategory" >
      <xs:sequence>
        <xs:element name="/***品牌分类编码*/code" type="xs:string" />
        <xs:element name="/***品牌分类描述信息*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsconstant" >
      <xs:sequence>
        <xs:element name="/***rediskey*/ecommerce_goods_dict_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscategory" >
      <xs:sequence>
        <xs:element name="/***商品类别编码*/code" type="xs:string" />
        <xs:element name="/***商品类别描述信息*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsstatus" >
      <xs:sequence>
        <xs:element name="/***状态码*/status" type="xs:anyType" />
        <xs:element name="/***状态描述*/description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscategoryconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brandcategoryconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsstatusconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ecommercegoodsdao" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<ecommercegoods,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ecommercegoods" >
      <xs:sequence>
        <xs:element name="/***自增主键*/id" type="xs:long" />
        <xs:element name="/***商品类型*/" type="goodscategory" nillable="true" minOccurs="0" />
        <xs:element name="/***品牌分类*/" type="brandcategory" nillable="true" minOccurs="0" />
        <xs:element name="/***商品名称*/goodsname" type="xs:string" />
        <xs:element name="/***商品名称*/goodspic" type="xs:string" />
        <xs:element name="/***商品描述信息*/goodsdescription" type="xs:string" />
        <xs:element name="/***商品状态*/" type="goodsstatus" nillable="true" minOccurs="0" />
        <xs:element name="/***商品价格:单位:分、厘*/price" type="xs:anyType" />
        <xs:element name="/***总供应量*/supply" type="xs:long" />
        <xs:element name="/***库存*/inventory" type="xs:long" />
        <xs:element name="/***商品属性,json字符串存储*/goodsproperty" type="xs:string" />
        <xs:element name="/***创建时间*/createtime" type="xs:dateTime" />
        <xs:element name="/***更新时间*/uptime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscontroller" >
      <xs:sequence>
        <xs:element name="goodsservice" type="igoodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asyncgoodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="asynctaskmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="igoodsservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asynctaskmanager" >
      <xs:sequence>
        <xs:element name="taskcontainer" type="xs:anyType" />
        <xs:element name="asyncservice" type="iasyncservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asyncserviceimpl" >
      <xs:sequence>
        <xs:element name="redistemplate" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ecommercegoodsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asynctaskmonitor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="asynctaskmanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iasyncservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="igoodsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ecommercegoodsdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asyncpoolconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 