fpl/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="goalscorer" >
      <xs:sequence>
        <xs:element name="time" type="xs:string" />
        <xs:element name="homescorer" type="xs:string" />
        <xs:element name="score" type="xs:string" />
        <xs:element name="awayscorer" type="xs:string" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchdetail" >
      <xs:sequence>
        <xs:element name="matchid" type="xs:string" />
        <xs:element name="countryid" type="xs:string" />
        <xs:element name="countryname" type="xs:string" />
        <xs:element name="leagueid" type="xs:string" />
        <xs:element name="leaguename" type="xs:string" />
        <xs:element name="matchdate" type="xs:string" />
        <xs:element name="matchstatus" type="xs:string" />
        <xs:element name="matchtime" type="xs:string" />
        <xs:element name="matchhometeamname" type="xs:string" />
        <xs:element name="matchhometeamscore" type="xs:string" />
        <xs:element name="matchawayteamname" type="xs:string" />
        <xs:element name="matchawayteamscore" type="xs:string" />
        <xs:element name="matchlive" type="xs:string" />
        <xs:element name="goalscorer" type="goalscorer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="additionalproperties" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footballapiclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passchange" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="regverify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forgotpassword" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sportmgmtexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
          <xs:element name="/***/serialversionuid" type="xs:long" />
          <xs:element name="errorcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="oauthserviceconfig" >
      <xs:sequence>
        <xs:element name="apikey" type="xs:string" />
        <xs:element name="apisecret" type="xs:string" />
        <xs:element name="callback" type="xs:string" />
        <xs:element name="dreamelevencallback" type="xs:string" />
        <xs:element name="apiclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sortutility" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationdatautility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyfileutility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailutility" >
      <xs:sequence>
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauthserviceprovider" >
      <xs:complexContent>
       <xs:extension base="api>">
         <xs:sequence>
          <xs:element name="config" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generatehashcode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pointrankingutility" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="applicationdatautility" nillable="true" minOccurs="0" />
        <xs:element name="logmessage" type="xs:string" />
        <xs:element name="topelevenplayers" type="player" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="isdreameleven" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leagueplanutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facebookutil" >
      <xs:sequence>
        <xs:element name="apikey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sportmgmtexttag" >
      <xs:complexContent>
       <xs:extension base="tagsupport{">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="retrieve" type="xs:string" />
          <xs:element name="//intcounter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sportschedular" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/*@scheduled(fixeddelay" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="couponutility" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="couponlist" type="coupon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="vendorlist" type="xs:anyType" />
        <xs:element name="couponcategoryid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sportmgmttag" >
      <xs:complexContent>
       <xs:extension base="tagsupport{">
         <xs:sequence>
          <xs:element name="/***/" type="xs:anyType" />
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="position" type="xs:anyType" />
          <xs:element name="playertype" type="xs:string" />
          <xs:element name="pagename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationdatautility" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="playerslist" type="xs:anyType" />
        <xs:element name="clublist" type="xs:anyType" />
        <xs:element name="games" type="xs:anyType" />
        <xs:element name="gameclubplayeridlist" type="xs:anyType" />
        <xs:element name="gameclubplayeridsinmatch" type="xs:anyType" />
        <xs:element name="msg" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorconstrant" >
      <xs:sequence>
        <xs:element name="sess_fact_null" type="xs:string" />
        <xs:element name="sess_null" type="xs:string" />
        <xs:element name="user_null" type="xs:string" />
        <xs:element name="transaction_error" type="xs:string" />
        <xs:element name="invlid_pass" type="xs:string" />
        <xs:element name="account_inactive" type="xs:string" />
        <xs:element name="account_locked" type="xs:string" />
        <xs:element name="empty_logon" type="xs:string" />
        <xs:element name="empty_pass" type="xs:string" />
        <xs:element name="duplicate_entry" type="xs:string" />
        <xs:element name="record_not_found" type="xs:string" />
        <xs:element name="invalid_parameter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sportconstrant" >
      <xs:sequence>
        <xs:element name="active" type="xs:string" />
        <xs:element name="yes" type="xs:string" />
        <xs:element name="no" type="xs:string" />
        <xs:element name="inactive" type="xs:string" />
        <xs:element name="initiated" type="xs:string" />
        <xs:element name="locked" type="xs:string" />
        <xs:element name="null" type="xs:string" />
        <xs:element name="player_type_normal" type="xs:string" />
        <xs:element name="player_type_captain" type="xs:string" />
        <xs:element name="player_type_vice_captain" type="xs:string" />
        <xs:element name="env_file_name_common" type="xs:string" />
        <xs:element name="env_file_name_local" type="xs:string" />
        <xs:element name="env_file_name_stage" type="xs:string" />
        <xs:element name="env_file_name_live" type="xs:string" />
        <xs:element name="payment_sucs_url" type="xs:string" />
        <xs:element name="payment_fail_url" type="xs:string" />
        <xs:element name="payment_cancel_url" type="xs:string" />
        <xs:element name="de_payment_sucs_url" type="xs:string" />
        <xs:element name="de_payment_fail_url" type="xs:string" />
        <xs:element name="de_payment_cancel_url" type="xs:string" />
        <xs:element name="payment_url" type="xs:string" />
        <xs:element name="base_url" type="xs:string" />
        <xs:element name="velociyy_file_loc" type="xs:string" />
        <xs:element name="to" type="xs:string" />
        <xs:element name="from" type="xs:string" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="user_ver_email_loc" type="xs:string" />
        <xs:element name="user_pass_change_email_loc" type="xs:string" />
        <xs:element name="forgot_pass_email_loc" type="xs:string" />
        <xs:element name="user_ver_email_sub" type="xs:string" />
        <xs:element name="user_pass_change_email_sub" type="xs:string" />
        <xs:element name="forgot_password_email_sub" type="xs:string" />
        <xs:element name="user_ver_url" type="xs:string" />
        <xs:element name="user_landing_page" type="xs:string" />
        <xs:element name="user_landing_page11" type="xs:string" />
        <xs:element name="user_landing_redirect_page" type="xs:string" />
        <xs:element name="user_landing_redirect_page11" type="xs:string" />
        <xs:element name="user_update_page" type="xs:string" />
        <xs:element name="change_password_page" type="xs:string" />
        <xs:element name="my_team_page" type="xs:string" />
        <xs:element name="my_team_page11" type="xs:string" />
        <xs:element name="match_page" type="xs:string" />
        <xs:element name="my_point_page" type="xs:string" />
        <xs:element name="de_my_point_page" type="xs:string" />
        <xs:element name="faq_page" type="xs:string" />
        <xs:element name="faq_page11" type="xs:string" />
        <xs:element name="rules_page" type="xs:string" />
        <xs:element name="rules_page11" type="xs:string" />
        <xs:element name="point_table_page" type="xs:string" />
        <xs:element name="//leage_home_page" type="xs:string" />
        <xs:element name="vendor_home_page" type="xs:string" />
        <xs:element name="vendor_log_in_page" type="xs:string" />
        <xs:element name="league_landing_home_page" type="xs:string" />
        <xs:element name="home_game_guide" type="xs:string" />
        <xs:element name="privacy_policy" type="xs:string" />
        <xs:element name="about_us" type="xs:string" />
        <xs:element name="home_guide" type="xs:string" />
        <xs:element name="leage_login_page" type="xs:string" />
        <xs:element name="forgot_password_page" type="xs:string" />
        <xs:element name="user_verify_page" type="xs:string" />
        <xs:element name="user_update_result_page" type="xs:string" />
        <xs:element name="user_reg_result_page" type="xs:string" />
        <xs:element name="forgot_pass_result_page" type="xs:string" />
        <xs:element name="make_payment_success_page" type="xs:string" />
        <xs:element name="make_payment_error_page" type="xs:string" />
        <xs:element name="payment_result_page" type="xs:string" />
        <xs:element name="merchant_id" type="xs:string" />
        <xs:element name="payment_salt" type="xs:string" />
        <xs:element name="sha_key_for_payment" type="xs:string" />
        <xs:element name="action" type="xs:string" />
        <xs:element name="change_pass" type="xs:string" />
        <xs:element name="mid_player" type="xs:string" />
        <xs:element name="fore_player" type="xs:string" />
        <xs:element name="goal_keeper" type="xs:string" />
        <xs:element name="player" type="xs:string" />
        <xs:element name="defender" type="xs:string" />
        <xs:element name="deadline_start_hrs" type="xs:string" />
        <xs:element name="deadline_end_hrs" type="xs:string" />
        <xs:element name="user_plan_page" type="xs:string" />
        <xs:element name="previous" type="xs:string" />
        <xs:element name="next" type="xs:string" />
        <xs:element name="game_week_history" type="xs:string" />
        <xs:element name="de_game_week_history" type="xs:string" />
        <xs:element name="weekly_coupon" type="xs:string" />
        <xs:element name="update_player_point_page" type="xs:string" />
        <xs:element name="vendor_login_page" type="xs:string" />
        <xs:element name="game_week_point" type="xs:string" />
        <xs:element name="game_week_overall_point" type="xs:string" />
        <xs:element name="user_total_point" type="xs:string" />
        <xs:element name="player_total_point" type="xs:string" />
        <xs:element name="game_week_rank" type="xs:string" />
        <xs:element name="game_week_overall_rank" type="xs:string" />
        <xs:element name="de_coupon_list_redirect_page" type="xs:string" />
        <xs:element name="coupon_list_redirect_page" type="xs:string" />
        <xs:element name="hibernate_connection_url" type="xs:string" />
        <xs:element name="hibernate_connection_username" type="xs:string" />
        <xs:element name="hibernate_connection_password" type="xs:string" />
        <xs:element name="point_multiplyer" type="xs:string" />
        <xs:element name="leader_ship_page" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryconstrant" >
      <xs:sequence>
        <xs:element name="from_country_state_city" type="xs:string" />
        <xs:element name="from_club" type="xs:string" />
        <xs:element name="from_v_article" type="xs:string" />
        <xs:element name="select_active_game" type="xs:string" />
        <xs:element name="select_position_id_by_pagename" type="xs:string" />
        <xs:element name="select_position_price_id_by_position_id" type="xs:string" />
        <xs:element name="select_position_id_by_vendor_id" type="xs:string" />
        <xs:element name="select_position_price_id_by_vendor_id" type="xs:string" />
        <xs:element name="select_article_id_by_vendor_id" type="xs:string" />
        <xs:element name="select_position_code_by_position_id" type="xs:string" />
        <xs:element name="select_match_by_game" type="xs:string" />
        <xs:element name="select_point_by_game" type="xs:string" />
        <xs:element name="select_players_clubd_of_event" type="xs:string" />
        <xs:element name="select_user_player_list" type="xs:string" />
        <xs:element name="select_user_player_detail_list" type="xs:string" />
        <xs:element name="select_user_player_detail_list_eleven" type="xs:string" />
        <xs:element name="select_total_player_by_position" type="xs:string" />
        <xs:element name="select_total_player_by_position_d_el" type="xs:string" />
        <xs:element name="select_total_playing_player_by_position" type="xs:string" />
        <xs:element name="select_total_playing_player_by_position_d_el" type="xs:string" />
        <xs:element name="select_user_total_player" type="xs:string" />
        <xs:element name="select_user_total_player_d_el" type="xs:string" />
        <xs:element name="select_user_total_active_player" type="xs:string" />
        <xs:element name="select_user_player_total_price" type="xs:string" />
        <xs:element name="select_user_player_total_price_d_el" type="xs:string" />
        <xs:element name="insert_default_user_plan" type="xs:string" />
        <xs:element name="fetch_current_game_week" type="xs:string" />
        <xs:element name="fetch_start_game_week" type="xs:string" />
        <xs:element name="fetch_start_match_time_of_game_week" type="xs:string" />
        <xs:element name="fetch_end_match_time_of_game_week" type="xs:string" />
        <xs:element name="fetch_sorted_game_week" type="xs:string" />
        <xs:element name="fetch_start_and_end_date_of_game_week" type="xs:string" />
        <xs:element name="fetch_end_date_list_of_game_week_from_today" type="xs:string" />
        <xs:element name="make_user_plan_inactive" type="xs:string" />
        <xs:element name="select_count_of_player_by_user" type="xs:string" />
        <xs:element name="select_player_with_price_in_order" type="xs:string" />
        <xs:element name="select_player_with_total_point_in_order" type="xs:string" />
        <xs:element name="select_total_user_for_game" type="xs:string" />
        <xs:element name="select_total_point_and_rank_of_user" type="xs:string" />
        <xs:element name="select_last_game_week" type="xs:string" />
        <xs:element name="select_game_week_history_player_group" type="xs:string" />
        <xs:element name="select_users_of_game" type="xs:string" />
        <xs:element name="select_users_of_game_for_de" type="xs:string" />
        <xs:element name="select_player_group" type="xs:string" />
        <xs:element name="select_hieghest_rank_of_game_week" type="xs:string" />
        <xs:element name="select_average_rank_of_game_week" type="xs:string" />
        <xs:element name="select_hieghest_point_of_game_week" type="xs:string" />
        <xs:element name="select_average_point_of_game_week" type="xs:string" />
        <xs:element name="select_total_limit_of_offer" type="xs:string" />
        <xs:element name="select_total_used_of_coupon_list" type="xs:string" />
        <xs:element name="select_total_used_of_coupon_for_game_week" type="xs:string" />
        <xs:element name="select_total_used_coupon_by_user_for_game_week" type="xs:string" />
        <xs:element name="select_total_used_coupon_by_user_for_game_week_by_category" type="xs:string" />
        <xs:element name="select_players_clubd_of_game_for_match" type="xs:string" />
        <xs:element name="select_players_in_order_by_name" type="xs:string" />
        <xs:element name="select_user_list_of_player" type="xs:string" />
        <xs:element name="select_planid_from_de_game_week_report" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playeraction11" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sortutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraction11" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
        <xs:element name="/*	applicationdatautilityapplicationdatautility			publicapplicationdatautilitygetapplicationdatautility(){		returnapplicationdatautility	}	publicvoidsetapplicationdatautility(applicationdatautilityapplicationdatautility){		this.applicationdatautility" type="sortutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homeaction11" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameaction11" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="leagueplanid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamemanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="degameweekreport" >
      <xs:sequence>
        <xs:element name="reportid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="point" type="xs:anyType" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="totalrank" type="xs:anyType" />
        <xs:element name="totalpoint" type="xs:anyType" />
        <xs:element name="clubrank" type="xs:anyType" />
        <xs:element name="countryrank" type="xs:anyType" />
        <xs:element name="userfavclub" type="xs:anyType" />
        <xs:element name="usercountryid" type="xs:anyType" />
        <xs:element name="userstartgameweekid" type="xs:anyType" />
        <xs:element name="userstartgameweekrank" type="xs:anyType" />
        <xs:element name="transfer" type="xs:anyType" />
        <xs:element name="filed1" type="xs:anyType" />
        <xs:element name="filed2" type="xs:anyType" />
        <xs:element name="filed3" type="xs:string" />
        <xs:element name="planid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentext" >
      <xs:sequence>
        <xs:element name="paymentextid" type="xs:anyType" />
        <xs:element name="transactionid" type="xs:anyType" />
        <xs:element name="merchantkey" type="xs:string" />
        <xs:element name="payumoneyid" type="xs:string" />
        <xs:element name="unmappedstatus" type="xs:string" />
        <xs:element name="cardnum" type="xs:string" />
        <xs:element name="nameoncard" type="xs:string" />
        <xs:element name="hash" type="xs:string" />
        <xs:element name="incpaymoneyid" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="udf1" type="xs:string" />
        <xs:element name="udf2" type="xs:string" />
        <xs:element name="udf3" type="xs:string" />
        <xs:element name="udf4" type="xs:string" />
        <xs:element name="udf5" type="xs:string" />
        <xs:element name="udf6" type="xs:string" />
        <xs:element name="udf7" type="xs:string" />
        <xs:element name="udf8" type="xs:string" />
        <xs:element name="udf9" type="xs:string" />
        <xs:element name="udf10" type="xs:string" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
        <xs:element name="field4" type="xs:string" />
        <xs:element name="field5" type="xs:string" />
        <xs:element name="field6" type="xs:string" />
        <xs:element name="field7" type="xs:string" />
        <xs:element name="field8" type="xs:string" />
        <xs:element name="field9" type="xs:string" />
        <xs:element name="field10" type="xs:string" />
        <xs:element name="field11" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userplayer" >
      <xs:sequence>
        <xs:element name="userplayerid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameclubplayerid" type="xs:anyType" />
        <xs:element name="isplaying" type="xs:string" />
        <xs:element name="playercategory" type="xs:string" />
        <xs:element name="segnum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userpayment" >
      <xs:sequence>
        <xs:element name="transactionid" type="xs:anyType" />
        <xs:element name="plan" type="gameweekplan" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="merchantid" type="xs:string" />
        <xs:element name="payuid" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="paymentmsg" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="extracharge" type="xs:double" />
        <xs:element name="totalamount" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="paymentmode" type="xs:string" />
        <xs:element name="bankcode" type="xs:string" />
        <xs:element name="pgtype" type="xs:string" />
        <xs:element name="bankreferenceno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweekplan" >
      <xs:sequence>
        <xs:element name="planid" type="xs:anyType" />
        <xs:element name="planname" type="xs:string" />
        <xs:element name="plandesc" type="xs:string" />
        <xs:element name="plantype" type="xs:anyType" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="planamount" type="xs:double" />
        <xs:element name="offerprice" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="winingprice" type="xs:double" />
        <xs:element name="algorithm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamemanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playermanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="isdreameleven" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweekmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatesessionfactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="builder" type="xs:anyType" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="factory" type="xs:anyType" />
        <xs:element name="leagueplanid" type="xs:string" />
        <xs:element name="plandiscountid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pointrankmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="userid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="couponmanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userpayment" >
      <xs:sequence>
        <xs:element name="transactionid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="plandiscount" nillable="true" minOccurs="0" />
        <xs:element name="plan" type="leagueplan" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="merchantid" type="xs:string" />
        <xs:element name="payuid" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="paymentmsg" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="extracharge" type="xs:double" />
        <xs:element name="totalamount" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="paymentmode" type="xs:string" />
        <xs:element name="bankcode" type="xs:string" />
        <xs:element name="pgtype" type="xs:string" />
        <xs:element name="bankreferenceno" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="playerid" type="xs:anyType" />
        <xs:element name="playername" type="xs:string" />
        <xs:element name="playerdesc" type="xs:string" />
        <xs:element name="worldranking" type="xs:anyType" />
        <xs:element name="heighetscore" type="xs:anyType" />
        <xs:element name="totalscore" type="xs:anyType" />
        <xs:element name="bestposition" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="isinternationalplayer" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="leagueplan" >
      <xs:sequence>
        <xs:element name="planid" type="xs:anyType" />
        <xs:element name="planname" type="xs:string" />
        <xs:element name="plandesc" type="xs:string" />
        <xs:element name="plantypeval" type="xs:anyType" />
        <xs:element name="plantypename" type="xs:string" />
        <xs:element name="activated" type="xs:dateTime" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="isfree" type="xs:string" />
        <xs:element name="planamount" type="xs:double" />
        <xs:element name="totalnoofdays" type="xs:anyType" />
        <xs:element name="currency" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playergroup" >
      <xs:sequence>
        <xs:element name="playergroupid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="grouptype" type="xs:string" />
        <xs:element name="field1" type="xs:anyType" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="playerlist" type="playergroupplayer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playerpoint" >
      <xs:sequence>
        <xs:element name="playerpointid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="point" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="gameclubplayer" nillable="true" minOccurs="0" />
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="matchid" type="xs:anyType" />
        <xs:element name="dateofarival" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="logonid" type="xs:string" />
        <xs:element name="logonpassword" type="xs:string" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="lastlogin" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="register" type="xs:dateTime" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="contactnumber" type="xs:string" />
        <xs:element name="fullaaddress" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="field1_" type="xs:anyType" />
        <xs:element name="field1_" type="xs:string" />
        <xs:element name="field1_" type="xs:dateTime" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
        <xs:element name="policy" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="pincode" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plandiscount" >
      <xs:sequence>
        <xs:element name="plandiscountid" type="xs:anyType" />
        <xs:element name="planid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="plandiscountcode" type="xs:string" />
        <xs:element name="plandiscountdesc" type="xs:string" />
        <xs:element name="plandiscountmsg" type="xs:string" />
        <xs:element name="activated" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="plandiscountvalue" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="match" >
      <xs:sequence>
        <xs:element name="matchid" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="starttime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="best" type="player" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="game" nillable="true" minOccurs="0" />
        <xs:element name="first" type="club" nillable="true" minOccurs="0" />
        <xs:element name="second" type="club" nillable="true" minOccurs="0" />
        <xs:element name="winner" type="club" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="gameweek" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pointcategory" >
      <xs:sequence>
        <xs:element name="couponcategoryid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="couponlist" type="coupon" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="minpoint" type="xs:anyType" />
        <xs:element name="maxpoint" type="xs:anyType" />
        <xs:element name="algo" type="xs:string" />
        <xs:element name="field1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userplayer" >
      <xs:sequence>
        <xs:element name="userplayerid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameclubplayerid" type="xs:anyType" />
        <xs:element name="isplaying" type="xs:string" />
        <xs:element name="playercategory" type="xs:string" />
        <xs:element name="segnum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="game" >
      <xs:sequence>
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="gamename" type="xs:string" />
        <xs:element name="gamedesc" type="xs:string" />
        <xs:element name="totalclub" type="xs:anyType" />
        <xs:element name="totaplyers" type="xs:anyType" />
        <xs:element name="winnerclubid" type="xs:anyType" />
        <xs:element name="bestplayerid" type="xs:anyType" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameclubplayer" >
      <xs:sequence>
        <xs:element name="gameclubplayerid" type="xs:anyType" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="playingposition" type="xs:string" />
        <xs:element name="pricecurrency" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="playertotalpoint" type="xs:anyType" />
        <xs:element name="GeneratedName" type="player" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="game" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="club" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coupon" >
      <xs:sequence>
        <xs:element name="couponid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="couponcategory" type="pointcategory" nillable="true" minOccurs="0" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="total" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="vendor" type="xs:string" />
        <xs:element name="logo" type="xs:string" />
        <xs:element name="appurl" type="xs:string" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="point" >
      <xs:sequence>
        <xs:element name="pointid" type="xs:anyType" />
        <xs:element name="pointname" type="xs:string" />
        <xs:element name="pointdesc" type="xs:string" />
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="pointtodeduct" type="xs:anyType" />
        <xs:element name="pointtoadd" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweek" >
      <xs:sequence>
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="weekname" type="xs:string" />
        <xs:element name="iscurrentweek" type="xs:string" />
        <xs:element name="GeneratedName" type="game" nillable="true" minOccurs="0" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userpoint" >
      <xs:sequence>
        <xs:element name="userpointid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="playerpoint" nillable="true" minOccurs="0" />
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="matchid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="currentpoint" type="xs:anyType" />
        <xs:element name="pointactivity" type="xs:string" />
        <xs:element name="pointactivitytime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweekreport" >
      <xs:sequence>
        <xs:element name="reportid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="point" type="xs:anyType" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="totalrank" type="xs:anyType" />
        <xs:element name="totalpoint" type="xs:anyType" />
        <xs:element name="clubrank" type="xs:anyType" />
        <xs:element name="countryrank" type="xs:anyType" />
        <xs:element name="userfavclub" type="xs:anyType" />
        <xs:element name="usercountryid" type="xs:anyType" />
        <xs:element name="userstartgameweekid" type="xs:anyType" />
        <xs:element name="userstartgameweekrank" type="xs:anyType" />
        <xs:element name="transfer" type="xs:anyType" />
        <xs:element name="filed1" type="xs:anyType" />
        <xs:element name="filed2" type="xs:anyType" />
        <xs:element name="filed3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offer" >
      <xs:sequence>
        <xs:element name="offerid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="matchid" type="xs:anyType" />
        <xs:element name="totallimit" type="xs:anyType" />
        <xs:element name="offertype" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
        <xs:element name="filed1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweekplayerreport" >
      <xs:sequence>
        <xs:element name="reportid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="gameclubplayer" nillable="true" minOccurs="0" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="point" type="xs:anyType" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="totalrank" type="xs:anyType" />
        <xs:element name="totalpoint" type="xs:anyType" />
        <xs:element name="filed1" type="xs:anyType" />
        <xs:element name="filed2" type="xs:anyType" />
        <xs:element name="filed3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usergame" >
      <xs:sequence>
        <xs:element name="usergameid" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="totalpoint" type="xs:anyType" />
        <xs:element name="teamname" type="xs:string" />
        <xs:element name="addedplayercount" type="xs:anyType" />
        <xs:element name="favorite" type="club" nillable="true" minOccurs="0" />
        <xs:element name="favorite" type="player" nillable="true" minOccurs="0" />
        <xs:element name="rank" type="xs:anyType" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usedcoupon" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="gameid" type="xs:anyType" />
        <xs:element name="gameweekid" type="xs:anyType" />
        <xs:element name="matchid" type="xs:anyType" />
        <xs:element name="couponid" type="xs:anyType" />
        <xs:element name="couponcategoryid" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrystatecity" >
      <xs:sequence>
        <xs:element name="countrystatecityid" type="xs:anyType" />
        <xs:element name="countryname" type="xs:string" />
        <xs:element name="statename" type="xs:string" />
        <xs:element name="cityname" type="xs:string" />
        <xs:element name="areacode" type="xs:string" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="club" >
      <xs:sequence>
        <xs:element name="clubid" type="xs:anyType" />
        <xs:element name="clubname" type="xs:string" />
        <xs:element name="clubdesc" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="clublogopath" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userplan" >
      <xs:sequence>
        <xs:element name="userplanid" type="xs:anyType" />
        <xs:element name="GeneratedName" type="plandiscount" nillable="true" minOccurs="0" />
        <xs:element name="plan" type="leagueplan" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="payment" type="userpayment" nillable="true" minOccurs="0" />
        <xs:element name="plandesc" type="xs:string" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="balanceamount" type="xs:double" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playergroupplayer" >
      <xs:sequence>
        <xs:element name="playergroupplayerid" type="xs:anyType" />
        <xs:element name="playergroupid" type="xs:anyType" />
        <xs:element name="gameclubplayerid" type="xs:anyType" />
        <xs:element name="isplaying" type="xs:string" />
        <xs:element name="playercategory" type="xs:string" />
        <xs:element name="segnum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentext" >
      <xs:sequence>
        <xs:element name="paymentextid" type="xs:anyType" />
        <xs:element name="transactionid" type="xs:anyType" />
        <xs:element name="merchantkey" type="xs:string" />
        <xs:element name="payumoneyid" type="xs:string" />
        <xs:element name="unmappedstatus" type="xs:string" />
        <xs:element name="cardnum" type="xs:string" />
        <xs:element name="nameoncard" type="xs:string" />
        <xs:element name="hash" type="xs:string" />
        <xs:element name="incpaymoneyid" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="udf1" type="xs:string" />
        <xs:element name="udf2" type="xs:string" />
        <xs:element name="udf3" type="xs:string" />
        <xs:element name="udf4" type="xs:string" />
        <xs:element name="udf5" type="xs:string" />
        <xs:element name="udf6" type="xs:string" />
        <xs:element name="udf7" type="xs:string" />
        <xs:element name="udf8" type="xs:string" />
        <xs:element name="udf9" type="xs:string" />
        <xs:element name="udf10" type="xs:string" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
        <xs:element name="field4" type="xs:string" />
        <xs:element name="field5" type="xs:string" />
        <xs:element name="field6" type="xs:string" />
        <xs:element name="field7" type="xs:string" />
        <xs:element name="field8" type="xs:string" />
        <xs:element name="field9" type="xs:string" />
        <xs:element name="field10" type="xs:string" />
        <xs:element name="field11" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sportmgmtresponse" >
      <xs:sequence>
        <xs:element name="issuccess" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="loglist" type="xs:anyType" />
        <xs:element name="resul" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweek" >
      <xs:sequence>
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="gameweekname" type="xs:string" />
        <xs:element name="matchmap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coupon" >
      <xs:sequence>
        <xs:element name="couponid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="categoryid" type="xs:anyType" />
        <xs:element name="//stringtype//stringisactivetotal" type="xs:anyType" />
        <xs:element name="total_avail" type="xs:anyType" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="vendor" type="xs:string" />
        <xs:element name="logo" type="xs:string" />
        <xs:element name="appurl" type="xs:string" />
        <xs:element name="field1" type="xs:string" />
        <xs:element name="field2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="logonid" type="xs:string" />
        <xs:element name="logonpassword" type="xs:string" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="lastlogin" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="register" type="xs:dateTime" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="contactnumber" type="xs:string" />
        <xs:element name="fullaaddress" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="field1_" type="xs:anyType" />
        <xs:element name="favclub" type="xs:string" />
        <xs:element name="field1_" type="xs:dateTime" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
        <xs:element name="policy" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="pincode" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="hasactiveplan" type="xs:anyType" />
        <xs:element name="usergamemap" type="xs:anyType" />
        <xs:element name="GeneratedName" type="activeplan" nillable="true" minOccurs="0" />
        <xs:element name="balancecoins" type="xs:double" />
        <xs:element name="totalpoint" type="xs:anyType" />
        <xs:element name="planidforcoins" type="xs:anyType" />
        <xs:element name="gameweekidforplayertransfer" type="xs:string" />
        <xs:element name="gameweeknumberforplayertransfer" type="xs:anyType" />
        <xs:element name="totaltransferforgameweek" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wildcard" >
      <xs:sequence>
        <xs:element name="planid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="price" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activeplan" >
      <xs:sequence>
        <xs:element name="userplanid" type="xs:anyType" />
        <xs:element name="planname" type="xs:string" />
        <xs:element name="plantypeval" type="xs:anyType" />
        <xs:element name="isfree" type="xs:string" />
        <xs:element name="planvalue" type="xs:double" />
        <xs:element name="startday" type="xs:anyType" />
        <xs:element name="startmonth" type="xs:anyType" />
        <xs:element name="startyear" type="xs:anyType" />
        <xs:element name="endday" type="xs:anyType" />
        <xs:element name="endmonth" type="xs:anyType" />
        <xs:element name="endyear" type="xs:anyType" />
        <xs:element name="balance" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameweekplan" >
      <xs:sequence>
        <xs:element name="planid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="desc" type="xs:string" />
        <xs:element name="price" type="xs:string" />
        <xs:element name="offerprice" type="xs:string" />
        <xs:element name="plantype" type="xs:string" />
        <xs:element name="winningamount" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrank" >
      <xs:sequence>
        <xs:element name="userid" type="xs:anyType" />
        <xs:element name="point" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="favcloub" type="xs:string" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="gameclubplayerid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="po" type="xs:long" />
        <xs:element name="totalpo" type="xs:long" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="clubid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchdetails" >
      <xs:sequence>
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="starthour" type="xs:anyType" />
        <xs:element name="startminute" type="xs:anyType" />
        <xs:element name="endhours" type="xs:anyType" />
        <xs:element name="endminute" type="xs:anyType" />
        <xs:element name="formateddate" type="xs:string" />
        <xs:element name="firstclubname" type="xs:string" />
        <xs:element name="secondclubname" type="xs:string" />
        <xs:element name="formateddate1" type="xs:string" />
        <xs:element name="formateddate2" type="xs:string" />
        <xs:element name="firstclubid" type="xs:string" />
        <xs:element name="secondclubid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homeaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="couponutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
        <xs:element name="/*	applicationdatautilityapplicationdatautility			publicapplicationdatautilitygetapplicationdatautility(){		returnapplicationdatautility	}	publicvoidsetapplicationdatautility(applicationdatautilityapplicationdatautility){		this.applicationdatautility" type="sortutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="couponaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="couponutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playeraction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sortutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="depaymentaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailutility" nillable="true" minOccurs="0" />
        <xs:element name="propfileutility" type="propertyfileutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="socailaction" >
      <xs:sequence>
        <xs:element name="/*" type="xs:anyType" />
        <xs:element name="facebook" type="xs:string" />
        <xs:element name="publish_success" type="xs:string" />
        <xs:element name="publish_error" type="xs:string" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="clientsecret" type="xs:string" />
        <xs:element name="redirecturi" type="xs:string" />
        <xs:element name="dreamelevenredirecturi" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="oauth3parameters" type="xs:anyType" />
        <xs:element name="GeneratedName" type="facebookutil" nillable="true" minOccurs="0" />
        <xs:element name="facebookserviceprovider" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pointrankingaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="pointrankingutility" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sortutility" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v_position" >
      <xs:sequence>
        <xs:element name="position_id" type="xs:anyType" />
        <xs:element name="position_code" type="xs:string" />
        <xs:element name="page_name" type="xs:string" />
        <xs:element name="page_part" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v_article" >
      <xs:sequence>
        <xs:element name="article_id" type="xs:anyType" />
        <xs:element name="vendor_id" type="xs:anyType" />
        <xs:element name="position_id" type="xs:anyType" />
        <xs:element name="position_price_id" type="xs:anyType" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="heading" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="link" type="xs:string" />
        <xs:element name="published_" type="xs:dateTime" />
        <xs:element name="image_path" type="xs:string" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v_vendor_position" >
      <xs:sequence>
        <xs:element name="vendor_position_id" type="xs:anyType" />
        <xs:element name="vendorid" type="xs:anyType" />
        <xs:element name="position_id" type="xs:anyType" />
        <xs:element name="position_price_id" type="xs:anyType" />
        <xs:element name="active_from" type="xs:anyType" />
        <xs:element name="active_to" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor" >
      <xs:sequence>
        <xs:element name="vendorid" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="displayname" type="xs:string" />
        <xs:element name="logonid" type="xs:string" />
        <xs:element name="logonpassword" type="xs:string" />
        <xs:element name="vendortype" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="lastlogin" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="register" type="xs:dateTime" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="contactnumber" type="xs:string" />
        <xs:element name="fullaaddress" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="field1_" type="xs:anyType" />
        <xs:element name="field_" type="xs:string" />
        <xs:element name="field1_" type="xs:dateTime" />
        <xs:element name="field2" type="xs:string" />
        <xs:element name="field3" type="xs:string" />
        <xs:element name="policy" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="pincode" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v_position_price" >
      <xs:sequence>
        <xs:element name="position_price_id" type="xs:anyType" />
        <xs:element name="position_id" type="xs:anyType" />
        <xs:element name="position_priority" type="xs:double" />
        <xs:element name="position_name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="isactive" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendorarticleupdatemanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendormanager" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="errorcode" type="xs:string" />
        <xs:element name="errormessage" type="xs:string" />
        <xs:element name="vendorid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendoraction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendorarticleupdateaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clubmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 