cquptCommunity22/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="labelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="labelservice" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="//生成token和解析token的工具类" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cityservice" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="//生成token和解析token的工具类" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="citydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labelservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="labeldao" nillable="true" minOccurs="0" />
        <xs:element name="//id生成器" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="interceptorconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
          <xs:element name="//自定义的拦截器" type="jwtinterceptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//城市名称name" type="xs:string" />
        <xs:element name="//是否热门ishot" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="label" >
      <xs:sequence>
        <xs:element name="//标签idid" type="xs:string" />
        <xs:element name="//标签名称labelname" type="xs:string" />
        <xs:element name="//状态state" type="xs:string" />
        <xs:element name="//使用数量count" type="xs:long" />
        <xs:element name="//关注数fans" type="xs:long" />
        <xs:element name="//是否推荐recommend" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="citydao" >
      <xs:complexContent>
       <xs:extension base="jparepository<city,string>,jpaspecificationexecutor<city>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="labeldao" >
      <xs:complexContent>
       <xs:extension base="jparepository<label,string>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 