GDmarket2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="policyhandler" >
      <xs:sequence>
        <xs:element name="itemmanagementrepository" type="itemrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iteminforepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<iteminfo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<item,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractevent" >
      <xs:sequence>
        <xs:element name="eventtype" type="xs:string" />
        <xs:element name="timestamp" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="itemno" type="xs:anyType" />
        <xs:element name="itemname" type="xs:string" />
        <xs:element name="itemstatus" type="xs:string" />
        <xs:element name="itemprice" type="xs:anyType" />
        <xs:element name="rentalstatus" type="xs:string" />
        <xs:element name="reservationno" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reservationcancelled" >
      <xs:complexContent>
       <xs:extension base="abstractevent">
         <xs:sequence>
          <xs:element name="reservationno" type="xs:anyType" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="customerid" type="xs:anyType" />
          <xs:element name="itemstatus" type="xs:string" />
          <xs:element name="itemno" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iteminfoviewhandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="iteminforepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="renteditem" >
      <xs:complexContent>
       <xs:extension base="abstractevent">
         <xs:sequence>
          <xs:element name="reservationno" type="xs:anyType" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="customerid" type="xs:anyType" />
          <xs:element name="rentalstatus" type="xs:string" />
          <xs:element name="itemno" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kafkaprocessor" >
      <xs:sequence>
        <xs:element name="input" type="xs:string" />
        <xs:element name="output" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reserved" >
      <xs:complexContent>
       <xs:extension base="abstractevent">
         <xs:sequence>
          <xs:element name="reservationno" type="xs:anyType" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="customerid" type="xs:anyType" />
          <xs:element name="itemno" type="xs:anyType" />
          <xs:element name="itemname" type="xs:string" />
          <xs:element name="itemstatus" type="xs:string" />
          <xs:element name="itemprice" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="returneditem" >
      <xs:complexContent>
       <xs:extension base="abstractevent">
         <xs:sequence>
          <xs:element name="reservationno" type="xs:anyType" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="customerid" type="xs:anyType" />
          <xs:element name="rentalstatus" type="xs:string" />
          <xs:element name="itemno" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemdeleted" >
      <xs:complexContent>
       <xs:extension base="abstractevent">
         <xs:sequence>
          <xs:element name="itemno" type="xs:anyType" />
          <xs:element name="itemname" type="xs:string" />
          <xs:element name="itemstatus" type="xs:string" />
          <xs:element name="itemprice" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itemregistered" >
      <xs:complexContent>
       <xs:extension base="abstractevent">
         <xs:sequence>
          <xs:element name="itemno" type="xs:anyType" />
          <xs:element name="itemname" type="xs:string" />
          <xs:element name="itemstatus" type="xs:string" />
          <xs:element name="itemprice" type="xs:anyType" />
          <xs:element name="rentalstatus" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iteminfo" >
      <xs:sequence>
        <xs:element name="iteminfono" type="xs:anyType" />
        <xs:element name="itemno" type="xs:anyType" />
        <xs:element name="itemname" type="xs:string" />
        <xs:element name="itemstatus" type="xs:string" />
        <xs:element name="itemprice" type="xs:anyType" />
        <xs:element name="reservationno" type="xs:anyType" />
        <xs:element name="rentalstatus" type="xs:string" />
        <xs:element name="customerid" type="xs:anyType" />
        <xs:element name="customername" type="xs:string" />
        <xs:element name="score" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 