DGD1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="entitylogic" >
      <xs:complexContent>
       <xs:extension base="emcentityclass">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="uniquekeys" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 