curso/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dataimport" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonobjectmanipulator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unobj" >
      <xs:sequence>
        <xs:element name="unid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlscriptrunner" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="line_separator" type="xs:string" />
          <xs:element name="default_delimiter" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="stoponerror" type="xs:anyType" />
          <xs:element name="autocommit" type="xs:anyType" />
          <xs:element name="sendfullscript" type="xs:anyType" />
          <xs:element name="logwriter" type="xs:anyType" />
          <xs:element name="errorlogwriter" type="xs:anyType" />
          <xs:element name="delimiter" type="xs:string" />
          <xs:element name="fulllinedelimiter" type="xs:anyType" />
          <xs:element name="charactersetname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iconutil" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="app" type="appejb" nillable="true" minOccurs="0" />
          <xs:element name="mime" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigdec" >
      <xs:sequence>
        <xs:element name="_0" type="xs:anyType" />
        <xs:element name="_0s2" type="xs:anyType" />
        <xs:element name="_1" type="xs:anyType" />
        <xs:element name="_100" type="xs:anyType" />
        <xs:element name="format" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ldapsearchexception" >
      <xs:complexContent>
       <xs:extension base="ejbexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingfacadeexception" >
      <xs:complexContent>
       <xs:extension base="ejbexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingcolisionexception" >
      <xs:complexContent>
       <xs:extension base="ejbexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="calendardata" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="available" type="xs:anyType" />
        <xs:element name="minimumstay" type="xs:anyType" />
        <xs:element name="minimum_stay" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="security" >
      <xs:sequence>
        <xs:element name="hexadecimal" type="xs:anyType" />
        <xs:element name="ucal" type="xs:string" />
        <xs:element name="lcal" type="xs:string" />
        <xs:element name="random" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progress" >
      <xs:sequence>
        <xs:element name="state" type="xs:long" />
        <xs:element name="total" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filestore" >
      <xs:sequence>
        <xs:element name="app" type="appejb" nillable="true" minOccurs="0" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
        <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manageddir" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="parent" type="manageddir" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coordinates" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="latitude" type="xs:anyType" />
        <xs:element name="longitude" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="price" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="GeneratedName" type="currency" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskfinishstate" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tasktype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="casepriority" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contacttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="casestate" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitychange" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskpriority" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="casefeedbacktype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subtaskstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskstate" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="caseoption" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="caserole" >
      <xs:sequence>
        <xs:element name="label" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateczadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timeczadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="yearadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datemshortyadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateczmdadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datemyadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigdecimalimporteradapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateisoadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
          <xs:element name="dateformat" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigdecimaladapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigdecimalusadapter" >
      <xs:complexContent>
       <xs:extension base="xmladapter<string,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewtaskstats" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="task" nillable="true" minOccurs="0" />
        <xs:element name="prioritynumber" type="xs:long" />
        <xs:element name="unbegun" type="xs:long" />
        <xs:element name="fail" type="xs:long" />
        <xs:element name="done" type="xs:long" />
        <xs:element name="total" type="xs:long" />
        <xs:element name="localityname" type="xs:string" />
        <xs:element name="assigneename" type="xs:string" />
        <xs:element name="casename" type="xs:string" />
        <xs:element name="listingname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewfullcaseactivity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="curso" type="case" nillable="true" minOccurs="0" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:string" />
        <xs:element name="type" type="activitytype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewactivity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="activity" nillable="true" minOccurs="0" />
        <xs:element name="taskid" type="xs:long" />
        <xs:element name="caseid" type="xs:long" />
        <xs:element name="claimid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewbookingstats" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="booking" nillable="true" minOccurs="0" />
        <xs:element name="laundry" type="xs:anyType" />
        <xs:element name="cleaning" type="xs:anyType" />
        <xs:element name="deposittotal" type="xs:anyType" />
        <xs:element name="fee" type="xs:anyType" />
        <xs:element name="feevat" type="xs:anyType" />
        <xs:element name="laundry_all" type="xs:anyType" />
        <xs:element name="cleaning_all" type="xs:anyType" />
        <xs:element name="fee_all" type="xs:anyType" />
        <xs:element name="laundry_all_count" type="xs:long" />
        <xs:element name="cleaning_all_count" type="xs:long" />
        <xs:element name="fee_all_count" type="xs:long" />
        <xs:element name="next" type="booking" nillable="true" minOccurs="0" />
        <xs:element name="prev" type="booking" nillable="true" minOccurs="0" />
        <xs:element name="transaction_items_sum" type="xs:anyType" />
        <xs:element name="transaction_booking_items_sum" type="xs:anyType" />
        <xs:element name="transaction_other_items_sum" type="xs:anyType" />
        <xs:element name="transaction_items_price" type="xs:anyType" />
        <xs:element name="transaction_booking_items_price" type="xs:anyType" />
        <xs:element name="transaction_items_count" type="xs:long" />
        <xs:element name="transaction_booking_items_count" type="xs:long" />
        <xs:element name="transaction_other_items_count" type="xs:long" />
        <xs:element name="notes_count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listingbookingoverview" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="month" type="xs:dateTime" />
        <xs:element name="currency_code" type="xs:string" />
        <xs:element name="sum" type="xs:anyType" />
        <xs:element name="grosssum" type="xs:anyType" />
        <xs:element name="avg" type="xs:anyType" />
        <xs:element name="grossavg" type="xs:anyType" />
        <xs:element name="daysoccupied" type="xs:anyType" />
        <xs:element name="rentprice" type="xs:anyType" />
        <xs:element name="ownerbookings" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userstats" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="keys30d" type="xs:long" />
        <xs:element name="money" type="xs:anyType" />
        <xs:element name="avail30d" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewcasestats" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="x" type="case" nillable="true" minOccurs="0" />
        <xs:element name="finished" type="xs:long" />
        <xs:element name="inprogress" type="xs:long" />
        <xs:element name="done" type="xs:long" />
        <xs:element name="total" type="xs:long" />
        <xs:element name="prioritynumber" type="xs:long" />
        <xs:element name="localityname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewlistingcurrentbooking" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="current" type="booking" nillable="true" minOccurs="0" />
        <xs:element name="last" type="booking" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="casetagfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<casetag>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localityfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<locality>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="casefacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<case>">
         <xs:sequence>
          <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
          <xs:element name="tf" type="taskfacade" nillable="true" minOccurs="0" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="tcf" type="taskcommentfacade" nillable="true" minOccurs="0" />
          <xs:element name="stf" type="subtaskfacade" nillable="true" minOccurs="0" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activityfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<activity>">
         <xs:sequence>
          <xs:element name="cf" type="contactfacade" nillable="true" minOccurs="0" />
          <xs:element name="app" type="appejb" nillable="true" minOccurs="0" />
          <xs:element name="tf" type="taskfacade" nillable="true" minOccurs="0" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<booking>">
         <xs:sequence>
          <xs:element name="lif" type="listingfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="tf" type="taskfacade" nillable="true" minOccurs="0" />
          <xs:element name="app" type="appejb" nillable="true" minOccurs="0" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="groupfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<group>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contactfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<contact>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="casecommentfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<casecomment>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="viewfullcaseactivityfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<viewfullcaseactivity>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractfacade" >
      <xs:sequence>
        <xs:element name="entityclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querymode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventquerymode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingday" >
      <xs:sequence>
        <xs:element name="events" type="bookingevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="index" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookingevent" >
      <xs:sequence>
        <xs:element name="start" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="booking" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiplereservationsexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="subtaskfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<subtask>">
         <xs:sequence>
          <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<user>">
         <xs:sequence>
          <xs:element name="gf" type="groupfacade" nillable="true" minOccurs="0" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<task>">
         <xs:sequence>
          <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
          <xs:element name="cf" type="casefacade" nillable="true" minOccurs="0" />
          <xs:element name="stf" type="subtaskfacade" nillable="true" minOccurs="0" />
          <xs:element name="app" type="appejb" nillable="true" minOccurs="0" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="currencyfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<currency>">
         <xs:sequence>
          <xs:element name="currenciesused" type="xs:string" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listingfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<listing>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingactivequerybuilder" >
      <xs:complexContent>
       <xs:extension base="querybuilder<booking>">
         <xs:sequence>
          <xs:element name="s" type="listing" nillable="true" minOccurs="0" />
          <xs:element name="states" type="bookingstate" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="min" type="xs:dateTime" />
          <xs:element name="max" type="xs:dateTime" />
          <xs:element name="qm" type="querymode" nillable="true" minOccurs="0" />
          <xs:element name="km" type="user" nillable="true" minOccurs="0" />
          <xs:element name="canceled" type="xs:anyType" />
          <xs:element name="parking" type="xs:anyType" />
          <xs:element name="orderbysupplydate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingbylistingavailability" >
      <xs:complexContent>
       <xs:extension base="querybuilder">
         <xs:sequence>
          <xs:element name="l" type="listing" nillable="true" minOccurs="0" />
          <xs:element name="ls" type="listing" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="end" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingbystatequerybuilder" >
      <xs:complexContent>
       <xs:extension base="querybuilder">
         <xs:sequence>
          <xs:element name="s" type="listing" nillable="true" minOccurs="0" />
          <xs:element name="bs" type="bookingstate" nillable="true" minOccurs="0" />
          <xs:element name="invoiced" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingbylistingavailabilityonedate" >
      <xs:complexContent>
       <xs:extension base="querybuilder">
         <xs:sequence>
          <xs:element name="" type="xs:dateTime" />
          <xs:element name="l" type="listing" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookingdaycomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcommentfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<taskcomment>">
         <xs:sequence>
          <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="casefeedbackfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<casefeedback>">
         <xs:sequence>
          <xs:element name="af" type="activityfacade" nillable="true" minOccurs="0" />
          <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
          <xs:element name="ctx" type="xs:anyType" />
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matchmode" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querybuilder" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
          <xs:element name="entity" type="xs:anyType" />
          <xs:element name="cb" type="xs:anyType" />
          <xs:element name="cq" type="xs:anyType" />
          <xs:element name="roots" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="advancedfilter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="matchmode" nillable="true" minOccurs="0" />
        <xs:element name="value" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="viewactivityfacade" >
      <xs:complexContent>
       <xs:extension base="abstractfacade<viewactivityfacade>">
         <xs:sequence>
          <xs:element name="em" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
        <xs:element name="config_prefix" type="xs:string" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="initctx" type="xs:anyType" />
        <xs:element name="cache" type="xs:anyType" />
        <xs:element name="defaults" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appejb" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="importer" type="dataimport" nillable="true" minOccurs="0" />
        <xs:element name="gf" type="groupfacade" nillable="true" minOccurs="0" />
        <xs:element name="lof" type="localityfacade" nillable="true" minOccurs="0" />
        <xs:element name="lf" type="listingfacade" nillable="true" minOccurs="0" />
        <xs:element name="cf" type="contactfacade" nillable="true" minOccurs="0" />
        <xs:element name="uf" type="userfacade" nillable="true" minOccurs="0" />
        <xs:element name="bf" type="bookingfacade" nillable="true" minOccurs="0" />
        <xs:element name="config" type="appconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="casetag" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="disabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currency" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subtask" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="state" type="subtaskstate" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="task" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="group" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="department" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="casefeedback" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="curso" type="case" nillable="true" minOccurs="0" />
        <xs:element name="hostinformed" type="xs:anyType" />
        <xs:element name="guestinformed" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="type" type="casefeedbacktype" nillable="true" minOccurs="0" />
        <xs:element name="reviewedby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="reviewedon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="groups" type="group" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="stats" type="userstats" nillable="true" minOccurs="0" />
        <xs:element name="lastactivityfetch" type="xs:dateTime" />
        <xs:element name="lastactivityread" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcomment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="task" nillable="true" minOccurs="0" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="caseactivity" >
      <xs:complexContent>
       <xs:extension base="activity">
         <xs:sequence>
          <xs:element name="curso" type="case" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskactivity" >
      <xs:complexContent>
       <xs:extension base="activity">
         <xs:sequence>
          <xs:element name="" type="task" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="casecomment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="curso" type="case" nillable="true" minOccurs="0" />
        <xs:element name="text" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locality" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="color" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing" >
      <xs:complexContent>
       <xs:extension base="unobj">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="created" type="xs:dateTime" />
          <xs:element name="position" type="coordinates" nillable="true" minOccurs="0" />
          <xs:element name="capacity" type="xs:anyType" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="disabled" type="xs:anyType" />
          <xs:element name="listingbookingoverview" type="listingbookingoverview" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="currentbookingview" type="viewlistingcurrentbooking" nillable="true" minOccurs="0" />
          <xs:element name="" type="locality" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="case" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="finishedon" type="xs:dateTime" />
        <xs:element name="deadline" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="booking" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="casestate" nillable="true" minOccurs="0" />
        <xs:element name="approvedwithclient" type="caseoption" nillable="true" minOccurs="0" />
        <xs:element name="guestinformed" type="caseoption" nillable="true" minOccurs="0" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="finishedby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="owner" type="user" nillable="true" minOccurs="0" />
        <xs:element name="previousowner" type="user" nillable="true" minOccurs="0" />
        <xs:element name="priority" type="casepriority" nillable="true" minOccurs="0" />
        <xs:element name="stats" type="viewcasestats" nillable="true" minOccurs="0" />
        <xs:element name="assignee" type="user" nillable="true" minOccurs="0" />
        <xs:element name="previousassignee" type="user" nillable="true" minOccurs="0" />
        <xs:element name="assigned" type="xs:dateTime" />
        <xs:element name="tags" type="casetag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="followers" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="role" type="group" nillable="true" minOccurs="0" />
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="type" type="contacttype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:string" />
        <xs:element name="changes" type="activitychange" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="type" type="activitytype" nillable="true" minOccurs="0" />
        <xs:element name="view" type="viewactivity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booking" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="stats" type="viewbookingstats" nillable="true" minOccurs="0" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="guestname" type="xs:string" />
        <xs:element name="guestcount" type="xs:long" />
        <xs:element name="state" type="bookingstate" nillable="true" minOccurs="0" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="canceled" type="xs:anyType" />
        <xs:element name="canceledby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="price" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="curso" type="case" nillable="true" minOccurs="0" />
        <xs:element name="previous" type="case" nillable="true" minOccurs="0" />
        <xs:element name="assignee" type="user" nillable="true" minOccurs="0" />
        <xs:element name="assigneerole" type="group" nillable="true" minOccurs="0" />
        <xs:element name="previousassignee" type="user" nillable="true" minOccurs="0" />
        <xs:element name="priority" type="taskpriority" nillable="true" minOccurs="0" />
        <xs:element name="finished" type="xs:anyType" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="finishedon" type="xs:dateTime" />
        <xs:element name="finshedby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="deadline" type="xs:dateTime" />
        <xs:element name="deadlineindays" type="xs:long" />
        <xs:element name="priorityonscreen" type="xs:long" />
        <xs:element name="stats" type="viewtaskstats" nillable="true" minOccurs="0" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="reviewedby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="locality" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="listing" nillable="true" minOccurs="0" />
        <xs:element name="plannedon" type="xs:dateTime" />
        <xs:element name="plannedonindays" type="xs:long" />
        <xs:element name="approvedwithclient" type="caseoption" nillable="true" minOccurs="0" />
        <xs:element name="guestinformed" type="caseoption" nillable="true" minOccurs="0" />
        <xs:element name="subtask" type="subtask" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="comments" type="taskcomment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="finishedstate" type="taskfinishstate" nillable="true" minOccurs="0" />
        <xs:element name="lockbox" type="booking" nillable="true" minOccurs="0" />
        <xs:element name="estimatedpurchaseprice" type="xs:anyType" />
        <xs:element name="purchaseditem" type="xs:string" />
        <xs:element name="emailtext" type="xs:string" />
        <xs:element name="problemtext" type="xs:string" />
        <xs:element name="suitableforsupplycheckdepartment" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jaxb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 