doctolib/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="v4-shims.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slim.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lite.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-bs4.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lite.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-bs4.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-pl-pl.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-pt-pt.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-hu-hu.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-uz-uz.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-he-il.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-de-de.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-az-az.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ar-ar.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-mn-mn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-hu-hu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ro-ro.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lt-lt.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-el-gr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-gl-es.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sr-rs-latin.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-fa-ir.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-es-es.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-zh-cn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-id-id.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-it-it.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-bg-bg.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-nl-nl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ta-in.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-fr-fr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-fi-fi.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ru-ru.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-pt-br.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-cs-cz.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-it-it.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-gl-es.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lt-lv.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-de-de.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lt-lt.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-mn-mn.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-tr-tr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-uk-ua.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-hr-hr.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sr-rs-latin.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-vi-vn.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-el-gr.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ko-kr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-fa-ir.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-zh-tw.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-zh-tw.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sk-sk.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lt-lv.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-pl-pl.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-tr-tr.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-zh-cn.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sr-rs.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sl-si.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-az-az.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-id-id.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-nl-nl.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ko-kr.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-es-eu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-uk-ua.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-th-th.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-da-dk.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sr-rs.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-pt-pt.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-hr-hr.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ca-es.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-fr-fr.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ar-ar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-vi-vn.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-nb-no.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-bg-bg.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ja-jp.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ca-es.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-cs-cz.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-th-th.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-nb-no.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-fi-fi.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ta-in.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-he-il.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ja-jp.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-es-eu.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-da-dk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sv-se.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sl-si.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-es-es.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sk-sk.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ro-ro.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-uz-uz.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-pt-br.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-sv-se.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-bs4.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-lite.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote-ext-databasic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summernote.min.js.license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slim.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sizzle.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_evalurl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setglobaleval" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrapmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="finalpropname" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adjustcss" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="curcss" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hiddenvisibleselectors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showhide" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addgethookif" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cssexpand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rnumnonpx" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getstyles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ishiddenwithintree" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rboxstyle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callbacks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fntostring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rcheckabletype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="class2type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentelement" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hasown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectfunctionstring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="concat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rcssnum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="push" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isfunction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getproto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexof" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iswindow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tostring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xhr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="load" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsexml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonce" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parsehtml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domeval" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="totype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ready" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readyexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ready-no-deferred" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nodename" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stripandcollapse" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camelcase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isattached" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="effects" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offset" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dimensions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="global" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="traversing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selector-sizzle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rneedscontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="siblings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dir" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="findfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajax" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="focusin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alias" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trigger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionhook" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deprecated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deferred" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".eslintrc" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="acceptdata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapriv" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datauser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animatedselector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tween" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popover.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="alert.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="util.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scrollspy.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toast.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropdown.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collapse.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carousel.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modal.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_forms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_popover" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_nav" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_reboot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_spinners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_transitions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-reboot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_print" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_resize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_nav-divider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_breakpoints" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_box-shadow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_transition" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_caret" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_visibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_size" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_deprecate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_text-hide" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_lists" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_float" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_reset-text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_gradients" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_alert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_screen-reader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_text-truncate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_hover" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_border-radius" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_card" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_tooltip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_button-group" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_input-group" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_images" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_toasts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_media" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_close" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_modal" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="_visibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_align" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_stretched-link" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_screenreaders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_shadows" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_breadcrumb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_progress" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_jumbotron" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper-utils.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper-utils.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="popper.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="popper-utils.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="popper-utils.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="popper-utils.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="popper-utils.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popper.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid-framework" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reset-filter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="border-radius" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="size" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tab-focus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nav-vertical-align" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-visibility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vendor-prefixes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-emphasis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hide-text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opacity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-overflow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resize" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="table-row" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="background-variant" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="center-block" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="buttons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clearfix" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reset-text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alerts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button-groups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="breadcrumbs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-embed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="input-groups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scaffolding" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="badges" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-group" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-animations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="media" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="popovers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="close" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsive-utilities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panels" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jumbotron" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modals" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navs" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumbnails" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="configbridge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screen-reader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_screen-reader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="userdetailsservice" type="myuserdetailsservice" nillable="true" minOccurs="0" />
          <xs:element name="successhandler" type="simpleauthenticationsuccesshandler" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simpleauthenticationsuccesshandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doctolibapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="experianceservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="experiancerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professionnelservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="professionnelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contactrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="langueservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="languerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formationservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="formationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="repository" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="patientrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specialiteservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="specialiterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="formationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="professionnelservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="langue_professionnelrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contactservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professionnelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="professionnelservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="specialiteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="formationservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="experianceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="langueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="experiancecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="experianceservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="professionnelservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patientcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="patientservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="langue_professionnel" >
      <xs:sequence>
        <xs:element name="id_langue" type="xs:long" />
        <xs:element name="id_professionnel" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="roles" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="patient" >
      <xs:complexContent>
       <xs:extension base="user{">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialite" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="langue" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="formation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titre" type="xs:string" />
        <xs:element name="annee" type="xs:long" />
        <xs:element name="idprofessionnel" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="langueid" >
      <xs:sequence>
        <xs:element name="id_langue" type="xs:long" />
        <xs:element name="id_professionnel" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="experiance" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="idprofessionnel" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="professionnel" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="idspecialite" type="xs:long" />
          <xs:element name="isvisible" type="xs:anyType" />
          <xs:element name="adresse" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myuserdetails" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
          <xs:element name="authorities" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialiterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<specialite,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="professionnelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<professionnel,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contactrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<contact,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<formation,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="langue_professionnelrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<langue_professionnel,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="patientrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<patient,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="experiancerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<experiance,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="languerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<langue,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 