Cogni-workspaces3/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="hibernate.cfg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="instructor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructor" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="GeneratedName" type="instructordetail" nillable="true" minOccurs="0" />
        <xs:element name="courses" type="course" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instructordetail" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="youtubechannel" type="xs:string" />
        <xs:element name="hobby" type="xs:string" />
        <xs:element name="GeneratedName" type="instructor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dellauncher" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testjdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createlauncher" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getinstructorcoursedemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createinstructordemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletecoursedemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createlauncher2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcoursedemo2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dellauncher2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcoursedemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 