Cours_Particulier/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="commentaire" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="commentaire" type="xs:string" />
        <xs:element name="GeneratedName" type="annonce" nillable="true" minOccurs="0" />
        <xs:element name="membreemetteur" type="personne" nillable="true" minOccurs="0" />
        <xs:element name="membrerecepteur" type="personne" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="follower" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="annonce" nillable="true" minOccurs="0" />
        <xs:element name="membresuiveur" type="personne" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matiere" >
      <xs:sequence>
        <xs:element name="nom" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="annonces" type="annonce" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personne" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="prenom" type="xs:string" />
        <xs:element name="tel" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="identifiant" type="xs:string" />
        <xs:element name="mdp" type="xs:string" />
        <xs:element name="session_id" type="xs:string" />
        <xs:element name="annonces" type="annonce" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="suivis" type="follower" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="commentaires_emis" type="commentaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="commentaires_recu" type="commentaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="votes" type="vote" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vote" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="annonce" nillable="true" minOccurs="0" />
        <xs:element name="membrevote" type="personne" nillable="true" minOccurs="0" />
        <xs:element name="membrerecepteur" type="personne" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annonce" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="titre" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="prix" type="xs:long" />
        <xs:element name="estoffre" type="xs:anyType" />
        <xs:element name="note" type="xs:double" />
        <xs:element name="nbpersnotee" type="xs:long" />
        <xs:element name="proprio" type="personne" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ville" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="matiere" nillable="true" minOccurs="0" />
        <xs:element name="commentaires_recus" type="commentaire" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="followers" type="follower" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="votes" type="vote" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ville" >
      <xs:sequence>
        <xs:element name="nom" type="xs:string" />
        <xs:element name="pays" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="annonces" type="annonce" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pays" >
      <xs:sequence>
        <xs:element name="nom" type="xs:string" />
        <xs:element name="code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 