data-catalogue/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="datacatalogueapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="additional-spring-configuration-metadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apirequestexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apiexceptiondao" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apiexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summonercontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="summonerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="matchservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datacataloguecontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="configproperties" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="datacatalogueservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overrideswaggerbasepathfilter" >
      <xs:sequence>
        <xs:element name="contextpath" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logcontextinterceptor" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="riotapiservicefeign" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apipageable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summonerservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="riotapiservicefeign" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="summonerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datacatalogueservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="riotapiservicefeign" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="riotapiservicefeign" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="matchrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datacatalogueapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summonerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<summoner,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matchrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<match,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="summoner" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="puuid" type="xs:string" />
        <xs:element name="profileiconurl" type="xs:string" />
        <xs:element name="summonerlevel" type="xs:anyType" />
        <xs:element name="lastupdated" type="xs:long" />
        <xs:element name="division" type="xs:string" />
        <xs:element name="tier" type="xs:string" />
        <xs:element name="leaguepoints" type="xs:anyType" />
        <xs:element name="wins" type="xs:anyType" />
        <xs:element name="losses" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant" >
      <xs:sequence>
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="matchid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="profileiconurl" type="xs:string" />
        <xs:element name="champion" type="xs:string" />
        <xs:element name="championiconurl" type="xs:string" />
        <xs:element name="win" type="xs:anyType" />
        <xs:element name="kills" type="xs:long" />
        <xs:element name="deaths" type="xs:long" />
        <xs:element name="assists" type="xs:long" />
        <xs:element name="largestmultikill" type="xs:long" />
        <xs:element name="teamid" type="xs:long" />
        <xs:element name="GeneratedName" type="match" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="match" >
      <xs:sequence>
        <xs:element name="gameid" type="xs:long" />
        <xs:element name="platformid" type="xs:string" />
        <xs:element name="champion" type="xs:anyType" />
        <xs:element name="queue" type="xs:anyType" />
        <xs:element name="season" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:long" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="lane" type="xs:string" />
        <xs:element name="duration" type="xs:long" />
        <xs:element name="participants" type="participant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configproperties" >
      <xs:sequence>
        <xs:element name="testconfig" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleenum" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summonermapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantid" >
      <xs:sequence>
        <xs:element name="matchid" type="xs:long" />
        <xs:element name="accountid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="championratesroledto" >
      <xs:sequence>
        <xs:element name="playrate" type="xs:double" />
        <xs:element name="winrate" type="xs:double" />
        <xs:element name="banrate" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="championratesdto" >
      <xs:sequence>
        <xs:element name="championid" type="xs:anyType" />
        <xs:element name="championratesbyrole" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchlistdto" >
      <xs:sequence>
        <xs:element name="startindex" type="xs:anyType" />
        <xs:element name="totalgames" type="xs:anyType" />
        <xs:element name="endindex" type="xs:anyType" />
        <xs:element name="matches" type="matchreferencedto" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchreferencedto" >
      <xs:sequence>
        <xs:element name="platformid" type="xs:string" />
        <xs:element name="gameid" type="xs:long" />
        <xs:element name="champion" type="xs:anyType" />
        <xs:element name="queue" type="xs:anyType" />
        <xs:element name="season" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:long" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="lane" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernameregiondto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchesregiondto" >
      <xs:sequence>
        <xs:element name="matchids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantdto" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="profileiconurl" type="xs:string" />
        <xs:element name="champion" type="xs:string" />
        <xs:element name="championiconurl" type="xs:string" />
        <xs:element name="win" type="xs:anyType" />
        <xs:element name="kills" type="xs:long" />
        <xs:element name="deaths" type="xs:long" />
        <xs:element name="assists" type="xs:long" />
        <xs:element name="largestmultikill" type="xs:long" />
        <xs:element name="teamid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matchdto" >
      <xs:sequence>
        <xs:element name="gameid" type="xs:long" />
        <xs:element name="platformid" type="xs:string" />
        <xs:element name="champion" type="xs:anyType" />
        <xs:element name="queue" type="xs:anyType" />
        <xs:element name="season" type="xs:anyType" />
        <xs:element name="timestamp" type="xs:long" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="lane" type="xs:string" />
        <xs:element name="duration" type="xs:long" />
        <xs:element name="participants" type="participantdto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="summonerdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="accountid" type="xs:string" />
        <xs:element name="puuid" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="profileiconurl" type="xs:string" />
        <xs:element name="summonerlevel" type="xs:anyType" />
        <xs:element name="division" type="xs:string" />
        <xs:element name="tier" type="xs:string" />
        <xs:element name="leaguepoints" type="xs:anyType" />
        <xs:element name="wins" type="xs:anyType" />
        <xs:element name="losses" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 