desarollo-seguro/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="bankaccountentity" >
      <xs:sequence>
        <xs:element name="bankaccountid" type="xs:long" />
        <xs:element name="iban" type="xs:string" />
        <xs:element name="balance" type="xs:double" />
        <xs:element name="owner" type="userentity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="ownedbankaccounts" type="bankaccountentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="allowedaccounts" type="bankaccountentity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 