annabot/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="annabottests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="figure2" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotatedtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonetest" >
      <xs:sequence>
        <xs:element name="data" type="operator" nillable="true" minOccurs="0" />
        <xs:element name="expected" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldannotatedtest" >
      <xs:sequence>
        <xs:element name="i" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="andnestedtest" >
      <xs:sequence>
        <xs:element name="x" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ortest" >
      <xs:sequence>
        <xs:element name="data" type="operator" nillable="true" minOccurs="0" />
        <xs:element name="expected" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multipleoperatorstest" >
      <xs:sequence>
        <xs:element name="fake" type="claim" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodannotatedtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alltests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classannotatedtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="atmostonetest" >
      <xs:sequence>
        <xs:element name="expected" type="xs:anyType" />
        <xs:element name="data" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="andtest" >
      <xs:sequence>
        <xs:element name="data" type="operator" nillable="true" minOccurs="0" />
        <xs:element name="expected" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hasnoargumentconstructortest" >
      <xs:sequence>
        <xs:element name="t" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alltests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="processtest" >
      <xs:sequence>
        <xs:element name="checks" type="claim" nillable="true" minOccurs="0" />
        <xs:element name="failingchecks" type="claim" nillable="true" minOccurs="0" />
        <xs:element name="/***fakethatshouldreturntruesinceno*classwillpassitsfilter.*/noneshallpassfilter" type="claim" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treewalker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="processor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="claim" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="reporter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annabot0" >
      <xs:sequence>
        <xs:element name="i" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemreporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="claim" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reporter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annabot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annabotc" >
      <xs:sequence>
        <xs:element name="debug" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepostverify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="none" >
      <xs:sequence>
        <xs:element name="s" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classannotated" >
      <xs:complexContent>
       <xs:extension base="annotated">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fieldannotated" >
      <xs:complexContent>
       <xs:extension base="annotated">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="or" >
      <xs:sequence>
        <xs:element name="s" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operatorutils" >
      <xs:sequence>
        <xs:element name="true" type="operator" nillable="true" minOccurs="0" />
        <xs:element name="false" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="and" >
      <xs:sequence>
        <xs:element name="s" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="atmostone" >
      <xs:sequence>
        <xs:element name="s" type="operator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodannotated" >
      <xs:complexContent>
       <xs:extension base="annotated">
         <xs:sequence>
          <xs:element name="methodregex" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hasnoargumentconstructor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotated" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
          <xs:element name="annotationname" type="xs:string" />
          <xs:element name="annotation" type="xs:anyType" />
          <xs:element name="annotationclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="operator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myannotatedclass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myannotation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myentitygood" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myentitybad" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 