devops-automation-ksd-kc5.2.1-rice6/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="componentserviceimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameterrepositoryserviceimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stylerepositoryserviceimpltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namespacebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parametertypebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="derivedcomponentbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="componentsetbo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stylebo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coreservice.ehcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ojb-repository-core-service" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentsetdaoojbimpl" >
      <xs:complexContent>
       <xs:extension base="persistencebrokerdaosupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="componentsetdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="componentsetdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreserviceremotemoduleservice" >
      <xs:complexContent>
       <xs:extension base="remotemoduleservicebase">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="namespace_code" type="xs:string" />
          <xs:element name="component_code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="application_id" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="styledaoojb" >
      <xs:complexContent>
       <xs:extension base="persistencebrokerdaosupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="styledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stylexmlexporter" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="renderer" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styleserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stylerepositoryserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="style_config_prefix" type="xs:string" />
        <xs:element name="GeneratedName" type="stylexmlparser" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="styledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stylexmlparser" >
      <xs:complexContent>
       <xs:extension base="xmlloader">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stylexmlparserimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styleuriresolver" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styledataexporter" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
          <xs:element name="supportedformats" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="styleexportdataset" >
      <xs:sequence>
        <xs:element name="styles" type="xs:anyType" />
        <xs:element name="styles" type="stylebo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameterserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="applicationid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameterbo" >
      <xs:complexContent>
       <xs:extension base="persistablebusinessobjectbase">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="namespacecode" type="xs:string" />
          <xs:element name="componentcode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="applicationid" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="parametertypecode" type="xs:string" />
          <xs:element name="evaluationoperatorcode" type="xs:string" />
          <xs:element name="namespace" type="namespacebo" nillable="true" minOccurs="0" />
          <xs:element name="parametertype" type="parametertypebo" nillable="true" minOccurs="0" />
          <xs:element name="component" type="componentbo" nillable="true" minOccurs="0" />
          <xs:element name="derivedcomponent" type="derivedcomponentbo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterrepositoryserviceimpl" >
      <xs:sequence>
        <xs:element name="sub_param_separator" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreserviceconfigurer" >
      <xs:complexContent>
       <xs:extension base="moduleconfigurer">
         <xs:sequence>
          <xs:element name="module_name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="namespaceserviceimpl" >
      <xs:sequence>
        <xs:element name="boservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreserviceimplservicelocator" >
      <xs:sequence>
        <xs:element name="style_xml_loader" type="xs:string" />
        <xs:element name="style_xml_exporter" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 