Adventure/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="adventureapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forgotpasswordpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access-denied" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nav" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event_info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="all_events" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company_index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer_index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginpage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cancel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="success" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adventureapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketeventlistener" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="messagingtemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categories" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="categoryname" type="xs:string" />
        <xs:element name="imgurl" type="xs:string" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="county" nillable="true" minOccurs="0" />
        <xs:element name="organiserlist" type="organiser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="companylist" type="company" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="locationlist" type="location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="customerlist" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gender" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="customerlist" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organiser" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="id" type="city" nillable="true" minOccurs="0" />
        <xs:element name="id" type="credentials" nillable="true" minOccurs="0" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="ending" type="xs:dateTime" />
        <xs:element name="starting" type="xs:dateTime" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="positions" type="xs:long" />
        <xs:element name="remainingpositions" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="categoryid" type="categories" nillable="true" minOccurs="0" />
        <xs:element name="equipmentlist" type="equipment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="customerbookseventlist" type="customerbooksevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="id" type="company" nillable="true" minOccurs="0" />
        <xs:element name="id" type="difficulty" nillable="true" minOccurs="0" />
        <xs:element name="id" type="location" nillable="true" minOccurs="0" />
        <xs:element name="id" type="organiser" nillable="true" minOccurs="0" />
        <xs:element name="id" type="typeindooroutdoor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roles" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="credentialslist" type="credentials" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeindooroutdoor" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="typeindooroutdoor" type="xs:string" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chatmessage" >
      <xs:sequence>
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="sender" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="difficulty" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="level" type="xs:string" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="afm" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="id" type="city" nillable="true" minOccurs="0" />
        <xs:element name="id" type="credentials" nillable="true" minOccurs="0" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="coordinatex" type="xs:string" />
        <xs:element name="coordinatey" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="id" type="city" nillable="true" minOccurs="0" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="county" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="citylist" type="city" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="ofbirth" type="xs:dateTime" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="postalcode" type="xs:string" />
        <xs:element name="customerbookseventlist" type="customerbooksevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="id" type="city" nillable="true" minOccurs="0" />
        <xs:element name="id" type="credentials" nillable="true" minOccurs="0" />
        <xs:element name="id" type="gender" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="credentials" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="passwordresettoken" type="xs:string" />
        <xs:element name="id" type="roles" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organiser" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equipment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="eventlist" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerbooksevent" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="amountpositions" type="xs:long" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="id" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="id" type="event" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countyrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<county,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="equipmentrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<equipment,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="organiserrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<organiser,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolesrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<roles,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerbookseventrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<customerbooksevent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<event,integer>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genderrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<gender,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typeindooroutdoorrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<typeindooroutdoor,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoriesrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<categories,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="difficultyrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<difficulty,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cityrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<city,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="locationrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<location,integer>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="credentialsrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<credentials,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mywebsecurityclass" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="user" type="credentialsservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mywebsocketconfigurer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailexistexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usernameexistexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="credentialsnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="exception{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="citycomparator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventcontroller" >
      <xs:sequence>
        <xs:element name="service" type="eventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organisercontroller" >
      <xs:sequence>
        <xs:element name="service" type="organiserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeindooroutdoorcontroller" >
      <xs:sequence>
        <xs:element name="indooroutdoorservice" type="typeindooroutdoorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forgotpasswordcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="credentialsservice" nillable="true" minOccurs="0" />
        <xs:element name="mailsender" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="difficultycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="difficultyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equipmentcontroller" >
      <xs:sequence>
        <xs:element name="service" type="equipmentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycontroller" >
      <xs:sequence>
        <xs:element name="categoryservice" type="categoriesservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerbookseventcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:sequence>
        <xs:element name="service" type="customerservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="credentialsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adventurecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companycontroller" >
      <xs:sequence>
        <xs:element name="service" type="companyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="credentialsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gendercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="genderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countyservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paypalcontroller" >
      <xs:sequence>
        <xs:element name="service" type="paypalservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customerbookseventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chatcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysimpleurlauthenticationsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="credentialsservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paypalservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="credentialsservice" >
      <xs:complexContent>
       <xs:extension base="userdetailsservice{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerbookseventservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeindooroutdoorservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organiserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equipmentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="difficultyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriesserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categoriesrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equipmentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="equipmentrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolesserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolesrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="credentialsserviceimpl" >
      <xs:sequence>
        <xs:element name="credentialrepo" type="credentialsrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cityrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locationrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organiserserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="organiserrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerbookseventserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerbookseventrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genderserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="genderrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="difficultyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="difficultyrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customerrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolesservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="credentialsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolesservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="credentialsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paypalserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeindooroutdoorserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="typeindooroutdoorrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countyserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countyrepo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paypalconfig" >
      <xs:sequence>
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="clientsecret" type="xs:string" />
        <xs:element name="mode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 