codenation-desafios-java4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="quote" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="episode" type="xs:anyType" />
        <xs:element name="episodename" type="xs:string" />
        <xs:element name="segment" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="actor" type="xs:string" />
        <xs:element name="character" type="xs:string" />
        <xs:element name="detail" type="xs:string" />
        <xs:element name="recorddate" type="xs:anyType" />
        <xs:element name="series" type="xs:string" />
        <xs:element name="transmissiondate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 