EclipseLink_2_6_4_LEFT_JOIN_TREAT_BUG/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="human" >
      <xs:complexContent>
       <xs:extension base="genericentity">
         <xs:sequence>
          <xs:element name="/***thenameofthehuman*/name" type="xs:string" />
          <xs:element name="/***theparentofthe.notallsneedtohaveaparent.e.g.adamandevenareparentless.*/parent" type="human" nillable="true" minOccurs="0" />
          <xs:element name="/***thechildrenofthehuman.*/children" type="human" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="superhero" >
      <xs:complexContent>
       <xs:extension base="human">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 