avance2.0/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carousel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="people.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songs.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="add-song.twig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="{{modelo}}list.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="albums.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="add-person.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="person.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="add-album.twig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artists.twig" >
      <xs:complexContent>
       <xs:extension base=""base.twig.html"">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artistservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="artistrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="albumrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playlistservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="playlistrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="songservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="songrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playlistrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<playlist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="artistrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<artist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repositoryfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<album,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpausuariorepository" >
      <xs:complexContent>
       <xs:extension base="jpabaserepository<usuario,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpasongrepository" >
      <xs:complexContent>
       <xs:extension base="jpabaserepository<song,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaplaylistrepository" >
      <xs:complexContent>
       <xs:extension base="jpabaserepository<playlist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpabaserepository" >
      <xs:complexContent>
       <xs:extension base="baseentity<k>,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="transient" type="xs:anyType" />
          <xs:element name="entityclass" type="xs:anyType" />
          <xs:element name="primarykeyclass" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpapersonrepository" >
      <xs:complexContent>
       <xs:extension base="jpabaserepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaalbumrepository" >
      <xs:complexContent>
       <xs:extension base="jpabaserepository<album,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaartistrepository" >
      <xs:complexContent>
       <xs:extension base="jpabaserepository<artist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baserepository" >
      <xs:complexContent>
       <xs:extension base="baseentity<k>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usuariorepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<usuario,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="songrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository<song,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reproapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listenlog" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="song" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usuario" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artist" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="grupo" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="albums" type="album" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="creador" type="usuario" nillable="true" minOccurs="0" />
        <xs:element name="fecha" type="xs:anyType" />
        <xs:element name="contenido" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="song" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="letra" type="xs:string" />
        <xs:element name="fecha" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="album" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="album" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="songs" type="song" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="artist" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playlist" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="fecha_creacion" type="xs:dateTime" />
        <xs:element name="songs" type="song" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="creador" type="usuario" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="puntuacion" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="song" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usuario" nillable="true" minOccurs="0" />
        <xs:element name="score" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="user" type="person" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="lastplayed" type="song" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//'activo','inactivo'status" type="xs:string" />
        <xs:element name="playlists" type="playlist" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="seguidores" type="usuario" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="loginservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reprocontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="playlistcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="playlistservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artistcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="artistservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="personservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="albumcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="songservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="albumservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="songcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="songservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="albumservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 