AOSF/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="transient" type="testbean" nillable="true" minOccurs="0" />
        <xs:element name="//lazyrelationshiptoforceuseofinstrumentationinjpaimplementation." type="driverslicense" nillable="true" minOccurs="0" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="transientpostloaded" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driverslicense" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="serial_number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 