ebank/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ebankapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movementservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paymentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="warrantyservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="warrantytypeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="assesttypeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedulecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="scheduleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clientservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="massivechargecontroller" >
      <xs:sequence>
        <xs:element name="chargeservice" type="massivechargeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navigationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="optionservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatuscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountstatusservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="spendingservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customlogoutsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="simpleurllogoutsuccesshandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauthenticationentrypoint" >
      <xs:complexContent>
       <xs:extension base="basicauthenticationentrypoint{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="authenticationentrypoint" type="customauthenticationentrypoint" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauthfailurehandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationfailurehandler">
         <xs:sequence>
          <xs:element name="max_failed_attempts" type="xs:anyType" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customauthsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationsuccesshandler">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appcorsfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filetypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="producttypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persontypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatusdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendinggroupdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="warrantytypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="plandao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendinggroupdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientaddressdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttempdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currencydaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatusdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,accountstatus>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ubigeodao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrydao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="economicactivitydao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plandaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresstypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="movementdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressgrouptypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="assesttypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subproductdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genderdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filetypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressgrouptypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduledao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectortypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optiondaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="quotadaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="civilstatusdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientcontactinfodao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scheduledaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="quotadao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countrydaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genderdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="housingtypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="feedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
          <xs:element name="days_enabled_default" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="feedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="currencydao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subproductdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zonetypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="warrantydao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectortypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="housingtypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingtypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="economicactivitydaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="optiondao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assesttypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,assesttype>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persontypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractdao" >
      <xs:complexContent>
       <xs:extension base="serializable,">
         <xs:sequence>
          <xs:element name="persistentclass" type="xs:anyType" />
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employmentsituationdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="magnitudedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="zonetypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertraildao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresstypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employmentsituationdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="spendingdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ubigeodaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientaddressdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="spendingtypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantydaoimpl" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,account>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roadtypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="magnitudedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="producttypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttempdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="warrantytypedaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="civilstatusdaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roadtypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttypedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientcontactinfodaoimpl" >
      <xs:complexContent>
       <xs:extension base="abstractdao<integer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datatablemodelrequest" >
      <xs:sequence>
        <xs:element name="filter" type="xs:anyType" />
        <xs:element name="orderby" type="datatableorder" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select2response" >
      <xs:sequence>
        <xs:element name="items" type="xs:anyType" />
        <xs:element name="total" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatablerequest" >
      <xs:complexContent>
       <xs:extension base="datatablemodelrequest<tmodel>">
         <xs:sequence>
          <xs:element name="draw" type="xs:anyType" />
          <xs:element name="start" type="xs:anyType" />
          <xs:element name="length" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datatableresponse" >
      <xs:sequence>
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="recordstotal" type="xs:anyType" />
        <xs:element name="recordsfiltered" type="xs:anyType" />
        <xs:element name="draw" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatableorder" >
      <xs:sequence>
        <xs:element name="property" type="xs:string" />
        <xs:element name="direction" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customhttpresponse" >
      <xs:sequence>
        <xs:element name="statuscode" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="stacktrace" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alias" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optiontype" >
      <xs:sequence>
        <xs:element name="main_menu" type="xs:string" />
        <xs:element name="index_options" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatusfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingtypefilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotafilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantyfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feefilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subproductfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encryptor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="helpers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantyservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantytypeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movementdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="massivechargeserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantyserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="warrantydao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clientdao" nillable="true" minOccurs="0" />
        <xs:element name="addressdao" type="clientaddressdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addresstypedao" nillable="true" minOccurs="0" />
        <xs:element name="contactdao" type="clientcontactinfodao" nillable="true" minOccurs="0" />
        <xs:element name="housingdao" type="housingtypedao" nillable="true" minOccurs="0" />
        <xs:element name="zonedao" type="zonetypedao" nillable="true" minOccurs="0" />
        <xs:element name="roaddao" type="roadtypedao" nillable="true" minOccurs="0" />
        <xs:element name="groupdao" type="addressgrouptypedao" nillable="true" minOccurs="0" />
        <xs:element name="sectordao" type="sectortypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ubigeodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="persontypedao" nillable="true" minOccurs="0" />
        <xs:element name="documentdao" type="documenttypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="magnitudedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="economicactivitydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="genderdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="countrydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="civilstatusdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employmentsituationdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantytypeserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="warrantytypedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="subproductdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatusservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assesttypeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduleserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="massivechargeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatusserviceimpl" >
      <xs:sequence>
        <xs:element name="asdao" type="accountstatusdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="quotadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productdao" nillable="true" minOccurs="0" />
        <xs:element name="typedao" type="producttypedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="currencydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="plandao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="subproductdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assesttypeserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="assesttypedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentserviceimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optionserviceimpl" >
      <xs:sequence>
        <xs:element name="dao" type="optiondao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roadtype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employmentsituation" >
      <xs:sequence>
        <xs:element name="situation_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="authority_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quota" >
      <xs:sequence>
        <xs:element name="quota_id" type="xs:anyType" />
        <xs:element name="due_" type="xs:dateTime" />
        <xs:element name="capital" type="xs:double" />
        <xs:element name="compensatory" type="xs:double" />
        <xs:element name="arrears" type="xs:double" />
        <xs:element name="postages" type="xs:double" />
        <xs:element name="total_fee" type="xs:double" />
        <xs:element name="insurance" type="xs:double" />
        <xs:element name="o_insurances" type="xs:double" />
        <xs:element name="total_pay" type="xs:double" />
        <xs:element name="schedule_id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="civilstatus" >
      <xs:sequence>
        <xs:element name="status_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressgrouptype" >
      <xs:sequence>
        <xs:element name="group_type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currency" >
      <xs:sequence>
        <xs:element name="currency_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subproduct" >
      <xs:sequence>
        <xs:element name="sub_product_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="validity_start" type="xs:dateTime" />
        <xs:element name="validity_end" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientaddress" >
      <xs:sequence>
        <xs:element name="address_id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addresstype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="housingtype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="zonetype" nillable="true" minOccurs="0" />
        <xs:element name="zone_name" type="xs:string" />
        <xs:element name="block" type="xs:string" />
        <xs:element name="lot" type="xs:string" />
        <xs:element name="GeneratedName" type="roadtype" nillable="true" minOccurs="0" />
        <xs:element name="road_name" type="xs:string" />
        <xs:element name="road_number" type="xs:string" />
        <xs:element name="grouptype" type="addressgrouptype" nillable="true" minOccurs="0" />
        <xs:element name="group_name" type="xs:string" />
        <xs:element name="group_number" type="xs:string" />
        <xs:element name="GeneratedName" type="sectortype" nillable="true" minOccurs="0" />
        <xs:element name="sector_name" type="xs:string" />
        <xs:element name="reference" type="xs:string" />
        <xs:element name="GeneratedName" type="ubigeo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="product_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
        <xs:element name="GeneratedName" type="producttype" nillable="true" minOccurs="0" />
        <xs:element name="principal" type="currency" nillable="true" minOccurs="0" />
        <xs:element name="secundary" type="currency" nillable="true" minOccurs="0" />
        <xs:element name="validity_start" type="xs:dateTime" />
        <xs:element name="validity_end" type="xs:dateTime" />
        <xs:element name="plans" type="plan" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="client_id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="persontype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="documenttype" nillable="true" minOccurs="0" />
        <xs:element name="document_number" type="xs:string" />
        <xs:element name="GeneratedName" type="magnitude" nillable="true" minOccurs="0" />
        <xs:element name="taxpayer_id_number" type="xs:string" />
        <xs:element name="GeneratedName" type="economicactivity" nillable="true" minOccurs="0" />
        <xs:element name="business_name" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="secondname" type="xs:string" />
        <xs:element name="lastname_a" type="xs:string" />
        <xs:element name="lastname_b" type="xs:string" />
        <xs:element name="married_surname" type="xs:string" />
        <xs:element name="GeneratedName" type="gender" nillable="true" minOccurs="0" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="nationality" type="country" nillable="true" minOccurs="0" />
        <xs:element name="residence_" type="country" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="civilstatus" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employmentsituation" nillable="true" minOccurs="0" />
        <xs:element name="data_protection_act" type="xs:anyType" />
        <xs:element name="addresses" type="clientaddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="contacts" type="clientcontactinformation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gender" >
      <xs:sequence>
        <xs:element name="gender_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plan" >
      <xs:sequence>
        <xs:element name="plan_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="user_id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="enabled_commentary" type="xs:string" />
        <xs:element name="user_expired_" type="xs:dateTime" />
        <xs:element name="credentials_expired_" type="xs:dateTime" />
        <xs:element name="end_lock_" type="xs:dateTime" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="email_confirmed" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="days_enabled" type="xs:anyType" />
        <xs:element name="failed_attempts" type="xs:anyType" />
        <xs:element name="user_image" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertrail" >
      <xs:sequence>
        <xs:element name="user_trail_id" type="xs:anyType" />
        <xs:element name="user_id" type="xs:string" />
        <xs:element name="d" type="xs:dateTime" />
        <xs:element name="changes" type="xs:string" />
        <xs:element name="trigger_username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="housingtype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttemp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zonetype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="option" >
      <xs:sequence>
        <xs:element name="option_id" type="xs:anyType" />
        <xs:element name="parent_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="sequence" type="xs:anyType" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="parameter" type="xs:string" />
        <xs:element name="visible" type="xs:anyType" />
        <xs:element name="GeneratedName" type="optiontype" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectortype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ubigeo" >
      <xs:sequence>
        <xs:element name="ubigeo_id" type="xs:anyType" />
        <xs:element name="ubigeo_code" type="xs:string" />
        <xs:element name="department" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="full_description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientcontactinformation" >
      <xs:sequence>
        <xs:element name="contact_information_id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="home_phone" type="xs:string" />
        <xs:element name="cellphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="magnitude" >
      <xs:sequence>
        <xs:element name="magnitude_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatus" >
      <xs:sequence>
        <xs:element name="account_status_id" type="xs:anyType" />
        <xs:element name="operation_" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="office" type="xs:string" />
        <xs:element name="canal" type="xs:string" />
        <xs:element name="operation" type="xs:string" />
        <xs:element name="pay" type="xs:double" />
        <xs:element name="itf" type="xs:double" />
        <xs:element name="accountant" type="xs:double" />
        <xs:element name="_id" type="account" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optiontype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="options" type="option" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persontype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producttype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spending" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="account_id" type="xs:anyType" />
        <xs:element name="aaccount" type="xs:string" />
        <xs:element name="//@column(name" type="product" nillable="true" minOccurs="0" />
        <xs:element name="//@column(name" type="subproduct" nillable="true" minOccurs="0" />
        <xs:element name="disbur_" type="xs:dateTime" />
        <xs:element name="amount_requested" type="xs:double" />
        <xs:element name="payment_priority" type="xs:string" />
        <xs:element name="number_quotas" type="xs:anyType" />
        <xs:element name="payday" type="xs:anyType" />
        <xs:element name="total_length" type="xs:string" />
        <xs:element name="interest_rate_mora" type="xs:anyType" />
        <xs:element name="an_effe_compe_inte_rate" type="xs:anyType" />
        <xs:element name="comm_for_oper_expen" type="xs:anyType" />
        <xs:element name="insurance" type="xs:string" />
        <xs:element name="total_debt" type="xs:double" />
        <xs:element name="outstanding_fees" type="xs:anyType" />
        <xs:element name="tota_inte_mora" type="xs:anyType" />
        <xs:element name="tota_compe_inte" type="xs:anyType" />
        <xs:element name="tota_insu" type="xs:anyType" />
        <xs:element name="_id" type="client" nillable="true" minOccurs="0" />
        <xs:element name="person_type_id" type="persontype" nillable="true" minOccurs="0" />
        <xs:element name="amount_disbursed" type="xs:double" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="//@column(name" type="currency" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedule" >
      <xs:sequence>
        <xs:element name="schedule_id" type="xs:anyType" />
        <xs:element name="schedule_number" type="xs:anyType" />
        <xs:element name="GeneratedName" type="account" nillable="true" minOccurs="0" />
        <xs:element name="registration_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendinggrouptype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantytype" >
      <xs:sequence>
        <xs:element name="warranty_type_id" type="xs:anyType" />
        <xs:element name="ddescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresstype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movement" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="country_id" type="xs:anyType" />
        <xs:element name="country_code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warranty" >
      <xs:sequence>
        <xs:element name="warranty_id" type="xs:anyType" />
        <xs:element name="//@notempty//@column(name" type="warrantytype" nillable="true" minOccurs="0" />
        <xs:element name="//@notempty//@column(name" type="assesttype" nillable="true" minOccurs="0" />
        <xs:element name="ddescription" type="xs:string" />
        <xs:element name="aaddress" type="xs:string" />
        <xs:element name="public_record_number" type="xs:string" />
        <xs:element name="amount_assessed" type="xs:string" />
        <xs:element name="_id" type="client" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feestatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="economicactivity" >
      <xs:sequence>
        <xs:element name="activity_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="role_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="options" type="option" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assesttype" >
      <xs:sequence>
        <xs:element name="assest_type_id" type="xs:anyType" />
        <xs:element name="ddescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 