ebank/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="roadtype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employmentsituation" >
      <xs:sequence>
        <xs:element name="situation_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="authority_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="operationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quota" >
      <xs:sequence>
        <xs:element name="quota_id" type="xs:anyType" />
        <xs:element name="due_" type="xs:dateTime" />
        <xs:element name="capital" type="xs:double" />
        <xs:element name="compensatory" type="xs:double" />
        <xs:element name="arrears" type="xs:double" />
        <xs:element name="postages" type="xs:double" />
        <xs:element name="total_fee" type="xs:double" />
        <xs:element name="insurance" type="xs:double" />
        <xs:element name="o_insurances" type="xs:double" />
        <xs:element name="total_pay" type="xs:double" />
        <xs:element name="schedule_id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="civilstatus" >
      <xs:sequence>
        <xs:element name="status_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addressgrouptype" >
      <xs:sequence>
        <xs:element name="group_type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currency" >
      <xs:sequence>
        <xs:element name="currency_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subproduct" >
      <xs:sequence>
        <xs:element name="sub_product_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="validity_start" type="xs:dateTime" />
        <xs:element name="validity_end" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientaddress" >
      <xs:sequence>
        <xs:element name="address_id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="addresstype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="housingtype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="zonetype" nillable="true" minOccurs="0" />
        <xs:element name="zone_name" type="xs:string" />
        <xs:element name="block" type="xs:string" />
        <xs:element name="lot" type="xs:string" />
        <xs:element name="GeneratedName" type="roadtype" nillable="true" minOccurs="0" />
        <xs:element name="road_name" type="xs:string" />
        <xs:element name="road_number" type="xs:string" />
        <xs:element name="grouptype" type="addressgrouptype" nillable="true" minOccurs="0" />
        <xs:element name="group_name" type="xs:string" />
        <xs:element name="group_number" type="xs:string" />
        <xs:element name="GeneratedName" type="sectortype" nillable="true" minOccurs="0" />
        <xs:element name="sector_name" type="xs:string" />
        <xs:element name="reference" type="xs:string" />
        <xs:element name="GeneratedName" type="ubigeo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="product_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
        <xs:element name="GeneratedName" type="producttype" nillable="true" minOccurs="0" />
        <xs:element name="principal" type="currency" nillable="true" minOccurs="0" />
        <xs:element name="secundary" type="currency" nillable="true" minOccurs="0" />
        <xs:element name="validity_start" type="xs:dateTime" />
        <xs:element name="validity_end" type="xs:dateTime" />
        <xs:element name="plans" type="plan" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documenttype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="client" >
      <xs:sequence>
        <xs:element name="client_id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="persontype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="documenttype" nillable="true" minOccurs="0" />
        <xs:element name="document_number" type="xs:string" />
        <xs:element name="GeneratedName" type="magnitude" nillable="true" minOccurs="0" />
        <xs:element name="taxpayer_id_number" type="xs:string" />
        <xs:element name="GeneratedName" type="economicactivity" nillable="true" minOccurs="0" />
        <xs:element name="business_name" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="secondname" type="xs:string" />
        <xs:element name="lastname_a" type="xs:string" />
        <xs:element name="lastname_b" type="xs:string" />
        <xs:element name="married_surname" type="xs:string" />
        <xs:element name="GeneratedName" type="gender" nillable="true" minOccurs="0" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="nationality" type="country" nillable="true" minOccurs="0" />
        <xs:element name="residence_" type="country" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="civilstatus" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="employmentsituation" nillable="true" minOccurs="0" />
        <xs:element name="data_protection_act" type="xs:anyType" />
        <xs:element name="addresses" type="clientaddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="contacts" type="clientcontactinformation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gender" >
      <xs:sequence>
        <xs:element name="gender_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plan" >
      <xs:sequence>
        <xs:element name="plan_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="user_id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="enabled_commentary" type="xs:string" />
        <xs:element name="user_expired_" type="xs:dateTime" />
        <xs:element name="credentials_expired_" type="xs:dateTime" />
        <xs:element name="end_lock_" type="xs:dateTime" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="email_confirmed" type="xs:anyType" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="days_enabled" type="xs:anyType" />
        <xs:element name="failed_attempts" type="xs:anyType" />
        <xs:element name="user_image" type="xs:anyType" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertrail" >
      <xs:sequence>
        <xs:element name="user_trail_id" type="xs:anyType" />
        <xs:element name="user_id" type="xs:string" />
        <xs:element name="d" type="xs:dateTime" />
        <xs:element name="changes" type="xs:string" />
        <xs:element name="trigger_username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="housingtype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymenttemp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zonetype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="option" >
      <xs:sequence>
        <xs:element name="option_id" type="xs:anyType" />
        <xs:element name="parent_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="sequence" type="xs:anyType" />
        <xs:element name="icon" type="xs:string" />
        <xs:element name="parameter" type="xs:string" />
        <xs:element name="visible" type="xs:anyType" />
        <xs:element name="GeneratedName" type="optiontype" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectortype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ubigeo" >
      <xs:sequence>
        <xs:element name="ubigeo_id" type="xs:anyType" />
        <xs:element name="ubigeo_code" type="xs:string" />
        <xs:element name="department" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="district" type="xs:string" />
        <xs:element name="full_description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientcontactinformation" >
      <xs:sequence>
        <xs:element name="contact_information_id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="client" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="home_phone" type="xs:string" />
        <xs:element name="cellphone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="magnitude" >
      <xs:sequence>
        <xs:element name="magnitude_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountstatus" >
      <xs:sequence>
        <xs:element name="account_status_id" type="xs:anyType" />
        <xs:element name="operation_" type="xs:dateTime" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="office" type="xs:string" />
        <xs:element name="canal" type="xs:string" />
        <xs:element name="operation" type="xs:string" />
        <xs:element name="pay" type="xs:double" />
        <xs:element name="itf" type="xs:double" />
        <xs:element name="accountant" type="xs:double" />
        <xs:element name="_id" type="account" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optiontype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="options" type="option" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persontype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producttype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spending" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="account_id" type="xs:anyType" />
        <xs:element name="aaccount" type="xs:string" />
        <xs:element name="//@column(name" type="product" nillable="true" minOccurs="0" />
        <xs:element name="//@column(name" type="subproduct" nillable="true" minOccurs="0" />
        <xs:element name="disbur_" type="xs:dateTime" />
        <xs:element name="amount_requested" type="xs:double" />
        <xs:element name="payment_priority" type="xs:string" />
        <xs:element name="number_quotas" type="xs:anyType" />
        <xs:element name="payday" type="xs:anyType" />
        <xs:element name="total_length" type="xs:string" />
        <xs:element name="interest_rate_mora" type="xs:anyType" />
        <xs:element name="an_effe_compe_inte_rate" type="xs:anyType" />
        <xs:element name="comm_for_oper_expen" type="xs:anyType" />
        <xs:element name="insurance" type="xs:string" />
        <xs:element name="total_debt" type="xs:double" />
        <xs:element name="outstanding_fees" type="xs:anyType" />
        <xs:element name="tota_inte_mora" type="xs:anyType" />
        <xs:element name="tota_compe_inte" type="xs:anyType" />
        <xs:element name="tota_insu" type="xs:anyType" />
        <xs:element name="_id" type="client" nillable="true" minOccurs="0" />
        <xs:element name="person_type_id" type="persontype" nillable="true" minOccurs="0" />
        <xs:element name="amount_disbursed" type="xs:double" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="//@column(name" type="currency" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedule" >
      <xs:sequence>
        <xs:element name="schedule_id" type="xs:anyType" />
        <xs:element name="schedule_number" type="xs:anyType" />
        <xs:element name="GeneratedName" type="account" nillable="true" minOccurs="0" />
        <xs:element name="registration_" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendinggrouptype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warrantytype" >
      <xs:sequence>
        <xs:element name="warranty_type_id" type="xs:anyType" />
        <xs:element name="ddescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addresstype" >
      <xs:sequence>
        <xs:element name="type_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movementtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movement" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="country_id" type="xs:anyType" />
        <xs:element name="country_code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="warranty" >
      <xs:sequence>
        <xs:element name="warranty_id" type="xs:anyType" />
        <xs:element name="//@notempty//@column(name" type="warrantytype" nillable="true" minOccurs="0" />
        <xs:element name="//@notempty//@column(name" type="assesttype" nillable="true" minOccurs="0" />
        <xs:element name="ddescription" type="xs:string" />
        <xs:element name="aaddress" type="xs:string" />
        <xs:element name="public_record_number" type="xs:string" />
        <xs:element name="amount_assessed" type="xs:string" />
        <xs:element name="_id" type="client" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feestatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="economicactivity" >
      <xs:sequence>
        <xs:element name="activity_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="role_id" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="options" type="option" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assesttype" >
      <xs:sequence>
        <xs:element name="assest_type_id" type="xs:anyType" />
        <xs:element name="ddescription" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spendingtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 