Covid-Control-System/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="rolename" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="outing" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="reason" type="xs:string" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="//inhoursduration" type="xs:long" />
        <xs:element name="outgoingtime" type="xs:anyType" />
        <xs:element name="returningtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tracing" >
      <xs:sequence>
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="room" type="xs:long" />
        <xs:element name="drivername" type="xs:string" />
        <xs:element name="drivercontact" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="permission" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="msg" type="xs:string" />
        <xs:element name="day" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="/*publicpermission(longpid,email,msg,day,status,name,intduration){this.pid" type="xs:string" />
        <xs:element name="duration" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 