escalab3003214/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="cesta" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="nombreproducto" type="xs:string" />
        <xs:element name="marca" type="xs:string" />
        <xs:element name="preciounitario" type="xs:double" />
        <xs:element name="unidades" type="xs:anyType" />
        <xs:element name="preciototal" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 