fullstack9810/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ipounittest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ipodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ipo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangeunittest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="stockexchangedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stockexchange" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyunittest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="companydao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpriceunittest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="stockpricedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stockprice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectorunittest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sectordao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sector" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerunittest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="registerdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="register" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="sector" type="xs:string" />
        <xs:element name="ceo" type="xs:string" />
        <xs:element name="bod" type="xs:string" />
        <xs:element name="turnover" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchange" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="exchangename" type="xs:string" />
        <xs:element name="contractaddress" type="xs:string" />
        <xs:element name="brief" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="stockexchange" type="xs:string" />
        <xs:element name="pricepershare" type="xs:long" />
        <xs:element name="totalstocks" type="xs:long" />
        <xs:element name="//localdatetimeopendatetimeremarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:long" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sector" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="brief" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockprice" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="currentprice" type="xs:double" />
        <xs:element name="opendatetime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipodao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerdao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companydao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpricedao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectordao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companydaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipodaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sectordaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockpricedaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerdaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangedaoimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 