EC4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="labelservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="labeldao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="label" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="//标签名labelname" type="xs:string" />
        <xs:element name="//状态state" type="xs:string" />
        <xs:element name="//标签个数count" type="xs:long" />
        <xs:element name="//关注数fans" type="xs:long" />
        <xs:element name="//推荐recommend" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labeldao" >
      <xs:complexContent>
       <xs:extension base="jparepository<label,string>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="projectexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="labelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="labelservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 