EC4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="label" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="//标签名labelname" type="xs:string" />
        <xs:element name="//状态state" type="xs:string" />
        <xs:element name="//标签个数count" type="xs:long" />
        <xs:element name="//关注数fans" type="xs:long" />
        <xs:element name="//推荐recommend" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 