ChennaiCubingClub/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="c3cuppointstable" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="wcaid" type="xs:string" />
        <xs:element name="competitionid" type="xs:string" />
        <xs:element name="competitionname" type="xs:string" />
        <xs:element name="personname" type="xs:string" />
        <xs:element name="year" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
        <xs:element name="day" type="xs:anyType" />
        <xs:element name="points" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultstable" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="competitionid" type="xs:string" />
        <xs:element name="eventid" type="xs:string" />
        <xs:element name="personid" type="xs:string" />
        <xs:element name="personname" type="xs:string" />
        <xs:element name="pos" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="competitionstable" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="day" type="xs:anyType" />
        <xs:element name="month" type="xs:anyType" />
        <xs:element name="year" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personstable" >
      <xs:sequence>
        <xs:element name="wcaid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c3competitionstable" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="c3cup" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c3userstable" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 