fullstack98/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchange" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="brief" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangerestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stockexchangedao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="stockexchangeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangedao" >
      <xs:complexContent>
       <xs:extension base="jparepository<stockexchange,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stockexchangeserviceapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangeserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="stockexchangedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stockexchangeserviceapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 