EducsharebackEnd/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="securiteyjwtspringapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoricontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="favorirepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coursecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="courserepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faqcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="faqrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="documentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="storageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="amazons3clientservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mattercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="matterrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departementcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="departementrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="universitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="universityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favori" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="documentid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="coursename" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="commentvalidated" type="xs:anyType" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="document" nillable="true" minOccurs="0" />
        <xs:element name="user" type="appuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basket" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="user" type="appuser" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="document" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="telnumber" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="approle" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rolename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="university" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="universityname" type="xs:string" />
        <xs:element name="universityacronyme" type="xs:string" />
        <xs:element name="countryname" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faq" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="question" type="xs:string" />
        <xs:element name="faqvalidated" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="user" type="appuser" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rank" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rankvalue" type="xs:long" />
        <xs:element name="documentid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="document" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="documentname" type="xs:string" />
        <xs:element name="documentmatter" type="xs:string" />
        <xs:element name="documentvalidated" type="xs:string" />
        <xs:element name="documentlevel" type="xs:string" />
        <xs:element name="documentyear" type="xs:string" />
        <xs:element name="documenttheme" type="xs:string" />
        <xs:element name="documenttype" type="xs:string" />
        <xs:element name="documentsemestre" type="xs:long" />
        <xs:element name="documentcountry" type="xs:string" />
        <xs:element name="documentuniversity" type="xs:string" />
        <xs:element name="documentdepartment" type="xs:string" />
        <xs:element name="documentfileenonce" type="xs:string" />
        <xs:element name="documentfilecorrige" type="xs:string" />
        <xs:element name="enoncedata" type="xs:anyType" />
        <xs:element name="corrigedata" type="xs:anyType" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="//documenthasmanycommentscomments" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//documentbestouser//@manytoone//@joincolumn(name" type="xs:long" />
        <xs:element name="//documenthasmanybasketsbaskets" type="basket" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departement" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="departementname" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payement" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="taskname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="matter" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="mattername" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3config" >
      <xs:sequence>
        <xs:element name="awskeyid" type="xs:string" />
        <xs:element name="awskeysecret" type="xs:string" />
        <xs:element name="awsregion" type="xs:string" />
        <xs:element name="awss3audiobucket" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="confirmpassword" type="xs:string" />
        <xs:element name="telnumber" type="xs:string" />
        <xs:element name="cin" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="avatar" type="xs:anyType" />
        <xs:element name="fillename" type="xs:string" />
        <xs:element name="//@notblankuserlevel" type="xs:string" />
        <xs:element name="//@notblankusersection" type="xs:string" />
        <xs:element name="//@notblankuserclass" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="userrole" type="xs:string" />
        <xs:element name="usercountry" type="xs:string" />
        <xs:element name="useruniversity" type="xs:string" />
        <xs:element name="roles){//this.roles" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//userhasmanydocuments//@onetomany(mappedby" type="document" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//userhasmanybasketsbaskets" type="basket" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//////userhasmanymessages//@onetomany(mappedby" type="faq" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="documentid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="confirmpassword" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="telnumber" type="xs:string" />
        <xs:element name="cin" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="userlevel" type="xs:string" />
        <xs:element name="usersection" type="xs:string" />
        <xs:element name="userclass" type="xs:string" />
        <xs:element name="useruniversity" type="xs:string" />
        <xs:element name="usercountry" type="xs:string" />
        <xs:element name="userrole" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountserviceimp" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appuserrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="approlerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<task,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<message,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appuserrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<appuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="faqrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<faq,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matterrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<matter,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<document,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basketrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<basket,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departementrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<departement,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favorirepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<favori,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="courserepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<course,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="approlerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<approle,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<comment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="universityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<university,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storageservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="documentrepository" nillable="true" minOccurs="0" />
        <xs:element name="//addedpart//log" type="xs:anyType" />
        <xs:element name="rootlocation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3clientserviceimpl" >
      <xs:sequence>
        <xs:element name="awss3audiobucket" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3clientservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webapplicationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securiteyjwtspringapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myfilenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filestorageexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jquery.selectbox-0.1.3.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-thumbnail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.pie.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.symbol.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.resize.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.errorbars.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.pie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.stack.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.fillbetween" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.categories.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.navigate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.time.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.image.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.selection.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.fillbetween.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.crosshair.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.flot.threshold.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-rtl.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slick" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slick" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slick" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="selection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thin-line-icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="waypoints.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="waypoints" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.rateyo.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.rateyo.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.rateyo.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.rateyo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isotope-triger.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="styles.3bb2a9d4949b7dc120a9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="runtime.ec2944dd8b20ec099bf3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 