ADQT/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="about" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabtrigger.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs-arrow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="radiobutton-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="textfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottomsheet.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottomsheet-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gridlist-default-theme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chips-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="default-theme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menubar-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menubar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialog-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="switch-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolbar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolbar-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datepicker.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datepicker-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresscircular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresscircular.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresscircular-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subheader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subheader.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subheader-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="card-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="card.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresslinear-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresslinear.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresslinear" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autocomplete-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swipe.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabtoolbar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabtoolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkbox.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkbox-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidenav-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showhide.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="virtualrepeat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="virtualrepeat.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="input-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabspeeddial.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabspeeddial" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slider-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="whiteframe.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="textfield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="textfield.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swipe.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="content.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sticky.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sidenav-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabtrigger.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="virtualrepeat.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="virtualrepeat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="input-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dialog-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="divider-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="switch-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truncate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="button-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subheader-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subheader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subheader.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datepicker-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datepicker.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menubar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menubar-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolbar-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolbar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="card-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="card.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkbox.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkbox-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slider-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autocomplete-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabtoolbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabtoolbar.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chips-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showhide.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="whiteframe.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresscircular.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresscircular-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresscircular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottomsheet-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bottomsheet.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="default-theme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="backdrop.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tabs-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresslinear.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresslinear" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="progresslinear-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="radiobutton-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabspeeddial" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fabspeeddial.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar-default-theme.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-material.layout-attributes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-material.layout-attributes.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="core" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bordered-pulled" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="screen-reader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="larger" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stacked" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icons" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixed-width" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rotated-flipped" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mixins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="font-awesome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="_screen-reader" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<columninformation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rulevaluerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<rulevalue,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<tableinformation,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tableinfodto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tableid" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="columninfolist" type="columninfodto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columninfodto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="columnid" type="xs:long" />
        <xs:element name="columnname" type="xs:string" />
        <xs:element name="datatype" type="xs:string" />
        <xs:element name="columnindex" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulevaluedto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tableid" type="xs:long" />
        <xs:element name="columnid" type="xs:long" />
        <xs:element name="ruletype" type="xs:string" />
        <xs:element name="ruleexpression" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataqualitystatdto" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="totalrowcount" type="xs:long" />
        <xs:element name="qualifiedrowcount" type="xs:long" />
        <xs:element name="percentage" type="xs:double" />
        <xs:element name="isbelowthreshold" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="companyname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulevalue" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="columnname" type="xs:string" />
        <xs:element name="datatype" type="xs:string" />
        <xs:element name="columnindex" type="xs:long" />
        <xs:element name="ruletypes" type="xs:string" />
        <xs:element name="rulekey" type="xs:string" />
        <xs:element name="rulevalue" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columninformation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="columnname" type="xs:string" />
        <xs:element name="datatype" type="xs:string" />
        <xs:element name="columnindex" type="xs:long" />
        <xs:element name="GeneratedName" type="tableinformation" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tableinformation" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="columninformations" type="columninformation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websocketconfig" >
      <xs:complexContent>
       <xs:extension base="abstractwebsocketmessagebrokerconfigurer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
        <xs:element name="columns" type="columninformation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tableinfoservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tablerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataqualitystatservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="percentagethreshold" type="xs:double" />
        <xs:element name="threadpoolprovider" type="threadpoolproviderservice" nillable="true" minOccurs="0" />
        <xs:element name="broker" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bigqueryclientservicefactory" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="threadpoolproviderservice" >
      <xs:sequence>
        <xs:element name="pool" type="xs:anyType" />
        <xs:element name="threadpoolsize" type="xs:anyType" />
        <xs:element name="default_thread_pool_size" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilingcontext" >
      <xs:sequence>
        <xs:element name="tablename" type="xs:string" />
        <xs:element name="GeneratedName" type="schema" nillable="true" minOccurs="0" />
        <xs:element name="rules" type="rulevalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pipelinecreator" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="propertyfilereader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pelicanpipelineoptions" >
      <xs:complexContent>
       <xs:extension base="gcsoptions">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pubsubpublisher" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulevalueservice" >
      <xs:sequence>
        <xs:element name="rulevaluerepo" type="rulevaluerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tablerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="columnrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilingexecutor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="rulevaluerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="pipelinecreator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tablerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="dataqualitystatservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilingpardo" >
      <xs:complexContent>
       <xs:extension base="dofn<string,">
         <xs:sequence>
          <xs:element name="profilingcontext" type="profilingcontext" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="userrepo" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationproviderconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicationproperties" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulevaluecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rulevalueservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilingcontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="profilingexecutor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tableinfocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tableinfoservice" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypeenum" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="datatype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruletypeenum" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="ruletype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rulekeyenum" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="rulekey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationutility" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationproperties" >
      <xs:sequence>
        <xs:element name="defauljdbcdrivername" type="xs:string" />
        <xs:element name="springdatasourceurl" type="xs:string" />
        <xs:element name="jdbcdrivername" type="xs:string" />
        <xs:element name="datasourceusername" type="xs:string" />
        <xs:element name="datasourcepassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationruntimeexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bigqueryclientservicefactory" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="propertyfilereader" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyfilereader" >
      <xs:sequence>
        <xs:element name="volatiledatastorehost" type="xs:string" />
        <xs:element name="volatiledatastorejdbcport" type="xs:string" />
        <xs:element name="volatileprojectid" type="xs:string" />
        <xs:element name="volatileoauthpvtkeypath" type="xs:string" />
        <xs:element name="volatileoauthserviceacctemail" type="xs:string" />
        <xs:element name="volatiletemplocation" type="xs:string" />
        <xs:element name="volatilestaginglocation" type="xs:string" />
        <xs:element name="volatilerunner" type="xs:string" />
        <xs:element name="volatilezone" type="xs:string" />
        <xs:element name="volatiletopic" type="xs:string" />
        <xs:element name="volatileoutputbqtable" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 