Gradle40/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="resourcearquillianstandalonetest" >
      <xs:sequence>
        <xs:element name="db1" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adapterarquillianstandalonetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arquillianandmockitotest" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
        <xs:element name="mock" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaarquillianadaptertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enventriesarquillianstandalonetest" >
      <xs:sequence>
        <xs:element name="foo" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swmavenwartest" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejbarquillianstandalonetest" >
      <xs:sequence>
        <xs:element name="ejbfromejbannotation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swlibtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lifecycletest" >
      <xs:sequence>
        <xs:element name="beforeclassnb" type="xs:long" />
        <xs:element name="beforenb" type="xs:long" />
        <xs:element name="afterclassnb" type="xs:long" />
        <xs:element name="afternb" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptioninjectiontest" >
      <xs:sequence>
        <xs:element name="de" type="xs:anyType" />
        <xs:element name="owbexception" type="xs:anyType" />
        <xs:element name="oejbexception" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactiontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessiondestroytest" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="id" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wararquilliantest" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cdiarquillianstandalonetest" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
        <xs:element name="ejbfromcdiannotation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bindinginjavaglobaltest" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arquillianresourceurltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="virtualresourcetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startdeploymenttest" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestscopearquillianstandalonetest" >
      <xs:sequence>
        <xs:element name="bean" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplearchive2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplearchive" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodparameterenrichmenttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a-pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cucumber.runtime.io" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.jboss.arquillian.core.spi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="org.apache.openejb.server.httpd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archiveresourceiteratorfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swclassloader" >
      <xs:complexContent>
       <xs:extension base="classloader">
         <xs:sequence>
          <xs:element name="archives" type="xs:anyType" />
          <xs:element name="closeables" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webarchiveresourceprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openejbarchiveprocessor" >
      <xs:complexContent>
       <xs:extension base="readdescriptors.urlsource">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="meta_inf" type="xs:string" />
          <xs:element name="web_inf" type="xs:string" />
          <xs:element name="ejb_jar_xml" type="xs:string" />
          <xs:element name="beans_xml" type="xs:string" />
          <xs:element name="validation_xml" type="xs:string" />
          <xs:element name="resources_xml" type="xs:string" />
          <xs:element name="persistence_xml" type="xs:string" />
          <xs:element name="openejb_jar_xml" type="xs:string" />
          <xs:element name="env_entries_properties" type="xs:string" />
          <xs:element name="web_inf_classes" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openejbdeployablecontainer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="deployment_info" type="xs:anyType" />
        <xs:element name="no_app_ctx" type="xs:anyType" />
        <xs:element name="//config" type="xs:anyType" />
        <xs:element name="//system" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="containerarchives" type="xs:anyType" />
        <xs:element name="//suiteappinfoproducer" type="xs:anyType" />
        <xs:element name="appcontextproducer" type="xs:anyType" />
        <xs:element name="contextproducer" type="xs:anyType" />
        <xs:element name="servletcontextproducer" type="xs:anyType" />
        <xs:element name="sessionproducer" type="xs:anyType" />
        <xs:element name="closeablesproducer" type="closeables" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="classloader" type="xs:anyType" />
        <xs:element name="closeables" type="closeables" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="servletcontext" type="xs:anyType" />
        <xs:element name="session" type="xs:anyType" />
        <xs:element name="info" type="xs:anyType" />
        <xs:element name="appcontext" type="xs:anyType" />
        <xs:element name="testclass" type="xs:anyType" />
        <xs:element name="configuration" type="openejbconfiguration" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="servicemanagers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openejbconfiguration" >
      <xs:sequence>
        <xs:element name="properties" type="xs:string" />
        <xs:element name="preloadclasses" type="xs:string" />
        <xs:element name="startdefaultscopes" type="xs:anyType" />
        <xs:element name="singledeploymentbyarchivename" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openejbextension" >
      <xs:sequence>
        <xs:element name="openejb_adapter_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assets" >
      <xs:sequence>
        <xs:element name="empty_loader" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="closeables" >
      <xs:sequence>
        <xs:element name="closeables" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openejbinjectionenricher" >
      <xs:sequence>
        <xs:element name="appcontext" type="xs:anyType" />
        <xs:element name="testclass" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 