dataio3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="conversionblock" >
      <xs:sequence>
        <xs:element name="get_conversion_blocks_query" type="xs:string" />
        <xs:element name="get_conversion_blocks_query_name" type="xs:string" />
        <xs:element name="delete_conversion_blocks_query" type="xs:string" />
        <xs:element name="delete_conversion_blocks_query_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="s" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storedconversionparam" >
      <xs:sequence>
        <xs:element name="delete_conversion_param_query" type="xs:string" />
        <xs:element name="delete_conversion_param_query_name" type="xs:string" />
        <xs:element name="jobid" type="xs:anyType" />
        <xs:element name="param" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 