CrazyDog5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="org.hibernate.boot.registry.selector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blueprint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="strategyregistrationproviderimpl" >
      <xs:sequence>
        <xs:element name="registrations" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c3p0connectionprovider" >
      <xs:sequence>
        <xs:element name="log" type="c3p0messagelogger" nillable="true" minOccurs="0" />
        <xs:element name="//swaldman2006-08-28:definec3p0-styleconfigurationparametersforpropertieswith//hibernate-specificoverridestodetectandwarnaboutconflicting//declarationsc3p0_style_min_pool_size" type="xs:string" />
        <xs:element name="c3p0_style_max_pool_size" type="xs:string" />
        <xs:element name="c3p0_style_max_idle_time" type="xs:string" />
        <xs:element name="c3p0_style_max_statements" type="xs:string" />
        <xs:element name="c3p0_style_acquire_increment" type="xs:string" />
        <xs:element name="c3p0_style_idle_connection_test_period" type="xs:string" />
        <xs:element name="//swaldman2006-08-28:definec3p0-styleconfigurationparametersforinitialpoolsize,which//hibernatesensiblyletsdefaulttominpoolsize,butwe'llletusers//overrideitwiththec3p0-stylepropertyiftheywant.c3p0_style_initial_pool_size" type="xs:string" />
        <xs:element name="ds" type="xs:anyType" />
        <xs:element name="isolation" type="xs:anyType" />
        <xs:element name="autocommit" type="xs:anyType" />
        <xs:element name="serviceregistry" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c3p0messagelogger" >
      <xs:complexContent>
       <xs:extension base="coremessagelogger">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test35" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statementcachetest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c3p0connectionprovidertest" >
      <xs:complexContent>
       <xs:extension base="basecorefunctionaltestcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="irrelevantentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 