GymManagementSystem-Spring-MVC-/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="teacher" >
      <xs:sequence>
        <xs:element name="teacherid" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="subject" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trainer" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="trainer_style" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer_supplements" >
      <xs:sequence>
        <xs:element name="id" type="compositekey" nillable="true" minOccurs="0" />
        <xs:element name="purchased" type="xs:dateTime" />
        <xs:element name="cost" type="xs:long" />
        <xs:element name="purchased_from" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="fee" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplements" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="item_name" type="xs:string" />
        <xs:element name="manufacturer_name" type="xs:string" />
        <xs:element name="supplier_name" type="xs:string" />
        <xs:element name="cost" type="xs:string" />
        <xs:element name="stock" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="equipment" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="item_name" type="xs:string" />
        <xs:element name="manufacturer_name" type="xs:string" />
        <xs:element name="supplier_name" type="xs:string" />
        <xs:element name="cost" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="studentid" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="designation" type="xs:string" />
        <xs:element name="contact" type="xs:string" />
        <xs:element name="salary" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 