hibernateOneToMany10/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mavenenhanceplugin" >
      <xs:complexContent>
       <xs:extension base="abstractmojo">
         <xs:sequence>
          <xs:element name="/***thecontextstouseduringenhancement.*/sourceset" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="base" type="xs:string" />
          <xs:element name="dir" type="xs:string" />
          <xs:element name="failonerror" type="xs:anyType" />
          <xs:element name="enablelazyinitialization" type="xs:anyType" />
          <xs:element name="enabledirtytracking" type="xs:anyType" />
          <xs:element name="enableassociationmanagement" type="xs:anyType" />
          <xs:element name="enableextendedenhancement" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="plugin-help" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plugin-help" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plugin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lifecycle-mapping-metadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mavenenhanceplugintest" >
      <xs:complexContent>
       <xs:extension base="parententity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 