hsn10/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="comparatorpersondynamic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pds_religion" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="religionid" type="xs:long" />
          <xs:element name="religionstandardized" type="xs:string" />
          <xs:element name="religionflag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pds_placeoforigin" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="originid" type="xs:long" />
          <xs:element name="originstandardized" type="xs:string" />
          <xs:element name="originflag" type="xs:long" />
          <xs:element name="origingroup" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="register" type="xs:string" />
          <xs:element name="census" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registration" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dayentryhead" type="xs:long" />
        <xs:element name="monthentryhead" type="xs:long" />
        <xs:element name="yearentryhead" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="dayentryrp" type="xs:long" />
        <xs:element name="monthentryrp" type="xs:long" />
        <xs:element name="yearentryrp" type="xs:long" />
        <xs:element name="pagenumberofsource" type="xs:string" />
        <xs:element name="numberofhousehold" type="xs:long" />
        <xs:element name="infofamilycardssystem" type="xs:string" />
        <xs:element name="specialdataentrycodes" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="ordernumber" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="initials" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="ordernumberoriginal" type="xs:string" />
        <xs:element name="dateoriginal" type="xs:string" />
        <xs:element name="initialoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="personsinregistration" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addressesofregistration" type="registrationaddress" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="op" nillable="true" minOccurs="0" />
        <xs:element name="standardizedregistration" type="registrationstandardized" nillable="true" minOccurs="0" />
        <xs:element name="trace" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appendtoopslag" >
      <xs:sequence>
        <xs:element name="select_all_from_pds_civilstatus" type="xs:string" />
        <xs:element name="select_all_from_pds_occupationaltitle" type="xs:string" />
        <xs:element name="select_all_from_pds_parentsandchildren" type="xs:string" />
        <xs:element name="select_all_from_pds_placeofdestination" type="xs:string" />
        <xs:element name="select_all_from_pds_placeoforigin" type="xs:string" />
        <xs:element name="select_all_from_pds_relationtohead" type="xs:string" />
        <xs:element name="select_all_from_pds_alltoall" type="xs:string" />
        <xs:element name="select_all_from_pds_religion" type="xs:string" />
        <xs:element name="select_all_from_b2_st" type="xs:string" />
        <xs:element name="select_all_from_b3_st" type="xs:string" />
        <xs:element name="select_all_from_b4_st" type="xs:string" />
        <xs:element name="select_all_from_b6_st" type="xs:string" />
        <xs:element name="select_all_from_b2" type="xs:string" />
        <xs:element name="select_all_from_b3" type="xs:string" />
        <xs:element name="select_all_from_b4" type="xs:string" />
        <xs:element name="select_all_from_b6" type="xs:string" />
        <xs:element name="select_by_idnrs_from_b2_st" type="xs:string" />
        <xs:element name="select_by_idnr_from_b2_st" type="xs:string" />
        <xs:element name="select_by_idnr_from_b3_st" type="xs:string" />
        <xs:element name="select_by_idnr_from_b4_st" type="xs:string" />
        <xs:element name="select_by_idnr_from_b6_st" type="xs:string" />
        <xs:element name="select_by_idnrs_from_b2" type="xs:string" />
        <xs:element name="select_by_idnrs_from_b3" type="xs:string" />
        <xs:element name="select_by_idnrs_from_b4" type="xs:string" />
        <xs:element name="select_by_idnrs_from_b6" type="xs:string" />
        <xs:element name="select_by_idnr_from_b2" type="xs:string" />
        <xs:element name="select_by_idnr_from_b3" type="xs:string" />
        <xs:element name="select_by_idnr_from_b4" type="xs:string" />
        <xs:element name="select_by_idnr_from_b6" type="xs:string" />
        <xs:element name="select_idnrs_from_b2" type="xs:string" />
        <xs:element name="select_workitems_from_b4" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createmtables" >
      <xs:sequence>
        <xs:element name="bfout1ft" type="xs:string" />
        <xs:element name="bfout4ft" type="xs:string" />
        <xs:element name="bfout1ft_truncate" type="xs:string" />
        <xs:element name="bfout4ft_truncate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pds_relationtohead" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
          <xs:element name="dynamicdata2" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messageskeleton" >
      <xs:sequence>
        <xs:element name="errornumber" type="xs:string" />
        <xs:element name="errortype" type="xs:string" />
        <xs:element name="errortext" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createoriginalbtables" >
      <xs:sequence>
        <xs:element name="b2" type="xs:string" />
        <xs:element name="b3" type="xs:string" />
        <xs:element name="b4" type="xs:string" />
        <xs:element name="b6" type="xs:string" />
        <xs:element name="b2_truncate" type="xs:string" />
        <xs:element name="b3_truncate" type="xs:string" />
        <xs:element name="b4_truncate" type="xs:string" />
        <xs:element name="b6_truncate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dayentryhead" type="xs:long" />
        <xs:element name="monthentryhead" type="xs:long" />
        <xs:element name="yearentryhead" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="dayofregistration" type="xs:long" />
        <xs:element name="monthofregistration" type="xs:long" />
        <xs:element name="yearofregistration" type="xs:long" />
        <xs:element name="dayofregistrationaftererpretation" type="xs:long" />
        <xs:element name="monthofregistrationaftererpretation" type="xs:long" />
        <xs:element name="yearofregistrationaftererpretation" type="xs:long" />
        <xs:element name="familyname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="dayofbirth" type="xs:long" />
        <xs:element name="monthofbirth" type="xs:long" />
        <xs:element name="yearofbirth" type="xs:long" />
        <xs:element name="dayofbirthaftererpretation" type="xs:long" />
        <xs:element name="monthofbirthaftererpretation" type="xs:long" />
        <xs:element name="yearofbirthaftererpretation" type="xs:long" />
        <xs:element name="placeofbirth" type="xs:string" />
        <xs:element name="dayofdecease" type="xs:long" />
        <xs:element name="monthofdecease" type="xs:long" />
        <xs:element name="yearofdecease" type="xs:long" />
        <xs:element name="dayofdeceaseaftererpretation" type="xs:long" />
        <xs:element name="monthofdeceaseaftererpretation" type="xs:long" />
        <xs:element name="yearofdeceaseaftererpretation" type="xs:long" />
        <xs:element name="placeofdecease" type="xs:string" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="legalplaceofliving" type="xs:string" />
        <xs:element name="legalplaceoflivingincodes" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="remarks2" type="xs:string" />
        <xs:element name="ordernumber" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="initials" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="ordernumberoriginal" type="xs:string" />
        <xs:element name="dateoriginal" type="xs:string" />
        <xs:element name="initialoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="dynamicdataofperson" type="persondynamic" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="personappearsin" type="registration" nillable="true" minOccurs="0" />
        <xs:element name="ishead" type="xs:anyType" />
        <xs:element name="isheadfirstsuccessor" type="xs:anyType" />
        <xs:element name="standardizedperson" type="personstandardized" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personstandardized" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="entrydatehead" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytopersons" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="dateofregistration" type="xs:string" />
        <xs:element name="dateofregistrationflag" type="xs:long" />
        <xs:element name="personid" type="xs:long" />
        <xs:element name="personidflag" type="xs:long" />
        <xs:element name="personid_fa" type="xs:long" />
        <xs:element name="personid_fa_fg" type="xs:long" />
        <xs:element name="personid_mo" type="xs:long" />
        <xs:element name="personid_mo_fg" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="familyname" type="xs:string" />
        <xs:element name="prefixlastname" type="xs:string" />
        <xs:element name="titlenoble" type="xs:string" />
        <xs:element name="titleelse" type="xs:string" />
        <xs:element name="familynameerpreted" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="firstnameflag" type="xs:long" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="dateofbirth" type="xs:string" />
        <xs:element name="dateofbirthflag" type="xs:long" />
        <xs:element name="placeofbirthid" type="xs:long" />
        <xs:element name="placeofbirthstandardized" type="xs:string" />
        <xs:element name="placeofbirthflag" type="xs:long" />
        <xs:element name="dateofdecease" type="xs:string" />
        <xs:element name="dateofdeceaseflag" type="xs:long" />
        <xs:element name="placeofdeceaseid" type="xs:long" />
        <xs:element name="placeofdeceasestandardized" type="xs:string" />
        <xs:element name="placeofdeceaseflag" type="xs:long" />
        <xs:element name="nationality" type="xs:string" />
        <xs:element name="legalplaceoflivingid" type="xs:long" />
        <xs:element name="legalplaceoflivingstandardized" type="xs:string" />
        <xs:element name="legalplaceoflivingflag" type="xs:long" />
        <xs:element name="legalplaceoflivingcode" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="original" type="person" nillable="true" minOccurs="0" />
        <xs:element name="dynamicdataofpersonstandardized" type="persondynamicstandardized" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="personappearsin" type="registrationstandardized" nillable="true" minOccurs="0" />
        <xs:element name="maxstartdate" type="xs:string" />
        <xs:element name="minstartdate" type="xs:string" />
        <xs:element name="toall" type="persondynamicstandardized" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dayentryhead" type="xs:long" />
        <xs:element name="monthentryhead" type="xs:long" />
        <xs:element name="yearentryhead" type="xs:long" />
        <xs:element name="dayentryrp" type="xs:long" />
        <xs:element name="monthentryrp" type="xs:long" />
        <xs:element name="yearentryrp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="errornumber" type="xs:long" />
        <xs:element name="errortype" type="xs:string" />
        <xs:element name="errortext" type="xs:string" />
        <xs:element name="messageskeletons" type="messageskeleton" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="messages" type="message" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="h" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pds_placeofdestination" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="destinationid" type="xs:long" />
          <xs:element name="destinationstandardized" type="xs:string" />
          <xs:element name="destinationflag" type="xs:long" />
          <xs:element name="destinationgroup" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="register" type="xs:string" />
          <xs:element name="census" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registrationstandardized" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="entrydatehead" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="entrydaterp" type="xs:string" />
        <xs:element name="pagenumber" type="xs:string" />
        <xs:element name="numberofhousehold" type="xs:long" />
        <xs:element name="//gk" type="xs:string" />
        <xs:element name="specialcode" type="xs:string" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="original" type="registration" nillable="true" minOccurs="0" />
        <xs:element name="personsstandardizedinregistration" type="personstandardized" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addressesstandardizedofregistration" type="registrationaddressstandardized" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="op" nillable="true" minOccurs="0" />
        <xs:element name="marriageshead" type="marriages" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationaddressstandardized" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dateentryheadofhousehold" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="sequencenumbertoaddresses" type="xs:long" />
        <xs:element name="dateofaddress" type="xs:string" />
        <xs:element name="dateofaddressflag" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="municipality" type="xs:string" />
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="quarter" type="xs:string" />
        <xs:element name="place" type="xs:string" />
        <xs:element name="boat" type="xs:string" />
        <xs:element name="berth" type="xs:string" />
        <xs:element name="institution" type="xs:string" />
        <xs:element name="landlord" type="xs:string" />
        <xs:element name="other" type="xs:string" />
        <xs:element name="addressflag" type="xs:long" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="addition" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="originaladdress" type="registrationaddress" nillable="true" minOccurs="0" />
        <xs:element name="oldaddresstotallyprocessed" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comparatorregistration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comparatorperson" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletefrombtables" >
      <xs:sequence>
        <xs:element name="delete_from_b2" type="xs:string" />
        <xs:element name="delete_from_b3" type="xs:string" />
        <xs:element name="delete_from_b4" type="xs:string" />
        <xs:element name="delete_from_b6" type="xs:string" />
        <xs:element name="delete_from_b2_st" type="xs:string" />
        <xs:element name="delete_from_b311_st" type="xs:string" />
        <xs:element name="delete_from_b312_st" type="xs:string" />
        <xs:element name="delete_from_b32_st" type="xs:string" />
        <xs:element name="delete_from_b33_st" type="xs:string" />
        <xs:element name="delete_from_b34_st" type="xs:string" />
        <xs:element name="delete_from_b35_st" type="xs:string" />
        <xs:element name="delete_from_b36_st" type="xs:string" />
        <xs:element name="delete_from_b37_st" type="xs:string" />
        <xs:element name="delete_from_b4_st" type="xs:string" />
        <xs:element name="delete_from_b6_st" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="utils" >
      <xs:sequence>
        <xs:element name="package_name" type="xs:string" />
        <xs:element name="//factory_ref" type="xs:anyType" />
        <xs:element name="em_tabs" type="xs:anyType" />
        <xs:element name="em_btabs_count" type="xs:long" />
        <xs:element name="factory_original_tabs" type="xs:anyType" />
        <xs:element name="em_original_tabs" type="xs:anyType" />
        <xs:element name="em_original_btabs_count" type="xs:long" />
        <xs:element name="factory_original_tabs2" type="xs:anyType" />
        <xs:element name="em_original_tabs2" type="xs:anyType" />
        <xs:element name="em_original_btabs2_count" type="xs:long" />
        <xs:element name="factory_log" type="xs:anyType" />
        <xs:element name="em_log" type="xs:anyType" />
        <xs:element name="em_log_count" type="xs:long" />
        <xs:element name="factory_mysql_opslag" type="xs:anyType" />
        <xs:element name="em_mysql_opslag" type="xs:anyType" />
        <xs:element name="em_mysql_opslag_count" type="xs:long" />
        <xs:element name="factory_mysql_opslag_org" type="xs:anyType" />
        <xs:element name="em_mysql_opslag_org" type="xs:anyType" />
        <xs:element name="em_mysql_opslag_org_count" type="xs:long" />
        <xs:element name="c" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comparatorregistrationaddress" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="op" >
      <xs:complexContent>
       <xs:extension base="personstandardized">
         <xs:sequence>
          <xs:element name="keytorp" type="xs:long" />
          <xs:element name="registrationsofop" type="registration" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="registrationsstandardizedofop" type="registrationstandardized" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="personnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createbtables" >
      <xs:sequence>
        <xs:element name="b2_st" type="xs:string" />
        <xs:element name="b311_st" type="xs:string" />
        <xs:element name="b312_st" type="xs:string" />
        <xs:element name="b32_st" type="xs:string" />
        <xs:element name="b33_st" type="xs:string" />
        <xs:element name="b34_st" type="xs:string" />
        <xs:element name="b35_st" type="xs:string" />
        <xs:element name="b36_st" type="xs:string" />
        <xs:element name="b37_st" type="xs:string" />
        <xs:element name="b4_st" type="xs:string" />
        <xs:element name="b6_st" type="xs:string" />
        <xs:element name="b2_st_truncate" type="xs:string" />
        <xs:element name="b311_st_truncate" type="xs:string" />
        <xs:element name="b312_st_truncate" type="xs:string" />
        <xs:element name="b32_st_truncate" type="xs:string" />
        <xs:element name="b33_st_truncate" type="xs:string" />
        <xs:element name="b34_st_truncate" type="xs:string" />
        <xs:element name="b35_st_truncate" type="xs:string" />
        <xs:element name="b36_st_truncate" type="xs:string" />
        <xs:element name="b37_st_truncate" type="xs:string" />
        <xs:element name="b4_st_truncate" type="xs:string" />
        <xs:element name="b6_st_truncate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="standardizepopulationregister" >
      <xs:sequence>
        <xs:element name="//misusingthisfield,itcanalsobeaworkitem,dependsonwhetherthereisa:\init.inputdirectory" type="xs:string" />
        <xs:element name="textarea" type="xs:anyType" />
        <xs:element name="out" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pds_civilstatus" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
          <xs:element name="civilstatusflag" type="xs:long" />
          <xs:element name="civillocalityid" type="xs:long" />
          <xs:element name="civillocalitystandardized" type="xs:string" />
          <xs:element name="civillocalityflag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="message4" >
      <xs:sequence>
        <xs:element name="recordid" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dayentryhead" type="xs:long" />
        <xs:element name="monthentryhead" type="xs:long" />
        <xs:element name="yearentryhead" type="xs:long" />
        <xs:element name="dayentryrp" type="xs:long" />
        <xs:element name="monthentryrp" type="xs:long" />
        <xs:element name="yearentryrp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="errornumber" type="xs:long" />
        <xs:element name="errortype" type="xs:string" />
        <xs:element name="errortext" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convertmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persondynamicstandardized" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="entrydatehead" type="xs:string" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="keytodistinguishdynamicdatatype" type="xs:long" />
        <xs:element name="dynamicdatasequencenumber" type="xs:long" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="startflag" type="xs:long" />
        <xs:element name="startest" type="xs:long" />
        <xs:element name="enddate" type="xs:string" />
        <xs:element name="endflag" type="xs:long" />
        <xs:element name="endest" type="xs:long" />
        <xs:element name="//@column(name" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="dateofmutation" type="xs:string" />
        <xs:element name="dateofmutationflag" type="xs:long" />
        <xs:element name="//@column(name" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="original" type="persondynamic" nillable="true" minOccurs="0" />
        <xs:element name="towhomdynamicdatarefers" type="personstandardized" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initialiser" >
      <xs:sequence>
        <xs:element name="/***thisroutinecreatesthefollowingtables(iftheydonotexist)**b2*b3*b4*b6**b2_st*b311_st*b312_st*b32_st*b33_st*b34_st*b35_st*b36_st*b37_st*b4_st*b6_st**ref_address*ref_familyname*ref_firstname*ref_rp*ref_housenumber*ref_housenumberaddition*ref_kg*ref_location*ref_prefix*ref_profession**thisroutineloadsthefollowingtables:**b*-tables:personobjects-forallb2rows*persondynamicobjects-forallb3rows*registrationobjects-forallb4rows*registrationaddressobjects-forallb6rows**reference:ref_ainb-fromainbfile(gegevensoverregisters)*ref_rb-fromrbfile(geboortebewijzen)*ref_kg-fromkgfile(godsdienst)*ref_familyname-fromref_familienaamfile(gestandaardiseerdeachternamen)*ref_firstname*ref_prefix*ref_location*ref_profession*ref_address*ref_huisnummer*ref_huisnummertoevoeging**@paraminputdirectory*@paramops*@parampersons*@parampersonsdynamic*@paramregistrations*@paramregistrationaddresses*///switchforold/newstyleinputmysql" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pds_parentsandchildren" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
          <xs:element name="relation" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pds_alltoall" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="contentofdynamicdata" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="checkmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marriages" >
      <xs:sequence>
        <xs:element name="head" type="personstandardized" nillable="true" minOccurs="0" />
        <xs:element name="spouse" type="personstandardized" nillable="true" minOccurs="0" />
        <xs:element name="startdate" type="xs:string" />
        <xs:element name="enddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keychecks" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationaddress" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dayentryhead" type="xs:long" />
        <xs:element name="monthentryhead" type="xs:long" />
        <xs:element name="yearentryhead" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="sequencenumbertoaddresses" type="xs:long" />
        <xs:element name="dayofaddress" type="xs:long" />
        <xs:element name="monthofaddress" type="xs:long" />
        <xs:element name="yearofaddress" type="xs:long" />
        <xs:element name="dayofaddressaftererpretation" type="xs:long" />
        <xs:element name="monthofaddressaftererpretation" type="xs:long" />
        <xs:element name="yearofaddressaftererpretation" type="xs:long" />
        <xs:element name="addresstype" type="xs:string" />
        <xs:element name="synchronenumber" type="xs:long" />
        <xs:element name="nameofstreet" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="additiontonumber" type="xs:string" />
        <xs:element name="ordernumber" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="initials" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="ordernumberoriginal" type="xs:string" />
        <xs:element name="dateoriginal" type="xs:string" />
        <xs:element name="initialoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="towhichaddressrefers" type="registration" nillable="true" minOccurs="0" />
        <xs:element name="standardizedregistrationaddress" type="registrationaddressstandardized" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consttables" >
      <xs:sequence>
        <xs:element name="xbigstring" type="xs:long" />
        <xs:element name="bigstring" type="xs:long" />
        <xs:element name="smallstring" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pds_occupationaltitle" >
      <xs:complexContent>
       <xs:extension base="persondynamicstandardized">
         <xs:sequence>
          <xs:element name="occupationid" type="xs:long" />
          <xs:element name="occupationstandardized" type="xs:string" />
          <xs:element name="occupationflag" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persondynamic" >
      <xs:sequence>
        <xs:element name="keytosourceregister" type="xs:long" />
        <xs:element name="dayentryhead" type="xs:long" />
        <xs:element name="monthentryhead" type="xs:long" />
        <xs:element name="yearentryhead" type="xs:long" />
        <xs:element name="keytorp" type="xs:long" />
        <xs:element name="keytoregistrationpersons" type="xs:long" />
        <xs:element name="dynamicdatatype" type="xs:long" />
        <xs:element name="dynamicdatasequencenumber" type="xs:long" />
        <xs:element name="contentofdynamicdata" type="xs:long" />
        <xs:element name="valueofrelatedperson" type="xs:long" />
        <xs:element name="natureofperson" type="xs:long" />
        <xs:element name="dayofmutation" type="xs:long" />
        <xs:element name="monthofmutation" type="xs:long" />
        <xs:element name="yearofmutation" type="xs:long" />
        <xs:element name="dayofmutationaftererpretation" type="xs:long" />
        <xs:element name="monthofmutationaftererpretation" type="xs:long" />
        <xs:element name="yearofmutationaftererpretation" type="xs:long" />
        <xs:element name="dynamicdata2" type="xs:string" />
        <xs:element name="ordernumber" type="xs:string" />
        <xs:element name="date0" type="xs:string" />
        <xs:element name="initials" type="xs:string" />
        <xs:element name="versionlasttimeofdataentry" type="xs:string" />
        <xs:element name="researchcodeoriginal" type="xs:string" />
        <xs:element name="ordernumberoriginal" type="xs:string" />
        <xs:element name="dateoriginal" type="xs:string" />
        <xs:element name="initialoriginal" type="xs:string" />
        <xs:element name="versionoriginaldataentry" type="xs:string" />
        <xs:element name="ordernumberi" type="xs:string" />
        <xs:element name="towhomdynamicdatarefers" type="person" nillable="true" minOccurs="0" />
        <xs:element name="standardizedpersondynamic" type="persondynamicstandardized" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 