formationheducap2019suite12/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jeuxinfoscomplet" >
      <xs:complexContent>
       <xs:extension base="jeuxavecediteur">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jeuxavecediteur" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jeuxvideo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="datesortie" type="xs:anyType" />
        <xs:element name="genres" type="genre" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="plateformes" type="plateforme" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="editeur" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genre" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="libelle" type="xs:string" />
        <xs:element name="jeuxvideos" type="jeuxvideo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="editeur" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="jeuxvideos" type="jeuxvideo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plateforme" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="marque" type="xs:string" />
        <xs:element name="jeuxvideos" type="jeuxvideo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databaseinitialiser" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jeuxvideorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="genrerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="editeurrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="plateformerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jeuxvideocontrolleur" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jeuxvideorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="editeurrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nanomaniaformapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genrerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<genre,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="plateformerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<plateforme,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="editeurrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<editeur,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jeuxvideorepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<jeuxvideo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 