fullstack982/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ceo" type="xs:string" />
        <xs:element name="board_of_directors" type="xs:string" />
        <xs:element name="listed_in_stock_exchanges" type="xs:string" />
        <xs:element name="sector" type="xs:string" />
        <xs:element name="turnover" type="xs:double" />
        <xs:element name="brief" type="xs:string" />
        <xs:element name="stock_code" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 