Geek-Text2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="demoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="isbn" type="xs:anyType" />
        <xs:element name="bookname" type="xs:string" />
        <xs:element name="bookdescription" type="xs:string" />
        <xs:element name="bookprice" type="xs:double" />
        <xs:element name="bookauthor" type="xs:string" />
        <xs:element name="bookgenre" type="xs:string" />
        <xs:element name="yearpublished" type="xs:anyType" />
        <xs:element name="copiessold" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<book,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="demoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 