Geek-Text2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="isbn" type="xs:anyType" />
        <xs:element name="bookname" type="xs:string" />
        <xs:element name="bookdescription" type="xs:string" />
        <xs:element name="bookprice" type="xs:double" />
        <xs:element name="bookauthor" type="xs:string" />
        <xs:element name="bookgenre" type="xs:string" />
        <xs:element name="yearpublished" type="xs:anyType" />
        <xs:element name="copiessold" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 