h-da-DB2-Praktikum/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="csvdatareader" >
      <xs:sequence>
        <xs:element name="split_character" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localdatetimeconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instantconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mastadata" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="analysiscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simulationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="categorycontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="countplayer" type="xs:long" />
        <xs:element name="countgameseach" type="xs:long" />
        <xs:element name="batchsize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gamecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="catcon" type="categorycontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameevaluation" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="game" nillable="true" minOccurs="0" />
        <xs:element name="questioncount" type="xs:long" />
        <xs:element name="countcorrectanswers" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorycontroller" >
      <xs:sequence>
        <xs:element name="categories" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
        <xs:element name="//db-entitymanageremf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="game" >
      <xs:sequence>
        <xs:element name="//varsid" type="xs:long" />
        <xs:element name="starttime" type="xs:dateTime" />
        <xs:element name="endtime" type="xs:dateTime" />
        <xs:element name="maxquestions" type="xs:long" />
        <xs:element name="GeneratedName" type="player" nillable="true" minOccurs="0" />
        <xs:element name="//@onetomany(targetentity" type="category" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="question" >
      <xs:sequence>
        <xs:element name="//neededfunctions://defaultconstructor,getter&setter,tostring,@entity,//@overrideequals(...)&hashid" type="xs:long" />
        <xs:element name="questiontext" type="xs:string" />
        <xs:element name="answer1answers1" type="xs:string" />
        <xs:element name="answers2" type="xs:string" />
        <xs:element name="answers3" type="xs:string" />
        <xs:element name="answers4" type="xs:string" />
        <xs:element name="correctanswer" type="xs:long" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questionasked" >
      <xs:sequence>
        <xs:element name="//varsid" type="xs:long" />
        <xs:element name="selectedanswer" type="xs:long" />
        <xs:element name="//booleancorrect" type="game" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="question" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="//neededfunctions:defaultconstructor,getter&setter,tostring,@entity,//@overrideequals(...)&hashid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="questions" type="question" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="games" type="game" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="//varsid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="games" type="game" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gameplay" >
      <xs:sequence>
        <xs:element name="gamecon" type="gamecontroller" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maintest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 