gamingcube/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="opengameweekview" >
      <xs:complexContent>
       <xs:extension base="horizontallayout">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="helloworldview" >
      <xs:complexContent>
       <xs:extension base="horizontallayout">
         <xs:sequence>
          <xs:element name="name" type="xs:anyType" />
          <xs:element name="sayhello" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="playersview" >
      <xs:complexContent>
       <xs:extension base="horizontallayout">
         <xs:sequence>
          <xs:element name="sitory" type="playerrepo" nillable="true" minOccurs="0" />
          <xs:element name="grid" type="player" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mainlayout" >
      <xs:complexContent>
       <xs:extension base="applayout">
         <xs:sequence>
          <xs:element name="viewtitle" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matchday" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="deadline" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="startdate" type="xs:anyType" />
        <xs:element name="enddate" type="xs:anyType" />
        <xs:element name="players2matchdays" type="players2matchdays" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="GeneratedName" type="club" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="players2matchdaysid" >
      <xs:sequence>
        <xs:element name="player" type="xs:long" />
        <xs:element name="matchday" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="club" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="players" type="player" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="players2matchdays" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="player" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="matchday" nillable="true" minOccurs="0" />
        <xs:element name="valuethen" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datafactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datapreparation" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="main_json_file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clubservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<club,">
         <xs:sequence>
          <xs:element name="" type="clubrepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="playerservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<player,">
         <xs:sequence>
          <xs:element name="" type="playerrepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matchdayservice" >
      <xs:complexContent>
       <xs:extension base="crudservice<matchday,">
         <xs:sequence>
          <xs:element name="" type="matchdayrepo" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="playerrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<player,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clubrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<club,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matchdayrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<matchday,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="players2matchdaysrepo" >
      <xs:complexContent>
       <xs:extension base="jparepository<players2matchdays,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jsonplayers" >
      <xs:sequence>
        <xs:element name="jsoncontent" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uefadata" >
      <xs:sequence>
        <xs:element name="main_url" type="xs:string" />
        <xs:element name="default_language" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="players" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 