Gradle51/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="movietest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="movies" nillable="true" minOccurs="0" />
        <xs:element name="manager" type="xs:anyType" />
        <xs:element name="employee" type="xs:anyType" />
        <xs:element name="container" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movies" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="director" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="year" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 