docente2/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ms010serviciolegajoapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errormensaje" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="messages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="archivoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ms010serviciolegajoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<archivo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="archivo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="GeneratedName" type="legajo" nillable="true" minOccurs="0" />
        <xs:element name="estado" type="xs:anyType" />
        <xs:element name="fecha" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="legajo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="//@notempty(message" type="xs:dateTime" />
        <xs:element name="numfolios" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivoserviceimpl" >
      <xs:sequence>
        <xs:element name="rootfolder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="archivorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archivoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 