hsn2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="//primarykeyid" type="xs:long" />
        <xs:element name="//idnrrpidnr" type="xs:long" />
        <xs:element name="//cc/pc/prsource" type="xs:string" />
        <xs:element name="//id_ifromcc/pc/prid_i" type="xs:long" />
        <xs:element name="//tobeconstructedid_i_new" type="xs:string" />
        <xs:element name="//firstsourcefoundstartcode" type="xs:long" />
        <xs:element name="familyname" type="xs:string" />
        <xs:element name="prefix" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="birthday" type="xs:long" />
        <xs:element name="birthmonth" type="xs:long" />
        <xs:element name="birthyear" type="xs:long" />
        <xs:element name="birthstartday" type="xs:long" />
        <xs:element name="birthstartmonth" type="xs:long" />
        <xs:element name="birthstartyear" type="xs:long" />
        <xs:element name="birthendday" type="xs:long" />
        <xs:element name="birthendmonth" type="xs:long" />
        <xs:element name="birthendyear" type="xs:long" />
        <xs:element name="//contextidbirthplaceid_bc" type="xs:string" />
        <xs:element name="deathday" type="xs:long" />
        <xs:element name="deathmonth" type="xs:long" />
        <xs:element name="deathyear" type="xs:long" />
        <xs:element name="//contextiddeceaseplaceid_dc" type="xs:string" />
        <xs:element name="//relationwithrprelationrp" type="xs:string" />
        <xs:element name="//relationwithrporiginalrelationrp" type="xs:string" />
        <xs:element name="//witnessorinformerfunction" type="xs:string" />
        <xs:element name="//personidwithingroup(rp's,mother's,etc,..)idwithingroup" type="xs:long" />
        <xs:element name="individual" type="individual" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indiv_indiv" type="indiv_indiv" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="indiv_context" type="indiv_context" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="individual" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="value" type="xs:string" />
        <xs:element name="id_c" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="hour" type="xs:long" />
        <xs:element name="minute" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indiv_context" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i" type="xs:long" />
        <xs:element name="id_c" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indiv_indiv" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="id_d" type="xs:string" />
        <xs:element name="id_i_1" type="xs:long" />
        <xs:element name="id_i_2" type="xs:long" />
        <xs:element name="source" type="xs:string" />
        <xs:element name="relation" type="xs:string" />
        <xs:element name="date_type" type="xs:string" />
        <xs:element name="estimation" type="xs:string" />
        <xs:element name="day" type="xs:long" />
        <xs:element name="month" type="xs:long" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="start_day" type="xs:long" />
        <xs:element name="start_month" type="xs:long" />
        <xs:element name="start_year" type="xs:long" />
        <xs:element name="end_day" type="xs:long" />
        <xs:element name="end_month" type="xs:long" />
        <xs:element name="end_year" type="xs:long" />
        <xs:element name="missing" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 