FirstHibernate13/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="account_no" type="xs:long" />
        <xs:element name="balance" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetails" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="products" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="physical_condition" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="expiry" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storage" >
      <xs:sequence>
        <xs:element name="storageno" type="xs:long" />
        <xs:element name="capacity" type="xs:long" />
        <xs:element name="//dry,cold,longtermtype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplier" >
      <xs:sequence>
        <xs:element name="supplierid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ph_no" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supermarket" >
      <xs:sequence>
        <xs:element name="marketid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="ph_no" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 