clmproject/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="kafkacontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootdemoapplicationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wordservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="standardservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtutil" >
      <xs:sequence>
        <xs:element name="//签名私钥" type="xs:anyType" />
        <xs:element name="//签名失效时间ttl" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httputil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontextutil" >
      <xs:sequence>
        <xs:element name="userholder" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="globaluserutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springcontextutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticutil" >
      <xs:sequence>
        <xs:element name="port" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionlogin" >
      <xs:complexContent>
       <xs:extension base="abstractlogin">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractlogin" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarysourceconfig" >
      <xs:sequence>
        <xs:element name="primary" type="xs:anyType" />
        <xs:element name="jpa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarysourceconfig" >
      <xs:sequence>
        <xs:element name="secondary" type="xs:anyType" />
        <xs:element name="jpa" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kafkaconfig" >
      <xs:sequence>
        <xs:element name="servers" type="xs:string" />
        <xs:element name="retries" type="xs:long" />
        <xs:element name="batchsize" type="xs:long" />
        <xs:element name="buffermemory" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kafkaappender" >
      <xs:complexContent>
       <xs:extension base="appenderbase<iloggingevent>">
         <xs:sequence>
          <xs:element name="kafkatemplate" type="xs:anyType" />
          <xs:element name="bootstrapservers" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseresponse" >
      <xs:sequence>
        <xs:element name="//结果状态码resultcode" type="xs:long" />
        <xs:element name="daa			//数据集daa" type="xs:anyType" />
        <xs:element name="//其它数据otherdata" type="xs:anyType" />
        <xs:element name="//提示消息message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resultcode" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootdemoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestlistenter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:sequence>
        <xs:element name="active" type="xs:string" />
        <xs:element name="//自定义的拦截器" type="authenticationinterceptor" nillable="true" minOccurs="0" />
        <xs:element name="////aaaaaa//参数解析器" type="currentusermethodargumentresolver" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mysecurityconfig" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filelistener" >
      <xs:complexContent>
       <xs:extension base="filealterationlisteneradaptor">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filemonitor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentusermethodargumentresolver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="currentuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springbootcommonexception" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commonexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="" type="resultcode" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticationinterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="jwtutil" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aaa" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contorlleraspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="pcutstr" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teacherdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<teacher,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="teacher" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teacherimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teachercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teacherservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="teacherservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="teacherdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="menuservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtutil" nillable="true" minOccurs="0" />
        <xs:element name="savetokenlocation" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rolecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kafkacontroller" >
      <xs:sequence>
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hellocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="//value注解用来读取配置文件中的值pagesize" type="xs:anyType" />
        <xs:element name="devname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="standardcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="standardservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wordcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wordservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="standardservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="standardrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wordservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="wordrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menuservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="menurepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="standardprimiarykey" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="version" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iroleservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imenuservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iuserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="istandservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="menulist" type="menu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="standard" >
      <xs:sequence>
        <xs:element name="//@generatedvalue表示sid为一个自增长字段，也就不需要设置set方法了id" type="xs:string" />
        <xs:element name="version" type="xs:string" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticentity" >
      <xs:sequence>
        <xs:element name="port" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wc_table" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="word" type="xs:string" />
        <xs:element name="count" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="menuname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="role_name" type="xs:string" />
        <xs:element name="menulist" type="menu" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wordrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<wc_table,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="menurepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<menu,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,integer>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="standardrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<standard,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parmvalidateconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduletask" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduletaskbyinterface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 