Code1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="showaliens" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aliendao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="aliendao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alien" >
      <xs:sequence>
        <xs:element name="//primarykeyaid" type="xs:long" />
        <xs:element name="aname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 