HSLDataKafkaExample/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="dbstoptime" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="stoptimenum" type="xs:long" />
        <xs:element name="tripid" type="xs:string" />
        <xs:element name="tripnum" type="xs:long" />
        <xs:element name="stopsequence" type="xs:long" />
        <xs:element name="stopid" type="xs:string" />
        <xs:element name="stopnum" type="xs:long" />
        <xs:element name="headsign" type="xs:string" />
        <xs:element name="arrival" type="xs:anyType" />
        <xs:element name="departure" type="xs:anyType" />
        <xs:element name="pickuptype" type="xs:long" />
        <xs:element name="dropofftype" type="xs:long" />
        <xs:element name="timepoint" type="xs:long" />
        <xs:element name="disttraveled" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbcalendardate" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="calendardatenum" type="xs:long" />
        <xs:element name="//@javax.persistence.id//@org.springframework.data.annotation.idserviceid" type="xs:long" />
        <xs:element name="//@javax.persistence.id//@org.springframework.data.annotation.idexceptiondate" type="xs:anyType" />
        <xs:element name="exceptiontype" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbstop" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="stopnum" type="xs:long" />
        <xs:element name="stopid" type="xs:string" />
        <xs:element name="stopcode" type="xs:string" />
        <xs:element name="stopname" type="xs:string" />
        <xs:element name="stopdescription" type="xs:string" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="locationtype" type="xs:long" />
        <xs:element name="parentstation" type="xs:string" />
        <xs:element name="//check:probablebooleaninreality.wheelchairboarding" type="xs:long" />
        <xs:element name="platformcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbtrip" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tripnum" type="xs:long" />
        <xs:element name="routenum" type="xs:long" />
        <xs:element name="servicenum" type="xs:long" />
        <xs:element name="tripid" type="xs:string" />
        <xs:element name="headsign" type="xs:string" />
        <xs:element name="direction" type="xs:long" />
        <xs:element name="starttime" type="xs:anyType" />
        <xs:element name="shapeid" type="xs:string" />
        <xs:element name="blockid" type="xs:string" />
        <xs:element name="shortname" type="xs:string" />
        <xs:element name="wheelchairaccessible" type="xs:long" />
        <xs:element name="bikesallowed" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbfrequency" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="frequencynum" type="xs:long" />
        <xs:element name="tripnum" type="xs:long" />
        <xs:element name="starttime" type="xs:anyType" />
        <xs:element name="endtime" type="xs:anyType" />
        <xs:element name="headwaysecs" type="xs:long" />
        <xs:element name="//todo:checkifthisactuallyboolean.exacttimes" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbcalendar" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="servicenum" type="xs:long" />
        <xs:element name="serviceid" type="xs:string" />
        <xs:element name="validfrom" type="xs:anyType" />
        <xs:element name="validuntil" type="xs:anyType" />
        <xs:element name="monday" type="xs:anyType" />
        <xs:element name="tuesday" type="xs:anyType" />
        <xs:element name="wednesday" type="xs:anyType" />
        <xs:element name="thursday" type="xs:anyType" />
        <xs:element name="friday" type="xs:anyType" />
        <xs:element name="saturday" type="xs:anyType" />
        <xs:element name="sunday" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbroute" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="routenum" type="xs:long" />
        <xs:element name="routeid" type="xs:string" />
        <xs:element name="shortname" type="xs:string" />
        <xs:element name="longname" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 