e-com/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniqueid" >
      <xs:sequence>
        <xs:element name="hardkey" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="md5hash" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transformutil" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordutils" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="alphabet" type="xs:string" />
        <xs:element name="iterations" type="xs:long" />
        <xs:element name="key_length" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constant" >
      <xs:sequence>
        <xs:element name="//apifomatdateapi_format_date" type="xs:string" />
        <xs:element name="//lang//langdefaultlang_default" type="xs:string" />
        <xs:element name="lang_auto" type="xs:string" />
        <xs:element name="billing_cycle" type="xs:long" />
        <xs:element name="lastweek_code" type="xs:long" />
        <xs:element name="last2weeks_code" type="xs:long" />
        <xs:element name="lastmonth_code" type="xs:long" />
        <xs:element name="last3months_code" type="xs:long" />
        <xs:element name="last6months_code" type="xs:long" />
        <xs:element name="lastyear_code" type="xs:long" />
        <xs:element name="one_minute_in_millis" type="xs:long" />
        <xs:element name="one_second_in_millis" type="xs:long" />
        <xs:element name="//15daysdefault_remember_login_miliseconds" type="xs:long" />
        <xs:element name="//30minutesdefault_session_time_out" type="xs:long" />
        <xs:element name="//definepagingresults,usefordefaultvalueof@requestparam,sotypeofdataisdefault_page_size" type="xs:string" />
        <xs:element name="default_page_number" type="xs:string" />
        <xs:element name="//definesortkeyvaluesort_by_product_name" type="xs:long" />
        <xs:element name="sort_by_product_price" type="xs:long" />
        <xs:element name="sort_by_product_quantity" type="xs:long" />
        <xs:element name="sort_by_product_create_date" type="xs:long" />
        <xs:element name="sort_by_first_name" type="xs:long" />
        <xs:element name="sort_by_last_name" type="xs:long" />
        <xs:element name="sort_by_email_address" type="xs:long" />
        <xs:element name="sort_by_create_date" type="xs:long" />
        <xs:element name="//definesortkeyvaluesort_by_items_quantity" type="xs:long" />
        <xs:element name="sort_by_grand_total" type="xs:long" />
        <xs:element name="//customtokenheaderheader_token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mimetypeutils" >
      <xs:sequence>
        <xs:element name="mimetypetoextensionmap" type="xs:anyType" />
        <xs:element name="default_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amazons3util" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
        <xs:element name="//clients3client" type="xs:anyType" />
        <xs:element name="accesskey" type="xs:string" />
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="bucketname" type="xs:string" />
        <xs:element name="/***uploadfile*@paramfilepath*@paramkeyname:keyname" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityfilter" >
      <xs:complexContent>
       <xs:extension base="delegatingfilterproxy">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imageutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xmlresponseparser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateutil" >
      <xs:sequence>
        <xs:element name="_date_max" type="xs:string" />
        <xs:element name="max_" type="xs:dateTime" />
        <xs:element name="_date_min" type="xs:string" />
        <xs:element name="_tz" type="xs:anyType" />
        <xs:element name="_fmtyear" type="xs:anyType" />
        <xs:element name="_fmtmonth" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stringutil" >
      <xs:sequence>
        <xs:element name="_hexcodes" type="xs:anyType" />
        <xs:element name="_shifts" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="valueconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutil" >
      <xs:sequence>
        <xs:element name="buffer_size" type="xs:long" />
        <xs:element name="parentname" type="xs:string" />
        <xs:element name="dir" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuser" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationinterceptor" >
      <xs:complexContent>
       <xs:extension base="webcontentinterceptor">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="authservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserauthservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuserdetailsserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="usertokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuserfactoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authuserfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userapi" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="authservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="otpservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="emailservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="cartandwishlistservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useraddressapi" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productapi" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="productservice" type="productserviceimpl" nillable="true" minOccurs="0" />
          <xs:element name="productattributeservice" type="productattributedetailservice" nillable="true" minOccurs="0" />
          <xs:element name="productcategoryrepository" type="productcategoryidmappingrepo" nillable="true" minOccurs="0" />
          <xs:element name="" type="categoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="imagerepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributeapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="productattributeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributedetailapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="productattributedetailservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apiname" >
      <xs:sequence>
        <xs:element name="//versionversion" type="xs:string" />
        <xs:element name="//charsetcharset" type="xs:string" />
        <xs:element name="//actionuserlogin" type="xs:string" />
        <xs:element name="logout" type="xs:string" />
        <xs:element name="//ssooauth_login" type="xs:string" />
        <xs:element name="oauth_implicit_login" type="xs:string" />
        <xs:element name="check_api_key" type="xs:string" />
        <xs:element name="//productapilinksproducts" type="xs:string" />
        <xs:element name="products_by_category" type="xs:string" />
        <xs:element name="product_by_id" type="xs:string" />
        <xs:element name="product_by_ids" type="xs:string" />
        <xs:element name="products_filter_list" type="xs:string" />
        <xs:element name="product_details" type="xs:string" />
        <xs:element name="product_attributes" type="xs:string" />
        <xs:element name="product_create" type="xs:string" />
        <xs:element name="products_delete" type="xs:string" />
        <xs:element name="products_update" type="xs:string" />
        <xs:element name="products_image_upload" type="xs:string" />
        <xs:element name="products_image" type="xs:string" />
        <xs:element name="//categoryapilinkscategories" type="xs:string" />
        <xs:element name="categories_id" type="xs:string" />
        <xs:element name="//companyapilinkcompanies" type="xs:string" />
        <xs:element name="companies_search_by_id" type="xs:string" />
        <xs:element name="//userapilinkusers" type="xs:string" />
        <xs:element name="user_register" type="xs:string" />
        <xs:element name="user_list" type="xs:string" />
        <xs:element name="users_login" type="xs:string" />
        <xs:element name="users_logout" type="xs:string" />
        <xs:element name="update" type="xs:string" />
        <xs:element name="save" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="user_details" type="xs:string" />
        <xs:element name="update_user" type="xs:string" />
        <xs:element name="delete_user" type="xs:string" />
        <xs:element name="change_password_user" type="xs:string" />
        <xs:element name="send_otp" type="xs:string" />
        <xs:element name="//reviewapilinkreviews" type="xs:string" />
        <xs:element name="reviews_by_product_id" type="xs:string" />
        <xs:element name="reviews_add" type="xs:string" />
        <xs:element name="//ordersorders" type="xs:string" />
        <xs:element name="order_create" type="xs:string" />
        <xs:element name="order_get" type="xs:string" />
        <xs:element name="orders_by_company" type="xs:string" />
        <xs:element name="orders_detail_by_id" type="xs:string" />
        <xs:element name="change_status_orders_by_company" type="xs:string" />
        <xs:element name="initiate_payment" type="xs:string" />
        <xs:element name="complete_payment" type="xs:string" />
        <xs:element name="cancel_order" type="xs:string" />
        <xs:element name="//authapisauth_api" type="xs:string" />
        <xs:element name="session_data" type="xs:string" />
        <xs:element name="user_logout" type="xs:string" />
        <xs:element name="admin_login_api" type="xs:string" />
        <xs:element name="//categoriesapiscategories_api" type="xs:string" />
        <xs:element name="categories_add" type="xs:string" />
        <xs:element name="categories_update" type="xs:string" />
        <xs:element name="categories_delete" type="xs:string" />
        <xs:element name="categories_detail" type="xs:string" />
        <xs:element name="categories_list" type="xs:string" />
        <xs:element name="//uploadfileapiupload_api" type="xs:string" />
        <xs:element name="upload_file" type="xs:string" />
        <xs:element name="//healthcheckhealth_api" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadfilecontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="uploadpath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="catetoriescontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="categoriesservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="companyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractbasecontroller" >
      <xs:sequence>
        <xs:element name="userdetailsservice" type="customuserauthservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="responseutil" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="authservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="authuserfactory" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractbaseapi" >
      <xs:sequence>
        <xs:element name="userdetailsservice" type="customuserauthservice" nillable="true" minOccurs="0" />
        <xs:element name="////buildsettingforclassacceptnullvalue//" type="xs:anyType" />
        <xs:element name="//mapperobjectisusedtoconvertobjectandetc...mapper" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="statusresponse" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apistatus" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responseutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
          <xs:element name="" type="responseutil" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apiresponse" >
      <xs:sequence>
        <xs:element name="/***status&messagefieldshavenotsetter.theyareassignedvaluewhen*initialbyapistatusparameter*/status" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderresponsemodel" >
      <xs:sequence>
        <xs:element name="productlist" type="orderdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="useraddress" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orders" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userchoicesresponse" >
      <xs:sequence>
        <xs:element name="productlist" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userloginresponse" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdetailresponsemodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="roleid" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
        <xs:element name="salt" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statusresponse" >
      <xs:sequence>
        <xs:element name="resul" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="statuscode" type="xs:long" />
        <xs:element name="totalrecords" type="xs:long" />
        <xs:element name="servertime" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagingresponsemodel" >
      <xs:sequence>
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="totalresult" type="xs:long" />
        <xs:element name="totalpage" type="xs:long" />
        <xs:element name="currentpage" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="healthcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="reviewservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="repository" type="categoryrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userlistrequestmodel" >
      <xs:sequence>
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrequestmodel" >
      <xs:sequence>
        <xs:element name="productlist" type="orderdetail" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="totalitemscost" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productinfo" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createproductmodel" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="listcategoriesid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="browsingname" type="xs:string" />
        <xs:element name="saleprice" type="xs:double" />
        <xs:element name="listprice" type="xs:double" />
        <xs:element name="defaultimage" type="xs:string" />
        <xs:element name="overview" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="isstockcontrolled" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="sku" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentrequest" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:string" />
        <xs:element name="paymentorderid" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="razorpay_payment_id" type="xs:string" />
        <xs:element name="razorpay_order_id" type="xs:string" />
        <xs:element name="razorpay_signature" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersrequestmodel" >
      <xs:sequence>
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatecategoryrequestmodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authrequestmodel" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="otp" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="keepmelogin" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagerequest" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="imagetypes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userchangepasswordmodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="oldpassword" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createcategoryrequestmodel" >
      <xs:sequence>
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="position" type="xs:anyType" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listproductmodel" >
      <xs:sequence>
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="minprice" type="xs:double" />
        <xs:element name="maxprice" type="xs:double" />
        <xs:element name="minrank" type="xs:long" />
        <xs:element name="maxrank" type="xs:long" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="pagenumber" type="xs:long" />
        <xs:element name="pagesize" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcompanymodel" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrequestmodel" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="otp" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="initpaymentresponse" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="paymentpartnerorderid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderscontroller" >
      <xs:complexContent>
       <xs:extension base="abstractbasecontroller">
         <xs:sequence>
          <xs:element name="" type="orderservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdetailservice" nillable="true" minOccurs="0" />
          <xs:element name="orderaddresslservice" type="orderaddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderpaymentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="productservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="paymentrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderaddressservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordersapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="ordersservice" nillable="true" minOccurs="0" />
          <xs:element name="customerservice" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="useraddressservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderaddressimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="productservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdetailimpl" nillable="true" minOccurs="0" />
          <xs:element name="" type="responseutil" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="paymentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="ordersrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractresthandler" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="default_page_size" type="xs:string" />
        <xs:element name="default_page_num" type="xs:string" />
        <xs:element name="//mapperobjectisusedtoconvertobjectandetc...mapper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyapi" >
      <xs:complexContent>
       <xs:extension base="abstractbaseapi">
         <xs:sequence>
          <xs:element name="" type="companyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="permissionenum" >
      <xs:sequence>
        <xs:element name="role" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pickrrstatusenum" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationqueuemanager" >
      <xs:sequence>
        <xs:element name="//instanceinstance" type="notificationqueuemanager" nillable="true" minOccurs="0" />
        <xs:element name="//encodequeuemessagemessages" type="notificationmessage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="messagesystemnotify" type="notificationmessage" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationmessage" >
      <xs:sequence>
        <xs:element name="code" type="xs:long" />
        <xs:element name="body" type="xs:anyType" />
        <xs:element name="clientid" type="xs:string" />
        <xs:element name="projectid" type="xs:string" />
        <xs:element name="notifyuserids" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="incompleteemailexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailaddressvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidemailaddressexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailbuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailmessage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="emailaddressvalidator" nillable="true" minOccurs="0" />
        <xs:element name="fromaddress" type="xs:string" />
        <xs:element name="toaddresses" type="xs:anyType" />
        <xs:element name="ccaddresses" type="xs:anyType" />
        <xs:element name="bccaddresses" type="xs:anyType" />
        <xs:element name="attachments" type="xs:anyType" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="body" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailtransportexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailservice" >
      <xs:sequence>
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="emailsender" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resterrorinfo" >
      <xs:sequence>
        <xs:element name="detail" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderaddressrepository" >
      <xs:complexContent>
       <xs:extension base="abstractrepo<orderaddress,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcategoryrepository" >
      <xs:complexContent>
       <xs:extension base="abstractrepo<productcategory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userchoicesrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<userchoices,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcategoryidmappingrepo" >
      <xs:complexContent>
       <xs:extension base="abstractrepo<productcategoryid,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<image,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordersspecification" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="ascsort" type="xs:anyType" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productspecification" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="categoryid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="minprice" type="xs:double" />
        <xs:element name="maxprice" type="xs:double" />
        <xs:element name="minrank" type="xs:long" />
        <xs:element name="maxrank" type="xs:long" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="isascsort" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoryspecifications" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userspecification" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="searchkey" type="xs:string" />
        <xs:element name="sortcase" type="xs:long" />
        <xs:element name="isascsort" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpaymentrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<orderpayment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productattribute,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="refundsrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<refunds,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<payments,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdetailrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<orderdetail,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertokenrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<usertoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="companyrepository" >
      <xs:complexContent>
       <xs:extension base="abstractrepo<company,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoryrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<category,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useraddressrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<useraddress,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractrepo" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="abstractrepo<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reviewrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<review,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributedetailrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<productattributedetail,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordersrepository" >
      <xs:complexContent>
       <xs:extension base="abstractrepo<orders,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usertokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="otpservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reviewservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reviewrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messageservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriesserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="categoryrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="categoryspecifications" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoriesservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertokenservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="usertokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartandwishlistservice" >
      <xs:sequence>
        <xs:element name="cartrepository" type="userchoicesrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="otpservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messageservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="useraddressservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="useraddressrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderaddressservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetailimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="orderdetailrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="paymentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ordersrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="refundsrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="ordersrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderpaymentimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderaddressimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="orderaddressrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdetailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpaymentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractbaseservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productattributerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="companyservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="companyrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributedetailservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productattributedetailrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authserviceimpl" >
      <xs:complexContent>
       <xs:extension base="abstractbaseservice">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="usertokenrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="authuserfactory" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordersservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="ordersrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productcategoryidmappingrepo" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="imagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="redisconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="redisip" type="xs:string" />
        <xs:element name="redisport" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
        <xs:element name="emailusername" type="xs:string" />
        <xs:element name="emailpassword" type="xs:string" />
        <xs:element name="secretkey" type="xs:string" />
        <xs:element name="secretid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceconfig" >
      <xs:sequence>
        <xs:element name="driverclassname" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localqueuemanager" >
      <xs:sequence>
        <xs:element name="//instanceinstance" type="localqueuemanager" nillable="true" minOccurs="0" />
        <xs:element name="emailqueue" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattributedetail" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="productid" type="xs:long" />
          <xs:element name="attributeid" type="xs:long" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="valuenumberic" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertoken" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="login" type="xs:dateTime" />
        <xs:element name="expiration" type="xs:dateTime" />
        <xs:element name="sessiondata" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="saleprice" type="xs:double" />
          <xs:element name="listprice" type="xs:double" />
          <xs:element name="defaultimage" type="xs:string" />
          <xs:element name="overview" type="xs:string" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="isstockcontrolled" type="xs:anyType" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="rank" type="xs:long" />
          <xs:element name="sku" type="xs:string" />
          <xs:element name="browsingname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="payments" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="userid" type="xs:string" />
          <xs:element name="amount" type="xs:anyType" />
          <xs:element name="pgprovider" type="xs:string" />
          <xs:element name="platform" type="xs:string" />
          <xs:element name="pgtransactionid" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="createddate" type="xs:anyType" />
          <xs:element name="updateddate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useraddress" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="pincode" type="xs:string" />
          <xs:element name="landmark" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="theme" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="version" type="xs:string" />
          <xs:element name="thumbnail" type="xs:string" />
          <xs:element name="sourcepath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitems" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="displayamount" type="xs:anyType" />
        <xs:element name="amount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="reviewid" type="xs:anyType" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderpaymentpk" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedat" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userchoices" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="updon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="imagetype" type="xs:string" />
        <xs:element name="image" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="position" type="xs:anyType" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wishlist" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="createdon" type="xs:dateTime" />
        <xs:element name="updon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="roleid" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productattribute" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="attributeid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcategoryid" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="productid" type="xs:long" />
          <xs:element name="categoryid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderaddress" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="pincode" type="xs:string" />
          <xs:element name="landmark" type="xs:string" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cartwishlistdata" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="details" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="create" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderreport" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="orderid" type="xs:long" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="note" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="orderaddressid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="itemscount" type="xs:anyType" />
        <xs:element name="itemsquantity" type="xs:anyType" />
        <xs:element name="deliveryid" type="xs:string" />
        <xs:element name="couponid" type="xs:string" />
        <xs:element name="totalitemscost" type="xs:anyType" />
        <xs:element name="deliverycharge" type="xs:anyType" />
        <xs:element name="coupondiscount" type="xs:anyType" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="customeremail" type="xs:string" />
        <xs:element name="paymentpartnerorderid" type="xs:string" />
        <xs:element name="previous_status" type="xs:string" />
        <xs:element name="platform" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productcategory" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="type" type="categorytype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderpayment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="transactionid" type="xs:long" />
        <xs:element name="status" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderdetail" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="productid" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="saleprice" type="xs:double" />
        <xs:element name="listprice" type="xs:double" />
        <xs:element name="producttype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payments" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="userid" type="xs:string" />
          <xs:element name="amount" type="xs:anyType" />
          <xs:element name="pgprovider" type="xs:string" />
          <xs:element name="platform" type="xs:string" />
          <xs:element name="pgtransactionid" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="createddate" type="xs:anyType" />
          <xs:element name="updateddate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderreport" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="reportid" type="xs:long" />
          <xs:element name="orderid" type="xs:long" />
          <xs:element name="status" type="xs:anyType" />
          <xs:element name="note" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderaddress" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="pincode" type="xs:string" />
          <xs:element name="landmark" type="xs:string" />
          <xs:element name="customername" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cartwishlistdata" >
      <xs:sequence>
        <xs:element name="productid" type="xs:long" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="details" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="theme" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="version" type="xs:string" />
          <xs:element name="thumbnail" type="xs:string" />
          <xs:element name="sourcepath" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedat" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="deleted" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refunds" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="paymentid" type="xs:long" />
          <xs:element name="amount" type="xs:anyType" />
          <xs:element name="refundid" type="xs:string" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="gatewayrefundresponse" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderpaymentpk" >
      <xs:sequence>
        <xs:element name="orderid" type="xs:long" />
        <xs:element name="paymentid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="productid" type="xs:long" />
          <xs:element name="imagetype" type="xs:string" />
          <xs:element name="image" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdetail" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="orderid" type="xs:long" />
          <xs:element name="productid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="saleprice" type="xs:double" />
          <xs:element name="listprice" type="xs:double" />
          <xs:element name="producttype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="orderaddressid" type="xs:long" />
          <xs:element name="paymentid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="status" type="xs:string" />
          <xs:element name="itemscount" type="xs:anyType" />
          <xs:element name="itemsquantity" type="xs:anyType" />
          <xs:element name="deliveryid" type="xs:string" />
          <xs:element name="couponid" type="xs:string" />
          <xs:element name="totalitemscost" type="xs:anyType" />
          <xs:element name="deliverycharge" type="xs:anyType" />
          <xs:element name="coupondiscount" type="xs:anyType" />
          <xs:element name="amount" type="xs:anyType" />
          <xs:element name="customeremail" type="xs:string" />
          <xs:element name="paymentpartnerorderid" type="xs:string" />
          <xs:element name="previous_status" type="xs:string" />
          <xs:element name="platform" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertoken" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="token" type="xs:string" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="login" type="xs:dateTime" />
          <xs:element name="expiration" type="xs:dateTime" />
          <xs:element name="sessiondata" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="roleid" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="encryptedpassword" type="xs:string" />
          <xs:element name="salt" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderpayment" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="orderid" type="xs:long" />
          <xs:element name="paymentid" type="xs:long" />
          <xs:element name="transactionid" type="xs:long" />
          <xs:element name="status" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="position" type="xs:anyType" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="saleprice" type="xs:double" />
          <xs:element name="listprice" type="xs:double" />
          <xs:element name="defaultimage" type="xs:string" />
          <xs:element name="overview" type="xs:string" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="isstockcontrolled" type="xs:anyType" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="rank" type="xs:long" />
          <xs:element name="sku" type="xs:string" />
          <xs:element name="browsingname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="wishlist" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="userid" type="xs:long" />
          <xs:element name="data" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderitems" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="orderid" type="xs:long" />
          <xs:element name="productid" type="xs:long" />
          <xs:element name="displayamount" type="xs:anyType" />
          <xs:element name="amount" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useraddress" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="address" type="xs:string" />
          <xs:element name="pincode" type="xs:string" />
          <xs:element name="landmark" type="xs:string" />
          <xs:element name="username" type="xs:string" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="review" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="reviewid" type="xs:anyType" />
          <xs:element name="userid" type="xs:long" />
          <xs:element name="productid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="rank" type="xs:long" />
          <xs:element name="comment" type="xs:string" />
          <xs:element name="create" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="create" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcategoryid" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="productid" type="xs:long" />
          <xs:element name="categoryid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productcategory" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="description" type="xs:string" />
          <xs:element name="type" type="categorytype" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userchoices" >
      <xs:complexContent>
       <xs:extension base="abstractentity{">
         <xs:sequence>
          <xs:element name="userid" type="xs:long" />
          <xs:element name="data" type="xs:string" />
          <xs:element name="type" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattribute" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="attributeid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productattributedetail" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="productid" type="xs:long" />
          <xs:element name="attributeid" type="xs:long" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="valuenumberic" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="companyid" type="xs:long" />
          <xs:element name="roleid" type="xs:long" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="middlename" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="status" type="xs:long" />
          <xs:element name="phone" type="xs:string" />
          <xs:element name="encryptedpassword" type="xs:string" />
          <xs:element name="salt" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="application_name" type="application" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataformatexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="" type="apistatus" nillable="true" minOccurs="0" />
          <xs:element name="data" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pickrrclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message91client" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobworker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentsloginfo" >
      <xs:sequence>
        <xs:element name="contentid" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="useridopen" type="xs:string" />
        <xs:element name="opentime" type="xs:dateTime" />
        <xs:element name="os" type="xs:string" />
        <xs:element name="bookendversion" type="xs:string" />
        <xs:element name="ipaddress" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ipmodel" >
      <xs:sequence>
        <xs:element name="longitude" type="xs:string" />
        <xs:element name="latitude" type="xs:string" />
        <xs:element name="city" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schedulerservice" >
      <xs:sequence>
        <xs:element name="appcontext" type="xs:anyType" />
        <xs:element name="taskexecutor" type="xs:anyType" />
        <xs:element name="GeneratedName" type="appconfig" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uservalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restcontrolleraspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pickrrplaceorderresponse" >
      <xs:complexContent>
       <xs:extension base="pickrrresponse{">
         <xs:sequence>
          <xs:element name="trackingid" type="xs:string" />
          <xs:element name="orderid" type="xs:string" />
          <xs:element name="orderpk" type="xs:string" />
          <xs:element name="manifestlink" type="xs:string" />
          <xs:element name="routingcode" type="xs:string" />
          <xs:element name="clientorderid" type="xs:string" />
          <xs:element name="courier" type="xs:string" />
          <xs:element name="dispatchmode" type="xs:string" />
          <xs:element name="childwaybilllist" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pickrrtradeorderresponse" >
      <xs:complexContent>
       <xs:extension base="pickrrresponse{">
         <xs:sequence>
          <xs:element name="trackingid" type="xs:string" />
          <xs:element name="clientorderid" type="xs:string" />
          <xs:element name="ordertype" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="arr" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pickrrcheckserviceresponse" >
      <xs:complexContent>
       <xs:extension base="pickrrresponse{">
         <xs:sequence>
          <xs:element name="codlimit" type="xs:double" />
          <xs:element name="hascod" type="xs:anyType" />
          <xs:element name="haspickup" type="xs:anyType" />
          <xs:element name="hasprepaid" type="xs:anyType" />
          <xs:element name="tocity" type="xs:string" />
          <xs:element name="tostate" type="xs:string" />
          <xs:element name="eddstamp" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pickrrresponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="err" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pickrrcancelorderresponse" >
      <xs:complexContent>
       <xs:extension base="pickrrresponse{">
         <xs:sequence>
          <xs:element name="cancelledidlist" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pickrrfetchpriceresponse" >
      <xs:complexContent>
       <xs:extension base="pickrrresponse{">
         <xs:sequence>
          <xs:element name="ratelists" type="xs:anyType" />
          <xs:element name="billingzone" type="xs:string" />
          <xs:element name="chargeableweight" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idinformationcontrollertest" >
      <xs:sequence>
        <xs:element name="resource_location_pattern" type="xs:string" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="mvc" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 