formationheducap2019suite7/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="livreinfosformapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="livre" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="isbn" type="xs:string" />
        <xs:element name="titre" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="nbpages" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="livrecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="livrerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="livrerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<livre,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 