emp-manage/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="deptemp" >
      <xs:sequence>
        <xs:element name="empno" type="xs:long" />
        <xs:element name="deptno" type="xs:string" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deptmanager" >
      <xs:sequence>
        <xs:element name="empno" type="xs:long" />
        <xs:element name="deptno" type="xs:string" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="deptno" type="xs:string" />
        <xs:element name="deptname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salary" >
      <xs:sequence>
        <xs:element name="empno" type="xs:long" />
        <xs:element name="salary" type="xs:long" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="empno" type="xs:long" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="hire" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="title" >
      <xs:sequence>
        <xs:element name="empno" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="from" type="xs:dateTime" />
        <xs:element name="to" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 