controleFinanceiroApi/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="despesafixames" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="mes" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="despesafixa" nillable="true" minOccurs="0" />
        <xs:element name="ativo" type="xs:anyType" />
        <xs:element name="valor" type="xs:double" />
        <xs:element name="previsao" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="despesa" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="mes" nillable="true" minOccurs="0" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="valor" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usuario" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="senha" type="xs:string" />
        <xs:element name="nome" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mes" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="mes" type="xs:long" />
        <xs:element name="ano" type="xs:long" />
        <xs:element name="GeneratedName" type="usuario" nillable="true" minOccurs="0" />
        <xs:element name="encerrado" type="xs:anyType" />
        <xs:element name="salario" type="xs:double" />
        <xs:element name="economia" type="xs:double" />
        <xs:element name="livre" type="xs:double" />
        <xs:element name="totalcartao" type="xs:double" />
        <xs:element name="totalfixo" type="xs:double" />
        <xs:element name="totalgasto" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="despesacartao" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="GeneratedName" type="cartao" nillable="true" minOccurs="0" />
        <xs:element name="valor" type="xs:double" />
        <xs:element name="GeneratedName" type="mes" nillable="true" minOccurs="0" />
        <xs:element name="terceiros" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="despesafixa" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="vencimento" type="xs:long" />
        <xs:element name="GeneratedName" type="usuario" nillable="true" minOccurs="0" />
        <xs:element name="tipo" type="xs:string" />
        <xs:element name="calculo" type="xs:string" />
        <xs:element name="ativo" type="xs:anyType" />
        <xs:element name="valor" type="xs:double" />
        <xs:element name="parte" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartao" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="ativo" type="xs:anyType" />
        <xs:element name="fechamento" type="xs:anyType" />
        <xs:element name="vencimento" type="xs:anyType" />
        <xs:element name="GeneratedName" type="usuario" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 