cquptCommunity18/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userfollow" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="targetuser" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//登陆名称loginname" type="xs:string" />
        <xs:element name="//密码password" type="xs:string" />
        <xs:element name="//状态state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//手机号码mobile" type="xs:string" />
        <xs:element name="//密码password" type="xs:string" />
        <xs:element name="//昵称nickname" type="xs:string" />
        <xs:element name="//性别sex" type="xs:string" />
        <xs:element name="//出生年月日birthday" type="xs:anyType" />
        <xs:element name="//头像avatar" type="xs:string" />
        <xs:element name="//e-mailemail" type="xs:string" />
        <xs:element name="//注册日期regdate" type="xs:anyType" />
        <xs:element name="//修改日期updatedate" type="xs:anyType" />
        <xs:element name="//最后登陆日期lastdate" type="xs:anyType" />
        <xs:element name="//在线时长（分钟）online" type="xs:long" />
        <xs:element name="//兴趣interest" type="xs:string" />
        <xs:element name="//个性personality" type="xs:string" />
        <xs:element name="//粉丝数fanscount" type="xs:anyType" />
        <xs:element name="//关注数followcount" type="xs:anyType" />
        <xs:element name="//居住城市locationcity" type="xs:string" />
        <xs:element name="//毕业院校college" type="xs:string" />
        <xs:element name="//所学专业major" type="xs:string" />
        <xs:element name="//学历education" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 