aws-proyecto-ms1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="productomsapplicationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productomsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productoservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productoserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoria" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="producto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="precio" type="xs:double" />
        <xs:element name="estado" type="xs:string" />
        <xs:element name="GeneratedName" type="categoria" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productocontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<producto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 