DAM2nuevo/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ex5_m9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exercicio2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desencriptacio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generacio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encriptacio" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bruto" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cifrado" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="descifrado" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="act3_m9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex4_m9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marca" >
      <xs:sequence>
        <xs:element name="marca" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="any" type="xs:long" />
        <xs:element name="matricula" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escriurefitxer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="llegeixfitxer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exercicio5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="veureinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="geocoded_column" >
      <xs:sequence>
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="longitude" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fitxa" >
      <xs:sequence>
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jaxbexample" >
      <xs:sequence>
        <xs:element name="rows_xml_file" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alumne" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="nota" type="xs:long" />
        <xs:element name="nom" type="xs:string" />
        <xs:element name="cognom1" type="xs:string" />
        <xs:element name="cognom2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="row" >
      <xs:sequence>
        <xs:element name="_id" type="xs:string" />
        <xs:element name="_uuid" type="xs:string" />
        <xs:element name="_position" type="xs:long" />
        <xs:element name="_address" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="clau" type="xs:string" />
        <xs:element name="titol" type="xs:string" />
        <xs:element name="x" type="xs:double" />
        <xs:element name="y" type="xs:double" />
        <xs:element name="desapareguda" type="xs:string" />
        <xs:element name="bandol" type="xs:string" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="numrestes" type="xs:string" />
        <xs:element name="municipi" type="xs:string" />
        <xs:element name="comarca" type="xs:string" />
        <xs:element name="idcategoria" type="xs:string" />
        <xs:element name="estudi_ebre" type="xs:string" />
        <xs:element name="GeneratedName" type="fitxa" nillable="true" minOccurs="0" />
        <xs:element name="excavades" type="xs:string" />
        <xs:element name="GeneratedName" type="geocoded_column" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rows" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="row" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alumnes" >
      <xs:sequence>
        <xs:element name="s" type="alumne" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exercicio4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="escriufitxeraleatori" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lleguirfitxeraleatori" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultarfitxeraleatori" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ant-deploy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest_jsp.class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest_jsp" >
      <xs:complexContent>
       <xs:extension base="org.apache.jasper.runtime.httpjspbase">
         <xs:sequence>
          <xs:element name="_jspxfactory" type="xs:anyType" />
          <xs:element name="_jspx_dependants" type="xs:anyType" />
          <xs:element name="_jspx_resourceinjector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="guest_jsp.class" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest_jsp" >
      <xs:complexContent>
       <xs:extension base="org.apache.jasper.runtime.httpjspbase">
         <xs:sequence>
          <xs:element name="_jspxfactory" type="xs:anyType" />
          <xs:element name="_jspx_dependants" type="xs:anyType" />
          <xs:element name="_jspx_resourceinjector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gfv3ee6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="point" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:long" />
        <xs:element name="y" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exercicio7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectdb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allclasses-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overview-frame" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="allclasses-noframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="guestdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestdao" >
      <xs:sequence>
        <xs:element name="//injecteddatabaseconnection:em" type="entitymanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="point" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:long" />
        <xs:element name="y" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="guestlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sun-web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestdao" >
      <xs:sequence>
        <xs:element name="//injecteddatabaseconnection:em" type="entitymanager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guestservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="//injecteddaoejb:" type="guestdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enhancer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdodetachedfieldaccessexception" >
      <xs:complexContent>
       <xs:extension base="jdouserexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orm_2_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencemanagerfactory" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdoquery_2_0" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoconnection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datastorecache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoexception" >
      <xs:complexContent>
       <xs:extension base="java.lang.runtimeexception">
         <xs:sequence>
          <xs:element name="nested" type="xs:anyType" />
          <xs:element name="*/failed" type="xs:anyType" />
          <xs:element name="/***theinternationalizationmessagehelper.*///noi18nmsg" type="i18nhelper" nillable="true" minOccurs="0" />
          <xs:element name="/***flagindicatingwhetherprintstacktraceisbeingexecuted.*/inprintstacktrace" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdofatalinternalexception" >
      <xs:complexContent>
       <xs:extension base="jdofatalexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdo_2_2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdofataluserexception" >
      <xs:complexContent>
       <xs:extension base="jdofatalexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectstate" >
      <xs:sequence>
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadlifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detachcallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachcallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadcallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletelifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="createlifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dirtylifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instancelifecyclelistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storecallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clearcallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletecallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clearlifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachlifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storelifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detachlifecyclelistener" >
      <xs:complexContent>
       <xs:extension base="instancelifecyclelistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instancelifecycleevent" >
      <xs:complexContent>
       <xs:extension base="java.util.eventobject">
         <xs:sequence>
          <xs:element name="first_event_type" type="xs:long" />
          <xs:element name="create" type="xs:long" />
          <xs:element name="load" type="xs:long" />
          <xs:element name="store" type="xs:long" />
          <xs:element name="clear" type="xs:long" />
          <xs:element name="delete" type="xs:long" />
          <xs:element name="dirty" type="xs:long" />
          <xs:element name="detach" type="xs:long" />
          <xs:element name="attach" type="xs:long" />
          <xs:element name="last_event_type" type="xs:long" />
          <xs:element name="/***theinternationalizationmessagehelper.*///noi18nmsg" type="i18nhelper" nillable="true" minOccurs="0" />
          <xs:element name="/***theeventtypethattriggeredtheconstructionofthiseventobject.*/eventtype" type="xs:long" />
          <xs:element name="/***the"other"associatedwiththeevent.*/target" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdofatalexception" >
      <xs:complexContent>
       <xs:extension base="jdoexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdonullidentityexception" >
      <xs:complexContent>
       <xs:extension base="jdouserexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdoquery_2_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdocanretryexception" >
      <xs:complexContent>
       <xs:extension base="jdoexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extent" >
      <xs:complexContent>
       <xs:extension base="iterable<e>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orm_2_0" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdooptimisticverificationexception" >
      <xs:complexContent>
       <xs:extension base="jdofataldatastoreexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="shortidentity" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="key" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="longidentity" >
      <xs:complexContent>
       <xs:extension base="singlefieldidentity">
         <xs:sequence>
          <xs:element name="/***thekey.*/key" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="byteidentity" >
      <xs:complexContent>
       <xs:extension base="singlefieldidentity">
         <xs:sequence>
          <xs:element name="/***thekey.*/key" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singlefieldidentity" >
      <xs:sequence>
        <xs:element name="/***theinternationalizationmessagehelper.*///noi18nmsg" type="i18nhelper" nillable="true" minOccurs="0" />
        <xs:element name="/***theofthetargetobject.*/transienttarget" type="xs:anyType" />
        <xs:element name="/***thenameoftheclassofthetargetobject.*/targetclassname" type="xs:string" />
        <xs:element name="/***thehashcode.*/hashcode" type="xs:long" />
        <xs:element name="/***thekeyasan.*/keyas" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectidentity" >
      <xs:complexContent>
       <xs:extension base="singlefieldidentity">
         <xs:sequence>
          <xs:element name="/***thekeyisstoredinthesuperclassfieldkeyasobject.*//***theinstanceusedforparsingthestringtoanobject.*/helper" type="jdoimplhelper" nillable="true" minOccurs="0" />
          <xs:element name="/***thedelimiterforconstructor.*///noi18n_delimiter" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="intidentity" >
      <xs:complexContent>
       <xs:extension base="singlefieldidentity">
         <xs:sequence>
          <xs:element name="key" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="charidentity" >
      <xs:complexContent>
       <xs:extension base="singlefieldidentity">
         <xs:sequence>
          <xs:element name="/***theinternationalizationmessagehelper.*///noi18nmsg" type="i18nhelper" nillable="true" minOccurs="0" />
          <xs:element name="/***thekey.*/key" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stringidentity" >
      <xs:complexContent>
       <xs:extension base="singlefieldidentity">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdoobjectnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="jdodatastoreexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="stateinterrogation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statemanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerclasslistener" >
      <xs:complexContent>
       <xs:extension base="eventlistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdoimplhelper" >
      <xs:complexContent>
       <xs:extension base="java.lang.object">
         <xs:sequence>
          <xs:element name="*class.entriesareneverremoved.*/registeredclasses" type="xs:anyType" />
          <xs:element name="/***thissetcontainsallclassesthathaveregisteredforsetstatemanager*permissionsviaauthorizestatemanagerclass.*/authorizedstatemanagerclasses" type="xs:anyType" />
          <xs:element name="s.*/eners" type="xs:anyType" />
          <xs:element name="/***theofregisteredstateinterrogationinstances*/stateinterrogations" type="xs:anyType" />
          <xs:element name="instance.*/" type="jdoimplhelper" nillable="true" minOccurs="0" />
          <xs:element name="/***theinternationalizationmessagehelper.*/msg" type="i18nhelper" nillable="true" minOccurs="0" />
          <xs:element name="/***thedateformatpattern.*/dateformatpattern" type="xs:string" />
          <xs:element name="/***thedefaultinstance.*/" type="xs:anyType" />
          <xs:element name="/***theusedduringjdoconfig.xmlparsing.*/" type="xs:anyType" />
          <xs:element name="/***theusedduringjdoconfig.xmlparsing.*/" type="xs:anyType" />
          <xs:element name="/***specialstringconstructorinstancesforusewithspecific*classesthathavenopublicstringconstructor.theis*keyedonclassinstanceandthevalueisaninstanceof*stringconstructor.*/stringconstructor" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdopermission" >
      <xs:complexContent>
       <xs:extension base="java.security.basicpermission">
         <xs:sequence>
          <xs:element name="permissionchecking.*/get_metadata" type="jdopermission" nillable="true" minOccurs="0" />
          <xs:element name="permissionchecking.*@since1.0.2*/manage_metadata" type="jdopermission" nillable="true" minOccurs="0" />
          <xs:element name="permissionchecking.*/set_state_manager" type="jdopermission" nillable="true" minOccurs="0" />
          <xs:element name="permissionchecking.*@since1.0.1*/close_persistence_manager_factory" type="jdopermission" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="i18nhelper" >
      <xs:sequence>
        <xs:element name="/***bundlesthathavealreadybeenloaded*/bundles" type="xs:anyType" />
        <xs:element name="/***helperinstancesthathavealreadybeencreated*/helpers" type="xs:anyType" />
        <xs:element name="/***thedefaultforthisvm.*/" type="xs:anyType" />
        <xs:element name="/***thenameofthebundleusedbythisinstanceofthehelper.*/bundlename" type="xs:string" />
        <xs:element name="/***thebundleusedbythisinstanceofthehelper.*/bundle" type="xs:anyType" />
        <xs:element name="/***ifresourcebundlecouldn'tbeloaded*/failure" type="xs:anyType" />
        <xs:element name="/***theunqualifiedstandardnameofabundle.*///noi18nbundlesuffix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detachable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registerclassevent" >
      <xs:complexContent>
       <xs:extension base="eventobject">
         <xs:sequence>
          <xs:element name="/***theobjectoftheregisteredpersistence-capable*/pc" type="xs:anyType" />
          <xs:element name="fieldnames" type="xs:string" />
          <xs:element name="fieldtypes" type="xs:anyType" />
          <xs:element name="fieldflags" type="xs:anyType" />
          <xs:element name="/***/persistencecapablesuper" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencecapable" >
      <xs:complexContent>
       <xs:extension base="objectidfieldconsumer,">
         <xs:sequence>
          <xs:element name="/***ifjdoflagsissettoread_write_ok,thenthefieldsinthedefaultfetchgroup*canbeaccessedforreadorwritewithoutnotifyingthestatemanager.*/read_write_ok" type="xs:anyType" />
          <xs:element name="/***ifjdoflagsissettoload_required,thenthefieldsinthedefaultfetchgroup*cannotbeaccessedforreadorwritewithoutnotifyingthestatemanager.*/load_required" type="xs:anyType" />
          <xs:element name="/***ifjdoflagsissettoread_ok,thenthefieldsinthedefaultfetchgroup*canbeaccessedforreadwithoutnotifyingthestatemanager.*/read_ok" type="xs:anyType" />
          <xs:element name="/***ifjdofieldflagsforafieldincludescheck_read,then*thefieldhasbeenenhancedtocallthejdostatemanageronread*ifthejdoflagssettingisnotread_okorread_write_ok.*/check_read" type="xs:anyType" />
          <xs:element name="/***ifjdofieldflagsforafieldincludesmediate_read,then*thefieldhasbeenenhancedtoalwayscallthejdostatemanager*onallreads.*/mediate_read" type="xs:anyType" />
          <xs:element name="/***ifjdofieldflagsforafieldincludescheck_write,*thenthefieldhasbeenenhancedtocallthe*jdostatemanageronwriteifthejdoflagssettingisnot*read_write_ok.*/check_write" type="xs:anyType" />
          <xs:element name="/***ifjdofieldflagsforafieldincludesmediate_write,then*thefieldhasbeenenhancedtoalwayscallthejdostatemanager*onallwrites.*/mediate_write" type="xs:anyType" />
          <xs:element name="/***ifjdofieldflagsforafieldincludesserializable,*thenthefieldisnotdeclaredastransient.*/serializable" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchplan" >
      <xs:sequence>
        <xs:element name=".*@since2.0*/default" type="xs:string" />
        <xs:element name=".*@since2.0*/all" type="xs:string" />
        <xs:element name="/***forusewith{@linkpersistencemanager#detachcopy}and*{@link#setdetachmentoptions}.specifiesthat*fieldsthatareloadedbutnotinthecurrentfetchplanshould*beunloadedpriortodetachment.*@since2.0*/detach_unload_fields" type="xs:long" />
        <xs:element name="/***forusewith{@linkpersistencemanager#detachcopy}and*{@link#setdetachmentoptions}.specifiesthat*fieldsthatarenotloadedbutareinthecurrentfetchplanshould*beloadedpriortodetachment.*@since2.0*/detach_load_fields" type="xs:long" />
        <xs:element name="/***forusewith{@link#setfetchsize}.value:-1.*@since2.0*/fetch_size_greedy" type="xs:long" />
        <xs:element name="/***forusewith{@link#setfetchsize}.value:0.*@since2.0*/fetch_size_optimal" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoconfig_2_2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name=".**@since2.1*/service_lookup_pmf_resource_name" type="xs:string" />
        <xs:element name=".**@since2.1*/jdoconfig_resource_name" type="xs:string" />
        <xs:element name=".**@since2.1*/jdoconfig_xsd_ns" type="xs:string" />
        <xs:element name=".**@since2.1*/jdo_xsd_ns" type="xs:string" />
        <xs:element name=".**@since2.1*/orm_xsd_ns" type="xs:string" />
        <xs:element name=".**@since2.1*/jdoquery_xsd_ns" type="xs:string" />
        <xs:element name=".**@since2.1*/element_persistence_manager_factory" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"class"attribute.**@since2.1*/pmf_attribute_class" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"name"attribute.**@since2.1*/pmf_attribute_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"persistence-unit-name"attribute.**@since2.1*/pmf_attribute_persistence_unit_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"optimistic"*attribute.**@since2.1*/pmf_attribute_optimistic" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"readonly"*attribute.**@since2.2*/pmf_attribute_readonly" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"retain-values"*attribute.**@since2.1*/pmf_attribute_retain_values" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"restore-values"*attribute.**@since2.1*/pmf_attribute_restore_values" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"ignore-cache"*attribute.**@since2.1*/pmf_attribute_ignore_cache" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"nontransactional-read"attribute.**@since2.1*/pmf_attribute_nontransactional_read" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"nontransactional-write"attribute.**@since2.1*/pmf_attribute_nontransactional_write" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"multithreaded"*attribute.**@since2.1*/pmf_attribute_multithreaded" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"connection-driver-name"attribute.**@since2.1*/pmf_attribute_connection_driver_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"connection-user-name"attribute.**@since2.1*/pmf_attribute_connection_user_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"connection-password"attribute.**@since2.1*/pmf_attribute_connection_password" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"connection-url"*attribute.**@since2.1*/pmf_attribute_connection_url" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"connection-factory-name"attribute.**@since2.1*/pmf_attribute_connection_factory_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"connection-factory2-name"attribute.**@since2.1*/pmf_attribute_connection_factory2_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"detach-all-on-commit"attribute.**@since2.1*/pmf_attribute_detach_all_on_commit" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"copy-on-attach"attribute.**@since2.1*/pmf_attribute_copy_on_attach" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's"mapping"*attribute.**@since2.1*/pmf_attribute_mapping" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactoryelement's*"server-time-zone-id"attribute.**@since2.1*/pmf_attribute_server_time_zone_id" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactorypropertyelementsinthejdo*configurationfile.*/element_property" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactorypropertyelement's"name"*attribute.*/property_attribute_name" type="xs:string" />
        <xs:element name="/***thenameofthepersistencemanagerfactorypropertyelement's"value"*attribute.*/property_attribute_value" type="xs:string" />
        <xs:element name="/***thenameoftheinstancelifecyclelistenerelementinthejdo*configurationfile.*/element_instance_lifecycle_listener" type="xs:string" />
        <xs:element name="/***thenameoftheinstancelifecyclelistenerelement's"listener"*attribute.*/instance_lifecycle_listener_attribute_listener" type="xs:string" />
        <xs:element name="/***thenameoftheinstancelifecyclelistenerelement's"classes"*attribute.*/instance_lifecycle_listener_attribute_classes" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transienttransactional"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_transactional_transient" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.nontransactionalread"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_nontransactional_read" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.nontransactionalwrite"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_nontransactional_write" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.retainvalues"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_retain_values" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.optimistic"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_optimistic" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.applicationidentity"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_application_identity" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.datastoreidentity"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_datastore_identity" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.nondurableidentity"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_nondurable_identity" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.arraylist"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_arraylist" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.linkedlist"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_linkedlist" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.treemap"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_treemap" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.treeset"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_treeset" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.vector"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_vector" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.array"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_array" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.nullcollection"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_null_collection" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.changeapplicationidentity"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_change_application_identity" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.binarycompatibility"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_binary_compatibility" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.getdatastoreconnection"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_get_datastore_connection" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.getjdbcconnection"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_get_jdbc_connection" type="xs:string" />
        <xs:element name="/***"javax.jdo.query.sql"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_query_sql" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.unconstrainedqueryvariables"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_unconstrained_query_variables" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.version.datetime"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_version_datetime" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.version.stateimage"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_version_state_image" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.predirtyevent"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_predirty_event" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping.heterogeneousobjecttype"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_mapping_heterogeneous_object_type" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping.heterogeneousinterfacetype"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_mapping_heterogeneous_interface_type" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping.joinedtableperclass"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_mapping_joined_table_per_class" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping.joinedtableperconcreteclass"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_mapping_joined_table_per_concrete_class" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping.nonjoinedtableperconcreteclass"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_mapping_non_joined_table_per_concrete_class" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping.relationsubclasstable"**@seepersistencemanagerfactory#supportedoptions()*@since2.1*/option_mapping_relation_subclass_table" type="xs:string" />
        <xs:element name="/***"javax.jdo.persistencemanagerfactoryclass"**@seejdohelper#getpersistencemanagerfactory(java.util.map)*@since2.1*/property_persistence_manager_factory_class" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.optimistic"**@seepersistencemanagerfactory#getoptimistic()*@since2.1*/property_optimistic" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.readonly"**@seepersistencemanagerfactory#getreadonly()*@since2.2*/property_readonly" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.retainvalues"**@seepersistencemanagerfactory#getretainvalues()*@since2.1*/property_retain_values" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.restorevalues"**@seepersistencemanagerfactory#getrestorevalues()*@since2.1*/property_restore_values" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.ignorecache"**@seepersistencemanagerfactory#getignorecache()*@since2.1*/property_ignore_cache" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.nontransactionalread"**@seepersistencemanagerfactory#getnontransactionalread()*@since2.1*/property_nontransactional_read" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.nontransactionalwrite"**@seepersistencemanagerfactory#getnontransactionalwrite()*@since2.1*/property_nontransactional_write" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.multithreaded"**@seepersistencemanagerfactory#getmultithreaded()*@since2.1*/property_multithreaded" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transactionisolationlevel"**@since2.2*/property_transaction_isolation_level" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transactionisolationlevel.read-uncommitted"**@seepersistencemanagerfactory#supportedoptions()*@since2.2*/property_transaction_isolation_level_read_uncommitted" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transactionisolationlevel.read-committed"**@seepersistencemanagerfactory#supportedoptions()*@since2.2*/property_transaction_isolation_level_read_committed" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transactionisolationlevel.repeatable-read"**@seepersistencemanagerfactory#supportedoptions()*@since2.2*/property_transaction_isolation_level_repeatable_read" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transactionisolationlevel.snapshot"**@seepersistencemanagerfactory#supportedoptions()*@since2.2*/property_transaction_isolation_level_snapshot" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.transactionisolationlevel.serializable"**@seepersistencemanagerfactory#supportedoptions()*@since2.2*/property_transaction_isolation_level_serializable" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.detachalloncommit"**@seepersistencemanagerfactory#getdetachalloncommit()*@since2.1*/property_detach_all_on_commit" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.copyonattach"**@seepersistencemanagerfactory#getcopyonattach()*@since2.1*/property_copy_on_attach" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.connectiondrivername"**@seepersistencemanagerfactory#getconnectiondrivername()*@since2.1*/property_connection_driver_name" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.connectionusername"**@seepersistencemanagerfactory#getconnectionusername()*@since2.1*/property_connection_user_name" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.password"**@since2.1*/property_connection_password" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.connectionurl"**@seepersistencemanagerfactory#getconnectionurl()*@since2.1*/property_connection_url" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.connectionfactoryname"**@seepersistencemanagerfactory#getconnectionfactoryname()*@since2.1*/property_connection_factory_name" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.connectionfactory2name"**@seepersistencemanagerfactory#getconnectionfactory2name()*@since2.1*/property_connection_factory2_name" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.mapping"**@seepersistencemanagerfactory#getmapping()*@since2.1*/property_mapping" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.persistenceunitname"**@seepersistencemanagerfactory#getpersistenceunitname()*@since2.1*/property_persistence_unit_name" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.name"**@seepersistencemanagerfactory#getname()*@since2.1*/property_name" type="xs:string" />
        <xs:element name="/***"javax.jdo.option.spi.resourcename"*@since2.1*/property_spi_resource_name" type="xs:string" />
        <xs:element name=")*@seepersistencemanagerfactory#removeinstancelifecyclelistener(javax.jdo.listener.instancelifecyclelistener)*/property_instance_lifecycle_listener" type="xs:string" />
        <xs:element name="javax.jdo.option.instancelifecyclelistener.com.example.mylistener" type="xs:string" />
        <xs:element name="/***mapping"javax.jdo.mapping.catalog"**@since2.1*/property_mapping_catalog" type="xs:string" />
        <xs:element name="/***mapping"javax.jdo.mapping.schema"**@since2.1*/property_mapping_schema" type="xs:string" />
        <xs:element name="/***mapping"javax.jdo.option.servertimezoneid"**@since2.1*/property_server_time_zone_id" type="xs:string" />
        <xs:element name="/***nonconfigurablepropertyconstanct"vendorname"**@seepersistencemanagerfactory#getproperties()*@since2.1*/nonconfigurable_property_vendor_name" type="xs:string" />
        <xs:element name="/***nonconfigurablepropertyconstanct"versionnumber"**@seepersistencemanagerfactory#getproperties()*@since2.1*/nonconfigurable_property_version_number" type="xs:string" />
        <xs:element name="/***thevaluefortransactiontypetospecifythattransactions*aremanagedbythejavatransactionsapi,asdocumentedin*jsr-220.**@since2.1*/jta" type="xs:string" />
        <xs:element name="/***thevaluefortransactiontypetospecifythattransactions*aremanagedbythejavax.jdo.transactioninstance,similar*totheusageasdocumentedinjsr-220.**@since2.1*/resource_local" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthedtdofthestandardjdoconfiguration*file.**@since2.1*/jdoconfig_dtd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthexmlschemaofthestandardjdo*configurationfile.**@since2.1*/jdoconfig_xsd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthedtdofthestandardjdometadatafile.**@since2.1*/jdo_dtd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthexmlschemaofthestandardjdo*metadatafile.**@since2.1*/jdo_xsd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthedtdofthestandardjdo*object-relationalmappingmetadatafile.**@since2.1*/orm_dtd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthexmlschemaofthestandardjdo*object-relationalmappingmetadatafile.**@since2.1*/orm_xsd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthedtdofthestandardjdoquery*metadatafile.**@since2.1*/jdoquery_dtd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheresourceforthexmlschemaofthestandardjdoquery*metadatafile.**@since2.1*/jdoquery_xsd_resource" type="xs:string" />
        <xs:element name="/***thenameoftheanonymouspersistencemanagerfactory,which*istheempty.**@since2.1*/anonymous_persistence_manager_factory_name" type="xs:string" />
        <xs:element name="/***transactionisolationlevelrepresentingtheabilitytoread*uncommitteddata.*@seepersistencemanagerfactory#gettransactionisolationlevel()*@seetransaction#getisolationlevel()*@since2.2*/tx_read_uncommitted" type="xs:string" />
        <xs:element name="/***transactionisolationlevelrepresentingtherequirementtoread*committeddataonly.*@seepersistencemanagerfactory#gettransactionisolationlevel()*@seetransaction#getisolationlevel()*@since2.2*/tx_read_committed" type="xs:string" />
        <xs:element name="/***transactionisolationlevelrepresentingtherequirementtoread*thesamedatainthesametransaction.*@seepersistencemanagerfactory#gettransactionisolationlevel()*@seetransaction#getisolationlevel()*@since2.2*/tx_repeatable_read" type="xs:string" />
        <xs:element name="/***transactionisolationlevelrepresentingtherequirementtokeep*asnapshotforreadingdata.*@seepersistencemanagerfactory#gettransactionisolationlevel()*@seetransaction#getisolationlevel()*@since2.2*/tx_snapshot" type="xs:string" />
        <xs:element name="/***transactionisolationlevelrepresentingtherequirementtoserialize*transactions.*@seepersistencemanagerfactory#gettransactionisolationlevel()*@seetransaction#getisolationlevel()*@since2.2*/tx_serializable" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query" >
      <xs:complexContent>
       <xs:extension base="serializable">
         <xs:sequence>
          <xs:element name="*@since2.0*/jdoql" type="xs:string" />
          <xs:element name="*@since2.0*/sql" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdounsupportedoptionexception" >
      <xs:complexContent>
       <xs:extension base="jdouserexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdousercallbackexception" >
      <xs:complexContent>
       <xs:extension base="jdouserexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdo_2_0" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoquery_2_2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdohelper" >
      <xs:sequence>
        <xs:element name="/***apingfromjdoconfig.xsdelementattributestopmfproperties.*/attribute_property_xref" type="xs:anyType" />
        <xs:element name="/***theinternationalizationmessagehelper.*/msg" type="i18nhelper" nillable="true" minOccurs="0" />
        <xs:element name="/***theinstanceusedforhandlingnon-binary-compatible*implementations.*/implhelper" type="jdoimplhelper" nillable="true" minOccurs="0" />
        <xs:element name="/***thesingletoninstanceof.*@since2.1*/instance" type="jdohelper" nillable="true" minOccurs="0" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofgetpersistencemanager.*/getpersistencemanager" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofgetobjectid.*/getobjectid" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofgettransactionalobjectid.*/gettransactionalobjectid" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofgetversion.*/getversion" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofispersistent.*/ispersistent" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofistransactional.*/istransactional" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofisdirty.*/isdirty" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofisnew.*/isnew" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofisdeleted.*/isdeleted" type="xs:anyType" />
        <xs:element name="/***thestatelessinstanceusedforhandlingnon-binary-compatible*implementationsofisdetached.*/isdetached" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoentitymanager" >
      <xs:complexContent>
       <xs:extension base="entitymanager,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdofataldatastoreexception" >
      <xs:complexContent>
       <xs:extension base="jdofatalexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdodatastoreexception" >
      <xs:complexContent>
       <xs:extension base="jdocanretryexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="instancecallbacks" >
      <xs:complexContent>
       <xs:extension base="javax.jdo.listener.clearcallback,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdo_2_1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdouserexception" >
      <xs:complexContent>
       <xs:extension base="jdocanretryexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="unique" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extensions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="join" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="element" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchgroups" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencemodifier" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discriminator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchplans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extension" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nullvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discriminatorstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inheritance" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="column" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notpersistent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indices" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inheritancestrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="key" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedded" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkeyaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecapable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequencestrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="value" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joins" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foreignkeys" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embeddedonly" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchgroup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="identitytype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchplan" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serialized" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniques" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceaware" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idgeneratorstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionstrategy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datastoreidentity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchgroup" >
      <xs:sequence>
        <xs:element name="*@since2.2*/default" type="xs:string" />
        <xs:element name="/***forusewith{@link#addcategory}and{@link#removecategory}calls.*thiscategoryincludesmembersofallrelationshiptypes.*@since2.2*/relationship" type="xs:string" />
        <xs:element name="/***forusewith{@link#addcategory}and{@link#removecategory}calls.*thiscategoryincludesmembersofallmulti-valuedtypes,including*collection,array,andmaptypesofbasicandrelationshiptypes.*@since2.2*/multivalued" type="xs:string" />
        <xs:element name="/***forusewith{@link#addcategory}and{@link#removecategory}calls.*thiscategoryincludesmembersofallprimitiveandimmutable*objectclasstypesasdefinedinsection6.4ofthespecification,*including,locale,currency,bigdecimal,andbiginteger*aswellasdateanditsjdbcsubtypesandenumtypes.*@since2.2*/basic" type="xs:string" />
        <xs:element name="*@since2.2*/all" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoreadonlyexception" >
      <xs:complexContent>
       <xs:extension base="jdouserexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orm_2_2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencemanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoentitymanagerfactory" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generationtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lockmodetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludedefaultlisteners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="criteriabuilder" >
      <xs:complexContent>
       <xs:extension base="number>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pluraljoin" >
      <xs:complexContent>
       <xs:extension base="join<z,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="compoundselection" >
      <xs:complexContent>
       <xs:extension base="selection<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="from" >
      <xs:complexContent>
       <xs:extension base="path<x>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="setjoin" >
      <xs:complexContent>
       <xs:extension base="pluraljoin<z,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetch" >
      <xs:complexContent>
       <xs:extension base="fetchparent<z,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapjoin" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="collectionjoin" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expression" >
      <xs:complexContent>
       <xs:extension base="selection<t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="subquery" >
      <xs:complexContent>
       <xs:extension base="abstractquery<t>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="criteriaquery" >
      <xs:complexContent>
       <xs:extension base="abstractquery<t>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fetchparent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="root" >
      <xs:complexContent>
       <xs:extension base="from<x,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="selection" >
      <xs:complexContent>
       <xs:extension base="tupleelement<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="path" >
      <xs:complexContent>
       <xs:extension base="expression<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameterexpression" >
      <xs:complexContent>
       <xs:extension base="parameter<t>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="predicate" >
      <xs:complexContent>
       <xs:extension base="expression<boolean>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jointype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="join" >
      <xs:complexContent>
       <xs:extension base="from<z,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listjoin" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="secondarytable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temporaltype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
        <xs:element name="/***thisisdeprecatedandshouldberemovedandisonlyherefortckbackwardcompatibility*@sincejavapersistence1.0**/persistence_provider" type="xs:string" />
        <xs:element name="/***thisinstancevariableisdeprecatedandshouldberemovedandisonlyherefortckbackwardcompatibility*@sincejavapersistence1.0**/providers" type="persistenceprovider" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preremove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeyjoincolumns" >
      <xs:complexContent>
       <xs:extension base="customer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitynotfoundexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namedqueries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="preupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discriminatorcolumn" >
      <xs:complexContent>
       <xs:extension base="customer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cascadetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flushmodetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="querytimeoutexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="/***theobjectthatcausedtheexception*/" type="query" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencecontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inheritancetype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkey" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="associationoverride" >
      <xs:complexContent>
       <xs:extension base="a">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeoverrides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontexttype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeycolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="generatedvalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytomany" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idclass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeyjoincolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeyenumerated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prepersist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitytransaction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enumtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embeddedid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadstate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providerutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classtransformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceproviderresolver" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunittransactiontype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceproviderresolverholder" >
      <xs:sequence>
        <xs:element name="singleton" type="persistenceproviderresolver" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeytemporal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappedsuperclass" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="optimisticlockexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="/***thethatcausedtheexception*/entity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uniqueconstraint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencecontexts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessimisticlockexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="/***thethatcausedtheexception*/entity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pluralattribute" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedtype" >
      <xs:complexContent>
       <xs:extension base="type<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listattribute" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="identifiabletype" >
      <xs:complexContent>
       <xs:extension base="managedtype<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="staticmetamodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attribute" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mappedsuperclasstype" >
      <xs:complexContent>
       <xs:extension base="identifiabletype<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitytype" >
      <xs:complexContent>
       <xs:extension base="identifiabletype<x>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="embeddabletype" >
      <xs:complexContent>
       <xs:extension base="managedtype<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singularattribute" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="metamodel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setattribute" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bindable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionattribute" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basictype" >
      <xs:complexContent>
       <xs:extension base="type<x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapattribute" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="noresultexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="temporal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tuple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapsid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locktimeoutexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
          <xs:element name="/***thethatcausedtheexception*/entity" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postpersist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cachestoremode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typedquery" >
      <xs:complexContent>
       <xs:extension base="query">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlresultsetmappings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheretrievemode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionrequiredexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderby" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedded" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discriminatortype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onetomany" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="queryhint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationmode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="associationoverrides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunits" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attributeoverride" >
      <xs:complexContent>
       <xs:extension base="a">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columnresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pessimisticlockscope" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectiontable" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitutil" >
      <xs:complexContent>
       <xs:extension base="persistenceutil">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="joincolumns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tupleelement" >
      <xs:complexContent>
       <xs:extension base="x>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enumerated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nonuniqueresultexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="discriminatorvalue" >
      <xs:complexContent>
       <xs:extension base="customer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tablegenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joincolumn" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namedquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="onetoone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excludesuperclasslisteners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namednativequeries" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="namednativequery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entityexistsexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sequencegenerator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lob" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlresultsetmapping" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jointable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitylisteners" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="access" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceproperty" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accesstype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rollbackexception" >
      <xs:complexContent>
       <xs:extension base="persistenceexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="table" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postremove" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytoone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mapkeyclass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sharedcachemode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="column" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="elementcollection" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="primarykeyjoincolumn" >
      <xs:complexContent>
       <xs:extension base="customer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inheritance" >
      <xs:complexContent>
       <xs:extension base="customer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mapkeyjoincolumns" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secondarytables" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="providertrackercustomizer" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="activator" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activator" >
      <xs:sequence>
        <xs:element name="persistence_provider" type="xs:string" />
        <xs:element name="ctx" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="providers" type="xs:anyType" />
        <xs:element name="logger_subsystem" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="readme" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 