DAM2nuevo/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="point" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:long" />
        <xs:element name="y" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="point" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="x" type="xs:long" />
        <xs:element name="y" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guest" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//persistentfields:id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="signing" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 