Gradle52/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="movie" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="director" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="year" type="xs:long" />
        <xs:element name="genre" type="xs:string" />
        <xs:element name="rating" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 