EC5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="blacklistdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<blacklist,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="frienddao" >
      <xs:complexContent>
       <xs:extension base="jparepository<friend,string>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blacklistservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="blacklistdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="frienddao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="blacklistdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userclient" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="friendcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="friendservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="blacklistservice" nillable="true" minOccurs="0" />
        <xs:element name="request" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userclientimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtconfiguration" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
          <xs:element name="" type="jwtinterceptor" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friendapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtinterceptor" >
      <xs:complexContent>
       <xs:extension base="handlerinterceptoradapter">
         <xs:sequence>
          <xs:element name="//jwt" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="friend" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="friendid" type="xs:string" />
        <xs:element name="//-1:反向星标0：不是星标1：单向星标2：双向星标isstar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blacklist" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="friendid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 