EC5/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="friend" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="friendid" type="xs:string" />
        <xs:element name="//-1:反向星标0：不是星标1：单向星标2：双向星标isstar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blacklist" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="friendid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 