Andromedia1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userroledaoimpl" >
      <xs:complexContent>
       <xs:extension base="userroledaobase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="userdaobase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timecard" >
      <xs:complexContent>
       <xs:extension base="timecardembeddable">
         <xs:sequence>
          <xs:element name="/***theserialversionuidofthisclassrequiredforserialization.*/serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timecarddaoimpl" >
      <xs:complexContent>
       <xs:extension base="timecarddaobase">
         <xs:sequence>
          <xs:element name="ger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timetrackingservicebean" >
      <xs:complexContent>
       <xs:extension base="timetrackingservicebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservicebean" >
      <xs:complexContent>
       <xs:extension base="userservicebase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="security-beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testbeanreffactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testng" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3-interceptors-aop" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timetrackingservicetest" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservicetest" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ejb3container" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="secured" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 